.page-unsubscribe{
  &_form{
    width: 50%;
    .form-label{
      margin-bottom: 20px;
    }

    .btn-unsubscribe{
      &:after{
        content: "";
        display: table;
      }
    }

    @media all and (max-width: $bp-med) {
      width: 100%;
    }
  }
}

.field{
  &-input{
    font-family: $light;
    font-size: rem-calc(16);
  }
}
