<div class="section-repeat">
    <form name="enderecoForm" angular-validator-submit="$ctrl.salvar($ctrl.endereco); enderecoForm.reset()" novalidate angular-validator>
        <div class="row">
            <label class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <strong>* Tipo de Endereço</strong>
                <select ng-model="$ctrl.endereco.tipoEndereco"
                    name="{{$ctrl.nomeComponente + 'TipoEndereco'}}"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    required
                    id="{{$ctrl.nomeComponente + 'TipoEndereco'}}">
                    <option value=""></option>
                    <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposEndereco">{{tipo.descricao}}</option>
                </select>
            </label>

            <label class=" col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-if="!$ctrl.ocultar.cep">
                <strong>* CEP</strong>
                <input type="text" ng-model="$ctrl.endereco.cep"
                    ng-disabled="endereco.cepIconLoading" class="cep"
                    invalid-message="'CEP inválido'"
                    ui-mask="99999-999"
                    ng-blur="$ctrl.buscarEnderecoPeloCEP($ctrl.endereco.cep);"
                    name="{{$ctrl.nomeComponente + 'Cep'}}"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    ng-required="$ctrl.isCepRequired"
                    id="{{$ctrl.nomeComponente + 'CPF'}}"
                >
            </label>

            <label class="col-md-2 text-center" ng-if="!$ctrl.ocultar.principal">
                <strong>Principal</strong>
                <checkbox ng-model="$ctrl.endereco.principal"
                        class="field-checkbox"
                        name="{{$ctrl.nomeComponente + 'principal'}}"
                        ng-change="$ctrl.limparCamposPrincipal()"></checkbox>
            </label>

            <label class="col-md-2 text-center" ng-if="!$ctrl.ocultar.empostamento">
                <strong>Empostamento</strong>
                <checkbox ng-model="$ctrl.endereco.empostamento"
                        class="field-checkbox"
                        name="{{$ctrl.nomeComponente + 'empostamento'}}"></checkbox>

            </label>

            <label class="col-md-3" ng-if="$ctrl.endereco.mensagem">
                <i ng-if="endereco.cepIconLoading" class="fa fa-spinner animate" aria-hidden="true"></i>
                <span class="message-cep" ng-if="endereco.mensagem">{{endereco.mensagem}}</span>
            </label>
        </div>

        <fieldset>
            <div class="row">
                <label class="col-lg-5 col-md-5 col-sm-6 col-xs-12" ng-if="!$ctrl.ocultar.logradouro">
                    <strong>* Logradouro (rua, avenida, travessa, etc)</strong>
                    <input uppercase type="text" ng-model="$ctrl.endereco.logradouro"
                        maxlength="40"
                        name="{{$ctrl.nomeComponente + 'Logradouro'}}"
                        validate-on="dirty"
                        invalid-message="'Excedeu tamanho'"
                        required-message = "'Campo obrigatório'"
                        required>
                </label>
                <label class="col-lg-2 col-md-2 col-sm-6 col-xs-6" ng-if="!$ctrl.ocultar.numero">
                    <strong>{{ $ctrl.isNumeroRequired() ? "*" : "" }} Número</strong>
                    <input type="text" ng-model="$ctrl.endereco.numero"
                        ui-number-mask="0" ui-hide-group-sep
                        maxlength="10"
                        name="{{$ctrl.nomeComponente + 'Numero'}}"
                        ng-disabled="!$ctrl.isNumeroRequired()"
                        validate-on="dirty"
                        required-message = "'Campo obrigatório'"
                        ng-required="$ctrl.isNumeroRequired()">
                </label>

                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                    <strong>Sem Número</strong>
                    <checkbox
                        ng-model="$ctrl.endereco.enderecoSemNumero"
                        class="field-checkbox"
                        name="{{$ctrl.nomeComponente + 'SemNumero'}}"
                        ng-click="$ctrl.semNumero()"
                    ></checkbox>
                </label>

                <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6"  ng-if="!$ctrl.ocultar.caixaPostal">
                    <strong>Caixa Postal</strong>
                    <input uppercase type="text" ng-model="$ctrl.endereco.caixaPostal"
                        maxlength="8"
                        ui-number-mask="0"
                        ui-hide-group-sep
                        name="{{$ctrl.nomeComponente + 'CaixaPostal'}}">
                </label>

            </div>

            <div class="row">

                <label class="col-md-4" ng-if="!$ctrl.ocultar.camplemento">
                    <strong>Complemento</strong>
                    <input uppercase type="text" ng-model="$ctrl.endereco.complemento" class="text-uppercase"
                        maxlength="30"
                        name="{{$ctrl.nomeComponente + 'Complemento'}}">
                </label>

                <label class="col-md-3" ng-if="!$ctrl.ocultar.bairro">
                    <strong>* Bairro</strong>
                    <input uppercase type="text" ng-model="$ctrl.endereco.bairro" class="text-uppercase"
                        maxlength="20"
                        name="{{$ctrl.nomeComponente + 'Bairro'}}"
                        validate-on="dirty"
                        invalid-message="'Excedeu tamanho'"
                        required-message = "'Campo obrigatório'"
                        required>
                </label>

                <label class="col-md-2"  ng-if="!$ctrl.ocultar.estado">
                    <strong>* UF</strong>
                    <select ng-model="$ctrl.endereco.estado"
                        ng-change="$ctrl.cityAutocomplete($ctrl.endereco.estado)"
                        name="{{ $ctrl.nomeComponente + 'Estado' }}"
                        id="estado"
                        validate-on="dirty"
                        required-message = "'Campo obrigatório'"
                        required>
                        <option value=""></option>
                        <option value="{{estado.value}}" ng-repeat="estado in $ctrl.estados">{{estado.value}}</option>
                    </select>
                </label>

                <label class="col-md-3" ng-if="!$ctrl.ocultar.cidade">
                    <strong>* Cidade</strong>
                    <select
                        ng-model="$ctrl.endereco.codigoCidade"
                        ng-disabled="!$ctrl.endereco.estado"
                        name="{{$ctrl.nomeComponente + 'Cidade'}}"
                        validate-on="dirty"
                        required-message= "'Campo obrigatório'"
                        required>
                        <option value=""></option>
                        <option ng-value="{{cidade.codigoCidade}}" ng-repeat="cidade in $ctrl.cidades">{{cidade.nomeCidade}}</option>
                    </select>


                </label>
            </div>

            <div class="row">
                <label class="col-md-4"  ng-if="!$ctrl.ocultar.situacaoEndereco">
                    <strong>* Situação do Endereço
                        <div class="tooltip-v">
                            <img class="info-sign" src="public/styles/images/icons/info.png">
                            <span class="tooltiptext tooltip-right">A Situação do Endereço é um campo obrigatório quando o Endereço for marcado como Principal.</span>
                        </div>
                    </strong>

                    <select ng-model="$ctrl.endereco.situacaoEndereco"
                        name="{{ $ctrl.nomeComponente + 'SituacaoEndereco' }}"
                        ng-change="$ctrl.situacaoEnderecoAlterado($ctrl.endereco)"
                        validate-on="dirty"
                        required-message = "'Campo obrigatório'"
                        ng-disabled="!$ctrl.endereco.principal"
                        ng-required="$ctrl.endereco.principal">
                        <option value=""></option>
                        <option value="{{situacao.valor}}" ng-repeat="situacao in $ctrl.situacoesEndereco">{{situacao.descricao}}</option>
                    </select>
                </label>

                <label class="col-md-4" ng-if="!$ctrl.ocultar.valorAluguelFinanciamento" ng-show="$ctrl.deveHabilitarValorAluguel">
                    <strong>Valor Aluguel/Financiamento</strong>
                    <input type="text"
                            uppercase
                           ng-model="$ctrl.endereco.valorAluguel"
                           class="text-uppercase"
                           ui-money-mask
                           maxlength="21"
                           placeholder="R$"
                           name="{{$ctrl.nomeComponente + 'ValorAluguel'}}">
                </label>

                <div class="col-md-4" ng-if="!$ctrl.ocultar.resideDesde">
                    <strong>Reside desde
                        <div class="tooltip-v">
                            <img class="info-sign" src="public/styles/images/icons/info.png">
                            <span class="tooltiptext tooltip-right">A Data de Residência só é preenchida quando o Endereço for marcado como Principal.</span>
                        </div>
                    </strong>
                    <input class="form-control formData"
                           ui-mask="99/9999"
                           model-view-value="true"
                           ng-model="$ctrl.endereco.resideDesde"
                           validate-on="blur"
                           invalid-message="Data inválida"
                           name="{{$ctrl.nomeComponente + 'ResideDesde'}}"
                           moment-picker="$ctrl.endereco.resideDesde"
                           format="MM/YYYY"
                           start-view="year"
                           max-view="month"
                           min-view="year"
                           locale="pt-br"
                           max-date="$ctrl.maxData"
                           ng-blur="$ctrl.validarResideDesde($ctrl.endereco.resideDesde)"
                           ng-disabled="!$ctrl.endereco.principal"
                           >
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-if="!$ctrl.ocultar.mesesDeResidencia">
                    <strong>Meses de Residência</strong>
                    <input type="text" ng-disabled="true" ng-model="$ctrl.mesesDeResidencia"/>
                </div>
            </div>
        </fieldset>

        <div class="btns-add" ng-if="!$ctrl.ocultar.adicionar">
            <button type="button" ng-click="$ctrl.cancelar()" id="cancelarNovoEndereco" class="info btn-danger">cancelar</button>

            <button type="submit" id="adicionarEndereco"
                class="info info-add">salvar</button>
        </div>
    </form>
</div>
