 <div class="btns-add">
    <button type="button"
        ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="novoEndereco"
        class="info info-add">novo</button>
</div>

<table class="table table-striped tableListas">
    <hr ng-if="!$ctrl.readonly">
    <thead>
        <tr>
            <th width="100">CEP</th>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Cidade</th>
            <th class="centerText">Principal</th>
            <th class="centerText">Empostamento</th>
            <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : endereco.modoEdicao }"
            ng-repeat="(index, endereco) in $ctrl.enderecos">
            <td ng-bind="endereco.cep | brCep"></td>
            <td ng-bind="endereco.logradouro"></td>
            <td ng-bind="endereco.numero"></td>
            <td ng-bind="endereco.cidade"></td>
            <td class="centerText">
                <span ng-show="endereco.principal" class="glyphicon glyphicon-ok-circle enderecoListaCheck"></span>
            </td>
            <td class="centerText">
                <span ng-show="endereco.empostamento" class="glyphicon glyphicon-ok-circle enderecoListaCheck"></span>
            </td>
            <td class="centerText" ng-if="!$ctrl.readonly">
                <button
                    class="glyphicon glyphicon-edit is-clickable btn btn-warning"
                    ng-disabled="endereco.modoEdicao"
                    title="Editar"
                    ng-click="$ctrl.editar(endereco)"></button>
                <button
                    class="glyphicon glyphicon-trash is-clickable btn btn-danger"
                    ng-disabled="endereco.modoEdicao"
                    title="Remover"
                    ng-click="$ctrl.remover(endereco)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia" ng-show="$ctrl.enderecos.length==0">
    Nenhum endereço foi adicionado até o momento
</div>
