<nova-sessao titulo="Endereços" badge="{{$ctrl.enderecos.length}}" mostra-sessao="$ctrl.mostraSessao">
    <dados-endereco
        endereco="$ctrl.endereco"
        on-salvar="$ctrl.salvar(endereco)"
        on-cancelar="$ctrl.cancelar()"
        nome-componente="residencial"
        ocultar-campos="['tipoEndereco']"
        ng-if="$ctrl.mostrarEnderecoForm"
    >
    </dados-endereco>

    <endereco-lista
        enderecos="$ctrl.enderecos"
        on-novo="$ctrl.novo()"
        on-editar="$ctrl.editar(endereco)"
        on-remover="$ctrl.remover(endereco)"
        esconder-botao-novo="$ctrl.mostrarEnderecoForm"
        readonly="$ctrl.readonly"
    >
    </endereco-lista>
</nova-sessao>
