html,
body {
    width: 100%;
}

html{
    min-height:100%;
    position:relative;
}

body {
    font-family: $ff-primary;
    background: $cc-background;
    font-weight: 400;
    height:100%;
}

input, textarea{
    font-family: $ff-primary;
}

%autofill{
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

input,
textarea,
select{
    @extend %autofill;

    &:-webkit-autofill{
        &:hover,
        &:focus{
            @extend %autofill;
        }
    }
}