<header class="header">
    <button class="c-hamburger c-hamburger-virote"
        ng-click="$ctrl.sidebar()"
        ng-class="{ 'is-active': $ctrl.isActive }"
        tabindex="-1">
        <span>Abrir</br> menu</span>
    </button>
    <figure class="logo">
        <img src="public/styles/images/logo_unicred.png" alt="Unicred">
        <figcaption>
            <h1>Gestão de Cadastros</h1>
        </figcaption>
    </figure>

    <div class="header-menu">
        <a href="/logout"
            name="button"
            class="logoutBtn"
            ng-click="$ctrl.logout()"
            tabindex="-1">
            <span>
                Sair
            </span>
        </a>
    </div>

    <toast-message show-toast="$ctrl.displayToast"
                   title="Oops..."
                   message="Tivemos um problema no serviço. Contate o Administrador do sistema."
                   error="true"
                   dismiss="$ctrl.dismissToastError()">
    </toast-message>
    <toast-message show-toast="$ctrl.displayToastWarning"
                   title="Cadastro Existente"
                   message="Verificamos que o CPF que você está tentando cadastrar já foi confirmado anteriormente."
                   error="false"
                   warning="true"
                   dismiss="$ctrl.dismissToastWarning()">
    </toast-message>

    <toast-message show-toast="$ctrl.mostrarMensagem"
                   title="{{$ctrl.mensagem.titulo}}"
                   message="{{$ctrl.mensagem.descricao}}"
                   error="false"
                   warning="true"
                   dismiss="$ctrl.fecharMensagem()">
    </toast-message>
</header>
