<form name="rendaForm" angular-validator-submit="$ctrl.salvar($ctrl.renda)" novalidate angular-validator>
    <div class="row">
        <label for="pesquisa" class="col-md-12 col-sm-12 col-xs-12">
            <strong>Pesquisar</strong>
                <ui-select ui-select-max="65" autofocus ng-model="$ctrl.fontePagadora" on-select="$ctrl.fontePagadoraSelecionada($item)">
                    <ui-select-match
                        allow-clear="true"
                        placeholder="Pesquisa por CPF/CNPJ ou Nome">{{ $select.selected.cpfCnpj | brCpfCnpj}}
                    </ui-select-match>
                    <ui-select-choices
                        refresh="$ctrl.buscarFontePagadora($select.search)"
                        refresh-delay="500"
                        minimum-input-length="1"
                        repeat="fontePagadora in  $ctrl.fontesPagadoras | filter:$select.search">
                        <div ng-bind-html="fontePagadora.nome| highlight: $select.search"></div>
                        <small>
                            CPF/CNPJ: {{ fontePagadora.cpfCnpj | brCpfCnpj }}
                        </small>
                    </ui-select-choices>
                </ui-select>
        </label>
    </div>

    <dados-fonte-pagadora fonte-pagadora="$ctrl.renda.fontePagadora" is-nova="$ctrl.isNova"></dados-fonte-pagadora>

    <div class="row">
        <label for="dataAdmissao" class="col-md-4 col-sm-4 col-xs-12">
            <strong>Data Admissão</strong>
            <input class="form-control formData"
                name="dataAdmissao"
                id="dataAdmissao"
                ui-mask="99/99/9999"
                model-view-value="true"
                ng-model="$ctrl.renda.dataAdmissao"
                invalid-message="'Data inválida'"
                validate-on="blur"
                moment-picker="$ctrl.renda.dataAdmissao"
                start-view="month"
                max-date="$ctrl.maxData"
                ng-blur="$ctrl.validarData('dataAdmissao', $ctrl.renda.dataAdmissao)"
                >
        </label>

        <label for="remuneracao" class="col-md-4 col-sm-4 col-xs-12">
            <strong>* Renda</strong>
            <input type="text"
                    ng-model="$ctrl.renda.remuneracao"
                    class="text-uppercase"
                    ui-money-mask
                    maxlength="13"
                    placeholder="R$"
                    id="remuneracao"
                    required-message="'Campo obrigatório'"
                    ng-required="true"
                    name="remuneracao">
        </label>

        <label for="data" class="col-md-4 col-sm-4 col-xs-12">
            <strong>* Data da Renda</strong>
            <input class="form-control formData"
                name="data"
                id="data"
                ui-mask="99/99/9999"
                model-view-value="true"
                ng-model="$ctrl.renda.data"
                required-message="'Campo obrigatório'"
                ng-required="true"
                invalid-message="'Data inválida'"
                validate-on="blur"
                moment-picker="$ctrl.renda.data"
                start-view="month"
                max-date="$ctrl.maxData"
                ng-blur="$ctrl.validarData('data', $ctrl.renda.data)"
                >
        </label>
    </div>

    <div class="row">
        <label for="tipo" class="col-md-6 col-sm-6 col-xs-12">
            <strong>* Tipo de Renda</strong>
            <select
                ng-model="$ctrl.renda.tipo"
                name="tipo"
                id="tipo"
                required-message="'Campo obrigatório'"
                ng-required="true"
                >
                <option value=""></option>
                <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tipos | orderBy:'descricao'">{{tipo.descricao}}</option>
            </select>
        </label>

        <label for="comprovacao" class="col-md-6 col-sm-6 col-xs-12">
            <strong>Comprovação</strong>
            <select
                ng-model="$ctrl.renda.comprovacao"
                name="comprovacao"
                id="comprovacao"
            >
                <option value=""></option>
                <option value="{{comprovacao.valor}}" ng-repeat="comprovacao in $ctrl.comprovacoes | orderBy:'descricao'">{{comprovacao.descricao}}</option>
            </select>
        </label>
    </div>

    <div class="btns-add">
        <button type="button"
            id="cancelarRenda"
            ng-click="$ctrl.cancelar()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="adicionarRenda"
            class="info info-add" >salvar</button>
    </div>
</form>
