<div class="btns-add">
    <button type="button" ng-hide="$ctrl.esconderBotaoNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novaRenda" class="info info-add">novo</button>
</div>
<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Nome</th>
            <th width="200">CPF/CNPJ</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>% Sobre Total</th>
            <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : renda.modoEdicao }"
            ng-repeat="renda in $ctrl.rendas">
            <td ng-bind="renda.fontePagadora.nome"> </td>
            <td ng-bind="renda.fontePagadora.cpfCnpj | brCpfCnpj"> </td>
            <td ng-bind="renda.remuneracao | finance:true"> </td>
            <td ng-bind="renda.descricaoTipoDeRenda"> </td>
            <td ng-bind="(renda.remuneracao / $ctrl.totalRendas) | percentage"> </td>
            <td ng-if="!$ctrl.readonly" class="centerText">
                <button class="btn btn-warning glyphicon glyphicon-edit"
                      ng-disabled="renda.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(renda)" ></button>
                <button class="btn btn-danger glyphicon glyphicon-trash"
                      ng-disabled="renda.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(renda)"></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{ $ctrl.totalRendas | finance:true }}</td>
            <td></td>
            <td></td>
            <td ng-if="!$ctrl.readonly"></td>
        </tr>
  </tfoot>
</table>
<div class="subtitle listaVazia" ng-show="$ctrl.rendas.length==0">
    Nenhuma renda foi adicionada até o momento
</div>
