<nova-sessao titulo="Renda" mostra-sessao="$ctrl.mostraSessao">

    <dados-renda
        renda="$ctrl.renda"
        on-salvar="$ctrl.salvar(renda)"
        on-cancelar="$ctrl.cancelar()"
        ng-if="$ctrl.mostrarRendaForm"
    >
    </dados-renda>

    <lista-renda
        rendas="$ctrl.rendasObj.rendas"
        total-rendas="$ctrl.totalRendas"
        on-novo="$ctrl.novo()"
        on-editar="$ctrl.editar(renda)"
        on-remover="$ctrl.remover(renda)"
        esconder-botao-novo="$ctrl.mostrarRendaForm"
        readonly="$ctrl.readonly"
    >
    </lista-renda>

    <div class="row">
        <label for="data" class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-right">
            <strong>* Data Atualização</strong>
            <input class="form-control formData"
                name="dataAtualizacao"
                id="dataAtualizacao"
                ui-mask="99/9999"
                format="MM/YYYY"
                model-view-value="true"
                ng-model="$ctrl.rendasObj.dataAtualizacaoRenda"
                invalid-message="'Data inválida'"
                validate-on="blur"
                moment-picker="$ctrl.rendasObj.dataAtualizacaoRenda"
                start-view="month"
                max-date="$ctrl.maxDate"
                required-message="'Campo obrigatório'"
                required
                ng-blur="$ctrl.validarData()"
                >
        </label>
    </div>
</nova-sessao>
