<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="$ctrl.links"></navegacao>

<fieldset ng-disabled="readonly">
    <form name="formDadosPessoais" class="cadastro-content" novalidate angular-validator>
        <div class="step-header">
            <h1>Dados pessoais</h1>
        </div>

        <div class="step-content">
            <dados-cpf-nome cpf-nome="$ctrl.dadosPessoais"></dados-cpf-nome>

            <fieldset>
                <nova-sessao titulo="Documentos">
                    <dados-documento
                        nome-componente="dadosPessoais"
                        documento="$ctrl.dadosPessoais.documento"
                        validade-naturalidade="formDadosPessoais.dadosPessoaisNaturalidade.$invalid"
                        on-representante-selecionado="$ctrl.representanteLegalSelecionado(representante, mostrarRepresentante)"
                    ></dados-documento>
                </nova-sessao>

                <nova-sessao titulo="Representante Legal" ng-show="$ctrl.mostrarRepresentante">
                    <dados-representante-legal representante="$ctrl.dadosPessoais.representanteLegal"></dados-representante-legal>
                </nova-sessao>

                <nova-sessao titulo="Filiação">
                    <dados-filiacao filiacao="$ctrl.dadosPessoais.filiacao" nome-componente="filiacao"></dados-filiacao>
                </nova-sessao>

                <nova-sessao titulo="Estado civil">
                    <dados-estado-civil
                        estado-civil="$ctrl.dadosPessoais.estadoCivil"
                        regime-casamento="$ctrl.dadosPessoais.regimeCasamento"
                        conjuge="$ctrl.dadosPessoais.conjuge">
                    </dados-estado-civil>
                </nova-sessao>

                <sessao-dependentes dependentes="$ctrl.dadosPessoais.dependentes"></sessao-dependentes>

                <sessao-endereco enderecos="$ctrl.dadosPessoais.enderecos"></sessao-endereco>

                <nova-sessao titulo="Contatos">
                    <sessao-contato contatos="$ctrl.dadosPessoais.contatos" nome="pessoais"></sessao-contato>
                </nova-sessao>

                <nova-sessao titulo="Dados Profissionais">
                    <dados-profissionais profissional="$ctrl.dadosPessoais.dadosProfissionais"></dados-profissionais>
                </nova-sessao>
            </fieldset>
        </div>

        <mensagem-erro mensagens="$ctrl.erros"></mensagem-erro>
        <mensagem-sucesso mensagens="$ctrl.sucessos"></mensagem-sucesso>

        <botoes-cadastro
            model="$ctrl.dadosPessoais"
            on-salvar-rascunho="$ctrl.salvar(model)"
            links="$ctrl.links">
        </botoes-cadastro>
    </form>
</fieldset>
