// STRIP UNIT
// strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// CONVERT TO REM
// Used by rem-calc() below, but can also be called on its own
@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

// REM CALC
/* Allows to optionally calculate on a different base value.
   Call with 1, 2, 3 or 4 parameters, 'px' is not required but supported.

   Simple Example: rem-calc(100);
   Multiple Params: rem-calc(10 20 30px 40);

   Space delimited. However if you want to delimit using comma's, wrap it in another pair of brackets
   rem-calc((10, 20, 30, 40px));

   Optionally call with a different base (eg: 8px) to calculate rem.
   rem-calc(16px 32px 48px, 8px);

   If you want, comma separate your list
   rem-calc((16px, 32px, 48), 8px);
*/
@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 {
    @return convert-to-rem(nth($values, 1), $base-value);
  }

  $remValues: ();

  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }

  @return $remValues;
}