/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
	Usage: @include font-size(1, large);
*/
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword {
    font-size: $keyword;
  } @else {
    font-size: $decimal-size * $base-font-multiplier * 16px;
  }
  font-size: $decimal-size * 1rem;
}

@mixin textured-bg {
  background: $black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOElEQVQYV2NkIBIwIquTkZH5D+I/efIERRwkRppCmEnorkA2GWwi0QphJlHPjcSEEEYw4NJEtEIAFbIYC+hYBBUAAAAASUVORK5CYII=) repeat;
}

@mixin textured-bg2 {
  background-color: $black;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2238%22%20viewBox%3D%220%200%2026%2038%22%3E%3Cpath%20fill%3D%22%23181918%22%20d%3D%22M0%200h26v38H0z%22%2F%3E%3Cg%20fill%3D%22%231C1D1C%22%3E%3Cpath%20d%3D%22M15.6%209.4h-5v7.1H3.5v5h7.1v7.1h5v-7.1h7.1v-5h-7.1M2.5%202.5h7V0H0v9.5h2.5M23.5%202.5v7H26V0h-9.5v2.5M2.5%2035.5v-7H0V38h9.5v-2.5M23.5%2035.5h-7V38H26v-9.5h-2.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-size: auto;
  background-position: 0 0;
}

@mixin clean-button-mess {
  margin: 0;
  padding: 0;
  color: black;
  background: none;
  font-family: $light;
  font-size: 1em;
  text-transform: none;
  letter-spacing: normal;
  line-height: inherit;
}
