//Colors
$enterpriseLightGreen:  #6fc099;
$enterpriseGreen:		#169a5a;
$enterpriseDarkGreen: 	#15804d;
$darkGreen:				#006639;
$black:             	#181918;
$darkestGray:			#393A3B;
$darkGray:				#656565;
$midGray:				#a3a4a5;
$lightGray:				#c3c3c3;
$lightestGray:			#f3f3f3;
$bgGray:                #e6e6e6;
$shadowGray:            #dbdbdb;
$heroGray:				#ededed;
$alabasterWhite:		#f9f9f9;
$white:					#ffffff;
$messageGold: 			#F6DB00;
$gold-tier-background:  #ece2cc;
$silver:			    #f4f4f4;
//Loyalty Tiers
$silver-tier: #979797;
$gold-tier: #d0b77e;
$platinum-tier: #3a3a3c;

$bigClosedPattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIALkH5j5n5GQOpCiiQ7pjHgVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQAhKybSTVlKvwAAAABJRU5ErkJggg==) repeat;
$smallClosedPattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAP5B2b+Z0QWAwlMdEhnhAvCBECKwILIAmBBdAGQIACduhLNSL6p0AAAAABJRU5ErkJggg==) repeat;

// Typography
// This is the default html and body font-size for the base rem value.
$rem-base: 16px !default;

$light:			'DINLight', Helvetica, Arial, sans-serif;
$secondary:	'DINLight', Helvetica, Arial, sans-serif;
$regular:		'DINRegular', Arial, sans-serif;
$medium:		'DINMedium', Arial, sans-serif;
$bold:			'DINBold', Arial Black, Arial, sans-serif;
$heavy:			'DINHeavy', Arial Black, Arial, Helvetica, sans-serif;

//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small : 24em;//384px
$bp-small-2 : 29.75em;//476px
$bp-small-3 : 39.8em;//636.8px
$bp-med : 46.8em;//748.8px
$bp-med-2 : 48em;//768px
$bp-large : 50em;//800px
$bp-large-2 : 66em;//1056px
$bp-xl : 73em;//1168px
$bp-xxl : 89em;//1424px
$bp-xxxl : 93em;//1488px

//Width of Date Time Pickers
$dateTimeWidth: 135px;
$loadingTimeTransition: 1.1s;
