<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <label class="col-md-6 col-sm-6 col-xs-12">
            <strong>* Estado Civil</strong>
            <select ng-model="$ctrl.estadoCivil"
                name="selectEstadoCivil"
                required-message="'Campo obrigatório'"
                required
                validate-on="dirty"
                ng-change="$ctrl.alterarEstadoCivil($ctrl.estadoCivil)"
            >
                <option value=""></option>
                <option value="{{estado.valor}}" ng-repeat="estado in $ctrl.estadosCivis">{{estado.descricao}}</option>
            </select>
        </label>

        <label class="col-md-6 col-sm-6 col-xs-12">
            <strong>* Regime de Casamento ou União
                <div class="tooltip-v">
                    <img class="info-sign" src="public/styles/images/icons/info.png">
                    <span class="tooltiptext tooltip-right">A seleção do regime de casamento será habilitada se campo Estado Civil for "Casado" ou "União Estável".</span>
                </div>
            </strong>
            <select ng-model="$ctrl.regimeCasamento"
                name="regimeCasamento"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                ng-required="$ctrl.estadoCivil == 'CASADO' || $ctrl.estadoCivil == 'UNIAO_ESTAVEL'"
                ng-disabled="$ctrl.estadoCivil != 'CASADO' && $ctrl.estadoCivil != 'UNIAO_ESTAVEL'"
            >
                <option value=""></option>
                <option value="{{regime.valor}}" ng-repeat="regime in $ctrl.regimes">{{regime.descricao}}</option>
            </select>
        </label>
    </div>

    <fieldset ng-if="$ctrl.estadoCivil == 'CASADO' || $ctrl.estadoCivil == 'UNIAO_ESTAVEL'">
        <div>
            <div class="row">
                <label class="col-md-4 col-sm-4 col-xs-12">
                    <strong>* CPF</strong>
                    <dados-cpf cpf="$ctrl.conjuge.cpf"
                        required="true"
                        focus-id="conjugeCPF"
                        nome="conjuge"
                        required-message="'Campo obrigatório'"
                        required
                        is-searchable="true"
                        search-type="'conjuge'"
                        on-atribuir-resultado="$ctrl.atribuirResultado(model)"
                        >
                    </dados-cpf>
                </label>

                <label class="col-md-6 col-sm-6 col-xs-12">
                    <strong>* Nome Completo</strong>
                    <input uppercase type="text" ng-model="$ctrl.conjuge.nomeCompleto" class="text-uppercase"
                        maxlength="65"
                        name="nomeCompleto"
                        validate-on="dirty"
                        required-message="'Campo obrigatório'"
                        required>
                </label>

                <label class="col-md-2 col-sm-2 col-xs-12">
                    <strong>* Data de Nascimento</strong>
                      <input class="form-control formData"
                             ui-mask="99/99/9999"
                             model-view-value="true"
                             ng-model="$ctrl.conjuge.dataNascimento"
                             required-message="'Campo obrigatório'"
                             required
                             invalid-message="'Data inválida'"
                             validate-on="blur"
                             name="{{$ctrl.nomeComponente + 'DataNascimentoEC'}}"
                             moment-picker="$ctrl.conjuge.dataNascimento"
                             format="DD/MM/YYYY"
                             start-view="month"
                             locale="pt-br"
                             max-date="$ctrl.maxDataNascimento"
                             ng-blur="$ctrl.validarDataNascimento($ctrl.conjuge.dataNascimento, $ctrl.conjuge.dataEmissao)"
                             >
                </label>
            </div>
            <div class="row">
                <label class="col-md-4">
                    <strong>Tipo de Identificação</strong>
                    <select ng-model="$ctrl.conjuge.tipoIdentificacao"
                        name="tipoIdentificacao"
                        ng-change="$ctrl.buscarOrgaosExpeditores($ctrl.conjuge.tipoIdentificacao)"
                        validate-on="dirty"
                    >
                        <option value=""></option>
                        <option value="{{identificacao.valor}}" ng-repeat="identificacao in $ctrl.identificacoes">{{identificacao.descricao}}</option>
                    </select>
                </label>

                <label class="col-md-3">
                    <strong>Número de Identificação</strong>
                    <input type="text" ng-model="$ctrl.conjuge.numeroIdentificacao"
                        name="conjugeNumeroRg"
                        validate-on="dirty"
                        maxlength="12">
                </label>
                <label class="col-md-3">
                    <strong>Órgão Expedidor
                        <div class="tooltip-v">
                            <img class="info-sign" src="public/styles/images/icons/info.png">
                            <span class="tooltiptext tooltip-right">Órgão Expedidor somente poderá ser selecionado após Tipo de Identificação ser preenchido.</span>
                        </div>
                    </strong>
                    <select ng-model="$ctrl.conjuge.orgaoExpedidor"
                        name="orgaoExpedidor"
                        ng-disabled="!$ctrl.orgaosExpeditores.length > 0"
                        validate-on="dirty">
                        <option value=""></option>
                        <option value="{{orgao.valor}}"
                            ng-repeat="orgao in $ctrl.orgaosExpeditores">{{orgao.descricao}}
                            </option>
                    </select>
                </label>
                <label class="col-md-2">
                    <strong class="span">UF</strong>
                    <select ng-model="$ctrl.conjuge.ufExpedidor"
                        name="conjugeUF"
                        validate-on="dirty">
                        <option></option>
                        <option value="{{estado.value}}" ng-repeat="estado in $ctrl.estados">{{estado.value}}</option>
                    </select>
                </label>

            </div>
            <div class="row">
                <label class="col-md-3">
                    <strong>Data da Emissão</strong>
                    <input class="form-control formData"
                           ui-mask="99/99/9999"
                           model-view-value="true"
                           ng-model="$ctrl.conjuge.dataEmissao"
                           invalid-message="'Data inválida'"
                           validate-on="blur"
                           name="{{$ctrl.nomeComponente + 'DataEmissaoEC'}}"
                           moment-picker="$ctrl.conjuge.dataEmissao"
                           format="DD/MM/YYYY"
                           start-view="month"
                           locale="pt-br"
                           min-date="$ctrl.minDataEmissao"
                           max-date="$ctrl.maxDataEmissao"
                           ng-blur="$ctrl.validarDataEmissao($ctrl.conjuge.dataEmissao)"
                           >
                </label>

                <label class="col-md-3">
                    <strong>Profissão</strong>
                    <select ng-model="$ctrl.conjuge.profissao"
                        name="profissao">
                        <option></option>
                        <option value="{{profissao.nome}}" ng-repeat="profissao in $ctrl.profissoes | orderBy : 'nome'">{{profissao.nome}}</option>
                    </select>
                </label>

                <label class="col-md-3">
                    <strong>Empresa</strong>
                    <input uppercase type="text" ng-model="$ctrl.conjuge.empresa" maxlength="30">
                </label>
                <label class="col-md-3">
                    <strong>Valor da Renda em R$</strong>
                    <input type="text" ng-model="$ctrl.conjuge.valorRenda" ui-money-mask maxlength="21" placeholder="R$">
                </label>
            </div>

            <div class="titleInsideSection">
                Filiação
            </div>
            <hr/>
            <dados-filiacao filiacao="$ctrl.conjuge.filiacao" nome-componente="dadosEstadoCivil" readonly="$ctrl.readonly"></dados-filiacao>

            <div class="titleInsideSection">
                Contatos
            </div>
            <hr/>
            <sessao-contato contatos="$ctrl.conjuge.contatos" readonly="$ctrl.readonly" nome="estadoCivil"></sessao-contato>
        </div>
    </fieldset>
</fieldset>
