<form name="seguroForm" angular-validator-submit="$ctrl.salvar($ctrl.seguro); seguroForm.reset()"
    novalidate angular-validator>
    <fieldset>
    	<div class="row">
    		<label for="tipo" class="col-md-5 col-sm-5 col-xs-12">
                <strong>* Tipo</strong>
                <select ng-model="$ctrl.seguro.tipoSeguro"
                    name="tipoSeguro"
                    id="tipoSeguro"
                    validate-on="blur"
                    ng-change="$ctrl.buscarSeguradoras($ctrl.seguro.tipoSeguro)"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{tipo.valor}}"
                      ng-repeat="(key, tipo) in $ctrl.tipoSeguros">{{tipo.descricao}}
                    </option>
                </select>
            </label>

            <label for="seguradora" class="col-md-7 col-sm-7 col-xs-12">
            	<strong>* Seguradora</strong>
            	<select ng-model="$ctrl.seguro.seguradora"
                    name="seguradora"
                    id="seguradora"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    ng-disabled="!$ctrl.seguro.tipoSeguro"
                    required
                    >
                    <option value="{{seguradora.valor}}"
                      ng-repeat="(key, seguradora) in $ctrl.seguradoras">{{seguradora.descricao}}
                    </option>
                </select>
            </label>
    	</div>
        <div class="row">
    		<label for="vencimento" class="col-md-4 col-sm-4 col-xs-12">
    			<strong>* Vencimento</strong>
    			<input class="form-control formData"
                   ui-mask="99/99/9999"
                   model-view-value="true"
                   ng-model="$ctrl.seguro.dataVencimento"
                   invalid-message="'Data inválida'"
                   validate-on="blur"
                   required-message="'Campo obrigatório'"
                   required
                   name="dataVencimentoSeguro"
                   id="dataVencimento"
                   moment-picker="$ctrl.seguro.dataVencimento"
                   format="DD/MM/YYYY"
                   start-view="month"
                   min-date="$ctrl.minDataVencimento"
                   locale="pt-br"
                   >
    		</label>
            <label for="valorSegurado" class="col-md-4 col-sm-4 col-xs-12">
              <strong>* Valor do Seguro</strong>
              <input type="text" ng-model="$ctrl.seguro.valorSeguro"
                ui-money-mask
                maxlength="21"
                name="valorSeguro"
                placeholder="R$"
                required-message="'Campo obrigatório'"
                required/>
            </label>
            <label for="valorSegurado" class="col-md-4 col-sm-4 col-xs-12">
              <strong>* Valor Segurado</strong>
              <input type="text" ng-model="$ctrl.seguro.valorSegurado"
                ui-money-mask
                maxlength="21"
                name="valorSegurado"
                placeholder="R$"
                required-message="'Campo obrigatório'"
                required/>
            </label>
        </div>
        <div class="row">
            <label for="apolice" class="col-md-5 col-sm-5 col-xs-12">
              <strong>Apólice</strong>
              <input type="text" ng-model="$ctrl.seguro.apolice"
                ui-number-mask="0" ui-hide-group-sep
                maxlength="20"/>
            </label>

            <label for="corretora" class="col-md-7 col-sm-7 col-xs-12">
              <strong>Corretora</strong>
              <input type="text" ng-model="$ctrl.seguro.corretora"
                maxlength="25" uppercase/>
            </label>

        </div>

    	<div class="btns-add">
            <button type="button"
                id="cancelarSeguro"
                ng-click="$ctrl.cancelar() && seguroForm.reset()"
                class="info btn-danger">cancelar</button>
	        <button type="submit" id="adicionarSeguro"
	            class="info info-add">salvar</button>
	    </div>
    </fieldset>
</form>
