<div class="btns-add">
    <button type="button" ng-hide="$ctrl.esconderBotaoNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novoSeguro" class="info info-add">novo</button>
</div>
<hr />
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Seguradora</th>
            <th>Vencimento</th>
            <th>Valor Segurado</th>
            <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : seguro.modoEdicao }"
            ng-repeat="(index, seguro) in $ctrl.seguros">
            <td ng-bind="seguro.tipoDescricao"></td>
            <td ng-bind="seguro.seguradoraDescricao"></td>
            <td ng-bind="seguro.dataVencimento.format('DD/MM/YYYY')"></td>
            <td ng-bind="seguro.valorSegurado | finance:true"></td>

            <td class="centerText" ng-if="!$ctrl.readonly">
                <button class="glyphicon glyphicon-edit btn btn-warning"
                      ng-disabled="seguro.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(seguro)" ></button>
                <button class="glyphicon glyphicon-trash btn btn-danger"
                      ng-disabled="seguro.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(seguro)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.seguros.length==0">
    Nenhum plano foi adicionado até o momento
</div>
