<nova-sessao titulo="Seguros">
	<dados-seguro
		seguro="$ctrl.seguro"
		on-cancelar="$ctrl.cancelar()"
		on-salvar="$ctrl.salvar(seguro)"
		ng-if="$ctrl.mostrarSeguroForm"
	>
        </dados-seguro>

	<lista-seguros  
		seguros="$ctrl.seguros"
		on-novo="$ctrl.novo()"
		on-editar="$ctrl.editar(seguro)"
		on-remover="$ctrl.remover(seguro)"
		esconder-botao-novo="$ctrl.mostrarSeguroForm"
		readonly="$ctrl.readonly"
	>
	</lista-seguros>
</nova-sessao>