<div class="cadastro-content marginBottom20">
    <page-title titulo="'Nova'" subtitulo="'Conta Corrente'"></page-title>
</div>

<form name="formContaCorrente"
    class="cadastro-content"
    novalidate angular-validator
    angular-validator-submit="ctrl.salvar(ctrl.contaCorrente)"
    >

    <div class="step-header">
        <h1>Conta Corrente</h1>
        <span class="cadastro-resumo" ng-if="viewSummary">| <a href="#/cadastro/pessoa-fisica/resumo" class="cadastro-edit">Resumo</a></span>
        <span class="session-cpf" ng-if="sessioncpf">{{sessioncpf}}</span>
    </div>

    <div class="step-content">
        <nova-sessao titulo="Gestão de Conta Corrente" >
            <dados-conta-corrente
                conta-corrente="ctrl.contaCorrente"
                on-atualiza-endereco="ctrl.alteradoEndereco(endereco)"
            >
            </dados-conta-corrente>
        </nova-sessao>

        <nova-sessao titulo="Gestão de Conta Espelho" ng-if="ctrl.mostrarContaEspelho">
            <dados-conta-espelho
                conta-espelho="ctrl.contaCorrente.contaEspelho"
                endereco="ctrl.enderecoCorrespondencia"
            ></dados-conta-espelho>
        </nova-sessao>

        <nova-sessao titulo="Conta Vinculada - Domicílio">
            <dados-conta-vinculada-domicilio
                conta-vinculada-domicilio="ctrl.contaCorrente.domicilioBancario"
            ></dados-conta-vinculada-domicilio>
        </nova-sessao>

        <sessao-titularidades titularidades="ctrl.contaCorrente.titulares"></sessao-titularidades>

        <sessao-agendamento-integralizacoes
            agendamento="ctrl.contaCorrente.agendamentoIntegralizacoes"
        ></sessao-agendamento-integralizacoes>

        <sessao-conta-vinculada-domicilio
            conta-vinculada-domicilio="ctrl.contaCorrente.contaVinculadaDomicilio"
        ></sessao-conta-vinculada-domicilio>

        <nova-sessao titulo="Talões">
            <dados-talao
                talao="ctrl.contaCorrente.talao"
            ></dados-talao>
        </nova-sessao>

        <nova-sessao titulo="Emprestimo">
            <dados-emprestimo
                indicadores-emprestimo="ctrl.contaCorrente.indicadoresEmprestimo"
            ></dados-emprestimo>
        </nova-sessao>

        <nova-sessao titulo="Aplicação">
            <dados-aplicacao-financeira
                aplicacao-financeira="ctrl.contaCorrente.aplicacaoFinanceira"
            ></dados-aplicacao-financeira>
        </nova-sessao>

        <nova-sessao titulo="Tarifas">
            <dados-tarifas
                tarifas="ctrl.contaCorrente.tarifas"
            ></dados-tarifas>
        </nova-sessao>
    </div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <div class="buttons-control">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="submit"
                        ng-disabled="ctrl.salvoComSucesso || ctrl.savingProgress"
                        class="uni-btns btn-confirmacao btn-md"
                        id="btnSalvar">
                    <span>salvar</span>
                </button>
            </div>
        </div>
    </div>

</form>
