<fieldset>
    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>* Conta Débito</strong>
            <input
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.contaDebito"
                name="contaDebito"
                class="text-uppercase"
                maxlength="10"
                ng-blur="$ctrl.buscarConta($ctrl.agendamentoIntegralizacoes.contaDebito)"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >
        </label>

        <label class="col-md-8 col-sm-8 col-xs-12">
            <strong>Nome do Correntista</strong>
            <input
                type="text"
                ng-model="$ctrl.nomeCorrentista"
                name="nomeCorrentista"
                class="text-uppercase"
                ng-disabled="true"
            >
        </label>
</div>
<div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Renovação Automática</strong>
            <select ng-model="$ctrl.agendamentoIntegralizacoes.renovacaoAutomatica" name="renovacaoAutomatica">
                <option value="">Selecionar</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>* Lanc. Integralização</strong>
            <select
                ng-model="$ctrl.agendamentoIntegralizacoes.tipoLancamentoCapital"
                name="tipoLancamentoCapital"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >
                <option value="">Selecionar</option>
                <option value="{{integralizacao.codigo}}" ng-repeat="integralizacao in $ctrl.tiposLancamento">{{integralizacao.descricaoSucinta | uppercase}}</option>
            </select>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>* Capital a Integralizar</strong>
            <input
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.capitalAIntegralizar"
                name="capitalAIntegralizar"
                class="text-uppercase"
                ui-money-mask
                maxlength="13"
                placeholder="R$"
                validate-on="dirty"
                ng-blur="$ctrl.calcularValores()"
                required-message = "'Campo obrigatório'"
                required
            >
        </label>
    </div>

    <div class="row">
        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Valor de entrada</strong>
            <input
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.valorEntrada"
                name="valorEntrada"
                class="text-uppercase"
                ui-money-mask
                maxlength="13"
                placeholder="R$"
                ng-blur="$ctrl.checkValorEntrada() && $ctrl.calcularValores()"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Qtd. Parcelas</strong>
            <input
                maxlength="3"
                ui-number-mask="0"
                ui-hide-group-sep
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.quantidadeParcelas"
                name="quantidadeParcelas"
                ng-blur="$ctrl.calcularValores()"
                class="text-uppercase"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
                invalid-message="'Número Inválido'"
            >
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Valor parcela mensal</strong>
            <input
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.valorParcela"
                name="valorParcela"
                class="text-uppercase"
                ui-money-mask
                maxlength="13"
                placeholder="R$"
                ng-blur="$ctrl.calcularQtdParcelas()"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >
        </label>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Data da Entrada</strong>
            <input
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.dataEntrada"
                name="dataEntrada"
                class="text-uppercase"
                moment-picker="$ctrl.agendamentoIntegralizacoes.dataEntrada"
                locale="pt-br"
                ui-mask="99/99/9999"
                format="DD/MM/YYYY"
                min-date="$ctrl.dataMinima"
                start-view="month"
                validate-on="blur"
                invalid-message="'Data Inválida'"
                required-message = "'Campo obrigatório'"
                required
                ng-blur="$ctrl.validarDataEntrada($ctrl.agendamentoIntegralizacoes.dataEntrada)"
            >
        </div>
    </div>

    <div class="row">
        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Tipo de Agendamento</strong>
            <select
                ng-model="$ctrl.agendamentoIntegralizacoes.tipoAgendamento"
                name="tipoAgendamento"
                ng-change="$ctrl.setTypeVenc();"
                ng-model-options="{ updateOn: 'blur' }"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >
                <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposAgendamento">{{tipo.descricao}}</option>
            </select>
        </label>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Venc. Parcela</strong>

            <input
                ng-if="$ctrl.diaPrimeiroVenc"
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.diaPrimeiroVencimento"
                name="diaPrimeiroVencimento"
                class="text-uppercase"
                moment-picker="$ctrl.agendamentoIntegralizacoes.diaPrimeiroVencimento"
                locale="pt-br"
                ui-mask="99"
                format="DD"
                start-view="month"
                max-view="month"
                min-date="$ctrl.maxDate"
                ng-model-options="{ updateOn: 'blur' }"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >

            <input
                ng-if="$ctrl.mesAnoVenc"
                type="text"
                ng-model="$ctrl.agendamentoIntegralizacoes.anoMesPrimeiroVencimento"
                name="anoMesPrimeiroVencimento"
                class="text-uppercase"
                moment-picker="$ctrl.agendamentoIntegralizacoes.anoMesPrimeiroVencimento"
                locale="pt-br"
                ui-mask="99/9999"
                format="MM/YYYY"
                start-view="year"
                max-view="month"
                min-date="$ctrl.maxDate"
                ng-model-options="{ updateOn: 'blur' }"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                required
            >
        </div>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Tipo de cobrança</strong>
            <select
                ng-model="$ctrl.agendamentoIntegralizacoes.formaRecebimento"
                name="formaRecebimento"
                ng-change="$ctrl.setVerificaSaldo()"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                required
            >
                <option value="">Selecionar</option>
                <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.formasRecebimento">{{tipo.descricao}}</option>
            </select>
        </label>

        <label class="col-md-2 col-sm-2 col-xs-12 text-center" ng-if="$ctrl.showVerificaSaldo">
            <strong>Verificar Saldo</strong>
            <checkbox
                ng-model="$ctrl.agendamentoIntegralizacoes.verificaSaldo"
                class="field-checkbox"
                name="verificaSaldo"
            ></checkbox>
        </label>
    </div>
</fieldset>
