@mixin vertical-align($position: relative, $top: 50%) {
    position: $position;
    top: $top;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
