<div class="container">
    <div class="row">
		<div class="col-md-2 col-sm-3 col-xs-3">
			<h1 class="logo">
				Video
				<span>Tube</span>
			</h1>
		</div>

		<div class="col-md-6 col-sm-7 col-xs-7">
			<label class="form-search">
				<input
					type="text"
					#fieldSearch
					(keyup.enter)="search(fieldSearch.value)"
					class="form-control"
					placeholder="Search"
				>
			</label>
		</div>

		<div class="col-md-4 col-sm-2 col-xs-2 github">
			<a href="https://github.com/chrisgfortes" target="_blank" class="user hidden-xs hidden-sm">@chrisgfortes | </a>
			<a href="https://github.com/chrisgfortes/angular-youtube-search" target="_blank" class="repository" title="Github repository">
				<img src="./assets/images/github.svg" width="25">
			</a>
		</div>
	</div>

	<app-loading [ngClass]="{'hide': !isContentLoading, 'show': isContentLoading}"></app-loading>

	<div [ngClass]="{'hide': notFound, 'show': !notFound}">
		<div class="row" [ngClass]="{'hide': isContentLoading, 'show': !isContentLoading}">
			<div class="col-md-8">
				<div>
					<div class="iframe row-md-height row-sm-height row-xs-height">
						<iframe
							*ngIf="videoUrl"
							[src]="videoUrl"
							frameborder="0"
						></iframe>
					</div>

					<div class="infoVideo">
						<h1>{{selected.snippet.title}}</h1>
						<span class="channel">{{selected.snippet.channelTitle}}</span>
						<span class="date">
							<strong>{{selected.snippet.publishedAt | date:'yMMMMd'}}</strong>
						</span>

						<span class="description">
							{{selected.snippet.description}}
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="suggested">
					<h1 class="visible-xs">Suggested videos</h1>
					<ul class="row playlist">
						<li class="col-md-12 col-xs-6" *ngFor="let video of videos">
							<a class="btnMedia" [ngClass]="{'play': !video.isPlay, 'pause': video.isPlay}" (click)="playVideo(video, $event)" href="#">
								<img src="{{video.snippet.thumbnails.medium.url}}" alt="{{video.snippet.title}}" width="{{video.snippet.thumbnails.width}}"
								height="{{video.snippet.thumbnails.height}}">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row" [ngClass]="{'hide': !notFound, 'show': notFound}">
		<div class="col-md-12">
			<h3 class="notFound">No results found</h3>
		</div>
	</div>
</div>
