<fieldset>
    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Min. Talões</strong>
            <select ng-model="$ctrl.talao.numeroMinimoTaloes"
                    name="numeroMinimoTaloes">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Min. Talões TB</strong>
            <select ng-model="$ctrl.talao.numeroMinimoTaloesTb"
                    name="numeroMinimoTaloesTb">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Nr. Folhas Solic. Autom.</strong>
            <select ng-model="$ctrl.talao.numeroFolhasSolicitacaoAutomatica"
                    name="numeroFolhasSolicitacaoAutomatica"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'">
                <option value="{{numeroFolhas}}" ng-repeat="numeroFolhas in $ctrl.numerosFolhasSolicitadas">{{numeroFolhas}}</option>
            </select>
        </label>
    </div>
</fieldset>