<nova-sessao 
    titulo="Vincular 2º Titular" 
    badge="{{$ctrl.titularidades.length}}" 
    mostra-sessao="$ctrl.mostraSessao"
    info="'Nesta seção você poderá vincular associados já cadastrados com segunda titularidade na conta a ser criada.'"
>
    <dados-titular
        titular="$ctrl.titular"
        on-salvar="$ctrl.salvar(titular)"
        on-cancelar="$ctrl.cancelar()"
        ng-if="$ctrl.mostrarTitularForm && !$ctrl.readonly"
    >
    </dados-titular>

    <lista-titularidades
        titularidades="$ctrl.titularidades"
        on-editar="$ctrl.editar(titular)"
        on-novo="$ctrl.novo()"
        on-remover="$ctrl.remover(titular)"
        esconder-botao-novo="$ctrl.mostrarTitularForm"
        readonly="$ctrl.readonly"
    >
    </lista-titularidades>
</nova-sessao>