<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Estado Civil'"></page-title>

    <form name="updateForm" angular-validator-submit="ctrl.update(ctrl.estadoCivilObj)" novalidate angular-validator>
        <div class="step-content">
            <nova-sessao titulo="Estado civil" mostra-sessao="true">
                <dados-estado-civil
                    estado-civil="ctrl.estadoCivilObj.estadoCivil"
                    regime-casamento="ctrl.estadoCivilObj.regimeCasamento"
                    conjuge="ctrl.estadoCivilObj.conjuge">
                </dados-estado-civil>
            </nova-sessao>
        </div>

        <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
            <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
        </div>

        <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
        <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

        <botoes-update cpf="ctrl.cpf"
                       progress="ctrl.savingProgress"
                       is-submit="true">
        </botoes-update>
    </form>
</div>
