<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="ctrl.links"></navegacao>

<div class="cadastro-content">
    <div class="row">
        <div class="col-md-12">
            <sessao-resumo titulo="Dados Pessoais" ng-if="ctrl.secoes.dadosPessoais.ativo">
                <dados-cpf-nome cpf-nome="ctrl.resumo.dadosPessoais" readonly="ctrl.readonly"></dados-cpf-nome>

                <fieldset class="marginTop">
                    <nova-sessao titulo="Documentos">
                        <dados-documento
                            nome-componente="ctrl.resumo.dadosPessoais"
                            documento="ctrl.resumo.dadosPessoais.documento"
                            readonly="ctrl.readonly"
                            on-representante-selecionado="representanteLegalSelecionado(representante, mostrarRepresentante)"
                        ></dados-documento>
                    </nova-sessao>

                    <nova-sessao titulo="Representante Legal" ng-show="mostrarRepresentante">
                        <dados-representante-legal representante="ctrl.resumo.dadosPessoais.representanteLegal" readonly="ctrl.readonly"></dados-representante-legal>
                    </nova-sessao>

                    <nova-sessao titulo="Filiação">
                        <dados-filiacao filiacao="ctrl.resumo.dadosPessoais.filiacao" readonly="ctrl.readonly"></dados-filiacao>
                    </nova-sessao>

                    <nova-sessao titulo="Estado civil">
                        <dados-estado-civil
                            estado-civil="ctrl.resumo.dadosPessoais.estadoCivil"
                            regime-casamento="ctrl.resumo.dadosPessoais.regimeCasamento"
                            conjuge="ctrl.resumo.dadosPessoais.conjuge"
                            readonly="ctrl.readonly">
                        </dados-estado-civil>
                    </nova-sessao>

                    <sessao-dependentes dependentes="ctrl.resumo.dadosPessoais.dependentes" readonly="ctrl.readonly"></sessao-dependentes>

                    <sessao-endereco enderecos="ctrl.resumo.dadosPessoais.enderecos" readonly="ctrl.readonly"></sessao-endereco>

                    <nova-sessao titulo="Contatos">
                        <sessao-contato contatos="ctrl.resumo.dadosPessoais.contatos" readonly="ctrl.readonly"></sessao-contato>
                    </nova-sessao>

                    <nova-sessao titulo="Dados Profissionais">
                        <dados-profissionais profissional="ctrl.resumo.dadosPessoais.dadosProfissionais" readonly="ctrl.readonly"></dados-profissionais>
                    </nova-sessao>
                </fieldset>
            </sessao-resumo>

            <sessao-resumo titulo="Dados Complementares" ng-if="ctrl.secoes.dadosComplementares.ativo">
                <sessao-procurador procuradores="ctrl.resumo.dadosComplementares.procuradores" readonly="ctrl.readonly"></sessao-procurador>

                <sessao-participacao-societaria participacoes-societarias="ctrl.resumo.dadosComplementares.participacoesSocietarias" readonly="ctrl.readonly"></sessao-participacao-societaria>

                <sessao-referencia referencias="ctrl.resumo.dadosComplementares.referencias" readonly="ctrl.readonly"></sessao-referencia>

                <sessao-seguro seguros="ctrl.resumo.dadosComplementares.seguros"
                               readonly="ctrl.readonly"></sessao-seguro>

                <sessao-plano-de-saude planos-saude="ctrl.resumo.dadosComplementares.planosSaude" readonly="ctrl.readonly"></sessao-plano-de-saude>

                <sessao-previdencia previdencias="ctrl.resumo.dadosComplementares.previdencias" readonly="ctrl.readonly"></sessao-previdencia>
            </sessao-resumo>

            <sessao-resumo titulo="Bens" ng-if="ctrl.secoes.bens.ativo">
                <sessao-veiculos veiculos="ctrl.resumo.bens.veiculos" readonly="ctrl.readonly"></sessao-veiculos>
                <sessao-imoveis imoveis="ctrl.resumo.bens.imoveis" readonly="ctrl.readonly"></sessao-imoveis>
            </sessao-resumo>


            <sessao-resumo titulo="Cartão Autógrafo" ng-if="ctrl.secoes.cartaoAutografo.ativo">
              <lista-cartao-autografo
                  cartoes-autografo="ctrl.resumo.cartoesAutografo"
                  esconder-botao-novo="true"
                  readonly="ctrl.readonly"
              >
              </lista-cartao-autografo>
            </sessao-resumo>

            <sessao-resumo titulo="Rendas" ng-if="ctrl.secoes.renda.ativo">
              <sessao-renda rendas-obj="ctrl.resumo.dadosRenda" readonly="true" mostra-sessao="true"></sessao-renda>
            </sessao-resumo>

            <sessao-resumo titulo="Matrícula" ng-if="ctrl.secoes.matricula.ativo">
              <dados-matricula
                  matricula="ctrl.resumo.matricula"
                  readonly="true"
              >
              </dados-matricula>
            </sessao-resumo>

            <sessao-resumo titulo="Análise Cadastral" ng-if="ctrl.secoes.analiseCadastral.ativo" is-last="true">
                <nova-sessao titulo="Informações Complementares">
                    <informacoes-complementares informacoes-complementares="ctrl.resumo.analiseCadastral.informacoesComplementares" readonly="ctrl.readonly"></informacoes-complementares>
                </nova-sessao>

                <sessao-restricao-acatada
                    restricoes-acatadas="ctrl.resumo.analiseCadastral.restricoesAcatadas"
                    readonly="ctrl.readonly">
                </sessao-restricao-acatada>

                <nova-sessao titulo="Matrícula Vinculada">
                    <matricula-vinculada vinculo="ctrl.resumo.analiseCadastral.matriculaVinculada" readonly="ctrl.readonly"></matricula-vinculada>
                </nova-sessao>

                <nova-sessao titulo="Pessoa Reportável FATCA">
                    <pessoa-responsavel pessoa-responsavel="ctrl.resumo.analiseCadastral.pessoaResponsavelFATCA" readonly="ctrl.readonly"></pessoa-responsavel>
                </nova-sessao>
            </sessao-resumo>

        </div>
    </div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <!-- <div class="row">
        <div class="col-md-12">
         </div>
    </div> -->
    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <div class="buttons-control">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="button"
                        class="uni-btns btn-confirmacao btn-md"
                        ng-click="ctrl.salvar()"
                        ng-disabled="ctrl.savingProgress || ctrl.sucessos"
                        id="btnConfirmaCadastro">
                        <span ng-if="!ctrl.savingProgress">Confirmar Cadastro</span>
                        <span ng-if="ctrl.savingProgress">Salvando...</span>
                </button>
            </div>
        </div>
    </div>

</div>
