<div class="btns-add">
    <button type="button"
        ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="novoDependente"
        class="info info-add">novo</button>
</div>

<table class="table table-striped tableListas">
  <hr ng-if="!$ctrl.readonly">
  <thead>
    <tr>
        <th>Matrícula</th>
        <th>CPF</th>
        <th>Nome Completo</th>
        <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{ itemSelecionado : titular.modoEdicao }"
        ng-repeat="(index, titular) in $ctrl.titularidades">
        <td ng-bind="titular.matricula"></td>
        <td ng-bind="titular.cpfCnpj | brCpf"></td>
        <td ng-bind="titular.nome"></td>

        <td ng-if="!$ctrl.readonly" class="centerText">
            <button class="glyphicon glyphicon-edit is-clickable btn btn-warning"
                title="Editar"
                type="button"
                ng-disabled="titular.modoEdicao"
                ng-click="$ctrl.editar(titular)"></button>
            <button class="glyphicon glyphicon-trash is-clickable btn btn-danger"
                ng-disabled="titular.modoEdicao"
                type="button"
                title="Remover"
                ng-click="$ctrl.remover(titular)"></button>
        </td>
    </tr>
  </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.titularidades.length == 0">
    Nenhum titular foi adicionado até o momento
</div>
