<div class="">
    <input class="form-control formData updateDataAnalise"
           name="updateDataAnalise"
           ui-mask="99/99/9999"
           model-view-value="true"
           ng-model="$ctrl.dataAnalise"
           required-message="'Campo obrigatório'"
           required
           ng-required="true"
           invalid-message="'Data inválida'"
           moment-picker="$ctrl.dataAnalise"
           format="DD/MM/YYYY"
           start-view="month"
           locale="pt-br"
           max-date="$ctrl.dataAtual"
           ng-blur="$ctrl.validarDataAnalise($ctrl.dataAnalise)"
           >
    <button type="button"
            class="info info-default"
            ng-click="$ctrl.salvarDataAnalise($ctrl.dataAnalise)">
        Salvar
    </button>
    <div class="statusUpdateDataAnalise">
        <i ng-class="{ 'fa-times': $ctrl.statusError, 'fa-check': $ctrl.statusUpdate }"
        class="fa"
        ng-if="!$ctrl.isSaving"></i>
        <div ng-if="$ctrl.isSaving" class="loader loader-dark"></div>
    </div>

</div>
