.header {
    width: 100%;
    height: 66px;
    background-color: $cc-primary;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    display: block;

    @include clearfix;
    position: fixed;
    z-index: 99;

    &-sidebar{
        display: none;

        &.active{
            display: block;
        }
    }

    .user-info{
        margin-top: 17px;
        margin-left: 27px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        float: left;
        color: #fff;

        &:last-of-type{
            margin-left: 15px;
            @include breakpoint(sx) {
                display: none;
            }
        }

        .info-wrapper{

            .cpfWrapper{
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
                // border: 1px solid #036a61;
                height: auto;
                width: 180px;
                margin-left: 6px;
                padding: 0px 5px;
                @include border-radius(5px);
            }
        }
    }

    &-menu {
        display: inline-block;
        float: right;

        .message{
            color: rgb(0, 150, 105);
            font-size: 13px;
            margin-right: 20px;
        }

        .logoutBtn {
            color: #FFF;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            background-color: transparent;
            text-transform: uppercase;
            border: 0;
            border: 1px solid #fff;
            @include border-radius(5px);
            margin-top: 17px;
            width: 95px;
            display: inline-block;
            padding: 0;
            margin-right: 35px;
            transition: .2s all;
            font-weight: 500;
            letter-spacing: 1.5px;
            line-height: 28px;

            &:hover {
                background: #fff;
                & span {
                    color: #008777;
                }
            }
        }
    }

    .logo {
        height: 24px;
        padding-left: 35px;
        display: inline-block;
        margin: 20px 0;
        float: left;

        figcaption{
            color: #FFF;
            float: left;
            margin-left: 15px;
            border-left: 1px solid #FFF;
            padding: 3px 0;

            h1{
                font-weight: 400;
                font-size: 18px;
                padding-left: 15px;
            }
        }

        img {
            height: 100%;
            float: left;
        }
    }

    @media (max-width: 598px){
        .logo {
            padding-left: 0px;

            figcaption{
                display: none;
            }

            img {
                height: 90%;
            }
        }
        .logoutBtn {
            margin-right: 15px;
        }
    }

}

// Hamburger Menu Icon
.c-hamburger {
  display: none;
  @include breakpoint(sx) {
      z-index: 1;
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 66px;
      height: 66px;
      font-size: 0;
      text-indent: -9999px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      transition: background 0.2s;
      float: left !important;

      &:focus{
          outline: none;
      }
      span{
          display: block;
          position: absolute;
          top: 29px;
          left: 16px;
          right: 16px;
          height: 4px;
          border-radius: 20px;
          background: white;

          &::before, &::after{
              position: absolute;
              display: block;
              left: 0;
              width: 100%;
              height: 4px;
              border-radius: 20px;
              background-color: #fff;
              content: "";
          }
          &::before{
              top: -9px;
          }
          &::after{
              bottom: -9px;
          }
      }
  }
}

.c-hamburger-virote {
    @include breakpoint(sx) {
        background-color: transparent;
        span{
            transition: background 0s 0.2s;
            &::before, &::after{
                transition-duration: 0.2s, 0.2s;
                transition-delay: 0.2s, 0s;
            }
            &::before{
                transition-property: top, transform;
            }
            &::after{
                transition-property: bottom, transform;
            }
        }
        &.is-active {
            span {
                background: none;
                &::before{
                    top: 0;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &::after{
                    bottom: 0;
                    -ms-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &::before, &::after{
                    transition-delay: 0s, 0.2s;
                }
            }
        }
    }
}
// End of Hamburger Menu Icon

$toast-width: 350px;
$toast-border-width: 15px;

.toast{
    background-color: #fff;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    @include border-radius(5px);
    width: $toast-width;
    height: auto;
    color: #333;

    z-index: 98;
    position: fixed;
    float: right;
    display: inline-block;
    right: 35px;
    top: -50px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    &.toast{
        &-error{
            border-left: $toast-border-width solid $cc-btnCancel;
        }
        &-success{
            border-left: $toast-border-width solid $cc-btnConfirma;
        }
        &-warning{
            border-left: $toast-border-width solid #f8c61c;
        }
    }

    &.toast-active{
        visibility: visible;
        opacity: 1;
        top: 75px;
    }

    &-dismiss{
        position: absolute;
        right: 10px;
        top: 10px;
        & .toast-btn-close{
            background-color: transparent;
            border: none;
            img{
                width: 10px;
            }
        }
    }
    &-content{
        width: calc($toast-width - $toast-border-width);
        padding: 15px 10px;
        text-align: left;
        & .toast{
            &-title{
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                padding: 0px 0px 3px;
            }
            &-text{
                font-size: 14px;
                line-height: 1.3em;
            }
        }
    }
}
