//MIXINS

@mixin bubble-style($color) {
    background-color: $color;
    color: $color;
    border-color: $complete;
    &:before,
    &:after {
        background-color: $color;
        border-color: $complete;
    }
}
@mixin bubbleWidth() {
    @for $i from 2 through 20{
        @include setLiWidth($i);
    }
}
@mixin lastBubble() {
    @for $i from 2 through 20{
        @include setLastLiWidth($i);
    }
}
@mixin firstBubble() {
    @for $i from 2 through 20{
        @include setFirstLiWidth($i);
    }
}
@mixin setLiWidth($bubbles: 2){
    &:first-child:nth-last-child(#{$bubbles}),
    &:first-child:nth-last-child(#{$bubbles}) ~ li {
        width: (100% / ($bubbles - 1));
    }
}
@mixin setFirstLiWidth($bubbles: 2){
    &:nth-last-child(#{$bubbles}) {
        width: (100% / ($bubbles - 1)) / 2;
    }
}
@mixin setLastLiWidth($bubbles: 2){
    &:first-child:nth-last-child(#{$bubbles}) ~ li:last-child {
        width: (100% / ($bubbles - 1)) / 2;
    }
}

//VARIABLES
$incomplete: #bbb !default;
$complete: #008777 !default;
$active: #337AB7 !default;

$bubble-size: 6px !default;
$bubble-line-thickness: 1px !default;
$border-thickness: 2px !default;
$darken-amount: 30% !default;

$mobile-size: 400px !default;


//CLASSES
.progress-indicator {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px;
    font-size: 80%;
    text-transform: uppercase;
    margin-bottom: 1em;
    > li {

        @include bubbleWidth();
        @include lastBubble();

        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        position: relative;
        text-overflow: ellipsis;
        color: $incomplete;
        display: inline-block;
        vertical-align: text-top;
        line-height: 1.1em;
        & a:hover {
            transition: .2s all;
            color: darken($incomplete, $darken-amount);
            text-decoration: none;
            .bubble {
                border-color: darken($incomplete, $darken-amount);
            }
        }

        & a{
            &:focus,
            &:active,
            &:target{
                box-shadow: 0px;
                border: 0px;
                outline: 0px;
            }
            color: $incomplete;
        }
    }

    > li .bubble {
        border-radius: 1000px;
        width: $bubble-size;
        height: $bubble-size;
        background-color: $incomplete;
        display: block;
        margin: 0 auto 1em auto;
    }

    > li .bubble:before,
    > li .bubble:after {
        display: block;
        position: absolute;
        top: $bubble-size / 2 - 1px;
        width: calc(50% - 8px);
        height: $bubble-line-thickness;
        content: '';
        background-color: $incomplete;
        z-index: -1;
    }
    > li .bubble:before {
        left: 0;
    }
    > li .bubble:after {
        right: 0;
    }

    > li:first-child .bubble:before,
    > li:first-child .bubble:after {
        width: calc(50% - 8px);
        margin-left: 50%;
    }

    > li:last-child .bubble:before,
    > li:last-child .bubble:after {
        width: calc(50% - 8px);
        margin-right: 50%;
    }
    > li:first-child{
        text-align: left;

        @include firstBubble();

        & .bubble{
            margin-left: 0px;
            &:before{
                display: none;
            }
            &:after{
                width: calc(100% - 12px);
            }
        }
    }
    > li:last-child{
        text-align: right;
        & .bubble{
            margin-right: 0px;
            &:after{
                display: none;
            }
            &:before{
                width: calc(100% - 12px);
            }
        }
    }

    > li.completed {
        color: $complete;
        & a{
            color: $complete;
            &:hover{
                color: darken($complete, 15%);
                .bubble {
                    transition: .2s all;
                    border-color: darken($complete, 15%);
                    background-color: darken($complete, 15%);
                }
            }
        }
        .bubble {
            @include bubble-style($complete);
        }
    }

    > li.current{
        a{
            .bubble {
                border-color: darken($complete, 15%);
                background-color: darken($complete, 15%);
                &:after{
                    background-color: $incomplete !important;
                }
            }
            color: darken($complete, 15%);
        }
    }

    > li.active {
        color: $active;
        .bubble {
            @include bubble-style($active);
        }
    }
}

@media handheld, screen and (max-width: $mobile-size) {
    .progress-indicator {
        font-size: 60%;
    }
}
