//MIXINS

@mixin bubble-style($color) {
    background-color: $color;
    color: $color;
    border-color: $complete;
    &:before,
    &:after {
        background-color: $color;
        border-color: $complete;
    }
}
@mixin bubbleWidth() {
    @for $i from 2 through 20{
        @include setLiWidth($i);
    }
}
@mixin lastBubble() {
    @for $i from 2 through 20{
        @include setLastLiWidth($i);
    }
}
@mixin firstBubble() {
    @for $i from 2 through 20{
        @include setFirstLiWidth($i);
    }
}
@mixin setLiWidth($bubbles: 2){
    &:first-child:nth-last-child(#{$bubbles}),
    &:first-child:nth-last-child(#{$bubbles}) ~ li {
        width: (100% / ($bubbles - 1));
    }
}
@mixin setFirstLiWidth($bubbles: 2){
    &:nth-last-child(#{$bubbles}) {
        width: (100% / ($bubbles - 1)) / 2;
    }
}
@mixin setLastLiWidth($bubbles: 2){
    &:first-child:nth-last-child(#{$bubbles}) ~ li:last-child {
        width: (100% / ($bubbles - 1)) / 2;
    }
}

//VARIABLES
$incomplete: #bbb !default;
$complete: #008777 !default;
$active-status: #48d2a0 !default;
// $active: #337AB7 !default;
$pending: #f1c40f !default;
$error: #f54b5e !default;

$bubble-status-size: 30px !default;
$bubble-status-line-thickness: 2px !default;
$border-status-thickness: 0px !default;
$darken-amount: 30% !default;

$mobile-size: 400px !default;


//CLASSES
.progress-status-indicator {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px;
    font-size: 80%;
    text-transform: uppercase;
    margin-bottom: 1em;
    > li {

        @include bubbleWidth();
        @include lastBubble();

        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        position: relative;
        text-overflow: ellipsis;
        color: $incomplete;
        display: inline-block;
        vertical-align: text-top;
        line-height: 1.1em;

        & .bubble-error{
            position: absolute;
            margin-top: -30px;
        }

        & .bubble-wrapper{
            &:focus,
            &:active,
            &:target{
                box-shadow: 0px;
                border: 0px;
                outline: 0px;
            }
            color: $incomplete;
        }

        & .bubble-wrapper:hover{
            text-decoration: none;
            cursor: default;
        }
    }

    > li .bubble {
        border-radius: 50%;
        width: $bubble-status-size;
        height: $bubble-status-size;
        background-color: $incomplete;
        display: block;
        margin: 0 auto 0.5em auto;
        border: $border-status-thickness solid $incomplete;

        i{
            color: #fff !important;
            text-align: center !important;
            width: 30px;
            line-height: 30px;
            font-size: 18px;
            margin: 0;
        }
    }

    > li span:not(.bubble) {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    > li .bubble:before,
    > li .bubble:after {
        display: block;
        position: absolute;
        top: $bubble-status-size / 2 - $bubble-status-line-thickness / 2;
        width: 50%;
        height: $bubble-status-line-thickness;
        content: '';
        background-color: $incomplete;
        z-index: -1;
    }
    > li .bubble:before {
        left: 0;
    }
    > li .bubble:after {
        right: 0;
    }

    > li:first-child .bubble:before,
    > li:first-child .bubble:after {
        width: 50%;
        margin-left: 50%;
    }

    > li:last-child .bubble:before,
    > li:last-child .bubble:after {
        width: 50%;
        margin-right: 50%;
    }
    > li:first-child{
        text-align: left;

        @include firstBubble();

        & .bubble{
            margin-left: 0px;
            &:before{
                display: none;
            }
            &:after{
                width: 100%;
            }
        }
    }
    > li:last-child{
        text-align: right;
        & .bubble{
            margin-right: 0px;
            &:after{
                display: none;
            }
            &:before{
                width: 100%;
            }
        }
    }

    > li.completed {
        color: $complete;
        & .bubble-wrapper{
            color: $complete;
        }
        .bubble {
            @include bubble-style($complete);
        }
    }

    > li.current{
         .bubble-wrapper{
            .bubble {
                width: $bubble-status-size;
                height: $bubble-status-size;
                background-color: $active-status;
                border-color: $active-status;
                &:after{
                    background-color: $incomplete !important;
                }
            }
            color: $active-status;
        }
    }

    > li.error{
         .bubble-wrapper{
            .bubble {
                background-color: $error;
                border-color: $error;
            }
            color: $error;
        }
    }

    > li.active {
        color: $active-status;
        .bubble {
            @include bubble-style($active-status);
        }
    }
}

@media handheld, screen and (max-width: $mobile-size) {
    .progress-status-indicator {
        font-size: 60%;
    }
}
