// Colors
$cc-white: #FFF;
$cc-black: #000;
$cc-unicred: #004b35;
$cc-primary: #008777;
$cc-secondary: #11a190;
$cc-primary-hover: #006b5e;
$cc-background: #ecf0f1;
$cc-focus: #00d7be;
$cc-error: #ff4638;
$cc-btnGreen: #028474;
$cc-btnGreenHover: #004b35;
$cc-btnGreenDisabled: rgba(2, 132, 115, 0.35);
$cc-btnConfirma: #48d2a0;
$cc-btnConfirmaHover: #2f8b6a;
$cc-btnConfirmaDisabled: #48d2a0;
$cc-btnCancel: #f54b5e;
$cc-btnCancelHover: #a33340;
$cc-btnCancelDisabled: rgba(245, 75, 94, 0.35);
// Fonts
$ff-primary: "Roboto Condensed";
