@import '../../sass/utils/spinkit/spinkit';


.sk-circle{
	position: relative;

	span{
		position: absolute;
		left: -41px;
		bottom: -30px;
		margin: auto;
		display: block;
	    text-align: center;
	    font-size: 13px;
	    width: 130px;
	    font-weight: bold;
	}
}
