<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="$ctrl.links"></navegacao>

<form name="formularioDadosComplementares" class="cadastro-content"
    angular-validator-submit="$ctrl.salvar($ctrl.dadosComplementares); formDadosComplementares.reset()"
    novalidate
    angular-validator>

    <div class="step-header">
        <h1>Dados complemetares</h1>
    </div>

    <div class="step-content">
        <sessao-procurador procuradores="$ctrl.dadosComplementares.procuradores"></sessao-procurador>

        <sessao-participacao-societaria participacoes-societarias="$ctrl.dadosComplementares.participacoesSocietarias"></sessao-participacao-societaria>

        <sessao-referencia referencias="$ctrl.dadosComplementares.referencias"></sessao-referencia>

        <sessao-seguro seguros="$ctrl.dadosComplementares.seguros"></sessao-seguro>

        <sessao-plano-de-saude planos-saude="$ctrl.dadosComplementares.planosSaude"></sessao-plano-de-saude>

        <sessao-previdencia previdencias="$ctrl.dadosComplementares.previdencias"></sessao-previdencia>

    </div>

    <mensagem-erro mensagens="$ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="$ctrl.sucessos"></mensagem-sucesso>

    <botoes-cadastro
        model="$ctrl.dadosComplementares"
        on-salvar-rascunho="$ctrl.salvar(model)"
        links="$ctrl.links">
    </botoes-cadastro>

</form>
