<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <label class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <strong>* CPF</strong>
            <dados-cpf cpf="$ctrl.representante.cpf"
                required="true"
                focus-id="representanteCPF"
                nome="representante"
            >
            </dados-cpf>
        </label>

        <label class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <strong>* Nome Completo</strong>
            <input type="text" ng-model="$ctrl.representante.nomeCompleto" class="text-uppercase"
                name="representanteNomeCompleto"
                maxlength="65"
                ng-disabled="fieldDisabled"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
                uppercase
            >
        </label>
    </div>

    <div class="row">
         <label class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <strong>* Tipo de Identificação</strong>
            <select ng-model="$ctrl.representante.tipoIdentificacao" ng-disabled="fieldDisabled"
                name="representanteTipoIdentificacao"
                ng-blur="validate('required', $event);"
                ng-change="$ctrl.buscarOrgaosExpeditores($ctrl.representante.tipoIdentificacao)"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
            >
                <option></option>
                <option value="{{identificacao.valor}}" ng-repeat="identificacao in $ctrl.identificacoes">{{identificacao.descricao}}</option>
            </select>
        </label>

        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <strong>* Número de Indentificação</strong>
            <input type="text" ng-model="$ctrl.representante.numeroIdentificacao"
                name="representanteIdentificacao"
                maxlength="12"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                required>
        </label>

        <label for="orgaoExpedidor" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <strong>* Órgão Expedidor</strong>
            <select ng-model="$ctrl.representante.orgaoExpedidor"
                name="representanteOrgaoExpedidor"
                required-message= "'Campo obrigatório'"
                validate-on="dirty"
                required>
                <option></option>
                <option value="{{orgao.valor}}"
                    ng-repeat="orgao in $ctrl.orgaosExpeditores">{{orgao.descricao}}</option>
            </select>
        </label>

        <label for="uf-expeditor" class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <strong>* UF Expedidor</strong>
            <select ng-model="$ctrl.representante.ufExpedidor"
                name="representanteUF"
                id="uf"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
                >
                <option></option>
                <option value="{{estado.value}}" ng-repeat="estado in $ctrl.estados">{{estado.value}}</option>
            </select>
        </label>
    </div>

    <div class="row">
        <label for="dataEmissao" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <strong>* Data da Emissão</strong>
            <input class="form-control formData"
                    name="dataEmissaoDP"
                    ui-mask="99/99/9999"
                    model-view-value="true"
                    ng-model="$ctrl.representante.dataEmissao"
                    required-message="'Campo obrigatório'"
                    required
                    validate-on="blur"
                    invalid-message="Data inválida"
                    moment-picker="$ctrl.representante.dataEmissao"
                    format="DD/MM/YYYY"
                    start-view="month"
                    locale="pt-br"
                    min-date="$ctrl.minDataEmissao"
                    max-date="$ctrl.maxDataNascimento"
                    ng-blur="$ctrl.validarDataEmissao($ctrl.representante.dataEmissao)"
                    >
        </label>
        <label for="representanteDataNascimento" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <strong>* Data de Nascimento</strong>
            <input class="form-control formData"
                   ui-mask="99/99/9999"
                   model-view-value="true"
                   ng-model="$ctrl.representante.dataNascimento"
                   required-message="'Campo obrigatório'"
                   required
                   validate-on="blur"
                   invalid-message="Data inválida"
                   name="dataNascimentoDP"
                   moment-picker="$ctrl.representante.dataNascimento"
                   format="DD/MM/YYYY"
                   start-view="month"
                   locale="pt-br"
                   max-date="$ctrl.maxDataNascimento"
                   ng-blur="$ctrl.onChange($ctrl.representante.dataNascimento, $ctrl.representante.dataEmissao)"
                   id="dataNascimentoRepresentanteLegal"
                   >
      </label>

    </div>

    <div class="titleInsideSection">
        Endereço
    </div>
    <hr>
    <dados-endereco
        endereco="$ctrl.representante.endereco"
        name="representanteLegalEndereco"
        ocultar-campos="['adicionar', 'principal', 'empostamento', 'situacaoEndereco', 'resideDesde', 'mesesDeResidencia']">
    </dados-endereco>

</fieldset>
