<form name="referenciaForm" angular-validator-submit="$ctrl.salvar($ctrl.referencia); referenciaForm.reset()"
    novalidate angular-validator>
    <div class="row">
        <div class="col-md-6">
            <strong>* Banco/Empresa</strong>
            <input type="text"
            uppercase
                id="referenciaBancoEmpresa"
                name="referenciaBancoEmpresa"
                maxlength="40"
                ng-model="$ctrl.referencia.nomeBancoEmpresa"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                ng-required="true">
        </div>
         <div class="col-md-6">
            <strong>* Agência/Loja</strong>
            <input type="text"
            uppercase
                id="referenciaAgenciaLoja"
                name="referenciaAgenciaLoja"
                maxlength="30"
                ng-model="$ctrl.referencia.nomeAgenciaLoja"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                ng-required="true">
        </div>
    </div>

    <dados-telefone telefone="$ctrl.referencia.telefone" esconder="true"></dados-telefone>

    <div class="btns-add">
        <button type="button"
            id="cancelarReferencia"
            ng-click="$ctrl.cancelar(); referenciaForm.reset()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="salvarReferencia"
            class="info info-add">salvar</button>
    </div>
</form>
