<div class="btns-add">
    <button type="button" ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="novaReferencia"
        class="info info-add">
        novo
    </button>
</div>

<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Banco/Empresa</th>
            <th>Agência/Loja</th>
            <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : referencia.modoEdicao }"
            ng-repeat="(index, referencia) in $ctrl.referencias">
            <td ng-bind="referencia.nomeBancoEmpresa"></td>
            <td ng-bind="referencia.nomeAgenciaLoja"></td>

            <td class="centerText" ng-if="!$ctrl.readonly">
                <button class="glyphicon glyphicon-edit btn btn-warning"
                      ng-disabled="referencia.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(referencia)" ></button>
                <button class="glyphicon glyphicon-trash btn btn-danger"
                      ng-disabled="referencia.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(referencia)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.referencias.length==0">
    Nenhuma referência foi adicionada até o momento
</div>
