<nova-sessao titulo="Referências">
    <dados-referencia
        referencia="$ctrl.referencia"
        on-cancelar="$ctrl.cancelar()"
        on-salvar="$ctrl.salvar(referencia)"
        ng-if="$ctrl.mostrarReferenciaForm && !$ctrl.readonly"
    >
    </dados-referencia>

    <lista-referencia
        referencias="$ctrl.referencias"
        on-novo="$ctrl.novo()"
        on-editar="$ctrl.editar(referencia)"
        on-remover="$ctrl.remover(referencia)"
        esconder-botao-novo="$ctrl.mostrarReferenciaForm"
        readonly="$ctrl.readonly"
    ></lista-referencia>
</nova-sessao>
