<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cheque Especial'"></page-title>
</div>

<form name="formLimiteChequeEspecial"
    class="cadastro-content"
    novalidate 
    angular-validator 
    angular-validator-submit="ctrl.salvar(ctrl.limiteChequeEspecial)"
    >

    <div class="step-content">
        <nova-sessao titulo="Limite Cheque Especial">
            <dados-limite-cheque-especial limite-cheque-especial="ctrl.limiteChequeEspecial"></dados-limite-cheque-especial>
        </nova-sessao>
    </div>

    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <div class="buttons-control">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="submit"
                        class="uni-btn btn-primary"
                        id="btnSalvar">
                    <span>salvar</span>
                </button>
            </div>
        </div>
    </div>
</form>