<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="$ctrl.links"></navegacao>

<fieldset ng-disabled="readonly">
    <form name="rendaFormulario" class="cadastro-content">
        <div class="step-header">
            <h1>Rendas</h1>
        </div>

        <div class="step-content">
            <sessao-renda rendas-obj="$ctrl.rendasObj" mostra-sessao="true"></sessao-renda>
        </div>

        <mensagem-erro mensagens="$ctrl.erros"></mensagem-erro>
        <mensagem-sucesso mensagens="$ctrl.sucessos"></mensagem-sucesso>

        <botoes-cadastro
            model="$ctrl.rendasObj"
            on-salvar-rascunho="$ctrl.salvar(model)"
            links="$ctrl.links">
        </botoes-cadastro>
    </form>
</fieldset>
