<form name="veiculoForm" angular-validator-submit="$ctrl.salvar($ctrl.veiculo); veiculoForm.reset()"
    novalidate angular-validator>
    <fieldset  ng-disabled="$ctrl.apenasLeitura">
    	<div class="row">
    		<label for="tipoVeiculo" class="col-md-4">
                <strong>* Tipo</strong>
                <select ng-model="$ctrl.veiculo.tipoVeiculo"
                    name="tipoVeiculo"
                    id="tipoVeiculo"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{tipo.valor}}"
                      ng-repeat="(key, tipo) in $ctrl.tipos">{{tipo.descricao}}
                    </option>
                </select>
            </label>
            <label for="modelo" class="col-md-4">
                <strong>* Modelo</strong>
                <input type="text"
                    name="modelo"
                    id="modelo"
                    uppercase
                    ng-model="$ctrl.veiculo.modelo"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    maxlength="12" />
            </label>
            <label for="marca" class="col-md-4">
                <strong>* Marca</strong>
                <input type="text"
                    ng-model="$ctrl.veiculo.marca"
                    name="marca"
                    id="marca"
                    uppercase
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    maxlength="30" />
            </label>

    	</div>

        <div class="row">
            <label for="anoFabricacao" class="col-md-3">
                <strong> Ano de Fabricação</strong>
                <input class="form-control formData"
                   ui-mask="9999"
                   model-view-value="true"
                   ng-model="$ctrl.veiculo.anoFabricacao"
                   invalid-message="'Data inválida'"
                   name="anoFabricacao"
                   id="anoFabricacao"
                   moment-picker="$ctrl.veiculo.anoFabricacao"
                   format="YYYY"
                   start-view="year"
                   locale="pt-br"
                   max-date="$ctrl.maxDataFabricacao"
                   >
            </label>

            <label for="anoModelo" class="col-md-3">
                <strong>Ano do Modelo</strong>
                <input class="form-control formData"
                   ui-mask="9999"
                   model-view-value="true"
                   ng-model="$ctrl.veiculo.anoModelo"
                   invalid-message="'Data inválida'"
                   name="anoModelo"
                   id="anoModelo"
                   moment-picker="$ctrl.veiculo.anoModelo"
                   format="YYYY"
                   start-view="year"
                   locale="pt-br"
                   ng-disabled="!$ctrl.veiculo.anoFabricacao"
                   max-date="$ctrl.veiculo.anoFabricacao.year() + 2"
                   min-date="$ctrl.veiculo.anoFabricacao.year()"
                   >
            </label>

            <label for="valorVeiculo" class="col-md-3">
                <strong>* Valor</strong>
                <input type="text"
                    ng-model="$ctrl.veiculo.valorVeiculo"
                    ui-money-mask
                    maxlength="21"
                    name="valorVeiculo"
                    id="valorVeiculo"
                    placeholder="R$"
                    required-message="'Campo obrigatório'"
                    required />
            </label>

            <label for="valorAlienado" class="col-md-3">
                <strong>Valor Alienado</strong>
                <input type="text"
                    ng-model="$ctrl.veiculo.valorAlienado"
                    maxlength="21"
                    name="valoralienado"
                    ui-money-mask
                    id="valorAlienado"
                    placeholder="R$" />
            </label>
        </div>

        <div class="row">
            <label for="situacaoVeiculo" class="col-md-3">
                <strong>* Situação</strong>
                <select ng-model="$ctrl.veiculo.situacaoVeiculo"
                    name="situacaoVeiculo"
                    id="situacaoVeiculo"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{situacao.valor}}"
                      ng-repeat="(key, situacao) in $ctrl.situacoes">{{situacao.descricao}}
                    </option>
                </select>
            </label>

            <label for="numeroNotaFiscal" class="col-md-3">
                <strong>NF</strong>
                <input type="text" ng-model="$ctrl.veiculo.numeroNotaFiscal"
                    ui-number-mask="0" ui-hide-group-sep
                    maxlength="8" />
            </label>

            <label for="fornecedor" class="col-md-3">
                <strong>Fornecedor</strong>
                <input type="text" ng-model="$ctrl.veiculo.nomeFornecedor"
                    maxlength="60" uppercase/>
            </label>

            <label for="placa" class="col-md-3">
                <strong>Placa</strong>
                <input type="text"
                       ng-model="$ctrl.veiculo.placa"
                       maxlength="7"
                       name="placaDoCarro"
                       validate-on="blur"
                       ng-pattern="'^[a-zA-Z0-9\-_]{7}$'"
                       invalid-message="'Placa inválida'"/>
            </label>
        </div>

        <div class="row">
            <label for="certificadoNumero" class="col-md-3">
                <strong>Certificado Número</strong>
                <input type="text" ng-model="$ctrl.veiculo.numeroCertificado"
                    ui-number-mask="0" ui-hide-group-sep
                    maxlength="12" />
            </label>

            <label for="chassi" class="col-md-3">
                <strong>Chassi</strong>
                <input type="text"
                       ng-model="$ctrl.veiculo.chassis"
                       maxlength="20"
                       name="chassiCarro"
                       validate-on="blur"
                       ng-pattern="'^[a-zA-Z0-9\-_]*$'"
                       invalid-message="'Chassi inválido'"/>
            </label>

            <label for="renavam" class="col-md-3">
                <strong>RENAVAM</strong>
                <input type="text" ng-model="$ctrl.veiculo.renavam"
                    ui-number-mask="0" ui-hide-group-sep
                    maxlength="15" />
            </label>
        </div>

    </fieldset>
    <div class="btns-add">
        <button type="button"
            id="cancelarVeiculo"
            ng-click="$ctrl.cancelar() && veiculoForm.reset()"
            class="info btn-danger">cancelar</button>
        <button type="submit" id="adicionarVeiculo"
            ng-if="!$ctrl.apenasLeitura"
            class="info info-add">salvar</button>
    </div>
</form>
