<div class="btns-add">
    <button type="button" ng-hide="$ctrl.esconderBotaoNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novoveiculo" class="info info-add">novo</button>
</div>
<hr />
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Modelo</th>
            <th>Ano fabricação</th>
            <th>Valor</th>
            <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : veiculo.modoEdicao }"
            ng-repeat="(index, veiculo) in $ctrl.veiculos">
            <td ng-bind="veiculo.descricaoTipoDeVeiculo"></td>
            <td ng-bind="veiculo.modelo"></td>
            <td ng-bind="veiculo.anoFabricacao.format('YYYY')"></td>
            <td ng-bind="veiculo.valorVeiculo | finance:true"></td>

            <td class="centerText" ng-if="!$ctrl.readonly">
                <button class="glyphicon glyphicon-edit btn btn-warning"
                      type="button"
                      ng-disabled="veiculo.modoEdicao"
                      title="Editar"
                      ng-if="!veiculo.hasVinculoContrato"
                      ng-click="$ctrl.editar(veiculo)" ></button>
                <button class="glyphicon glyphicon-trash btn btn-danger"
                      type="button"
                      ng-disabled="veiculo.modoEdicao"
                      title="Remover"
                      ng-if="!veiculo.hasVinculoContrato"
                      ng-click="$ctrl.remover(veiculo)"></button>
                <button class="glyphicon glyphicon-eye-open btn btn-viz"
                      type="button"
                      ng-disabled="veiculo.modoVisualizacao"
                      title="Remover"
                      ng-if="veiculo.hasVinculoContrato"
                      ng-click="$ctrl.visualizar(veiculo)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.veiculos.length==0">
    Nenhum veículo foi adicionado até o momento
</div>
