<nova-sessao titulo="Veículos" mostra-sessao="$ctrl.mostraSessao">
	<dados-veiculo
		veiculo="$ctrl.veiculo"
		on-salvar="$ctrl.salvar(veiculo)"
		on-cancelar="$ctrl.cancelar()"
		apenas-leitura="$ctrl.apenasLeitura"
		ng-if="$ctrl.mostrarVeiculoForm">
	</dados-veiculo>
	<lista-veiculos
		veiculos="$ctrl.veiculos"
		on-novo="$ctrl.novo()"
		on-editar="$ctrl.editar(veiculo)"
		on-visualizar="$ctrl.visualizar(veiculo)"
		on-remover="$ctrl.remover(veiculo)"
		esconder-botao-novo="$ctrl.mostrarVeiculoForm"
		readonly="$ctrl.readonly"
	></lista-veiculos>
</nova-sessao>
