<fieldset>
    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12 text-center">
            <strong>Amotização Automática</strong>
            <checkbox
                ng-model="$ctrl.indicadoresEmprestimo.amortizacaoAutomatica"
                class="field-checkbox"
            ></checkbox>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12 text-center">
            <strong>Liberação Automática</strong>
            <checkbox
                ng-model="$ctrl.indicadoresEmprestimo.liberacaoAutomatica"
                class="field-checkbox"
            ></checkbox>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12 text-center">
            <strong>Contrato de Pré-Aprovado</strong>
            <checkbox
                ng-model="$ctrl.indicadoresEmprestimo.contratoPreAprovado"
                class="field-checkbox"
            ></checkbox>
        </label>
    </div>
</fieldset>