<fieldset>
    <div class="row">
        <label for="matriculaProponente" class="col-md-4 col-sm-4 col-xs-12">
            <strong>Matrícula do Proponente</strong>
            <input type="text" ng-model="$ctrl.dadosCadastrais.matriculaProponente"
                id="matriculaProponente"
                name="matriculaProponente"
                ng-blur="$ctrl.buscarMatricula($ctrl.dadosCadastrais.matriculaProponente)"
                ui-number-mask="0"
                ui-hide-group-sep
                maxlength="10"
            >
        </label>
        <label for="nomeProponente" class="col-md-4 col-sm-4 col-xs-12">
            <strong>Nome do Proponente</strong>
            <input type="text" ng-model="$ctrl.dadosCadastrais.nomeProponente"
                id="nomeProponente"
                name="nomeProponente"
                ng-disabled="true"
            >
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Situação da Associação</strong>
            <select ng-model="$ctrl.dadosCadastrais.situacaoAssociacao"
                    name="situacaoAssociacao"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{situacao.valor}}" ng-repeat="situacao in $ctrl.situacoes">{{situacao.descricao}}</option>
            </select>
        </label>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <strong>Data da Associação</strong>
            <input type="text" ng-model="$ctrl.dadosCadastrais.dataAssociacao"
                id="dataAssociacao"
                name="dataAssociacao"
                model-view-value="true"
                ui-mask="99/99/9999"
                moment-picker="$ctrl.dadosCadastrais.dataAssociacao"
                start-view="month"
                invalid-message="'Data inválida'"
                ng-blur="$ctrl.validaData($ctrl.dadosCadastrais.dataAssociacao)"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
        </div>
    </div>
</fieldset>
