<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="$ctrl.links"></navegacao>

<fieldset ng-disabled="readonly">
    <form name="cartaoAutografoForm" class="cadastro-content" novalidate angular-validator>
        <div class="step-header">
            <h1>Cartão autógrafo</h1>
        </div>

        <div class="step-content">
            <sessao-cartao-autografo cartoes-autografo="$ctrl.cartoesAutografo"
                on-notificacao="$ctrl.feedbackSucesso(status, mensagem)"
                host="$ctrl.host"
                mostra-sessao="true"
            ></sessao-cartao-autografo>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="!$ctrl.salvoComSucesso && $ctrl.wasCalled">
          <button type="button" class="close" ng-click="$ctrl.salvoComSucesso = !$ctrl.salvoComSucesso" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
            Falha ao salvar Cartão Autógrafo ou Assinatura. Tente novamente mais tarde.
        </div>

        <div class="alert alert-success alert-dismissible" role="alert" ng-show="$ctrl.salvoComSucesso">
            <button type="button" class="close" ng-click="$ctrl.salvoComSucesso = !$ctrl.salvoComSucesso" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Cartão Autógrafo foi salvo com sucesso.
        </div>

        <botoes-cadastro
            model="null"
            on-salvar-rascunho="$ctrl.salvar(model)"
            links="$ctrl.links">
        </botoes-cadastro>
    </form>
</fieldset>
