<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <label class="col-md-10 col-sm-9">
            <strong>{{ !$ctrl.filiacao.nomePaiNaoDeclarado ? "*" : "" }} Nome do Pai</strong>
            <input uppercase type="text" ng-model="$ctrl.filiacao.nomePai"
                name="{{$ctrl.nomeComponente + 'nomePai'}}"
                ng-disabled="$ctrl.filiacao.nomePaiNaoDeclarado"
                class="text-uppercase"
                required-message = "'Campo obrigatório'"
                ng-required="!$ctrl.filiacao.nomePaiNaoDeclarado"
                maxlength="65"
                validate-on="dirty">
        </label>

        <label class="col-md-2 text-center">
            <strong>Não Declarado</strong>
            <checkbox
                ng-model="$ctrl.filiacao.nomePaiNaoDeclarado"
                ng-change="$ctrl.desabilitarNomeDoPai()"
                class="field-checkbox"
            ></checkbox>
        </label>
    </div>
    <div class="row">
        <label class="col-md-10 col-sm-9">
            <strong>{{ !$ctrl.filiacao.nomeMaeNaoDeclarado ? "*" : "" }} Nome da Mãe</strong>
            <input uppercase type="text" ng-model="$ctrl.filiacao.nomeMae"
                name="{{$ctrl.nomeComponente + 'nomeMae'}}"
                ng-disabled="$ctrl.filiacao.nomeMaeNaoDeclarado"
                class="text-uppercase"
                required-message = "'Campo obrigatório'"
                ng-required="!$ctrl.filiacao.nomeMaeNaoDeclarado"
                maxlength="65"
                validate-on="dirty">
        </label>

        <label class="col-md-2 text-center">
            <strong>Não Declarado</strong>
            <checkbox
                ng-model="$ctrl.filiacao.nomeMaeNaoDeclarado"
                ng-change="$ctrl.desabilitarNomeDaMae()"
                class="field-checkbox"
            ></checkbox>
        </label>
    </div>
</fieldset>
