.page-alteracao{
    margin: 10px 0;
}

.list-steps{
    @include border-radius(6px);
    overflow: hidden;
    margin-top: 30px;

    &-item{
        margin-bottom: 20px;

        &.disabled{
            cursor: not-allowed;
        }
    }

    &-link{
        box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
        border: 0;
        border-bottom: 1px solid #CCC;
        background: #4e4f51;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        display: block;
        color: #FFF;
        padding: 20px 0;
        width: 100%;
        border-radius: 4px;

        &:focus{
            color: #FFF;
            outline: none;
        }

        &.disabled{
            box-shadow: none;
            background: #d0d0d0;
            text-decoration: none;
            pointer-events: none;
        }

        &:active{
            color: #FFF;
        }

        &:hover{
            background: #008777;
            color: #FFF;
            text-decoration: none;
        }
    }
}

.step-voltar{
    margin-right: 10px;
}

.modal-cpf{
    height: 270px;

    .uni-modal{
        &--body{
            width: 60%;
            margin: 0 auto;
            @include vertical-align(relative, 43%);
        }
        &--body-align{
            @include vertical-align(relative, 39%);
        }
    }

    .lb-field{
        margin-bottom: 10px;

        .uni-btns{
            width: 100%;
        }
    }

    .combo-cooperativa{
        margin-bottom: 10px;
    }

    .multi-search{
        margin: 0 auto;
        margin-bottom: 10px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        flex-direction: row;

        label{
            &.btn{
                width: 100%;
            }

            font-size: 13px;
            line-height: 14px;
            background-color: #e4e4e4;
            border-color: #dddddd !important;
            color: #a7a7a7;

            &.active, &.focus{
                background-color: $cc-btnConfirma;
                border-color: #43c798 !important;
                box-shadow: none !important;
                outline: 0;
                color: #fff;
            }
            &:active{
                background-color: #3dad84;
            }
        }
    }
    .btn-field{
        margin-bottom: 0;
    }

    .erroModalCPF{
        text-align: center;
        width: 100%;
        color: #f54b5e;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 10px;
    }
}

.modal-status{
    .uni-modal{
        &--body{
            width: 50%;
            margin: 15% auto;
        }
    }

    .user-information{
        width: 80%;
        margin: 0 auto;
        margin-top: 29px;
        text-transform: uppercase;
        color: #008777;
        border-left: 2px solid #00d7be;
        font-size: 12px;
        padding: 3px 10px;
        letter-spacing: 0.5px;

        .user-name{
        }
        .user-cpfCnpj{
            margin-top: 6px;
        }
        .bold{
            font-weight: bold;
        }
        .separator{
            margin: 0 6px;
        }
        .user-matricula{
            display: inline;
            padding-left: 9px;
            margin-left: 6px;
            border-left: 2px solid #00d7be;
        }
        .failedMatricula{
            color: #f8c61c;
            font-size: 14px;
        }
    }

    .status-error{
        position: absolute;

        width: 80%;
        margin-left: 10%;
        margin-top: 15px;

        text-align: center;
        color: $error;
    }

    .hidden-tooltip{
        display: none;
    }

    .status-content{
        @include vertical-align(relative, 24%);
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15%;

    }

    .btns-modal-status{
        width: 80%;
        margin-left: 10%;
        position: absolute;
        bottom: 40px;
    }
    .status-info{
        font-size: 12px;
        width: 80%;
        margin-left: 10%;
        position: absolute;
        bottom: 20px;
        color: #b1b1b1;
    }
}

$loader-border: 3px;
$loader-border-secondary-color: 0.4;
.loader {
    @include border-radius(50%);
    width: 22px;
    height: 22px;
    font-size: 10px;
    margin-top: 4px;
    border-top: $loader-border solid rgba(255, 255, 255, $loader-border-secondary-color);
    border-right: $loader-border solid rgba(255, 255, 255, $loader-border-secondary-color);
    border-bottom: $loader-border solid rgba(255, 255, 255, $loader-border-secondary-color);
    border-left: $loader-border solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load 0.8s infinite linear;
    animation: load 0.8s infinite linear;
}

.loader-dark{
    border-top: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-right: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-bottom: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-left: $loader-border solid #00d7be;
}

$loader-border-sm: 2px;
.loader-sm {
    width: 14px;
    height: 14px;
    border-top: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-right: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-bottom: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-left: $loader-border solid #00d7be;
    display: inline-block;
    position: absolute;
    margin-left: 4px;
    margin-top: 0px;
}


@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.moment-picker-container{
    .moment-picker-specific-views{
        .selected{
            background-color: #00d7be;
            color: #fff;
            background-image: none;
        }

        .highlighted.selected{
            background-color: #008777;
            color: #fff;
        }
    }
}

.page-header{
    .moment-picker{
        float: left;
    }

    .moment-picker-container{
        font-weight: 400;
        font-size: 15px;
    }

    .dataAnaliseUpdate{
        margin-top: 20px;
        margin-bottom: 19px;
        margin-top: 13px;

        strong{
            color: #333;
            font-size: 15px;
            font-weight: 400;
            display: block;
            margin-bottom: 3px;
            margin-top: 10px;
        }
        .updateDataAnalise{
            text-align: center;
            width: 95px;
            font-weight: 400;
            height: 30px;
            &:focus{
                outline: 0;
                box-shadow: none;
                border: 1px solid #00d7be;
            }
        }
        .info {
            min-width: 95px !important;
            float: left;
            margin-left: 6px;
        }
    }
}

/* Progress Bar */
.savingProgress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 15px auto 10px;
  overflow: hidden;

  &.active{
      background-color: #cbf1e3 !important;
  }

  .infiniteProgress {
    background-color: #26a69a;
    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }
    }
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

.pesquisaCadastrado{
    padding-bottom: 15px;
    padding-top: 10px;

    strong {
        font-weight: bold;
    }
}

.searchingCpf{
    margin: 1px auto;
    margin-top: -4px;
    &.active{
        border: 1px solid #cccccc;
        border-top:none;
        @include border-radius(0px);
    }
}

.statusUpdateDataAnalise{
    display: inline-block;
    margin-left: 6px;
    i{
        line-height: 30px;
        &.fa-check{
            color: #26a69a;
        }
        &.fa-times{
            color: #f54b5e;
        }
    }
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginBottom0{
    margin-bottom: 0px;
}
