%clearStyle{
    background-color: transparent;
    @include border-radius (0px);
    border: 0px;
    border-bottom: 1px solid #959595;
    box-shadow: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

%targetGlow{
  -moz-box-shadow:    0 0 5px #00d7be !important;
  -webkit-box-shadow: 0 0 5px #00d7be !important;
   box-shadow:        0 0 5px #00d7be !important;
}

.cadastro-content {
    width: 80%;
    margin: 0 auto;
}

.is-clickable {
    cursor:pointer;
}

.step {
    &-header {
        width: 100%;
        height: 40px;
        background-color: #4e4f51;
        padding: 0px 41px 0px 41px;
        @include border-top-radius(5px);
        h1 {
            letter-spacing: 0.3px;
            color: #FFF;
            text-transform: uppercase;
            font-size: 14px;
            border-left: 2px solid #00d7be;
            padding-left: 13px;
            line-height: 26px;
            margin-top: 7px;
            font-weight: 400;
            float: left;
        }
    }
    &-content {
        padding: 20px 20px 9px 20px;
        box-shadow: 0 5px 5px 0 rgba(81, 81, 77, 0.25);
        background-color: #ffffff;
    }
}

.buttons-control {
     margin: 12px 10px 0 10px;
    .uni-btn {
        padding: 0 18px;
        display: inline-block;
        @include border-radius(5px);
        margin-left: 2px;
        border: 0;
        transition: .2s background-color;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
        font-family: $ff-primary;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-top: 10px;

        min-height: 40px;
        min-width: 170px;
        font-size: 14px;

        & span{
            line-height: 40px;
        }

        &:focus{
            @extend %targetGlow;
        }
        &.uni-confirmaCadastro{
            &.salvandoCadastro{
                cursor:progress;
            }
            &[disabled]{
                opacity: 1;
                background-color: #c5c5c5 !important;
                cursor: not-allowed;
                box-shadow: none;
            }
            & span{
                & i{
                    &.fa-spinner{
                        color: #fff;
                        margin: 0;
                    }
                }
            }
        }
        &.btn-primary{
            background-color: #358ed7;
            &:hover{
                text-decoration: none;
                background-color: darken(#358ed7, 15%);
            }
            &:active{
                box-shadow: none;
            }
            &:disabled {
                background-color: lighten(#358ed7, 15%);
            }
            &:focus{
                @extend %targetGlow;
                background-color: darken(#358ed7, 15%);
            }
        }
        &.primary{
            background: $cc-btnConfirma;
            &:hover{
                text-decoration: none;
                background-color: $cc-btnConfirmaHover;
            }
            &:active{
                box-shadow: none;
            }
            &:disabled {
                background-color: $cc-btnConfirmaDisabled;
            }
            &:focus{
                @extend %targetGlow;
                background-color: $cc-btnConfirmaHover;
            }

            & i{
                line-height: 40px;
                font-size: 20px;
                position: absolute;
                right: 15px;
            }
        }
    }
}

.margin-button-group{
    margin-top: 30px;
}

.info {
    padding: 0;
    display: inline-block;
    @include border-radius(5px);
    margin-left: 2px;
    border: 0;
    transition: .2s all;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $ff-primary;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1.5px;

    min-height: 30px;
    min-width: 120px;
    font-size: 12px;
    line-height: 1.58;

    & .info-sm{
        min-height: 35px;
        min-width: 150px;
    }

    & .info-md{
        min-height: 50px;
        min-width: 150px;
        font-size: 14px;
        line-height: 1.38;
    }

    & .info-lg{
        min-height: 50px;
        min-width: 300px;
        font-size: 14px;
        line-height: 1.36;
    }

    &:disabled {
        cursor: default;
    }
    &-add {
        background: $cc-btnConfirma;
        &:hover{
            text-decoration: none;
            background-color: $cc-btnConfirmaHover;
        }
        &:active{
            box-shadow: none;
        }
        &:disabled {
            background-color: $cc-btnConfirmaDisabled;
            opacity: 0.35;
        }
        &:focus{
            @extend %targetGlow;
            background-color: $cc-btnConfirmaHover;
        }
    }
    &-remove {
        background: $cc-btnCancel;
    }
    &.btn-danger{
        background: $cc-btnCancel;
        &:hover{
            text-decoration: none;
            background-color: $cc-btnCancelHover;
        }
        &:active{
            box-shadow: none;
        }
        &:disabled {
            background-color: $cc-btnCancelDisabled;
            opacity: 0.23;
        }
        &:focus{
            @extend %targetGlow;
            background-color: $cc-btnCancelHover;
        }
    }

    &-default {
        background: $cc-primary;
        box-shadow: none;

        &:hover{
            background-color: #004b35;
            color: #FFF;
        }

        &:active{
            box-shadow: none;
            background-color: #008777;
            color: #FFF;
        }

        &:disabled,
        &.disabled{
            background-color: #008777;
            opacity: 0.35;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.btnCarregarImagem{
    height: 40px;
    line-height: 40px;
    min-width: 170px;

    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1.5px;

    & div{
        font-size: 14px;
    }
}

.btns-add {
    min-height: initial !important;
    margin-top: 10px;
    padding-left: 13px;
    padding-right: 12px;
    text-align: right;
}

.section-repeat {
    margin-bottom: 20px;
    padding-bottom: 20px;
    &.isLast {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.message {
    &-cep {
        font-size: 13px;
        font-weight: 400;
        line-height: 67px;
    }
}

.field {
    &-empresa {
        a {
            text-decoration: none;
            padding: 5px 15px;
            color: #ffffff;
            background: $cc-primary;
            margin: 10px 0;
            @include border-radius(5px);
            .fa {
                vertical-align: middle;
            }
            span {
                font-size: 13px;
                font-weight: 400;
                vertical-align: middle;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &-select {}
}

.step-content {
    margin-bottom: 10px;
    strong {
        color: #333;
        font-size: 15px;
        font-weight: 400;
        display: block;
        margin-bottom: 3px;
        margin-top: 10px;
    }
    input{
        height: 35px;
        @include border-radius(5px);
        border: 1px solid #cccccc;
        width: 100%;
        padding: 0 10px;
        font-size: 16px;
        background: #FFF;
        transition: none;
        font-weight: 400;
        &:focus,
        &:active {
            border-color: $cc-focus;
        }
    }
    textarea{
        resize: vertical;
        @include border-radius(5px);
        border: 1px solid #cccccc;
        width: 100%;
        font-size: 16px;
        background: #FFF;
        transition: none;
        font-weight: 400;
        &:focus,
        &:active {
            -webkit-box-shadow: none;
            outline:0px !important;
            -webkit-appearance:none;
            border-color: $cc-focus;
        }
    }

    select {
        font-size: 15px;
        font-family: $ff-primary;
        font-weight: 400;
        background: #FFF;
        transition: none;
        &:focus,
        &:active {
            border-color: $cc-focus;
        }
    }
    input,
    select {
        &:disabled {
            background: #e8e8e8;
        }
        &.completed {
            border-color: #0097d6;
        }
    }
    label {
        select {
            font-size: 16px;
            width: 100%;
            @include border-radius(5px);
            border: 1px solid #cccccc;
            height: 35px;
            padding: 0 10px;
        }
        &.radio {
            display: inline-block;
            text-align: center;
            margin: 20px 10px 10px;
            vertical-align: top;
            span {
                font-size: 14px;
                text-align: center;
            }
            input {
                width: 15px;
                height: 15px;
                display: block;
                margin: 0 auto 5px auto !important;
                position: relative !important;
            }
        }

        &.newRadio{
            vertical-align: top;
            margin-top: 28px;
            z-index: 1;

            @media (max-width: 520px){
                margin-top: 0px;
            }

            & input[type=radio]{
                position: absolute;
                visibility: hidden;

                &:checked ~ .check {
                  border: 2px solid #959595;
                }

                &:checked ~ .check::before{
                    background: darken(#959595, 25%);
                }

                &:checked ~ span{
                    color: #000;
                }
            }
            span{
                display: block;
                position: relative;
                font-size: 14px;
                font-weight: 400;
                margin: 2px 10px 0px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.15s linear;
                text-align: center;
            }
            .check{
                display: block;
                border: 2px solid #AAAAAA;
                background-color: #fff;
                border-radius: 100%;
                height: 15px;
                width: 15px;
                margin: 0 auto;
                z-index: 5;
                transition: border .15s linear;
                -webkit-transition: border .15s linear;

                &::before {
                    display: block;
                    content: '';
                    border-radius: 100%;
                    height: 7px;
                    width: 7px;
                    top: -25px;
                    margin: 0 auto;
                    margin-top: 2px;
                    transition: background 0.15s linear;
                    -webkit-transition: background 0.15s linear;
                }
            }
            &:hover .check{
                border: 2px solid #000;
            }
        }
        &.marginTop{
            margin-top: 5px;
        }
    }
    .book {
        border-top: 1px solid #000;
        margin-top: 20px;
        padding-top: 30px;
        &.first {
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
        }
    }
}

.nova-sessao{
    .step-section {
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .3px;
        position: relative;
        margin: 0;
        background-color: #6f7073;
        color: #FFF;
        padding: 0px 40px;
        width: 100%;
        border: 0;
        text-align: left;
        border-radius: 4px;

        .tooltip-v{
            cursor: default;
            margin-left: 4px;

            .tooltiptext{
                background-color: #4e4f51;

                &::after{
                    border-color: transparent #4e4f51 transparent transparent;
                }
            }

            .info-sign {
                height: 16px;
                top: 3px;
                position: relative;
            }
        }

        &:focus{
            background-color: darken(#6f7073, 13%);
            @extend %targetGlow;
            color: #07ecd2;
        }

        .fa {
            margin-left: 10px;
            font-size: 16px;
            top: 10px;
            position: relative;
        }

        &.active {
            .fa-angle-down {
                &:before {
                    content: "\f106";
                }
            }
        }

        a.sectionEditIn{
            margin-left: 10px;
            color: #07ecd2;
            font-size: 20px;
            opacity: 0;
            transition: .2s opacity;
            top: 1px;

            &:hover{
                text-decoration: none;
                color: lighten(#07ecd2, 20%);
            }
        }

        &:hover{
            a.sectionEditIn{
                opacity: 1;
            }
        }

        span {
            &.sectionTagIn{
                position: absolute;
                color: #07ecd2;
                right: 10px;
                top: 9px;
                font-size: 20px;
            }
        }

        span.pending{
            color: #f1c40f;
        }

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0;
            z-index: 8;
            display: none;
        }
    }
}

.session-cpf {
    float: right;
    color: #FFF;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

#addEmpresa {
    .modal-header {
        padding: 20px 15px 0 35px;
    }
}

.cadastro-pessoa-fisica-resumo-page {
    .step-content {
        margin-bottom: 30px;
        .book {
            border-top: 1px solid #000;
            padding-top: 20px;
            margin-top: 0;
            &.first {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }
        }
        .row {
            strong {
                margin-bottom: 5px;
                font-weight: 400;
            }
            span {
                margin-bottom: 20px;
                display: block;
                border: 1px solid #cccccc;
                padding: 0 10px;
                height: 35px;
                @include border-radius(5px);
                line-height: 33px;
                font-size: 16px;
            }
        }
    }
}

.cadastro-edit {
    color: #00d7be;
    text-transform: initial;
    text-decoration: underline;
    padding: 0 7px;
    &:hover {
        color: #01ffe1;
    }
}

.cadastro-resumo {
    float: right;
    margin-left: 10px;
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
}

.cadastro-home {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(ds) {
        width: auto;
    }
    @include breakpoint(sx) {
        width: 80%;
    }
    h1 {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        text-align: center;
        color: #008777;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
.cadastro-menu{
    .card-cadastro{
        margin-bottom: 25px;
        padding: 0;
        div{
            .shadowed-box{
                transition: .3s all;
                box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
                @include border-radius(6px);
                &:hover{
                    box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.30);
                }
                & > a{
                    &:hover, &:target, &:active, &:focus{
                        text-decoration: none;
                    }
                    &:hover{
                        figure{
                            background-color: lighten(#008777, 5%);
                        }
                    }
                    figure{
                        transition: .3s all;
                        background-color: #008777;
                        width: 100%;
                        height: 225px;
                        line-height: 225px;
                        @include border-top-radius(6px);
                        img {
                            vertical-align: middle;
                        }
                    }
                    span{
                        background-color: #fff;
                        font-size: 19px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: 0.2px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #008777;
                        display: block;
                        line-height: 75px;
                        @include border-bottom-radius(6px);
                    }
                }
            }
        }
    }
    .disabled-card{
        div{
            .shadowed-box{
                box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
                &:hover{
                    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
                }
                & > a{
                    cursor: not-allowed;
                    pointer-events: none;
                    &:hover{
                        figure{
                            background-color: #d0d0d0;
                        }
                    }
                    figure{
                        background-color: #d0d0d0;
                    }
                    span{
                        color: #d0d0d0;
                    }
                }
            }
        }
    }
}

.style-modal {
    .modal-content {
        @include border-radius(10px);
    }
    .modal-header {
        padding: 0;
    }
}

.modCadastroType {
    .modal-dialog {
        max-width: 380px;
        margin: 30px auto;
    }
    .modal-body {
        text-align: center;
        width: 200px;
        margin: 0 auto;
        padding: 56px 0;
        label {
            display: block;
            text-align: left;
            > span {
                display: block;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 3px;
            }
            .field {
                width: 100%;
                height: 34px;
                border-radius: 4px;
                background-color: #ffffff;
                border: solid 1px #d7d7d7;
                padding: 5px;
                font-weight: 400;
            }
            .md-btn {
                width: 100%;
                margin-top: 10px;
                text-transform: uppercase;
                line-height: 15px;
                span {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

#addEmpresa .modal.fade .modal-dialog {
    /* transform: translate(0, -50%); */
    /* top: 50%; */
}

.error,
.has-error {
    input,
    select {
        border-color: $cc-error !important;
    }
    .error-message,
    .validationMessage {
        font-size: 12px !important;
        color: $cc-error;
        display: block;
        font-weight: 400;
        margin-top: 5px;
    }
}

.nova-sessao {
    @include clearfix;
    background: #f7f7f7;
    padding: 0;
    margin-bottom: 11px;
    @include border-radius(5px);
}

.section-content {
    height: auto;
    padding: 20px 15px 20px 15px;
}

.section-content2 {
    height: auto;
    padding: 20px 0px;
}

.hint {
    font-size: 12px;
    vertical-align: top;
}

.field-checkbox {
    margin: 5px 0;
}

.margin-bottom {
    margin-bottom: 11px
}

.resize-textarea{
    resize:vertical;
}

.marginTop{
    margin-top: 20px;
}

.sectionDiv{
    width: 100%;
    @include border-radius (5px);
    margin-bottom: 10px;
    background-color: #fff;
    padding: 0;

    &.last{
        margin-bottom: 0px;
    }

    &.sectionOpened{
        height: auto;
        box-shadow: 0 5px 5px 0 rgba(81, 81, 77, 0.25);
    }

    & .step-content{
        box-shadow: none;
    }

    button.sectionWrapperHeader{
        @include border-radius (5px);
        width: 100%;
        text-align: left;
        border: none;
        background-color: #4e4f51;
        letter-spacing: 0.3px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 17px;
        padding: 15px 41px 12px 41px;
        font-weight: 400;
        margin: 0;

        &:focus{
            background-color: #2a2a2b;
            @extend %targetGlow;
            color: #07ecd2;
        }

        span.angle{
            font-size: 20px;
        }
        span.titleIn{
            border-left: 2px solid #00d7be;
            padding: 5px 0px 5px 13px;
        }
        span.sectionTag{
            position: absolute;
            color: #00d7be;
            right: 10px;
            top: 11px;
            font-size: 25px;
        }
        span.pending{
            color: #f1c40f;
        }
    }
    .reviewInfo{
        padding: 25px 41px;

        .contentWrapper{
            .page-header{
                margin: 20px 0 0;

                &.firstHeader{
                    margin: 0px 0 20px;
                    margin: 0;
                    border-bottom: 0px;
                }
                h1{
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    a{
                        color: #008777;
                        cursor: pointer;
                        opacity: 0;
                        transition: .3s all;
                        font-size: 22px;
                    }
                }
            }


            &:hover{
                .page-header h1 a{
                    opacity: 1;
                }
            }

            input,select, textarea{
                &,
                &:target,
                &:hover,
                &:active,
                &:focus{
                    @extend %clearStyle;
                }
                &::-webkit-input-placeholder { color:transparent; }
                &::-moz-placeholder { color:transparent; } /* FF 4-18 */
                &::-moz-placeholder { color:transparent; } /* FF 19+ */
                &::-ms-input-placeholder { color:transparent; } /* IE 10+ */
            }
            .select2{
                &-choice,
                &-choice:target,
                &-choice:hover,
                &-choice:active,
                &:focus{
                    @extend %clearStyle;
                }
            }
            .btn-default{
                opacity: 1;
                @extend %clearStyle;
                & i{
                    display: none;
                }
            }

            div.moment-picker{
              @extend %clearStyle;
              & input{
                border-bottom: 0px;
              }
            }
            .select2{
                &-arrow,
                &-arrow:target,
                &-arrow:hover,
                &-arrow:active,{
                    display: none;
                }
            }
        }
    }
}

.legendaResumo{
    padding: 15px 15px 20px;

    .status{
        .statusIn{
            display: inline;
            text-transform: uppercase;

            &:last-of-type{
                margin-left: 20px;
            }

            &.pend{
                color: #f1c40f;
            }

            &.verif{
                color: #06d4bc;
            }
        }
    }
}

.modal{
    &.modal-success{
        .modal-content{
            background-color:#008777;
        }
    }

    &.modal-error{
        .modal-content{
            background-color:#c0392b;
        }
    }
    .modal-content{

        .modal-header{
            color: #fff;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            line-height:30px;
            text-transform: uppercase;
            padding:30px;

            .close{
                font-size:30px;
                opacity: .8;
                text-shadow: none;
            }
        }
    }
}

.centerText{
    text-align: center;
}

.upperText{
    text-transform: uppercase;
}

.enderecoListaCheck{
    color: #11a190 !important;
}

.formData{
    @include border-radius(4px !important);
}

.breakContent{
    word-break: break-word;
}
.keepContent{
    word-break: keep-all;
}

.itemSelecionado {
    background-color: #f8ffc5 !important;
}

.alert {
    margin-bottom: 5px !important;
}

.buttonConfirm{
  margin-bottom: 25px;
}

.currentNav{
  a{
    span{
      color: #005039 !important;
      &:after{
        background-color: #005039 !important;
      }
    }
  }
}

.invalidUiSelect{
    div>span.btn-default{
      border-color: red !important;
    }
    a.select2-choice {
        border-color: red !important;
    }
}

.tableListas{
    background-color: #fff;
    padding: 5px 10px 10px 10px;
    @include border-radius(5px);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #f0f0f0;
    border-collapse: separate;
    border-spacing: 0;
    th{
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 0px solid #4e4f51 !important;
        color: #6f7073;
    }
    tbody{
        tr{
            min-height: 60px;
            &:nth-child(even) {
                background: #f4f3f3;
            }
            &:nth-child(odd) {
                background: #fff;
            }
            &:first-child{
                & td {
                    border-top-style: solid;
                }
            }
            td{
                border: 1px solid #cccccc;
                border-style: none none solid none;
                &:first-child{
                    border-left-style: solid;
                    @include border-radius(5px 0px 0px 5px);
                }
                &:last-child{
                    border-right-style: solid;
                    @include border-radius(0 5px 5px 0);
                }

                text-transform: uppercase;
                & button{
                    font-size: 12px;
                    color: #fff;
                    padding: 5px;
                    width: 22px;
                    height: 22px;
                    margin: 0px 2.5px 2.5px;
                    margin-top: -1px;
                    line-height: 11px;
                    transition: .2s background-color;
                    border: 0;

                    @include border-radius(3px);
                    &.btn-danger{
                        background: $cc-btnCancel;
                        &:hover{
                            text-decoration: none;
                            background-color: $cc-btnCancelHover;
                        }
                        &:disabled {
                            background-color: $cc-btnCancelDisabled;
                        }
                        &:before{
                            margin-left: -1px;
                        }
                    }

                    &.btn-warning{
                        background-color: #f8c61c;
                        &:hover{
                            text-decoration: none;
                            background-color: darken(#f8c61c, 15%);
                        }
                        &:disabled {
                            background-color: lighten(#f8c61c, 15%);
                        }
                        &:before{
                            margin-left: 1px;
                        }
                    }

                    &.btn-viz{
                        background-color: #008777;
                        color: #fff;
                        &:hover{
                            text-decoration: none;
                            background-color: darken(#008777, 15%);
                        }
                        &:disabled {
                            background-color: lighten(#008777, 15%);
                        }
                    }
                }
            }
            &.separator{
                td{
                    background-color: #fff !important;
                    border: none;
                    padding: 0;
                    height: 10px;
                }
            }
            &.innerTitle{
                td{
                    &:first-child{
                        border-top-style: solid;
                        @include border-radius(5px);
                    }
                    background-color: #4e4f51;
                    color: #fff;
                    font-size: 13px;
                    position: relative;
                    padding: 4px 8px;
                }
            }
        }
    }
}

.erroUiSelect{
   font-size: 12px !important;
   color: #ff4638 ;
   display: block;
   font-weight: 400;
   margin-top: 5px;
}

.listaVazia{
    color: #b53531;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.titleInsideSection{
    color: #333;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: -12px;

    span.glyphicon-info-sign{
        font-size: 14px;
    }
}

img.info-sign{
    height: 12px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.alert{
    text-align: center;
    border: 0;
    @include border-radius(0px);
    color: #fff;

    padding: 6px 35px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.4px;

    & button.close{
        top: 0;
        opacity: 1;
        color: #fff;
        transition: .2s color;
        text-shadow: none;

        &:hover{
            color: #4e4f51;
        }
    }

}
.alert-success{
    background-color: $cc-btnConfirma;
}

.alert-danger{
    background-color: $cc-btnCancel;
}

.secaoInterna{
    .nova-sessao{
        background-color: #e8e8e8;
    }
}

$tooltipColor: #6f7073;
$tooltip-width: 250px;
$tooltip-caret-size: 5px;

.tooltip-v {
    position: relative;
    display: inline-block;
    opacity: 1;
    font-family: "Roboto Condensed";

    .tooltiptext{
        width: $tooltip-width;
        background-color: $tooltipColor;
        padding: 10px 10px;
        z-index: 1;
        @include border-radius(5px);

        color: #fff;
        text-align: left;
        font-size: 14px;
        line-height: 1.2em;
        text-transform: none;
        font-weight: 400;

        visibility: hidden;
        opacity: 0;
        transition:opacity 0.2s linear;

        &::after{
            content: "";
            position: absolute;
            margin-top: -$tooltip-caret-size;
            border-width: $tooltip-caret-size;
            border-style: solid;
        }

        &.tooltip{
            &-right, &-left{
                @include vertical-align(absolute);
                &::after{
                    top: 50%;
                }
            }

            &-right{
                left: calc(100% + 7px);
                &::after{
                    right: 100%;
                    border-color: transparent $tooltipColor transparent transparent;
                }
            }

            &-left{
                right: calc(100% + 7px);
                &::after{
                    left: 100%;
                    border-color: transparent transparent transparent $tooltipColor;
                }
            }

            &-top, &-bottom{
                position: absolute;
                left: 50%;
                width: 120px;
                margin-left: - (120px / 2);
                &::after{
                    right: calc(50% - #{$tooltip-caret-size});
                }
            }
            &-top{
                bottom: calc(100% + 7px);
                &::after{
                    bottom: calc(#{$tooltip-caret-size} * -2);
                    border-color: $tooltipColor transparent transparent transparent;
                }
            }
            &-bottom{
                top: calc(100% + 7px);
                &::after{
                    top: -$tooltip-caret-size;
                    border-color: transparent transparent $tooltipColor transparent;
                }
            }
        }
    }
    &:hover{
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }

    &.tooltip-error{
        .tooltiptext{
            width: 50px;
            background-color: #ff7080;
            padding: 6px 10px;

            &.tooltip{
                &-top{
                    width: 110px;
                    margin-left: - (110px / 2);
                    &::after{
                        right: calc(50% - #{$tooltip-caret-size});
                    }
                    bottom: calc(100% + 12px);
                    &::after{
                        bottom: calc(#{$tooltip-caret-size} * -2);
                        border-color: #ff7080 transparent transparent transparent;
                    }
                }
            }
            & a{
                @include border-radius(2px);
                padding: 1px 5px;
                color: #fff;
            }
        }
    }
}

.verticalCenter{
    vertical-align: middle !important;
}

input.tableCheckbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    @include border-radius(3px);
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;

    &:active, &:checked:active{
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:focus{
        outline: 0;
    }

    &:checked {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;

        &:after {
            content: '\2714';
            font-size: 30px;
            position: absolute;
            top: -12px;
            left: 0px;
            color: $cc-btnConfirma;
        }
    }
}

.tablePoderes{
    tbody{
        tr{
            td .hiddenButton{
                float: right;
                visibility: hidden;
                opacity: 0;
                transition: opacity .3s;
                width: auto;
            }

            &:hover td{
                .hiddenButton{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    thead{
        th > .checkAll{
            margin-bottom: 5px;
            span{
                font-size: 10px;
                display: block;
            }
        }
    }
}
