.content {
    width: calc(100% - 174px);
    padding: 31px 65px;
    float: right;
    margin-top: 66px;
    @include breakpoint(sx) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        float: none;
        position: relative;
        padding-top: 66px;
        margin-top: 0;
    }
}

.login-page {
    .header-sidebar {
        display: none;
    }
    .content {
        padding: 0;
        width: 100%;
        float: none;
        margin-top: 0;
    }
}

[mass-autocomplete] {
    position: relative;
}

.ac-container {
    left: 0 !important;
    top: 31px !important;
    .ac-menu {
        a {
            font-size: 14px !important;
            font-weight: 400;
            padding-left: 10px !important;
        }
        .ac-state-focus {
            background-color: rgba(101, 101, 101, 0.1) !important;
        }
        &-item {
            &:hover {
                background-color: rgba(101, 101, 101, 0.1) !important;
            }
        }
    }
}

.fa-spinner {
    color: #11a190;
    margin-top: 25px;
    margin-left: -10px;
    &.animate {
        @include animation(loading 1s linear infinite);
        font-size: 19px;
    }
}

@include keyframes(loading) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

.modal {
    &-title {
        margin: 0;
        line-height: 1.42857;
        font-size: 23px;
        font-weight: 400;
        float: left;
    }
    &-header {
        padding-bottom: 0;
        .close {
            float: right;
            font-size: 24px;
            background: none;
            border: 0;
            cursor: pointer;
        }
    }
    &-header,
    &-body {
        border-bottom: 0;
        padding: 5px 20px 20px;
    }
    &-body {
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

#helpModal {
    .modal-dialog {
        width: 900px;
    }
}

.help {
    &-close {
        font-size: 15px;
        color: #93a1a1;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
        background: none;
        border: 0;
        float: right;
        cursor: pointer;
        position: relative;
        top: -8px;
        right: -10px;
        &:hover {
            color: #656b6b;
        }
    }
    &-component {
        padding: 15px;
    }
    &-body {
        .help-title {
            font-size: 24px;
            font-weight: bold;
            color: #444;
            margin-bottom: 10px;
        }
    }
    &-form {
        position: relative;
    }
    &-form-input {
        height: 53px;
        width: 100%;
        input {
            border: 0;
            @include border-radius(8px);
            background-color: rgba(226, 226, 226, 0.72);
            padding: 5px 55px 5px 15px;
            width: 100%;
            height: 100%;
            font-size: 19px;
        }
    }
    &-form-submit {
        position: absolute;
        right: 0;
        top: 0;
        button {
            height: 53px;
            padding: 0 15px;
            font-size: 20px;
            color: #a7a7a7;
            background: none;
            border: 0;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &-topics {
        width: 100%;
    }
    &-expand {
        text-align: left;
        display: block;
        width: 100%;
        border: 0;
        padding: 8px 15px;
        color: #008877;
        font-size: 15px;
        font-weight: bold;
        background: none;
        font-family: $ff-primary;
        cursor: pointer;
        &:hover {
            background: rgba(234, 234, 234, 0.73);
        }
        span {
            font-weight: 400;
        }
        .fa {
            font-size: 14px;
            position: relative;
            top: 0px;
            margin-right: 2px;
        }
    }
    &-content {
        max-height: 500px;
        overflow: auto;
        display: none;
        padding: 15px 32px 20px 32px;
        border-bottom: 1px solid #CCC;
        line-height: 23px;
    }
}

.modal-footer {
    background: #FFF;
}

.message-login {
    display: block;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 10px;
    color: #d80000;
    font-size: 14px;
}

.page{
    &-header{
        @include clearfix;
        padding: 10px 0;
        border-bottom: 1px solid #dedede;
        margin: 0;
        letter-spacing: 0.5px;

        @include breakpoint(sx){
            margin-top: 20px;
        }

        &--title{
            text-transform: uppercase;
            vertical-align: middle;
            display: inline-block;
            margin-bottom: 20px;
            line-height: 28px;
            color: #008777;
            font-size: 20px;
            margin: 0;

            strong{
                font-weight: bold;
            }
        }

        &--user{
            float: right;
            display: inline-block;
            text-align: right;
            font-size: 13px;
            color: #008777;
            text-transform: uppercase;
            vertical-align: middle;
        }

        &--nome{
            display: block;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }

        &--dados{
            display: block;
            margin-bottom: 5px;
            &.-noName{
                line-height: 28px;
            }
        }

        .separator{
            border-left: 2px solid #00d7be;
            margin-right: 7px;
            margin-left: 4px;
        }
    }
}

.combo-cooperativa {
    margin-bottom: 13px;

    &:disabled,
    &[disabled]{

        .ui-select-match,
        .select2-arrow{
            cursor: not-allowed;
            background: #e4e4e4 !important;
        }

        .select2-chosen{
            color: #a7a7a7 !important;
        }
    }
}

.select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow b,
.select2-search input,
html[dir="rtl"] .select2-search input,
.select2-search-choice-close{
    background: none;
}

.login-content_form{
    .select2-container .select2-choice > .select2-chosen{
        color: #737373;
    }

    .select2-results .select2-highlighted{
        background: #008777;
    }

    label{
        input{
            color: #999;
        }

        .select2-search{
            > input{
                padding: 0 6px;
                background: #FFF;
                border: 1px solid #bfbfbf;
                height: 35px !important;
                border-radius: 0;

                &:focus{
                    box-shadow: none;
                    border-color: #bfbfbf;
                }
            }
        }
    }
}

.ui-select-bootstrap > .ui-select-match > .btn{
    padding: 6px 22px 6px 12px;
}

.ui-select-dropdown.dropdown-menu{
    width: 100%;

    .ui-select-choices-row.active{
        .ui-select-choices-row-inner{
            background-color: #008777;
        }
    }
}
