.band {
  // Layout rules
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1280px;

  .loading {
    opacity: 0;
    position: absolute;
    top: 0;
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;

    &.active {
      opacity: 1;
    }
  }

  &.map-band.full-bleed {
    margin-bottom: 30px;
  }
  &.viewfinder-image-band {
    .img-container img {
      display: block;
    }
  }
  &.map-band {
    position: relative;

    #map-canvas {
      height: 420px;
      width: 100%;
      margin: 0px;
      padding: 0px;
      opacity: 0.33;
      transition: all 500ms ease-in-out;

      @media all and (max-width: rem-calc(780)) {
        height: 260px;
      }

      &.active {
        opacity: 1.0;
      }
    }
  }
  &.three-up-band {
    @media all and (max-width: $bp-large-2) {
      .gi {
        width: 100%;
        padding:0 0 3px 0;
        .content-container {
          position: relative;
          margin-bottom: 10px;
          &.video-item {
            .stats{display: none;}
            .stats-container{padding-left: 0;}
            h4{
              float: none;
              width: 100%;
              padding: 0;
            }
          }
          h4 {
            width: 50%;
            float: right;
            padding-left: 20px;
            min-height: 32px;
          }
          img {
            width: 50%;
            //clear: both;
            //position: absolute;
            float: left;
            left: 0;
          }
          .cta-text {
            width: 50%;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 50%;
            padding-left: 20px;
          }
          .cta-link {
            width: 50%;
            float: right;
            right: 0;
            bottom: 0;
            padding-left: 20px;
            padding-bottom: 0;
          }
        }
        &:first-child {
          padding-top: 0;
          padding-bottom: 3px;
        }
        &:last-child {
          padding-top: 0;
        }
      }
    }
    @media all and (max-width: $bp-small-3) {
      .gi-wrap-test {
        //margin-bottom: 50px;
        .content-container {
          position: relative;
          h4 {
            float: none;
            position: relative;
            width: 100%;
            padding: 0;
          }
          img {
            width: 100%;
            clear: both;
            position: relative;
          }
          .cta-text {
            width: 100%;
            float: none;
            margin-left: 0;
            padding-left: 0;
            p {
              margin-bottom: 0.5em;
            }
          }
          .cta-link {
            width: 100%;
            right: 0;
            bottom: 0;
            padding-bottom: 20px;
            position: relative;
            float: none;
          }
        }
      }
    }
    @media (min-width: 637px) and (max-width: $bp-large-2){
      .gi-wrap-test .content-container.video-item{
        .stats{display: none;}
        .stat-text{text-align: right;}

        .btn{margin-top: 20px;}
      }
    }
  }

  .location-subheading {
      margin: 0;
  }

  .location-heading-wrapper {
    padding: 40px 0 40px 60px;
  }

  @media all and (max-width: rem-calc(1280)) {
    margin: 0 40px;
    &.addthis_sharing_toolbox {
      padding: 0;
    }
  }

  @media all and (max-width: rem-calc(780)) {
    margin: 0 4%;
    &.addthis_sharing_toolbox {
      float: none;
    }
  }
  .g, .gi  {
    padding: 0;
    margin: 0;
  }

  &.full-bleed {
    padding: rem-calc(0 0);
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    img.placeholder {
      width: 100%;
    }
    &.explore-image {
      .img-container {
        background-size: cover;
        background-position: center;
        height: 500px;
        @media all and (max-width: $bp-large-2) {
          height: 350px;
        }
        @media all and (max-width: $bp-small-3) {
          height: 250px;
        }
        .greenInfoBlock {
          bottom: 0 !important;
        }
      }
    }
  }

  &.full-horizontal-bleed {
    margin: 0;
    padding: rem-calc(45 0);
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    &.no-padding {
      padding: 0;
    }
  }

  &.full-vertical-bleed {
    padding: rem-calc(0 96);
  }

  .centered-container {
    text-align: center;
  }

  &.gray-band {
    background-color: $lightestGray;
  }

  &.border-band {
    border-top: 1px solid $lightGray;
  }

  &.padded-band {
    padding: rem-calc(80);
  }

  h2.title {
    height: 2.5em;
    font-family: $heavy;
    color: $black;
    text-transform: uppercase;
  }

  // Typography rules
  h3 {
    color: $black;
    font-family: $medium;
    padding-bottom: rem-calc(8);
  }

  ul, ol {
    list-style: inherit;
    margin-left: rem-calc(20);
    li {
      line-height: rem-calc(18);
      margin-bottom: rem-calc(24);
    }
  }

  a {
    color: $enterpriseGreen;
    font-family: $regular;
    &:hover {
      color: $darkGreen;
    }
    &.btn {
      color: $white;
      &.btn-primary {
        min-height: 50px;
        font-size: 17px;
        font-family: $bold;
        padding-bottom: 0em;
        padding-top: 0.8em;
      }
    }
    &.cta-link {
      .icon {
        margin-right: 0;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: -5px;
      }
    }
  }

  .pullquote {
    border: 0 none;
    line-height: rem-calc(33.35);
    margin: 0 0 20px 0;
    padding-left: 0;
    p {
      font-size: 27px;
      line-height: 36px;
      letter-spacing: 1.1px;
    }

    @media all and (max-width: $bp-med) {
      padding-left: rem-calc(24);
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(36);
    }
  }
}

#view-larger {
  right: 15px !important;
  top: 15px !important;
  padding: 7px 10px;
  line-height: 1;
  border: 1px solid $darkGray;
  font-family: $regular;
  cursor: pointer;
  color: $white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6);
}

.countrypage,
.statepage,
.citypage {
    .band p,
    .location-band.descriptive-band .description p {
        font-size: 15px;
        line-height: 1.65;
    }
}
.section.Text, .section.text{
  a{
    color: $enterpriseGreen;
    &:hover{color: $enterpriseDarkGreen;}
  }

  h2, h3{
    a{
      font-size: 20px;
    }
  }
}
.profile-tab-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-sizing: content-box;
  position: relative;
  height: 0;
  padding-bottom: 46.25%;
  overflow: hidden;
  margin-bottom: 60px;
  .details {
    h2 {
      top: 6%;
      left: 0;
      font-family: $heavy;
      font-size: 2.5vw;
      text-transform: uppercase;
      position: absolute;
      z-index: 3;
      width: 30%;
      text-align: center;
    }
    p.started {
      top: 20%;
      left: 0;
      font-family: $light;
      font-size: 1.2vw;
      position: absolute;
      z-index: 3;
      width: 30%;
      text-align: center;
    }
    i.icon-year {
      top: 25%;
      left: 0;
      font-family: $bold;
      font-style: normal;
      font-size: 1.2vw;
      position: absolute;
      z-index: 3;
      width: 30%;
      text-align: center;
    }
    .employee-testimonial{
      position: absolute;
      top: 50%;
      right: 1%;
      z-index: 3;
      width: 25%;
      margin-top: -6vw;//this compensates for ".tabs"
      transform: translateY(-50%);
    }
    h3.name {
      font-family: $light;
      font-size: 2.5vw;
      text-align: left;
      right: 1%;
    }
    blockquote {
      border-left: 0;
      margin: 0;
      padding: 0;
      font-family: $light;
      font-size: 1.2vw;
      font-style: normal;
      text-align: left;
    }
  }

  .profile {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    img {
      width: 100%;
      margin-top: -5%;
    }
  }
  .tabs {
    height: 15vw;
    position: absolute;
    width: 100%;
    top: 74%;
    z-index: 3;
  }
  .tab {
    width: 14.285%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  .tab img {
    width: 190%;
    height: 105%;
    position: absolute;
    left: -45%;
    max-width: none;
  }
  //1056
  @media all and (max-width: $bp-large-2) {
    .details {
      h2 {
        font-size: 3.5vw;
        top: 9%;
      }
      p.started {
        font-size: 2.2vw;
      }
      i.icon-year {
        font-size: 2.2vw;
        top: 28%;
      }
      .employee-testimonial {
        h3.name {
          font-size: 3.5vw;
        }
        blockquote {
          font-size: 1.4vw;
        }
      }
    }
  }
  @media all and (max-width: 1024px) {
    .name {
      word-wrap: break-word;
    }
    blockquote {
      display: none;
    }
  }
  @media all and (max-width: $bp-med-2) {
    blockquote {
      display: none;
    }
  }
  //636
  @media all and (max-width: $bp-small-3) {
    .details {
      h2 {
        font-size: 4.5vw;
      }
      p.started {
        font-size: 3.2vw;
        top: 30%;
      }
      i.icon-year {
        font-size: 3.2vw;
        top: 40%;
      }
      .employee-testimonial {
        blockquote {
          display: none;
        }
      }
    }
  }
  //476
  @media all and (max-width: $bp-small-2) {
    .details {
      h2 {
        font-size: 5.5vw;
        top: 20%;
      }
      p.started {
        display: none;
      }
      i.icon-year {
        display: none;
      }
      .employee-testimonial {
        h3.name {
          font-size: 4.5vw;
        }
        blockquote {
          display: none;
        }
      }
    }
  }
}
.worldwide-descriptive-band,
.country-descriptive-band,
.state-descriptive-band {
  //padding-top: rem-calc(80);
}
.businessThreeUp{
  //margin-bottom: 50px;
}
.businessIntroBand{
  margin-top: 10px;
  .image-band {
    .img-container{}
  }
}
.interrupter-large-band {
  padding: 40px 0;
}
.mobile-smart-band {
  background: $white;
  max-height: 425px;
  overflow: hidden;
  .g-3up {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 10px;
    .gi-2-3 {
      padding-top: 5em;
      padding-left: 10em;
      @media all and (max-width: $bp-med) {
        width: 100%;
      }
      .mobile-subhead {
        text-transform: uppercase;
        font-size: .875rem;
        font-family: $bold;
        padding-bottom: .625rem;
        margin-bottom: 0;
      }
      .beta {
        margin-bottom: 0.5em;
      }
      .mobile-smart-main-content {
        margin-bottom: 3em;
        p {
          margin-bottom: 0;
        }
      }
      .icon-band {
        margin-top: 0.5em;
        a.google-play-link {
          height: 45px;
          width: 129px;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 0;
          margin-top: -2px;
          @media all and (max-width: $bp-small) {
            margin-left: 0;
          }
        }
        .icon {
          float: left;
          margin-right: .3125rem;
          width: 135px;
          height: 40px;
          border-radius: 3px;
        }
      }
    }
    .gi {
      @media all and (max-width: $bp-med) {
        width: 100%;
      }
      img {
        width: 75%;
        height: 75%;
        margin: 0 auto;
        @media all and (max-width: $bp-med) {
          width: 50%;
          height: 50%;
        }
      }
    }

  }
}
.helperText{
  margin: 10px 0 0;
  font-size: rem-calc(12);
  color: $darkGray;
}
@media all and (max-width: rem-calc(780)) {
  .worldwide-descriptive-band,
  .country-descriptive-band,
  .state-descriptive-band {
    padding-top: 0;
  }

  .band.location-band,
  .band.location-band .cf {
      padding-top: 0;
  }

  .band.location-band.region-list .cf {
      margin-bottom: 0;
  }
  .band.location-band.region-list .cf ul {
      margin-bottom: 50px;
  }

  .band .location-heading-wrapper {
      padding: 20px 0 20px 4%;
  }
}

@media(max-width: $bp-med-2){
  .mobile-smart-band{
    max-height: none;
    .g-3up .gi-2-3{
      padding: 20px;

      .mobile-smart-main-content{display: none;}
    }
    .image-holder{display: none;}
  }
}
