.carousel {
	div.carousel-controls {
		div.prev, div.next {
			position: absolute;
			width: 3%;
			z-index: 4;
			margin-top: 22%;
			cursor: pointer;
			width: 20px;
			height: 20px;
		}
		div.prev {
			left: 2%;
		}
		div.next {
			right: 2%;
		}
	}
	div.carousel-container {
		position: relative;
		height: 0;
		box-sizing: content-box;
		padding-bottom: 47%;
		overflow: hidden;
		@media all and (max-width: $bp-med-2) {
		  padding-bottom: 85%;
		}
		.indexSlideshow {
			p {
				margin-top: 2em;
			}
		}
		.main-road {
			display: none;
			width: 100%;
	    position: absolute;
	    height: 65px;
	    bottom: 60px;
	    background-repeat: repeat-x;
	    background-position: left center;
		}
		.moving-car {
			display: none;
			position: absolute;
			width: 142px;
    	height: 55px;
			bottom: 123px;
			transition: left .4s linear;
			left: 0;
			&.flip {
				-ms-transform: rotateY(180deg);
		    -webkit-transform: rotateY(180deg);
		    transform: rotateY(180deg);
			}
		}
	}
	div.partialpage {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&.active {
			transition: all .4s ease-in-out;
		}
		.slide {
			&.layout-1 {
				height: 100%;
				background: $enterpriseGreen;
				.slide-content{
					background-position: 0 90%;
					background-size: 100%;
					background-repeat: no-repeat;
					height: 100%;
					position: relative;
					h2 {
						font-size: 3em;
						color: $white;
						//position: absolute;
						z-index: 2;
						//top: 17%;
						//left: 25%;
						//right: 25%;

						padding-top: 6%;
				    text-align: center;
				    position: relative;
				    @media all and (max-width: $bp-small-3) {
				    	font-size: 2em;
				    }
				    @media all and (max-width: $bp-small) {
				    	font-size: 1.5em;
				    }
					}
					p {
						color: $white;
						//position: absolute;
						z-index: 2;
						//top: 27.5%;
						//left: 25%;
						//right: 25%;

						width: 56%;
				    margin: 0 auto;
				    position: relative;
				    @media all and (max-width: $bp-small-3) {
				    	width: 85%;
				    	font-size: 15px;
				    }
					}
					img {
						position: absolute;
						z-index: 1;
						width: 20%;
						left: 79%;
    				top: 2%;
    				@media all and (max-width: $bp-small-2) {
    					display: none;
    				}
 					}
				}
			}
			&.layout-2 {
				height: 100%;
				background: $lightestGray;
				background: linear-gradient(0deg, $lightGray 0%, $lightestGray 50%, $lightGray 100%);
				background-repeat: no-repeat;
				.slide-content{
					background-position: bottom;
					background-size: 80%;
					background-repeat: no-repeat;
					height: 100%;
					position: relative;
					@media all and(max-width: 600px) {
						background-size: 100%;
					}
					h2 {
						font-size: 3vw;
						color: $black;
						position: absolute;
						z-index: 2;
						top: 17%;
						left: 27.5%;
						right: 26%;
						@media all and (max-width: 600px) {
							top: 5%;
    					left: 21.5%;
    					font-size: 4vw;
						}
						@media all and(max-width: $bp-small-2) {
							left: 7.5%;
    					font-size: 6vw;
    					right: 12%;
						}
					}

					p {
						color: $black;
						position: absolute;
						z-index: 2;
						font-size: 1.2vw;
						top: 25.5%;
						left: 27.5%;
						right: 27%;
						@media all and (max-width: $bp-large-2) {
							font-size: 1.7vw;
						}
						@media all and (max-width: $bp-med-2) {
							font-size: 1.9vw;
						}
						@media all and (max-width: 600px) {
							top: 13.5%;
    					left: 21.5%;
    					font-size: 2.3vw;
						}
						@media all and(max-width: $bp-small-2) {
							display: none;
						}
					}

					img {
						position: absolute;
						z-index: 1;
					}
					aside {
						position: absolute;
						z-index: 2;
						left: 69%;
						top: 17%;
						right: 6%;
						font-size: 1.2vw;
						@media all and(max-width: 600px) {
							left: 76%;
	    				top: 2%;
							right: 2%;
						}

					}
					div.fact {
						position: absolute;
						z-index: 2;
						left: 28%;
						top: 51%;
						width: 12%;
						color: $white;
						font-size: 1.2vw;
						&.second {
							left: 41%;
						}
						p {
							left: 0;
							right: 0;
							padding: 5px;
							text-align: center;
  						color: #FFFFFF;
  						@media all and (max-width: $bp-med-2) {
								font-size: 1.7vw;
							}
							@media all and (max-width: 600px) {
								font-size: 2.3vw;
							}
						}
						@media all and(max-width: 600px) {
							left: 22%;
					    top: 39%;
					    width: 15%;
						}
					}
				}
			}
			&.layout-3 {
				height: 100%;
				background: $enterpriseGreen;
				.slide-content{
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					height: 100%;
					position: relative;
					.cta {
						position: absolute;
						top: 20%;
						bottom: 20%;
						left: 20%;
						right: 20%;
						background: $white;
						@media all and (max-width: $bp-small-3) {
							width: 90%;
					    height: 100%;
					    left: 5%;
					    position: relative;
					    top: 0;
					    bottom: 0;
					    right: 0;
						}
						section {
							position: absolute;
							top: 3%;
							left: 1.75%;
							right: 1.75%;
							bottom: 3%;
							border: 2px solid $enterpriseGreen;
						}
						h2 {
							font-family: $medium;
							font-size: rem-calc(36);
							//position: absolute;
							z-index: 2;
							//top: 5%;
							//left: 25%;
							//right: 25%;
							text-align: center;
						  text-transform: capitalize;

						  position: relative;
					    text-align: center;
					    width: 100%;
					    @media all and (max-width: $bp-small-2) {
								font-size: rem-calc(24);
							}
						}
						p {
						  width: 100%;
						  text-align: center;
						  //position: absolute;
						  z-index: 2;
						  //top: 20%;
						  //left: 12.5%;
						}
						a {
							position: absolute;
							z-index: 3;
							bottom: 0;
							width: 100%;
							min-height: 1.5em;
							line-height: 0.9em;
						}
					}
				}
			}
			&.layout-4 {
				background: $enterpriseGreen;
				height: 100%;
				.slide-content {
					float: left;
					width: 50%;
					padding: 10%;
					h4.eyebrow {
						color: $white;
					  	font-family: $light;
					}
					h2 {
						font-size: 3em;
						color: $white;
					}
					p {
						color: $white;
					  	font-family: $light;
					}

				  @media all and (max-width: $bp-med-2) {
					width: 100%;
					h4.eyebrow {
					  text-align: center;
					}
					h2 {
					  text-align: center;
					}
					p {
					  text-align: center;
					}
				  }
				}
				.image-container {
					width: 50%;
					float: left;
					img {
						width: 100%;
						max-width: none;
					}
				  @media all and (max-width: $bp-med-2) {
						bottom: 85px;
					  float: none;
					  margin: 0 auto;
					}
					@media all and (max-width: $bp-small) {
						display: none;
					}
				}
			}
			&.layout-5 {
				background: $enterpriseGreen;
				height: 100%;
				.slide-content {
					float: left;
					width: 50%;
					padding: 10%;
					.container {
						position: absolute;
						top: 20%;
						bottom: 20%;
						left: 20%;
						right: 20%;
						background: $white;
						.content-container {
							width: 50%;
							height: 100%;
							float: left;
						}
						.stats-container {
							width: 50%;
							height: 100%;
							float: right;
							background: $lightestGray;
							figure {
								padding: 2% 10%;
								.icon {
									width: 2.8vw;
									height: 2.8vw;
									float: left;
									margin: 1.5vw 3vw 0 0;
								}
								.icon-figure {
									float: left;
									font-size: 4vw;
									line-height: 4vw;
									margin-top: 1vw;
								}
								.icon-label {
									clear: both;
									display: block;
									font-size: 1vw;
								}
							}
						}
					}
					.eyebrow {
						color: $black;
						font-family: $medium;
						margin: 20% 0 0 15%;
						font-size: 1.1vw;
					}
					h2 {
						font-size: 2.5vw;
						color: $black;
						margin-left: 15%;
						width: 80%;
					}
					p {
						color: $black;
						margin: 3% 0 0 15%;
						width: 70%;
						font-size: 1.2vw;
					}
				}
				.image-container {
					width: 50%;
					float: left;
					img {
						width: 100%;
						max-width: none;
					}
				}
			}
		}
	}
}

.de_de{
	.carousel {
		div.partialpage {
			.slide.layout-2 {
				.slide-content {
					h2 {
						top: 6%;
					}
					.fact {
						display: none !important;
					}
					aside {
						left: 75%;
						p {
							left: 0;
						}
						@media all and (max-width: 600px) {
							left: 81%;
    					top: 6%;
						}
					}
					.slide-text {
						p {
							top: 15.5%;
							@media all and (max-width: $bp-large-2) {
								font-size: 1.3vw;
							}
							@media all and (max-width: $bp-med ) {
								font-size: 1.9vw;
							}
							@media all and (max-width: 600px) {
								top: 18.5%;
								font-size: 2.1vw;
							}
						}
					}
				}
			}
		}
	}
}
.magazine-landing-intro-carousel {
	.carousel {
		padding: 0 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
		.carousel-controls {
			display: table;
			width: 100%;
			div.prev, div.next{
				position: relative;
				display: table-cell;
				vertical-align: middle;
				cursor: auto;
				@media all and (max-width: $bp-small-3) {
					width: 5%;
				}
				div.prev-button, div.next-button{
					cursor: pointer;
					width: 50px;
				    height: 50px;
			    	background-color: $white;
		    		background-position: center;
		    		background-size: 20px;
		    		background-repeat: no-repeat;
				}
				div.prev-button {
					background-image: url('/etc/designs/ecom/dist/img/icons/png/nav-carrot-left.png');
				}
				div.next-button {
					background-image: url('/etc/designs/ecom/dist/img/icons/png/nav-carrot.png');
				}
		    }
		    div.prev {
		    	left: 4%;
		    }
		    div.next {
		    	right: 4%;
		    }
		}
		.carousel-container {
			padding-bottom: 0;
			height: auto;
			min-height: 300px;
			transition: all 250ms ease-in-out;
			@media all and (max-width: $bp-small-2) {
				min-height: 215px;
			}
			.partialpage {
				height: auto;
				.slide {
					height: auto;
					.slide-magazine {
						position: relative;
				    overflow: hidden;
				    background-size: cover;
				    background-position: bottom;
						background-repeat: no-repeat;
						height: auto;
						.cta-content {
							display: table-cell;
							@media all and ($bp-small-3) {
	    						width: 90%;
	    					}
						}
						.cta {
						background: #ffffff;
				      	width: 50%;
				      	padding: 5px;
				      	position: relative;
	    				margin: 10% auto;
	    				cursor:pointer;
	    				@media all and (max-width: $bp-small-3) {
	    						margin: 25% 0;
	    						width: 100%;
	    				}
							.indexSlideshow {
						        border: 2px solid $enterpriseGreen;
						        height: 88%;
				        		padding-top: 20px;
				        		h1,h2 {
				          			color: $black;
				          			font-family: $medium;
				          			font-size: rem-calc(36);
				          			margin: 0 auto;
				          			text-align: center;
				          			@media all and (max-width: $bp-large-2) {
				          				font-size: 18px;
				          			}
				        		}
						        p, a {
						            width: 80%;
						            text-align: center;
				        		    margin: 1em auto;
						        }
				        		a {
				          			display: block;
				        		}
				        		.btn {
				        			margin: 0;
	    							width: 100%;
				        		}
				      		}
				    	}
			  		}
				}
			}
		}
	}
}
