.category-band {
  margin-right: 0;
  margin-left: 4%;
  max-width: 100%;
  position: relative;
  .category-nav-wrapper {
    position: relative;
    .category-nav {
      overflow: hidden;
      position: relative;
      height: 400px;
      .track {
        //width: 2000px;
        left: 50px;
        position: absolute;
        transition: all 250ms ease-in-out;
        .track-item {
          //background-color: $lightestGray;
          display: inline-block;
          float: left;
          height: 328px;
          margin-right: 20px;
          width: 294px;
          h3 {
            color: $enterpriseGreen;
            margin-top: 15px;
            a {
              font-family: $medium;
            }
          }
          p {
            color: $darkestGray;
            font-family: $light;
            font-size: 16px;
          }
        }
      }
    }
    .nxt {
      right: 2%
    }
  }

  .category-details-panel {
    background-color: $enterpriseGreen;
    color: $white;
    display: none;
    &.active {
      display: block;
    }
  }
}
