.contextual-band {
  background-color: $white;
  border: 1px solid $lightGray;
  padding: 0;

  .img-container, .content-container {
    position: relative;
    box-sizing: content-box;
    height: 0;
    padding-bottom: 56.25%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .content-container {
    margin: 50% auto;
    text-align: center;
    width: 90%;

    h3 {
      color: $enterpriseGreen;
      font-size: rem-calc(18);
    }
    @media all and (max-width: $bp-large-2) {
      margin: 0 auto;
    }
    @media all and (max-width: $bp-med) {
      margin-bottom: 0;
      margin-top: 40px;
    }
  }
  @media all and(max-width: $bp-large) {
    .gi {
      width: 100%;
      float: none;
      .content-container {
        margin: 0;
        height: 100%;
        padding: 20px 0;
      }
    }
  }
}

.contextual-two-up-band {
  padding: 40px 0;

  .header {
    width: 50%;
    margin: rem-calc(46) auto;
    text-align: center;
    p {
      color: $darkGray;
      font-size: 21px;
      margin-top: 10px;
    }
    @media all and (max-width: $bp-large) {
      width: 80%;
    }
    @media all and (max-width: $bp-med) {
      width: 100%;

      h2  {
        margin-bottom: 6px;
        font-size: 32px;
      }
    }
  }
  a {
    &:hover:not(.btn) {
      text-decoration: underline;
    }
  }
  .gi:first-child {
    padding-right: rem-calc(12);

    @media all and (max-width: $bp-med) {
      margin-bottom: rem-calc(30);
      padding-right: 0;
    }
  }

  .gi:last-child {
    padding-left: rem-calc(12);

    @media all and (max-width: $bp-med) {
      padding-left: 0;
    }
  }

  .img-container {
    position: relative;
    box-sizing: content-box;
    height: 0;
    padding-bottom: 56.25%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .content-container h3 {
    padding: rem-calc(12 0);
    font-size: 21px;
  }

  .content-container p {
    width: 75%;
    @media all and (max-width: $bp-xl) {
      width: 90%;
    }
    @media all and (max-width: $bp-med) {
      width: 100%;
    }
  }
}
