.contact-band {
	padding: 3% 3% 0 3%;

	.contact-band-title {
		border-bottom: 3px solid #000;
		font-family: $bold;
		font-size: 25px;
		line-height: 1;
		width: 100%;

		@media (min-width: $bp-med){font-size: 30px;}
	}
	.contact-band-links {
		float: left;
		width: 35%;
		padding: 2% 0;


		a {
			display: block;

			&.contact-band-link {
				margin: 5% 0;
				font-family: $medium;
				line-height: 1;
			}
		}
	}

	ul.contact-band-information {
		@media (min-width: 700px){
			float: right;
			width: 60%;
		}
		margin: 0;
		padding: 2% 0;

		li {
			padding: 1% 0;
			margin: 1% 0;
			list-style: none;
			border-bottom: 1px solid $lightGray;

			&:last-child {
				border-bottom: 1px solid $darkGray;
			}
			.contact-title {
				font-size: 16px;
				margin: 0;
				float: left;
				@media (max-width: 699px){
					max-width: 100%;
				}
			}
			.contact-number {
				float: right;
			}
		}
	}
}

@media all and (max-width: rem-calc(500)) {
	.contact-band {
		.contact-band-links {
			width: 100%;

			.btn {
				margin: 10px 0;
			}
		}
	}
}



@media (max-width: 699px){
	.contact-band {
		.contact-band-information{clear: both;}

		.contact-band-links{
			width: 100%;
			padding-bottom: 0;
			.contact-band-link{
				margin-bottom: 0px;
			}
		}
	}
}