.contact-blocks-band {
	background: $heroGray;
	width: 100%;
	margin: 0;
	padding: 0;
	max-width: none;
	.contact-block-wrapper {
		width: 33.33%;
		padding: 1% .5% 0 .5%;
		height: 450px;
		float: left;

		.contact-block {
			background: #FFF;
			width: 100%;
			height: 100%;
			padding: 25% 15%;
			box-shadow: 0px 3px 2px rgba(0,0,0,.2);

			.block-heading-text {
				font-family: $medium;
				font-size: rem-calc(30);
				line-height: rem-calc(32);
			}

			a {
				display: block;
				font-family: $medium;
			}

			.block-heading-division {
				font-family: $regular;
				font-size: rem-calc(20);
			}

			.block-heading-number {
				font-family: $light;
				font-size: rem-calc(40);
			}

			&.inverse {
				background: #000;
				color: #FFF;
			}
		}
	}
}

@media all and (max-width: rem-calc(1200)) {
	.contact-blocks-band {
		.contact-block-wrapper {
			width: 50%;
			height: 400px;
		}
	}
}

@media all and (max-width: rem-calc(500)) {
	.contact-blocks-band {
		.contact-block-wrapper {
			width: 100%;
			height: auto;

			.contact-block {
				padding: 10% 5%;
			}
		}
	}
}

.b2b-band {
	width: 100%;
	background: #FFF;
	margin: 0;

	.heading {
		font-size: rem-calc(30);
		font-family: $medium;
		text-align: center;
	}

	.departments {
		.department {
			width: 33.33%;
			padding: 5% 5%;
			float: left;

			h3 {
				color: #000;
			}

			a {
				font-family: $bold;
			}
		}
	}
}

@media all and (max-width: rem-calc(500)) {
	.b2b-band {
		.departments {
			.department {
				width: 100%;
			}
		}
	}
}