.content-block-band {
  @media all and (max-width: $bp-large-2) {
    .gi {
      &.gi-2-4 {
        width: 65%;
        .cta-panel, .pullquote {
          padding-left: 0;
        }
      }
      &:first-child {
        width: 100%;
      }
      &:last-child {
        width: 35%;
      }
    }
  }
  @media all and (max-width: $bp-large) {
    .gi {
      width: 100%;
      &.gi-2-4 {
        width: 100%;
      }
      &:last-child {
        width: 100%;
        img {
          margin: 50px auto 0 auto;
        }
      }
      br {
        display: none;
      }
    }
  }
  .gi {
    .content-block-text {
      font-size: 17px;
      padding: 0 3%;
    }
    h2{
      @extend h1;
    }

    &:nth-child(2) {
      padding: 0;
      padding-right: 5%;
    }
  }

  .gi-2-4 {
    position: relative;

    .img-right {
      float: right;
      position: relative;
      height: 0;
      width: 45%;
      padding-top: 60%;
      overflow: hidden;
      margin-left: 5%;
      img {
        position: absolute;
        top: 0;
        height: 100%;
        max-width: none;
        left: -70%;
      }
    }
    .img-left {
      float: left;
      position: relative;
      height: 0;
      width: 45%;
      padding-top: 60%;
      overflow: hidden;
      margin-right: 5%;
      img {
        position: absolute;
        top: 0;
        height: 100%;
        max-width: none;
        left: -70%;
      }
    }

    .img-full {
      width: 100%;
    }

    .btn-info {
      background-color: $enterpriseGreen;
      bottom: 0;
      height: rem-calc(35);
      position: absolute;
      left: rem-calc(30);
      width: rem-calc(35);
      i {
        height: rem-calc(20);
        left: rem-calc(8);
        margin: 0;
        position: absolute;
        top: rem-calc(8);
        width: rem-calc(20);
      }
    }

    .cta-panel {
      display: table-cell;
      width: 50%;
      padding: 0 3%;
      font-size: 17px;
      span {
        font-size: 22px;
        &.stat-header {
          font-size: 52px;
          line-height: 52px;
        }
      }
      i {
        display: inline-block;
        height: 24px;
        float: none;
        margin: 0;
        width: 24px;
      }
      .panel-title {
        font-size: 52px;
        font-family: $light;
        display: block;
        width: 100%;
        word-wrap: break-word;
      }
    }

    .vertical-separator {
      background-color: $black;
      display: inline-block;
      height: 2px;
      margin: 24px 2% 3px 2%;
      width: 42px;
    }

    .main-content-area {
      padding-top: 0;
      font-size: 17px;
    }


  }

  ul {
    list-style: none;
    margin-left: 0;
    .icon-container {
      display: table-cell;
      width: 25px;

      img.plus-icon {
        display: inline-block;
        margin-right: 14px;
      }
    }
    .content {
      display: table-cell;
    }
  }

  sup {
    color: $enterpriseGreen;
  }

  &.note-list {
    padding-top: 0;
    font-family: $light;
    font-size: rem-calc(14);
    .gi-2-3 {
      padding-top: 20px;
      float: right;
      ol {
        counter-reset: item;
        margin-left: 0;
        list-style-type: none;
        width: 66%;
        padding: 40px 0 0 60px;
        li {
          display: inline-flex;
          position: relative;
          margin-bottom: 6px;
          &:before {
            content: counter(item);
            counter-increment: item;
            display: block;
            position: absolute;
            padding: 0 5px 0 0;
            left: 0;
            transform: translateX(-100%);
            font-size: small;
            vertical-align: super;
          }
        }
      }
    }
  }
  .g-4up {
    position: relative;
  }
}
.loyaltypage {
  .content-block-band {
    &.note-list {
      .gi-2-3 {
        border-top: 2px solid $black;
      }
    }
  }
}
.Veterans {
  .content-block-band {
    .gi {
      @media all and (max-width: $bp-med) {
        &:last-child {
          position: absolute;
          margin: 0 auto;
          float: left;
          img {
            margin: 0 auto;
          }
        }
        &.gi-2-4 {
          margin-top: 65%;
          float: right;
        }
        h1 {
          margin-bottom: rem-calc(22);
        }
        .content-block-text {
          padding: rem-calc(20 0 0 0);
        }
      }
    }
    .gi-2-4 {
      @media all and (max-width: $bp-med) {
        .img-right, .img-left {
          float: none;
          position: relative;
          height: 0;
          overflow: hidden;
          box-sizing: content-box;
          width: 100%;
          margin-left: 0;
          img {
            height: auto;
            max-width: 100%;
            left: 0;
          }
        }

        .cta-panel {
          float: left;
        }

        .vertical-separator {
          display: none !important;
        }

        .btn {
          margin: 10px 17%;
          min-width: 66%;
        }
      }
    }
  }
}
