.ctaBand {
  width: 100%;
  position: relative;
  .ctaBandToTop {
    width: 40px;
    height: 40px;
    background: $black;
    position: absolute;
    right: 0px;
    bottom: 32px;
    @media all and (max-width: $bp-large) {
      position: relative;
      height: 40px;
      float: right;
      bottom: 0;
    }
    &:hover {
      cursor: pointer;
    }
    .icon {
      transform: rotate(-90deg);
      width: 40px;
      height: 40px;
      background-position: center;
    }
  }
  ul {
    margin-left: 0;
    .ctaBand-block {
      display: inline-block;
      width: 19%;
      position: relative;
      height: 218px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: -4px;
      @media all and (max-width: $bp-large) {
        width: 50%;
      }
      @media all and (max-width: $bp-large) {
        &.solidGray, &.solidGreen, &.solidBlack {
          min-height: 50px;
          display: block;
          width: 100%;
          height: auto;
          float: none;
          padding: 16px 10px;

          .ctaBand-link {
            position: static;
            padding: 0;
          }
        } 
      }
      &.solidGray {
        background: $midGray;
      }
      &.solidGreen {
        background: $enterpriseGreen;
        @media all and (max-width: $bp-large) {
          margin-bottom: 0;
        }
      }
      &.solidBlack {
        background: $black;
      }
      &.solidGray, &.solidGreen, &.solidBlack {
        .ctaBand-link {
          color: $white;
        }
      }
      a {
        position: absolute;
        z-index: 2;
        width: 80%;
        top: 35%;
        left: 10%;
        text-align: center;
        padding: 20px 0;
        p {
          margin-bottom: 0;
          &.ctaBand-sub {
            font-size: 11px;
            margin-bottom: 1em;
            @media all and (max-width: $bp-large) {
              font-size: 17px;
            }
          }
          &.ctaBand-title {
            @media all and (max-width: $bp-large) {
              display: none;
            }
          }
        }
        .icon-arrow-general {
          display: none;
          margin: 0 auto;
          @media all and (max-width: $bp-large) {
            display: block;
          }
          &.ctaBand-next {

          }
          &.ctaBand-prev {
            transform: rotate(180deg);
          }
        }
        &.ctaBand-link {
          color: $black;
          &.ctaBand-twoLine {
            background: $white;
            top: 30%;
          }
        }
      }
      img {
        position: absolute;
      }
    }
  }
}