// FEATURE LIST BAND STYLES
// as seen on the rental locations pages (eg. /car-rental/locations/us/wa/seattle.html)
.featurelist{
  // margin-bottom: -50px;//close up extra white space...

  .band{
      padding-bottom: 0;
      overflow: visible;
    }
    .feature-list-item{padding-bottom: 50px;}
      .feature-list-item-heading{
        margin-bottom: 10px;
        font-family: $light;
        font-size: rem-calc(28);
        line-height: 1;
        letter-spacing: -0.020em;
      }
      .feature-list-item-content{
        padding-right: 15%;
        color: $darkGray;
        font-family: $light;
        font-size: rem-calc(17);
        line-height: 1.65;
        letter-spacing: -0.020em;
      }
}//.featurelist scope}


//###########################################
// MEDIA QUERIES - mobile first approach
//###########################################
@media (min-width: 800px){
  .featurelist{
    .feature-list-item{padding-right: 20px;}
  }
}
