//desktop
.featuredcitypage{
  color: $darkGray;
  .band {
    padding:0;
  }
  .reservationWidgetFeatured{
    .reservation-toggle-header{
      font-size: 1.75em;
      text-transform: capitalize;
      font-family: $bold;
    }
    .inner-container{
      margin-top: 35px;
    }
  }
  .reservationWidgetFeatured + .mapToggleBand{
    margin-top: 0;
  }
  section.featured-location-heading{
    @extend .inner-container;
    margin: 20px auto 0;
    padding-bottom: 0;
    padding-top: 60px;
  }
  .featured-location-heading .location-heading-wrapper{
    padding: 0;
  }
  .slide-show {
    padding:0;
    .context {
      width: 25%;
      margin-right: 5%;
      padding:0;
      .description {
          color:$darkGray;
          font-size:rem-calc(17);
          margin-bottom:rem-calc(40);
      }
      .cta {
        font-size:rem-calc(14)
      }
    }
    .carousel-container {
      width:69%;
    }
    .carousel-content {
      .slick-arrow {
        visibility: hidden;
        opacity:0;
        transition:opacity 0.6s linear;
        cursor:pointer;
      }
      &:hover {
        .slick-arrow {
          visibility: visible;
          opacity:1;
        }
      }
    }
    .carousel-nav {
      .slick-arrow {
        cursor:pointer;
      }
    }
  }
  .lobband {
    margin-top:50px;
  }
  .lob-page-recirc-band .g.g-3up .gi .content-container {
    margin:0;
  }
}
.featured-continue-btn{
  float: right;
  width: 165px;
  height: 35px;
  margin: 30px 0 0;
}
//strict tablet 
@media all and (max-width: $bp-large) and (min-width: $bp-small-3){
  .lobband .gi .content-container {
    padding: 40px 10px 40px 10px;
    img {
      width: 30%;
      height: auto;
      float: left;
    }
    h4,
    p {
      margin-left: 35%;
    }
  }
}
//tablet
@media all and (max-width: $bp-large-2){
  .featuredcitypage{
    .slide-show {
      .slick-arrow {
        visibility:hidden;
      }
      .context {
        width:80%;
        padding:0 0 30px 0;
      }
      .carousel-container {
        width:100%;
      }
    }
  }
}

//mobile
@media all and (max-width: $bp-med-2){
  .featuredcitypage{
      .booking-widget{
        .location-search .location-chicklet{
          padding: 5px 3px 4px;
          .chicklet{
            line-height: rem-calc(19);
          }
          .location-chicklet-clear{
            .icon-ENT-icon-close{
              height: 15px;
              margin: 2px;
            }
          }
        }
        .location-input-label{
          font-size: rem-calc(13);
        }
    }
    .reservationWidgetFeatured{
      .reservation-toggle-header{
        font-size: 1.375em;
        margin-top: 0;
      }
      .inner-container{
        margin-top: 20px;
      }
    }
    .location-heading{
      font-size: 1.625em;
      margin: 0 3%;
    }
    .featured-location-heading .location-heading-wrapper{
      float: none;
    }
    #viewModifyCancelBookingWidget{
      margin-top: 10px;
    }
    .slide-show {
      .band {
        margin: 0 4%;
      }
      .slick-arrow {
        visibility:hidden;
      }
      .context {
        width:100%;
        padding: 0 0 30px 0;
        h2 {
          font-size:2rem;
        }
      }
      .carousel-container {
        width:100%;
      }
    }
  }
  .featured-continue-btn{
    width: 93.7%;
    float: none;
    height: 40px;
    margin: 0 3%;
    padding: .7em 1em;
  }
}
