.feature-total {
  .subhead {
    color: $darkGray;
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.16667em;
    p {
      font-size: inherit;
    }
  }
  .img-container.image-container  {
    //margin-bottom: 20px;
    background-size: cover;
    background-position: bottom;
    height: 600px;
  }
  .feature-intro-band {
    padding-top: 0;
    .img-container {
      background-size: cover;
      background-position: bottom;
      height: 500px;
    }
    .g-4up {
      overflow: visible;
      .gi {
        padding-right: 70px;
        position: relative;
        .image-cont {
            width: 117px;
            height: 117px;
            position: absolute;
            top: -98px;
            left: 12%;
            right: 25%;
            z-index: 2;
            border-radius: 117px;
            background-size: cover;
            background-position: top;
          img {
            border-radius: 117px;
          }
        }
        .author-name {
          padding-top: 30px;
          font-family: $medium;
        }
        .author-desc {
          color: $darkGray;
        }
      }
      .subhead {
        padding-top: 30px;
      }
    }
    .g-3up {
      @media all and (max-width: $bp-med) {
        overflow: visible;
      }
      .gi-2-3 {
        p {
          color: $darkGray;
        }
      }
    }
  }
  .feature-2-band {
    .img-container.image-container {
      height: 480px;
      margin-bottom: 1em;
    }
    .g-3up {
      padding-top: 30px;
      .gi-2-3 {
        padding-right: 70px;
        @media all and (max-width: $bp-large) {
          padding-right: 0;
        }
      }
    }
  }
  .feature-3-band, .feature-5-band {
    .img-container.image-container {
      margin-bottom: 0;
      background-size: cover;
      background-position: bottom;
      height: 500px;
    }
    .g-4up {
      &.violate {
        max-width: 1280px;
        margin: 0 auto;
        background-color: #FFFFFF;
        margin-top: -65px;
        //padding: 50px;
        padding-top: 40px;
        position: relative;
        z-index: 2;
        h3 {
          padding-left: 40px;
        }
      }
    }
  }
  .feature-4-band {
    .map-canvas {
      width: 100%;
      height: 275px;
    }
    .subhead {
      padding-top: 75px;
    }
  }
  .feature-5-band {
    .subhead {
      padding-top: 40px;
    }
    .gi-2-4 {
      img {
        //height: 100%;
      }
    }
    .gi-3-4 {
      float: right;
    }
  }
}
