.filmstripBand {
  .filmstripHeader {
    padding: 40px 15px 20px 0px;
    margin-left: 15px;
    position: relative;
    p {
      margin-bottom: 0;
    }
    .view-all-articles {
      background:none;
      display:inline-block;
      color:$enterpriseGreen;
      text-transform: uppercase;
      line-height:2.5rem;
      margin: 0 10px;
    }
    .filmstrip-title {
      display:inline-block;
    }
    .film-strip-description {
      padding-right: 10%;
    }
    .toggle-collapse {
      position: absolute;
      padding: 10px;
      right: 5%;
      top: calc(50% - 20px);
      cursor: pointer;
      @media all and (min-width: 1024px) {
        display: none;
      }
      i {
        transform: rotate(-90deg);
        transition: all .4s;
      }
      &.collapsed i {
        transform: rotate(90deg);
      }
    }
  }
  .filmstripText {
    padding: 50px 0;
  }
  div.prev, div.nxt{
    position: absolute;
    z-index: 4;
    margin-top: 0;
    top: 60px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    //background-image: url(/etc/designs/ecom/src/icons/nav-carrot.svg);
    background-color: #FFF;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }
  .track-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    .icon-utility-notch {
      position: absolute;
      bottom: -12px;
      left: 137px;
      display: none;
      transform: rotate(180deg);
    }
    &.active {
      .icon-utility-notch {
        display: block;
      }
      &:after{
        display: block;
        //border-color: $enterpriseDarkGreen;
      }
    }
    &:after{
      content: '';
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      //border: 8px solid $enterpriseGreen;
      box-sizing: border-box;
    }
    /*&:not(.active):hover:after{
      display: block;
      background-color: rgba(0,0,0,0.12);
    }*/
  }
  a {
    &.btn {
      background: $black;
    }
  }
  .category-details-panel {
    margin-bottom: 20px;
    .filmstripText {
      margin-left: 50px;
    }
    .gi-3-4 {
      border-right: 1px solid $white;
      padding-left: 0 !important;
      @media all and (max-width: $bp-med) {
        border-right: none;
      }
      /*
      @media all and (max-width: $bp-small-2) {
        padding-bottom: 20px;
      }
      */
      p.beta {
        margin-bottom: 0.5em;
      }
      .filmBody {
        padding-right: 150px;
        @media all and (max-width: $bp-med) {
          display: none;
        }
        /*
        @media all and (max-width: $bp-small-3) {
          padding-right: 0;
        }
        */
      }
    }
    .gi {
      padding:0 20px;
      /*
      @media all and (max-width: $bp-small-2) {
        padding: 0 !important;
      }
      */
      &.more-like-this {
        @media all and (max-width: $bp-med) {
          display: none;
        }
      }
    }
    .moreCtaNext, .moreCtaPrev {
      width: 48%;
      height: 104px;
      display: inline-block;
      background-size: cover;
    }
    .moreCtaPrev {
      margin-right: 2%;
    }
  }

  .filmstrip-carousel{
    overflow: hidden;
    padding: 0 15px;
    &.collapsed {
      @media all and (max-width: 1023px) {
        display: none;
      }
    }
  
    .filmstrip-carousel-track-wrapper{
      position: relative;
      width: 100%;
      overflow: visible;
      height: 370px; //Totally arbitrary size based on observation  - ECR-12289

      .track{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease;
        height: 100%;

        .track-item{
          float: left;
          height: 100%;
          width: 290px;
          margin: 0 15px 0 0;
          .track-image {
            height: 163px;
            width: 290px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
          .icon{}
        }
      }
    }
  }
}

.parbase, .filmstrip {
  &:nth-of-type(2n) .filmstripBand {
    background-color: $white;
  }
  &:nth-of-type(2n+1) .filmstripBand {
    background-color: $lightestGray;
  }
}
