 .band.full-bleed.hero-band {
	//box-sizing: content-box;
	position: relative;
	height: 333px;
	overflow: hidden;

	.hero-container {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		background-size: auto 65%;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-color: $heroGray;
		transition: all .5s ease-in-out;
    border-top: 2px solid $lightGray;

    .fake-bg {
      position: absolute;
      width: auto;
      height: 65%;
      left: 0;
      right: 0;
      bottom: 0;
    }

		h4.hero-header, h1.hero-header {
			padding: 25px 6%;
			line-height: 1.03;
			transition: all .5s ease-in-out;
			text-align: center;
			text-transform: none;
			color: #333;

			p {
				font-family: $bold;
				font-size: 28px;
			  line-height: 1;
			  margin: 0;
			  padding: 0;
			  width: auto;
			  @media all and (max-width: $bp-large) {
			  	font-size: 42px;
			  }
			}
			em {
				font-style: normal;
				color: $enterpriseGreen;
			}
		}
		//.subhead
		p {
			@media (max-width: $bp-med){display: none;}
			padding: 0;
			font-size: 17px;
		}
		h4.hero-header {
			//@media (max-width: $bp-med) {display: none;}
		}
	}
}

.hero-label-band {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 15px 8% 10px;
	//padding: 0.5% 3%;
	background: $enterpriseGreen;
	font-family: $bold;
	text-transform: uppercase;
	color: #FFF;

	p{
		margin: 0;
		padding: 0;
		line-height: 1;
	}
}
.band.full-bleed.hero-band.enroll-success {
	@media all and (max-width: $bp-large-2) {
		.hero-position {
			padding-top: 20px;
			padding-left: 20px;
	    width: 75%;
	    h2 {
	    	margin-left: 0;
	    	font-size: 24px;
	    }
		}
	}
	@media all and (max-width: $bp-med-2) {
		.hero-position {
			img {
				width: 45px;
    		height: 63px;
			}
		}
	}
}
@media (min-width: $bp-med){
	.band.full-bleed.hero-band {
		height: 0;
		padding-top: 40%;

		.hero-position{
			float: left;
			width: 50%;
			padding: 6%;
		}
		&.hero-left {
			.hero-position{float: right;}
			.hero-container {
        background-position: bottom left;
        .fake-bg {
          left: 0;
          right: auto;
        }
      }
		}

		.hero-container {
			background-size: auto 100%;
			background-position: right bottom;
			h4.hero-header, h1.hero-header {
				margin: 0 0 20px 0;
				padding: 0;
				line-height: 50px;
				text-align: left;
			}
			//.subhead
			p {
				font-size: 17px;
			}

      .fake-bg {
        height: 100%;
        left: auto;
      }

		}
	}
}
@media (max-width: $bp-small-3){
	.band.full-bleed.hero-band {
		.hero-container{
			h4.hero-header {
				p {
					font-size: 32px !important;
				}
			}
		}
	}
}
@media (max-width: $bp-med) {
	.band.full-bleed.hero-band {
		height: auto;
    padding-top: 40%;
		.hero-container {
			background-size: auto 100%;
    	background-position: right bottom;

      .fake-bg {
        height: 100%;
        left: auto;
      }
		}
	}
}
@media (max-width: $bp-large){
	.band.full-bleed.hero-band {
		.hero-position{
			width: 55%;
			padding-right: 10%;
		}
		.hero-container{
			h4.hero-header, h1.hero-header {
				p {
					//display: none;
					font-size: 36px;
					text-align: left;
				}
			}
			//.subhead
			p {
				display: none;
			}
		}
	}
}


@media (max-width: $bp-small-2) {
	.band.full-bleed.hero-band {
		padding-top: 50%;

		.hero-header {
			display: none;
		}
	}
}
@media (min-width: $bp-large-2){
	.band.full-bleed.hero-band {
		padding-top: 30%;

		.hero-position{padding: 3% 6%;}

		.hero-container {
			//background-size: 59%;

			h4.hero-header, h1.hero-header {
				p{font-size: 42px;}
			}
			//.subhead
			p {
				font-size: 17px;
			}
		}
	}
}

@media (min-width: 1276px){
	.band.full-bleed.hero-band {
		padding-top: 23.5%;

		.hero-container {
			//background-size: 45.5%;
			.hero-position {
				padding: 3% 4%;
				h4.hero-header, h1.hero-header {
					p{font-size: 48px;}
				}
				//.subhead
				p{font-size: 17px;}
			}
		}
	}
}

