.image-band {
  &.full-bleed {

    h2.title {
      height: auto;
    }

    .img-container {
      min-height: 30vw;
      width: 100%;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;

      .fake-bg {
        position: absolute;
        width: auto;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        max-width: none;
        height: auto;
        min-height: 100%;
      }
    }
  }
  &.adaptive {
    .img-container {
      //min-height: inherit; // this broke adaptive component
      img {
        display: block;
      }
    }
  }

  &.three-quarters-image {
    padding-bottom: 0;
  }

  .img-container {
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    img {
      width: 100%;
    }

    article, section, .full-horizontal-bleed {
      background-color: $white;
      bottom: 0;
      left: 26%;
      padding: 2% 2% 0 2%;
      position: absolute;
      width: 71%;

      .pullquote {
        font-size: 150%;
        margin: 0;

        @media all and (max-width: $bp-med) {
          font-size: 17px;
          line-height: 1.6em;
          padding: 0;
        }
      }

      @media all and (max-width: $bp-med) {
        left: 4%;
        padding: 8%;
        position: inherit;
        width: 92%;
        bottom: 0;
      }
    }

    .btn-info {
      background-color: $enterpriseGreen;
      bottom: 0;
      height: rem-calc(35);
      position: absolute;
      left: 0;
      width: rem-calc(35);
      i {
        height: rem-calc(20);
        left: rem-calc(8);
        margin: 0;
        position: absolute;
        top: rem-calc(8);
        width: rem-calc(20);
      }
    }

    @media all and (max-width: $bp-med) {
      padding-bottom: 0;
      height: auto;
      img {
        position: inherit;
      }
    }
  }
}
.Business {
  .image-band {
    &.full-bleed {
      .img-container {
        height: 26vw;
        width: 100%;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        max-height: 600px;
      }
    }
  }
}
