.intro-band, .title-header {
  position: relative;
  padding-top: 50px;

  .gi, .gi-2-4 {
    @media all and (max-width: $bp-med) {
      margin-top: rem-calc(24);
      padding-right: 0;
      width: 100%;
    }

    &.type-content{padding: 0 20px;}
  }
  @media all and (max-width: $bp-large-2) {
    .gi {
      width: 100%;
      padding-bottom: 30px;
      &.type-content {
        width: 35%;
        padding-bottom: 0;
      }
      &.gi-2-4 {
        width: 65%;
        padding-left: 0;
      }
    }
  }
  @media all and (max-width: $bp-large){
    .gi {
      &.type-content {
        width: 100%;
        padding-left: 0;
      }
    }
    .gi.gi-2-4 {
      width: 100%;
    }
  }
  h1 {
    padding-bottom: rem-calc(18);
    text-align: left;
  }

  h2 {
    color: $darkGray;
    line-height: rem-calc(42);
    padding-bottom: rem-calc(30);
    width: 70%;
  }

  h1, h2 {
    @media all and (max-width: $bp-med) {
      width: 100%;
      line-height: rem-calc(32);
      padding-bottom: rem-calc(14);
    }
  }

  h3 {
    font-size: rem-calc(18);
    padding: rem-calc(10) 0;
  }

  article.gi-2-4 {
    padding-right: rem-calc(40);
  }

  .login-panel {
    background-color: $black;
    min-height: 224px;
    padding: 30px;
    position: relative;
    h2, h3 {
      color: $white;
      line-height: 1em;
      margin: 0;
      padding: 0;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 6px;
    }
    h3 {
      font-size: 26px;
    }

    a.btn {
      text-transform: uppercase;
      margin-top: 30px;
      width: 100%;
    }

    .cta-container {
      margin-top: 10px;
      a {
        display: block;
      }

      span {
        color: $white;
        a {
          color: $enterpriseGreen;
          display: inline-block;
        }
      }
    }
  }

  .icon-container {
    position: relative;
    border-bottom: 2px solid $black;
    margin-right: 30px;
    height: rem-calc(36);
    .icon {
      position: absolute;
      right: -3px;
      width: rem-calc(50);
      height: rem-calc(50);
      background-color: $white;

      &.icon-about-car{background-color: transparent;}
    }

    @media all and (max-width: rem-calc(780)) {
      margin-right: rem-calc(56);
    }
  }

  .g-4up {
    padding-top: rem-calc(20);
    position: relative;

    .icon-eplus-logo {
      position: absolute;
      right: rem-calc(30);
      top: 0;
      width: rem-calc(50);
      height: rem-calc(67);
    }
  }
}
@media(max-width: $bp-med){
  .intro-band .icon-container{
    margin-right: 3px;
  }
}

.business-intro-band {
  .custom-select select {
    border: 1px solid #c3c3c3;
    font-size: rem-calc(18);
    height: rem-calc(50);
    padding: rem-calc(12);
  }

  .lob-intro-text {
    font-family: $light;
    font-size: 22px;
    margin-top: 22px;
  }
  @media all and (max-width: $bp-med) {
    padding-bottom: 0;
  }
}

.corporateAccountIntroBand {
  .band.business-intro-band {
    padding: 40px 60px;
    max-width: initial;

    .img-container {
      padding: 0 50px;
    }
  }
}

.g.mobile {
  display: none;
  margin-bottom: 1em;
  padding: 0 50px;
}

@media all and (max-width: $bp-small-3) {
  .corporateAccountIntroBand {
    .band.business-intro-band {
      padding: 40px 10px 20px 10px;

      .g.text-content {
        text-align: center;
      }

      .g.desktop {
        display: none;
      }

      .g.mobile {
        display: block;
      }
    }
  }
}
