.interrupter-band {
  background-color: $black;
  color: $white;
  padding: 0;
  margin-bottom: 3px;
  &.full-bleed.content-right, &.full-bleed.content-left {
    .g-2up {
      display: flex;
    }
  }
  &.full-bleed.content-right {
    .g-2up {
      flex-direction: row-reverse;
    }
  }

  .interrupter-band-text, .interrupter-band-link {
    margin-top: 16px;
    font-size: 22px;
    display: block;
    @media all and (max-width: $bp-large) {
      font-size: 17px;
    }
  }
  .content-block {
    display: flex;
    flex-direction: column;
    z-index: 3;
    &.vertical-align-center {
      justify-content: center;
    }
    &.vertical-align-bottom {
      justify-content: flex-end;
    }
  }
  &.border-true .g-2up {
    &:before {
      content: '';
      position: absolute;
      margin: 1%;
      border: 4px solid $darkGreen;
      z-index: 2;
      left: 0;
      right: 0;
      top:0;
      bottom: 0;
    }
  }
  .image-block {
    display: flex;
  }
  .interrupter-band-cta {
    display: block;
    margin-bottom: 5px;
  }
  h2.eyebrow {
    font-size: rem-calc(16);
    margin-bottom: rem-calc(4);
  }
  .headline, .subhead {
    font-size: 32px;
    color: inherit;
  }
  .subhead {
    font-size: 24px;
  }
  .img-container, .content-container {
    position: relative;
    box-sizing: content-box;
    &.horizontal-align-center {
      text-align: center;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .content-bg-img{display: none;}
    p {
      @media all and (max-width: $bp-med) {
        font-size: rem-calc(14);
      }
    }
  }
  &.green {
    background-color: $enterpriseGreen;
    a.interrupter-link {
      color: $white;
      &:hover {
        color: $darkGreen;
      }
    }
    .interrupter-band-cta a{
      background: $white;
      color: $enterpriseGreen;
      border: 1px solid $enterpriseGreen;
      &:hover {
        background:none;
        border: 1px solid $white;
        color: $white; 
      }
    }
  }

  &.white, &.gray {
    background-color: $white;
    color: $black;
  }

  &.gray {
    background-color: $lightestGray;
  }

  &.content-left{
    .gi:first-child {
      float: left;
      margin: 3%;
    }
    &.green {
      .gi:first-child {
        background-color: $enterpriseGreen;
      }
    }
    &.black {
      .gi:first-child {
        background-color: $black;
      }
    }
    &.full-bleed {
      @media all and (max-width: $bp-med) {
        .gi {
          width: 100%;
        }
      }
    }
  }

  &.content-right {
    .gi:first-child {
      float: right;
      margin: 3%;
    }
    &.green {
      .gi:first-child {
        background-color: $enterpriseGreen;
      }
    }
    &.black {
      .gi:first-child {
        background-color: $black;
      }
    }
  }
  &.full-bleed {
    .g-2up {
      @media all and (max-width: $bp-large-2) {
        min-height: 200px;
      }
    }
  }
}
@media(max-width: $bp-med){
  .interrupter-band{
    &.full-bleed.content-right .g-2up, &.full-bleed.content-left .g-2up {
      flex-direction: column-reverse;
      &:before {
        content: none;
      }
      .gi:first-child {
        margin: 0;
        padding: 5%;
      }
    }
    &.border-true {
      .image-block, .content-block{
        position: relative;
        &:before {
          content: '';
          position: absolute;
          right: 0;
          height: 100%;
          margin: 2%;
          border: 4px solid $darkGreen;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }
      .image-block {
        &:before {
          content: '';
          border-bottom: 0;
          z-index: 2;
        }
      }
      .content-block {
        &:before {
          content: '';
          border-top: 0;
          margin-top: 0;
          height: 92%;
        }
      }
    }
    h3.headline{
      font-size: 31px;
      letter-spacing: -0.040em;
    }
  }
}
@media(min-width: 749px){
  .interrupter-band{
    .g-2up{
      position: relative;
    }
    .interrupter-band-text{
      font-style: 16px;
      @media(min-width: $bp-xxl){font-size: 22px;} 
    }  
  } 
}

.no-flexbox .interrupter-small-band .interrupter-band {
   &.content-left, &.content-right{
    .gi:first-child {
      @media all and (max-width: $bp-med) {
        padding: rem-calc(50 60);
      }
    }
  }
  .img-container, .content-container {
    position: relative;
    box-sizing: content-box;
    &.horizontal-align-center {
      text-align: center;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .content-bg-img{
      display: block;
      position: absolute;
      height: 100%;
      width: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &.border-true {
        z-index: -1;
      }
    }
    .content-bg-img{display: none;}
    @media(min-width: 749px){
      .content-fg-img{display: none;}
      .content-bg-img{display: block;}
    }
    p {
      @media all and (max-width: $bp-med) {
        font-size: rem-calc(14);
      }
    }
  }
  .img-container {
    height: 0;
    padding-bottom: 56.25%;
    @media all and (max-width: $bp-med) {
      height: auto;
      padding-bottom: 0;
      position:static;
      img {
        position: relative;
        height: auto;
      }
    }
  }
  .content-container {
    height: 33%;
  }
  @media(min-width: 749px){
    .content-container{
      padding: 40px;
      @media(min-width: $bp-xxl){padding: 60px;}
    }
    .img-container{
      box-sizing: border-box;
      position: static;
      height: auto;
      img{
        max-width: none;
        width: auto;
      }
    }
    &.content-right .img-container img{right: 50%;}
  }
  @media(max-width: $bp-med){
    &.content-right.black .gi:first-child{
      display: block;
      float: none; 
      padding-left: 20px;
      padding-right: 20px;
      .content-container{display: block;}
    }
  }
}