.learn-band {

  &.white {
    background-color: $white;
  }

  &.grey {
    background-color: $lightestGray;
  }


  .content-container {
    padding: 5%;

    .top-margin {
      margin-top: 60px;
    }

    h2 {
      font-family: $medium;
      text-align: center;
      margin-bottom: 5%;
    }

    .gi {
      position: relative;
      text-align: center;

      i {
        width: 110px;
        height: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
      }

      p {
        padding-left: rem-calc(42);
        padding-right: rem-calc(42);
      }
    }

    .play-cta-container {
      text-align: center;
    }

    .cta-container {
      margin: rem-calc(52) auto 0 auto;
      display: inline-block;

      .play-button {
        border: 1px solid $white;
        border-radius: 50%;
        float: left;
        height: rem-calc(68);
        width: rem-calc(68);

        .arrow {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 9px 0 9px 15.6px;
          border-color: transparent transparent transparent $white;
          margin: auto;
          margin-top: rem-calc(10);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .play-cta {
        background: $enterpriseGreen url("/etc/designs/ecom/dist/img/circle-button-corner-shadow.png") no-repeat;
        border: 1px solid $white;
        border-left: 0 none;
        margin-left: rem-calc(62);
        margin-top: rem-calc(18);
        padding: rem-calc(4 32);

        a {
          color: $white;
          font-size: rem-calc(14);
          letter-spacing: 1px;
        }
      }
    }
  }

  &.learn-band {
    i.icon {
      background-size: initial;
      background-position: center;
    }
  }
  &.learn-band-6up {
    .content-container {
      .gi {
        i {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}