/** THIS FILE NEEDS SOME CLEAN UP -- NEW STYLES START BELOW THIS COMMENT **/
.lob-hero {
  background-image: none;
  position: relative;
  .img-container {
	position: relative;
	box-sizing: content-box;
	overflow: hidden;
	img {
	  width: 100%;
	}
  }

  .lob-logo {
    position: absolute;
    top: 12%;
    left: 5%;
    max-width: 250px;

  	@media all and (max-width: $bp-med) {
  	  /* top: 50%;
  	  margin-top: -40px;
  	  height: 60px; */
      top: 30%;
      max-width: 30%;
      height: auto;
      margin-top: 0;
  	}
  }

  &.enroll-success {
	.img-container {
	  padding-bottom: 23.50%;
	}
  }
}

.lob-index-intro, .lob-intro {
  .lob-hero {
	background-image: none;
	.img-container {
	  position: relative;
	  box-sizing: content-box;
	  overflow: hidden;
	  img {
		width: 100%;
	  }
	}
  }

  .lob-intro-content {
  	.gi {
  		&.left {
  			h1 {
  				padding-right: 20px;
  			}
  		}
      @media all and (max-width: $bp-med) {
        width: 100%;
      } 
  	}
		.subhead {
		  font-family: $regular;
		  font-size: rem-calc(24);
		  margin-bottom: 20px;
			h3 {
				font-family: $light;
			}
			p {
				font-family: $light;
				color: $darkGray;
			}
		  @media all and (max-width: $bp-med) {
			h3 {
			  margin: 15px 0;
			}
		  }
		}
  }
}

.lob-intro {

  margin-bottom: rem-calc(-70);

  .lob-hero {
	box-sizing: content-box;
	position: relative;
	height: 0;
	padding-top: 52%;
	background-size: 100%;
	background-repeat: no-repeat;

	.lob-logo {
	  position: absolute;
	  top: 36%;
	  left: 5%;
	  width: 35%;
	}

	.lob-intro-content {
	  position: absolute;
	  top: 75%;
	  max-width: 1280px;
	  margin: 0 auto;

	  .left {
		padding-right: 2%;
	  }

	  .right {
		padding-left: 2%;
	  }
	}
  }
}

.lob-intro-content-band {
	padding: 0;
	margin-bottom: -20px;
	.lob-intro-text {
		font-size: 22px;
		margin-top: 22px;
	}
  .btn {
    .icon {
      float: right;
      margin-left: 10px;
    }
  }
  @media all and (max-width: $bp-med-2) {
    .gi-2-3 {
      width: 100%;
    }
    .gi {
      width: 100%;
      .btn {
        &.right {
          float: left;
        }
      }
    }
  }
}

.band.full-bleed.meet-the-fleet-band {
	box-sizing: content-box;
	position: relative;
	height: 0;
	padding-top: 52.65%;
	background-size: 100%;
	background-repeat: no-repeat;
	h2 {
		font-size: rem-calc(24);
		font-family: $bold;
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
	}
	p.subhead {
		position: absolute;
		top: 15%;
		text-align: center;
		width: 100%;
		font-size: 18px;
	}	
}

@media all and (max-width: $bp-large) {
  .lob-intro { 
  	margin-bottom: rem-calc(-20);
  }
}
@media all and (max-width: rem-calc(780)) {
  .lob-intro { 
  	margin-bottom: rem-calc(120);
  	h1 {
  		font-size: 2em;
  		line-height: 1.2em;
  	}
  	.lob-hero img {
  		margin-top: 0;
  	}
  }
  .band.full-bleed.lob-hero {
  	.left, .right {
  		float: none;
  		padding: 0;
  	}
  	div.lob-intro-content {
		left: 2%;
		right: 2%;
	}
  }
  .band.full-bleed.meet-the-fleet-band {
  	p.subhead {
  		display: none;
  	}
  }
}
@media all and (max-width: rem-calc(480)) {
	.lob-intro {
		margin-bottom: rem-calc(140);
	}
}
@media all and (max-width: rem-calc(375)) {
	.lob-intro {
		margin-bottom: rem-calc(180);
	}
}
@media all and (max-width: rem-calc(320)) {
	.lob-intro {
		margin-bottom: rem-calc(220);
	}
}

.lob-intro.index {
	margin-bottom: 0;
	.band.full-bleed.lob-hero {
		padding-top: 65%;
		.lob-intro-content {
			top: 65%;
		}
	}
	@media all and (max-width: rem-calc(1200)) {
		.band.full-bleed.lob-hero {
			padding-top: 68%;
			.lob-intro-content {
				top: 63.63636364%;
			}
		}
	}
	@media all and (max-width: rem-calc(1100)) {
		.band.full-bleed.lob-hero {
			padding-top: 74%;
			.lob-intro-content {
				top: 58.33333333%;
			}
		}
	}
	@media all and (max-width: rem-calc(1000)) {
		.band.full-bleed.lob-hero {
			padding-top: 80%;
			.lob-intro-content {
				top: 53.84615385%;
			}
		}
	}
	@media all and (max-width: rem-calc(900)) {
		.band.full-bleed.lob-hero {
			padding-top: 88%;
			.lob-intro-content {
				top: 50%;
			}
		}
	}
	@media all and (max-width: rem-calc(850)) {
		.band.full-bleed.lob-hero {
			padding-top: 96%;
			.lob-intro-content {
				top: 46.66666667%;
			}
		}
	}
	@media all and (max-width: rem-calc(780)) {
		.band.full-bleed.lob-hero {
			padding-top: 110%;
			.lob-intro-content {
				top: 42%;
			}
		}
	}
	@media all and (max-width: rem-calc(640)) {
		.band.full-bleed.lob-hero {
			padding-top: 122%;
			.lob-intro-content {
				top: 38.18181818%;
			}
		}
	}
	@media all and (max-width: rem-calc(550)) {
		.band.full-bleed.lob-hero {
			padding-top: 130%;
			.lob-intro-content {
				top: 36.5%;
			}
		}
	}
	@media all and (max-width: rem-calc(510)) {
		.band.full-bleed.lob-hero {
			padding-top: 145%;
			.lob-intro-content {
				top: 35%;
			}
		}
	}
	@media all and (max-width: rem-calc(350)) {
		.band.full-bleed.lob-hero {
			padding-top: 240%;
			.lob-intro-content {
				top: 17.5%;
			}
		}
	}	
}