//desktop
.lobband{
  padding: 10px 10px 0 10px;
  background-color: $lightestGray;
  .img-logo{
    height: 60px;
    margin: 25px 0 40px 0;
  }
  h4{
    color: $enterpriseGreen;
    font-family:$bold;
    font-size: 1.125em;
    text-transform: capitalize;
    margin-bottom: .4em;
    cursor:pointer;
    &:hover {
      color: $enterpriseDarkGreen;
    }
  }
  p{
    margin-bottom: 0;
    font-family: $light;
    color: $darkGray;
    font-size: 1.0625em;
  }
  .content-container{
    color: $darkGray;
    padding: 40px 65px 70px 65px;
  }
  .gi{
    width: calc(33.333333% - 10px);
    margin: 0 10px 10px 0;
    padding: 0;
    background: $white;
    border-bottom:2px solid $shadowGray;
    &:nth-child(3n){
      width: 33.33333333%;
      margin-right: 0;
    }
  }
  .g{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (max-width: $bp-large-2){
  .lobband{
    .gi{
      width: calc(50% - 10px);
      &:nth-child(3n){
        width: calc(50% - 10px);
        margin: 0 10px 10px 0;
      }
    }
  }
}
//mobile
@media all and (max-width: $bp-med-2){
 .lobband{
    .gi,.gi:nth-child(3n){
       width: 100%;
       margin-right: 0;
    }
   .content-container{
     padding: 35px 30px;
   }
   .img-logo{
     margin: 0 0 30px 0;
   }
 }
}
