//LOB PAGE RECIRC BAND
.lob-page-recirc-band {
  background-color: $lightestGray;
  margin: 0 auto;
  max-width: none;
  padding-top: rem-calc(20);
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
  h4{padding: 0 60px;}

  .g {
    width: 100%;
  }

  .g.g-3up {
    .gi {
      padding: 0 10px;
      .content-container {
        position: relative;
        margin: rem-calc(0 0 20 0);
        padding: 0 0 90px 0;
        background: white;
        padding-bottom: 50px;
        img {
          display: block;
          margin-bottom: rem-calc(20);
          &.img-logo {
            height: 60px;
            margin: 50px 0 30px 60px;
          }
        }
        .content-bg-img {
          position: relative;
          display: block;
          max-width: 100%;
          height: 270px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          .fake-bg{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            max-width: none;
            height: 100%;
            transform: translate(-50%, -50%);
          }
        }
        .content-container-content-wrap{
          padding: 0 20px 50px 0;
          text-align: center;
          padding: 50px 0;
        }
          .cta-text {
            font-family: $light;
            min-height: rem-calc(140);
            margin: 0 60px;
          }
          .cta-container {
            margin-top: 0;
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            .btn {
              font-size: 14pt;
              height: 34px;
              line-height: 0.9;
              margin-left: 20px;
              margin-right: 20px;
              padding-bottom: 0.4em;
              padding-top: 0.7em;
            }
          }

          @media all and (max-width: $bp-med) {
            .cta-text {
              font-family: $light;
              height: auto;
              margin: 20px;
            }

            img {
              &.img-logo {
                height: 60px;
                margin: 24px auto;
              }
            }
          }
      }
    }
    @media all and (max-width: $bp-large) {
      .gi {
        width: 100%;
        .content-container {
          height: auto !important;
          min-height: 216px;
          img {
            float: left;
            width: 50%;
            margin-bottom: 0;
          }
          .content-container-content-wrap{
            padding:0;
          }
          .content-bg-img {
            height: 100%;
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 50%;
            float: left;
            position: absolute;
            padding-top: 0;

            .fake-bg{
              position: absolute;
              top:0;
              left:0;
              width: 100%;
            }
          }
          .content-container-content-wrap {
            padding-left: 53%;
            padding-right: 10px;
          }
          .cta-container {
            position: relative;
            bottom: 0;
            .btn {
              //margin-bottom: 24px !important;
              // margin-top: 15px;
              // margin-left: auto;
              // margin-right: auto;
              margin: 15px auto 24px auto;
            }
          }
        }
      }
      .gi:first-child {
        padding-right: 0 !important;
      }
      .gi:last-child {
        padding-left: 0 !important;
      }
    }
    @media all and (max-width: $bp-small-2) {
      .gi {
        width: 100%;
        .content-container {
          height: auto !important;
          min-height: 216px;
          .content-bg-img {
            height: 216px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            position: absolute;
          }
          .content-container-content-wrap {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 216px;
          }
          .cta-container {
            position: relative;
            bottom: 0;
            .btn {
              // margin-bottom: 24px !important;
              // margin-top: 15px;
              // margin-left: auto;
              // margin-right: auto;
              margin: 15px auto 24px auto;
              //width: 50% !important;
              width: 50%;
            }
          }
        }
      }
      .gi:first-child {
        padding-right: 0 !important;
      }
      .gi:last-child {
        padding-left: 0 !important;
      }
    }
  }
  &.contextual-tile-band {
    .g.g-3up {
      .gi {
        .content-container {
          position: relative;
          height: 540px;
          img {
            width: 100%;
          }
          h4 {
            //margin: 0 60px;
          }
          .cta-container {
            bottom: 20px;
          }
        }
      }
    }
  }

  &.interrupter-tile, &.contextual-tile-band {
    display:table;
    border-collapse:separate;
  }
  &.contextual-tile-band {
    padding: 0px;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    border-spacing: 5px;
    .gi {
      display: table-cell;
      width: 33%;
      float: none;
      background-color: $white;
      vertical-align: top;
      .images-container {
        padding-bottom: 15px;
      }
      .content-container {
        h4, .cta-text{
          padding: 0 45px;
        }
        h4 {
          margin-top: 15px;
        }
        p {
          margin-top: 10px;
        }
        .cta-text {
          padding-top: 0;
        }
        .cta-container {
          text-align: center;
          margin-top: 60px;
          margin-bottom: 10px;
          a.btn {
            margin:0 15px 10px 15px;
          }
        }
      }
    }
  }
  &.interrupter-tile{
    border-spacing:5px 0;
    margin-top: 3px;
    padding-bottom: rem-calc(20);
    overflow: hidden;
    background-color: inherit;
    &.full-bleed {
      padding-bottom: 0;
    }
    .g.g-3up {
      margin:0 -10px;
      width:auto;
      .col {
        display:table-cell;
        width: 33%;
        background-color: $lightestGray;
        .content-container {
          color: $black;
          box-shadow: none;
          .eyebrow {
            font-family: $medium;
            font-size: 40px;
            text-align: center;
            color: $black;
          }
          .headline {
            font-size: 22px;
            text-align: center;
            color: $black;
          }
          img {
            display: block;
            margin-bottom: rem-calc(20);
            &.img-logo {
              height: 60px;
              margin: 50px 0 30px 60px;
            }
          }
          .content-bg-img {
            position:relative;
            display: block;
            max-width: 100%;
            padding-top: 56.25%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            .fake-bg{
              position: absolute;
              top:0;
              left:0;
              width: 100%;
            }
          }
          .btn {
            font-size: rem-calc(14);
            height: 34px;
            line-height: rem-calc(16);
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 0.4em;
            padding-top: 0.7em;
          }
          .cta-text {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin: 30px auto 0 auto;
            padding:0 15%;
            color: $darkGray;
            font-family: $light;
            font-size: rem-calc(17);
          }
          .content-container-content-wrap {
            padding:40px 0 50px 0;
          }
          .cta-container {
            text-align: center;
            margin-top: 40px;
            a {
              font-family: $bold;
              padding: 12px 28px 8px 28px;
              text-transform: uppercase;
            }
          }
        }
        &.type-1 {
          .content-container {
            .eyebrow {
              font-family: $light;
              font-size: 22px;
              text-align: center;
            }
            .headline {
              font-family: $medium;
              font-size: 32px;
              padding-top: 0;
              text-align: center;
            }
          }
        }
        &.type-2 {
          .eyebrow {
            font-family: $light;
            font-size: 22px;
            text-align: center;
          }

          .headline {
            font-family: $medium;
            font-size: 32px;
            padding-top: 0;
            text-align: center;
          }
        }
        &.type-3 {
          .content-container {
            background-color: $black;
            background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2238%22%20viewBox%3D%220%200%2026%2038%22%3E%3Cpath%20fill%3D%22%23393A3B%22%20d%3D%22M0%200h26v38H0z%22%2F%3E%3Cg%20fill%3D%22%23373738%22%3E%3Cpath%20d%3D%22M15.6%209.4h-5v7.1H3.5v5h7.1v7.1h5v-7.1h7.1v-5h-7.1M2.5%202.5h7V0H0v9.5h2.5M23.5%202.5v7H26V0h-9.5v2.5M2.5%2035.5v-7H0V38h9.5v-2.5M23.5%2035.5h-7V38H26v-9.5h-2.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            color: $white;

            .headline {
              color: white;
            }
            img {
              height: 150px;
              margin: 0 auto;
              padding-top: 100px;
              width: 50px;
            }

            .eyebrow {
              width: 70%;
              margin: 0 auto;
              color: white;
              text-transform: none;
            }

            .cta-text {
              font-family: $light;
              color: $white;
            }

          }
        }
      }

    }
  }
}

//LOB INTRO PAGE RECIRC BAND
.lob-intro-page-recirc-band.lob-page-recirc-band.interrupter-tile{
  .g.g-3up{
    padding-top: 10px;
    background-color: $heroGray;
    .gi.type-1{
      @media(min-width: 801px){
        margin-bottom: 10px;
        &:nth-child(3n-2){padding: 0 7px 0 0;}
        &:nth-child(3n-1){padding: 0 3.5px;}
        &:nth-child(3n){padding: 0 0 0 7px;}
      }
      .content-container-content-wrap{
        @media(min-width: 477px) and (max-width: $bp-large){padding: 7px;}
        .cta-text{
          font-family: $light;
          color: $darkGray;
        }
      }
      .content-container{
        height: 720px;
        background-color: $white;
        // @media all and (max-width: $bp-large){height: ;}
        // @media all and (max-width: $bp-small-2){height: ;}
      }
    }
  }
}

//NCAA EXCEPTIONS
.NCAA {
  .lob-page-recirc-band {
    .g.g-3up {
      .gi {
        .content-container {
          .content-bg-img {
            padding-top: 56.25%;
            height: 0;
          }
        }
      }
      @media all and (max-width: $bp-large) {
        .gi, .col {
          width: 100%;
          .content-container {
            height: auto !important;
            min-height: 216px;
            .content-bg-img {
              height: 216px;
              display: block;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              width: 100%;
              position: absolute;
              padding-top: 0;
            }
            .content-container-content-wrap {
              padding-left: 20px;
              padding-right: 20px;
              padding-top: 216px;
            }
            .cta-container {
              position: relative;
              bottom: 0;
              .btn {
                // margin-bottom: 24px !important;
                // margin-top: 15px;
                // margin-left: auto;
                // margin-right: auto;
                margin: 15px auto 24px auto;
                //width: 50% !important;
                width: 50%;
              }
            }
          }
        }
        .gi:first-child {
          padding-right: 0 !important;
        }
        .gi:last-child {
          padding-left: 0 !important;
        }
      }
    }
    &.interrupter-tile {
      .g.g-3up {
        .gi, .col {
          &.type-1 {
            @media all and (max-width: $bp-large) {
              .content-container-content-wrap {
                width: 100%;
                margin-left: 0;
                .cta-text {
                  font-family: $light;
                  padding-bottom: 0;
                }
                .cta-container {
                  position: relative;
                  .btn {
                    &.btn-full {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media(max-width: $bp-large){
    .three-up-band{
      .btn{margin-left: 20px;}
    }
  }
}

.en_us.Home, .en_us.homepage {
  .interrupter-tile .g.g-3up .gi .content-container {
    height: 630px;
    @media all and(max-width: $bp-xxl){
      height: 630px;
    }
  }
}
.en_gb.homepage, .es_es.homepage {
  .interrupter-tile .g.g-3up .gi .content-container {
    height: 630px;
    @media all and(max-width: $bp-xxl){
      height: 630px;
    }
  }
}

//tablet
@media( max-width: $bp-large ){
  .no-flexbox .lob-page-recirc-band.contextual-tile-band .content-container {
    display: table;
    .images-container,  .text-container{
      display: table-cell;
      img{
        height: calc(100%);
      }
    }
  }
  .lob-page-recirc-band {
    &.interrupter-tile .g.g-3up .col, &.contextual-tile-band .gi{
      display:block;
      margin-bottom: 3px;
      padding-bottom: 0;
    }
    &.contextual-tile-band {
      display: block;
      border-collapse: collapse;
      .gi {
        margin: 5px;
        width: 98.5%;
        .content-container {
          display: flex;
          .images-container, .text-container {
            width: 50%;
            float: left;
          }
          .images-container {
            display: inline-flex;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    &.interrupter-tile{
      .g.g-3up {
        .col {
          width:100%;
          .content-container {
            display:inline-block;
            width: 100%;
            .content-container-content-wrap {
              display: inline-block;
              width: 50%;
              padding: 50px 0;
            }
            .cta-text {
              font-size: 1rem;
              margin: 20px auto;
            }
            .cta-container{
              position:static;
              margin-top: 0;
            }
            .content-bg-img {
              display: inline-block;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 50%;
              float: left;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

//mobile
@media( max-width: $bp-small-3 ){
  .interrupter-small-band .interrupter-band.content-left .gi:first-child{
    padding-right: 15px;
    padding-left: 15px;
  }
  .lob-page-recirc-band.interrupter-tile .g.g-3up .gi .content-container .cta-container a{
    //width: 100%;
    padding: 12px 10px 8px;
    font-size: 12px;
  }
  .lob-page-recirc-band {
    &.contextual-tile-band {
      .gi {
        .content-container {
          display: block;
          .images-container, .text-container {
            width: 100%;
            display: block;
            float: none;
          }
        }
      }
    }
  }
  .lob-page-recirc-band {
    &.interrupter-tile {
      .g.g-3up {
        .col {
          margin:0 auto 3px auto;
          .content-bg-img {
            width: 100%;
            position: static;
            margin-bottom:24px;
          }
          .content-container {
            .content-container-content-wrap {
              padding-left:0;
              padding-right:0;
              margin:0;
              width: 100%;
            }
            .cta-text {
              margin: 25px auto 25px auto;
            }
            .cta-container{
              margin-top: 0;
            }
            .btn {
              width: 50%;
            }
            .content-bg-img {
              padding-top: 56.25%;
              width: 100%;
              float: left;
              //position: static;
              position: relative;
              margin-bottom: 0;
            }
          }
          &.type-1 {
            .content-bg-img {
              height:215px;
            }
          }
        }
      }
    }
  }
}
