.breadcrumb-band {
	padding: 10px 60px;
	margin: 0;
	border-bottom: 1px solid $lightGray;
	max-width: none;
	ul, ol {
		list-style: none;
		margin: 0;
		font-size: 14px;
		padding-top: 2px;
		li {
			float: left;
			margin: 0 10px 0 0;
			color: $lightGray;
			a {
				float: left;
				font-family: $light;
				color: $enterpriseGreen;
				margin-right: 10px;
			}
			.icon {
				float: left;
				width: rem-calc(10);
				height: rem-calc(10);
				margin: rem-calc(4 8);
			}
			.current {
				color: $black;
			}
		}
	}

	// Temporary fix for location pages until we have all breadcrumbs consolodated
	&.location-breadcrumbs {
		a {
			color: $enterpriseGreen;
		}
	}
	@media all and (max-width: $bp-med) {
		padding-left: 4%;
	}
}
.featured-city-band {
	max-width:1280px;
	margin: 100px auto;
	&.city-page {
		margin: 0 auto;
		.band {
			padding: 0;
		}
	}
	.location-band {
		&.descriptive-band {
			padding-bottom:50px;
			h2 {
				font-family: $light;
				color: $black;
			}
		}
	}
	.sub-accordion {
		display:none;
	}
}

.location-band {
	padding: 0;
	h2 {
		font-family: $light;
		font-size: rem-calc(28);
		background: none;
        margin-bottom: 20px;
	}

	h4 {
		font-family: $medium;
		margin: rem-calc(20 0);
		font-size: rem-calc(22);
		line-height: rem-calc(32);
		text-transform: none;
		color: $black;
	}
	.cf {
		padding: 0;
	}

	ul, ol {
		list-style: none;
		margin-left: 0;
		margin: rem-calc(20 0);

		li {
			line-height: rem-calc(18);
			margin-bottom: rem-calc(13);
			width:100%;
			display: inline-block;
			vertical-align: top;
			

			@media all and (max-width: rem-calc(1000)) {
				margin-bottom: rem-calc(24);
			}

			@media all and (max-width: rem-calc(800)) {
				width: 50%;
			}

			@media all and (max-width: rem-calc(400)) {
				width: 100%;
				float: none;
			}
		}

		&.state-list {
			margin-bottom: 0;

			.state-level-item{
				margin: 0;
				padding: 0;
				@media(min-width: $bp-small){
					display: inline-block;
					width: 50%;
					margin: 0 -4px rem-calc(40) 0;
				}
				@media(min-width: $bp-large){width: 20%;}
			}

			.heading-link {
				font-family: $bold;
				font-size: 17px;
				line-height: 1.1;
			}
		}

		.state-title{
			//float: left;
			//width: 25%;
			margin: 0;
		}

		&.city-list {
			//margin-top: rem-calc(10);
			//width: 75%;
			float: left;
			margin-top: 0;

			.city-level-item {
				margin-top: 5px;
				margin-bottom: 5px;
				float: none;
				//margin-bottom: rem-calc(10);

				a {
					font-family: $light;
				}
			}
		}
	}

	&.region-list {
		h2 {
			font-weight: 500;
			line-height: rem-calc(32);
		}

		.cf {

			ul{
				column-count: 4;
				float: none;
				li{
					a {
						color:$enterpriseGreen;
					}
				}
			}
		}

		.cf:last-child {
			border-bottom: 0 none;
		}
	}
	&.airport-list {
		width:25%;
		margin-right:5%;
		float:left;
		h2 {
			font-family: $bold;
			font-size:rem-calc(18);
			color: $black;
		}
		ul {
			margin:.5rem 0;
			li {
				width: 100%;
				a {
					color: $enterpriseGreen;
					&:hover {
						color:$darkGreen;
						text-decoration:underline;
					}
				}
			}

		}
	}
	
	&.neighborhood-list {
		width:69%;
		h2 {
			font-family: $bold;
			font-size:rem-calc(18);
			font-weight: normal;
			line-height: initial;
			color: $black;
		}
		&.three-column {
			float:none;
			display:inline-block;
			ul {
				float:none;
				column-count: 3;
				column-gap: 10px;
				li{
					@media all and (max-width: rem-calc(800)) {
						width: 100%;
					}
				}
			}
		}
		&.four-column {
			width:100%;
			ul {
				column-count: 4;
				column-gap: 20px;
			}
		}
		a {
			color: $enterpriseGreen;
			&:hover {
				color:$darkGreen;
				text-decoration:underline;
			}
		}
	}
	&.descriptive-band {
		//padding-top: 90px;
		padding-bottom: 10px;

		h2 {
			margin-bottom: 25px;
			font-family: $bold;
			font-size: rem-calc(32);
			line-height: 1.1;
		}

		.description {
			max-width: 60%;
			color: $darkGray;
			font-family: $light;
			font-size: rem-calc(22);
			line-height: 1.3;
			
			p{
				color: $darkGray;
				font-family: inherit;
				//font-size: inherit;
				line-height: inherit;
				margin-bottom:0;
			}
		}
	}
}
@media (max-width: 80rem) {
	.-city-bandfeatured {
		margin: 0 40px;
	}
}
@media all and (max-width: 1000px) {
	.location-band.descriptive-band{
		// padding-top: 50px;
		padding-top: 0;
		padding-bottom: 0px;
		.description{max-width: none;}
	}

}

@media all and (max-width: $bp-large) {
	.location-band {
		&.region-list {
			.cf ul {
				column-count: 2;
			}
		}
		ul{
			&.city-list{
				width: 65%;
				.city-level-item{
					//float: left;
					width: 50%;
				}
			}

			.state-title{width: 35%;}
		}
		&.airport-list {
			float:none;
			width:100%;
			margin-bottom:20px;
		}
		&.neighborhood-list {
			position: relative;
			width:100%;
			&.three-column, &.four-column {
				width: 100%;

			}
		}
	}

}
@media all and (max-width: $bp-small-3) {
	.location-band {
		ul{
			margin-bottom: 0;
		}
		&.region-list {
			.cf ul {
				column-count:1;
			}
		}
		&.airport-list {
			float:none;
			width:100%;
			padding-left: 0px;
			margin-top:20px;

		}
		&.neighborhood-list {
			position: relative;
			width:100%;
			&.three-column, &.four-column {
				width: 100%;
				ul {
					column-count: 1;
				}

			}
			padding-left: 0;
			margin-bottom:10px;
		}
	}
	.featured-city-band {
		margin:100px 0;
		.location-band {
			&.descriptive-band {
				padding-left:0px;
				margin-top:20px;
			}
		}
		.sub-accordion {
			display:block;
		}
	}
	.expandable-list {
		.sub-accordion {
			div {
				display:inline-block;
				font-family: $bold;
				color:$enterpriseGreen;
				font-size: 15px;
				cursor:pointer;
				text-transform: uppercase;
			}
		}
		:after {
			content:' ';
			position:absolute;
			left:0;
			right:17px;
			height:1.5em;

			background:linear-gradient(
											to bottom,
											rgba(255,255,255,0),
											rgba(255,255,255,0.2) 100%
			);
			z-index:1;
			bottom:2.5em;
		}
		&.expanded {
			:after {
				content:none;
				background:transparent;
			}
		}

		.show_more {
			span {
				display: inline-block;
				margin-right:5px;
				i{
					&.icon {
						position:relative;
						width:15px;
						height:15px;
						top:3px;
					}
				}
			}
		}
		.show_less {
			span {
				display: inline-block;
				transform: rotate(-180deg);
				margin-right:5px;
				i{
					&.icon {
						position:relative;
						width:15px;
						height:15px;
						top:3px;
					}
				}
			}
		}
	}
}
@media all and (max-width: 420px) {
	.location-band {
		ul{
			.state-title{width: 100%;}
		}

	}

}
