.magazine-intro-band {
  margin: 0 auto;

  .header {

    h1 {
      float: left;
      padding-bottom: rem-calc(18);
    }

    .social-panel {
      float: right;
      span {
        display: inline-block;
        float: left;
        margin-top: 10px;
        margin-right: 10px;
      }

      a {
        background-color: $lightestGray;
        background-size: 30px 30px;
        background-position: center;
        display: inline-block;
        float: left;
        height: 40px;
        margin: 0 3px;
        width: 40px;
      }
    }
  }

  .magazine-image {
    position: relative;
    box-sizing: content-box;
    height: 0;
    padding-bottom: 51.25%;
    overflow: hidden;
    background-color: $enterpriseGreen;
    img {
      /* position: absolute; */
      width: 100%;
      margin-top: 0;
    }
    .magazine-image-text {
      display: none;
    }

  }

  h2 {
    font-size: rem-calc(32);
    font-size: 34px;
    margin-bottom: 30px;

  }
  @media(max-width: $bp-small-3) {
    margin: 0 4%;
    .magazine-image {
      margin-top: 10px;
    }
  }
}

.NHL, .NCAA {
  .magazine-intro-band {
    .magazine-image {
      .magazine-image-text {
        display: block;
        position: absolute;
        z-index: 99;
        top: 50px;
        right: 0;
        width: 40%;
        .author-title {
          width: 60%;
        }
        .author-name {
        }
        @media(max-width: $bp-large) {
          top: 20px;
        }
        @media all and (max-width: $bp-xl) {
          right: 15px;
          width: 45%;
          .author-title {
            float: right;
          }
          .author-name {
            p {
              text-align: right;
            }
          }
        }
        @media all and (max-width: $bp-small-3) {
          display: none;
        }
      }
    }
    @media(max-width: $bp-large) {
      .gi.gi-3-4 {
        float: none;
        width: 100%;
        padding: 0 3%;
      }
      .gi:first-child {
        display: none;
      }
    }
  }
}

.magazine-landing-intro-carousel {
  .carousel {
    .carousel-container {
      .slide-content {
        .cta {
          h2 {
            width: 100%;
            right: 0 !important;
            left: 0 !important;
          }
          p {
            top: 23%;
          }
        }
      }
    }
  }
}

.magazineCatBand {
  .gi {
    padding: 20px 0;
  }
  .g-4up {
    border-bottom: 1px solid $lightGray;
  }
  .gi-2-4 {
    padding-right: 20px;
    border-right: 1px solid $lightGray;
    &.magazineAdAdded {
      height: 84px;
      .magazineRecentArticles {
        text-decoration: underline;
        float: left;
      }
      p {
        margin-bottom: 0;
        padding-top: 11px;
        a {
          float: right;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .magazineDropdown {
    padding-left: 20px;
    .custom-select {
      #magazineNavDropdown {
        border: 1px solid $lightGray;
        margin: 0;
        height: 44px;
        font-size: 1.2em;
        padding-top: 0.6em;
      }
    }
  }
  .magazineSearch {
    fieldset {
      margin-top: 0;
      .field-container {
        margin-bottom: 0;
      }
    }
    .custom-select {
      background-image: none;
    }
    #search {
      font-size: 1.2em;
      color: $enterpriseGreen;
      width: rem-calc(275);
      height: 44px;
      padding: .8em .5em .5em .5em;
      border-radius: 0px;
      -webkit-border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid $lightGray;
      -webkit-transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -ms-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all;
      text-overflow: '';
      -moz-appearance: none;
      text-indent: 0.01px;
      background: #ffffff; /* Old browsers */
    }
  }
}
