/**///mobile first
.mapToggleBand{
  height: 210px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  .hero{
    display: block;
    position: relative;
    height: 210px;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .map{
    position: relative;
    .mapToggle{
      height: 22.5px;
      background: rgba(24, 25, 24, 0.85); // equivalent of #181918 at 85% (http://hex2rgba.devoth.com/)
      &:hover {
        background-color: rgba(24, 25, 24, 1.0);
      }
    }
  }
  .viewMap{//view map
    .hero{
      display: none;
    }
  }
  .mapToggle{
    position: absolute;
    display: block;
    width: 92.5px;
    height: 82.5px;
    bottom: 5px;
    right: 5px;
    background: url('/etc/designs/ecom/dist/img/map-toggle-mobile.png') no-repeat;
    cursor: pointer;
    .closeMapText,.toggleMapText{
      height: 22.5px;
      color: white;
      line-height: 22.5px;
      font-size: 0.6875em;
      font-weight: bold;
    }
    &:hover .toggleMapText {
      background-color: $darkGreen;
    }
    .closeMapText{
      margin-left: 10px;
      &:after{
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 9px;
        width: 10px;
        height: 10px;
        border-top: 2px solid white;
        transform: rotate(45deg);
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 2px;
        width: 10px;
        height: 10px;
        border-top: 2px solid white;
        transform: rotate(135deg);
      }
    }
    .toggleMapText{
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      text-align: center;
      background-color: $enterpriseGreen;
    }
  }
  a.btn.link-style-btn{
    color: $enterpriseGreen;
    background: transparent;
    &:hover{
      color: $enterpriseDarkGreen;
    }
  }
  .band.map-band #map-canvas {
    height: 210px;
  }
}
//tablet
@media all and (min-width :$bp-small-2) {
  .mapToggleBand {
    height: 300px;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    .hero {
      height: 300px
    }
    .band.map-band #map-canvas {
      height: 300px;
    }
    .mapToggle{
      width: 130px;
      height: 125px;
      bottom: 20px;
      right: 20px;
      background: url('/etc/designs/ecom/dist/img/map-toggle.png') no-repeat;
      .closeMapText,.toggleMapText{
        height: 35px;
        font-size: 0.875em;
        text-transform: uppercase;
        line-height: 35px;
      }
      .closeMapText{
        margin-left: 20px;

        &:after{
          right: 20px;
          top: 15px;
          width: 10px;
          height: 10px;
        }
        &:before{
          right: 20px;
          top: 8px;
          width: 10px;
          height: 10px;
        }
      }
    }
    .map{
      .mapToggle{
        height: 35px;
      }
    }
  }
}
//desktop
@media all and (min-width: $bp-med-2){//tablet and desktop
  .mapToggleBand{
    height: 420px;
    .hero{
      height: 420px;
    }
    .band.map-band #map-canvas {
      height: 420px;
    }
  }
}

