.meet-the-fleet-band {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  .fleet-background-wrapper {
    width: 100%;
    position: relative;
    box-sizing: content-box;
    //height: 0;
    //padding-bottom: 56.25%;
    background: $lightestGray;

    .fleet-content {
      // position: absolute;
      // top: 0;
      // left: 0;
      // bottom: 0;
      width: 100%;
      padding: 6% 0 8% 0;
      overflow: hidden;
      .fleet-headline {
        text-align: center;
        width: 80%;
        margin: 0 10%;
        font-size: 20px;
        line-height: 31px;
        .fleet-subtext {
          //font-size: 2vw;
          line-height: 1;
        }
      }
      .fleet-cars{
        position: relative;
        padding: 0 0 28.125% 0;
      }

      h2 {
        font-family: $heavy;
        //font-size: 2.5vw;
      }

      .single-car {
        position: absolute;
        top: 0;
        width: 50%;
        cursor: w-resize;
        //top: 6%;
        p {
          display: none;
        }
        img {
          width: 100%;
        }
        &.active {
          transition: all .6s ease-in-out;
          transform-style: preserve-3d;
        }
      }

      .car-information {
        // position: absolute;
        // bottom: 12%;
        // right: 0;
        // left: 0;
        width: 90%;
        max-width: 850px;
        margin: 20px auto;
        text-align: center;

        .car-class {
          font-family: $heavy;
          font-size: 21px;
          transition: .5s opacity ease-in-out;
          transform-style: preserve-3d;
          //font-size: 1.25vw;
        }

        p {
          min-height: 51px;
          margin: 0;
          transition: .5s opacity ease-in-out;
          transform-style: preserve-3d;
          //font-size: 1vw;
        }

        .btn {
          margin: 2% 0;
          margin-top: 35px;
          // font-size: 1vw;
          text-transform: uppercase;
          .icon-nav-external-link-white {
            float: right;
            margin-left: 10px;
          }
        }

        @media all and (min-width: 960px) {
          p {
            font-size: 17px;
          }
        }
      }

      .fleet-carousel-nav {
        position: absolute;
        bottom: 9%;
        left: 0;
        right: 0;
        margin: 0 auto;
        list-style-type: none;
        text-align: center;

        .fleet-carousel-nav-item {
          box-sizing: content-box;
          display: inline-block;
          width: 38px;
          height: 5px;
          margin: 0 4px;
          background-color: $lightGray;
          line-height: 1;
          padding: 0;

          &.current {
            background-color: $enterpriseGreen;
            border-bottom: 3px solid $enterpriseGreen;
          }
        }
      }
    }
  }
  &.meet-the-fleet-single {
    .car-information {
      position: relative;
      margin-top: -150px;
    }
  }
}

@media all and (max-width: $bp-xl) {
  .meet-the-fleet-band {
    .fleet-background-wrapper {
      .fleet-content {
        .fleet-headline {

        }
        .fleet-cars {

        }
        .car-information {
          bottom: 8%;
        }
        .fleet-carousel-nav {
          bottom: 4%;
        }
      }
    }
  }
}

@media all and (max-width: $bp-large-2) {
  .meet-the-fleet-band {
    .fleet-background-wrapper {
      //padding-bottom: 68.25%;

      .fleet-content {
        .fleet-headline {

        }
        .fleet-cars {

        }
        .car-information {
          .car-class {
            //font-size: 2.25vw;
          }

          p {
            //font-size: 2vw;
            min-height: auto;
          }

          .btn {
            margin-top: 29px;
            //font-size: 2vw;
          }
        }
        .fleet-carousel-nav {
          bottom: 4%;
        }
      }
    }
  }
}

// view for devices in landscape
@media all and (max-width: $bp-large-2) and (orientation: landscape) {
  .meet-the-fleet-band {
    .fleet-background-wrapper {
      //padding-bottom: 80.25%;

      .fleet-content {
        .fleet-cars {
          .single-car {
            //top: 15%;
          }
        }
      }

    }
  }
}

@media all and (max-width: $bp-large) {
  .meet-the-fleet-band {
    .fleet-background-wrapper {
      //padding-bottom: 95.25%;

      .fleet-content {
        .fleet-headline {
          h2 {
            // font-size: 3.2vw;
          }

          .fleet-subtext {
            // font-size: 3.5vw;
          }
        }
        .fleet-cars {
          .single-car {
            //top: 19%;
          }
        }
      }
    }
  }
}

@media all and (max-width: $bp-small-3) {
  .meet-the-fleet-band {
    .fleet-background-wrapper {
      //padding-bottom: 125.25%;

      .fleet-content {
        .fleet-headline {
          h2 {
            // font-size: 3.5vw;
          }

          .fleet-subtext {
            // font-size: 3.5vw;
          }
        }
        .fleet-cars {
          .single-car {
            //top: 25%;
          }
        }
        .car-information {
          .car-class {
            //font-size: 3.8vw;
          }

          p {
            //font-size: 3.5vw;
            min-height: auto;
          }
        }
        .fleet-carousel-nav {

        }
      }
    }
  }
}

@media all and (max-width: $bp-small-2) {
  .meet-the-fleet-band {
    .fleet-background-wrapper {
      //padding-bottom: 160.25%;

      .fleet-content {
        .fleet-headline {
          h2 {
            // font-size: 3.5vw;
          }

          .fleet-subtext {
            line-height: 20px;
            // font-size: 4vw;
          }
        }
        .fleet-cars {
          .single-car {
            //top: 38%;
          }
        }
        .car-information {

          p {
            //font-size: 4.0vw;
          }

          .btn {
            //font-size: 3vw;
            margin-top: 15px;
          }
        }
        .fleet-carousel-nav {
          bottom: 2%;
        }
      }
    }
  }
}
