.slide-show {
  max-width: 1280px;
  margin: 0 auto;
  .context {
    padding: 0 10px;
    .description {
      color: $midGray;
    }
    .cta {
      display: inline-block;
      max-height: 34px;
      font-family: $medium;
      font-size: rem-calc(14);
      padding: 7px 25px;
      background: $enterpriseGreen;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      &:hover {
        background: $enterpriseDarkGreen;
      }
    }
    h2 {
      padding-bottom: 30px;
      color: $black;
    }
  }
  .carousel-container {
    width: 69%;
    display: inline-block;
    .slick-prev,
    .slick-next {
      &.slick-arrow.slick-disabled {
        display: none !important;
      }
    }
    .carousel-content {
      .slick-track {
        background-color: $black;
      }
      .slick-list img {
        margin: 0 auto;
      }
      .slick-arrow {
        position: absolute;
        z-index: 1;
        top: 50%;
        height: 40px;
        width: 40px;
        background-color: $white;
        &.slick-next {
          right: -1px;
        }
      }
      .carousel-caption {
        position: absolute;
        padding: 7px;
        bottom: 0;
        font-size: 12px;
        color: $white;
        width: 100%;
        background-color: rgba(0, 0, 0, .4);
        .count {
          color: $midGray;
          margin-left: 8px;
          margin-right: 15px;
        }
      }
    }
    .carousel-nav {
      margin-top: 10px;
      .slick-track {
        div:first-of-type {
          margin-left: 0;
        }
      }
      .slick-slide {
        max-width: 150px;
        margin-left: 10px;
        img {
          height: 85px;
        }
        &.slick-current {
          border-bottom: $enterpriseGreen 6px solid;
        }
      }
      .slick-arrow {
        position: absolute;
        z-index: 1;
        top: 25%;
        height: 40px;
        width: 40px;
        background-color: $white;
        &.slick-next {
          right: -1px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .slide-show {
    padding: 20px;
    .context {
      width: 100%;
      padding: 0;
      display: block;
    }
    .carousel-container {
      width: 100%;
      margin-top: 30px;
      display: block;
      .carousel-content {
        .slick-arrow {
          top: 50%;
        }
        .slick-list img {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: $bp-med-2) {
  .slide-show {
    .carousel-container {
      .carousel-content {
        .slick-arrow {
          top: 50%;
        }
      }
    }
    .cta {
      width: 100%;
    }
  }
}
