.promo-band {
  .promo-container {
    position: relative;
    box-sizing: content-box;
    // height: 0;
    // padding-bottom: 36.25%;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    img {
      position: absolute;
      width: 100%;
      //margin-top: -10%;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
    .promo {
      background: #ffffff;
      // height: 345px;
      // margin: 0 25%;
      padding: 12px;
      // position: absolute;
      width: 50%;
      // top: 45%;
      margin: 10% auto;
      @media all and (max-width: $bp-large) {
        width: 80%;
      }
      .cta-container {
        border: 2px solid $enterpriseGreen;
        height: 88%;
        padding-top: rem-calc(44);
        h1,h2 {
          color: $black;
          font-family: $medium;
          font-size: rem-calc(36);
          margin: 0 auto;
          text-align: center;
        }

        p, a {
          width: 75%;
          text-align: center;
          margin: rem-calc(28) auto;
        }

        a {
          display: block;
        }
      }
      .cta {
        background-color: $enterpriseGreen;
        height: 12%;
        padding-top: rem-calc(2);
        &:hover, &:focus {
          background: $darkGreen;
        }
        a {
          color: $white;
          display: block;
          font-family: $bold;
          font-size: rem-calc(16);
          width: 75%;
          text-align: center;
          margin: 0 auto;
          .icon.icon-nav-external-link-white {
            display: inline-block;
            margin-left: 10px;
            margin-bottom: -3px;
          }
        }
      }
    }

    @media all and (max-width: $bp-med) {
      box-sizing: inherit;
      height: auto;
      overflow: hidden;
      padding-bottom: 0;
      //position: static;
      position: relative;
      top: 0;
      img {
        margin-top: 0;
        //min-height: rem-calc(442);
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .promo {
        height: 85%;
        margin: 40px 7.5%;
        position: relative;
        width: 85%;
        .cta-container h1 {
          font-size: 28px;
          line-height: 1.2em;
          margin-bottom: rem-calc(16);
        }

        .cta {
          padding: 7px;
          a {
            font-size: 17px;
          }
        }
      }
    }
  }
}

.promo-band-b {
  background-color: $black;
  padding-bottom: rem-calc(80);
  .icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
  }
  h2 {
    color: $white;
    font-family: $bold;
    margin-top: rem-calc(20);
  }
  p {
    color: $midGray;
    display: inline-block;
    line-height: rem-calc(25.60);
    margin-top: rem-calc(20);
    max-width: rem-calc(800);
    width: 75%;
    text-align: center;
  }
  a {
    display: block;
  }
}

.band.promotion-band {
  padding: 0;
  .g {
    margin-bottom: rem-calc(30);
  }
  .gi-2-3 img {
    display: block;
    margin-bottom: rem-calc(-10);
  }
  .promotion-details {
    text-align: center;
    padding: rem-calc(30 0);

    .cta-link {
      display: inline-block;
      margin: 15px 0 0;
      font-family: $medium;
      color: $enterpriseGreen;
      &:hover {
        color: $darkGreen;
        text-decoration: underline;
      }
    }
  }
}

.promotion-detail-content {
  .simpletextband .band {
    max-width: 860px;
    padding: 20px 0;
  }
  .image-band .img-container {
    //height: 25vw !important;
    height: 30vw;
  }
  .stats-band .stat-number {
    font-size: 30px !important;
  }
  h2>a {
    font-size: 17px;
    display: block;
  }
}
