.services4upBand {
  background-color: $lightestGray;
}

.band.services-4up-band {

	padding-bottom: 100px;
	padding-top: 80px;

  	h2 {
		text-align: center;
		font-family: $medium;
		font-size: 28px;
	  	padding-bottom: 52px;

	  	@media all and (max-width: $bp-med) {
			padding-bottom: 0;
		}
	}

	.services-4up-container {
		padding-top: 50px;

		> div {
			width: 25%;
			float: left;
			text-align: center;
		  	padding: 3px;
		  	transition: all 250ms ease-in-out;

		  	&.active {
			  background-color: $white;
			  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
			  position: relative;
			  z-index: 100;
			  transform: scale(1.20);

			  div.content {
				background-color: $enterpriseGreen;
			  }

			  h4 {
				font-family: $bold;
				margin: 7% auto;
			  }

			  a.btn {
				display: none;
			  }

			  p {
				opacity: 1.0;
				font-size: 15px;
			  }
			}

			div.content {
			    background-color: $white;
				width: 100%;
				display: inline-block;
				padding: 5%;
				height: 360px;
				position: relative;
				overflow: hidden;
			}
			h4 {
				color: $black;
				text-transform: none;
				text-align: center;
				font-family: $light;
				font-size: 22px;
			    margin-top: 25%;
				margin-left: auto;
				margin-right: auto;
				width: 66%;
			  	transition: all 250ms ease-in-out;
			}
			p {
			  color: $white;
			  font-size: 15px;
				opacity: 0.0;
			  	transition: all 250ms ease-in-out;
			  	a {
			  		color: $white;
			  		text-decoration: underline;
			  	}
			}
			a.btn {
			  	background: $enterpriseGreen url('/etc/designs/ecom/dist/img/plus_white.gif');
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				width: 30px;
				height: 30px;
				margin-left: -15px;
				left: 50%;
				display: block;
				bottom: 110px;
			  	padding: 5px;
			}

		  	@media all and (max-width: $bp-med) {
			  width: 100%;
			  p {
				margin: 0 24px;
			  }
			}
		}
	}
    .interruptor-image-container {
	  text-align: center;
	  z-index: 100;
	  position: relative;
	  img {
		//margin-top: -50px;
	  }
	}
}