.sitemap-band {
	h2 {
		font-family: $medium;
		font-size: rem-calc(28);
		border-bottom: 2px solid $black;
	}

	h4 {
		font-family: $medium;
		margin: rem-calc(20 0);
		font-size: rem-calc(22);
		line-height: rem-calc(32);
		text-transform: none;
		color: $black;
	}
	ul, ol {
    list-style: none;
    margin-left: 0;
    margin-bottom: rem-calc(40);
    li {
      line-height: rem-calc(18);
      margin-bottom: rem-calc(24);
    }
  }
}