.stats-band {
  .stat-number {
    font-size: rem-calc(40);
    float: left;
    line-height: rem-calc(38);
  }
  .icon {
    width: rem-calc(30);
    height: rem-calc(30);
    float: left;
    margin-right: rem-calc(10);
  }

  p {
    clear: both;
  }

  // TODO: Need to make all columns same height regardless of content
  .gi {
    min-height: rem-calc(172);
    padding: rem-calc(28 0);
    width: 32%;

    &:nth-child(2) {
      margin: rem-calc(0 20);
    }

    @media all and (max-width: $bp-large-2) {
      min-height: 0;
      width: 100%;
      .stat-number {
        font-size: 52px;
        float: none;
        display: block;
        text-align: center;
        padding-bottom: 10px;
      }

      p {
        display: block;
        float: none;
        text-align: center;
        width: 66%;
        margin: 0 auto;
      }

      &:nth-child(2) {
        margin: 0;
      }
    }
  }

  .g {
    &:not(:last-child) {
      .gi {
        border-bottom: 2px solid $lightGray;
      }
    }
  }

  @media all and (max-width: $bp-med) {
    padding-top: 0;
  }
}