.no-flexbox .staggered-block-band {
  section {
    height: 0;
    padding-bottom: 30%;
    img, .content-container {
      position: absolute;
    }
  }
}

.staggered-block-band {
  a {
    font-size: 17px;
  }
  .staggered-block {
    display: flex;
    &.image-position-right {
      flex-direction:row-reverse;
    }
  }
  padding-top: 20px;
  section {
    width: 50%;
    position: relative;
    box-sizing: content-box;
    text-align: center;
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
    &.verticallyCenter {
      img, .content-container {
        justify-content: center;
      }
    }
    img, .content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction:column;
    }
    .content-container {
      a {
        margin-top: 10px;
      }
    }
    h2 {
      font-family: $light;
      font-size: 30px;
    }
    p {
      margin-bottom: 0;
      padding: 10px 0 5px 0;
      font-size: 16px;
      line-height: 24px;
    }
    @media(min-width: $bp-med) and (max-width: $bp-large-2){
      h2{
        font-size: 22px;
      }
      p{
        font-size: 15px;
        line-height: 1.4;
      }
    }
    .content-container {
      padding: 4%;
    }
  }
  .black-block, .green-block {
    color: $white;
  }
  .black-block {
    background-color: $black;
  }
  .green-block {
    background-color: $enterpriseGreen;
  }
  .silver-block {
    background-color: $silver;
  }
  .green-block, .red-block, .yellow-block, .blue-block, .purple-block{
    a{
      color: $white;
      &.btn {
        background-color: $white;
        color: $enterpriseGreen;
        border:1px solid $white;
        &:hover {
          background-color: $enterpriseGreen;
          color: $white;
          border:1px solid $white;
        }      
      }
      &:hover {
        color: $darkGreen;
      }
    }
  }
  .grey-block {
    background: #f1f1f1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwgtQsXrL0f2xMNJiNDGDicAl0hch8FN0wCXQNGFZgcyJpJhF0E9G+wxdcAA2vMApNMVFRAAAAAElFTkSuQmCC) repeat;
    &:before {
      background: radial-gradient(ellipse at center, rgba(255,252,252,0.86) 60%,rgba(255,252,252,0.2) 100%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

@media all and (max-width: 900px) {
  .staggered-block-band {
    section {
      p {
        display: none;
      }
    }
  }
}
@media all and (max-width: $bp-large) {
  .staggered-block-band {
    section {
      width: 50%;
    }
  }
}
@media all and (max-width: $bp-med) {
  .no-flexbox .staggered-block-band {
    section {
      width: 100%;
      padding-bottom: 52.65%;
    }
  }
  .staggered-block-band .staggered-block.image-position-right, .staggered-block-band .staggered-block{
    flex-direction:column;
  }
  .staggered-block-band{
    section {
      width: 100%;
      &.image-content {
        a {
          display: flex;
        }
      }
      &.text-block {
        height: auto;
        padding-bottom: 10px;
        .content-container {
          position: relative;
        }
        p {
          display: block;
        }
      }
    }
  }
}
