.sticky-band {
	ul {
		margin: 0;
		padding: 0 3%;
		width: 100%;
		display: block;
		height: 55px;
		border-top: 1px solid $lightGray;
		border-bottom: 1px solid $lightGray;


		li {
			list-style: none;
			width: 10%;
			height: 100%;
			padding: 0 2%;
			float: left;
			display: table;
			font-family: $bold;
			font-size: rem-calc(13);
			line-height: rem-calc(12);
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			color: $darkGray;
			cursor: pointer;

			&:hover {
				background: $lightestGray;
				color: $darkestGray;
			}

			&:nth-child(odd) {
				border-left: 1px solid $lightGray;
				border-right: 1px solid $lightGray;
			}

			&.green {
				color: #FFF;
				background: $enterpriseGreen;

				&:hover {
					background: $enterpriseGreen;
					color: #FFF;
				}
			}

			span {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				height: 100%;
			}
		}
	}

	.mobile-sticky-band { 
		display: none;
	}
}

@media all and (max-width: 1000px) {
	.sticky-band {
		.mobile-sticky-band {
			display: block;
		}

		ul {
			display: none;
		}
	}
	
}