.text-band {
  padding-bottom: 0;
  p {
    font-size: 17px;
  }
  .gi {
    @media all and (max-width: $bp-med-2) {
      width: 100%;
      br {
        display: none;
      }
    }
    .title {
      padding-right: 15px;
    }
  }
  .btn {
    text-align: center !important;
    margin: 10px 0 60px 0;
    @media all and (max-width: $bp-med) {
      margin-left: 20%;
      min-width: 214px;
      margin-right: 20%;
      margin-bottom: 0;
    }
  }
  .cta-container {
    max-width: rem-calc(485);
    margin-top: rem-calc(50);
  }
}
