.three-up-band {
  .gi {
    padding: rem-calc(40 10);
    &:first-child {
      padding: rem-calc(40 20 0 0);
      @media all and (max-width: $bp-large-2) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &:last-child {
      padding: rem-calc(40 0 0 20);
      @media all and (max-width: $bp-large-2) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  h4 {
    font-family: $bold;
    font-size: 28px;
    color: $black;
    //margin-bottom: 18px;
    text-transform: none;
    min-height: 64px;
  }
  .cta-text {
    margin: 36px 0;
    font-size: 17px;
    line-height: 28px;

    @media all and (max-width: $bp-med) {
      margin-bottom: rem-calc(16);
      margin-top: rem-calc(20);
    }
  }
  .cta-link {
    font-size: 17px;
  }
  .stats-container {
    margin-top: 1em;
    .stats {
      float: left;
      width: 35%;
      .icon {
        width: 40px;
        height: 40px;
        float: left;
      }
      .stat-percent {
        float: left;
        margin-left: 7px;
        padding-left: 11px;
        border-left: 1px solid #000000;
        font-size: 27px;
      }
      .stat-text {
        width: 65%;
        float: left;
        padding-left: 5%;
        p {
          font-size: 15px;
          margin-bottom: 0;
        }
      }
    }
  }
  @media all and (max-width: $bp-large-2) {
    .stats-container {
      width: 50%;
      float: right;
      padding-left: 20px;
    }
  }
  @media all and (max-width: $bp-small-3) {
    .stats-container {
      width: 100%;
      float: none;
    }
  }
}

.business-three-up-band {

  h4 {
    font-family: $bold;
    //font-size: 28px;
    font-size: 17px;
    color: $black;
    margin-bottom: 18px;
    text-transform: none;
    @media all and (max-width: $bp-xl) {
      min-height: 37px;
    }

  }

  .gi {
    padding-right: rem-calc(100);
    @media all and (max-width: $bp-large) {
      min-height: 0;
      padding-right: 0;
      padding-bottom: 0;
      float: none;
      width: 100%;
      h4 {
        margin-bottom: 10px;
      }
      p {
        //margin-bottom: 42px;
        margin-bottom: 0;
      }
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@media all and (max-width: $bp-med) {
  .three-up-band {
    .gi {
      padding: rem-calc(40 0 0 0);

      .content-container {
        margin-bottom: rem-calc(10);
      }

      &:first-child {
        //padding: rem-calc(40 0 0 0);
      }
      &:last-child {
        //padding: rem-calc(40 0 0 0);
      }
    }
  }
}