//.section.tiles-mosaic{margin: 40px 0;}
ul.tiles-mosaic {
	padding: 0;
	margin: 0;
	width: 50%;
	float: left;
	li {
		padding: 28.1% 0 0 0;
		margin: 0;
		width: 50%;
		display: block;
		float: left;
		height: 0;
		background-color: $enterpriseGreen;
		position: relative;
		overflow: hidden;
		.tile-content {
			position: absolute;
			top: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			padding: 10%;
			text-align: center;
			h2 {
				font-size: 22px;
			}
			a {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 15px;
				font-family: $medium;
				color: $enterpriseGreen;

				&:hover{
					color: $enterpriseDarkGreen;
				}
			}
		}
		img {
			z-index: 1;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			max-width: none; 
		}
		&.light-gray, &.white {
			background-color: $lightestGray;
			color: $black;
			.tile-content {
				a {
					color: $enterpriseGreen;
				}
			}
		}

		&.white {
			background-color: $white;
		}
		&.black {
			background-color: $black;
			color: $white;
			.tile-content {
				a {
					color: $enterpriseGreen;
				}
			}
		}
		&.green {
			/* @media all and (max-width: $bp-med) {
				display: none;
			} */
			.tile-content {
				color: $white;
				h2 {
					color: $white;
				}
				a {
					color: $white;

					&:hover{opacity: 0.8;}
				}
			}
		}
	}
	@media all and (max-width: rem-calc(1170)) {
		li {
			.tile-content {
				font-size: 14px;
				h2 {
					font-size: 18px;
				}
			}
		}
	}
	@media all and (max-width: $bp-large-2) {
	  width: 100%;
	  li {
	  	width: 100%;
			.tile-content {
			  //font-size: 17px;
			  h2 {
				//font-size: 22px;
			  }
			}
	  }
	}
	@media all and (max-width: rem-calc(960)) {
		li {
			.tile-content {
				font-size: 11px;
				h2, a {
					font-size: 15px;
				}
			}
		}
	}
	@media all and (max-width: $bp-med) {
	  width: 100%;
	  li {
		padding: 52.5% 0 0 0;
		width: 100%;
		.tile-content {
		  font-size: 16px;
		  h2 {
			font-size: 18px;
		  }
		  a{
		  	bottom: 10px;
		  }
		}
	  }
	}
	@media( min-width: $bp-small-3 ){
		li{
			width: 50%;
			padding: 28.1% 0 0 0;
			img{
				width: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}