.travel, .headlight, .feature{
  padding-bottom: 0;
}
.feature-total .gi-3-4{
  padding: 0;
}
section.band.travel-text-band {
  padding-top: 0;
  padding-bottom: 30px;

  .headlight-subhead {
    padding: 0 0 24px 0;
    font-size: 34px;
    line-height: 46px;
    p {
      padding: 0 10% 0 0;
      font-size: 34px;
      line-height: 46px;
      margin-bottom: 0px;
    }
    @media all and (max-width: $bp-large) {
      padding: 0;
      width: 100%;
    }
    @media all and (max-width: $bp-small-3) {
      font-size: 24px;
      line-height: 32px;
      p {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &.explore-intro {
    .headlight-subhead {
      padding-bottom: 0;
    }
  }
  div.headlight-description {
    padding: 0 15% 0 0;
    @media all and (max-width: $bp-large) {
      width: 100%;
    }
  }
}
section.band.image-band.full-bleed {
  .image-container {
    .greenInfoBlock {
      bottom: 8px;
    }
  }
}
section.band.full-bleed {
  @media all and (max-width: $bp-large) {
    .gi {
      //padding: 0 40px;
    }
  }
}
.band.headlights-list-band.explore-list {
  .image-container {
    background-size: cover;
    background-position: center;
    height: 480px;
    @media all and (max-width: $bp-large) {
      margin-bottom: 1em;
    }
  }
}

.gi-2-3 + .gi .gray-info-block {
  transform: none;
  background: black;
  display: block;
}

.image-container {
  position: relative;
  overflow: hidden;

  .info-block-valigner {
    height: 100%;
    transform: translateY(100%);
  }

  .gray-info-block {
    background: rgba(23,23,23, .7);
    /* height: 40px; */
    /* position: absolute;
    bottom: 0;
    left: 0; */
    transition: left .5s,width .5s;
    transform: translateY(-100%);
    display: inline-block;

    @media (max-width: $bp-large) {
      & {
        transform: none;
        background: black;
        display: block;
      }
    }

    a {
      padding: 10px 10px 0 10px;
    }

    &.text-overflow {
      height: auto;
      background: #FFFFFF;
      position: relative;
      a{
        color: #333333;
        padding: 10px 10px 0 0;
      }
    }
  }
  .greenInfoBlock {
    width: 40px;
    height: 40px;
    background: $enterpriseGreen;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: left 0.5s, width 0.5s;
    &:hover {
      cursor: pointer;
    }
    a {
      display: none;
    }
    &.active {
      left: 0;
      width: 50%;
      a {
        display: block;
        padding-left: 1em;
      }
      .icon {
        transform: rotate(-45deg);
      }
      @media all and (max-width: $bp-small-2) {
    width: 100%;
    }
    }
    .icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
    }
  }
  a {
    padding-top: 0.5em;
    margin-bottom: 0;
    display: block;
    color: $white;
  }

  @media (max-width: $bp-large) {
    & {
      overflow: visible;
    }
  }
}
.map-band {
  #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .map-marker-label{
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: -31px;
    margin-left: -7px;
  }
}
section.band.view-finder-band {
  padding-top: 0;
  #list-map {
    margin-top: 0;
  }
}
section.band.headlights-list-band, section.band.feature-list-band, section.band.view-finder-band, section.feature-total {
  h3 {
    font-family: $heavy;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.16667em;
    padding-right: 20px;
  }
  .gi-3-4 img {
    width: 100%;
  }
  .image-container {
    margin-bottom: 2em;
  }
  .headlight-item-description {
    width: 67%;
    float: left;
    min-height: 100px;
    //margin-top: 2em;
    padding-right: 1em;
  }
  .list-map {
    width: 33%;
    height: 300px;
    margin-top: 2em;
  }
  .country {
    width: 100%;
    p {
      text-align: center;
      width: 25%;
      background: $enterpriseGreen;
      color: $white;
      font-family: $bold;
      padding: 3px;
      &.distance-range{
        background:$white;
        color: #333333;
        font-family: $light;
        padding: 0;
        text-align: left;
        width: 50%;
      }
    }
  }
  @media all and (max-width: $bp-large) {
    .gi {
      width: 100%;
      .headlight-item-description {
        width: 100%;
      }
    }
    .gi-2-3 {
      width: 100%;
    }
    .list-map {
      width: 100%;
    }
  }
  @media all and (max-width: $bp-med) {
    .headlight-item-description {
      width: 100%;
      margin-top: 1.2em;
      margin-bottom: 0.2em;
      min-height: 0;
    }
    .country {
      margin-bottom: 0.5rem;
    }
  }
}
section.band.headlights-list-band {
  padding: 30px 0;
}
