.text-capsule {
  &-list {
    margin: 0;
    background: $lightestGray;
    border-top: 10px solid $lightestGray;
    border-bottom: 10px solid $lightestGray;
    @media all and (min-width: $bp-large) {
      display: flex;
    }
  }

  &-item {
    flex: 1;
    padding: 0 5px;
    display: block;
  }

  &-tile {
    height: 100%;
    background: white;
    box-shadow: 0px 3px 1px #dddddd;

    &.gutter-wide {
      padding: 30px;
    }
    &.gutter-narrow {
      padding: 20px 40px 10px 40px;
    }

    &__image {
      margin: 0 0 10px;
      height: 50px;
    }
    &__heading {
      margin: 0 0 15px;
      font-family: $medium;
      font-size: 17px;
      color: $enterpriseGreen;
    }
    &__text {
      margin: 0 0 20px;
      font-size: 17px;
    }
    .cta-link {
      display: inline-block;
      margin: 15px 0 0;
      font-family: $medium;
      color: $enterpriseGreen;

      &:hover {
        color: $darkGreen;
        text-decoration: underline;
      }
      .icon {
        display: inline-block;
        margin: 0 0 -0.1em;
        height: 0.9em;
        width: 0.9em;
      }
    }
  }
}

@media (max-width: $bp-large) {
  .text-capsule-tile {
    border-bottom: 4px solid $lightestGray;
  }
}
