.twoBands {
  .g-2up {
    border-top: 2px solid black;
    border-bottom: 1px solid $lightGray;
    margin-bottom: 15px;
    padding: 0;
  }
  .gi:first-of-type {
    border-right: 1px solid $lightGray;
    padding-left:0;
  }
  .gi {
    padding: 15px 15px 0px;
    min-height: 250px;
    .img-container {
      float: right;
      height: auto;
      width: 40%;
      padding: 5px 5px 0px 5px;
      box-sizing: border-box;
      img {
        width: 240px;
        height: 215px;
        position: relative;
      }
    }
    .content-container {
      width: 60%;
      float: left;


      h3 {
        font-family: "DINBold";
        margin-top: 10px;
        font-size: rem-calc(22);
      }
      p {
        width: 100%;
        font-size: rem-calc(14);
      }
    }
    &.no-image {
      .img-container {
        display: none;
      }
      .content-container {
        width: 99%;
        padding-right:1%;
      }
    }
  }
  .no-image-component {
    .gi {
      min-height: 150px;
    }
  }
}

//featured city page - two Bands
.featuredcitypage .section.twoBands{
  position: relative;
  margin:100px 0;
  &:after{
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 3px);
    width: 1px;
    left: 50%;
    bottom: 0;
    background-color: $lightGray;
  }
  .band {
    padding:20px 0;
  }
  .g-2up{
    border-bottom: none;
    border-top:none;
    margin-bottom:0;
  }
  .gi{
    min-height:0;
    padding: 20px 0 20px 25px;
    &:first-of-type{
      border: none;
      padding-left:0;
      padding-right: 10px;
    }
  }
  ~ .twoBands {
    &:after{
      height: 100%;
    }
    .twoBands{
      border-bottom: 1px solid $lightGray;
      border-top: none;
    }
  }
  .twoBands{
    border-top: 3px solid black;
    border-bottom: 1px solid $lightGray;
  }

  .band{
    h3{
      font-size: rem-calc(22);
    }
    p{
      font-size: rem-calc(17);
      color: $darkGray;
    }
  }
}

@media all and (max-width: $bp-large) {
  .twoBands {
    .contextual-two-up-band {
      padding: 0;
    }
    .gi:first-of-type {
      border-right: none;
      border-bottom: 1px solid $lightGray;
    }
    .gi {
      width: 100%;
      margin-bottom: 0;
      padding-left:0;
      .img-container {
        float: none;
        width: auto;
        img {
          margin: 0 auto;
        }
      }
      .content-container {
        float: none;
        width: auto;
        margin: 0 auto;
        padding-bottom: 0;
        text-align: center;
      }
    }
  }
  .featuredcitypage .section.twoBands{
    margin: 100px 0;
    &:after{
      height: 1px;
      width: 92%;
      top: 50%;
      left: 4%;
    }
    .band{
      padding: 0;
      .gi{
        padding: 40px 0;
        min-height: inherit;
      }
      h3{
        font-size: rem-calc(20);
      }
      .content-container{
        text-align: left;
      }
    }
    .g-2up{
      border-bottom: 0;
      margin-bottom:0px;
    }
  }
}

//mobile
@media all and (max-width: $bp-med-2){
  .featuredcitypage .section.twoBands{
    margin: 100px 0;

  }
}