.vehicle-page-heading{
	padding: 80px 0 70px;

	@extend .cf;

	@media (min-width: 800px){
		.left{width: 60%;}
		//.right{margin-top: 4px;}
	}
	h1{
		//padding-bottom: 1.125rem;
		padding: 0;
		color: $black;
	}
	h2, h3{
		font-family: $light;
    font-size: 17px;
    margin-bottom: 1em;
		line-height: 1.3;
		letter-spacing: -0.020em;
	}

	.business-intro-band{
		overflow: visible;
		.custom-select select{width: 100%;}
	}
	.right{margin-top: -8px;}
	.sub-header:empty{display: none;}

	+ hr {
		margin-top: 0;
		background: #B8B9B9;

		&.vehicle-meta-page {
			margin: 0;
		}
	}
}

.vehicle-meta-page{
	.vehicle-page-heading {
		h2, h3 {
			font-size: 22px;
			@media all and (max-width: $bp-small-2) {
				font-size: 15px;
			}
		}
	}
	&.vehicles .car-container .car .car-specs {
		margin-bottom: 40px;
	}
}

.band.other-vehicles {
	padding: 80px 0;
}

.reservation-flow.cars .vehicle-band,
.vehicle-band {
	.vehicle-band-heading{
		margin: 20px 0 50px 0;
		font-family: $bold;
		font-size: 28px;
		letter-spacing: -0.030em;
		line-height: 1;
		text-align: center;
	}
	ul.vehicle-class-3up-list {
		li {
			list-style: none;
			float: left;
			width: 33.3333%;
			padding: 0 20px;

			@media (max-width: 748px){
				float: none;
				width: 100%;
			}

			h2 {
				font-size: 18px;
				font-family: $bold;
			}
			.vehicle-class-image{
				padding: 0 40px;
			}
			.header{
				padding-right: 20px;
				h2{
					font-size: 17px;
					line-height: 1.6;
				}
			}
			.description {
				padding: 0 20px 15px 0;
				font-size: 17px;
				letter-spacing: -0.020em;
				line-height: 1.6;
			}
		}
	}
	ul.vehicle-class-list {
		margin: 0;

		> li {
			padding-bottom: 82px;
		}
		li {
			list-style: none;
			.vehicle-class-details {
				width: 66%;
				float: left;
				.header {
					border-bottom: 2px solid $black;
					clear: both;
					h2 {
						@media(max-width: 1000px){width: 50%;}
						width: 60%;
						display: inline-block;
						font-family: $bold;
						font-size: rem-calc(24);
						line-height: 1;
						color: $black;
					}
					.count {
						float: right;
						font-size: rem-calc(18);
						line-height: 1;
					}
				}
				.description {
					padding: 37px 0 33px;
					line-height: 1.5;
					color: #656565;
				}
				.vehicle-specs {
					width: 50%;
					float: left;
					ul { width: 40%; float: left; margin: 0;}
					.spec-heading {
						font-family: $bold;
						font-size: rem-calc(12);
						text-transform: uppercase;
						margin-bottom: 8px;
					}
					.spec-value {
						.icon {
							display: inline-block;
							margin-right: rem-calc(8);
						}
					}
				}
			  	.btn {
				  font-family: $bold;
				}
			}
			.vehicle-class-image {
				float: left;
				width: 33%;
				text-align: right;
				img {
					width: 90%;
				}
			}
			@media all and (max-width: rem-calc(720)) {
				.vehicle-class-details, .vehicle-class-image {
					width: 100%;
					float: none;
				}
			}
		}
	}
}
@media( max-width: $bp-large-2 ){
	.vehicle-page-heading{
		padding: 20px 4% 20px;
		.right, .left{float: none;}
	}
}
@media all and (max-width: rem-calc(720)) {
	.vehicle-page-heading{
		h1{
			margin-bottom: 10px;
			font-size: 28px;
			line-height: 1;
		}

		.right{
			float: none;
			margin-top: 0;
		}
	}
	.vehicle-band{
		ul.vehicle-class-list{
			li{
				.vehicle-class-details{
					.header{
						height: auto;
						.count{
							max-width: 40%;
							font-size: 14px;
							line-height: 1;
							text-align: right;
						}
						h2{
							font-size: 20px;
							line-height: 1;
						}
					}
					.vehicle-specs{
						width: 100%;
						.spec-list{
							width: 50%;
							.spec-heading{margin: 0 0 5px 0;}
						}
					}
					.btn{
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
}
div.vehicle-detail-band-wrapper {
	width: 100%;
  height: 550px;
  overflow-x: hidden;
  @media all and (max-width: $bp-med-2) {
  	height: 275px;
    overflow: hidden;
  }
}
.band.vehicle-detail-band {
	background-repeat: no-repeat;
	background-size: 1920px;
	background-position: center;
	padding-top: 10px;
	height: 295px;
	clear: both;
	margin: 0 0 180px 0;
	border-top: 1px solid $lightestGray;

	img {
		display: block;
		margin: 40px auto 0 auto;
		width: 570px;
		max-width: none;
	}
	@media all and (max-width: $bp-small-2) {
  	height: 195px;
    margin: 0px 0 20px 0;
    img {
	    margin: 0 auto 0 auto;
	    width: 370px;
    }
  }
}

.car-specs {
	ul.spec-list {
		float: left;
		width: 49%;
		margin: 0;
		list-style-type: none;

		.spec-heading, .spec-value{
			margin: 0;
			padding: 0;
		}
		.spec-heading {
			font-family: $bold;
			font-size: rem-calc(12);
			text-transform: uppercase;
			text-align: center;
		}
		.spec-value {
			.icon {
				display: inline-block;
				margin-right: rem-calc(8);
				vertical-align: sub;
			}
			text-align: center;
		}
	}
}
.reservation-flow.cars .vehicle-features-band,
.vehicle-features-band{
	.car-specs {
		padding: 0;
		ul.spec-list {
			padding: rem-calc(10);
			border: 1px solid $midGray;
			border-right: none;
			&:last-child {
				border-right: 1px solid $midGray;
			}
		}
	}
}
.vehicle-features-band {
	max-width: 864px;
	margin: 0 auto;
}
.band.vehicle-detail-content-band {
	max-width: 864px;
	margin: 0 auto;
	padding: 40px 10px;
	.vehicle-bar {
		width: 84px;
    background-color: $enterpriseGreen;
    height: 3px;
    margin: 2em 0 2.5em 0;
	}
	h2 {
		font-size: 42px;
		margin: 24px 0;
	}
	p {
		font-size: 17px;
	}
	.vehicle-detail-content-band-content{
		font-size: 17px;
		max-width: 864px;
		margin: 0 auto;
		color: $darkGray;

		h2 {
			font-size: 1em;
	    font-weight: normal;
	    line-height: 1.16667em;
	    color: $black;
	    font-family: "DINMedium",Arial,sans-serif;
	    padding-bottom: .5rem;
		}
	}
}
.similar-vehicles-band {
	.vehicles {
		h2 {
			//text-align: center;
			text-align: left;
			margin-top: -20px;
   		margin-bottom: 45px;
			font-family: "DINHeavy";
			font-size: 28px;
		}
		.reservation-flow.cars {
			padding: 70px;
			@media only screen and (max-width: $bp-small-2) {
				padding: 20px;
			}
			.reservation-steps {
				.cars-wrapper {
					.car-container {
						width: 45%;
						.car-image {
							position: relative;
							top: 0;
							margin-left: 16%;
							img {
								position: relative;
								top: 0;
								right: 70px;
							}
						}
						&:first-child {
							margin-right: 5%;
						}
						&:last-child {
							margin-left: 5%;
						}
					}
				}
			}
		}
	}
}
.similar-vehicles-band .reservation-flow.cars .car-container {
	width: 50%;
	height: 44vw;
	padding: 5px;
	background: transparent;

	.car {
		position: relative;
		padding: 5px;
		border: 0;
		border-bottom: 2px solid #c3c3c3;
	}

	.car-image {
		height: 20vw;
	}

	.car-specs {
		.select-button {
			bottom: 5%;
		}
	}

	img {
		max-width: 70%;
	}

	.car h3 {
		text-align: center;
	    margin-top: -20px;
	    margin-bottom: 0;
	    font-size: 28px;
		font-family: $regular;
	}

	// &:first-child {
	// 	margin-right: 5%;
	// }
	// &:last-child {
	// 	margin-left: 5%;
	// }
}

.vehicle-pay-box{
	.select-button-type-price{
		width: 90%;
		letter-spacing: initial;
	}
}

@media all and (max-width: $bp-large-2) {
	.similar-vehicles-band  .reservation-flow.cars .car-container {
		height: 44vw;
		.car-image {
			height: 16vw;
		}
		.btn {
			bottom: 10px;
		}
	}
}
@media all and (max-width: $bp-med-2) {
	.similar-vehicles-band  .reservation-flow.cars .car-container {
		height: 53vw;
	}
}
@media all and (max-width: $bp-small-2) {
	.similar-vehicles-band  .reservation-flow.cars .car-container {
		height: 275px;
	}
}
@media all and (max-width: $bp-small-2) {
	.similar-vehicles-band  .reservation-flow.cars .car-container {
		height: 120vw !important;
		.car-header {
			h3 {
				margin-top: 0;
			}
		}
		.car-details {
			.car-image {
				img {
					top: 15px;
    			right: 0;
				}
			}
		}
		.car-specs {
			margin-top: 20%;
		}
	}
}
@media all and (max-width: $bp-large) {
	.business-intro-band .custom-select select{
		float: none;
		margin-top: 0;
	}
}
@media all and (max-width: 700px) {
  .similar-vehicles-band  .reservation-flow.cars .car-container {
    width: 100%;
    height: 100vw;
	.car-image {
		height: 40vw;
	}
	.car-specs {
		.select-button {
			bottom: 10%;
		}
	}
  }
}

@media all and (max-width: 550px) {
	.vehicle-band {
	  ul.vehicle-class-3up-list{
	  	li{
	  		float: none;
	  		width: 100%;
	  	}
	  }
	}
}

@media all and (max-width: 420px) {
  .similar-vehicles-band  .reservation-flow.cars .car-container img {
    max-width: 100%;
  }
}

@media( min-width: $bp-xxl ){
	.vehicle-page-heading .business-intro-band .custom-select select{width: auto;}
}
