.video-band {
  background-color: $black;
  padding-top: 0;
  padding-bottom: 0;
}
.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; //16 x 9
  position: relative;
  .video-player {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.video-3-4-band {
  padding: 0;
  .video-content {
    padding-right: 40px;
  }
}