.videoplayer {

  h1 {
    margin-bottom: 50px;
  }

  h2 {
    color: $black;
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: $bold;
  }

  .videoplayer-description {
    float: left;
    width: 28%;
  }

  .brightcove-container {
    /* Garantees minimum vertical size to fit share icons */
    min-height: 210px;

    /* Garantees the aspect ratio */
    padding-bottom: 38.3%;
  }

  .brightcove-container,
  .videoplayer-transcript {
    float: right;
    width: 68%;
  }

  .brightcove-container object {
    max-width:100%;
    height:497px;
  }

  .videoplayer-transcript {
    position: relative;
    margin-top: 30px;
  }


  @media all and (max-width: $bp-small-2) {
    .videoplayer-description,
    .brightcove-container,
    .videoplayer-transcript {
      width: 100%;
      margin: 10px 0;
    }
  }

  @media all and (max-width: $bp-large) {
    .vjs-social-start-from,
    .vjs-social-embed-code,
    .vjs-social-label-text {
      display: none !important;
    }
    .vjs-social-direct-link {
      width: 100% !important;
      padding-right: 0 !important;
    }
  }

  // ECR-11914 Default to the text, not the icons that don't wory cross domain
  // YES YES YES !important is terrible but we have to override the Brightcove CSS here
  a.vjs-social-share-link {
    margin-bottom: .57143em;
    padding: 11px !important;
    font-size: 12px !important;
  }
  // YES YES YES !important is terrible but we have to override the Brightcove CSS here
  a.vjs-social-share-link:before {
    content: "" !important;
  }
  // YES YES YES !important is terrible but we have to override the Brightcove CSS here
  a.vjs-social-share-link span {
    position: relative !important;
    color: #fff !important;
    pointer-events: none;
    display: table;
  }
}
