<fieldset>
    <div class="row">
        <label class="col-md-2 col-sm-2 col-xs-12 text-center">
            <strong>* Compe Própria</strong>
            <checkbox
                ng-model="$ctrl.contaCorrente.compePropria"
                class="field-checkbox"
                ng-change="$ctrl.alteradoCompePropria()"
            ></checkbox>
        </label>

        <label class="col-md-2 col-sm-2 col-xs-12 text-center">
            <strong>Repetir o N. de Matrícula</strong>
            <checkbox
                ng-model="$ctrl.contaCorrente.repetirNumeroMatricula"
                class="field-checkbox"
            ></checkbox>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Número da Conta</strong>
            <input type="text" ng-model="$ctrl.contaCorrente.numeroConta"
                name="numeroConta"
                ng-disabled="true"
                class="text-uppercase"
                maxlength="10">
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>* Tipo de Conta</strong>
            <select ng-model="$ctrl.contaCorrente.tipo"
                    name="tipoConta"
                    ng-change="$ctrl.alteradoTipoDeConta($ctrl.contaCorrente.tipoConta)"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{tipoConta.codigo}}" ng-repeat="tipoConta in $ctrl.tiposConta">{{tipoConta.descricao}}</option>
            </select>
        </label>
    </div>
    <div class="row">
        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Modalidade</strong>
            <select ng-model="$ctrl.contaCorrente.modalidade"
                    name="modalidade"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{modalidade.valor}}" ng-repeat="modalidade in $ctrl.modalidades">{{modalidade.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12 text-center">
            <strong>Centraliza Saldos</strong>
             <checkbox
                ng-model="$ctrl.contaCorrente.centralizaSaldo"
                class="field-checkbox"
            ></checkbox>
        </label>

            <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Contato na Unicred</strong>
            <select ng-model="$ctrl.contaCorrente.gerenteConta"
                    name="gerenteConta"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{gerenteConta.id}}" ng-repeat="gerenteConta in $ctrl.contatosUnicred">{{gerenteConta.id}}</option>
            </select>
        </label>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <strong>Cliente desde</strong>
            <input type="text" ng-model="$ctrl.contaCorrente.clienteDesde"
                id="clienteDesde"
                name="clienteDesde"
                model-view-value="true"
                ui-mask="99/99/9999"
                moment-picker="$ctrl.contaCorrente.clienteDesde"
                start-view="month"
                max-date="$ctrl.hoje"
                invalid-message="'Data inválida'"
            >
        </div>
    </div>

    <div class="row">
        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Assinatura</strong>
            <select ng-model="$ctrl.contaCorrente.assinatura"
                    name="assinatura"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="$ctrl.tipoContaConjunta">
                <option value=""></option>
                <option value="{{assinatura.valor}}" ng-repeat="assinatura in $ctrl.assinaturas">{{assinatura.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* CPMF</strong>
            <select ng-model="$ctrl.contaCorrente.cpmf"
                    name="cpmf"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{cpmf.valor}}" ng-repeat="cpmf in $ctrl.cpmfLista">{{cpmf.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>Nome do Identificador</strong>
            <input type="text" ng-model="$ctrl.contaCorrente.nomeIdentificador"
                name="nomeIdentificador"
                class="text-uppercase"
                maxlength="25">
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Situação</strong>
            <select ng-model="$ctrl.contaCorrente.situacao"
                    name="situacao"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{situacao.valor}}" ng-repeat="situacao in $ctrl.situacoes">{{situacao.descricao}}</option>
            </select>
        </label>
    </div>

    <div class="row">
        <label class="col-md-12 col-sm-12 col-xs-12">
            <strong>* Endereço de Empostamento</strong>

            <select ng-model="$ctrl.contaCorrente.endereco"
                    name="endereco"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-change="$ctrl.alteradoEndereco($ctrl.contaCorrente.endereco)"
                    ng-required="true">
                <option value="{{endereco}}" ng-repeat="endereco in $ctrl.enderecos">{{endereco.descricao}}</option>
            </select>
        </label>
    </div>
</fieldset>