<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cartão de Credito'"></page-title>
</div>
    
<form name="formCartaoCredito"
    class="cadastro-content"
    novalidate 
    angular-validator 
    angular-validator-submit="ctrl.salvar(ctrl.limiteCartaoCredito)"
    >
    
    <div class="step-content">
        <nova-sessao titulo="Cartão de Credito">
            <dados-limite-cartao-credito
                limite-cartao-credito="ctrl.limiteCartaoCredito">
            </dados-limite-cartao-credito>
        </nova-sessao>
    </div>
    
    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>
    
    <div class="buttons-control">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="submit"
                        class="uni-btn btn-primary"
                        id="btnSalvar">
                    <span>salvar</span>
                </button>
            </div>
        </div>
    </div>
</form>