<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Contatos'"></page-title>

    <div class="step-content">
        <nova-sessao titulo="Contatos" mostra-sessao="true">
            <sessao-contato contatos="ctrl.contatos" nome="pessoais"></sessao-contato>
        </nova-sessao>
    </div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <botoes-update cpf="ctrl.cpf"
                   progress="ctrl.savingProgress"
                   model="ctrl.contatos"
                   on-update="ctrl.update(model)">
    </botoes-update>
</div>
