<form name="planoDeSaudeForm" angular-validator-submit="$ctrl.salvar($ctrl.planoDeSaude); planoDeSaudeForm.reset()"
    novalidate angular-validator>
    <fieldset>
        <div class="row">
            <label for="tipoProcuracao" class="col-md-3 col-sm-3 col-xs-12">
                <strong>* Tipo de Plano</strong>
                <select ng-model="$ctrl.planoDeSaude.tipoPlanoSaude"
                    name="tipoPlanoDeSaude"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    id="tipoPlanoSaude"
                    >
                    <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposPlanoSaude">{{tipo.descricao}}</option>
                </select>
            </label>

            <label for="tipoProcuracao" class="col-md-9 col-sm-9 col-xs-12">
                <strong>* Instituição</strong>
                <select ng-model="$ctrl.planoDeSaude.instituicaoSaude"
                    name="instituicaoPlanoDeSaude"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{instituicao.valor}}" ng-repeat="instituicao in $ctrl.instituicoesPlanoSaude | orderBy: 'descricao'">{{instituicao.descricao}}</option>
                </select>
            </label>
        </div>
        <div class="row">
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>* Valor do Plano</strong>
                <input type="text"
                       name="valorPlanoDeSaude"
                       ng-model="$ctrl.planoDeSaude.valorMensal"
                       ui-money-mask
                       required-message="'Campo obrigatório'"
                       required=""
                       maxlength="21"
                       placeholder="R$">
            </label>

            <label for="tipoProcuracao" class="col-md-3 col-sm-3 col-xs-6">
                <strong>* Cobertura</strong>
                <select ng-model="$ctrl.planoDeSaude.tipoCobertura"
                    name="coberturaPlanoDeSaude"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{cobertura.valor}}" ng-repeat="cobertura in $ctrl.coberturasPlanoSaude">{{cobertura.descricao}}</option>
                </select>
            </label>

            <label class="col-md-3 col-sm-6 col-xs-12">
                <strong>Data de Vencimento</strong>
                <input class="form-control"
                       name="vencimentoPlanoDeSaude"
                       moment-picker="$ctrl.planoDeSaude.dataVencimento"
                       format="DD/MM/YYYY"
                       start-view="month"
                       locale="pt-br"
                       ui-mask="99/99/9999"
                       model-view-value="true"
                       ng-model="$ctrl.planoDeSaude.dataVencimento"
                       ng-blur="$ctrl.validarData($ctrl.planoDeSaude.dataVencimento)"
                       invalid-message="'Data inválida'"
                       min-date="$ctrl.vencimentoMinima"
                       validate-on="blur">
            </label>
        </div>
    </fieldset>

    <div class="btns-add">
        <button type="button"
            id="cancelarPlanoDeSaude"
            ng-click="$ctrl.cancelar() && planoDeSaudeForm.reset()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="adicionarPlanoDeSaude"
            class="info info-add" >salvar</button>
    </div>
</form>
