<div class="btns-add">
    <button type="button" ng-hide="$ctrl.escondeNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novoPlanoDeSaude" class="info info-add">novo</button>
</div>
<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Tipo de Plano</th>
            <th>Instituição</th>
            <th>Valor</th>
            <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : plano.modoEdicao }"
            ng-repeat="(index, plano) in $ctrl.planosSaude">
            <td ng-bind="plano.descricaoTipoDePlano"> </td>
            <td ng-bind="plano.descricaoInstituicao "> </td>
            <td ng-bind="plano.valorMensal | finance:true"> </td>
            <td ng-if="!$ctrl.readonly" class="centerText">
                <button class="btn btn-warning glyphicon glyphicon-edit"
                      ng-class="{ 'is-clickable': !plano.modoEdicao }"
                      ng-disabled="plano.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(index)" ></button>
                <button class="btn btn-danger glyphicon glyphicon-trash"
                      ng-class="{ 'is-clickable': !plano.modoEdicao }"
                      ng-disabled="plano.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(plano)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.planosSaude.length==0">
    Nenhum plano foi adicionado até o momento
</div>
