<nova-sessao titulo="Planos de Saúde">
    <dados-plano-de-saude
        plano-de-saude="$ctrl.planoDeSaude"
        on-salvar="$ctrl.salvarPlanoDeSaude(planoDeSaude)"
        on-cancelar="$ctrl.cancelarPlanoDeSaude()"
        ng-if="!$ctrl.readonly && $ctrl.mostrarPlanoDeSaudeForm"
    >
    </dados-plano-de-saude>
    <lista-planos-de-saude
        planos-saude="$ctrl.planosSaude"
        on-editar="$ctrl.editarPlanoDeSaude(planoDeSaude)"
        on-novo="$ctrl.novoPlanoDeSaude()"
        on-remover="$ctrl.removerPlanoDeSaude(planoDeSaude)"
        esconde-novo="$ctrl.mostrarPlanoDeSaudeForm"
        readonly="$ctrl.readonly"
    >
    </lista-planos-de-saude>
</nova-sessao>
