<fieldset ng-disabled="$ctrl.readonly">
  <div class="row">
      <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
          <strong>Número de Matrícula
              <div class="tooltip-v">
                  <img class="info-sign" src="public/styles/images/icons/info.png">
                  <span class="tooltiptext tooltip-right">O número de matrícula será gerado quando o cadastro for confirmado.</span>
              </div>
          </strong>
          <input class="form-control"
                 type="text"
                 ng-model="$ctrl.matricula.numero"
                 name="numeroMatricula"
                 ng-disabled="true"
                 placeholder="Será gerado ao confirmar cadastro."
                 >
      </label>

      <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <strong>Cooperativa</strong>
          <input class="form-control"
                 type="text"
                 ng-model="$ctrl.matricula.cooperativa"
                 name="cooperativaMatricula"
                 ng-disabled="true"
                 >
      </label>
  </div>
  <div class="row">
      <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>Endereço Principal</strong>
          <input class="form-control"
                 type="text"
                 ng-model="$ctrl.matricula.enderecoPrincipal"
                 name="enderecoPrincipal"
                 ng-disabled="true"
                 uppercase
                 >
      </label>
      <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>Endereço de Empostamento</strong>
          <input class="form-control"
                 type="text"
                 ng-model="$ctrl.matricula.enderecoEmpostamento"
                 name="enderecoEmpostamento"
                 ng-disabled="true"
                 uppercase
                 >
      </label>
  </div>
</fieldset>
