<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Dependentes'"></page-title>

    <div class="step-content">
        <sessao-dependentes dependentes="ctrl.dependentes" mostra-sessao="true"></sessao-dependentes>
    </div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <botoes-update cpf="ctrl.cpf"
                   progress="ctrl.savingProgress"
                   model="ctrl.dependentes"
                   on-update="ctrl.update(model)">
    </botoes-update>
</div>
