<header class="page-header">
    <h1 class="page-header--title">
        {{$ctrl.titulo}} <strong>{{$ctrl.subtitulo}}</strong>
    </h1>

    <div class="page-header--user">
        <span class="page-header--nome" ng-if="$ctrl.user.nome">
            {{$ctrl.user.nome}}
        </span>

        <span class="page-header--dados" ng-class="{'-noName': !$ctrl.user.nome}">
             <b>CPF:</b> {{$ctrl.user.cpfCnpj | brCpf}}
             <span class="separator"></span>
             <b>COOPERATIVA:</b> {{$ctrl.user.cooperativa}}
        </span>
        <span class="page-header--dados" ng-if="$ctrl.matriculaAssociado || $ctrl.contaCorrentista ">
             <span ng-if="$ctrl.matriculaAssociado">
                 <b>MATRÍCULA:</b> {{$ctrl.matriculaAssociado || "-"}}
             </span>
             <span class="separator" ng-if="$ctrl.matriculaAssociado && $ctrl.contaCorrentista "></span>
             <span ng-if="$ctrl.contaCorrentista">
                 <b>CONTA:</b> {{$ctrl.contaCorrentista || "-"}}
             </span>
        </span>

    </div>

    <div ng-if="$ctrl.isAlteracao">
        <label class="dataAnaliseUpdate">
            <strong>Data da Análise</strong>
            <dado-data-analise ng-if="true"> </dado-data-analise>
        </label>
    </div>
</header>
