@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/variables';
@import '../colorclasses';

p {
  &.medium {
    font-family: $medium;
  }
  &.bold {
    font-family: $bold;
  }
  &.heavy {
    font-family: $heavy;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

p b {
  font-family: $bold;
  font-weight: normal;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
  z-index: 1;
}

section.lc {
  min-height: 60em;
  margin-top: 1em;
}

/*------------------------------------*\
    $ICONS
\*------------------------------------*/
i.icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  display: block;
}

/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf, .l-two-col, [role=main] {
  *zoom: 1;
}

.cf:before, .l-two-col:before, [role=main]:before, .cf:after, .l-two-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after, .l-two-col:after, [role=main]:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  .hide-large {
    display: none;
  }
}

.valid {
  color: #089e00;
}

.error {
  color: red;
}

.warning {
  color: #fff664;
}

.information {
  color: #000db5;
}

.font-secondary {
  font-family: $secondary
}

body {
  background: white;
  font: 100%/1.5 $light;
  -webkit-text-size-adjust: 100%;
  color: #333333;
}

/* Links */
a {
  color: #333333;
  text-decoration: none;
  outline: 0;
}

a[href^='tel:'] {
  white-space: nowrap;
}

a:hover, a:focus {
  color: gray;
}

.widget {
  clear: both;
}

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;
}

th {
  text-align: left;
  border: 1px solid gray;
  padding: 0.2em;
}

td {
  border: 1px solid gray;
  padding: 0.2em;
}

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.animate-fade:hover {
  opacity: 0;
}

.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
header {
  background-color: $enterpriseGreen;
}

.logo {
  display: inline-block;
  width: 240px;
  height: 70px;
  padding: 15px 12px 30px 60px;
  position: relative;
  z-index: 1;
  img {
    border: 1px solid $white;
  }
  i.icon.icon-erac-logo {
    display: block;
    background-size: 100%;
    width: 100%;
    height: 36px;
    border: 1px solid white;
  }
}

.search-container {
  position: absolute;
  width: 74px;
  height: 64px;
  padding: 14px 20px 10px 20px;
  border-left: 1px solid #0c683a;
  right: 0;
}

.search-container.active {
  background: white;
}

.header-placeholders {
  background-color: white;
  z-index: 2001;
  position: absolute;
  top: 4em;
  width: 100%;
  border-bottom: 2px solid #169a5a;
}

.header-placeholders div {
  width: 80%;
  margin: 0 auto;
}

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;
}

//* back to top featured page styling *//
.go-top {
  font-family: $medium;
  font-size: 15px;
  text-transform: uppercase;
  padding: .5em 1.3em;
  position: fixed;
  bottom: 0;
  right: .5em;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow:         3px 3px 8px 2px rgba(0, 0, 0, 0.08);
  z-index: 999;
  display:none;

  span {
    display: inline-block;
    margin-left:5px;
    i {
      &.icon {
        position:relative;
        width:15px;
        height:15px;
        top:3px;
      }
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

@media all and (min-width: 46.8em) {
  .nav-toggle {
    display: none;
  }
}

@media all and (max-width: 17em) {
  .nav-toggle {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.search-form {
  overflow: hidden;
  max-height: 0;
}

@media all and (min-width: 46.8em) {
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  padding: 0.5em 0.5em 2em;
  overflow: hidden;
}

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
.intro {
  font-size: 1.0625em;
  font-weight: bold;
}

.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em;
}

.caption {
  font-style: italic;
}

.text a {
  text-decoration: underline;
}

.text ul {
  list-style: disc;
  margin: 0 0 1em 1.2em;
}

.text ul ul {
  margin-bottom: 0;
}

.text ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}

.text ol ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  //height: rem-calc(34);
  display: inline-block;
  //padding: 1em;
  padding: 0.5em 1em;
  border: 0;
  margin: 0;
  min-height: auto;
  background: $enterpriseGreen;
  color: white;
  //line-height: 10px;
  //line-height: 1;
  line-height: inherit;
  letter-spacing: rem-calc(1.0799999);
  font-family: $medium;
  font-size: rem-calc(14);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  &.btn-full {
    display: block;
  }

  &.cancel {
    background-color: $darkGray;
    //margin-right: rem-calc(30);
    &:hover {
      background-color: $darkestGray;
    }
  }

  &#resButton {
    font-family: $bold;
    padding: 12px 30px;
    min-height: 50px;
    font-size: 17px;

    @media(min-width: $bp-large-2) {
      padding: 22px 30px;
    }
  }
  &:hover {
    // transform: scale(1.05);
  }
}

.btn[target="_blank"] .icon-nav-external-link-white {
  display: none;
}

.btn:hover, .btn:focus {
  background: $darkGreen;
  color: white;
}

.btn.disabled {
  background: $lightGray;
  color: $white;
  cursor: not-allowed;
}

.btn-small {
  padding: 0.5em;
}

.btn-large {
  padding: 0.5em;
  text-transform: uppercase;
  background: gray;
  font-size: 1.4rem;
  font-weight: normal;
}

.text-btn {
  color: $enterpriseGreen;
  cursor: pointer;
  &:hover, &:focus {
    color: $enterpriseDarkGreen;
  }
}

.green-action-text {
  @include clean-button-mess;
  color: $enterpriseGreen;
  font-family: $medium;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inline-block;
}

.cancel {
  font-family: $regular;
  background: $darkestGray;
}

.btn-grp.full-width {
  text-align: center;
  .btn, .green-action-text {
    width: 100%;
    margin: 10px 0;
  }
}

.btn-grp .btn, .btn-grp .green-action-text {
  float: left;
  margin: rem-calc(0 5 0 5);
  &:first-of-type {
    margin-left: 0;
  }
}

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
  background: #dcdddc;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}

/* Block */
.block {
  overflow: hidden;
}

.block p:last-child {
  margin-bottom: 0;
}

.headline {
  line-height: 1.2;
}

/* Hero Block */
.block-hero {
  margin-bottom: 0.5em;
}

.block-hero .b-thumb img {
  display: block;
}

@media all and (min-width: 50em) {
  .block-hero {
    position: relative;
  }
  .block-hero .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.5em;
  }
}

/* Block Thumbnail with Headline */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.block-thumb .b-inner {
  display: table-row;
  vertical-align: top;
  overflow: hidden;
}

@media all and (min-width: 29.75em) {
  .block-thumb .b-thumb {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    max-width: 10em;
  }
  .block-thumb .b-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 29.75em) {
  .block-thumb .b-text {
    display: table-cell;
    width: 70%;
    padding: 0 1em;
  }
}

/* Block Headline Summary */
.block-headline-summary a {
  display: block;
  padding: 0.5em;
}

/* Block Inset */
.block-inset {
  position: relative;
}

.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}

.block-inset .b-thumb img {
  display: block;
}

/* Hero Block */
.block-inset {
  margin-bottom: 0.5em;
  position: relative;
}

.block-inset .headline {
  font-size: 1.1em;
}

.block-inset .b-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5em;
}

/* Block Thumb with Summary */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%;
}

.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.5em;
}

.inline-list li {
  display: inline-block;
}

/* Social List */
.social-list li {
  margin: 0 0.4rem 1em 0;
}

.social-list a {
  font-size: 1.6em;
}

/* Headline List */
.headline-list {
  margin-bottom: 1em;
}

.headline-list.flush {
  margin: 0;
}

.headline-list h4 {
  font-weight: normal;
}

.headline-list li {
  padding: 0.25em 0;
  border-top: 1px solid #dddddd;
}

/* Post List */
.post-list li {
  margin-bottom: 1em;
}

/* Bullet List */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}

.bullet-list li {
  margin-bottom: 1em;
}

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}

.text-list li {
  margin-bottom: 1em;
}

.tooltip-container {
  display: inline-block;
  position: relative;
}

.tooltip-container:hover .tooltip {
  display: block;
}

.tooltip-link {
  background: #f9f9f9;
}

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1em;
  background: white;
  border: 1px solid gray;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2);
}

.tooltip h2 {
  margin-top: 0;
}

@media all and (min-width: 24em) {
  .tooltip {
    width: 22em;
  }
}

@media all and (min-width: 29.75em) {
  .tooltip {
    width: 27em;
  }
}

@media all and (min-width: 39.8em) {
  .tooltip {
    width: 30em;
  }
}

.accordion {
  margin-bottom: 1em;
}

.acc-handle {
  background: #131313;
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5em;
  border-bottom: 1px solid #dddddd;
}

.acc-handle:after {
  content: "+";
  float: right;
}

.acc-handle:hover {
  color: white;
  background: #333333;
}

.acc-handle.active {
  background: #333333;
}

.acc-handle.active:after {
  content: "-";
}

.tabs {
  overflow: hidden;
}

.tabs ul {
  display: table;
  width: 100%;
}

.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #dddddd;
}

.tabs li:last-child {
  border-right: 0;
}

.tabs a {
  display: block;
  padding: 0.5em;
  background: gray;
}

.tabs a:hover, .tabs a:focus {
  background: #dddddd;
}

.tabs a.active {
  background: #333333;
  color: white;
}

.section {
  margin: 0;
}

.section-title {
  margin-bottom: 0.5em;
}

.article-header h1 {
  font-size: rem-calc(22);
}

.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.5em;
}

.social-share {
  overflow: hidden;
  margin-bottom: 1em;
}

.social-share li {
  float: left;
  margin-right: 0.5em;
}

.social-share a {
  background: #333333;
  color: white;
  display: block;
  padding: 0.5em;
}

.social-share a:hover {
  background: gray;
}

.comments li {
  margin-bottom: 1em;
}

.comment-container {
  overflow: hidden;
  margin-bottom: 1em;
  list-style: none;
}

.comment-meta {
  float: left;
  width: 6.5em;
}

.comment-meta img {
  display: block;
  border: 1px solid #eeeeee;
  margin-bottom: 0.5em;
}

.comment-name {
  font-size: 0.75em;
}

.comment-text {
  margin-left: 9em;
}

/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}

.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

/*------------------------------------*\
  $PATTERN LAB STYLES
\*------------------------------------*/
/**
 * NOTE: These styles are specific to Pattern Lab and should not be modified.
 * Edit all project styles in /source/css/
 *
 * Second note: Any important declarations are to prevent brand styles from overriding style guide
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Font
 * -----Colors
 * -----Typography
 * -----Defaults
 * -----Breakpoints
 * MIXINS---------------------------------Sass mixins
 * GLOBAL ELEMENTS------------------------Establish global styles
 * -----Main
 * -----Headings
 * -----Text-related elements (p, blockquote, lists)
 * -----Defaults
 * -----Breakpoints
 * STYLE GUIDE INTERFACE------------------CSS for the Pattern Lab Container.
 * -----Header
 * -----Navigation
 * -----Controls
 * -----Main Container
 * -----Viewport
 * -----Section Headers
 * -----Code View
 * -----Icon Fonts
 */
/*------------------------------------*\
    $PATTERN LAB VARIABLES
\*------------------------------------*/
/*Fonts*/
/* Style Guide Interface Colors */
/* Typography */
/* Defaults */
/* Dimensions */
/* Breakpoints */
/*------------------------------------*\
    $PATTERN LAB MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $PATTERN LAB INTERFACE
\*------------------------------------*/
#patternlab-html, #patternlab-body {
  margin: 0;
  padding: 0;
  background: #dddddd;
  -webkit-text-size-adjust: 100%;
}

.sg-nav-wrapper {
  overflow: hidden;
  background: #dddddd;
}

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*------------------------------------*\
  $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
/* Style Guide Interface Colors */
/* Typography */
/* Defaults */
/* Dimensions */
/* Breakpoints */
.demo {
  overflow: hidden;
  margin-bottom: 1rem;
}

.demo .gi, .demo .demo-block {
  background: #dddddd;
  color: gray;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em !important;
}

.demo .gi:nth-of-type(2n), .demo .demo-block:nth-of-type(2n) {
  color: #dddddd;
  background: gray;
}

.demo .gi .gi, .demo .demo-block .gi {
  background: rgba(0, 0, 0, 0.1);
  color: #dddddd;
}

.demo .gi .gi:nth-of-type(2n), .demo .demo-block .gi:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.3);
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.animate-move {
  position: relative;
}

.animate-move .demo-shape {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background: gray;
}

.animate-move:hover > .demo-shape {
  left: 100%;
  margin-left: -20px;
}

/* Test Pages */
.test-page {
  display: none;
}

.test-page .lc {
  padding: 4em 0;
}

.subheader {
  background: #333435;
  height: 2em;
}

.subheader .step-num {
  float: left;
  width: 18px;
  height: 18px;
  background: #707171;
  border-radius: 10px;
  text-align: center;
  font-family: $bold;
  font-size: .75em;
  color: #333435;
  padding-top: 0;
  line-height: 20px;
  margin-top: 6px;
  margin-right: 10px;
}

.subheader ol {
  display: inline-block;
  height: 100%
}

.subheader ol li {
  display: inline-block;
  padding: 0 3.5em 0 .5em;
}

.subheader ol li.active {
  background: black;
}

.subheader ol li.active .step-num {
  color: black;
  background: white;
}

.subheader ol li a {
  color: #707171;
  display: block;
  height: 100%;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 12px;
}

.subheader ol li.active a {
  color: white;
}

.subheader .price-info {
  display: inline-block;
}

.test-page .map-container {
  padding: 0;
}

.test-page .content-container {
  padding: 2em;
}

div.hero-bg {

}

div.options a {
  display: inline-block;
  font-family: $bold;
  color: $lightGray;
  font-size: 15px;
  border-bottom: none;
  margin: 10px 10px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}

div.options a.new {
  padding: 0;
  height: 1.6em;
  :hover {
    color: $darkGreen;
    text-decoration: underline;
  }
}

div.options a.active {
  border-bottom: 2px solid $enterpriseGreen;
  color: $black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#reservationWidget .invisible {
  visibility: hidden;
}

.existing-reservation input {
  height: 56px;
  font-size: 1.5em;
  border: 1px solid #c3c3c3;
  width: 99%;
}

div.days-total {
  float: left;
  margin: 2em 0 0 2em;
}

/* date-picker */
.ui-datepicker {
  display: none;
  background-color: $enterpriseGreen;
  padding: 0 2em 2em 2em;
  width: 34.7em;
}

.ui-datepicker .ui-datepicker-title {
  text-align: center;
  color: white;
  font-size: 1.1em;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  cursor: pointer;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
  left: 1em;
  width: 1.2em;
  background-image: url(/etc/designs/ecom/dist/img/arrow_timepicker_left.png);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-indent: -3000px;
}

.ui-datepicker .ui-datepicker-next {
  right: 1em;
  width: 1.2em;
  background-image: url(/etc/designs/ecom/dist/img/arrow_timepicker_right.png);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-indent: -3000px;
}

.ui-datepicker table {
  border: none;
}

.ui-datepicker td, .ui-datepicker th {
  border: none;
  text-align: center;
  color: white;
  padding: .1em;
}

.ui-datepicker th {
  font-size: .7em;
}

.ui-datepicker td a {
  display: block;
  color: white;
  border: 1px solid white;
  height: 3em;
  line-height: 3em;
}

/* time picker */
.ui-timepicker {
  display: none;
  z-index: 1;
  width: 52.7em;
  margin-left: 0;
  height: 12em;
  position: absolute;
  background-color: $enterpriseGreen;
  top: 342px;
}

.ui-timepicker .tab-strip {
  text-align: center;
}

.ui-timepicker .time-tab {
  display: inline-block;
  font-size: 1.4em;
  margin: 1em;
  opacity: .5;
  color: white;
  cursor: pointer;
}

.ui-timepicker .time-tab:hover {
  opacity: .75;
}

.ui-timepicker .time-tab.active {
  opacity: 1;
}

.ui-timepicker .time-strip {
  clear: both;
}

.ui-timepicker .time-strip .prev,
.ui-timepicker .time-strip .next {
  position: absolute;
  top: 4em;
}

.ui-timepicker .time-strip .prev {
  left: 0;
  width: 1.2em;
  background-image: url(/etc/designs/ecom/dist/img/arrow_timepicker_left.png);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-indent: -3000px;
  margin-left: 2em;
  cursor: pointer;
}

.ui-timepicker .time-strip .next {
  right: 0;
  width: 1.2em;
  background-image: url(/etc/designs/ecom/dist/img/arrow_timepicker_right.png);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-indent: -3000px;
  margin-right: 2em;
  cursor: pointer;
}

.ui-timepicker .time-strip .strip {
  width: 80.5%;
  margin: 0 10% 0 9.5%;
  height: 6em;
  overflow-x: auto;
  overflow-y: hidden;
}

.ui-timepicker .time-strip ul {
  width: 167em;
}

.ui-timepicker .time-strip ul li {
  float: left;
  width: 3.3em;
  height: 4em;
  border: 1px solid white;
  margin: .125em;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  text-align: center;
  padding-top: .5em;
}

input#coupon-code {
  border: 2px solid #d5d5d5;
  width: 63%;
  font-size: 1.5em;
}

.continue {
  margin-top: 1.5em;
}

.btn.btn-next {
  padding: 20px;
  position: relative;
  height: 64px;
  background: $enterpriseGreen;
  color: white;
  line-height: 28px;
  font-family: $bold;
  font-size: 18px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover, &:focus {
    background: $darkGreen;
  }
}

.btn.btn-small {
  width: 180px;
  padding: 10px;
  position: relative;
  height: 34px;
  background: $enterpriseGreen;
  color: white;
  line-height: 16px;
  font-family: $bold;
  font-size: 14px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

}

.btn.btn-next > span {
  display: block;
  width: 60px;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  background: #0c683a;
  background-image: url(/etc/designs/ecom/dist/img/arrow_searchbutton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: .6em;
}

div.location-filter {
  width: 100%;
  background: $enterpriseGreen;
  text-align: center;
  color: white;
  font-family: $bold;
  text-transform: uppercase;
}

div.location-selector {
  height: 45.5em;
  overflow: auto;
}

div.location-selector li {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding: 0;
  height: 8em;
}

div.location-selector li div.number {
  display: inline-block;
  height: 100%;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  background: #f7f7f7;
  color: $enterpriseGreen;
  font-size: 3em;
  height: 100%;
  padding-top: .5em;
}

div.location-selector li div.short-details {
  display: inline-block;
  margin-top: 1.75em;
  padding-left: 1em;
  vertical-align: top;
}

div.location-selector li div.full-details {
  display: none;
  position: absolute;
  width: 100%;
  height: 20em;
  padding-left: 7em;
  top: 7em;
}

div.location-selector li div.name {
  font-family: $medium;
  font-size: .8em;
}

div.location-selector li div.address {
  font-size: .75em;
}

div.location-selector li div.city-zip {
  font-size: .75em;
}

div.location-selector li div.phone {
  font-size: .75em;
}

div.location-selector li div.icon {
  position: absolute;
  width: 1.5em;
  right: 30em;
  top: 2em;
}

div.location-selector li div.branch-image {
  width: 280px;
  margin-top: 2em;
}

div.location-selector li div.branch-description {
  font-size: .75em;
  width: 50%;
}

div.location-selector li div.distance {
  position: absolute;
  width: 5em;
  right: 20em;
  top: 2em;
}

div.location-selector li div.hours {
  position: absolute;
  width: 30%;
  top: 0;
  left: 58%;
}

div.location-selector li div.hours h5 {
  font-family: $medium;
  font-size: 1em;
}

div.location-selector li div.hours dl {
  font-size: .8em;
}

div.location-selector li div.hours dt {
  float: left;
  font-weight: normal;
  padding: .5em 0;
}

div.location-selector li div.hours dd {
  padding: .5em 0;
  text-align: right;
}

div.location-selector li:hover {
  background: #f7f7f7;
}

div.location-selector li.active {
  cursor: inherit;
  height: 30em;
  background: #f7f7f7;
}

div.location-selector li.active a.btn {
  position: absolute;
  top: -7em;
  right: 0;
  width: 10em;
  background: $enterpriseGreen;
}

div.location-selector li.active a.btn.btn-close {
  position: absolute;
  top: -4em;
  right: 0;
  width: 10em;
  background: #d5d5d5;
}

div.location-selector li:hover div.number, div.location-selector li.active div.number {
  background: #d5d5d5;
}

div.location-selector li.active div.full-details {
  display: block;
}

/* Demo Pages */
.demo-page {
  width: 66%;
  margin: 0 auto;
}

.demo-page .title {
  float: left;
}

.demo-page .secondary-heading {
  float: right;
  font-family: $heavy;
  color: #424242;
  font-size: .8em;
  border-bottom: 2px solid green;
  margin-top: .5em;
  text-transform: uppercase;
}

.demo-page fieldset {
  clear: both;
}

/* login component */
.login-component {
  margin: 2em 0;
  legend {
    display: none;
  }
}

#loginSubmit {
  margin-top: .5em;
}

/* autocomplete component */
.location-search-results {
}

.location-search-results li {
  padding: 1em;
}

.location-search-results li:hover {
  cursor: pointer;
  opacity: .9;
}

.location-search-results div {
  display: inline-block;
}

.location-search-results .list-title {
  width: 40%;
  font-family: $heavy;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1666666666em;
  color: $enterpriseGreen;
}

.location-search-results .list-address {
  width: 60%;
  font-size: .9em;
  text-align: right;
}

.test-page-3 h2 {
  margin-top: 3em;
}

div.ccs {
  padding-bottom: 2em;
}

div.cc {
  width: 30%;
  height: 25em;
  border: 1px solid #d5d5d5;
  padding: 2em;
  background: #f7f7f7;
  position: relative;
  display: inline-block;
  border-bottom: 3px solid #d5d5d5;
  margin: 1em 1em 0 0;
}

div.cc .cc-name {
  text-align: center;
  font-size: 1em;
  font-family: $bold;
  color: #424242;
}

div.cc .cc-price {
  color: $enterpriseGreen;
  font-size: 5em;
  line-height: .8em;
  text-align: left;
  padding-left: 28%;
  letter-spacing: -2px;
}

div.cc .cc-price sup {
  font-size: .5em;
}

div.cc .cc-price.points {
  font-size: 2em;
}

div.cc .cc-img {
}

div.cc .cc-options {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

div.cc:hover .cc-options {
  display: block;
}

div.cc .cc-options .details, div.cc .cc-options .select {
  width: 50%;
  height: 2.5em;
  line-height: 2.5em;
  float: left;
  text-align: center;
  font-family: $bold;
  text-transform: uppercase;
  font-size: .8em;
  color: white;
  background: #d5d5d5;
  cursor: pointer;
}

div.cc .cc-options .select {
  background: $enterpriseGreen;
}

div.cc .cc-options .select a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}

.vehicle-selection-strip select {
  -webkit-appearance: button;
  -moz-appearance: button;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  -moz-padding-end: 20px;
  -moz-padding-start: 2px;
  -moz-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px 20px 20px 0;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

div.toggle {
  display: inline-block;
  position: absolute;
  margin-top: 1.23em;
  border: 1px solid #424242;
  height: 1.8em;
  background: #f7f7f7;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  font-family: $medium;
}

div.toggle div {
  float: left;
  border-right: 1px solid gray;
  padding: 0 1.45em;
  height: 100%;
  color: #424242;
}

div.toggle div.points {
  border-right: none;
}

div.toggle div.active {
  background: gray;
  color: white;
}

.test-page-4 h2 {
  margin-top: 2em;
}

label.add-on-label {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 1em 1em 0 0;
  background: #f7f7f7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #d5d5d5;
  text-align: center;
  color: #424242;
  height: 14em;
  padding-top: 8em;
  font-family: $medium;
  border-bottom: 3px solid #d5d5d5;
}

input[type="checkbox"]:checked + label.add-on-label {
  color: white;
  background: $enterpriseGreen;
  border: 2px solid #0c683a;
}

div.label-container input[type="checkbox"] {
  display: none;
}

div.label-container label .inc {
  font-family: $light;
}

div.label-container label .inc {
  font-family: $medium;
}

div.label-container label .description {
  font-family: $light;
  padding: 5px 1em 0;
  line-height: 1em;
}

div.label-container label .promo {
  font-family: $light;
  color: $enterpriseGreen;
  margin-top: 1em;
}

div.label-container label h4 {
  color: #424242;
}

div.label-container label .box {
  background-image: url(/etc/designs/ecom/dist/img/addons/add.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #d5d5d5;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

div.label-container label .icon {
  position: absolute;
  top: 20px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  height: 8em;
}

input[type="checkbox"]:checked + label.add-on-label .box {
  background-image: url(/etc/designs/ecom/dist/img/addons/added.png);
  background-color: #0c683a;
}

input[type="checkbox"]:checked + label.add-on-label h4 {
  color: white;
}

input[type="checkbox"]:checked + label.add-on-label .promo {
  color: white;
}

/* add-on icons */
label.cdw-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/collision_off.png);
}

input[type="checkbox"]:checked + label.cdw-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/collision_on.png);
}

label.slp-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/liability_off.png);
}

input[type="checkbox"]:checked + label.slp-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/liability_on.png);
}

label.theft-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/theft_off.png);
}

input[type="checkbox"]:checked + label.theft-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/theft_on.png);
}

label.winter-tires-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/tires_off.png);
}

input[type="checkbox"]:checked + label.winter-tires-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/tires_on.png);
}

label.winter-shovel-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/shovel_off.png);
}

input[type="checkbox"]:checked + label.winter-shovel-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/shovel_on.png);
}

label.road-assistance-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/roadside_off.png);
}

input[type="checkbox"]:checked + label.road-assistance-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/roadside_on.png);
}

label.seat-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/childseat_off.png);
}

input[type="checkbox"]:checked + label.seat-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/childseat_on.png);
}

label.gps-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/gps_off.png);
}

input[type="checkbox"]:checked + label.gps-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/gps_on.png);
}

label.wifi-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/wifi_off.png);
}

input[type="checkbox"]:checked + label.wifi-label .icon {
  background-image: url(/etc/designs/ecom/dist/img/addons/wifi_on.png);
}

/* end add-on icons */

div.winter-package-container .label-container {
  float: left;
  width: 17%;
}

div.winter-package-container .label-container.package-container {
  width: 33%;
  margin-right: 4%;
}

div.package-container label {
  padding-top: 4em;
}

div.package-container label h4 {
  color: #424242;
}

div.winter-package-container .plus {
  float: left;
  font-family: $bold;
  font-size: 2em;
  text-align: center;
  width: 50px;
  padding-top: 100px;
  margin-right: .5em;
}

div.receipt {
  border: 1px solid #d5d5d5;
  margin: 1em 0;
}

div.receipt .top {
  background: #f7f7f7;
  text-align: left;
  padding: .5em;
  font-family: $bold;
  text-transform: uppercase;
  color: $enterpriseGreen;
}

div.receipt .body {
  position: relative;
  padding: .5em;
}

div.receipt .body dt {
  font-family: $medium;
  text-transform: uppercase;
}

div.receipt .body h3 {
  display: inline-block;
  margin-right: 3em;
}

#receipt-car .description {
  width: 50%;
  line-height: 1.125em;
}

div.receipt .body .car {
  position: absolute;
  width: 200px;
  top: -60px;
  right: 80px;
}

div.receipt div.receipt-label {
  float: left;
  width: 20%;
}

div.receipt.total dl {
  border-bottom: 1px solid #d5d5d5;
  padding: 1em 0;
}

div.receipt.total dt {
  float: left;
  font-family: $light;
  text-transform: inherit;
}

div.receipt.total dd {
  float: right;
  margin-right: 6em;
}

div.receipt.total dl.last {
  border: none;
  padding-bottom: .75em;
}

div.receipt.total dl.total {
  border-bottom: none;
  border-top: 2px solid #424242;
  margin-top: .5em;
}

div.receipt.total dl.total dt {
  font-family: $bold;
  text-transform: uppercase;
}

div.receipt.total dl.total dd {
  font-family: $bold;
  font-size: 2em;
  margin-right: 1em
}

div.receipt.total dl.total dd sup {
  font-size: .6em;
  padding-left: 5px;
}

.test-page-5 fieldset label {
  margin-top: 2em;
  padding-bottom: 0;
}

.test-page-5 fieldset input {
  border: 1px solid #d5d5d5;
}

.test-page-5 a.btn.btn-next {
  width: 50%;
  margin-top: 9.5em;
}

#book {
  position: relative;
}

#mti_wfs_colophon {
  display: none !important;
}

.date-time {
  position: relative;
}

.spinner-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  background: rgba(22, 156, 91, 0.70);

  .spinner-circle {
    opacity: .8;
    left: 50%;
    top: 50%;
    position: absolute;
    width: rem-calc(100);
    height: rem-calc(100);
    margin-left: rem-calc(-50);
    margin-top: rem-calc(-50);
  }

  .spinner-circle::before,
  .spinner-circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 6px solid rgba(255, 255, 255, .8);

    animation: anim-scaleup-fade 1.8s 0s infinite cubic-bezier(.21, .53, .56, .8);
  }
}

@keyframes anim-scaleup-fade {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.spinner::after {
  animation-delay: .9s;
}

.spinner {
  top: 50%;
  left: 50%;
}

html.modal-open,
html.modal-open body {
  overflow: hidden;
  height: 100%;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: $black;
  background: rgba(0, 0, 0, .8);
  content: '';
  opacity: 0;
  transition: opacity .4s ease-in-out;
  pointer-events: none;
  &.mask {
    background: rgba(0, 0, 0, 1);
  }
  &.active {
    visibility: visible;
    z-index: 999998;
    opacity: 1;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    .modal-content {
      width: 60%;
      margin-left: -30%;
      height: auto;
      top: 6%;
      opacity: 1;
      padding-bottom: 60px;
    }
  }
  button.close-modal {
    display: none;
    position: absolute;
    top: -2px;
    right: rem-calc(10);
    background: transparent;
    font-size: rem-calc(25);
    font-family: $regular;
    .icon {
      overflow: hidden;
      text-indent: -999px;
    }
  }
  .modal-content {
    width: 20%;
    position: fixed;
    top: 40vh;
    left: 50%;
    margin-left: -10%;
    min-height: 50%;
    max-height: 80%;
    @media(max-width: $bp-small-2) {
      max-height: 100%;
    }
    background: $white;
    opacity: 0;
    transition: all .3s ease-in-out;
    transition-delay: .3s;
    overflow: hidden;
    .info {
      .header-container {
        border-bottom: 2px solid $black;
        margin-bottom: 20px;
        h3 {
          font-family: $medium;
          padding-bottom: 20px;
          font-size: 24px;
          color: $black;
        }
      }
    }
    .modal-header {
      padding: 20px;
      background-color: $enterpriseGreen;
      color: white;
      font-family: $regular;
      text-transform: uppercase;
      line-height: 1;
      min-height: 55px;
    }
    .modal-body {
      height: 100%;
      height: calc(100% - 60px);
      padding: 20px;
      @media(min-width: $bp-small-3) {
        padding: 40px;
      }
      @media(max-height: 665px) {
        height: 400px;
      }
      overflow: auto;

      .btn {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.1;
      }

      @media(max-width: $bp-large-2) {
        .btn-grp {
          max-width: 300px;
          margin: 0 auto;
          text-align: center;
          .btn {
            display: inline-block;
            float: none;
            width: 100%;
            margin: 0 0 10px;
          }
        }
      }
    }

    &.scrollable {
      height: 50%;
      overflow: auto;
    }
  }
  &.closable button.close-modal {
    display: block;
  }

  iframe {
    height: 100%;
    width: 100%;
    margin: 0;
  }

}

.logout-modal {
  color: #000;

  > span {
    display: block;
    margin: 0 0 20px 0;
    line-height: 1.2;
  }

  .modal-actions {
    text-align: left;

    button {
      font-family: $heavy;
      font-size: 14px;
      line-height: 1.1;
      vertical-align: top;
    }
    .btn.cancel {
      background-color: #656565;
    }

  }
}

.modal-container.active .redirect-modal {
  h2 {
    padding-bottom: 22px;
    border-bottom: 3px solid $black;
    margin-bottom: 32px;
    font-size: 26px;
  }

  .modal-body {
    padding: 50px;
  }

  .btn-grp {
    padding-top: 20px;
  }

  .btn-grp .btn {
    float: right;
  }
}

@media(min-width: $bp-large-2) {
  .confirmed-page .modal-body header.confirmed .modify-confirmation .btn-grp,
  .confirmed-page .modal-body header.confirmed .cancel-confirmation .btn-grp {
    margin: 0;
    .btn {
      margin-bottom: 10px;
    }
  }
}

@media all and (max-width: $bp-med) {
  .inner-container {
    .modal-container.active {
      height: 100%;
    }
  }
}

.tab-container {
  border-right: 1px solid $lightGray;
  border-left: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  .tab {
    cursor: pointer;
    float: left;
    padding: rem-calc(10);
    height: rem-calc(48);
    border-right: 1px solid $lightGray;
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-family: $bold;
    color: $midGray;
    &:last-child {
      border-right: none;
    }
    &.active {
      border-top: 2px solid $enterpriseGreen;
      border-bottom: 0 none;
      margin-top: -2px;
      color: $black;
    }
    &.tab-1-2 {
      width: 50%;
    }
  }
}

.loading {
  height: rem-calc(5);
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $lightestGray;
}

.loading:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 30%;
  height: rem-calc(5);
  background-color: $enterpriseLightGreen;
  animation: loadingAnimation 2s infinite linear;
}

@keyframes loadingAnimation {
  0% {
    left: -100%;
    width: 30%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

.transition {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(21, 128, 77, 0.2);
  border-right: 1.1em solid rgba(21, 128, 77, 0.2);
  border-bottom: 1.1em solid rgba(21, 128, 77, 0.2);
  border-left: 1.1em solid $enterpriseGreen;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 $loadingTimeTransition infinite linear;
  animation: load8 $loadingTimeTransition infinite linear;
}

.transition,
.transition:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//GOOGLE MAPS CUSTOM CONTROLS
.google-map-custom-controls-wrapper {
  -webkit-user-select: none;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  border-radius: 2px;
  cursor: pointer;
  width: 28px;
  height: 55px;
  margin: 100px 50px 0 0;
  background-color: rgb(255, 255, 255);

  &.hidden {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    overflow: hidden;
    width: 67%;
    height: 1px;
    left: 16%;
    top: 50%;
    background-color: rgb(230, 230, 230);
  }

  .google-map-zoom-btn {
    // width: 40px;
    // height: 40px;
    // margin: 0 0 10px 0;

    display: block;
    width: 28px;
    height: 27px;
    padding: 0;
    background-color: transparent;
    color: $midGray;
    font-size: 16px;
    line-height: 1;

    &:first-child {
      margin-bottom: 1px;
    }
    &:hover {
      color: $black;
    }
  }
}

//COOKIE BANNER
/******************************
 *
 *  Trustee Specific
 *
 ******************************/

#consent_blackbar {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
}

#truste-consent-text {
  width: 33%;
  float: left;
}

#truste-consent-text h2 {
  font-family: $regular;
  font-size: 24px;
  font-weight: normal;
  color: #1e1e1e;
}

#truste-consent-buttons {
  width: 66%;
  float: left;
  padding-top: 35px;
}

#truste-consent-buttons button {
  cursor: pointer;
  text-align: left;
}

.half-width {
  width: 50%;
  float: left;
  padding-left: 20px;
}

#truste-cookie-button, #truste-show-consent {
  font-family: $regular;
  font-size: 16px;
  font-weight: normal;
  color: #00a85f;
  text-decoration: underline;
  border: none;
  outline: none;
  background: none;
}

#truste-consent-content {
  height: 130px;
}

#truste-consent-button {
  border: 0px;
  padding: 10px;
  background-color: #00a85f;
  font-family: $regular;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

#truste-consent-track {
  border-top: 6px solid rgb(0, 168, 95);
  background: #FFF;
  padding: 25px;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  display: none;
}

.three-column {
  width: 25%;
  float: left;
}

#teconsent {
  position: relative;
  padding-left: 55px;
  bottom: 10px;
  z-index: 1000;
}

.bordered {
  border: 1px solid $lightGray;
}

@media only screen and (max-width: 1024px) {
  #truste-consent-text {
    width: 100%;
  }

  #truste-consent-track {
    padding: 15px;
  }

  #truste-show-consent,
  #truste-cookie-button {
    padding-left: 0;
  }

  #truste-consent-buttons {
    width: 100%;
    padding-top: 25px;

    .half-width {
      padding-left: 0;
    }
  }

  #truste-consent-text h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #consent_blackbar {
    bottom: 25px;
  }
  #truste-cookie-button, #truste-show-consent {
    font-size: 13px;
  }

  #truste-consent-button {
    font-size: 13px;
  }

  #truste-consent-track {
    max-width: 768px;
  }

  #truste-consent-text h2 {
    font-size: 15px;
  }

}

@media all and (max-width: $bp-small-3) {
  .modal-container {
    .modal-content {
      .modal-body {
        .btn {
          font-size: 12.5px;
        }
      }
    }
  }
  .logout-modal {
    .modal-actions {
      button {
        font-size: 12.5px;
      }
    }
  }

}

@media(min-width: $bp-small-2) {
  .badge-icon {
    display: inline-block;
  }
}

a.badge-icon, .badge-icon a {
  width: 135px;
  display: inline-block;
  margin-right: 10px;
  img {
    width: 100%;
  }
}

span.nowrap {
  white-space: nowrap !important;
}

//RESPONSIVE TABLES
.responsive-table {
  width: 100%;
  border: 1px solid $midGray;
  overflow: auto;

  table {
    border: none
  }
  thead tr:first-child td,
  thead tr:first-child th,
  tbody > tr:first-child > td {
    border-top: none
  }
  tbody > tr:last-child > td {
    border-bottom: none;
  }
  thead ~ tbody > tr:first-child > td {
    border-top: 1px solid $midGray;
  }
  td {
    border-color: $midGray;
    &:last-child {
      border-right: none;
    }
    &:first-child {
      border-left: none;
    }
  }
}

.retain-native {
  ul, ol {
    margin: initial;
    padding: initial;
    list-style: initial;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
}

/* "SHOW MORE" disclosure button in Content Pages */
.show-more-text-wrapper {
    $collapsedMaxHeight: 100px;

    position: relative;
    min-height: 130px;

    .show-more-button-target {
      position: relative;
      max-height: $collapsedMaxHeight;
      overflow: hidden;

      transition: max-height 2s ease-in;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: $collapsedMaxHeight;
        width: 100%;
        content: "";
        background: linear-gradient(to top,
           rgba(255,255,255, 1) 0%,
           rgba(255,255,255, 0) 50%
        );
        pointer-events: none;
      }
    }

    &.expanded {
      .show-more-button {
        display: none;
      }

      .show-more-button-target {
        max-height: 9999px;
        &:after {
          content: none;
        }
      }
    }

    .show-more-button {
      color: $enterpriseGreen;
      font-family: $bold;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: $collapsedMaxHeight;
      width: 100%;
      text-transform: uppercase;
      background: transparent;
      letter-spacing: normal;

      .icon {
        height: 8px;
        width: 10px;
        margin-right: 5px;
        display: inline-block;
      }
    }


  }

.accordion-text-wrapper {
  position: relative;
  overflow: hidden;
  height: 150px;
  transition: height .250s ease-in;

  .disclosure-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 40px;
  }
  .disclosure-padding {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top,#fff 40%,transparent 100%);
    text-align: center;
    z-index: 1;
    padding: 30px 0 0 0;
  }
  .disclosure-button {
    color: $enterpriseGreen;
    font-family: $bold;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    background: transparent;
    &.disclosure-button-confirm {
      position: initial;
    }

    .icon {
      height: 8px;
      width: 10px;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .disclosure-more {
    display: none;
  }

  &.collapsed {
    .disclosure-less {
       display: none;
    }
    .disclosure-more {
      display: inline;
    }
  }
}

/* Zommable image thumbnails */
.zoomable-thumbnail {
  width: 100%;
  cursor: zoom-in;
}

.zoomable-full-img {
  z-index: 3;
  cursor: zoom-out;
  max-width: none;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed; */
}

body.zoomed-in {
  position: relative;
  .image-container,
  .img-container {
    overflow: visible;
  }
}

.image-container  {
  &:before {
    content: ' ';
    display: block;
    position: fixed;
    top: -100vh;
    left: -100vw;
    width: 100%;
    height: 100%;
    padding: 100vh 100vw;
    background: #000;
    cursor: default;
  }

  .close-modal,
  .zoom-button {
    background: rgba(23,23,23,0.7);

    &:hover {
      background: rgb(23,23,23);
    }
  }

  .zoom-button {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;

    i.icon {
      background-size: 80%;
      background-position: 50% 50%;
    }
  }

  .close-modal {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  &.zoomed-in .gray-info-block {
    position: fixed;
    z-index: 3;
  }

  .close-modal,
  &.zoomed-in,
  &:before {
    z-index: 3;
  }

  .zoomable-full-img { padding-top: 0; }

  .zoomable-full-img,
  .close-modal,
  &.zoomed-in .zoom-button.onHover, .zoom-button,
  &.zoomed-in .zoomable-thumbnail,
  &:before  {
    visibility: hidden;
    opacity: 0;
    transition: visibility linear .3s, opacity linear .3s;
  }

  .zoom-button.onHover,
  .zoomable-thumbnail,
  &.zoomed-in .zoomable-full-img,
  &.zoomed-in .close-modal,
  &.zoomed-in,
  &.zoomed-in:before {
    visibility: visible;
    opacity: 1;
    transition: visibility linear 0s, opacity linear .3s, background linear .3s;
  }
}
