/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
  max-width: $max-width;
  margin: 0 auto;
  padding: $pad-half;
}

/* Inner Container */
.inner-container {
  transition: all 1s ease-in-out;
  width: 54em;
  //height: 48em;
  margin: 5em auto .125em auto;
  padding-bottom: rem-calc(40);
  &.active {
    height: 42em;
  }
}

@media all and (max-width: $bp-med) {
  .inner-container {
    transition: none;
    width: 100%;
    height: auto;
    margin: 0;
    .active {
      height: auto;
    }
    h1.left, div.options.right {
      float: none;
      width: 94%;
      margin-top: rem-calc(32);
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
    }
  }
}



/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

/* Two Column Layout */
.l-two-col {
  @extend .cf;

  .l-main {
    @media all and (min-width: $bp-large) {
      float: left;
      width: 70%;
      padding-right: $pad;
    }
  }

  .l-sidebar {
    @media all and (max-width: $bp-large) {
      clear: both;
    }

    @media all and (min-width: $bp-large) {
      float: left;
      width: 30%;
      padding: 0 0 0 $pad;
    }
  }
}


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */
.g {
  overflow: hidden;
  margin: 0 (-$pad-half);
}

/* Grid Item */
.gi {
  padding: $pad-half;

  img {
    display: block;
  }

  @media all and (min-width: $bp-med) {
    float: left;
  }
}

/* Grid 1up */
.g-1up {
  .gi {
    width: 100%;
  }
}

/* Grid 2up */
.g-2up {
  @media all and (min-width: $bp-med) {
    > .gi {
      float: left;
      width: 50%;
      &.right {
        text-align: right;
      }

      &:nth-of-type(odd) {
        clear: left;
      }
    }
  }
}

/* Grid Half (Always displayed side by side) */
.g-half {
  > .gi {
    float: left;
    width: 50%;

    &:nth-of-type(odd) {
      clear: left;
    }
  }
}

/* Grid 3up */
.g-3up {
  @media all and (min-width: $bp-med) {
    > .gi {
      float: left;
      width: 50%;

      &:nth-of-type(2n+1) {
        clear: left;
      }
    }
  }

  @media all and (min-width: $bp-large) {
    > .gi {
      width: 33.3333333%;

      &:nth-of-type(2n+1) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
  }
}

/* Grid 4up */
.g-4up {
  @media all and (min-width: $bp-med) {
    >.gi {
      float: left;
      width: 50%;

      &:nth-of-type(2n+1) {
        clear: both;
      }
    }
  }

  @media all and (min-width: $bp-large) {
    >.gi {
      width: 25%;

      &.gi-2-4 {
        width: 50%;
      }

      &.gi-3-4 {
        width: 75%;
      }

      &:nth-of-type(2n+1) {
        clear: none;
      }

      &:nth-of-type(4n+1) {
        clear: left;
      }
    }
  }
}

@media all and (min-width: 749px) and (max-width: 799px) {
  #footer-nav {
    .g-4up {
      >.gi {
        clear: none;
      }
      .gi:nth-child(even) {
        float: right;
      }
    }
  }
}

/* Grid Quarter (Always displayed side by side) */
.g-quarter {
  > .gi {
    float: left;
    width: 24%;

    &:nth-of-type(4n+1) {
      clear: left;
    }
  }
}

.g-max4 {

  @media all and (min-width: $bp-small-2) {
    >.gi {
      float: left;
      width: 50%;

      &:nth-of-type(2n+1) {
        clear: both;
      }
    }
  }

  @media all and (min-width: $bp-small-3) {
    >.gi {
      width: 33.3333333%;

      &:nth-of-type(2n+1) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
  }

  @media all and (min-width: $bp-large) {
    >.gi {
      width: 25%;

      &:nth-of-type(3n+1) {
        clear: left;
      }

      &:nth-of-type(4n+1) {
        clear: none;
      }
    }
  }
}

/* Grid 5up */
.g-max5 {

  >.gi {
    float: left;
    width: 50%;

    &:nth-of-type(2n+1) {
      clear: both;
    }
  }

  @media all and (min-width: $bp-small-3) {
    >.gi {
      width: 33.3333333%;

      &:nth-of-type(2n+1) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
  }

  @media all and (min-width: $bp-med) {
    >.gi {
      width: 25%;

      &:nth-of-type(3n+1) {
        clear: none;
      }

      &:nth-of-type(4n+1) {
        clear: left;
      }
    }
  }

  @media all and (min-width: $bp-med-2) {
    >.gi {
      width: 20%;

      &:nth-of-type(4n+1) {
        clear: none;
      }

      &:nth-of-type(5n+1) {
        clear: left;
      }
    }
  }
}

/* Grid 2/3 */
.gi-2-3 {
  @media all and (min-width: $bp-med) {
    float: left;
    width: 66.666666%;
    padding-right: 15px;
  }
}

.gi-1-3 {
  @media all and (min-width: $bp-med) {
    float: left;
    width: 33.333333%;
  }
}

.g-opposites {
  .gi {
    float: left;

    &:last-child {
      float: right;
      text-align: right;
    }
  }
}