header .new {
  display: none;
}

@media all and (max-width: 1024px) {

  body[class*=' de'],
  body[class^='de'],
  body[class*=' fr'],
  body[class^='fr'] {
    .primary-nav {
      .primary-nav-content {
        .menu {
          width: 100%;
        }
        .promo {
          display: none;
        }
      }
    }
  }

}

.nav-container,
.master-nav {
  position: relative;
}

.primary-nav {
  clear: both;
  height: rem-calc(70);
  position: relative;
  background: $enterpriseDarkGreen;

  a {
    color: $enterpriseGreen;
    text-transform: none;
    &:hover {
      color: $enterpriseDarkGreen;
      line-height: 1;
      text-decoration: underline;
    }
  }

  h4 {
    text-transform: none;
    color: $white;
  }

  &.active-cols-6 > li {
    width: 16.666666667%;
  }

  &.active-cols-5 > li {
    width: 20%;
    &:nth-child(6) {
      display: none;
    }
  }

  &.active-cols-4 > li {
    width: 25%;
    &:nth-child(6), &:nth-child(5) {
      display: none;
    }
  }
  &.active-cols-3 > li {
    width: 33%;
    &:nth-child(6), &:nth-child(5), &:nth-child(4) {
      display: none;
    }
  }
  > li {
    cursor: pointer;
    color: $white;
    list-style: none;
    float: left;
    width: 20%;

    &:hover {
      background-color: $darkGreen;
    }

    .primary-nav-label {
      height: 70px;
      font-family: $regular;
      font-size: rem-calc(18);
      text-align: center;
      line-height: rem-calc(70);
      border-left: 1px solid $darkGreen;
      border-top: 1px solid $darkGreen;
    }
    &:first-child .primary-nav-label {
      border-left: none;
    }
    .primary-nav-content {
      background: $black;
      clear: both;
      position: absolute;
      left: 0;
      width: 100%;
      height: rem-calc(410);
      visibility: hidden;
      transition: all 250ms ease-in-out;
      z-index: 1;
      .menu {
        width: 66%;
        float: left;
        padding: rem-calc(0 0 0 40);
        opacity: 0;
        transition: all 200ms ease-in-out;
        .nav-section {
          float: left;
          padding: rem-calc(20);
          border-left: 1px solid $darkestGray;
          height: rem-calc(320);
          .nav-section-text:empty {
            display: none;
          }
          .title {
            position: relative;
            margin: 0;
            padding-bottom: 0;
            color: $white;
            font-family: $light;
            font-size: rem-calc(21);
          }
          .icon {
            background-size: rem-calc(8);
            background-position: left;
            padding: rem-calc(8 0);
            padding-left: rem-calc(14);
            line-height: rem-calc(16);
          }
          > li a {
            display: block;
            color: $enterpriseGreen;
            font-family: $regular;
            &:hover {
              color: $white;
            }
          }
          &:first-child {
            border-left: none;
          }
        }
        &.cols-2 .nav-section {
          width: 50%;
        }
        &.cols-3 .nav-section {
          width: 33%;
        }
        &.cols-4 .nav-section {
          width: 25%;
        }
        .nav-section.active {
          padding-bottom: rem-calc(20);
        }
      }
      .promo {
        width: 33%;
        float: right;
        height: 100%;
        background-color: $darkestGray;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .external-link {
      .icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-top: 2px;
        margin-left: 5px;
        vertical-align: top;
      }
      .icon-nav-external-link-white {
        display: none;
      }
      &:hover {
        .icon-nav-external-link-green {
          display: none;
        }
        .icon-nav-external-link-white {
          display: inline-block;
        }
      }
    }

    &.active {
      background: $black;
      height: 480px;
      .primary-nav-content {
        visibility: visible;
        .menu {
          opacity: 1;
          padding-top: rem-calc(50);
        }
      }
    }
  }
}

.ext-strict header {
  .primary-nav > li:focus {
    .primary-nav-content {
      display: none;
    }
  }
}

header {
  .section {
    margin: 0;
  }
}

@media all and (max-width: 900px) {
  .primary-nav {
    > li {
      .primary-nav-content {
        .menu {
          width: 100%;
        }
        .promo {
          display: none;
        }
      }
    }
  }
}

@import '../components/login';

#utility-nav {
  z-index: 2;
}

.utility-nav {
  white-space: nowrap;
  legend {
    display: none;
  }
  > li {
    display: inline-block;
    height: rem-calc(70);
    line-height: rem-calc(70);
    color: white;
    cursor: pointer;
    margin-right: 55px;
    position: relative;
    vertical-align: top;

    .careerlink a {
      color: white;
      font-size: 14px;
    }

    .utility-nav-label {
      //width: 181px;
      font-size: rem-calc(14);
      text-align: center;
      position: relative;
      strong {
        font-family: $bold;
        text-transform: uppercase;
      }
      &.country-language-label span {
        text-transform: capitalize;
      }
    }
    .utility-nav-content {
      //   background-color: $black;
      //   background-position: rem-calc(190) 0;
      //   background-size: rem-calc(40); // Note: may need to change for IE < 9
      max-height: 0;
      overflow: hidden;
      position: absolute;
      right: -30px;
      top: 100%;
      transition: max-height 300ms ease-in-out;
      visibility: hidden;
      z-index: 1000;
      color: $white;

      fieldset {
        clear: both;
        padding-top: rem-calc(40);
        transform: rotateX(90deg);
        -webkit-transform-origin-y: -200%;
        -moz-transform-origin-y: -200%;
        -ms-transform-origin-y: -200%;
        transform-origin-y: -200%;
        transition: transform 290ms ease-in-out;
        background: $black;
        padding-top: 2.5rem;
        margin: 0;
      }
    }
    &.login {
      .utility-nav-label {
        width: 181px;
      }
    }
    &.visible {
      .utility-nav-content {
        visibility: visible;
      }
    }
    &.active {
      .utility-nav-content {
        max-height: 700%;

        fieldset {
          transform: rotateX(0deg);
        }
        // padding-top: rem-calc(40);
        // color: $white;
      }
    }
    // &.language {
    //   .utility-nav-content {
    //     // width: 100%;
    //     // background-position: 55% 0;
    //   }
    //   &.active {
    //     .utility-nav-content {
    //       height: rem-calc(350);
    //     }
    //   }
    // }
    &.help {
      position: static;

      .utility-nav-content {
        right: auto;

        &.col-0, &.col-1 {
          width: 66%;
          left: -50%;
          transform: translateX(50%);
          &:before {
            left: 41%;
          }
          .field-container {
            width: 100%;
          }
        }
        &.col-2 {
          width: 50%;
          right: 10%;
          left: auto;
          &:before {
            left: 60%;
          }
          .field-container {
            width: 50%;
          }
        }
        &.col-3 {
          width: 200%;
          left: -100%;

          .field-container {
            width: 33.3333%;
          }
        }
      }

      //   &.active {
      //     .utility-nav-content {
      //       height: rem-calc(275);
      //     }
      //   }

    }
    &.currency {
      // .utility-nav-content {
      //   width: 35%;
      //   right: 10%;
      //   background-position: 15% 0
      // }
      .field-container {
        width: 100%;
        background-position: 40%;
        border-right: none;
      }
      //   &.active {
      //     .utility-nav-content {
      //       height: rem-calc(225);
      //     }
      //   }
    }
    .field-container {
      float: left;
      width: 50%;
      padding: 0 30px;
      margin: rem-calc(0 0 20 0);
      border-right: 1px solid $darkestGray;
      &:last-child {
        border-right: none;
      }
      h2 {
        font-size: rem-calc(20);
        margin-bottom: rem-calc(20);
      }
      .title,
      h4 {
        font-size: rem-calc(20);
        margin-bottom: rem-calc(20);
        color: #FFF;
        font-family: $light;
        text-transform: none;
      }
      label {
        padding: 4px 0;
        margin: 0;
        font-size: rem-calc(14);
        line-height: normal;
        color: $white;
        cursor: pointer;
        input[type="radio"] {
          display: none;
        }
        &:hover {
          color: $white;
          opacity: .8;
        }
        &.selected {
          color: $white;
        }
      }
      .icon.icon-checkmark-circle-green {
        opacity: 0;
        display: inline-block;
        width: 21px;
        height: 21px;
        vertical-align: text-bottom;
        margin-left: 10px;
      }
      .selected .icon.icon-checkmark-circle-green {
        opacity: 1;
      }
      &.language-select {
        float: none;
        width: 100%;
        .selected {
          color: white;
        }
        > div {
          display: none;
          &.active {
            display: block;
          }
        }
        > div.title {
          display: block;
        }
      }
    }
    a {
      color: $enterpriseGreen;
      display: block;
    }
    .btn {
      background: $enterpriseGreen;
      color: $white;
      font-family: $bold;
      font-size: .9em;
      text-transform: uppercase;
      line-height: 1em;
    }
  }

  .utility-nav-label .icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: -3px;
  }

  .utility-nav-button .icon.icon-utility-notch {
    position: relative;
    top: 100%;
    left: 50%;
    margin: 0 0 0 -13px;
    width: 26px;
    height: 14px;
    z-index: 1001;
    transition: all .3s;
    opacity: 0;
    margin-top: -14px;
  }

  .active .utility-nav-button .icon.icon-utility-notch {
    opacity: 1;
    margin-top: -2px;
  }
  > .currency .field-container label {
    color: #169a5a;
  }
}

//High Contrast Mode
.high-contrast-black{
  .icon-nav-mobile-e-icon-white:before{
    content: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2053.333332%2039.880001%22%20height%3D%2239.88%22%20width%3D%2253.333%22%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M24.91%209.747c1.867-2.74%206.19-4.676%2010.474-4.685%204.476-.014%208.107%201.496%209.96%204.143.234.41.292.68.187.882-.16.312-.716.37-1.24.382H24.5c.15-.365.41-.723.41-.723zM53.14%2011.2C52.02%205.637%2045.51.005%2035.233.005h-.008c-9.068%200-15.652%204.81-17.78%209.74-.05.103-.218.534-.277.723H0v1.966h45.828c2.597%200%202.988-.136%203.28-.41.083-.074.15-.188.15-.432%200-1.518-3.654-8.565-14.043-8.565-8.91%200-12.675%205.204-13.495%206.717-.145.267-.24.464-.345.72l-1.17.002v-.003c.175-.44.393-.834.393-.834.885-1.795%204.56-7.635%2014.617-7.635%2010.445%200%2015.056%207.11%2015.15%209.76.02.626-.107.98-.472%201.247-.323.24-.71.46-4.068.46H0v2.06H48.07c2.374-.02%204.072-.067%204.81-.97.506-.618.586-1.653.26-3.356M48.185%2019.075c-4.05%205.045-12.496%204.94-13.447%204.91-7.213-.12-12.178-3.802-13.932-7.316h-3.23c2.014%204.837%208.108%209.533%2017.638%209.523%209.78-.013%2013.718-3.43%2016.28-6.774.125-.174.2-.286.292-.455h-3.518l-.083.11%22%2F%3E%3Cpath%20d%3D%22M34.77%2022.952c.325.018%207.93.32%2012.1-3.987h-4.06c-1.775%201.433-5.157%201.784-7.68%201.784-4.015%200-7.89-1.652-9.9-4.08h-3.24c1.676%202.898%205.87%206.105%2012.78%206.282M5.765%2038.9c-.42.423-.93.635-1.528.635-.6%200-1.108-.212-1.528-.636-.417-.425-.626-.937-.626-1.54%200-.596.21-1.105.63-1.527.42-.424.93-.636%201.523-.636.597%200%201.107.212%201.528.636.42.422.63.93.63%201.527%200%20.603-.21%201.115-.63%201.54zm.25-3.31c-.49-.488-1.083-.73-1.778-.73-.69%200-1.28.242-1.767.73-.49.49-.735%201.08-.735%201.77%200%20.7.243%201.29.73%201.782.486.493%201.077.738%201.772.738.695%200%201.288-.245%201.778-.738.49-.49.734-1.086.734-1.782%200-.69-.245-1.283-.735-1.77%22%2F%3E%3Cpath%20d%3D%22M4.61%2037.246c-.103.04-.256.06-.462.06H3.71v-.998h.414c.27%200%20.465.034.587.103.122.07.183.203.183.403%200%20.212-.094.357-.283.433zm.72%201.308c-.003-.072-.006-.142-.006-.205v-.203c0-.138-.05-.282-.15-.426-.1-.147-.26-.235-.475-.27.17-.028.303-.073.4-.134.18-.117.27-.297.27-.543%200-.346-.144-.58-.428-.697-.16-.066-.41-.1-.752-.1h-.965v2.755h.486v-1.085h.384c.257%200%20.437.03.54.088.173.103.26.313.26.633v.22l.01.087c.002.012.004.022.007.03l.008.028h.454l-.017-.033c-.01-.023-.02-.07-.024-.143%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  .icon-hamburger-white:before{
    content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M0%2027.3h40v-4.5H0v4.5zM0%2016h40v-4.5H0V16z%22%2F%3E%3C%2Fsvg%3E');
  }
}
.high-contrast-white{
  .icon-nav-mobile-e-icon-white:before{
    content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2053.333332%2039.880001%22%20height%3D%2239.88%22%20width%3D%2253.333%22%3E%3Cg%20fill%3D%22%23231f20%22%3E%3Cpath%20d%3D%22M24.91%209.747c1.867-2.74%206.19-4.676%2010.474-4.685%204.476-.014%208.107%201.496%209.96%204.143.234.41.292.68.187.882-.16.312-.716.37-1.24.382H24.5c.15-.365.41-.723.41-.723zM53.14%2011.2C52.02%205.637%2045.51.005%2035.233.005h-.008c-9.068%200-15.652%204.81-17.78%209.74-.05.103-.218.534-.277.723H0v1.966h45.828c2.597%200%202.988-.136%203.28-.41.083-.074.15-.188.15-.432%200-1.518-3.654-8.565-14.043-8.565-8.91%200-12.675%205.204-13.495%206.717-.145.267-.24.464-.345.72l-1.17.002v-.003c.175-.44.393-.834.393-.834.885-1.795%204.56-7.635%2014.617-7.635%2010.445%200%2015.056%207.11%2015.15%209.76.02.626-.107.98-.472%201.247-.323.24-.71.46-4.068.46H0v2.06H48.07c2.374-.02%204.072-.067%204.81-.97.506-.618.586-1.653.26-3.356M48.185%2019.075c-4.05%205.045-12.496%204.94-13.447%204.91-7.213-.12-12.178-3.802-13.932-7.316h-3.23c2.014%204.837%208.108%209.533%2017.638%209.523%209.78-.013%2013.718-3.43%2016.28-6.774.125-.174.2-.286.292-.455h-3.518l-.083.11%22%2F%3E%3Cpath%20d%3D%22M34.77%2022.952c.325.018%207.93.32%2012.1-3.987h-4.06c-1.775%201.433-5.157%201.784-7.68%201.784-4.015%200-7.89-1.652-9.9-4.08h-3.24c1.676%202.898%205.87%206.105%2012.78%206.282M5.765%2038.9c-.42.423-.93.635-1.528.635-.6%200-1.108-.212-1.528-.636-.417-.425-.626-.937-.626-1.54%200-.596.21-1.105.63-1.527.42-.424.93-.636%201.523-.636.597%200%201.107.212%201.528.636.42.422.63.93.63%201.527%200%20.603-.21%201.115-.63%201.54zm.25-3.31c-.49-.488-1.083-.73-1.778-.73-.69%200-1.28.242-1.767.73-.49.49-.735%201.08-.735%201.77%200%20.7.243%201.29.73%201.782.486.493%201.077.738%201.772.738.695%200%201.288-.245%201.778-.738.49-.49.734-1.086.734-1.782%200-.69-.245-1.283-.735-1.77%22%2F%3E%3Cpath%20d%3D%22M4.61%2037.246c-.103.04-.256.06-.462.06H3.71v-.998h.414c.27%200%20.465.034.587.103.122.07.183.203.183.403%200%20.212-.094.357-.283.433zm.72%201.308c-.003-.072-.006-.142-.006-.205v-.203c0-.138-.05-.282-.15-.426-.1-.147-.26-.235-.475-.27.17-.028.303-.073.4-.134.18-.117.27-.297.27-.543%200-.346-.144-.58-.428-.697-.16-.066-.41-.1-.752-.1h-.965v2.755h.486v-1.085h.384c.257%200%20.437.03.54.088.173.103.26.313.26.633v.22l.01.087c.002.012.004.022.007.03l.008.028h.454l-.017-.033c-.01-.023-.02-.07-.024-.143%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
  .icon-hamburger-white:before{
    content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M0%2027.3h40v-4.5H0v4.5zM0%2016h40v-4.5H0V16z%22%2F%3E%3C%2Fsvg%3E');
  }
}


#reservationHeader, .master-nav {
  .mobile-logo.header-nav-item {
    display: none;
    height: rem-calc(60);
    i {
      width: rem-calc(60);
      height: rem-calc(60);
    }
    .icon-nav-mobile-e-icon-white {
      margin-top: 15px;
    }
  }

  .outer-nav {
    float: right;
    margin: 0 50px 0 0;
  }

  .sign-in {
    display: inline-block;
    margin-right: 50px;
    height: rem-calc(70);
    line-height: 4.375rem;
    color: white;
    cursor: pointer;

    &.resflow {
      position: relative;
      right: initial;
      line-height: 75px;
    }

    legend {
      display: none;
    }

    a {
      display: inline-block;
      //   padding: 0 25px;
      color: $white;
      font-size: rem-calc(14);
    }

    .utility-nav-label {
      font-size: rem-calc(14);
      text-align: center;
      position: relative;
      width: auto;

      strong {
        font-family: $bold;
        text-transform: uppercase;
      }

      &.country-language-label span {
        text-transform: capitalize;
      }

      .icon {
        width: 17px;
        height: 17px;
        display: inline-block;
        margin-right: 7px;
        margin-bottom: -3px;
      }

      .icon.icon-utility-notch {
        position: absolute;
        top: 100%;
        left: 50%;
        margin: 0 0 0 -13px;
        width: 26px;
        height: 14px;
        z-index: 1001;
        transition: all .3s;
        opacity: 0;
        margin-top: -14px;
      }
    }

    .utility-nav-content {
      background-color: $black;
      background-position: rem-calc(190) 0;
      background-size: rem-calc(40); // Note: may need to change for IE < 9
      height: 0;
      overflow: hidden;
      position: absolute;
      right: rem-calc(10);
      top: rem-calc(70);
      transition: all 250ms ease-in-out;
      width: rem-calc(400);
      z-index: 1000;
      fieldset {
        clear: both;
      }
    }

    .active {
      .utility-nav-content {
        padding-top: rem-calc(40);
        color: $white;
      }

      .utility-nav-label .icon.icon-utility-notch {
        opacity: 1;
        margin-top: 0;
      }
    }

    .field-container {
      float: left;
      width: 50%;
      padding: 0 30px;
      margin: rem-calc(0 0 20 0);
      border-right: 1px solid $darkestGray;
      &:last-child {
        border-right: none;
      }
      h2 {
        font-family: $regular;
        font-size: 22px;
        margin-bottom: rem-calc(20);
      }
      h4 {
        font-size: rem-calc(20);
        margin-bottom: rem-calc(20);
        color: #FFF;
        font-family: $light;
        text-transform: none;
      }
      label {
        padding: 4px 0;
        margin: 0;
        font-size: rem-calc(14);
        line-height: normal;
        color: $white;
        cursor: pointer;
        input[type="radio"] {
          display: none;
        }
        &:hover {
          color: $white;
          opacity: .8;
        }
        &.selected {
          color: $white;
        }
      }
      .icon.icon-checkmark-circle-green {
        opacity: 0;
        display: inline-block;
        width: 21px;
        height: 21px;
        vertical-align: text-bottom;
        margin-left: 10px;
      }
      .selected .icon.icon-checkmark-circle-green {
        opacity: 1;
      }
    }
  }

  #mobile-nav {
    display: inline-block;
  }

}

.mobile-nav {
  display: none;
  height: rem-calc(60);
  clear: both;
  .mobile-logo {
    height: rem-calc(60);
    i {
      width: rem-calc(60);
      height: rem-calc(60);
    }
  }
  .primary-nav-toggle {
    background: $enterpriseDarkGreen;
    border-left: 1px solid $darkGreen;
    height: rem-calc(60);
    width: rem-calc(60);
    overflow: hidden;

    button {
      padding: rem-calc(15);
      background: transparent;
      width: rem-calc(60);
      height: rem-calc(60);
      text-align: center;
      margin: 0;

      i {
        width: rem-calc(30);
        height: rem-calc(30);
        display: inline-block;
      }
    }
  }
}

// TODO: Consider pulling into _footer.scss ??
footer {
  //border-top: 3px solid $white;
  background-color: $enterpriseGreen;
  padding: rem-calc(25 0 0 0);
  margin-bottom: 5px;

  &.footer-blank {
    background-color: $white;
  }

  nav {
    clear: both;
    color: $white;
    padding: rem-calc(20 60 20 60);
  }

  .drivealliance {
    .social-container {
      min-height: 30px;
      .icon-footer-youtube-color {
        background-image: url(/etc/designs/ecom/dist/img/raster-icons/footer-youtube-color.png);
      }
    }
    .base {
      padding: rem-calc(0 60);
      margin-top: rem-calc(25);
      .footer-drive-alliance {
        display: inline-block;
        margin: 5% 0;
        width: 66%;
        @media all and (max-width: $bp-med) {
          width: 100%;
        }
      }
      .links {
        ul, li {
          margin: 0;
          padding: 0;
        }

        li {
          display: inline;
        }

        li:last-child {
          &:after {
            display: none;
          }
        }
        li:after {
          content: "|"
        }

        a, span {
          font-size: rem-calc(14);
          color: #333;
          font-family: $light;

          &:hover {
            color: gray;
          }

          .icon {
            display: inline-block;
            background-size: 100%;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            &.none {
              display: none;
            }
          }
        }
      }
      &.g {
        margin: 0;
        @media all and (max-width: $bp-small-2) {
          padding: 0 10px;
        }
      }
    }
  }
  .get-app {
    border-top: 1px solid $enterpriseDarkGreen;
    padding: rem-calc(20 0);

    a {
      color: $white;
      display: inline-block;;
      margin-right: rem-calc(10);
      opacity: .8;
      font-size: 0.875rem;
      &:hover {
        opacity: 1;
      }
      &:last-child {
        margin-right: 0;
      }
      &.google-play-link {
        height: 45px;
        width: 129px;
        background-repeat: no-repeat;
      }
      .icon {
        float: left;
        margin-right: rem-calc(5);
        &.icon-icon-badge-download-on-google-play2 {
          width: 135px;
          height: 46px;
        }
        &.icon-badge-download-on-the-app-store {
          width: 135px;
          height: 40px;
        }
      }
    }

    @media all and (max-width: $bp-med) {
      border: 0 none;
      a {
        opacity: 1;
        &:first-child {
          margin-left: 0;
          margin-right: 20px;
        }

        &:last-child {
          margin-left: 20px;
          margin-right: 0;
        }

        .icon {
          float: none;
          margin: 0 auto;
          height: rem-calc(54);
          width: rem-calc(54);
        }
      }

      p {
        font-family: $bold;
        font-size: rem-calc(15);
      }

      .app-title {
        font-size: rem-calc(17);
        padding-top: 12px;
        display: block;

      }
    }
  }

  .title-interactable,
  .title-static {
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-family: $bold;
    padding-bottom: rem-calc(10);
    @media all and (max-width: $bp-med) {
      font-size: rem-calc(17);
    }
  }

  .title-interactable {
    display: none;
  }

  ul {
    margin-bottom: rem-calc(30);

    li {
      padding-bottom: rem-calc(10);
    }

    li > a {
      color: $white;
      color: rgba(255, 255, 255, 0.75);
      font-family: $regular;
      font-size: rem-calc(14);

      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
        color: rgba(255, 255, 255, 0.75);
      }
      @media all and (max-width: $bp-med) {
        font-size: rem-calc(17);
      }
    }

    &.social-links {
      margin-bottom: 0;
      li {
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(20);
        margin: rem-calc(20 20 0 0);
        > a.icon {
          opacity: .8;
          display: block;
          width: 24px;
          height: 24px;
          overflow: hidden;
          text-indent: rem-calc(-3000);
          background-size: 100%;
          &:hover {
            opacity: 1;
          }
        }
        @media all and (max-width: $bp-med) {
          &:last-child {
            margin-right: 0;
          }
        }
      }

      @media all and (max-width: $bp-med) {
        border-top: 0 none;
        li {
          width: 24px;
          height: 24px;
          margin: rem-calc(20 34 0 0);
          > a.icon {
            //width: rem-calc(46);
            //height: rem-calc(46);
            width: 24px;
            height: 24px;
            opacity: 1;
          }
        }
      }
    }
  }
  @media all and (max-width: rem-calc(715)) {
    .logo.header-nav-item {
      margin-left: rem-calc(-45);
      display: none;
    }
    .gettheapp {
      margin: 0 auto;
      > div {
        text-align: center;
      }
    }
    nav {
      padding: 20px 3%;
    }
    .g {
      margin: 0;
    }
    .gi {
      padding: 0;
    }
    .social-links {
      text-align: center;
    }
    .title-interactable {
      text-align: center;
      cursor: pointer;
      display: block;
    }
    .title-static {
      display: none;
    }
    ul {
      margin-bottom: rem-calc(10);
      li {
        display: none;
      }
      &.active {
        li {
          text-align: center;
          display: block;
        }
      }
    }
  }
}

.icon-ad-choices {
  background-image: url(/etc/designs/ecom/dist/img/raster-icons/ad-choices-icon-transparent.png);
}

.show-adchoice {
  .adchoice-sticker {
    display: block;
  }
  .adchoice-text {
    font-size: 13px;
    margin-right: 25px;
  }
}

.adchoice-sticker {
  display: none;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 2px 4px;
  background-color: #ccc;
  text-align: right;
  font-size: 14px;

  .icon {
    display: inline-block;
    height: 14px;
    width: 13px;
    background-repeat: no-repeat;
    vertical-align: top;
    position: relative;
    top: 2px;
  }
}

.master-nav .mobile-utility.header-nav-item {
  display: none;
  .mobile-utility-item {
    a {
      display: block;
      position: relative;
      padding: 5px 0 5px 40px;
      color: $enterpriseGreen;
      font-size: 17px;
      line-height: 1;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

#primary-nav .mobile-utility {
  display: none;
  background: $black;
  padding: 40px 20px 20px;
  li, .mobile-utility-item {
    clear: both;
    & > a {
      display: block;
      position: relative;
      padding: 5px 0 5px 40px;
      color: $enterpriseGreen;
      font-size: 17px;
      line-height: 1;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  select {
    width: 100%;
    height: rem-calc(48);
    border: none;
    text-transform: uppercase;
    color: $darkGray;
    font-size: rem-calc(14);
    font-family: $heavy;
    padding: rem-calc(8);
    margin-top: rem-calc(20);
    border-radius: 0;
  }
  @media all and (max-width: rem-calc(715)) {
    display: block;
  }
}

.breadcrumb-nav {
  ul {
    height: rem-calc(40);
    border-bottom: 1px solid $lightGray;
    padding-left: 2%;
    li {
      float: left;
      padding-left: rem-calc(40);
      line-height: rem-calc(40);
      a {
        color: $enterpriseGreen;
      }
      i {
        float: right;
        width: rem-calc(10);
        height: rem-calc(10);
        margin: rem-calc(15 0 0 40);
      }
      &:last-child i {
        display: none;
      }
    }
  }

}

.footer-classic-link {
  background: $darkGreen;
  display: block;
  padding: 10px 5%;
  color: white;
}

#beta-message {
  background: $black;
  color: $white;
  padding: 10px 5%;
  font-size: 17px;
  line-height: 27px;
  display: none;
  a {
    color: $enterpriseGreen;
    :hover {
      color: $enterpriseGreen;
      text-decoration: underline;
    }
  }
}

.beta-message-holder {
  display: none;
}

@media all and (max-width: rem-calc(715)) {
  div#primaryHeader .logo {
    display: none !important;
  }
}


@media(max-width: $bp-small-3) {
  .master-nav .sign-in .login-widget .utility-nav-label {
    margin: 0;
    padding: 25px 10px 0;
    line-height: 1;
  }
  .master-nav .sign-in .login-text {
    font-size: 12px;
  }
}

@media all and (max-width: $bp-small) {
  //body.is-fedex #login-container .utility-nav-content {
  //  width: inherit;
  //}

  .mobile-nav .sign-in {
    width: 100%;
    #login-container-mobile .utility-nav-label {
      text-align: center;
    }
  }
}

@media(min-width: 886px) {
  .primary-nav > li .primary-nav-content .menu .nav-section {
    .icon-nav-carrot-white {
    }
    .title {
      padding-bottom: 20px;
      .icon-nav-carrot-white {
        display: none;
      }
    }
    .sub-menu {
      li {
        position: relative;
        padding: 8px 0 8px 14px;
        .icon-nav-carrot-white {
          position: absolute;
          left: 0;
          top: 5px;
        }
        a {
          display: block;
          font-family: $regular;
          font-size: 1.1vw;
          line-height: 1;
          text-decoration: none;
          &:hover {
            color: $white;
          }

          .icon {
            background-size: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}

@media all and (max-width: 885px) {
  #reservationHeader, .master-nav {
    .reservation-sub-header .mobile-logo.header-nav-item,
    .mobile-logo.header-nav-item {
      display: inline-block;
    }

    .logo.header-nav-item {
      display: none;
    }

    .outer-nav {
      margin-right: 0;
    }

    .sign-in {
      display: inline-block;
      height: 60px;
      right: 0;
      margin: 0 20px 0;

      &.resflow {
        margin: 0;
      }

      a {
        display: inline-block;
        padding: 0;
        color: $white;
        font-size: rem-calc(14);
      }

      .login-widget.active {
        background: transparent;
      }

      .utility-nav-label {
        height: 60px;
        width: auto;
      }

      .utility-nav-content {
        right: 0;
        top: 60px;
      }

    }

  }

  .reservationpage, .Reserve{
    #primary-nav.active {
      display: block;
      width: 100%;
    }
  }

  div#beta-message {
    padding: 20px;
  }

  #primary-nav {
    display: none;
    overflow: hidden;
    background-color: $black;

    .mobile-utility {
      display: block;
    }

    &.active {
      display: block;
      width: 100%;
      .primary-nav{
        display: block;
      }
    }
  }

  #mobile-nav.active {
    li.primary-nav-toggle {
      background: $black;
    }
  }

  header > .logo {
    display: none;
  }

  .primary-nav {
    height: auto;
    padding: 0 20px;
    background: $black;
    .primary-item {
      //max-width: 350px;
      padding-top: 12px;
      &:hover {
        background-color: transparent;
      }
    }
    &.active-cols-6 > li, &.active-cols-5 > li, &.active-cols-4 > li, &.active-cols-3 > li {
      width: 100%;
    }
    > li {
      float: none;
      width: 100%;
      &.active {
        height: auto;
        .primary-nav-content .menu {
          padding-top: 0;
        }
      }
      .primary-nav-label {
        height: auto;
        margin: 0;
        padding: 25px 0 12px;
        border: none;
        cursor: default;
        color: $white;
        font-family: $bold;
        font-size: 13px;
        line-height: 1;
        letter-spacing: 0.040em;
        text-align: left;
        text-transform: uppercase;
      }
      .primary-nav-content {
        display: block;
        visibility: visible;
        position: relative;
        z-index: 1;
        left: 0;
        width: 100%;
        height: auto;
        background: $black;
        clear: both;
        transition: none;
        .menu {
          float: none;
          width: 100%;
          padding: 0;
          opacity: 1;
          transition: none;
          .nav-section {
            float: none;
            height: auto;
            padding: 0;
            border-left: none;
            .nav-section-text {
              display: none;
            }
            .title {
              padding: 17px 0;
              opacity: 1.0;
              //transition: all 250ms ease-in-out;
              color: $enterpriseGreen;
              font-family: $light;
              font-size: 17px;
              line-height: 1;

              &:hover {
                color: $enterpriseDarkGreen;
                text-decoration: underline;
              }
              .icon-nav-carrot-white {
                right: 0;
                top: 20px;
                transform: rotate(90deg);
                transition: transform 100ms ease-in-out;
              }
            }
            &.open .title .icon-nav-carrot-white {
              transform: rotate(270deg);
            }
            .icon-nav-carrot-white {
              position: absolute;
              height: 10px;
              width: 6px;
              padding: 0;
              background-size: 130%;
              background-position: center;
            }
            .sub-menu {
              display: none;
              overflow: hidden;
              margin-bottom: 25px;
              padding: 20px 0 20px 20px;
              border-top: 1px solid transparent;
              border-bottom: 1px solid transparent;
              li {
                position: relative;
                padding: 10px 0 10px 20px;
                a {
                  display: block;
                  padding: 10px 0;
                  color: $enterpriseGreen;
                  font-family: $light;
                  font-size: 17px;
                  line-height: 1;
                }
                .icon-nav-carrot-white {
                  position: absolute;
                  top: 22px;
                  left: 0;
                }
                .icon-nav-external-link-white,
                .icon-nav-external-link-green {
                  padding: 0;
                  background-size: 100%;
                }
              }
            }
            &.open .sub-menu {
              display: block;
              border-color: $darkestGray;
            }
            &:first-child {
              border-left: none;
            }
            &.active {
              border-bottom: 1px solid $darkestGray;
              padding-bottom: 10px;
              margin-bottom: 20px;
              li.icon {
                height: auto;
                margin: 0;
                padding: 0 0 0 0;
                background: 0 none;
                opacity: 1;
                line-height: 1;

                a {
                  padding-left: 20px;
                }
              }
            }
          }
          &.cols-2 .nav-section,
          &.cols-3 .nav-section,
          &.cols-4 .nav-section {
            width: 100%;
          }
        }
        .promo {
          display: none;
        }
      }
    }
  }
  ul.utility-nav {
    display: none;
  }
  ul.mobile-nav {
    overflow: hidden;
    display: block;
  }
}

@media all and (max-width: 500px) {
  #reservationHeader, .master-nav {
    .sign-in {
      .utility-nav-label {
        .points {
          display: none;
        }
      }
    }
  }

  footer {
    .drivealliance {
      .base {
        .footer-drive-alliance {
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 420px) {
  .master-nav {
    .sign-in {
      margin: 0;
      .login-text {
        font-size: 10px;
      }
    }
  }

  footer {
    .social-container {
      margin-bottom: 10px;
    }

    ul.social-links {

      li {
        width: rem-calc(22);
        height: rem-calc(22);
        margin: rem-calc(20 20 0 0);

        a.icon {
          width: rem-calc(22);
          height: rem-calc(22);
        }
      }

    }

    .links-footer {
      text-align: center;
      line-height: 28px;
    }

  }
}
