.qatools {
  *:focus {
    outline: 3px dashed red;
  }

  span[data-i18nkey]:hover::before {
    opacity: 0.1;
  }

  span[data-i18nkey]::before {
      content: attr(data-i18nkey);
      position: absolute;
      /* margin-top: -20px; */
      border: 1px solid beige;
      background: cornsilk;
      padding: 0 3px;
      font-size: 1rem;
      line-height: 1rem;
      opacity: 1;
  }
}
