/* Headings */
/* Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  font-family: $heavy;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 40px;
  color: $black;
}
.modal-container.active .modal-content.sessionTimeout h1{
  font-family: $regular;
  color:white;
  font-size: 16px;
  line-height: 1;
}
h2, .beta {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.1666666666em;

  @media all and (max-width: $bp-med) {
    font-size: 24px;
  }
}

h3, .gamma {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.1666666666em;
  color: $enterpriseGreen; }

h4 {
  font-family: $heavy;
  font-size: .9em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1666666666em;
  color: $enterpriseGreen; }

/* Subheadings */
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal; }

/* Text-Related Elements */
p {
  font-size: 17px;
  margin-bottom: 1em;
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid gray;
  color: gray;
  padding-left: 1em;
  margin-bottom: 1em; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eeeeee;
  margin: 2em 0; }

abbr {
  cursor: help;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Preemptive fix for ECR-11064 */
*:focus {
  outline: 1px dotted $darkestGray;
}
