@import 'bootstrap';
@import 'spinkit/spinkit';

body{
	background: #F1F1F1;
}
.iframe{
	width: 100%;
	height: 422px;
}

h1{
	font-weight: 600;
    font-size: 20px;
    margin: 20px 0;

    span{
		background: rgb(34, 34, 34);
        color: rgb(0, 216, 255);
		font-weight: bold;
		padding: 4px 5px;
		border-radius: 4px;
		margin-left: 2px;
    }
}

label{
	margin: 13px 0;
	width: 100%;

	input{
		font-size: 14px;
		font-weight: 400;
	}
}

.infoVideo{
	padding: 10px 0;
	width: 80%;

	h1, h3{
		margin: 0;
	}

	h1,
	.date,
	.channel,
	.description{
		display: block;
	}

	.date,
	.channel,
	.description{
		font-size: 13px;
		font-weight: bold;
	}

	h1{
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.date{
		margin-bottom: 0;
	}

	.channel{
		margin-bottom: 20px;
	}

	.description{
		font-size: 13px;
    	font-weight: normal;
    	width: 70%;
	}
}

.playlist{
	text-align: center;
	padding: 0;
    overflow-x: hidden;

	li{
		list-style: none;
		margin-bottom: 30px;
	}

	a{
		display: block;
		position: relative;
		width: 100%;

		&:hover{
			&:before{
				background: rgba(0,0,0,1);
			}
		}

		&:before,
		&:after{
			content: "";
			display: inline-block;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}

		&:before{
			width: 68px;
			height: 48px;
			border-radius: 14px;
			background: rgba(0, 0, 0, 0.7);
		}

		&.play{
			&:after{
				box-sizing: border-box;
				width: 0;
				height: 0;
				border-top: 11px solid transparent;
				border-left: 19px solid #FFF;
				border-bottom: 11px solid transparent;
				left: 7px;
			}
		}

		&.pause{
			&:after{
				box-sizing: border-box;
				width: 12px;
			    height: 16px;
			    border-right: 4px solid #FFF;
			    border-left: 4px solid #FFF;
		    }
		}
	}

	img{
		width: 100%;
		height: auto;
	}
}

.github{
	text-align: right;
	margin: 17px 0;

	.user,
	.repository{
		font-size: 13px;
	}

	.user{
		color: #333333;
	}

	.repository{
		margin-left: 5px;

		&:hover{
			opacity: 0.8;
		}
	}
}

.sk-circle{
	position: relative;

	span{
		position: absolute;
		left: -41px;
		bottom: -30px;
		margin: auto;
		display: block;
	    text-align: center;
	    font-size: 13px;
	    width: 130px;
	    font-weight: bold;
	}
}

@media (min-width: 480px) {
  .row-xs-height {
    height: 323px;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    height: 436px;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    height: 436px;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    height: 436px;
  }
}