<div class="buttons-control">
    <div class="row">
        <div class="col-md-6 col-md-offset-6 text-right">
            <a ng-href="#/alteracao/{{$ctrl.cpf}}"
               type="button"
               class="uni-btns btn-confirmacao btn-md step-voltar">
                <span>voltar</span>
            </a>

            <button type="button"
                    class="uni-btns btn-primario btn-md atualizarDados"
                    ng-click="$ctrl.update($ctrl.model)"
                    ng-disabled="$ctrl.progress"
                    ng-if="!$ctrl.isSubmit">
                <span ng-if="!$ctrl.progress">atualizar cadastro</span>
                <span ng-if="$ctrl.progress">Salvando...</span>
            </button>

            <button type="submit"
                    class="uni-btns btn-primario btn-md atualizarDados"
                    ng-disabled="$ctrl.progress"
                    ng-if="$ctrl.isSubmit">
                <span ng-if="!$ctrl.progress">atualizar cadastro</span>
                <span ng-if="$ctrl.progress">Salvando...</span>
            </button>
        </div>
    </div>
</div>
