<form 
    name="titularForm"
    angular-validator-submit="$ctrl.salvar($ctrl.titular); titularForm.reset()"
    novalidate angular-validator
    ng-if="!$ctrl.readonly"
>
   
    <div class="row">
        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <strong>* Matricula</strong>
            <input 
                type="text" 
                name="titularMatricula" 
                class="text-uppercase" 
                ng-model="$ctrl.titular.matricula" 
                maxlength="12"
                ui-number-mask="0" 
                ui-hide-group-sep
                ng-blur="$ctrl.getMatricula($ctrl.titular.matricula)"
                required
                ng-required="true"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                uppercase
                tabindex="1"
            />
        </label>

        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-disabled="true">
            <strong>CPF</strong>
            <input 
                type="text"
                name="cpf"
                class="cpf"
                ng-disabled="true"
                ng-model="$ctrl.titular.cpfCnpj"
                ui-br-cpf-mask
                tabindex="2"
            >
        </label>
        
        <label class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
            <strong>Nome Completo</strong>
            <input 
                type="text"
                name="nomeCompleto"
                ng-disabled="true"
                ng-model="$ctrl.titular.nome"
                class="text-uppercase"
                maxlength="65"
                uppercase
                tabindex="3"
            />
        </label>
    </div>

    <div class="btns-add">
        <button 
            type="button"
            id="cancelartitular"
            ng-click="$ctrl.cancelar() && titularForm.reset()"
            class="info btn-danger"
            tabindex="5"
        >
            cancelar
        </button>

        <button 
            type="submit"
            class="info info-add"
            id="salvartitular"
            tabindex="4"
        >
            salvar
        </button>
    </div>
</form>
