<form name="dependenteForm"
 angular-validator-submit="$ctrl.salvar($ctrl.dependente); dependenteForm.reset()"
 novalidate angular-validator
 ng-if="!$ctrl.readonly">
    <div class="row">
        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <strong>* CPF</strong>
            <dados-cpf cpf="$ctrl.dependente.cpf"
                required="true"
                focus-id="dependenteCPF"
                nome="dependente"
            >
            </dados-cpf>
        </label>
        <label class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <strong>* Nome Completo</strong>
            <input uppercase type="text" ng-model="$ctrl.dependente.nomeCompleto"
                class="text-uppercase"
                name="dependenteNome"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                ng-required="true"
                maxlength="65"
            />
        </label>
    </div>
    <div class="row">
        <label class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <strong>* Data de Nascimento</strong>
              <input class="form-control"
                     name="dataNascimentoDependente"
                     moment-picker="$ctrl.dependente.dataNascimento"
                     ui-mask="99/99/9999"
                     format="DD/MM/YYYY"
                     start-view="month"
                     locale="pt-br"
                     model-view-value="true"
                     ng-model="$ctrl.dependente.dataNascimento"
                     required-message="'Campo obrigatório'"
                     ng-required="true"
                     invalid-message="'Data inválida'"
                     validate-on="blur"
                     ng-blur="$ctrl.validarData($ctrl.dependente.dataNascimento)"
                     max-date="$ctrl.maxDataNascimento" />

        </label>
        <label class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <strong>* Tipo de Dependência</strong>
            <select ng-model="$ctrl.dependente.tipoDependencia"
                name="dependenteTipoDependencia"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                ng-required="true"
            >
                <option value=""></option>
                <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposDependencia">{{tipo.descricao}}</option>
            </select>
        </label>
        <label class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <strong>Valor de Renda</strong>
            <input type="text"
                ng-model="$ctrl.dependente.valorRenda"
                ui-money-mask
                maxlength="21"
                placeholder="R$">
        </label>

        <label class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <strong>Valor de Pensão</strong>
            <input type="text"
                ng-model="$ctrl.dependente.valorPensao"
                ui-money-mask
                maxlength="21"
                placeholder="R$">
        </label>
    </div>
    <div class="btns-add">
        <button type="button"
              id="cancelarDependente"
              ng-click="$ctrl.cancelar() && dependenteForm.reset()"
              class="info btn-danger">cancelar</button>

        <button type="submit"
                class="info info-add"
                id="salvarDependente">
            salvar
        </button>
    </div>
</form>
