<div class="btns-add">
    <button type="button"
        ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="novoDependente"
        class="info info-add">novo</button>
</div>

<table class="table table-striped tableListas">
  <hr ng-if="!$ctrl.readonly">
  <thead>
    <tr>
        <th>CPF</th>
        <th>Nome Completo</th>
        <th>Nascimento</th>
        <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{ itemSelecionado : dependente.modoEdicao }"
        ng-repeat="(index, dependente) in $ctrl.dependentes">
        <td ng-bind="dependente.cpf | brCpf"></td>
        <td ng-bind="dependente.nomeCompleto"></td>
        <td ng-bind="dependente.dataNascimento.format('DD/MM/YYYY')"></td>
        <td ng-if="!$ctrl.readonly" class="centerText">
            <button class="glyphicon glyphicon-edit is-clickable btn btn-warning"
                title="Editar"
                type="button"
                ng-disabled="dependente.modoEdicao"
                ng-click="$ctrl.editar(dependente)"></button>
            <button class="glyphicon glyphicon-trash is-clickable btn btn-danger"
                ng-disabled="dependente.modoEdicao"
                type="button"
                title="Remover"
                ng-click="$ctrl.remover(dependente)"></button>
        </td>
    </tr>
  </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.dependentes.length == 0">
    Nenhum dependente foi adicionado até o momento
</div>
