<nova-sessao titulo="Dependentes" badge="{{$ctrl.dependentes.length}}" mostra-sessao="$ctrl.mostraSessao">
    <dados-dependente
        dependente="$ctrl.dependente"
        on-salvar="$ctrl.salvar(dependente)"
        on-cancelar="$ctrl.cancelar()"
        ng-if="$ctrl.mostrarDependenteForm && !$ctrl.readonly"
    >
    </dados-dependente>

    <lista-dependentes
        dependentes="$ctrl.dependentes"
        on-editar="$ctrl.editar(dependente)"
        on-novo="$ctrl.novo()"
        on-remover="$ctrl.remover(dependente)"
        esconder-botao-novo="$ctrl.mostrarDependenteForm"
        readonly="$ctrl.readonly"
    >
    </lista-dependentes>
</nova-sessao>
