<fieldset ng-disabled="$ctrl.readonly">
    <div class="row row-fluid">
        <label class="col-md-6">
            <strong>Possui autorização de residência em outros países?</strong>
            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="NAO"
                    ng-model="$ctrl.pessoaResponsavel.possuiAutorizacaoResidenciaValidaExterior">
                <div class="check"></div>
                <span>Não</span>
            </label>

            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="SIM"
                    ng-model="$ctrl.pessoaResponsavel.possuiAutorizacaoResidenciaValidaExterior">
                <div class="check"></div>
                <span>Sim</span>
            </label>


        </label>

        <label class="col-md-6">
            <strong>Possui outro domicílio fiscal além do declarado?</strong>
            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="NAO" 
                    ng-model="$ctrl.pessoaResponsavel.possuiDomicilioFiscalAlemDeclarado">
                <div class="check"></div>
                <span>Não</span>
            </label>

            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="SIM"
                    ng-model="$ctrl.pessoaResponsavel.possuiDomicilioFiscalAlemDeclarado">
                <div class="check"></div>
                <span>Sim</span>
            </label>
        </label>
    </div>


    <div class="row row-fluid">
        <label class="col-md-6">
            <strong>Possui Greencard e participa de alguma empresa com mais de 10% do capital?
    </strong>
            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="NAO"
                ng-model="$ctrl.pessoaResponsavel.possuiGreenCardEParticipaEmpresaCapitalSuperior10PorCento">
                <div class="check"></div>
                <span>Não</span>
            </label>

            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="SIM"
                ng-model="$ctrl.pessoaResponsavel.possuiGreenCardEParticipaEmpresaCapitalSuperior10PorCento">
                <div class="check"></div>
                <span>Sim</span>
            </label>
        </label>

        <label class="col-md-6">
            <strong>É considerado "US PERSON"?</strong>
            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="NAO"
                    ng-model="$ctrl.pessoaResponsavel.usPerson">
                <div class="check"></div>
                <span>Não</span>
            </label>

            <label class="col-md-2 newRadio marginTop">
                <input type="radio" value="SIM"
                    ng-model="$ctrl.pessoaResponsavel.usPerson">
                <div class="check"></div>
                <span>Sim</span>
            </label>
        </label>
    </div>
</fieldset>
