<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <label class="col-md-2">
            <strong>Matrícula</strong>
            <input type="text"
                id="numeroMatricula"
                class="form-control"
                maxlength="10"
                ui-number-mask="0" ui-hide-group-sep
                ng-model="$ctrl.vinculo.numeroMatricula"
                ng-blur="$ctrl.buscaPorMatricula($ctrl.vinculo.numeroMatricula)">
        </label>

        <label class="col-md-6">
            <strong>Nome Associado</strong>
            <input type="text" class="form-control" disabled
                ng-model="$ctrl.vinculo.nomeAssociado" uppercase>
        </label>

        <label class="col-md-4">
            <strong>{{ $ctrl.isVinculoValido() ? "*" : "" }} Tipo de Vínculo</strong>
            <select class="form-control"
                name="tipoDeVinculo"
                ng-model="$ctrl.vinculo.tipoVinculo"
                ng-disabled="!$ctrl.isVinculoValido()"
                ng-required="$ctrl.isVinculoValido()"
                required-message="'Campo obrigatório'">
                <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposVinculos">
                    {{tipo.descricao}}
                </option>
            </select>
        </label>
    </div>
</fieldset>
