<div class="cadastro-content marginBottom20">
    <page-title titulo="'Novo'" subtitulo="'Associado'"></page-title>
</div>

<form name="formMatricula"
    class="cadastro-content"
    angular-validator-submit="$ctrl.salvar($ctrl.associado)"
    novalidate angular-validator>
    <div class="step-header">
        <h1>Matrícula</h1>
    </div>

    <div class="step-content">
        <nova-sessao titulo="Matrícula">
            <dados-matricula matricula="$ctrl.associado.matricula" nome-componente="matricula"></dados-matricula>
        </nova-sessao>
        <nova-sessao titulo="Dados Cadastrais">
            <dados-cadastrais-matricula
                dados-cadastrais="$ctrl.associado.matricula.dadosCadastrais"
            ></dados-cadastrais-matricula>
        </nova-sessao>
    </div>

    <div class="savingProgress" ng-class="{ active : $ctrl.savingProgress }">
        <div ng-if="$ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <mensagem-erro mensagens="$ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="$ctrl.sucessos"></mensagem-sucesso>

    <div class="buttons-control">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="submit"
                        ng-disabled="$ctrl.salvoComSucesso || $ctrl.savingProgress"
                        class="uni-btns btn-confirmacao btn-md"
                        id="btnSalvar">
                    <span>Salvar</span>
                </button>
            </div>
        </div>
    </div>

</form>
