<div class="alert alert-danger" role="alert" ng-show="$ctrl.mensagens.length" ng-repeat="erro in $ctrl.mensagens">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <span class="sr-only"></span>
    {{erro.message}}
</div>
