<div class="alert alert-success alert-dismissible" role="alert" ng-show="$ctrl.mensagens.length">
    <button type="button" class="close" ng-click="$ctrl.mensagens = []" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span ng-bind="$ctrl.mensagens[0].message"></span>
</div>