<form name="cartaoAutografoForm" angular-validator-submit="$ctrl.salvar($ctrl.cartaoAutografo);" novalidate angular-validator>
  <fieldset>
    <div class="row">
      <label for="pessoaCartaoAutografo" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <strong>* Nome</strong>
        <select class="upperText" ng-options="pessoa as pessoa.descricao for pessoa in $ctrl.pessoas track by pessoa.descricao"
          ng-model="$ctrl.cartaoAutografo.pessoa"
          name="pessoa"
          id="pessoa"
          validate-on="dirty"
          required-message="'Campo obrigatório'"
          required
          ng-disabled="$ctrl.cartaoAutografo.modoEdicao">
          <option value=""></option>
        </select>
      </label>
      <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <strong>CPF</strong>
        <input type="text" disabled="true" value="{{$ctrl.cartaoAutografo.pessoa.cpfCnpj | brCpf}}" id="cpfCartaoAutografo">
      </label>
    </div>
    <div class="row">
      <label for="assinaturaCartaoAutogafo" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>Imagem da Assinatura</strong>
          <div class="tooltip-v">
              <span class="info info-lg info-add btnCarregarImagem">
                  <div class="button" ngf-select ng-model="$ctrl.cartaoAutografo.assinatura" name="assinatura" ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100"
                    ngf-resize="{width: 250, height: 200}">Carregar imagem</div>
              </span>
              <span class="tooltiptext tooltip-right">Extensões permitidas:<br/> .jpg, .bmp, .gif, .wmf</span>
          </div>
          <div ng-if="!!$ctrl.cartaoAutografo.assinatura"
               class="centerText"
               id="imagemAssinatura">
            <div class="titleInsideSection" >
                Assinatura
            </div>
            <hr />
            <img ng-if="!$ctrl.cartaoAutografo.assinatura.data" ngf-thumbnail="$ctrl.cartaoAutografo.assinatura">
            <img ng-if="!!$ctrl.cartaoAutografo.assinatura.data" data-ng-src="data:image/png;base64,{{$ctrl.cartaoAutografo.assinatura.data}}" />
          </div>
      </label>
    </div>
  </fieldset>

  <hr/>
  <sessao-poderes poderes="$ctrl.cartaoAutografo.poderes" class="secaoInterna" host="$ctrl.host"></sessao-poderes>

  <div class="btns-add">
    <button type="button" id="cancelarCartaoAutografo" ng-click="$ctrl.cancelar()" class="info btn-danger">cancelar</button>

    <button type="submit" id="adicionarCartaoAutografo" class="info info-add">salvar</button>
  </div>
</form>
