<div class="btns-add">
    <button type="button" ng-hide="$ctrl.esconderBotaoNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novaCartaoAutografo" class="info info-add">novo</button>
</div>

<hr ng-if="!$ctrl.readonly">

<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Nome</th>
            <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado: cartaoAutografo.modoEdicao }"
            ng-repeat="(index, cartaoAutografo) in $ctrl.cartoesAutografo">
            <td ng-bind="cartaoAutografo.pessoa.tipo.descricao"></td>
            <td ng-bind="cartaoAutografo.pessoa.nome"></td>
            <td ng-if="!$ctrl.readonly" class="centerText">
                <button type="button" class="btn btn-warning glyphicon glyphicon-edit"
                      ng-disabled="cartaoAutografo.modoEdicao"
                      title="Editar"
                      ng-click="$ctrl.editar(cartaoAutografo)" ></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                      ng-disabled="cartaoAutografo.modoEdicao"
                      title="Remover"
                      ng-click="$ctrl.remover(cartaoAutografo)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia" ng-show="$ctrl.cartoesAutografo.length==0">
    Nenhum cartão autografo foi adicionada até o momento
</div>
