<nova-sessao titulo="Cartão autógrafo" mostra-sessao="$ctrl.mostraSessao">
    <dados-cartao-autografo
        cartao-autografo="$ctrl.cartaoAutografo"
        on-salvar="$ctrl.salvar(cartaoAutografo)"
        on-cancelar="$ctrl.cancelar()"
        ng-if="$ctrl.mostrarCartaoAutografoForm"
        host="$ctrl.host"
    >
    </dados-cartao-autografo>

    <lista-cartao-autografo
        cartoes-autografo="$ctrl.cartoesAutografo"
        on-novo="$ctrl.novo()"
        on-editar="$ctrl.editar(cartaoAutografo)"
        on-remover="$ctrl.remover(cartaoAutografo)"
        esconder-botao-novo="$ctrl.mostrarCartaoAutografoForm"
        readonly="$ctrl.readonly"
        host="$ctrl.host"
    >
    </lista-cartao-autografo>
</nova-sessao>
