<fieldset>
    <div class="row">
        <label class="col-md-5 col-sm-5 col-xs-12">
            <strong>Linha de Credito</strong>
            <select ng-model="$ctrl.limiteCartaoCredito.codigoLinhaCredito"
                    name="codigoLinhaCredito"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{linhaDeCredito.cdLinhaCredito}}" ng-repeat="linhaDeCredito in $ctrl.linhasDeCredito">{{linhaDeCredito.dsLinhaCredito}}</option>
            </select>
        </label>

        <div class="col-md-2 col-sm-2 col-xs-12">
            <strong>Taxa</strong>
            <input type="text" ng-model="$ctrl.limiteCartaoCredito.taxa"
                id="taxa"
                name="taxa"
                ui-money-mask
                maxlength="21"
                placeholder="R$"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
        </div>

        <div class="col-md-2 col-sm-2 col-xs-12">
            <strong>Valor</strong>
            <input type="text" ng-model="$ctrl.limiteCartaoCredito.valorSolicitado"
                id="valorSolicitado"
                name="valorSolicitado"
                ui-money-mask
                maxlength="21"
                placeholder="R$"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
        </div>

         <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>Tipo Vencimento</strong>
            <select ng-model="$ctrl.limiteCartaoCredito.tipoVencimento"
                    name="tipoVencimento"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{tipoVencimento.valor}}" ng-repeat="tipoVencimento in $ctrl.tiposVencimento">{{tipoVencimento.descricao}}</option>
            </select>
        </label>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <strong>Finalidade</strong>
            <input type="textarea" ng-model="$ctrl.limiteCartaoCredito.finalidade"
                id="finalidade"
                name="finalidade"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
        </div>
    </div>
</fieldset>