<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Dados Profissionais'"></page-title>

    <form name="updateForm" angular-validator-submit="ctrl.update(ctrl.dadosProfissionais)" novalidate angular-validator>
        <div class="step-content">
            <nova-sessao titulo="Dados Profissionais" mostra-sessao="true">
                <dados-profissionais profissional="ctrl.dadosProfissionais"></dados-profissionais>
            </nova-sessao>
        </div>

        <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
            <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
        </div>

        <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
        <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

        <botoes-update cpf="ctrl.cpf"
                       progress="ctrl.savingProgress"
                       is-submit="true">
        </botoes-update>
    </form>
</div>
