body{
	overflow-x: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.app-header{
	background: #f74902;
	padding: 15px;
	z-index: 99;
}

.app-logo{
	text-align: center;
}

.app-logo-image{
	width: 95px;
}

.app-field{
	position: relative;
	margin: 0;
}

.app-field-search:focus{
	outline: none;
}

.app-field,
.app-field-search{
	width: 100%;
}

.app-field-search{
	border-radius: 3px;
    border: 0;
    height: 25px;
    padding: 0 40px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}

.app-field-search-button{
	border: 0;
    display: inline-block;
    background: transparent;
    width: 16px;
    padding: 0;
    position: absolute;
    right: 6px;
    top: 4px;
}

.app-field-search-button img{
	width: 17px;
	vertical-align: middle;
	display: inherit;
	margin: 0 auto;
}

.detailActive{
	height: 0;
	overflow: hidden;
}

.content{
	min-height: calc(100vh - 55px);
	position: relative;
}

.content-filter{
	background: #F1F1F1;
	padding: 0 15px;
	z-index: 9;
    position: relative;
}

.filter-result{
	font-size: 13px;
	color: #999;
	margin: 6px 0;
	padding: 0;
}

.filter-order{
	float: right;
	position: relative;
	text-align: right;

}

.filter-order-action{
	background: transparent;
	border: 0;
	width: 30px;
	height: 30px;
	padding: 0;
}

.filter-order-action img{
	width: 30px;
}

.filter-order-action:hover{
	opacity: 0.8;
}

.filter-order-actions{
	position: absolute;
	right: 15px;
	background: #666666;
	min-width: 160px;
	display: none;
}

.filter-order-btn.active{
	color: #FFF;
}

.filter-order-actions.active{
	display: block;
}

.filter-order-actions li:hover{
	opacity: 0.8;
}

.filter-order-actions button{
	background: transparent;
	text-align: right;
	border: 0;
	width: 100%;
	color: #CCC;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 15px;
}

.list-artist{}

.list-artist li:first-child{
	padding-top: 20px;
}

.list-artist li{
	padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #F1F1F1;
}

.list-artist li:hover{
	cursor: pointer;
	opacity: 0.8;
}

.list-artist .artist-image{
	width: 40px;
    height: 40px;
    background: #CCC;
    border-radius: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.list-artist .artist-image img{
	width: 100%;
}

.list-artist .artist-info{
	display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.list-artist .artist-name{
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
	color: #444444;
}

.list-artist .artist-plays{
	text-transform: uppercase;
    font-size: 11px;
    margin: 0;
    color: #AEAEAE;
}

.artist-detail{
	background: #FFF;
	width: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	z-index: 99;
	transition: left 0.3s linear;
}

.artist-detail.active{
	left: 0;
	position: absolute;
}

.artist-detail-back{
	background: rgba(239, 76, 33, 0.9);
	padding: 15px 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.artist-detail-back .back-list{
	background: transparent;
	border: 0;
	float: left;
}

.artist-detail-info,
.artist-detail-info img{
	width: 100%;
}

.artist-detail-info{
	height: 400px;
	overflow: hidden;
	position: relative;
}
.artist-detail-info:after{
	content: "";
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	width: 100%;
	height: 100px;
	display: block;
	position: absolute;
	bottom: 0;
}

.artist-detail-info figcaption{
	position: absolute;
	bottom: 50px;
	display: block;
	width: 100%;
	text-align: center;
	z-index: 9;
}

.detail-info-name{
	font-size: 25px;
	color: #FFF;
}

.artist-detail-image{
	width: 80px;
	height: 80px;
	border-radius: 80px;
	overflow: hidden;
	margin: -40px auto 0 auto;
	z-index: 99;
	position: relative;
}

.artist-detail-image img{
	width: 100%;
}

.artist-detail-plays{
	margin-top: -30px;
}

.artist-detail-plays li{
	display: inline-block;
    width: 40%;
    color: #9D9D9D;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.artist-detail-plays li:first-child{
	text-align: left;
	float: left;
}

.artist-detail-plays li:last-child{
	text-align: right;
	float: right;
}

.artist-detail-biography{
	display: block;
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 0 20px;
    font-size: 13px;
    position: relative;
}

.biography-more{
	width: 100%;
	display: block;
	position: absolute;
	background: #FFF;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
}

.biography-more:before{
	content: "";
	display: block;
	width: 90%;
	height: 1px;
	background: #ECECEC;
	margin: auto;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
}

.biography-more:after{
	content: "";
	position: absolute;
	width: 100%;
	display: block;
	height: 40px;
    bottom: 30px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.86) 86%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.86) 86%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.86) 86%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.biography-text{
	height: 90px;
	overflow: hidden;
    padding-bottom: 30px;
}

.biography-text.active{
	height: auto;
}

.biography-button{
	background: #FFF;
    display: block;
    position: relative;
    border: 0;
    z-index: 99;
    margin: 0 auto;
    padding: 2px 10px;
}

.biography-title{
	text-transform: uppercase;
	color: #383838;
	text-align: center;
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -35px;
	font-weight: bold;
}

.artist-detail-albuns li{
	padding: 0;
}
.albuns-item{}
.albuns-image{
	overflow: hidden;
	height: 160px;
	position: relative;
}

.albuns-image:after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.81) 81%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.81) 81%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.81) 81%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.albuns-image img{
	width: 100%;
}

.albuns-image figcaption{
	color: #FFF;
	position: absolute;
	bottom: 0;
	padding: 7px 10px;
	font-size: 12px;
	z-index: 99;
	display: block;
}

.not-found{
	position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 150px;
}

.not-found.active{
	display: block;
}

.not-found .not-title{
	display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.not-found img{
	width: 80px;
}

.loader{
	text-align: center;
}

.loader-text{
	font-size: 13px;
    display: block;
    padding: 10px 0;
}