.pursuitsArticleNav {
  position: relative;
  display: none;
  &.active {
    display: block;
  }
  ul {

    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }

    text-align: center;
    list-style: none;

    /* pre & next*/
    li {
      display: inline;
    }

    a {
      position: relative;
      display: inline-block;
      padding: 20px 75px;
      min-width: 300px;

      @media (max-width: 80rem) {
        padding: 20px 30px;
      }

      i {
        display: inline-block;
        margin-right: 5px;
      }

      span {
        position: relative;
        top: -4px;
      }

      .img-container {
        overflow: hidden;
        height: 0;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;

        transition: height .35s ease-in-out, top .35s ease-in-out, opacity .75s ease-in-out;

        span {
          font-family: "DINMediumCondensed", Arial, sans-serif;
          letter-spacing: 1px;
          font-size: 24px;
          text-align: center;
          color: #fff;

          position: absolute;
          top: 50%; left: 0;
          margin-top: -10px;
          width: 100%;
          opacity: 0;

          transition: opacity .35s ease-in-out;
        }

        img {
          width: 100%;
          height: 0;
          opacity: 0;

          transition: all .35s ease-in-out;
        }
      }

      &:hover {
        .img-container {
          height: 150px;
          top: -150px;
          opacity: 1;

          span {
            opacity: 1;
          }

          img {
            height: 150px;
            opacity: 1;
          }
        }
      }
    }
  }

  .pursuitsArticleNav-prev {
    a {
      float: left;
      text-align: left;
    }
  }

  .pursuitsArticleNav-next {
    a {
      float: right;
      text-align: right;
    }
  }
}