//Add classes common in both Pursuits Index and Article videos
.pursuitsIndexVideo, .pursuitsInteractiveHeroVideo {
  .loading {
    width: 80%;
    position: absolute;
    top: 0;
    margin-left: 10%;
    margin-top: 30%;
    z-index: 1;
    &.inactive {
      display: none;
    }
    //Class added via JS is showing load element for micro seconds
    //Added media query to not to show the load element for those seconds
    @media (max-width: 1023px) {
      display: none;
    }
  }
  .brightcove-container {
    position: relative;
    padding-bottom: 56%;
    visibility: hidden;
    &.active {
      visibility: visible;
    }
    //Class added via JS is showing white space for micro seconds
    //Added media query to not to show the white space for those seconds
    @media (max-width: 1023px) {
      display: none;
    }
  }
}