.pursuitsInteractiveHeroVideo {
  position: relative;
  &.inactive {
    display: none;
  }
  .pursuitsInteractiveHeroVideoWrapper {
    position: relative;
  }
  // TODO - Demo Only. Users should do it in AEM.
  // .vjs-dock-text, .vjs-dock-shelf { display: none !important; }

  // BG
  #pitStopModalBg {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  // pitStop story/content
  .pitStopModal {
    display: none;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // image is not available
    &.emptyImg {
      .modalContent {
        left: 50%;
        text-align: center;
        margin-left: -20%;
      }
    }

    .positionWrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .modalTitle {
      text-align: center;
      padding: 3% 0;

      h2 {
        text-transform: uppercase;
        font-family: "DINMediumCondensed", Arial, sans-serif;
        font-size: 48px;
        letter-spacing: 0.1em;
      }

      span {
        font-family: "DINLightCondensed", Helvetica, Arial, sans-serif;
        letter-spacing: 2px;
        font-size: 22px;
        text-transform: uppercase;
      }
    }

    .modalMedia {
      float: left;
      width: 55%;

      img {
        display: block;
      }
    }

    .modalContent {
      width: 40%;
      padding: 0 3%;
      position: absolute;
      top: 30%;
      left: 55%;
      margin-top: 35px;

      h2 {
        text-transform: uppercase;
        font-family: $light;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 26px;
      }

      span {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
      }

      .modalContentDesc {
        p:nth-child(2) {
          max-height: 15vw;
          overflow-y: auto;
          font-size: 1.2vw;
          line-height: 1.75vw;
        }
      }
    }

    .pitStopModal-close {
      position: absolute;
      top: 5.5%; right: 5%;
      padding: 0;

      i {
        width: 30px;
        height: 30px;
      }
    }
  }



  // button on top of video, users click to open pitStop story/content
  .pitStopButton {
    display: none;
    position: absolute;
    z-index: 2;

    &.topLeft { top: 10%; left: 15%; }
    &.topRight { top: 10%; right: 15%; }
    &.bottomLeft, &.bottomleft { top: 65%; left: 15%; }
    &.bottomRight { top: 65%; right: 15%; }

    i {
      width: 30px;
      height: 30px;
      display: block;
    }

    span {
      display: block;
      font-family: $light;
      font-size: 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      margin-top: 10px;
    }
  }
    // TODO: remove below @keyframes
    @keyframes fadein { from { opacity: 0; } to { opacity: 1; } }



  // <video> #overlayPlayer
  #overlayPlayer {
    .vjs-control-bar {
      background-color: rgba(177,37,37,0);
      color: #fff;
      bottom: 3%;
      padding: 0px 65px;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;

      @media (max-width: 80rem) {
        padding: 0px 20px;
      }
    }

    .vjs-control:before {
      font-size: 24px;
    }

    .vjs-current-time-display, .vjs-duration-display {
      font-size: 20px;
      margin-top: 5px;
      @media (max-width: 80rem) {
        margin-top: 0px;
      }
    }

    .vjs-time-divider {
      font-size: 20px;
      line-height: 2em;
    }

    .vjs-progress-control {
      padding: 0 70px;
      height: .65em;
      top: -1.5em;
      opacity: 1;

      @media (max-width: 80rem) {
        padding: 0px 32px;
      }
    }

    .vjs-load-progress {
      background: rgba(115, 133, 159, 1);
    }

    .vjs-play-progress {
      background-color: #19b369;
    }

    .vjs-progress-holder span {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background: rgba(115, 133, 159, 1);
      position: absolute;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      top: -6.5px;

      &.active {
        background: #19b369;
        transition: background 0.3s linear;
      }
    }
  }



  // overlay library
  .video-js {
    .vjs-overlay {
      color: #fff;
      position: absolute;
      text-align: left;
      animation: fadein 1s;

      i {
        margin-bottom: 15px;
        width: 30px;
        height: 30px;
      }

      span {
        font-size: 20px;
        color: #fff;
      }
    }

    .vjs-overlay-background {
      padding: 10px;
      width: 33%
    }
  }

  .pursuits-transcript-section {
    display: none;
    &.active {
      display: block;
    }
    .transcript-heading {
       padding-right: 70px;

       h2 {
          font-size: 17px;
          font-family: $medium;
       }
    }
  }

}
