<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="$ctrl.links"></navegacao>

<form name="formAnaliseCadastral"
    class="cadastro-content"
    angular-validator-submit="$ctrl.salvar($ctrl.analiseCadastral)"
    novalidate angular-validator>
    <div class="step-header">
        <h1>Análise Cadastral</h1>
        <span class="cadastro-resumo" ng-if="viewSummary">| <a href="#/cadastro/pessoa-fisica/resumo" class="cadastro-edit">Resumo</a></span>
        <span class="session-cpf" ng-if="sessioncpf">{{sessioncpf}}</span>
    </div>

    <div class="step-content">
        <fieldset>
            <nova-sessao titulo="Informações Complementares">
                <informacoes-complementares informacoes-complementares="$ctrl.analiseCadastral.informacoesComplementares"></informacoes-complementares>
            </nova-sessao>

            <sessao-restricao-acatada
                restricoes-acatadas="$ctrl.analiseCadastral.restricoesAcatadas">
            </sessao-restricao-acatada>

            <nova-sessao titulo="Matrícula Vinculada">
                <matricula-vinculada vinculo="$ctrl.analiseCadastral.matriculaVinculada"></matricula-vinculada>
            </nova-sessao>

            <nova-sessao titulo="Pessoa Reportável FATCA">
                <pessoa-responsavel pessoa-responsavel="$ctrl.analiseCadastral.pessoaResponsavelFATCA"></pessoa-responsavel>
            </nova-sessao>

        </fieldset>
    </div>

    <mensagem-erro mensagens="$ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="$ctrl.sucessos"></mensagem-sucesso>

    <botoes-cadastro
        model="$ctrl.analiseCadastral"
        on-salvar-rascunho="$ctrl.salvar(model)"
        links="$ctrl.links">
    </botoes-cadastro>

</form>
