<fieldset>
    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12 text-center">
            <strong>Resgate Automático</strong>
            <checkbox
                ng-model="$ctrl.aplicacaoFinanceira.resgateAutomatico"
                class="field-checkbox"
            ></checkbox>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12 text-center">
            <strong>Considerar período de Carência do Cheque Especial</strong>
            <checkbox
                ng-model="$ctrl.aplicacaoFinanceira.considerarCarenciaChequeEspecial"
                class="field-checkbox"
            ></checkbox>
        </label>
    </div>
</fieldset>