<fieldset ng-disabled="$ctrl.readonly">
  <div class="row">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <strong>* Tipo de Pessoa</strong>
          <select ng-model="$ctrl.informacoesComplementares.codigoTipoPessoa"
              name="codigoTipoPessoa"
              validate-on="blur"
              required-message="'Campo obrigatório'"
              required
          >
              <option value="{{tipoPessoa.id}}" ng-repeat="tipoPessoa in $ctrl.codigoTipoPessoa">{{tipoPessoa.nome}}</option>
          </select>
      </label>

      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <strong>* Data Análise</strong>
          <input class="form-control formData"
                 ui-mask="99/99/9999"
                 model-view-value="true"
                 ng-model="$ctrl.informacoesComplementares.dataAnalise"
                 required-message="'Campo obrigatório'"
                 required
                 invalid-message="'Data inválida'"
                 validate-on="blur"
                 name="{{$ctrl.nomeComponente + 'dataAnalise'}}"
                 moment-picker="$ctrl.informacoesComplementares.dataAnalise"
                 format="DD/MM/YYYY"
                 start-view="month"
                 locale="pt-br"
                 >
      </label>

      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <strong>* Posto</strong>
          <select ng-model="$ctrl.informacoesComplementares.codigoPosto"
              name="codigoPosto"
              validate-on="dirty"
              required-message = "'Campo obrigatório'"
              required
          >
              <option value="{{'posto' + postoCoop.cdPosto}}" ng-repeat="postoCoop in $ctrl.postosCoopSAU | orderBy:'cdPosto'">{{postoCoop.cdPosto + ' - ' +postoCoop.nmPosto}}</option>
          </select>
      </label>

      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <strong>Avaliação Gerente</strong>
          <select class="form-control" id="avaliacaoGerente"
              ng-model="$ctrl.informacoesComplementares.avaliacaoGerente">
              <option value="{{avaliacao.valor}}" ng-repeat="avaliacao in $ctrl.avaliacoes">{{avaliacao.descricao}}</option>
          </select>
      </label>
  </div>
  <div class="row">
      <label class="col-lg-12 col-md-12 col-sm-12">
          <strong>Observação</strong>
          <textarea class="form-control text-uppercase"
                    ng-model="$ctrl.informacoesComplementares.observacao"
                    rows="3"
                    maxlength="240"></textarea>
      </label>

      <label class="col-lg-12 col-md-12 col-sm-12">
          <strong>Observação Contrato</strong>
          <textarea class="form-control text-uppercase"
                    ng-model="$ctrl.informacoesComplementares.observacaoContrato"
                    rows="3"
                    maxlength="240"></textarea>
      </label>
  </div>
</fieldset>
