
<div class="row">
    <label class="col-md-3 col-sm-3 col-xs-12 text-center">
        <strong>Utiliza Pacote de Tarifas</strong>
        <checkbox
            ng-model="$ctrl.tarifas.utilizaPacoteTarifas"
            class="field-checkbox"
            ng-change="$ctrl.utilizaPacoteTarifa($ctrl.tarifas.utilizaPacoteTarifas)"
        ></checkbox>
    </label>

    <label class="col-md-2 col-sm-2 col-xs-12">
        <strong>Isento</strong>
        <checkbox
            ng-model="$ctrl.tarifas.isento"
            class="field-checkbox"
        ></checkbox>
    </label>
</div>
<fieldset ng-disabled="!$ctrl.tarifas.utilizaPacoteTarifas">
    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Pacote de Serviços</strong>
            <select ng-model="$ctrl.tarifas.codigoPacote"
                    name="pacoteServicos"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="$ctrl.tipoContaConjunta">
                <option value=""></option>
                <option value="{{pacoteServicos.valor}}" ng-repeat="pacoteServicos in $ctrl.pacotesServicos">{{pacoteServicos.descricao}}</option>
            </select>
        </label>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <strong>Dia de Cobrança</strong>
            <input type="text" ng-model="$ctrl.tarifas.diaCobranca"
                id="diaCobranca"
                name="diaCobranca"
                ui-number-mask="0" 
                ui-hide-group-sep
                max="30"
                maxlength="2"
                validate-on="dirty"
                invalid-message="'Valor máximo é 30'"
                validate-on="blur"
                required-message = "'Campo obrigatório'"
                ng-required="!!$ctrl.tarifas.codigoPacote"
            >
        </div>
    </div>
</fieldset>