<div class="col-md-12 sectionDiv sectionClosed" ng-class="{ marginBottom0 : $ctrl.isLast }">
	<button class="sectionWrapperHeader" type="button" ng-click="$ctrl.mostrar();">
		<span class="titleIn">
			{{ $ctrl.titulo }}
		</span>
		<span class="fa pull-right angle" ng-class="$ctrl.mostraSessao ? 'fa-angle-up' : 'fa-angle-down'"></span>
	</button>
	<div class="reviewInfo step-content" ng-show="$ctrl.mostraSessao">
		<div class="contentWrapper">
			<div class="row">
				<div class="section-content2" ng-transclude></div>
			</div>
		</div>
	</div>
</div>
