<form name="restricaoAcatadaForm"
	angular-validator-submit="$ctrl.salvar($ctrl.restricaoAcatada); restricaoAcatadaForm.reset();" novalidate angular-validator>

	<div class="row">
		<div class="col-md-4">
	        <strong>* Data</strong>
	        <input class="form-control formData"
               ui-mask="99/99/9999"
               model-view-value="true"
               ng-model="$ctrl.restricaoAcatada.data"
               required-message="'Campo obrigatório'"
               ng-required="true"
               invalid-message="'Data inválida'"
               validate-on="blur"
               name="{{$ctrl.nomeComponente + 'Data'}}"
			   id="restricaoAcatadaData"
               moment-picker="$ctrl.restricaoAcatada.data"
               format="DD/MM/YYYY"
               start-view="month"
               locale="pt-br"
               >
	    </div>
	    <div class="col-md-4">
	        <strong>* Observação</strong>
	        <input type="text" ng-model="$ctrl.restricaoAcatada.observacao"
	        	name="{{$ctrl.nomeComponente + 'Observacao'}}"
	        	validate-on="dirty"
            	required-message = "'Campo obrigatório'"
	          	ng-required="true"
	          	uppercase
				maxlength="60">
	    </div>
	    <div class="col-md-4">
	        <strong>* Valor</strong>
	        <input type="text" ng-model="$ctrl.restricaoAcatada.valor"
	        	class="text-uppercase"
	        	ui-money-mask
				placeholder="R$"
	        	name="{{$ctrl.nomeComponente + 'Valor'}}"
				maxlength="21"
	        	validate-on="dirty"
            	required-message = "'Campo obrigatório'"
	          	ng-required="true">
	    </div>
	</div>

	<div class="row">
		<div class="col-md-4">
	        <strong>Responsável</strong>
	        <input type="text"
				ng-model="$ctrl.restricaoAcatada.responsavel"
	        	maxlength="25" uppercase>
	    </div>
	    <label class="col-md-4">
	        <strong>* Tipo</strong>
	        <select ng-model="$ctrl.restricaoAcatada.tipo"
				name="{{$ctrl.nomeComponente + 'Tipo'}}"
	            validate-on="dirty"
	            required-message="'Campo obrigatório'"
	            ng-required="true">
	        	<option value="{{restricao.valor}}" ng-repeat="restricao in $ctrl.tipoRestricao">{{restricao.descricao}}</option>
	        </select>
	    </label>
	</div>

	<div class="btns-add">
		<button type="button"
            id="cancelarReferencia"
            ng-click="$ctrl.cancelar(); restricaoAcatadaForm.reset()"
            class="info btn-danger">cancelar</button>

	    <button type="submit" id="adicionaRestricaoAcatada"
	        class="info info-add">salvar</button>
	</div>
</form>
