<div class="btns-add">
    <button type="button" ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="novaRestricoesAcatadas"
        class="info info-add">
        novo
    </button>
</div>
<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Data</th>
            <th>Observação</th>
            <th>Valor</th>
            <th>Responsável</th>
            <th>Tipo</th>
            <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : restricao.modoEdicao }"
            ng-repeat="(index, restricao) in $ctrl.restricoesAcatadas">
            <td ng-bind="restricao.data.format('DD/MM/YYYY')"></td>
            <td ng-bind="restricao.observacao" class="breakContent"></td>
            <td ng-bind="restricao.valor | finance:true"></td>
            <td ng-bind="restricao.responsavel" class="breakContent"></td>
            <td ng-bind="restricao.tipo"></td>
            <td class="centerText" ng-if="!$ctrl.readonly">
                <button class="glyphicon glyphicon-edit is-clickable btn btn-warning"
                	title="Editar"
                	ng-click="$ctrl.editar(restricao)"
                	ng-disabled="restricao.modoEdicao"></button>
                <button class="glyphicon glyphicon-trash is-clickable btn btn-danger"
                	title="Remover"
                	ng-click="$ctrl.remover(restricao)"
                	ng-disabled="restricao.modoEdicao"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.restricoesAcatadas.length==0">
    Nenhuma restrição foi adicionada até o momento
</div>
