<nova-sessao titulo="Restrições Acatadas">
    <dados-restricao-acatada
        restricao-acatada="$ctrl.restricaoAcatada"
        nome-componente="restricoesAcatadas"
        on-cancelar="$ctrl.cancelar()"
        on-salvar="$ctrl.salvar(restricaoAcatada)"
        ng-if="$ctrl.mostrarRestricaoAcatadaForm && !$ctrl.readonly"
    >
    </dados-restricao-acatada>

    <lista-restricao-acatada
        restricoes-acatadas="$ctrl.restricoesAcatadas"
        on-novo="$ctrl.novo()"
        on-editar="$ctrl.editar(restricaoAcatada)"
        on-remover="$ctrl.remover(restricaoAcatada)"
        esconder-botao-novo="$ctrl.mostrarRestricaoAcatadaForm"
        readonly="$ctrl.readonly"
    >
    </lista-restricao-acatada>
</nova-sessao>
