 <fieldset ng-disabled="$ctrl.fontePagadora.id">
    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12 newRadio">
            <span>Fonte com CNPJ</span>
            <input type="radio" value="cnpj"
                ng-change="$ctrl.alterarTipo('cnpj')"
                ng-model="$ctrl.fontePagadora.tipo">
            <div class="check"></div>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12 newRadio">
            <span>Fonte com CPF/CEI</span>
            <input type="radio" value="cpf"
                ng-change="$ctrl.alterarTipo('cpf')"
                ng-model="$ctrl.fontePagadora.tipo">
            <div class="check"></div>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12 newRadio">
            <span>Fonte sem CNPJ</span>
            <input type="radio" value="semCnpj"
                ng-change="$ctrl.alterarTipo('semCnpj')"
                ng-model="$ctrl.fontePagadora.tipo">
            <div class="check"></div>
        </label>
    </div>
    <br>
    <div class="row">
        <label ng-show="$ctrl.fontePagadora.tipo == 'cnpj'" for="cnpj" class="col-md-6 col-sm-6 col-xs-12">
            <strong>* CNPJ</strong>
            <input ng-if="!$ctrl.fontePagadora.id && $ctrl.fontePagadora.tipo == 'cnpj'" type="text" ng-model="$ctrl.fontePagadora.cnpj"
                name="cnpjNovo"
                id="cnpjNovo"
                ui-br-cnpj-mask
                required-message="'Campo obrigatório'"
                ng-required="$ctrl.requeridoCNPJ"
                validate-on="blur"
                invalid-message="'CNPJ inválido'"
            >

            <input ng-if="$ctrl.fontePagadora.id" type="text" ng-model="$ctrl.fontePagadora.cnpj"
                name="cnpj"
                id="cnpj"
                ui-mask="99.999.999/9999-99"
            >
        </label>

        <label ng-show="$ctrl.fontePagadora.tipo == 'cpf'" for="cpf" class="col-md-6 col-sm-6 col-xs-12">
            <strong>* CPF</strong>
            <input ng-if="!$ctrl.fontePagadora.id" type="text" ng-model="$ctrl.fontePagadora.cpf"
                name="cpf"
                id="cpf"
                class="text-uppercase"
                ui-br-cpf-mask
                required-message="'Campo obrigatório'"
                ng-required="$ctrl.requeridoCPF"
                validate-on="blur"
                invalid-message="'CPF inválido'"
            >

            <input ng-if="$ctrl.fontePagadora.id" type="text" ng-model="$ctrl.fontePagadora.cpf"
                name="cpfNova"
                id="cpfNova"
                ui-mask="999.999.999-99"
            >
        </label>

        <label for="nomeEmpresa" ng-class="$ctrl.configClassNomeEmpresa($ctrl.fontePagadora.tipo == 'semCnpj')">
            <strong>* Nome</strong>
            <input type="text" ng-model="$ctrl.fontePagadora.nome"
                name="nomeEmpresa"
                id="nomeEmpresa"
                uppercase
                required-message="'Campo obrigatório'"
                ng-required="true"
                class="text-uppercase"
                maxlength="40"
                validate-on="dirty"
            >
        </label>
    </div>

    <div class="row">
        <label for="folha" class="col-md-4 col-sm-4 col-xs-12">
            <strong>Folha/Layout</strong>
            <select
                ng-model="$ctrl.fontePagadora.folhaLayout"
                name="folhaLayout"
                id="folhaLayout"
                ng-change="$ctrl.alterarFolha($ctrl.fontePagadora.folhaLayout)"
                >
                <option value=""></option>
                <option value="{{folha.valor}}" ng-repeat="folha in $ctrl.folhas | orderBy:'descricao'">{{folha.descricao}}</option>
            </select>
        </label>
        <div>
            <label class="col-md-4 col-sm-4 col-xs-12 text-center">
                <strong>Empresa com crédito consignado</strong>
                <checkbox
                    ng-model="$ctrl.fontePagadora.creditoConsignado"
                    ng-disabled="!$ctrl.mostrarEmpresaETipoControle"
                    class="field-checkbox"
                ></checkbox>
            </label>

            <label for="tipoControle" class="col-md-4 col-sm-4 col-xs-12">
                <strong>* Tipo Controle</strong>
                <select
                    ng-model="$ctrl.fontePagadora.tipoControle"
                    name="tipoControle"
                    id="tipoControle"
                    required-message="'Campo obrigatório'"
                    ng-disabled="!$ctrl.mostrarEmpresaETipoControle"
                    ng-required="$ctrl.mostrarEmpresaETipoControle"
                >
                    <option value="{{tipoControle.valor}}" ng-repeat="tipoControle in $ctrl.tiposControle | orderBy:'descricao'">{{tipoControle.descricao}}</option>
                </select>
            </label>
        </div>

        <label for="ramo" class="col-md-4 col-sm-4 col-xs-12">
            <strong>Ramo</strong>
            <select
                ng-model="$ctrl.fontePagadora.ramo"
                name="ramo"
                id="ramo"
            >
                <option value=""></option>
                <option value="{{ramo.valor}}" ng-repeat="ramo in $ctrl.ramos | orderBy:'descricao'">{{ramo.descricao}}</option>
            </select>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12 text-center">
            <strong>Entidade Cooperativa</strong>
            <checkbox
                ng-model="$ctrl.fontePagadora.entidadeCooperativa"
                class="field-checkbox"
            ></checkbox>
        </label>
    </div>
</fieldset>
