.buttons-control{
    margin-top: 20px;
}

.uni-btn {
    font-family: $ff-primary;
    @include border-radius(5px);
    text-align: center;
    font-size: 13px;
    min-width: 130px;
    height: 35px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px;
    &[disabled] {
        opacity: 0.2;
        cursor: default;
        &:hover {
            opacity: 0.2;
        }
    }

    &:hover {
        opacity: 0.8;
        text-decoration: none;
    }
    .fa-angle-right {
        float: right;
        margin-right: 5px;
    }
    .fa-angle-left {
        float: left;
        margin-left: 5px;
        line-height: 33px;
    }
    &.primary {
        background-color: $cc-primary;
        color: #FFF;
    }
    &.secondary {
        background-color: #a7a9ac;
        color: #FFF;
    }
}
