.loading{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(#FFF, 0.7);
    z-index: 999;
    transition: all 0.5s ease-in-out;

    &-text{
        font-size: 15px;
        color: #000;
        top: 75px;
        position: relative;
        left: -5px;
        font-weight: 500;
    }

    .sk-circle {
        position: absolute;
        top:0;
        bottom: 0;
        right:0;
        left:0;
        margin: auto;
        width: 60px;
        height: 60px;

        .sk-child{
            &:before{
                background-color: $cc-unicred;
            }
        }
    }
}