.modal {
    width: 100%;
    height: 100%;
}

.modal-backdrop.in {
    opacity: 0.7;
}

.modal.fade .modal-dialog {
    margin: 0 auto;
    transform: translate(0, -50%);
    top: 50%;
}

.modal-close {
    position: absolute;
    top: -45px;
    right: -40px;
    background: none;
    border: 0;
    &:hover {
        opacity: 0.7;
    }
}

.modal-header-matricula{
    padding: 0px !important;
    .step-header{
      padding: 10px 10px 30px 30px;
    }
}
