.select2-container .select2-choice {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    background-image: none;
    border-color: #cccccc;
    text-transform: lowercase;
}

.select2-container {
    width: 100%;
    &.ng-not-empty {
        .select2-choice > .select2-chosen {
            color: #000;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}

.select2-container .select2-choice > .select2-chosen {
    font-size: 16px;
    height: 100%;
    line-height: 34px;
    color: #999;
}

.select2-container .select2-choice .select2-arrow {
    background: none;
    background-image: none;
    border: 0;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: -2px 4px;
}

.select2-drop {
    margin-top: -3px;
    &-active {
        border-color: #00d7be;
        background: #ededed;
    }
}

.select2-container-active {
    .select2-choice {
        border-color: #00d7be !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 215, 190, 0.6) !important;
        outline: none;
    }
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: none;
}

.ui-select-choices-row {
    span {
        font-weight: 400
    }
}