/* PATHS */

$path-font: "../fonts/";
$path-image: "../images/";
$icon-font-path: "../fonts/glyphicons/";
$fa-font-path: "../fonts/font-awesome/";

/* BOOTSTRAP GRID */

$grid-columns: 12;
$grid-gutter-width: 25px;
$container: 1060px;

/* BOOTSTRAP GRID - BREAKPOINTS */

$breakpoints: (max: (xs: 768px, sx: 1024px, ds: 1300px), min: (sm: 768px, md: 992px, lg: 1200px));
