<fieldset>
    <div class="col-md-12">
        <table class="table table-striped tableListas tablePoderes">
            <thead>
                <tr>
                    <th class="">Poderes</th>
                    <th class="centerText">
                        <div class="checkAll">
                            <input type="radio"
                                   ng-model="$ctrl.marcarTodos"
                                   name="marcarTodos"
                                   value="INDIVIDUAL"
                                   ng-click="$ctrl.selectAll($ctrl.marcarTodos)"
                                   class="tableCheckbox">
                            <span>Marcar Todos</span>
                        </div>
                        Individual
                    </th>
                    <th class="centerText">
                        <div class="checkAll">
                            <input type="radio"
                                   ng-model="$ctrl.marcarTodos"
                                   name="marcarTodos"
                                   value="CONJUNTA"
                                   ng-click="$ctrl.selectAll($ctrl.marcarTodos)"
                                   class="tableCheckbox">
                            <span>Marcar Todos</span>
                        </div>
                        Conjunta
                    </th>
                    <th class="centerText">
                        <div class="checkAll">
                            <input type="radio"
                                   ng-model="$ctrl.marcarTodos"
                                   name="marcarTodos"
                                   value="PREJUDICADO"
                                   ng-click="$ctrl.selectAll($ctrl.marcarTodos)"
                                   class="tableCheckbox">
                            <span>Marcar Todos</span>
                        </div>
                        Prejudicado
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="innerTitle">
                    <td colspan="4">
                        <span>Cheques</span>
                        <div class="tooltip-v">
                            <img class="info-sign" src="public/styles/images/icons/info-white.png">
                            <span class="tooltiptext tooltip-right">São obrigatórios todos os quatro Poderes relacionados à Cheques, desde que um deles seja preenchido.</span>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="(indexPoder, poder) in $ctrl.listaPoderes.cheques">
                    <td class="verticalCenter">
                        {{ $ctrl.isRequired ? "*" : "" }} {{poder.descricao}}
                    </td>
                    <td class="centerText" ng-repeat="valores in $ctrl.valoresPoderes">

                        <div class="tooltip-v">
                            <input type="radio"
                                   ng-model="$ctrl.poderes.cheques[poder.contrato]"
                                   name="{{'cheques-' + poder.contrato}}"
                                   value="{{ valores }}"
                                   class="tableCheckbox"
                                   required-message="'Campo obrigatório'"
                                   ng-change="$ctrl.validar()"
                                   ng-click="$ctrl.deselect($event, 'cheques', poder.contrato, indexPoder)"
                                   ng-required="$ctrl.isRequired">
                           <span class="tooltiptext tooltip-top">{{ valores }}</span>
                       </div>
                    </td>
                </tr>

                <tr class="separator"><td></td></tr>

                <tr class="innerTitle">
                    <td colspan="4">
                        <span>Autorizações</span>
                    </td>
                </tr>
                <tr ng-repeat="(indexPoder, poder) in $ctrl.listaPoderes.autorizacoes">
                    <td class="verticalCenter">
                        {{poder.descricao}}
                    </td>
                    <td class="centerText" ng-repeat="valores in $ctrl.valoresPoderes">
                        <div class="tooltip-v">
                            <input type="radio"
                                   ng-model="$ctrl.poderes.autorizacoes[poder.contrato]"
                                   name="{{'autorizacoes-' + poder.contrato}}"
                                   value="{{ valores }}"
                                   ng-click="$ctrl.deselect($event, 'autorizacoes', poder.contrato, indexPoder)"
                                   class="tableCheckbox">
                           <span class="tooltiptext tooltip-top">{{ valores }}</span>
                       </div>
                    </td>
                </tr>

                <tr class="separator"><td></td></tr>

                <tr class="innerTitle">
                    <td colspan="4">
                        <span>Outras Autorizações</span>
                    </td>
                </tr>
                <tr ng-repeat="(indexPoder, poder) in $ctrl.listaPoderes.outrasAutorizacoes">
                    <td class="verticalCenter">
                        {{poder.descricao}}
                    </td>
                    <td class="centerText" ng-repeat="valores in $ctrl.valoresPoderes">
                        <div class="tooltip-v">
                            <input type="radio"
                                   ng-model="$ctrl.poderes.outrasAutorizacoes[poder.contrato]"
                                   name="{{'outrasAutorizacoes-' + poder.contrato}}"
                                   value="{{ valores }}"
                                   ng-click="$ctrl.deselect($event, 'outrasAutorizacoes', poder.contrato, indexPoder)"
                                   class="tableCheckbox">
                           <span class="tooltiptext tooltip-top">{{ valores }}</span>
                       </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
          <label for="outrasAutorizacoesObservacoes" class="col-md-12 col-sm-12 col-xs-12">
            <div class="titleInsideSection">
              Observações
            </div>
            <hr/>
            <textarea rows="5"
              class="form-control text-uppercase"
              maxlength="200"
              ng-model="$ctrl.poderes.observacao"
              name="outrasAutorizacoesObservacoes"
              id="outrasAutorizacoesObservacoes"></textarea>
          </label>
        </div>
    </div>
</fieldset>
