.accordion {
  width: 60%;
  position: relative;
  margin: 0 auto;

  .accordion-row {
    border-top: 2px solid $black;
    padding: rem-calc(16 0);
    position: relative;
    overflow: hidden;
    transition: all 250ms ease-in-out;

    .accordion-title {
      i {
        float: right;
        transition: all 0.5s ease-in-out;
      }

      h2 {
        color: $enterpriseGreen;
        font-family: $medium;
        font-size: rem-calc(16);
        position: relative;
        overflow: hidden;
        transition: all 250ms ease-in-out;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .accordion-content {
      margin-bottom: 0;
      margin-top: rem-calc(32);
      position: relative;
      display: none;
    }

    &.active {
      i {
        transform: rotate(180deg);
      }
      .accordion-title h2 {
        color: $black;
      }
      .accordion-content {
        display: block;
      }
    }

    &:last-child {
      border-bottom: 2px solid $black;
    }
  }

  @media all and (max-width: $bp-med) {
    width: 100%;
    padding: rem-calc(0 5);
  }
}