.add-remove {
  color: $enterpriseGreen;
  font-family: $bold;
  font-size: rem-calc(14);
  padding-right: rem-calc(12);
  transition: all 250ms ease-in-out;

  .label {
    padding-top: rem-calc(2);
    text-align: right;
    @media all and (max-width: $bp-med-2) {
      display: none;
    }
  }

  &.remove {
    .label {
      color: $white;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

tr.selected .add-remove {
  color: $white;
}