.code-banner {
  display: inline-block;
  margin-left: 20px;
  color: black;

  .corporate-image {
    max-height: 70px;
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }

  .corporate-image.not-found {
    display: none;
  }

  .code-banner-details {
    display: inline-block;
    vertical-align: middle;
  }

  .code-type {
    display: inline-block;
    position: relative;
    font-family: $medium;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    vertical-align: bottom;
    margin-left: 10px;
    border: 1px solid black;
    padding: 1px 5px;

    .icon {
      display: inline-block;
      margin-bottom: -1px;
      margin-right: 5px;
      width: 12px;
      height: 12px;
    }

    &.promo {
      text-transform: none;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
    }

    &:before {
      left: -9px;
      top: 6px;
      border-right-color: black;
      border-width: 4px;
    }

    &:after {
      left: -8px;
      top: 6px;
      border-right-color: $enterpriseGreen;
      border-width: 4px;
    }

  }
  .corporate-account-name {
    font-size: 18px;
    line-height: 18px;
    vertical-align: bottom;
    text-transform: uppercase;
    font-family: $medium;
  }

  .close-circle {
    cursor: pointer;
    color: $enterpriseGreen;
    border-radius: 50%;
    background: $white;
    font-size: rem-calc(16);
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    position: relative;
    top: 3px;
    .close-text {
      font-family: $regular;
      position: relative;
      font-size: 14px;
      bottom: 5px;
      left: 4px;
    }
  }

  .banner-bottom-item {
    line-height: 16px;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
  }

  .banner-bottom-item-link {
    color: $white;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
  }

  .banner-bottom-item .icon {
    display: inline-block;
    width: 14px;
    vertical-align: top;
    margin-left: 7px;
  }

  .separator {
    margin: 0 15px;
    color: $white;
    font-size: 14px;
  }
}

@media all and (max-width: 885px) {
  .code-banner .corporate-image {
    display: none;
  }
}

@media(max-width: $bp-med) {
  .header-nav #codebanner-container.header-nav-item {
    display: block;
  }

  .header-nav #codebanner-container .code-banner {
    margin-top: 0;
  }

  .header-nav .code-banner,
  .header-nav .code-banner.header-nav-item {
    display: block;
    border-top: 1px solid #0d663f;
    padding: 20px;
    margin: 0;

    .banner-top {
      float: left;
    }

    .banner-bottom {
      clear: both;
    }

    .corporate-image {
      margin-bottom: 15px;
    }

    .corporate-account-name {
      display: block;
      margin-bottom: 6px;
    }

    .code-type {
      margin-left: 0;
      margin-bottom: 6px;
    }

    .code-type::before {
      left: 7px;
      top: -9px;
      border-bottom-color: black;
      border-right-color: transparent;
    }

    .code-type::after {
      left: 7px;
      top: -8px;
      border-bottom-color: $enterpriseGreen;
      border-right-color: transparent;
    }
  }
}
