.confirmed-page {
  .information-block {
    background-color: $lightestGray;
    border: 1px solid $lightGray;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    color: $darkGray;
    float: right;
    clear: right;
    width: 30%;

    .category-label {
      font-size: 14px;
      font-family: $bold;
      color: $black;
      text-transform: uppercase;
    }
  }
  .error-container {
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
  }
  hr {
    clear: both;
    border-bottom: 1px solid $lightestGray;
  }
  div.date {
    clear: both;
    margin: rem-calc(64 20 20 20);
    font-family: $medium;
  }
  .modal-container {
    &.active.mask .modal-content {
      overflow: hidden;
      .modal-body {
        overflow: hidden;
      }
    }
    button.confirm-exit {
      color: $black;
      border: 1px solid $black;
      background-color: $white;
      margin-top: 30px;
      float: right;
    }
  }
  div.wayfinding {
    background: $lightestGray;
    display: none;
    margin-top: -7px;
    padding: rem-calc(20);

    &.active {
      display: block;
    }

    h4 {
      color: $darkGray;
      font-size: rem-calc(20);
      font-family: $medium;
      text-transform: none;
      margin-bottom: rem-calc(20);
    }

    img {
      height: rem-calc(30);
    }

    .direction {
      vertical-align: top;
      margin-left: rem-calc(20);
      display: inline-block;
      width: 80%;
      margin-bottom: rem-calc(20);
    }

    @media(max-width: $bp-xl) {
      .direction {
        width: 85%;
        margin-left: 5%;
      }
      img {
        display: block;
        float: left;
        max-width: 30px;
        width: 10%;
        height: auto;
      }
    }
  }
  header.confirmed {
    background-color: $lightestGray;
    height: rem-calc(290);
    position: relative;
    h1 {
      float: left;
      margin: rem-calc(96 0 10 80);
      width: 80%;
      em {
        font-style: normal;
        color: $enterpriseGreen;
      }
      .icon {
        width: rem-calc(64);
        height: rem-calc(64);
        float: left;
        margin-right: rem-calc(10);
      }
    }
    h4 {
      font-family: $medium;
      text-transform: none;
      float: left;
      clear: left;
      margin: rem-calc(-30 0 0 154);
      font-size: rem-calc(16);
      color: $black;
      @media print {
        margin: 0;
      }
    }
    img.car-image {
      position: absolute;
      z-index: 2;
      right: 0;
      margin: rem-calc(-50 40 -32 0);
      width: rem-calc(520);
      @media print {
        margin: 0;
        margin-top: rem-calc(-40);
        width: 480px;
        right: 0;
      }
    }
    .modify-unavailable-container {
      float: left;
      margin-top: 10px;
      .modify-unavailable {
        font-family: $medium;
        padding-left: 25px;
        float: left;
      }
      .tooltip-v2 {
        float: left;
        padding-left: 5px;
        .tooltip {
          background-color: $enterpriseGreen;
          &:after {
            content: '';
            border-top: 8px solid $enterpriseGreen;
          }
        }
      }
    }
    @media all and (max-width: $bp-large-2) {
      img.car-image {
        margin-right: -100px;
      }
    }
    @media all and (max-width: $bp-large) {
      img.car-image {
        margin-right: -150px;
      }
    }
    @media all and (max-width: $bp-med) {
      img.car-image {
        margin-right: -150px;
        bottom: 0;
      }
    }

    .modify-confirmation,
    .cancel-confirmation {
      .cancelDetailsTable {
        max-width: 400px;
        font-family: $regular;
        margin: 30px 0;

        tbody tr {
          border-top: 1px solid $lightGray;
        }
        td + td {
          text-align: right;
        }
        tfoot td {
          font-family: $bold;
        }
      }
      .btn {
        padding: 0.7em 1.8em;
      }
      .price_container {
        margin: 20px 0;
        .price_line_item {
          max-width: 400px;
          margin: 5px auto;
          .label {
            float: left;
            font-family: $medium;
          }
          .amount {
            float: right;
            font-family: $medium;
          }
        }
      }
      .reserve-email-notify{
          margin: 40px 0px;
          background: $lightestGray;
          padding:20px;
          & .icon-ico-email-extras{
            display: inline-block;
            margin-right: 20px;
    }
  }
    }

    .header-info {
      float: left;
      padding-top: 5%;
      padding-left: 5%;
      .black-text {
        color: $black;
      }
      .green-text {
        color: $enterpriseGreen;
      }
      .sub-header {
        position: relative;
        @media(min-width: $bp-large){top: -20px;}
        margin: 0 0 25px 76px;
      }
      h4 {
        margin: 0;
        float: none;
        @media( min-width: $bp-large ){
          font-size: 28px;
          line-height: 28px;
        }
        .conf-string {
          font-family: $regular;
        }
        .conf-number {
          font-family: $bold;
        }
      }
      h1 {
        margin: 0;
        float: none;
        width: auto;
        span, em {
          vertical-align: inherit;
        }
      }
      .btn-grp {
        margin: 0 0 0 76px;
      }
    }

    @media all and (max-width: $bp-med-2) {
      .header-info {
        .sub-header {
          margin-left: 0;
        }
        .btn-grp {
          width: 50%;
          margin: 0;
          .btn {
            height: 45px;
            padding: 16px 15px;
            float: none;
            line-height: 15px;
            margin: 2px 0;
          }
        }
      }
    }

  }
  .confirmed.modify {
    .confirmed-modify-left {
      float: left;
    }
    .confirmed-modify-right {
      float: right;
      padding-top: rem-calc(100);
      padding-right: rem-calc(80);
    }
    .grn-txt {
      font-family: $medium;
      display: inline-block;
      color: $enterpriseGreen;
      margin: rem-calc(35 0 0 80);
      font-weight: bold;

      @media print {
        display: none;
      }

      .icon {
        display: inline-block;
        height: 10px;
        width: 10px;
      }
    }
    h1 {
      margin-top: rem-calc(56);
      width: auto;
      float: none;
      @media print {
        margin: 0;
      }
    }
    h4 {
      margin: rem-calc(0 0 20 80);
      font-family: $regular;
      font-weight: normal;
      float: none;
      @media print {
        margin: 0;
      }
    }
    .btn-grp {
      @media print {
        display: none;
      }
    }
    .phone-numer {
      margin: rem-calc(5);
      .icon {
        display: inline-block;
        vertical-align: middle;
      }
      .type {
        display: inline-block;
        font-family: $medium;
        font-weight: bold;
        margin: rem-calc(0 10 0 10);
      }
      a {
        color: $enterpriseGreen;
      }
    }
  }
  div.thank-you {
    float: left;
    width: 55%;
    margin: 0 3%;
    padding: 6% 0 0;
    @media(min-width: 801px) {
      margin: 0 0 0 5%;
      padding: 50px 0 0px 0;
    }
    @media(max-width: $bp-large) {
      button {
        margin-left: 0;
        padding-left: 0;
      }
    }
    @media print {
      width: 100%;
      padding: 0;
    }
    h2 {
      font-size: rem-calc(34);
      margin-top: 25px;
      @media(max-width: $bp-med) {
        margin-top: 10px;
        font-size: 27px;
      }
      @media print {
        width: 100%;
        margin-top: 40px;
        padding: 0;
      }
    }
    button{
      padding-left: 0;
      .icon{background-position-x: -5px;}
    }
    .reserve-email-notify{
      margin: 20px 0px;
      background: $lightestGray;
      padding:20px;
      & .icon-ico-email-extras, .icon-alert-caution{
        float:left;
        margin-right: 20px;
      }
    }
    h3{
      color: $black;
      font-weight: bold;
      padding-top: 20px;
    }
    .vehicle-desc{
      margin-bottom: 0;
    }
    .info-block {
      h2 {
        font-family: $medium;
        font-size: 26px;
        margin: 25px 0 15px 0;
      }
      p {
        margin-bottom: 5px;
      }
      a {
        color: $enterpriseGreen;
        &:hover {
          color: $darkGreen;
        }
      }
    }
  }
  div.delivery-collection-container {
    width: 30%;
    float: right;
    margin-top: 1.25rem;
    margin-right: 5em;
    .dc-tab-container {
      text-align: center;
      .delivery-tab, .collection-tab {
        border: 1px solid #c3c3c3;
        text-transform: uppercase;
        background-color: $lightestGray;
        font-family: $medium;
        width: 50%;
        display: inline-block;
        font-size: rem-calc(15);
        height: 3rem;
        padding-top: rem-calc(12);
        color: $darkGray;
        cursor: pointer;

        &.active {
          color: $black;
          border-top: 3px solid $enterpriseGreen;
          background-color: $white;
          border-bottom: none;
        }
      }
      .delivery-tab {
        &.active {
          border-right: none;
        }
      }
      .collection-tab {
        &.active {
          border-left: none;
        }
      }
    }
    .content-container {
      border: 1px solid #c3c3c3;
      padding-top: rem-calc(30);
      border-top: none;
      h2 {
        font-family: $regular;
        padding-left: rem-calc(20);
        font-size: rem-calc(16);
        text-transform: uppercase;
        border-bottom: 1px solid #c3c3c3;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
      }
      .date, .time {
        margin-top: 0;
        display: inline-block;
      }
      .branch-information {
        padding: 1.25rem;
        h3 {
          color: $black;
          font-family: $medium;
          font-size: 1rem;
          margin-bottom: 0.625rem;
        }
        .location-direction {
          color: $enterpriseGreen;
          font-family: $medium;
        }
      }
      .location-map {
        border-top: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
      }
      dt {
        padding: rem-calc(5 20 5 20);
        font-family: $regular;
        &:first-of-type {
          padding-top: rem-calc(20);
        }
      }
      dd {
        padding: rem-calc(5 20 5 20);
      }
    }
  }

  .profile-banner {
    background: url('../../../dist/img/icons/png/eplus-pattern-dk.png');
    padding: 25px 6%;
    color: $white;
    &.dnr {
      border-bottom: 3px dashed #F6DB00;
      background-image: none;
      background-color: $black;
      color: $white;
      .header-message {
        font-size: 16px;
        font-family: $regular;
      }
    }
    &.signature-executive {
      background: none $black;
      .content-message {
        margin-top: 12px;
        .accented {
          color: $enterpriseGreen;
        }
      }
    }
    .content-container {
      width: 85%;
      display: inline-block;
    }
    .icon.icon-eplus-logo,
    .icon.icon-alert-caution-yellow,
    .icon.icon-icon-bell {
      height: 50px;
      width: 40px;
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
    }
    .header-message {
      font-size: 20px;
      font-family: $medium;
      margin-bottom: 10px;
    }
    .content-message {
      color: $lightGray;
      font-size: 16px;
      font-family: $light;
      strong {
        color: $white;
        font-size: 16px;
      }
    }
  }

  div.location-tabs {
    clear: right;
    margin-top: rem-calc(20);
    width: 30%;
    float: right;
    padding-bottom: 40px;
    @media print {
      padding-bottom: 0;
      width: 100%;
      margin-right: 0;
      margin-top: 0;
      page-break-before: always;
      break-before: always;
      border: none;
      float: none;
    }
    .location-map {
      border-top: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;
    }
    .tabs {
      overflow: visible;
      @media print {
        height: 48px;
        page-break-before: always;
        break-before: always;
      }

      .tab {
        position: relative;
        &.active:after{
          content: "";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: -17px;
          border-width: 24px 8px;
          border-style: solid;
          border-color: transparent transparent #000 #000;
          opacity: 0.06;
          z-index: 99;
        }
        &.active:last-child:after{
          right: auto;
          left: -17px;
          border-color: transparent #000 #000 transparent;
        }
      }
    }
    .date, .time {
      font-family: $medium;
      margin: rem-calc(20);
      float: left;
      @media(min-width: $bp-xl){
        font-family: $bold;
        font-size: 21px;
      }
    }
    .pick-you-up {
      clear: both;
      padding: rem-calc(10 20);
      width: 100%;
      background: $black;
      color: $white;
      display: block;
      white-space: pre-wrap;
    }
    .time {
      float: right;
    }
    @media(min-width: $bp-xl){
      .time{margin-right: 0;}
      .date{margin-left: 0;}
    }

    .wayfinding {
      &.disabled {
        display: none;
      }
    }

    .location-details, .details {
      padding: rem-calc(20);

      li.padded-item {
        padding-top: rem-calc(14);
      }

      h3 {
        color: $black;
        font-family: $bold;
        margin-bottom: rem-calc(10);
        @media(min-width: $bp-xl){font-size: 17px;}
      }

      a {
        color: $enterpriseGreen;
        font-family: $medium;
        &:hover {
          color: $darkGreen;
          text-decoration: underline;
        }
      }

      .hours-label {
        font-family: $bold;
        @media(min-width: $bp-xl){font-size: 17px;}
        a {
          font-family: $light;
          font-size: rem-calc(14);
          padding-left: rem-calc(10);
          &:hover {
            color: $darkGreen;
            text-decoration: underline;
          }
        }
      }

      .hours-value {
        display: block;
      }

      img {
        border-top: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
      }
    }
    .details img {
      border: none;
    }
  }
  div.person-pricing {
    float: left;
    width: 55%;
    padding-bottom: 20%;
    @media print {
      width: 100%;
      margin: 0;
      page-break-after: always;
      page-break-before: always;
      break-after: always;
      float: none;
    }
    .rate-taxes-fees {
      width: 100%;
      .table-heading {
        h2 {
        }
        .modify-reservation-options {
          .beta {
            color: $midGray;
            font-size: 14px;
            line-height: 1.1;
            .modify-reservation a,
            .cancel-reservation {
              color: $enterpriseGreen;
              font-size: inherit;
              line-height: inherit;

              &:hover {
                color: $enterpriseDarkGreen;
                text-decoration: underline;
              }
            }
          }
        }
        @media(min-width: 575px) and (max-width: $bp-med) {
          h2 {
            float: left
          }
          .modify-reservation-options {
            float: right;
            margin-top: 4px;
          }
        }
        @media(min-width: $bp-large-2) {
          h2 {
            float: left;
            padding: 10px 0;
          }
          .modify-reservation-options {
            float: right;
            margin-top: 19px;
          }
        }
      }
      .personal-information-row td + td {
        text-align: right;
      }
    }
  }

  div.summary {
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    box-shadow: rem-calc(0 -5 20 1) $lightGray;
    position: relative;
    div.pickup, div.dropoff {
      border-right: 1px solid $lightGray;
      float: left;
      width: 50%;
      @media print {
        width: 100%;
      }
    }
    div.dropoff {
      border-right: none;
    }
    div.circle {
      position: absolute;
      left: 50%;
      top: 50%;
      background: $lightestGray;
      width: rem-calc(40);
      height: rem-calc(40);
      font-size: rem-calc(24);
      text-align: center;
      line-height: rem-calc(38);
      border-radius: 50%;
      color: $darkGray;
      border: 1px solid $lightGray;
      margin: rem-calc(-20 0 0 -20);
    }
    div.summary-location, div.summary-date, div.summary-time {
      float: left;
      margin: 0;
      height: rem-calc(80);
      padding: rem-calc(24 32);
    }
    div.summary-location {
        width: 40%;
        height: auto;
        div[id*=summary] {
          color: $black;
        }
    }
    div.summary-date {
        width: 30%;
    }
    div.summary-time {
        width: 30%;
    }
    div[id*=summary] {
        font-family: $heavy;
        text-transform: uppercase;
        font-weight: normal;
        font-size: rem-calc(16);
        color: $darkGray;
        &.date-label {
          font-family: $light;
          font-size: rem-calc(12);
          text-transform: none;
      }
    }
    div.summary-locationInfo, div.summary-dateInfo, div.summary-timeInfo {
        color: $black;
        font-family: $medium;
        font-size: rem-calc(14);
        line-height: rem-calc(14);
    }
  }

  .checklist-container {
    margin-left: 65%;
    width: 30%;
    .closed-path {
      background-color: $enterpriseGreen;
      padding: rem-calc(24);
      .icon-nav-time-white {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        margin-top: 5px;
      }
      .content-container {
        cursor: pointer;
        max-width: calc(100% - 40px);
        width: 85%;
        display: inline-block;
        color: $white;
      }
      .header-message {
        font-size: 18px;
        font-family: $regular;
      }
      .content-message {
        margin-top: 5px;
        font-size: 14px;
        font-family: $light;
      }
    }
  }

  div.checklist {
    background: $black;
    margin-top: 0;
    padding: rem-calc(24);
    height: auto;
    @media(min-width: $bp-xl){padding: 42px 53px;}
    @media print {
      height: rem-calc(240);
      width: 100%;
      padding: 0;
      margin-right: 0;
    }

    a {
      color: $enterpriseGreen;
      &:hover {
        color: $enterpriseDarkGreen;
      }
    }
    h2 {
      color: $white;
      font-size: 20px;
      border-bottom: 2px solid $darkestGray;
      padding-bottom: 20px;
      @media(min-width: $bp-xl){padding-bottom: 38px;}
      .icon {
        display: none;
      }
    }
    p {
      color: $white;
      margin: 28px 0 20px;
      font-size: 17px;
    }
    ol {
      margin-top: 20px;
      @media(min-width: $bp-xl){margin-top: 38px;}
      li {
        position: relative;
        padding: 10px 0 10px 35px;
        color: $white;
        font-size: 17px;
        line-height: 1.3;
        @media(min-width: $bp-xl){padding-left: 45px;}
        .icon {
          position: absolute;
          left: 0;
          top: 8px;
          width: 22px;
          height: 22px;
          border: 2px solid $enterpriseGreen;
          border-radius: 50%;
          background-size: 80%;
          background-position: center;
        }
        a {
          color: $enterpriseGreen;
          &:hover {
            color: $darkGreen;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .key-rental-facts-and-policies {
    float: right;
    width: 30%;
    @media print {
      width: 100%;
      margin-right: 0;
      display: none;
    }
    .category-label {
      font-size: 14px;
      font-family: $bold;
      color: $black;
      text-transform: uppercase;
    }

    .uppercase {
      text-transform: uppercase;
    }
  }

  .corporate-policy {
    margin-top: 1.875rem;
    font-size: 1rem;
    float: right;
    display: inline-block;
  }
  @media all and (max-width: $bp-large) {
    header.confirmed {
      .header-info {
        padding: 5%;
        text-align: left;
      }
      h1 {
        em {
          display: block;
          margin-top: -10px;
        }
        .icon {
          display: none;
        }
      }
      .sub-header {
      }
      h4 {
        text-align: left;
        margin-top: rem-calc(-10);
        margin-left: rem-calc(10);
      }
      img.car-image {
        top: initial;
        margin-right: rem-calc(-180);
        width: rem-calc(420);
      }
    }
    div.summary {
      height: rem-calc(240);
      div.pickup, div.dropoff {
        border-right: none;
        border-bottom: 1px solid $lightGray;
        float: none;
        width: 100%;
        height: rem-calc(120);
        clear: both;
      }
      div.dropoff {
        border-right: none;
      }
      div.circle {
        transform: rotate(90deg);
      }
      div {
        &.summary-location {
          width: 100%;
          height: rem-calc(60);
          padding: rem-calc(8 32);
        }
        &.summary-date {
          width: 50%;
          height: rem-calc(60);
          padding: rem-calc(8 32);
        }
        &.summary-time {
          width: 50%;
          height: rem-calc(60);
          padding: rem-calc(8 32);
        }
      }
    }
    div.checklist-container,
    div.thank-you,
    div.location-tabs,
    div.person-pricing,
    div.delivery-collection-container,
    div.corporate-policy,
    .key-rental-facts-and-policies {
      float: none;
      width: 94%;
      margin: 0 auto 30px;
    }

    div.corporate-policy {
      display: block;
    }
    div.delivery-collection-container {
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(20);
    }
    div.location-tabs {
      clear: both;
      margin: rem-calc(30) auto;
      @media print {
        width: 100%;
        margin: 0;
      }
    }
  }

  .rate-taxes-fees {
    margin-top: 15px;

    .special-message-cell {
      padding-top: 0;
    }
    .corporate-special-message {
      margin: 0 0 10px 0;
    }
  }

}

.cancelled .confirmed-page div.thank-you {
  padding: 50px 20px;
}

//CONFIRMED PAGE
.reservation-flow.cancelled,
.reservation-flow.confirmed,
.reservation-flow.details
 {
  .visible-mobile {
    display: none;
    @media(max-width: $bp-med-2) {
      display: block;
    }
  }
  .hidden-mobile {
    display: block;
    @media(max-width: $bp-med-2) {
      display: none;
    }
  }
}

//DETAILS PAGE
.reservation-flow.details {
  .confirmed-page header.confirmed .btn-grp {
    width: 50%;
    text-align: left;
  }
  .confirmed-page header.confirmed .btn-grp:after {
    content: '';
    display: block;
    clear: both;
  }
  .confirmed-page .confirmed.modify {
    height: auto;
  }
  .confirmed-page .confirmed.modify h1 {
    width: 50%;
  }
  .confirmed-page .confirmed, .confirmed-page .confirmed.modify {
    .conf-number {
      font-family: $bold;
    }
  }
  @media(min-width: $bp-large){
    .confirmed-page .confirmed.modify h4 {
      font-size: 28px;
      line-height: 28px;
    }
  }
  .confirmed-page header.confirmed .btn-grp .btn {
    margin: 5px 2px 5px 0;
  }
  .confirmed-page header.confirmed img.car-image {
    top: auto;
    bottom: -30px;
    right: -70px;
    height: 80%;
  }

  @media(min-width: $bp-small-2) {
    .confirmed-page header.confirmed img.car-image {
      height: 100%;
      top: auto;
      bottom: -70px;
      right: -30px;
    }
  }

  @media(min-width: 675px) {
    .confirmed-page header.confirmed .btn-grp {
      margin-left: 5rem;
      margin-bottom: 10px;
    }
  }
  @media(min-width: $bp-med-2) {
    .confirmed-page .confirmed.modify h1 {
      margin-top: 20px;
    }
    .confirmed-page .confirmed.modify .grn-txt {
      margin: 8% 1.5% 2%;
    }
    .confirmed-page header.confirmed .btn-grp {
      margin-bottom: 50px;
      margin-left: 3%;
    }
    .confirmed-page header.confirmed img.car-image {
      height: 120%;
      top: auto;
      bottom: -10px;
      right: -65px;
      width: auto;
    }
  }
  @media(min-width: $bp-large) {
    .confirmed-page .confirmed.modify .grn-txt {margin: 50px 3% 0;}
    .confirmed-page header.confirmed h4,
    .confirmed-page .confirmed.modify h1{margin-left: 3%;}
  }
}

@media(max-width: $bp-med-2) {
  .confirmed-page {
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    h1 {
      margin-top: 0
    }
    .rate-taxes-fees {
      margin-bottom: 40px;
    }
    .confirmed.modify {
      height: 400px;
      h1, h4 {
        text-align: left;
      }
      h1 {
        margin: 0 3%;
      }
      h4 {
        margin: 0 3% 20px;
      }
      .grn-txt {
        margin: 8% 3% 6%;
      }
    }
    header.confirmed {
      height: auto;
      overflow: visible;
      img.car-image {
        top: 10px;
        right: 0;
        z-index: -1;
        height: 120%;
        width: auto;
        max-height: none;
        max-width: none;
        margin: 0;
        transform: translateX(20%);
      }
      .header-info {
        max-width: 60%;
        h1 {
          margin-top: 15px;
        }
      }
      .btn-grp {
        position: relative;
        z-index: 2;
        margin: 3%;
        text-align: center;
        .btn {
          float: none;
          margin: 0 2px;
          padding-top: 10px;
          font-size: 13px;
          letter-spacing: -0.040em;
        }
      }
    }
    div.summary {
      height: auto;
      border-bottom: none;
      div.summary-location, div.summary-date, div.summary-time{
        div {
          color: $black;
        }
      }
      div.pickup,
      div.dropoff {
        height: auto;
        padding: 30px 50px 20px;

        div[id*=summary]{
          margin-bottom: 5px;
        }

        div.summary-location {
          float: none;
          height: auto;
          margin-bottom: 15px;
          padding:0;
          width: 100%;
          div[id*=summary] {
            font-family: $bold;
            font-size: 14px;
          }
          div.summary-locationInfo {
            font-family: $regular;
            font-size: 14px;
          }
        }
        .summary-date-and-time {
          float: none;
          height: auto;
          padding: 0;
          text-transform: uppercase;
          div.summary-date {
            height: auto;
            padding-left: 0;
            padding-right: 0px;
            width: 50%;
          }
          div.summary-time {
            height: auto;
            width: 50%;
            padding-right: 0px;
          }
        }
      }
    }
  }
  .reservation-flow.cancelled .confirmed-page header.confirmed {
    h1 {
      text-align: left;
    }
  }
  div.person-pricing {
    margin: 0 3%;
    .rate-taxes-fees {
      margin: 0;
    }
  }
  .confirmed-page {
    div.location-tabs,
    .key-rental-facts-and-policies {
      margin: 20px 3% 0 0;
    }
  }
  div.location-tabs {
    margin-bottom: 50px;
  }
  div.location-tabs .details {
    .date, .time {
      margin: 20px 0;
    }
  }
  .confirmed-page {
    div.checklist-container {
      h2 {
        position: relative;
        padding-right: 40px;
        .icon-nav-carrot-white {
          @media(max-width: $bp-med-2) {
            display: block;
          }
          position: absolute;
          right: 0;
          top: 0;
          transform: rotate(90deg);
          transition: transform 100ms ease-in-out;
        }
      }
      ol {
        li {
          position: relative;
          line-height: 1.2;
          .icon {
            display: block;
            position: absolute;
            left: 0;
            top: 8px;
          }
        }
      }
    }
  }
}

@media(min-width: $bp-med-2) {
  .confirmed-page .checklist-container .checklist-content {
    display: block !important;
    min-height: 300px;
  }
}

@media(max-width: $bp-med-2) {
  .confirmed-page {
    div.location-tabs,
    .key-rental-facts-and-policies {
      margin: 0 auto 30px;
    }
    div.checklist-container {
      min-height: 0;
      .closed-path {
        .icon-nav-time-white {
          margin-right: 10px;
        }
      }
      h2 {
        padding-top: 5px;
        padding-bottom: 0;
        border-color: transparent;
        cursor: pointer;
      }
      .checklist-content {
        display: none;
      }
      .open {
        .checklist-content {
          display: block;
        }
        h2 {
          padding-bottom: 20px;
          border-color: $white;
          .icon-nav-carrot-white {
            transform: rotate(270deg);
          }
        }
      }
    }
  }
}


@media(min-width: $bp-large) and (max-width: 1000px) {
  .confirmed-page div.summary {
    height: auto;
    div.pickup, div.dropoff{
      div.summary-location {
        width: 100%;
        margin-top: 0;
        padding:20px 50px;
      }
      div.summary-date,
      div.summary-time {
        width: 50%;
        height: auto;
        padding-top: 0;
        padding:20px 50px;
      }
    }
  }
}

.resflow-confirmed #confirmedPrint {
  display: none;
}

#confirmedPrint {
  font-size: 12px;

  // vvv HIDE STUFF inside the print block
  .modify-reservation-options,
  .header-info h1 i,
  .car-image,
  .rate-taxes-fees .additional-information {
    display: none;
  }
  // ^^^ HIDE STUFF

  header,
  .summary-extended {
    margin-bottom: 25px;
  }

  .header-info h1 > span {
    white-space: nowrap;
  }

  .summary-extended {
    border: 1px solid $lightGray;
    border-top: 3px solid $black;
    border-width: 3px 2px;
    position: relative;
    font-family: $light;
  }

  .summary-extended .summary-block {
    padding: 27px;
    width: 50%;
    float: left;
  }

  .summary-extended .pickup {
    border-right: 1px solid $lightGray;
  }

  .summary-extended .dropoff {
    border-left: 1px solid $lightGray;
    margin-left: -1px;
  }

  .summary-block-title,
  .summary-locationInfo,
  .summary-hours-open-title,
  .summary-wayfinding-title {
    font-family: $medium;
  }

  .summary-extended .summary-date-and-time,
  .summary-extended .summary-hours-open {
    float: right;
    padding: 0 30px 0 10px;
    width: 40%;
  }

  .summary-extended .summary-address,
  .summary-extended .summary-wayfinding,
  .summary-extended .summary-address-dc,
  .summary-extended .branch-information {
    border-top: 1px solid $lightGray;
    margin-top: 20px;
    padding: 20px 0;
  }

  .dc-label,
  .dc-value {
    float: left;
  }

  .dc-label {
    clear: both;
    width: 40%;
    font-family: $regular;
  }
  .dc-label::after {
    content: ":";
  }

  .edit {
    display: none;
  }

  .dc-value {
    width: 60%;
    padding-left: 10px;
  }
  .branch-information h2 {
    font-family: $medium;
    font-size: 14px;
  }

  .branch-information h3 {
    font-family: $regular;
    font-size: 18px;
  }

  .summary-extended.same-location .summary-wayfinding {
    display: none;
  }

  .summary-extended.same-location > .summary-wayfinding {
    display: block;
    padding: 20px;
    clear: both;
    margin: 0;
  }

  .summary-extended .summary-location-blocks {
    position: relative;
  }


  .summary-extended .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.375rem;
    border-radius: 50%;
    color: #656565;
    border: 1px solid #c3c3c3;
    margin: -1.25rem 0 0 -1.25rem;
  }

  .rate-taxes-fees-wrapper,
  aside {
    float: left;
    position: relative;
  }

  .rate-taxes-fees-wrapper {
    width: 60%;
    padding-right: 40px;
  }

  .rate-taxes-fees .special-message-cell {
    padding-top: 0 !important;
  }

  .corporate-special-message {
    margin: 0;
  }

  aside {
    width: 40%;
  }

  aside ul {
    padding-left: 1rem;
    list-style: initial;
  }

  aside table,
  aside td,
  aside th {
    border: 0;
  }

  aside h2,
  aside .category-heading {
    font-family: $medium;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    padding: 5px 0 3px;
    border-bottom: 3px solid $black;
    margin-bottom: 13px;
  }

  aside .checklist li,
  aside .airlineinformation {
    font-family: $light;
  }

  aside .aside-label,
  aside .aside-value {
    float: left;
    font-family: $light;
  }

  aside .aside-label {
    width: 40%;
    clear: both;
  }

  aside .aside-value {
    width: 60%;
  }

  aside .personal-information-section td {
    padding-top: 13px;
  }

  aside .personal-information-row {
    font-family: $light;
    display: block;
  }

  aside .confirmed-personal tbody tr:nth-of-type(2){
    margin-top: 10px;
  }

  aside .confirmed-personal {
    margin-top: 10px;
  }

  aside .faux-tr .row-label {
    width: 40%;
    float: left;
  }

  aside .faux-tr.personal-information-row .row-amount {
    width: auto;
    text-align: left;
    float: none;
  }

  aside .faux-tr {
    padding: 0 0 5px;
    clear:  both;
  }

  .rate-taxes-fees {
    margin-top: 0;
  }

  .rate-taxes-fees table thead .beta {
    display: block;
    padding: 0;
    line-height: 1.16;
    text-transform: uppercase;
    font-size: 24px;
  }

  .rate-taxes-fees table .category-heading {
    font-family: $regular;
  }

  .rate-taxes-fees table .table-heading .beta {
    font-size: 20px;
    text-transform: uppercase;
  }

  .rate-taxes-fees table td,
  .rate-taxes-fees table th {
    vertical-align: top;
    padding: 10px 0;
  }

  .rate-taxes-fees table tfoot {
    display: table-row-group;
  }
}

@media print {
  .resflow-confirmed {
    .mobile-logo,
    #reservationFlow,
    footer,
    .header-nav-right,
    #codebanner-container,
    .code-banner {
      display: none !important;
    }

    #confirmedPrint {
      display: block;
    }

    header {
      background: transparent;
    }

    #primaryHeader .logo {
      margin-left: 0;
      padding-left: 0;
      display: block !important;
    }
  }
}
