.corporate {
  padding: rem-calc(10) rem-calc(50) rem-calc(30);
  .accented {
    color: $enterpriseGreen;
  }
  header {
    background-color: $white;
    padding: 0;
    h2 {
      border-bottom: rem-calc(3) solid $black;
      padding-bottom: rem-calc(10);
    }
  }
  label {
    margin-top: rem-calc(10);
  }
  .btn {
    display: block;
    text-transform: uppercase;
  }
  .continue {
    text-align: center;
    cursor: pointer;
    color: $enterpriseGreen;
    &:hover {
      color: $enterpriseDarkGreen;
    }
  }
  .warning {
    color: #FF0000;
  }
  .disclaimer {
    text-align: center;
  }
  &.authentication {
    h5 {
      font-size: 18px;
    }
    .enterprise-auth, .ec-auth {
      margin: rem-calc(20) auto 0;
      width: rem-calc(400);
      transition: all 600ms linear;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      &.active {
        opacity: 1;
        max-height: 700px;
        overflow: visible;
        visibility: visible;
      }
    }
    .ec-auth {
      .btn {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .forgot, .eplus-remember {
      color: $enterpriseDarkGreen;
    }
    .forgot {
      cursor: pointer;
      display: block;
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(20);
    }
  }
  &.travel-purpose {
    label {
      display: inline-block;
      margin-left: rem-calc(20);
    }
    legend {
      margin-bottom: rem-calc(20);
    }
    .btn {
      margin-top: rem-calc(20);
      &.disabled {
        cursor: not-allowed;
      }
    }
  }
  &.enroll-remove {
    .btn {
      margin-top: rem-calc(20);
    }
  }
}

.modal-container.active .modal-content {
  padding-bottom: 0;
  overflow-y: auto;
  h2.auth-header {
    display: inline-block;
    margin-top: rem-calc(20);
    padding-bottom: 0;
    color: $enterpriseGreen;
    cursor: pointer;
    &:hover {
      color: $enterpriseDarkGreen;
    }
    &.active {
      color: $black;
      &:hover {
        color: $enterpriseGreen;
      }
    }
  }
  .not-authorized {
    text-align: center;
    border: 3px dashed black;
    background: #F6DB00;
    padding: 50px;
    h2 {
      margin-top: 20px;
    }
    .icon.icon-alert-caution {
      height: 40px;
      width: 40px;
      display: inline-block;
    }
  }
  .manage-cid, .missing-cid {
    .top-disclaimer {
      margin-bottom: rem-calc(30);
    }
    .bottom-disclaimer {
      margin-top: rem-calc(30);
      margin-bottom: rem-calc(30);
    }
    .cancel {
      margin-right: 0;
    }
    .cancel, .submit {
      float: none;
      width: 100%;
      min-height: auto;
    }
  }
  .missing-cid {
    .cancel {
      margin-top: rem-calc(30);
    }
  }
  .pre-rate, .pin {
    padding: 0;
    font-size: 14px;
    header {
      h2 {
        font-size: 26px;
        padding-bottom: 10px;
      }
    }
    p.helper-text {
      margin: 10px 0 0 0;
      font-size: 12px;
      color: $darkGray;
    }
    .option-block {
      label {
        display: inline-block;
      }
    }
    .disclaimer {
      text-align: initial;
      padding-top: 20px;
    }
    .pin-field {
      margin-top: 30px;
      input {
        width: 100px;
        vertical-align: top;
      }
      .hints {
        display: inline-block;
        margin-left: 30px;
        font-size: 12px;
        strong {
          font-family: $regular;
        }
      }
    }
    .modal-action {
      margin-top: 20px;
      text-align: right;
      .btn {
        display: inline-block;
        width: 200px;
        margin-top: 20px;
      }
    }
  }
}

.divider {
  .strike-through {
    display: inline-block;
    width: 45%;
    position: relative;
    bottom: 3px;
    border-bottom: 1px solid $lightGray;
  }
  i {
    display: inline-block;
    width: 10%;
    text-align: center;
  }
}

body.loyalty-not-available {
  .loyalty-not-available {
    display: none;
  }
  #login-container {
    display: none;
  }
  .pre-expedited-banner {
    display: none;
  }
}

body.do-not-market {
  #footer-nav,
  .drivelliance .base .right,
  .primary-nav,
  .utility-nav > li:first-child {
    display: none;
  }
  &.Home, &.homepage {
    div.section {
      display: none;
    }
    .upcoming-reservation-summary {
      div.section {
        display: inherit;
      }
    }
    div.reservationWidget {
      display: block;
      min-height: 75vh;
    }
  }
  footer {
    padding: 0;
    .social-links {
      display: none;
    }
    .logo {
      display: none;
    }
    #footer-nav {
      display: none;
    }
    .drivealliance {
      .base {
        .footer-drive-alliance {
          display: none;
        }
      }
    }
  }
  nav {
    .careerlink {
      display: none;
    }
  }
}

@media all and (max-width: $bp-med-2) {
  .corporate {
    padding: 0;
  }
}

