.extras-section {
  border: none;

  th, td, tr {
    border: none;
    padding: 0;
  }

  tbody, tr {
    display: block;
  }
}

.extras-row {
  border-bottom: 1px solid #c5c5c5;
  padding: 12px 0 0 0;
  transition: all 300ms ease-in-out;

  &:first-of-type {
    border-top: 3px solid #181918;
  }
  &.details {
    background: $alabasterWhite;
  }
  &.selected {
    background-color: $darkGreen;
    color: $white;
    .extras-row_details-btn a, .extras-row_exclusion-btn a {
      color: $white;
    }
    .extras-row_action .add-remove .label {
      color: $white;
    }
  }
  .cell {
    float: left;
    text-align: center;
    min-height: 1px; //Guarantee width even if cell is empty / null
  }
  .pad-top {
    padding-top: 10px;
  }
  .extras-cell_icon {
    float: left;
    width: 25%;
    text-align: center;

    .icon {
      width: 25px;
      height: 30px;
      display: inline-block;
      text-align: center;
    }
  }
  .extras-row_name {
    width: 40%;
    font-family: $regular;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    &.extras-exclusion-name{
      width: 25%;
      margin-right: 15%;
    }
    &.extras-remove-space{
      margin-right:0;
    }
    .required-extra-suggestion {
      padding-left: 25%;
      display: block;
      font-family: $bold;
    }
  }
  .extras-row_rate {
    width: 15%;
  }
  .extras-row_max {
    width: 15%;
  }
  .extras-row_details-btn, .extras-row_exclusion-btn {
    font-size: 14px;
    width: 15%;
    font-family: $medium;
    a {
      color: $enterpriseGreen;
      cursor: pointer;
    }
  }
  .extras-row_action {
    width: 15%;
    .add-remove {
      .icon {
        display: inline-block;
      }
      .label {
        color: $enterpriseGreen;
        text-align: center;
      }
    }
    .numeric-stepper {
      padding-top: 7px;
    }
  }
  &.included {
    background-color: $alabasterWhite;
    .cell {
      color: $midGray;
    }
    .extras-row_action {
      color: $midGray;
      font-family: $bold;
      padding-top: 10px;
      .label {
        line-height: 20px;
      }
      .icon {
        display: inline-block;
        opacity: .33;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
  .extras-row_details {
    transition: transform 0.26s ease;

    p {
      transform: scaleY(0);
      height: 0;
      transform-origin: top;
      transition: transform 0.26s ease;
      overflow: hidden;
      /*display: none;*/
    }

    &.show p {
      /*display: inline;*/
      margin: 10px 25px;
      height: auto;
      transform: scaleY(1);
    }
  }
  .vehicle-information {
    display: inline-block;
    padding: 30px 10px;
    line-height: 30px;
    .vehicle-name {
      font-family: $medium;
      font-size: 30px;
    }
    .vehicle-make {
      font-family: $regular;
    }
  }
  .vehicle-image-container {
    width: 295px;
    margin: 0 auto;
    position: relative;
    img {
      position: absolute;
      bottom: -185px;
    }
  }
  .actions-container {
    float: right;
    display: inline-block;
    padding: 30px 10px;
  }
}

@media all and (max-width: $bp-med-2) {
  .extras-row {
    .cell {
      width: 50%;
      margin: 10px 0;
    }
    .extras-row_rate {
      clear: left;
    }
    .extras-row_name {
      width: 100%;
      text-align: center;
      &.extras-exclusion-name{
        width: 100%;
        span{
          width: 50%;
          float: right;
        }
      }
    }
    .vehicle-image-container {
      width: 295px;
      margin: 0 auto;
      height: 160px;
      img {
        position: relative;
        top: -20px;
      }
    }
  }
}
