.header-nav {
  font-size: 0;
  display: table;
  width: 100%;

  .header-nav-left,
  .header-nav-right {
    display: table-cell;
    font-size: 0;
  }

  .header-nav-item {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    white-space: normal;
    text-align: left;

    &#utility-nav.hide-header, &#mobile-nav.hide-header {
      display: none;
    }
  }

  .header-nav-right {
    white-space: nowrap;
    text-align: right;
  }
}

@media(max-width: $bp-med) {
  .Reserve, .reservationpage {
    .header-nav {
      display: block;

      .header-nav-left,
      .header-nav-right {
        display: block;
      }

      .header-nav-right {
        position: absolute;top: 0;
        right: 0;
        width: auto;
      }
    }
  }

  .resflow-confirmed {
    .header-nav {
      .header-nav-right {
        width: 100%;
      }

      .header-nav-left .mobile-logo i {
        position: absolute;
        z-index: 1000;
      }
    }
  }
}
