.location-search {
  @media(max-width: $bp-med-2) {
    margin: 0 3%;
  }
  .locationInput-active {
    .location-chicklet {
      display: none;
    }
  }
  .locationChicklet-active {
    .location-field {
      //, .location-btn {
      display: none;
    }
  }
  .location-btn {
    float: right;
    background-position: right;
    text-indent: 0;
    width: auto;
    height: auto;
    border: none;
    display: block;
    margin-left: 0;
    text-align: right;
    //padding-right: 20px;
    //margin-right: rem-calc(20);
    margin-top: rem-calc(12);
    cursor: pointer;
    margin-right: 5px;
    .icon {
      float: left;
      margin-right: 5px;
    }
    &.loading {
      cursor: not-allowed;
      background-color: rgba(0, 0, 0, 0.05);
      transition: background-color 0.5s ease;
    }
  }
  .location-input-wrapper {
    position: relative;
    padding-right: 0;
  }
  .location-input-label {
    color: $black;
    text-transform: uppercase;
    padding-bottom: 0;
    font-family: $medium;
    font-size: 15px;
    margin-bottom: 0.2em;

    .no-wrap {
      display: inline-block;
      white-space: nowrap;
    }

    .sublabel {
      font-family: $light;
      text-transform: none;
    }

    .green {
      margin: 0;
      padding: 0;
      color: $enterpriseGreen;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      :hover {
        color: $darkGreen;
        text-decoration: underline;
      }
    }
  }
  .location-field {
    float: left;
    width: 100%;
    height: 4rem;
    margin-left: 0;
    padding: rem-calc(11 18 9 18);
    border: 2px solid $lightGray;
    border-bottom: 4px solid $enterpriseGreen;
    transition: color .2s ease-in-out;
    font-size: rem-calc(19);
    color: $lightGray;
    &:focus {
      color: $black;
      border-top: 2px solid $enterpriseGreen;
      border-left: 2px solid $enterpriseGreen;
      border-right: 2px solid $enterpriseGreen;
    }
    &::-webkit-input-placeholder {
       color: #656565;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: #656565;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: #656565;
    }
    &:-ms-input-placeholder {
       color: #656565;
    }
  }
  .location-chicklet {
    border-collapse: separate;
    border-spacing: 0.2em 0;
    width: 100%;
    height: auto;
    margin: 0 0 10px;
    padding: 3px 0px;
    border: 2px solid $bgGray;
    border-bottom: 4px solid $enterpriseGreen;
    color: $black;
    font-size: 1.5em;
    .chicklet {
      display: table-cell;
      vertical-align: middle;
      background: $bgGray;
      font-size: rem-calc(19);
      line-height: rem-calc(19);
      padding: .4em .5em;
      margin: 0 0;
    }
    .location-chicklet-clear {
      cursor: pointer;

      .icon-ENT-icon-close {
        width: 13px;
        height: 16px;
        margin: 6px;
      }
    }
  }

  .auto-complete {
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    border: 2px solid $lightGray;
    z-index: 3;
    width: 100%;
    margin-top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;

    &:empty {
      border: none;
    }

    &.empty-result {
      border: 2px solid $enterpriseGreen;
    }

    &.no-results {
      height: auto;
      padding: 20px 20px;
      ul {
        border-top: none;
        margin: 0;
      }
      li {
        margin: 0;
        cursor: default;
      }
    }

    .location-group {
      border-top: 3px solid $black;
      padding-bottom: 10px;
      padding-top: 8px;

      // don't add relative here, it will mess up with the location dropdown accessibility
      .icon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 14px;
        margin-top: 8px;
      }
    }

    .location-group-label,
    .fedex-location-label {
      color: #181918;
      text-transform: uppercase;
      padding-bottom: 0;
      font-family: $medium;
      font-size: 12px;
      margin-left: 40px;
      float: left;
      margin-top: 10px;
    }

    .fedex-location-label {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    .location-group-label {
      width: 12%;
    }

    a {
      padding: 7px 15px 7px 15px;
      color: $enterpriseGreen;
      font-size: rem-calc(16);
      font-family: $light;
      display: block;
      small {
        color: #424242;

        &:before {
          content: ' ';
        }
      }
    }

    ul {
      margin: 0 0 0 130px;

      li {
        cursor: pointer;
        float: none;
        list-style: none;
        border-bottom: 1px solid $lightGray;
        margin-bottom: 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &.hover li:hover,
    &.hover li.highlighted:hover,
    li.highlighted {
      background: $heroGray;
      a {
        color: $black;
      }
    }
    &.hover li.highlighted {
      background: transparent;
    }
    li.ac-header {
      cursor: default;
      background: #f7f7f7;
      padding: 5px 8px 5px 8px;
      border-bottom: 1px solid $lightGray;
      font-size: .75em;
      font-family: $bold;
      text-transform: uppercase;
      color: #424242;
      line-height: 16px;
    }
    .fedex-alphaid-group {
      ul {
        margin-left: 0;
      }
    }
    .fedex-location-group {
      border: none;

      ul {
        margin-left: 0;
        li {
          border: none;
          display: inline-block;
          margin-right: 15px;
          min-width: 48px;
        }
      }
      .location-group-label {
        position: relative;
        padding-left: 20px;
        left: 0;
        margin-top: 0;
      }
      table {
        margin-top: 6px;

        th, td {
          border: 1px solid #d6d6d6;
          padding: 7px 15px;
          font-family: "DINLight", Helvetica, Arial, sans-serif;
        }

        th {
          width: 30%;
          background-color: #f2f2f2;
          font-weight: normal;
        }

        a {
          display: inline-block;
          padding: 0;
          color: $enterpriseGreen;
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (max-width: $bp-med) {
  .location-search {
    .location-field, .location-chicklet, label {
      float: none;
      //width: 94%;
      //display: block;
      //width: 100%;
      margin: 0 auto;
    }
    .location-btn {
      float: right;
      background-position: right;
      text-indent: 0;
      width: auto;
      height: auto;
      border: none;
      display: block;
      margin-left: 0;
      text-align: right;
      padding-right: 20px;
      margin-right: rem-calc(20);
      margin-top: rem-calc(12);
    }
    .auto-complete {
      .location-group {
        .location-group-label {
          margin-left: 50px;
          width: 100%;
        }
        ul {
          margin-left: 50px;
          margin-top: 40px;
          .icon {
            left: 10px;
          }
        }
        li {
          &:first-child {
            border-top: 1px solid $lightGray;
          }
        }
      }
    }
  }
}
