@import 'components/locationInput';

// debugging break points
//@media all and (max-width: $bp-med-2) {
//  // two rows of pickers
//  body:after {
//    content: 'two rows' !important;
//  }
//}
//
//@media all and (min-width: $bp-med-2) {
//  // two columns
//  body:after {
//    content: 'two columns' !important;
//  }
//}

.location-details {
  height: 100%;
  &.top, &.bottom {
    .map-wrapper {
      position: absolute;
    }
    .search-results {
      position: relative;
    }
  }
  &.top {
    .map-wrapper {
      #map-canvas {
        position: fixed !important;
        top: 0;
      }
      .search-this-area {
        position: fixed;
      }
    }
    .location-details-overlay.active {
      top: 140px;
      position: fixed;
      @media(max-width: $bp-med-2) {
        padding-bottom: 10px;
      }
    }
  }
  &.bottom {
    .map-wrapper {
      bottom: 0;
      top: initial;
      #map-canvas {
        position: absolute;
        bottom: 0;
      }
      .search-this-area {
        position: absolute;
      }
    }
    .location-details-overlay.active {
      position: absolute;
    }
  }

  .error-modal {
    height: auto;

    .location-select-error .error-text {
      margin-left: 0;
    }
    .location-select-error {
      margin-left: 0;
      position: static;
      padding: 65px 10px 5px;
      //width: $dateTimeWidth * 2;
      //float: left;
      //margin-left: 48px;
    }
    .icon-container {
      display: none;
    }
    h2 {
      border-bottom: none !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  .location-select-error {
    $icon-size: 25px;
    $margin-left: $icon-size + 10px;
    text-align: left;
    border: 2px dashed $black;
    background: $messageGold;
    padding: 20px 10px;
    position: relative;
    .icon-container {
      float: left;
      .icon {
        height: $icon-size;
        width: $icon-size;
      }
    }
    .error-text {
      margin-left: $margin-left;
      h2 {
        font-family: $medium;
        font-size: 16px;
        letter-spacing: .7px;
        padding: 5px 0 0;
        margin: 0;
      }
      p {
        font-family: $light;
        font-size: 16px;
        margin: 0;
      }
      ul {
        list-style: disc;
        li {
          border: 0;
          padding: 0;
          margin: 0;
          background: none;
          display: block;
          &.error-state {
            font-family: $medium;
            &.multiple {
              display: list-item;
              margin-left: 20px;
            }
          }
        }
      }
    }
    .modify-time {
      margin: 0 $margin-left;
    }
    @media all and (max-width: $bp-small-2) {
      $mobile-icon-size: 40px;
      $mobile-margin-left: $mobile-icon-size + 15px;
      .icon-container .icon {
        height: $mobile-icon-size;
        width: $mobile-icon-size;
      }
      .error-text, .modify-time {
        margin-left: $mobile-margin-left;
      }
    }
  }
  .location-search {
    @media all and (max-width: $bp-small-2) {
      &.g-2up {
        padding: 0;
        .gi {
          width: 100%;
          .locationInput-active, .locationChicklet-active {
            .pickupLocationTextBox {
              width: 100%;
            }
            .location-btn {
              width: 100%;
              margin: 0 auto;
              padding: 0;
              position: relative;
              padding-top: 11px;
              margin-bottom: 10px;
              span {
                margin-left: 25px;
                float: left;
              }
              .icon {
                position: absolute;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.modal-container.active .modal-content.date-time-error-modal {
  width: 70%;
  margin-left: -35%;
  top: 3%;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  .valid-times {
    padding: 20px 0 20px 5%;
    background: $enterpriseGreen;
    color: $white;
    h2 {
      margin: 0;
      padding: 0;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin: 0 10px -5px 0;
      background-size: 100%;
      display: inline-block;
    }
  }

  .booking-widget .pickup.label-container,
  .booking-widget .dropoff.label-container {
    @media all and (min-width: $bp-large-2) {
      width: 45%;
    }
  }

  .booking-widget {
    width: auto;
    margin: 0 auto;

    .date-time-form {
      //width: auto;
      margin: 0 auto;
      float: none;
      .date-time {
        @media all and (min-width: $bp-large-2) {
          width: 600px;
        }
      }
    }

    .date-time-form label {
      z-index: 1;
    }

    .date-time-form.pickupTime-active {
      label.pickupTime-label {
        color: $black;
        border-bottom: 2px dashed $black;
        border-right: 2px dashed $black;
        border-left: 2px dashed $black;
        background-color: $messageGold;
      }
    }
    .date-time-form.dropoffTime-active {
      label.dropoffTime-label {
        color: $black;
        border-bottom: 2px dashed $black;
        border-right: 2px dashed $black;
        border-left: 2px dashed $black;
        background-color: $messageGold;
      }
    }

    .date-time-form.pickupTime-active label.pickupTime-label .hour,
    .date-time-form.pickupTime-active label.pickupTime-label .age,
    .date-time-form.pickupTime-active label.pickupTime-label .min,
    .date-time-form.pickupTime-active label.pickupTime-label .ampm,
    .date-time-form.dropoffTime-active label.dropoffTime-label .age,
    .date-time-form.dropoffTime-active label.dropoffTime-label .hour,
    .date-time-form.dropoffTime-active label.dropoffTime-label .min,
    .date-time-form.dropoffTime-active label.dropoffTime-label .ampm {
      color: $black;
    }

    // to hide the error-modal message when the calendar shows
    // we resize it shorter than the label
    // however some we want auto as they show if the other
    // calendar is open, opposite from the error
    .date-time-form.pickupCalendar-active .pickup .error-modal {
      height: 55px;
      @media all and (max-width: $bp-med-2) {
        height: 55px;
      }
    }

    .date-time-form.pickupCalendar-active .dropoff .error-modal {
      height: 55px;
      @media all and (max-width: $bp-med-2) {
        height: 55px;
      }
    }
    .date-time-form.dropoffCalendar-active .pickup .error-modal {
      height: 55px;
      @media all and (max-width: $bp-med-2) {
        height: auto;
      }
    }

    .date-time-form.dropoffCalendar-active .dropoff .error-modal {
      height: 55px;
      @media all and (max-width: $bp-med-2) {
        height: 55px;
      }
    }

    .date-time-form.pickupCalendar-active,
    .date-time-form.dropoffCalendar-active {
      .date-time {
        position:  relative
      }
    }

    .date-time .dropoff-time, .date-time .pickup-time {
      left: -25%;
    }
  }
  .modal-body {
    height: auto;
  }
}

.location-date-time-modal {

  .location-select-error {
    border: 1px solid $messageGold;
    border-top: 2px dashed $black;
  }


  .btn-change {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $medium;
  }
  .back {
    color: $enterpriseGreen;
  }
  .modal-actions {
    text-align: center;

    margin: 25px auto;
    .text-btn.back {
      float: left;
    }
    .btn {
      &.ok {
        float: right;
        padding: 10px 30px;
      }
      &.disabled {
        color: $white;
        cursor: not-allowed;
        position: relative;
        &:hover {
          color: $enterpriseLightGreen;
          cursor: not-allowed;
          transform: none;
        }
      }
    }
    @media(max-width: $bp-med-2) {
      width: 100%;
      .btn {
        float: none;
      }
    }
  }
  .content {
    overflow: auto;
    .white-date-time-container {
      padding: 0;
    }
    h2 {
      padding: 10px 0;
    }
  }
  .booking-widget .date-time > div {
    position: relative;
  }
}

.location-date-time-modal.dropoff .date-time-selector {
  .pickup, .arrow {
    display: none;
  }
}

.location-date-time-modal.pickup .date-time-selector {
  .dropoff, .arrow {
    display: none;
  }
}

.location-details .location-search {
  padding: 10px 50px 0px;
  overflow: visible;
}

$search-results-width: 480px;
.map-wrapper {
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  //top: 140px;
  //change refactor -- still need refactor :(
  position: absolute;
  top: 88px;
  left: $search-results-width;
  width: calc(100% - #{$search-results-width});
  height: 100vh;
  .search-this-area {
    font-size: 14px;
    display: none;
    cursor: pointer;
    top: 110px;
    width: 379px;
    right: 5%;
    text-align: center;
    background: $black;
    padding: 7px 20px;
    z-index: 1;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    &.active {
      display: block;
    }
  }
  #map-canvas {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    img {
      max-width: none;
    }
  }
}

.search-results {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  display: block;
  width: $search-results-width;


  .search-results-count {
    font-family: $medium;
    font-size: 25px;
    text-transform: none;
    background: $lightestGray;
    padding: 15px 20px 5px 64px;
    border: 1px solid $lightGray;
    border-bottom: none;
    max-height: 200px;
    small {
      float: right;
      margin-top: 3px;
      font-size: 14px;
      color: $darkGray;
    }
    &.load {
      height: 200px;
      .transition {
        bottom: 20px;
      }
    }
  }

  $active-filters-v-padding: 40px;
  $active-filters-h-padding: 25px;
  &__active-filters {
    position: relative;
    padding: $active-filters-v-padding $active-filters-h-padding;
    background-color: $darkestGray;
    color: white;
    font-family: $regular;
  }
  &__active-filters-title {
    margin-bottom: 5px;
    color: inherit;
    font-family: $bold;
    text-transform: uppercase;
  }
  &__active-filters-clear-button {
    padding: 12px 16px;
    font-family: $bold;
    @media all and (min-width: $bp-med-2 + 1) {
      position: absolute;
      right: $active-filters-h-padding;
      top: $active-filters-v-padding;
    }
  }

  .location-index {
    font-size: 28px;
    font-family: "DINLight", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 7px;
    height: 100%;
    width: 45px;
    text-align: center;
    z-index: 1;
    background-color: $enterpriseGreen;
    color: $white;
    @media all and (max-width: $bp-med-2) {
      display: none;
    }
    &.country-location-index {
      font-size: 20px;
    }
  }
  .is-closed .location-index {
    background-color: $darkGray;
  }
}

.location-result-item {
  $index-width: 45px;
  $padding: 20px;
  $left-padding: $padding + $index-width;
  $closed-bar-height: 35px;
  $closed-icon-size: 13px;
  $closed-icon-margin: 5px;
  $item-border-width: 1px;
  border: $item-border-width solid $lightGray;
  border-bottom: none;
  background-color: white;
  min-height: 140px;
  position: relative;

  &:last-child {
    border-bottom: 1px solid $lightGray;
  }
  &.active {
    display: block;
  }
  &.no-result {
    display: block;

    background-color: $messageGold;
    padding: 20px;
    border: 2px dashed black;

    .icon.icon-alert-caution {
      height: 40px;
      width: 40px;
      float: left;
      display: inline-block;
    }
    .content-container p {
      font-family: $bold;
      font-size: 16px;
      margin-left: 55px;
    }
  }
  .location-type-icon {
    display: inline-block;
    vertical-align: top;
    right: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    &.icon-ico-motorcycle {
      width: 28px;
    }
  }
  .location-information {
    display: inline-block;
    width: auto;
    width: calc(100% - 53px);
    .location-name {
      display: inline-block;
      font-family: $medium;
      font-size: 18px;
      width: 100%;
      line-height: 1.1;
      color: $enterpriseGreen;
      h2 {
        margin-bottom: 0;
        max-width: 290px;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
    }
    .location-address {
      font-family: $regular;
      font-size: 16px;
      line-height: 18px;
      color: $darkGray;
    }
  }
  .btn-grp {
    .location-detail-toggle {
      position: relative;
      top: 11px;
      float: left;
      padding-right: 20px;
      font-size: 17px;
      font-family: $medium;
      text-transform: none;
      cursor: pointer;
      color: $enterpriseGreen;
      vertical-align: bottom;
      line-height: 1;
      .icon.icon-nav-carrot-green {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 2.5px;
        right: 0px;
      }
    }
    .btn {
      margin: 0;
      padding: 10px 20px;
      min-width: 140px;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      &.date-time-adjust {
        border: 2px solid $enterpriseGreen;
        background-color: transparent;
        color: $enterpriseGreen;
      }
      &:not(.date-time-adjust) {
        &:hover, &:focus {
          background: $darkGreen;
        }
      }
    }
    .ok {
      float: none;
    }
  }
  &__main-content {
    padding: $padding $padding $padding $left-padding;
    .highlight & {
      background-color: $lightestGray;
    }
  }
  &__select-wrapper {
    width: 145px;
    float: right;
    text-align: center;
  }
  &__date-change-label {
    font-size: 14px;
    font-family: $regular;
    color: $darkGray;
  }
  &__closed-bar {
    $background-color: $messageGold;
    position: relative;
    padding: 10px 0 10px $left-padding;
    height: $closed-bar-height;
    background-color: $background-color;
    color: $black;
    font-family: $regular;
    font-size: 12px;
    text-transform: uppercase;

    &:after {
      $size: 15px;
      content: "";
      position: absolute;
      top: -2 * $size;
      right: 75px;
      border-color: transparent transparent $background-color;
      border-width: $size;
      border-style: solid;

    }
    .icon {
      display: inline-block;
    }
  }
  &__closed-icon.icon {
    width: $closed-icon-size;
    height: $closed-icon-size;
    vertical-align: sub;
    margin-right: $closed-icon-margin;
  }
  &__closed-hours-button {
    display: inline;
    padding: 0;
    background-color: transparent;
    font-size: 1em;
    letter-spacing: normal;
  }
  &.is-hovering &__closed-hours-button {
    pointer-events: none;
    opacity: 0;
  }
  &__closed-hours {
    display: none;
    background-color: $messageGold;

    &.is-showing {
      display: block;
    }
  }
  &__closed-hours-title {
    font-size: inherit;
    color: inherit;
  }
  &__closed-status {
    margin: 10px 0 20px;
    font-family: $bold;
    list-style: disc;

    >li {
      margin-left: 10px;

      &:first-child:last-child {
        display: block;
        margin-left: 0;
      }
    }
  }
  .location-after-hours {
    font-size: 12px;
    font-family: $medium;
    margin: 10px 0 0;
    .icon-after-hours {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }
    .location-after-hours_tooltip {
      color: $enterpriseGreen;
      cursor: pointer;

      &:hover, &:focus {
        .location-after-hours_tooltip-content {
          display: inline-block;
        }
      }
      .location-after-hours_tooltip-content {
        position: absolute;
        color: $darkGray;
        font-family: $medium;
        font-size: 14px;
        z-index: 1;
        right: -10px;
        left: 30%;
        bottom: 35px;
        display: none;
        padding: 0 0 15px;
        div {
          background-color: $lightestGray;
          border: 1px solid $lightGray;
          padding: 12px;
          position:relative;

          &:after, &:before {
            top: 100%;
            left: 25%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-top-color: $lightestGray;
            border-width: 12px;
            margin-left: -12px;
          }
          &:before {
            border-top-color: $lightGray;
            border-width: 13px;
            margin-left: -13px;
          }
        }

        a{
          display:block;
          color:$enterpriseGreen;
        }
      }
    }
  }

  @media all and (max-width: $bp-med-2) {
    // Mobile styles

    border-width: 5px 0 0;
    border-color: $shadowGray;

    .location-name {
      position: relative;
      i {
        top: 0;
        right: -20px;
      }
    }

    &__main-content {
      padding: $padding;
    }
    &__closed-bar {
      padding: 10px 20px;

      .icon {
        $size: 16px;
        $margin: 10px;
        float: left;
        margin: 1px $margin 0 (-$margin);
        width: $size;
        height: $size;
      }
    }
    &__closed-label {
      font-family: $bold;
    }
    &__closed-hours-title,
    &__closed-status {
      display: none;
    }
    &__open-hours {
      padding: 5px $padding 5px ($padding + $closed-icon-size + $closed-icon-margin);
      font-size: 14px;
    }
  }

  @media all and (min-width: $bp-med-2 + 1) {
    // Desktop styles
    .location-name {
      h3 {
        color: $black;
        display: inline;
      }
      i {
        display: inline;
        right: auto;
        margin-left: 20px;
      }
    }
    &__closed-bar {
      .icon {
        $size: 9px;
        margin-left: 5px;
        width: $size;
        height: $size;
      }
    }
    &__closed-hours-button {
      color: $enterpriseGreen;
      &:before {
        content: " - ";
        color: $black;
      }
      .icon {
        width: 0.7em;
        height: 0.7em;
        margin-left: 5px;
      }
    }
    &__closed-hours {
      $width: 210px;
      $border-width: 2px;
      position: absolute;
      right: - ($width + $item-border-width);
      top: - $item-border-width;
      padding: 20px;
      border: $border-width dashed black;
      border-left: 0;
      height: calc(100% - #{(-2) * $item-border-width}); // ECR-12789 - I know this doesn't make any sense, but the CSS minifier will remove whitespaces if we use `+` here
      width: $width;
      color: $black;
      font-size: 12px;

      /*
      // Uncomment this if the closed hours alert should display an arrow
      $arrow-outer-size: $closed-bar-height/2;
      $arrow-inner-size: $arrow-outer-size - 2* $border-width;
      &:before {
        content: "";
        position: absolute;
        bottom: -$border-width;
        left: -2*$arrow-outer-size;
        border-color: transparent black transparent transparent;
        border-width: $arrow-outer-size;
        border-style: dashed;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -$border-width;
        left: -2*$arrow-outer-size + $border-width;
        border-color: transparent $messageGold transparent transparent;
        border-width: $arrow-outer-size;
        border-style: solid;
      }
      */
    }
    &__closed-hours-title {
      font-size: inherit;
      color: inherit;
    }
    &__closed-status {
      margin: 10px 0 20px;
      font-family: $bold;
      list-style: disc;

      >li {
        margin-left: 10px;

        &:first-child:last-child {
          display: block;
          margin-left: 0;
        }
      }
    }
  }
}


.location-search-filter {
  // Common styles
  &__heading {
    font-family: $bold;
    text-transform: none;
  }
  &__open-for-my-times-label {
    display: inline-block;
    font-size: 16px;
  }
  &__open-for-my-times-input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  &__open-for-my-times-input +
  &__open-for-my-times-label:before {
    $size: 20px;
    content: "";
    display: inline-block;
    margin-right: 5px;
    border: 1px solid $lightGray;
    height: $size;
    width: $size;
    vertical-align: sub;
  }
  &__open-for-my-times-input:focus +
  &__open-for-my-times-label:before {
    outline: 2px solid $enterpriseGreen;
    border-color: $enterpriseGreen;
  }
  &__open-for-my-times-input:checked +
  &__open-for-my-times-label:before {
    background-color: $enterpriseGreen;
  }
  @media all and (max-width: $bp-med-2) {
    // Mobile styles
    &:not(.is-active) {
      display: none;
    }
    &__mobile-header {
      margin: 10px;
      color: $black;
      text-transform: none;
      font-family: $regular;
      &.load {}
    }
    &__mobile-toggle-button {
      border: 0;
      padding: 0;
      float: right;
      background-color: inherit;
      color: $darkGray;
      font-size: inherit;
      .icon {
        display: inline-block;
        margin-left: 10px;
        vertical-align: bottom;
      }
    }
    &__container {
      display: none;
      padding: 20px;
      background-color: $heroGray;
      color: $darkGray;
      .mobile-expanded & {
        display: block;
      }
    }
    &__heading {
      margin-bottom: 15px;
      color: inherit;
      font-size: 20px;
    }
  }
  @media all and (min-width: $bp-med-2 + 1) {
    // Desktop styles
    &__mobile-header {
      display: none;
    }
    &__container {
      $vertical-margin: 33px; // @todo - This margin depends on the height of the location search bar. Refactor when possible.
      position: absolute;
      top: 0;
      right: 0;
      margin: $vertical-margin 70px;
    }
    &__heading {
      display: inline-block;
      margin-right: 15px;
      color: $darkestGray;
      font-size: 16px;
      &:after {
        content: ": ";
      }
    }
  }
}

.search-results-wrapper .mobile-results-header {
  display: none;
}

.search-results {
  .location-details-overlay {
    max-height: none;
    height: auto;
    padding: 0;
    position: relative;
    width: $search-results-width;
    background-color: $white;
    .error-container {
      margin: 0;
    }
    &:hover {
      background-color: $white;
    }
    .prev, .next, .btn {
      cursor: pointer;
    }
    .back-to-results {
      position: relative;
      display: flex;
      width: 75%;
      background-color: $enterpriseGreen;
      &__button {
        margin: 0;
        padding: 8px 20px 6px;
        color: $white;
        background-color: $darkGreen;
        font-family: $medium;
        font-size: 14px;
        line-height: 1;
        letter-spacing: -0.020em;
        i {
          margin-right: 20px;
          font-family: $light;
          font-size: 16px;
          font-style: normal;
        }
      }
      .details-navigation {
        flex: 1;
        padding: 7px 10px;
        line-height: 1;
        text-align: right;

        .next, .prev {
          color: $white;
          margin: 0;
          border: 0;
          padding: 0;
          line-height: 1;
          background-color: transparent;
          &.disabled {
            color: $midGray;
            cursor: not-allowed;
          }
        }
        .next {
          margin-left: 20px;
        }
      }
      @media all and (max-width: $bp-med-2) {
        margin-top: 0;
        padding: 10px;
        width: auto;
        background-color: $heroGray;
        &__button {
          padding-left: 10px;
          background-color: inherit;
          color: $darkestGray;
          font-size: 15px;
          i {
            margin-right: 10px;
          }
        }
        .details-navigation {
          padding: 6px 0;
          .next, .prev {
            color: $enterpriseGreen;
            font-size: 19px;
          }
        }
      }
    }
    .select-location {
      margin: 25px 25px 50px;
      display: inline-block;
      padding: 14px 28px;
    }
    .location-after-hours {
      font-family: $medium;
      margin: 0;
      padding: 10px 15px;
      background-color: $bgGray;
      .icon-after-hours {
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        width: 16px;
        margin: 5px;
      }
      .location-after-hours_tooltip {
        color: $enterpriseGreen;
        cursor: pointer;
        text-decoration: underline;
        font-size: 12px;

        &:hover, &:focus {
          .location-after-hours_tooltip-content {
            display: inline-block;
          }
        }
        .location-after-hours_tooltip-content {
          position: absolute;
          color: $darkGray;
          font-family: $medium;
          font-size: 14px;
          z-index: 1;
          right: -10px;
          left: 30%;
          display: none;
          padding-top: 35px;
          div {
            background-color: $lightestGray;
            border: 1px solid $lightGray;
            padding: 12px;
            position:relative;

            &:after, &:before {
              bottom: 100%;
              left: 25%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &:after {
              border-bottom-color: $lightestGray;
              border-width: 12px;
              margin-left: -12px;
            }
            &:before {
              border-bottom-color: $lightGray;
              border-width: 13px;
              margin-left: -13px;
            }
          }

          a{
            display:block;
            color:$enterpriseGreen;
          }
        }
      }
    }
    .btn {
      font-weight: normal;
      padding: 14px 28px;
      margin-top: 20px;
      margin-right: 15px;
      text-transform: uppercase;
      &.full {
        width: 100%;
      }
      &.select {
        background-color: $enterpriseGreen;
        &:hover, &:focus {
          background: $darkGreen;
        }
      }
      &.direction {
        background-color: $darkGray;
        &:hover, &:focus {
          background-color: $black;
        }
      }
    }
    .general-information {
      padding: 40px 40px 40px 50px;
      position: relative;
      .location-index {
        padding-top: 40px;
      }
      .location-name {
        text-transform: capitalize;
        font-family: $medium;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
      .location-address, .tel {
        font-size: 14px;
      }
    }
    .location-tabs {
      text-align: center;
      $tab-border-width: 2px;
      .about-location-tab, .directions-from {
        text-transform: uppercase;
        font-family: $medium;
        width: 50%;
        display: inline-block;
        font-size: 13px;
        height: 35px;
        padding-top: 8px;
        border-top: $tab-border-width solid $bgGray;
        border-bottom: $tab-border-width solid $bgGray;
        cursor: pointer;
        background-color: $lightestGray;
      }
      .about-location-tab.active {
        position: relative;
        .tab-shadow {
          $width: 11px;
          position: absolute;
          width: 0;
          height: 0;
          right: -($width + $tab-border-width);
          bottom: 0px;
          border-bottom: 35px solid rgba($lightGray, 0.4);
          border-right: 11px solid transparent;
        }
      }
      @media all and (max-width: $bp-small) {
        .about-location-tab, .directions-from {
          height: 50px;
          padding-top: 18px;
        }
      }
      @media all and (max-width: $bp-med-2) {
        .tab-shadow {
          display: none;
        }
      }
      .directions-from {
        color: transparent;
        cursor: auto;
        background-color: $white;
        border-top: none;
        border-bottom: 2px solid #E6E3E3;
      }
      .enabled {
        &.directions-from {
          cursor: pointer;
          color: $black;
          border-top: 2px solid #E6E3E3;
          background-color: $lightestGray;
          visibility: visible;
        }
      }
      .active {
        &.about-location-tab {
          cursor: auto;
          border-top: 2px solid $enterpriseDarkGreen;
          background-color: $white;
          border-bottom: 0;
          border-right: 2px solid #E6E3E3;
        }
        &.directions-from {
          cursor: auto;
          border-top: 2px solid $enterpriseDarkGreen;
          background-color: $white;
          border-bottom: 0;
          border-left: 2px solid #E6E3E3;
        }
      }
    }
    .select-location {
      cursor: pointer;
      text-transform: uppercase;
      background: $enterpriseGreen;
      color: $white;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover, &:focus {
        background: $darkGreen;
      }
    }
  }
}

.about-location {
  display: none;
  padding: 40px;
  &.active {
    display: block;
  }
  .location-introduction {
    margin: 0;
    padding: 0px 0 10px 0;
    .heading {
    }
    .content {
    }
    p {
      font-family: $light;
      font-size: 14px;
    }
    img {
      float: left;
      margin: 0 15px 10px 0;
    }
  }
  .location-availability {
    //margin-top: rem-calc(28);
    margin-bottom: 25px;
    .location-availability-control {
      height: 34px;
      margin: 23px 0 20px 0;
      text-align: center;
      font-family: $medium;
      border: 1px solid $lightGray;
      box-sizing: border-box;
      font-size: 16px;
      .next, .prev {
        background-color: $enterpriseGreen;
        height: 100%;
        padding-top: 3px;
        width: 28px;
        color: $white;
        cursor: pointer;
        &.disabled {
          visibility: hidden;
        }
        &:hover, &:focus {
          background-color: $darkGreen;
        }
      }
      .next {
        float: right;
      }
      .prev {
        float: left;
      }
      .week-label {
        position: relative;
        margin-top: 5px;
        display: inline-block;
      }
    }
  }

  .location-availability-header {
    font-family: $medium;
    color: $black;
    .for-the-week {
      font-family: $light;
    }
  }
  .location-hour-item {
    display: inline-block;
    .location-hour {
      display: block;
    }
  }
  .availability-datatable {
    border: none;

    td, th {
      border: none;
      display: inline-block;
    }
  }
  .availability-wrapper {
    display: inline-block;
    width: 100%;
    padding: 4px 10px;
    color: $darkGray;
    &:nth-child(even) {
      background-color: $lightestGray;
    }
  }
  .location-date {
    vertical-align: top;
    min-width: 150px;
    display: inline-block;
  }
  @media all and (max-width: $bp-med-2) {
    .location-date {
      min-width: 100px;
    }
  }
}

.way-finding {
  display: none;
  padding: 30px;
  img {
    height: 30px;
  }
  &.active {
    display: block;
  }
  .direction {
    vertical-align: top;
    margin-left: 20px;
    display: inline-block;
    width: 80%;
    margin-bottom: 20px;
  }
}

.pick-you-up,
.location-attribute {
  position: relative;
  margin-bottom: rem-calc(6);
  font-size: 14px;
  font-family: $light;

  .has-tip .policy-label {
    cursor: pointer;
  }
  .policy-label {
    color: $enterpriseGreen;
  }
  .policy-toggle {
    cursor: pointer;
  }
  i.icon {
    display: inline-block;
    width: rem-calc(14);
    height: rem-calc(14);
    margin-right: rem-calc(4);
    vertical-align: sub;
  }

  &.disabled {
    i.icon {
    }
    .policy-label {
      color: $lightGray;
      cursor: default;
    }
    .policy-toggle {
      cursor: default;
    }
    &:hover .tooltip {
      display: none;
    }
  }

  .tooltip {
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    margin-top: -4px;
    padding: 20px;
    border: none;
    background-color: $black;
    transform: translateY(-50%);
    color: $white;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -8px;
      top: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      margin-top: -4px;
      border-style: solid;
      border-width: 7.5px 8px 7.5px 0;
      border-color: transparent #000000 transparent transparent;
    }
  }
}

.pick-you-up {
  display: inline-block;
  &:hover .tooltip {
    display: block;
  }
}

.mobile-info-window {
  .location-name {
    font-family: $regular;
    font-size: 18px;
  }
  .location-information {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .btn {
    padding: 12px 15px;
    font-size: 12px;
    font-family: $light;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
    background-color: $enterpriseDarkGreen;
    &:hover {
      background-color: $enterpriseGreen;
    }
  }
}

.SEO-locationHours {
  .location-date {
    min-width: 0 !important;
  }
  .location-hour-item {
    float: right;
  }
}

.map-labels {
  //outline: 1px solid red; // best for debugging!
  color: $white;
  font-family: $light;
  font-size: 12px;
  text-align: right;
  padding-top: 14px;
  padding-right: 10px;
  //width: 20px;
  width: 64px;
  height: 43px;
  white-space: nowrap;
  //transition: all .05s ease-in; // may want to turn this back on
}

.map-labels:hover,
.map-labels-over {
  //outline: 1px solid red; // best for debugging!
  color: $white;
  font-family: $light;
  text-align: right;
  font-size: 20px;
  padding-top: 17px;
  padding-right: 12px;
  //width: 30px;
  width: 94px;
  height: 62px;
  white-space: nowrap;
  //transition: all .05s ease-in; // may want to turn this back on
}

/*
* Time Picker Overrides
*/
.time-unit-container li {
  display: block;
}

@media(max-width: $bp-large) {
  .reservation-flow.location #location .location-search .gi.location-search-header {
    margin-top: 0;
    .alpha {
      font-size: 30px;
      line-height: 1.1;
    }
  }
}

@media all and (max-width: $bp-med-2) {
  .location-date-time-modal .content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 47%;
  }
  .location-details {
    .mobile-results-header {
      display: block;
    }

    .location-search {
      .locationInput-active {
        .auto-complete {
          top: 60px !important;
          left: 0;
          margin-top: 0;
        }
      }
    }
    .location-details-overlay.active {
      max-width: $search-results-width;
      width: 94%;
      margin: 0 auto;
    }
    .map-wrapper {
      top: initial;
      left: initial;
      width: 100%;
      position: absolute;
      &.active {
        position: relative;
      }
    }
    .search-results-wrapper .mobile-results-header {
      display: block;
      visibility: visible;
      height: auto;
      padding: 0;
      .tab {
        position: relative;
        display: inline-block;
        border-top: 2px solid $bgGray;
        border-bottom: 2px solid $bgGray;
        padding: 20px;
        width: 50%;
        cursor: pointer;
        font-family: $regular;
        text-transform: uppercase;
        text-align: center;
        background-color: $lightestGray;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -2px;
          border-bottom: 66px solid rgba($lightGray, 0.4);
          width: 0;
          height: 0;
        }
        &:first-of-type {
          border-right: 2px solid $bgGray;
          &:after {
            right: 0;
            border-left: 11px solid transparent;
          }
        }
        &:last-of-type {
          border-left: 2px solid $bgGray;
          &:after {
            left: 0;
            border-right: 11px solid transparent;
          }
        }
        &.active {
          background-color: $white;
          border: solid $enterpriseDarkGreen;
          border-width: 3px 0 0;
          &:after {
            display: none;
          }
        }
      }
    }
    .search-results {
      left: 0;
      top: 0;
      min-height: 0;
      padding-bottom: 0;
      width: auto;
      margin: 0;
      min-width: 100%;
      .location-details-overlay.active {
        max-width: none;
        width: 100%;
        //padding-bottom: 10px;
        .location-tabs {
          .directions-from {
            float: right;
          }
        }
      }
      .search-results-count.active {
        display: none;
      }
      .location-result-item {
        background-color: $white;
        display: none;
        &.no-result {
          background-color: $messageGold;
        }
        &.active {
          display: block;
        }
      }

    }
  }
}

@media(max-width: $bp-med) {
  .about-location {
    padding: 25px;
  }
  .location-search-header {
    padding: 0.5em 1em;
    .alpha {
      font-size: 24px;
      line-height: 1.1;
    }
  }
  .search-results li .location-information .location-address {
    line-height: 1.1;
  }
  .search-results .btn-grp {
    margin-top: 5px;

    .ok {
      margin-top: 3px;
    }
  }

  .location-details .modal-container.active .modal-content.date-time-error-modal .location-select-error {
    .icon-container {
      margin-bottom: 10px;
    }
    .location-hour {
      margin-bottom: 10px;
    }
    h2 {
      padding: 0 0 3px 0;
      font-size: 18px;
    }
  }
  .modal-container.active.full-screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .modal-content {
      position: static;
      width: 100%;
      height: 100%;
      margin: 0;
      .modal-header {
        position: fixed;
        width: 100%;
        z-index: 10;
      }
      .modal-body {
        height: auto;
        margin-top: 60px;
        //padding: 0;

        .content {
          position: relative;
          left: auto;
          padding: 0;
        }

        .modal-actions {
          .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            padding: 20px;
            background-color: $enterpriseGreen;
            color: #fff;
            font-style: normal;
            text-align: left;
          }
        }

        .white-date-time-container {
          margin: 0;
          padding: 0;
        }
        .booking-widget {
          width: 100%;
        }
      }
    }
  }
}
.marker-tooltip-wrapper {
  background-color: $messageGold; //Google maps stuff
  padding: 8px;
  width: auto !important;
  height: 52px;
  border: 1px solid white;
  .marker-tooltip-content {
    text-transform: uppercase;
    text-align: center;
    font-family: $medium;
    font-size: 14px;
    white-space: nowrap;
    .marker-tooltip-content-sub {
      text-transform: none;
      font-family: $regular;
    }
  }
}
