//Resetting global styles
ul.utility-nav > li.login,
.master-nav, #reservationHeader {
  .sign-in {
    cursor: auto;
  }
}

ul.utility-nav > li.active .login-widget .utility-nav-content,
.master-nav .sign-in .login-widget.active .utility-nav-content,
#reservationHeader .sign-in .login-widget.active .utility-nav-content {
  padding-top: 0;
}

ul.utility-nav > li .login-widget .utility-nav-content,
.master-nav .sign-in .login-widget .utility-nav-content,
#reservationHeader .sign-in .login-widget .utility-nav-content {
  fieldset {
    margin-top: 0;
  }
}

ul.utility-nav > li.active .login-widget.active .utility-nav-content {
  padding-top: 0;
}

.master-nav, #reservationHeader {
  .sign-in {
    .login-widget .utility-nav-label {
      cursor: pointer;
      padding: 0;
      max-height: 70px;
    //   white-space: nowrap;
    }

    .login-text {
      white-space: nowrap;
      padding: .3rem .5rem .2rem;
      background-color: $enterpriseDarkGreen;
    }
  }
}
.alert-message-wrapper {
  .alert-message {
    a {
      color: $enterpriseGreen;
      &:hover {
        color: $enterpriseDarkGreen;
      }
    }
  }
}
.master-nav, #reservationHeader {
  .login-widget {
    font-family: $light;

    legend {
      display: none;
    }

    .utility-nav-label {
      font-family: $regular;
      color: $white;
      padding: 25px 10px 25px 10px;
      .icon {
        display: inline-block;
        margin-bottom: -6px;
        margin-right: 10px;
      }
      .points {
        font-family: $light;
        text-transform: none;
      }
    }

    .utility-nav-content {
      line-height: rem-calc(70);
      height: 0;
      position: absolute;
      right: rem-calc(10);
      transition: all 250ms ease-in-out;
      width: rem-calc(400);
      z-index: 1000;

      a, .logout {
        color: $enterpriseGreen;
        display: block;
        line-height: 2.5em;
        cursor: pointer;

        &:hover {
          color: $enterpriseDarkGreen;
        }
      }

      .loading {
        background-color: $black;
        margin: rem-calc(32.32 0);
      }

      &.ec .loading {
        background-color: #222324;
      }

      .btn {
        cursor: pointer;
        background: $enterpriseGreen;
        color: $white;
        font-family: $bold;
        font-size: .9em;
        text-transform: uppercase;
        line-height: 9.5px;
        &:hover {
          background: $enterpriseDarkGreen;
        }
        &.disabled {
          background: rgb(186, 186, 186);
          cursor: not-allowed;
          color: $darkGray;
        }
      }

      .icon.icon-nav-carrot-white {
        height: rem-calc(10);
        display: inline-block;
        width: rem-calc(10);
        margin-right: rem-calc(6);
        &.up {
          transform: rotate(270deg);
        }
        &.down {
          transform: rotate(90deg);
        }
      }

      .icon.icon-utility-notch {
        height: rem-calc(40);
        position: absolute;
        right: rem-calc(80);
        top: 0;
        width: rem-calc(40);
        display: none;
        z-index: 200;
      }

      &.authenticated {
        fieldset {
          .field-container {
            &.left-container {
              opacity: 0;
              visibility: hidden;
            }
            &.right-container {
              opacity: 0;
            }
            &.logged-in {
              opacity: 0;
            }
          }
        }
      }

      fieldset {
        background-size: 2.5rem;
        background-position: 92% 0;
        height: auto;
        display: none;
        .field-container {
          //float: left;
          width: 50%;
          padding: 0;
          margin: 0;
          border: 0;
          &.left-container {
            margin: rem-calc(30 0 20 0);
            opacity: 0;
            padding: 0 30px;
            position: absolute;
            transition: all 250ms ease-in-out;
          }
          &.right-container {
            border-left: 1px solid $darkestGray;
            left: 50%;
            opacity: 0;
            position: relative;
            height: rem-calc(509);
            transition: all 250ms ease-in-out;

            .error-container {
              position: absolute;
              top: -3px;
              z-index: 100;
              width: 100%;
            }
          }
          h4 {
            font-size: 1.25rem;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
          }
          label {
            display: block;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 7px;
            font-size: rem-calc(14);
            line-height: 1;
            color: $white;
            cursor: pointer;
          }
          input[type='text'],
          input[type='password'] {
            display: block;
            height: 50px;
            margin-bottom: 10px;
          }
        }

        .login-field-container {
          visibility: hidden;
          height: 445px;
          margin: 0;
          padding: rem-calc(30);
          opacity: 0;
          transition: all 1s ease-in-out;
          transition-delay: 500ms;
          .icon {
            //   float: left;
            display: inline-block;
            margin-right: 10px;
          }
          h4 {
            position: relative;
            margin-left: 30px;
            .icon {
              position: absolute;
              left: -30px;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .enterprise-login {
        &.active {
          .login-field-container {
            opacity: 1.0;
            visibility: visible;
          }
        }
      }
      .emerald-club-login {
        background-color: #222324;
        border: 1px solid $darkestGray;
        border-left: 0 none;
        position: relative;
        top: 0;
        transition: all 500ms ease-in-out;
        &.active {
          top: -509px;
          .login-field-container {
            visibility: visible;
            opacity: 1.0;
            height: 447px;
          }
        }
      }

      .emerald-club-login-message {
        color: #797979;
        font-size: 1rem;
        margin: 20px 0;
        display: block;
        line-height: normal;
      }

      .panel-toggle {
        cursor: pointer;
      }

      .emerald-club, .enterprise-plus {
        color: $enterpriseGreen;
        line-height: normal;
        padding: rem-calc(20 30);
        border-top: 1px solid $darkestGray;
        border-bottom: 1px solid $darkestGray;
        background-color: #222324;
        visibility: hidden;

        &.active {
          visibility: visible;
        }

        &.disabled {
          opacity: 0.33;
          .panel-toggle {
            cursor: default;
          }
        }
      }

      .enterprise-plus {
        background-color: $black;
      }

      .error-container {
        margin: 0 0 20px;
      }
      .btn {
        width: 100%;
        height: 50px;
        line-height: 40px;
      }
      .eplus-remember {
        color: $enterpriseGreen;
      }
    }
    &.active {
      .utility-nav-content {
        width: rem-calc(600);
        height: rem-calc(509);

        &.authenticated {
          @include textured-bg2;
          min-width: 0;
          width: rem-calc(360);
          height: auto;

          &.ec {
            background: $black;
            height: rem-calc(350);

            .ec-description {
              font-size: rem-calc(14);
              line-height: 1.5rem;
            }
          }

          fieldset {
            padding: rem-calc(30);

            .field-container {
              width: 100%;
              line-height: rem-calc(50);
              .member-info {
                line-height: 20px;
                padding-bottom: 20px;
              }
              .loyalty-container {
                color: $white;
                border: 1px solid $white;
                line-height: rem-calc(30);
                margin-bottom: rem-calc(20);

                .member-info {
                  padding: rem-calc(20);
                  img {
                    height: auto;
                    width: rem-calc(35);
                    float: right;
                  }

                  .user-name {
                    font-family: $light;
                    font-size: 22px;
                  }
                  .loyalty-number {
                    font-family: $light;
                    font-size: 14px;
                  }
                }

                .tier-banner {
                  //background-image: url('/etc/designs/ecom/dist/img/icons/png/Ent-Icon-plus.png');
                  //background-repeat: no-repeat;
                  //background-position-x: rem-calc(20);
                  //background-size: contain;
                  height: rem-calc(35);

                  &.plus {
                    background-color: $enterpriseGreen;
                  }
                  &.silver {
                    background-color: $silver-tier;
                  }
                  &.gold {
                    background-color: $gold-tier;
                  }
                  &.platinum {
                    background-color: $platinum-tier;
                  }

                  .tier-label {
                    text-align: right;
                    padding-right: rem-calc(20);
                    padding-top: rem-calc(2);
                    font-family: $light;
                    font-size: 12px;

                    .tier {
                      font-family: $bold;
                      font-size: 20px;
                    }
                  }

                  i {
                    position: absolute;
                    left: rem-calc(50);
                    width: rem-calc(35);
                    height: rem-calc(35);
                    background-size: cover;
                  }
                }

                .points-container {
                  padding: rem-calc(20);
                  font-family: $light;
                  font-size: 22px;

                  small {
                    font-size: 14px;
                  }
                }

                span {
                  padding-left: 0 !important;
                }
              }
              &.left-container {
                opacity: 0;
              }
              &.logged-in {
                opacity: 1.0;
                .icon {
                  float: left;
                  margin-right: 10px;
                }
              }
            }
          }
          .left-container {
            opacity: 0;
          }
          .right-container {
            width: 90%;
            margin: 1.25em auto;
          }
        }

        fieldset {
          display: block;
          .field-container {
            &.left-container {
              opacity: 1.0;
            }
            &.right-container {
              opacity: 1.0;
            }
          }
        }

        .icon.icon-utility-notch {
          display: block;
          right: 6rem;
          height: 14px;
          width: 26px
        }
      }
    }
    .modal-container {
      z-index: 1805;
      .terms.modal-content {
        height: 80%;
        overflow: auto;
        ol {
          margin-top: rem-calc(10);
        }
        .modal-actions {
          float: right;
          margin-bottom: rem-calc(30);
        }
      }
      .modal-content {
        color: $black;
        line-height: normal;
        padding-bottom: rem-calc(20);
        .recover-container {
          margin-top: rem-calc(30);
          width: 60%;
        }
        .btn {
          padding: rem-calc(12) rem-calc(50);
          &:hover {
            background-color: $enterpriseDarkGreen;
          }
          &.disabled {
            background: rgb(186, 186, 186);
            cursor: not-allowed;
          }
        }
        .modal-actions {
          margin-top: rem-calc(30);
          .loading {
            margin-bottom: rem-calc(20);
          }
          .cancel {
            background-color: $darkGray;
            margin-right: rem-calc(30);
            &:hover {
              background-color: $darkestGray;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: rem-calc(715)) {

  .master-nav, #reservationHeader {
    .login-widget {

      .utility-nav-label {
        padding: 0;
        margin: rem-calc(0 20);
      }

      .utility-nav-content {
        width: 100%;
        right: 0;
        line-height: 3rem;
        min-width: 0;
        fieldset {
          .field-container {
            float: none;
            width: 100%;
          }
        }
        .icon.icon-utility-notch {
          display: none;
        }
        h2 {
          color: $white;
        }
      }

      &.active {
        background-color: $black;

        .utility-nav-content {
          background-color: $black;
          height: auto;
          width: 100%;

          fieldset {
            margin-top: 0;

            .field-container {
              .eplus-remember {
                padding: 15px 0;
              }
            }

            .left-container {
              position: relative;
              background-color: $black;
              padding: 0 30px;
              margin-top: 0;

              a {
                padding: 5px 0;
              }
            }

            .right-container {
              border-left: 0 none;
              left: 0;
              height: auto;
              .mask {
                overflow: hidden;
                height: rem-calc(500);

                .emerald-club,
                .enterprise-plus {
                  background: #181918;
                  border: none;
                }

              }


            }

          }

          .emerald-club-login {
            background: #181918;
            border: none;

            &.active {
              top: -510px;
            }
          }

          &.authenticated {
            width: 100%;
            fieldset .left-container {
              display: none;
            }
          }

          a {
            line-height: 2em;
            color: $enterpriseGreen;
            padding: 15px 0;
            .icon-nav-carrot-white {
              display: none;
            }
          }

          .icon.icon-utility-notch {
            display: none;
          }

        }
      }
    }
  }
}
