// This is a step in refactoring the modals to be more generic. Originally this was .personal-entry-form
.payments-wrapper {
  hr {
    width: 100%;

    &.divider {
      border-bottom: 2px solid $black;
      margin-top: auto;
    }
  }

  h2 {
    font-size: 37px;
    border: 0 !important;
  }

  select, input {
    text-transform: uppercase;
  }

  input[type="password"] {
    text-transform: none;
  }
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline : none;
    overflow : hidden;
    text-indent : 0.01px;
    text-overflow : '';
    padding: 8px;
    border-color: $lightGray;
    background-color: $white;
    width: 100%;
    margin: 0;
    margin-right: 4%;
    &:focus {
      border: 1px solid $enterpriseGreen;
    }
    &::-ms-expand{
      display: none;
    }
  }
  input:disabled {
    background-color: $lightestGray;
    border-color: $lightGray;
    color: $black;
    padding-bottom: 5px;
  }
  &.payment {
    .payments-container {
      font-size: rem-calc(14);
      padding-bottom: rem-calc(30);
      border-bottom: 1px solid $midGray;
      &:not(:first-child) {
        padding-top: rem-calc(20);
      }
      .cc-type {
        display: inline-block;
        width: 30%;
        font-family: $medium;
        font-size: rem-calc(14);
        text-transform: uppercase;
        margin-right: rem-calc(20);
      }
      .cc-number {
        margin-right: rem-calc(40);
      }
      .preferred {
        color: $enterpriseGreen;
      }
      .cc-action {
        cursor: pointer;
        margin-right: rem-calc(30);
        float: right;
        color: $enterpriseGreen;
        text-transform: uppercase;
        font-family: $medium;
      }
    }
    .btn.add {
      font-size: rem-calc(14);
      padding: rem-calc(12);
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(15);
      width: 100%;
    }
    .payment-iframe {
      border: 0;
      width: 100%;
      height: 210px;
    }
  }

  &.contact {
    .field-container {
      margin-bottom: 1.5em;
    }
    .disclaimer {
      margin-bottom: rem-calc(30);
    }
    .first-name, .last-name, .city, .postal, .subdivision {
      display: inline-block;
    }
    .first-name, .last-name {
      width: 48%;
      &:disabled {
        padding-bottom: 7px;
      }
    }
    .first-name, .city, .postal {
      margin-right: 4%
    }
    .city {
      width: 20%;
    }
    .subdivision {
      width: 30%;
    }
    .postal {
      width: 42%;
    }
    .phone {
      input {
        margin: 0;
        width: 76%;
      }
      select {
        width: 20%;
      }
    }
  }
  &.driver {
    .expire-date, .license-issue {
      display: inline-block;
      width: 48%;
    }
    .issue-country, .issue-authority {
      display: inline-block;
    }
    .issue-country {
      width: 68%;
      margin-right: 4%;
    }
    .issue-authority {
      width: 28%;
    }
    .license-issue {
      margin-right: 4%;
    }
  }
  #additionalStreetAddress {
    margin-top: -1em;
  }

  .modal-actions {
    padding-bottom: rem-calc(50);
    margin-top: rem-calc(30);

    .btn {
      float: right;
      cursor: pointer;
      background-color: $enterpriseGreen;

      &:hover {
        background-color: $enterpriseDarkGreen;
      }

      &.btn-save {
        &.disabled {
          background: rgb(186, 186, 186);
          cursor: not-allowed;
        }

        &.disabled:hover {
          background: rgb(186, 186, 186);
          cursor: not-allowed;
        }
      }

      &.btn-cancel {
        //margin-right: rem-calc(30);
        background-color: $darkGray;

        &:hover {
          background-color: $midGray;
          color: $white;
        }
      }
    }

    .loading {
      bottom: rem-calc(14);
    }
  }
}

.expedited {
  .modal-container.active {
      .modal-content {
        .modal-body {
          h2 {
            padding: 0;
            margin: 0;
            border: 0;
          }
        }
      }
  }
}

.modal-container.active {
  .modal-content {
    .btn-wide {
      margin-left: 2em;
      padding: 0.5em 5em;
    }

    .modal-header {
      .close-modal {
        float: right;
      }
    }

    .payment-remove-content {
      h2 {
        font-size: 20px;
      }
      .modal-actions {
        margin-top: 4%;

        .btn {
          float: right;
          padding: 0.5em 4em;
        }

        .payment-cancel {
          margin-right: 2%;
          background-color: $darkGray;

          @media all and (max-width: $bp-med-2) {
            margin-right: 0;
            margin-top: 20px;
          }
        }
      }
    }
    .extras-reminder-modal-content {
      table.extras-required {
        //width:50%;
        td {
          font-family: $bold;
        }
        .extras-reminder-item__details {
          display: none;
          &.is-expanded {
            display: table-row;
          }
          td {
            font-family: $regular;
          }
        }
      }
      .required-extras-details {
        font-family: $medium;
        font-size: 1em;
        color: $enterpriseGreen;
        background: none;
        text-transform: none;
        padding: 0;
        margin: 0;
        letter-spacing: normal;
        .icon {
          $size: 0.9em;
          display: inline-block;
          vertical-align: middle;
          width: $size;
          height: $size;
          margin-left: 5px;
        }
      }
      .modal-actions {
        margin-top: 2%;
        float: right;
        .btn-cancel {
          background-color: $white;
          color: $enterpriseGreen;
          border: 3px solid $enterpriseGreen;
        }
      }
    }

    .modal-body {
      h1, h2 {
        padding-bottom: rem-calc(10);
        border-bottom: 3px solid $black;
        font-family: $medium;
        margin: 0 0 rem-calc(30) 0;
        text-transform: none;

        &.auth-header {
          padding: 0;
          margin: 0;
          border: 0;
        }
      }
    }
  }

  @media all and (max-width: $bp-large-2) {
    .modal-content.rate-comparison-modal {
      width: 75%;
      margin-left: -39%;
      height: 100%;
      max-height: 100%;
      top: 0;

      .tax-desc {
        font-size: 14px;
      }
    }
  }

  @media all and (max-width: $bp-small-2) {
    .modal-content.rate-comparison-modal {
      width: 85%;
      margin-left: -45%;
    }
  }

  @media all and (max-width: $bp-small) {
    .modal-content.rate-comparison-modal {
      width: 100%;
      margin-left: -50%;
    }
  }
}

.debit-cards {
  .modal-actions {
    .btn {
      float: right;
    }
  }
}
.modal-content.spinner-class {
  background: transparent;
  max-height: none;
}
