.numeric-stepper {

  display: inline-block;
  vertical-align: middle;

  .minus, .plus {
    background-color: $enterpriseGreen;
    color: $darkGreen;
    display: inline-block;
    font-family: $bold;
    height: rem-calc(30);
    line-height: rem-calc(32);
    text-align: center;
    width: rem-calc(30);

    &:hover {
      color: $white;
      cursor: pointer;
    }

    &.disabled {
      span {
        opacity: 0.33;
      }

      &:hover {
        color: $darkGreen;
        cursor: default;
      }
    }
  }

  .value {
    display: inline-block;
    background-color: $white;
    color: $black;
    font-family: $medium;
    font-size: rem-calc(14);
    height: rem-calc(30);
    line-height: rem-calc(33.5);
    text-align: center;
    width: rem-calc(35);
  }
}