.account-page .modal-container .modal-content.receipt-modal {
  width: 90%;
  margin-left: -45%;
  .receipt {
    border: none;
    .bold {
      font-family: $bold;
    }
    p {
      margin-bottom: 0;
    }
    h2 {
      padding-bottom: 0;
    }
    .fl {
      float: left;
    }
    .fr {
      float: right;
    }
  }
}

.receipt-header {
  clear: both;
  h2 {
    float: left;
    font-family: $bold;
  }
  .print-link {
    float: right;
    .icon {
      display: inline-block;
      vertical-align: sub;
      margin-right: 10px;
    }
  }
}

.receipt-subheader {
  .rental-number {
    float: left;
  }
  .customer-service-number {
    float: right;
    .icon {
      display: inline-block;
      vertical-align: sub;
    }
  }
}

.receipt-rental-summary {
  margin-top: 25px;
  border-top: 2px solid black;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-bottom: 2px solid $lightGray;
}

.location-summary_pickup {
  width: 48%;
  display: inline-block;
  padding: 25px 30px;
}

.location-summary_dropoff {
  width: 48%;
  display: inline-block;
  padding: 25px 30px;
}

.location-summary_arrow {
  width: 4%;
  display: inline-block;
  vertical-align: text-top;
  padding: 30px 0;
}

.location_detail {
  float: left;
  margin-right: 30px;
}

.location_date {
  float: left;
}

.total-summary_block {
  display: inline-block;
  border: 1px solid $lightGray;
  padding: 25px 30px;
  width: 100%;
  margin-bottom: -10px;
}

.total_number {
  font-size: 36px;
}

.block-header {
  font-size: 18px;
  font-family: $bold;
  padding-bottom: 5px;
}

.rental-charges h2, .information-section h2 {
  font-size: 24px;
  line-height: 32px;
}

.rental-charges {
  margin-top: 25px;
  width: 60%;
  float: left;
}

.charges-title {
  font-family: DINBold;
  color: black;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin-bottom: 10px;
}

.charges-items_item {
  display: inline-block;
  width: 33%;
}

.charges-items {
  margin: 10px 0;
  .item-title {
    text-align: left;
    width: 60%;
  }
  .item-price {
    text-align: center;
    color: $midGray;
    width: 20%;
  }
  .item-total {
    text-align: right;
    width: 20%;
  }
}

.information-section {
  margin-top: 25px;
  padding-left: 25px;
  width: 40%;
  float: left;
  h2 {
    border-bottom: 3px solid black;
    margin-bottom: 10px;
  }
}

.information-block {
  margin-bottom: 25px;
  .item {
    margin: 10px 0;
    .title {
      width: 50%;
      float: left;
    }
    .value {
      width: 50%;
      float: right;
      color: $midGray;
    }
  }
}

.receipt .mobile {
  display: none;
}

@media all and (max-width: $bp-large-2) {
  .location-summary_pickup, .location-summary_dropoff, .rental-charges, .information-section {
    width: 100%;
  }
  .information-section {
    padding: 0;
  }
  .location-summary_arrow {
    display: none;
  }
}

@media all and (max-width: $bp-small-3) {
  .receipt-rental-summary {
    border-left: none;
    border-right: none;
  }
  .total-summary_block {
    border-left: none;
    border-right: none;
  }

  .charges-items {
    .item-price {
      display: none;
      &.mobile {
        display: block;
        text-align: left;
        width: 100%;
      }
    }
    .item-total {
      width: 30%;
    }
    .item-title {
      width: 70%;
    }
  }
  .information-block .item .value {
    width: 100%;
  }
  .receipt-header {
    .print-link {
      float: left;
      width: 100%;
      margin-top: 10px;
    }
  }
  .receipt-subheader {
    .rental-number {
      width: 100%;
    }
    .customer-service-number {
      width: 100%;
    }
  }
}
