.start-another-res {
  background: $lightestGray;
  border: 1px solid $midGray;
  margin: 42px 5%;
  display: inline-block;
  width: 30%;

  h2 {
    border-bottom: 1px solid $midGray;
    padding: 30px 40px;
    text-align: left;
    font-family: $medium;
    font-size: 26px;
  }

  .button-group {
    padding: 25px 40px 30px;
    text-align: center;
  }

  button {
    display: block;
    width: 100%;
    font-family: $medium;
  }

  button + button {
    margin-top: 10px;
  }

  .new-info {
    background: $white;
    border: 2px solid $enterpriseGreen;
    color: $enterpriseGreen;
  }
}

@media all and (max-width: $bp-med-2) {
  .start-another-res {
    display: block;
    width: 94%;
    margin: 0 auto 30px;
  }
}
