<div class="row" ng-if="$ctrl.esconder">
    <label class="col-md-3">
        <strong>* Tipo</strong>
        <select ng-model="$ctrl.telefone.tipoTelefone"
                name="{{$ctrl.nome + 'TipoTelefone'}}"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                ng-required="true">
            <option value=""></option>
            <option value="{{referencia.valor}}" ng-repeat="referencia in $ctrl.referenciasTelefone">{{referencia.descricao}}</option>
        </select>
    </label>
    <div class="col-md-3">
        <strong> * Número de telefone</strong>
        <input type="text"
                name="{{$ctrl.nome + 'TelefoneContato'}}"
                ng-model="$ctrl.telefone.numero"
                ui-br-phone-number
                validate-on="blur"
                placeholder="(00) 00000-0000"
                ng-pattern="/^\([1-9]{2}\) [2-9][0-9]{3,4}\-[0-9]{4}$/"
                invalid-message="'Telefone inválido'"
                required-message = "'Campo obrigatório'"
                ng-required="true">
    </div>
    <div ng-if="$ctrl.telefone.tipoTelefone && $ctrl.telefone.tipoTelefone == 'CELULAR'" class="col-md-2 text-center">
        <strong>Pode enviar SMS</strong>
        <checkbox
                name="{{$ctrl.nome + 'PodeEnviarSMS'}}"
                id="{{$ctrl.nome + 'PodeEnviarSMS'}}"
                ng-model="$ctrl.telefone.podeEnviarSMS"
                class="field-checkbox"></checkbox>
    </div>
    <div class="col-md-12">
        <strong>Observações</strong>
        <input type="text"
                ng-model="$ctrl.telefone.observacao"
                maxlength="40" uppercase>
    </div>
</div>
