<form name="formContatos" angular-validator-submit="$ctrl.salvar($ctrl.contato); formContatos.reset()" novalidate angular-validator>
    <div class="row">
        <label class="col-md-3">
            <strong>Tipo de Contato</strong>
            <select ng-model="$ctrl.tipoSelecionado"
                    id="{{$ctrl.nome + 'TipoContato'}}"
                    ng-change="formContatos.reset()">
                <option value="telefone">Telefone</option>
                <option value="email" >E-mail</option>
            </select>
        </label>
    </div>

    <dados-telefone esconder="$ctrl.tipoSelecionado == 'telefone'" telefone="$ctrl.contato" nome="{{$ctrl.nome}}"></dados-telefone>

    <div class="row" ng-if="$ctrl.tipoSelecionado == 'email'">
        <label class="col-md-5 col-sm-5 col-xs-12">
            <strong>* Tipo</strong>
            <select ng-model="$ctrl.contato.tipoEmail"
                    name="{{$ctrl.nome + 'tipoEmail'}}"
                    validate-on="blur"
                    required-message = "'Campo obrigatório'"
                    ng-required="true">
                <option value=""></option>
                <option value="{{tipoEmail.valor}}" ng-repeat="tipoEmail in $ctrl.tiposEmail">{{tipoEmail.descricao}}</option>
            </select>
        </label>
        <label class="col-md-7 col-sm-7 col-xs-12">
            <strong>* E-mail</strong>
            <input uppercase type="text"
                   name="{{$ctrl.nome + 'emailContato'}}"
                   validate-on="blur"
                   ng-model-options="{ updateOn: 'blur' }"
                   ng-pattern = "/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                   ng-model="$ctrl.contato.endereco"
                   invalid-message="'E-mail inválido'"
                   maxlength="60"
                   required-message = "'Campo obrigatório'"
                   ng-required="true">
        </label>
        <div class="col-md-12  col-sm-12 col-xs-12">
            <strong>Observações</strong>
            <textarea uppercase class="form-control text-uppercase"
                      ng-model="$ctrl.contato.observacao"
                      rows="3"
                      maxlength="255"></textarea>
        </div>
    </div>
    <div class="btns-add" ng-if="!!$ctrl.tipoSelecionado">
        <button type="button"
            ng-click="$ctrl.cancelar(); formContatos.reset()"
            class="info btn-danger" id="{{$ctrl.nome + 'cancelarContato'}}">cancelar</button>
        <button type="submit"
            class="info info-add" id="{{$ctrl.nome + 'salvarContato'}}">salvar</button>
    </div>
</form>
