<div class="btns-add">
    <button type="button"
        ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="{{$ctrl.nome + 'novoContato'}}"
        class="info info-add">novo</button>
</div>
<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
  <thead>
    <tr>
        <th>Tipo</th>
        <th width="150">Contato</th>

        <th>Observações</th>
        <th>Pode Enviar SMS</th>
        <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{ itemSelecionado : contato.modoEdicao }"
        ng-repeat="(index, contato) in $ctrl.contatos.telefones">
        <td ng-bind="contato.tipoTelefone"></td>
        <td ng-bind="contato.ddd + contato.numero | brPhoneNumber"></td>
        <td ng-bind="contato.observacao"></td>
        <td ng-bind="contato.podeEnviarSMS ? 'SIM' : 'NÃO'"></td>
        <td class="centerText" ng-if="!$ctrl.readonly">
            <button class="btn btn-warning glyphicon glyphicon-edit"
                  ng-disabled="contato.modoEdicao"
                  title="Editar"
                  ng-click="$ctrl.editar(contato)" ></button>
            <button class="glyphicon glyphicon-trash btn btn-danger"
                  ng-disabled="contato.modoEdicao"
                  title="Remover"
                  ng-click="$ctrl.remover(contato)"></button>
        </td>
    </tr>
    <tr ng-class="{ itemSelecionado : contato.modoEdicao }"
        ng-repeat="(index, contato) in $ctrl.contatos.emails">
        <td ng-bind="contato.tipoEmail"></td>
        <td ng-bind="contato.endereco" class="breakContent"></td>
        <td ng-bind="contato.observacao"></td>
        <td></td>
        <td class="centerText" ng-if="!$ctrl.readonly">
            <button class="btn btn-warning glyphicon glyphicon-edit"
                  ng-disabled="contato.modoEdicao"
                  title="Editar"
                  ng-click="$ctrl.editar(contato)" ></button>
            <button class="glyphicon glyphicon-trash btn btn-danger"
                  ng-disabled="contato.modoEdicao"
                  title="Remover"
                  ng-click="$ctrl.remover(contato)"></button>
        </td>
    </tr>
  </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.contatos.telefones.length==0 && $ctrl.contatos.emails.length==0">
    Nenhum contato foi adicionado até o momento
</div>
