<form name="procuradorForm" angular-validator-submit="$ctrl.salvar($ctrl.procurador)"
    novalidate angular-validator>
    <fieldset ng-disabled="$ctrl.procurador.procuracao.revogado">
        <div class="row">
            <div class="col-md-3">
                <strong>* CPF</strong>
                <dados-cpf cpf="$ctrl.procurador.cpf"
                    required="true"
                    focus-id="procuradorCPF"
                    nome="procurador"
                >
                </dados-cpf>
            </div>
            <div class="col-md-6">
                <strong>* Nome Completo</strong>
                <input uppercase type="text"
                    maxlength="40"
                    ng-model="$ctrl.procurador.nomeCompleto"
                    class="text-uppercase"
                    name="procuradorNomeCompleto"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required>
            </div>
            <div class="col-md-3">
                <strong>* Cargo</strong>
                <input uppercase type="text" ng-model="$ctrl.procurador.cargo"
                    name="cargoProcurador"
                    class="text-uppercase"
                    maxlength="20"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required>
            </div>
        </div>

        <dados-documento nome-componente="procurador"
            documento="$ctrl.procurador"
            ocultar-campos="['protocoloBRSafe', 'sexo', 'representanteLegal', 'nacionalidade', 'uf', 'naturalidade']">
        </dados-documento>

        <div class="titleInsideSection">
            Procuração
        </div>
        <hr>

        <div class="row">
            <label for="tipoProcuracao" class="col-md-3">
                <strong>* Tipo procuração</strong>
                <select ng-model="$ctrl.procurador.procuracao.tipoProcuracao"
                    name="tipoProcuracao"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option></option>
                    <option ng-repeat="tipo in $ctrl.tiposProcuracao" value="{{ tipo.valor }}">{{ tipo.descricao }}</option>
                </select>
            </label>

            <label for="prazo" class="col-md-3">
                <strong>* Prazo</strong>
                <select ng-model="$ctrl.procurador.procuracao.prazo"
                    name="prazo"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option></option>
                    <option value="DETERMINADO">Determinado</option>
                    <option value="INDETERMINADO">Indeterminado</option>
                </select>
            </label>

            <div class="col-md-3">
                <strong>* Vigência</strong>
                <input type="text"
                    ng-model="$ctrl.procurador.procuracao.vigencia"
                    moment-picker="$ctrl.procurador.procuracao.vigencia"
                    format="DD/MM/YYYY"
                    ui-mask="99/99/9999"
                    model-view-value="true"
                    invalid-message="'Data inválida'"
                    start-view="month"
                    min-date="$ctrl.vigenciaMinima"
                    name="vigenciaProcuracao"
                    required-message="'Campo obrigatório'"
                    required
                    validate-on="blur"
                    ng-blur="$ctrl.validarDataVigencia($ctrl.procurador.procuracao.vigencia)"
                    >
            </div>

            <div class="col-md-3">
                <strong>* Data Procuração</strong>
                <input type="text"
                    ng-model="$ctrl.procurador.procuracao.dataProcuracao"
                    moment-picker="$ctrl.procurador.procuracao.dataProcuracao"
                    format="DD/MM/YYYY"
                    ui-mask="99/99/9999"
                    model-view-value="true"
                    invalid-message="'Data inválida'"
                    start-view="month"
                    max-date="$ctrl.dataProcuracaoMaxima"
                    name="procuracao"
                    validate-on="blur"
                    required-message="'Campo obrigatório'"
                    required
                    ng-blur="$ctrl.validarDataProcuracao($ctrl.procurador.procuracao.dataProcuracao)"
                >
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <strong>Registro</strong>
                <input uppercase type="text"
                    ng-model="$ctrl.procurador.procuracao.registro"
                    maxlength="10">
            </div>

            <div class="col-md-3">
                <strong>Livro</strong>
                <input uppercase type="text"
                    ng-model="$ctrl.procurador.procuracao.livro"
                    maxlength="10">
            </div>

            <div class="col-md-3">
                <strong>Folha</strong>
                <input uppercase type="text"
                    ng-model="$ctrl.procurador.procuracao.folha"
                    maxlength="10">
            </div>

            <div class="col-md-3">
                <strong>Tabelionato</strong>
                <input uppercase type="text"
                    ng-model="$ctrl.procurador.procuracao.tabelionato"
                    maxlength="20">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <strong>Data entrada</strong>
                <input type="text"
                    ng-model="$ctrl.dataEntradaFormatada"
                    ng-disabled="true"
                >
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-md-10">
            <strong> {{$ctrl.procurador.procuracao.revogado ? "*" : ""}} Observações</strong>
            <input type="text"
                name="observacoes"
                ng-model="$ctrl.procurador.procuracao.observacoes"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                ng-required="$ctrl.procurador.procuracao.revogado"
                maxlength="100"
                />
        </div>

        <div class="col-md-2">
            <strong>Revogar</strong>
            <checkbox
                ng-model="$ctrl.procurador.procuracao.revogado"
                class="field-checkbox"
            ></checkbox>
        </div>
    </div>

    <div class="btns-add">
        <button type="button"
            id="cancelarProcurador"
            ng-click="$ctrl.cancelar(); procuradorForm.reset()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="adicionarProcurador"
            class="info info-add" >salvar</button>
    </div>
</form>
