<div class="btns-add">
    <button type="button"
        ng-hide="$ctrl.esconderBotaoNovo"
        ng-click="$ctrl.novo()"
        ng-if="!$ctrl.readonly"
        id="novoProcurador"
        class="info info-add">novo</button>
</div>

<hr ng-if="!$ctrl.readonly">

<div class="row" ng-if="!$ctrl.readonly && $ctrl.procuradores.length>0">
    <label for="filtro" class="col-md-3">
        <strong>Filtrar</strong>
        <select ng-model="$ctrl.filtro" name="filtro">
            <option value="false">Ativo</option>
            <option value="true">Revogado</option>
        </select>
    </label>
</div>

<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>CPF</th>
            <th>Nome </th>
            <th>Vigência</th>
            <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : procurador.modoEdicao }"
            ng-repeat="(index, procurador) in $ctrl.procuradores | filter:{ procuracao: { revogado: $ctrl.filtro }}">
            <td ng-bind="procurador.cpf | brCpf"></td>
            <td ng-bind="procurador.nomeCompleto" class="breakContent"></td>
            <td ng-bind="procurador.procuracao.vigencia.format('DD/MM/YYYY')"></td>
            <td ng-if="!$ctrl.readonly" class="centerText">
                <button class="glyphicon glyphicon-edit  btn btn-warning"
                      ng-disabled="procurador.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(procurador)" ></button>
                <button class="glyphicon glyphicon-trash  btn btn-danger"
                      ng-disabled="procurador.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(procurador)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.procuradores.length==0">
    Nenhum procurador foi adicionado até o momento
</div>
