<nova-sessao titulo="Procuradores">
    <dados-procurador
        procurador="$ctrl.procurador"
        on-salvar="$ctrl.salvar(procurador)"
        on-cancelar="$ctrl.cancelar()"
        ng-if="$ctrl.mostrarProcuradorForm && !$ctrl.readonly"
    >
    </dados-procurador>
    <lista-procuradores
        procuradores="$ctrl.procuradores"
        on-novo="$ctrl.novo()"
        on-editar="$ctrl.editar(procurador)"
        on-remover="$ctrl.remover(procurador)"
        esconder-botao-novo="$ctrl.mostrarProcuradorForm"
        readonly="$ctrl.readonly"
    >
    </lista-procuradores>
</nova-sessao>
