<div class="uni-modal" ng-class="{'active': $ctrl.open}">
	<div class="uni-modal--content uni-modal--large modal-status modal-steps" ng-class="{'active-modal': $ctrl.open}">
		<button ng-click="$ctrl.modal.close()" class="uni-modal--close"><span class="close thick"></span></button>
		<div class="uni-modal--header">
			<h1>O que você deseja inserir a seguir?</h1>
		</div>

		<div class="user-information">
			<div class="user-name">
				{{$ctrl.nome}}
			</div>
			<div class="user-cpfCnpj">
				<span class="bold">CPF:</span>
				{{$ctrl.cpf | brCpfCnpj }}
				<div class="user-matricula" ng-if="$ctrl.isAssociado">
					<span class="bold">Matrícula:</span>
					<div ng-if="!$ctrl.matriculaAssociado && !$ctrl.erroBuscarMatricula" class="loader loader-sm"></div>
					<span class="numero">{{$ctrl.matriculaAssociado}}</span>
					<span class="fa fa-exclamation-triangle failedMatricula" ng-if="$ctrl.erroBuscarMatricula"></span>
				</div>
				<div class="user-matricula" ng-if="$ctrl.isCorrentista">
					<span class="bold">Conta:</span>
					<div ng-if="!$ctrl.contaCorrentista && !$ctrl.erroBuscarConta" class="loader loader-sm"></div>
					<span class="numero">{{$ctrl.contaCorrentista}}</span>
					<span class="fa fa-exclamation-triangle failedMatricula" ng-if="$ctrl.erroBuscarConta"></span>
				</div>
			</div>
		</div>

		<div class="cards-content">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card-modal" ng-class="{'disabled-card': $ctrl.isAssociado}">
	            <div class="col-md-12 card-wrapper">
	                <div class="shadowed-box" title="Matrícula">
						<div class="card-done" ng-class="{'active': $ctrl.isAssociado}">
							<i class="fa fa-check"></i>
						</div>
	                    <a href="#" ng-click="$event.preventDefault();$ctrl.criarAssociado()">
	                        <figure>
	                            <img src="./public/styles/images/icons/planilha.png" alt="Matrícula">
	                        </figure>
	                        <span>Matrícula</span>
	                    </a>
	                </div>
	            </div>
	        </div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card-modal" ng-class="{'disabled-card': !$ctrl.isAssociado || $ctrl.isCorrentista}">
	            <div class="col-md-12 card-wrapper">
	                <div class="shadowed-box" title="Conta Corrente">
						<div class="card-done" ng-class="{'active': $ctrl.isCorrentista}">
							<i class="fa fa-check"></i>
						</div>
	                    <a href="#" ng-click="$event.preventDefault();$ctrl.criarContaCorrente()">
	                        <figure>
	                            <img src="./public/styles/images/icons/bank-big.png" alt="Conta Corrente">
	                        </figure>
	                        <span>Conta Corrente</span>
	                    </a>
	                </div>
	            </div>
	        </div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card-modal" ng-class="{'disabled-card': !$ctrl.isAssociado || $ctrl.isAgCapital}">
	            <div class="col-md-12 card-wrapper">
	                <div class="shadowed-box" title="Agendamento de Capital">
						<div class="card-done" ng-class="{'active': $ctrl.isAgCapital}">
							<i class="fa fa-check"></i>
						</div>
	                    <a href="#" ng-click="$event.preventDefault();$ctrl.criarAgendamentoCapital()">
	                        <figure>
	                            <img src="./public/styles/images/icons/agendamento_capital.png" alt="Matrícula">
	                        </figure>
	                        <span>Ag. Capital</span>
	                    </a>
	                </div>
	            </div>
	        </div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card-modal disabled-card">
	            <div class="col-md-12 card-wrapper">
	                <div class="shadowed-box" title="Produtos e Serviços">
	                    <a href="#" ng-click="$event.preventDefault();">
	                        <figure>
	                            <img src="./public/styles/images/icons/produtos_e_servicos.png" alt="Matrícula">
	                        </figure>
	                        <span>Prod. e Serv.</span>
	                    </a>
	                </div>
	            </div>
	        </div>

		</div>

		<div class="btns-modal-status">
			<button type="button" class="uni-btns btn-confirmacao btn-xs pull-left" ng-click="$ctrl.alteracaoCadastral()">
				<span>Alterar Cadastro</span>
			</button>
			<button type="button" ng-click="$ctrl.modal.close()" class="uni-btns btn-cancelar btn-sm pull-right">
                <span>Fechar</span>
            </button>
        </div>
		<div class="status-info text-right">
			* Estão habilitadas apenas as opções que você pode executar
		</div>
	</div>
</div>
