<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <label class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <strong>* Tipo de Identificação</strong>
            <select ng-model="$ctrl.documento.tipoIdentificacao"
                name="{{$ctrl.nomeComponente + 'TipoIdentificacao'}}"
                ng-change="$ctrl.buscarOrgaosExpeditores($ctrl.documento.tipoIdentificacao)"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                invalid-message = "'CPF inválido'"
                required>
                <option></option>
                <option value="{{identificacao.valor}}" ng-repeat="identificacao in $ctrl.identificacoes">{{identificacao.descricao}}</option>
            </select>
        </label>
        <label class="col-lg-4 col-md-12 col-sm-12 col-xs-12" ng-if="!$ctrl.ocultar.numeroIdentificacao">
            <strong>* Número de Identificação</strong>
            <input type="text"
                    uppercase
                   ng-model="$ctrl.documento.numeroIdentificacao"
                   class="text-uppercase"
                   name="{{$ctrl.nomeComponente + 'NumeroDeIdentificacao'}}"
                   maxlength="12" validate-on="dirty"
                   required-message="'Campo obrigatório'"
                   required
                   ng-pattern="/^[a-zA-Z0-9]*$/"
                   invalid-message="'Número inválido'">
        </label>
    </div>
    <div class="row">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-if="!$ctrl.ocultar.orgaoExpedidor">
            <strong>* Órgão Expedidor</strong>
            <select ng-model="$ctrl.documento.orgaoExpedidor"
                name="{{$ctrl.nomeComponente + 'OrgaoExpedidor'}}"
                ng-disabled="!$ctrl.orgaosExpeditores.length > 0"
                validate-on="dirty"
                required-message= "'Campo obrigatório'"
                required>
                <option></option>
                <option value="{{orgao.valor}}"
                    ng-repeat="orgao in $ctrl.orgaosExpeditores">{{orgao.descricao}}</option>
            </select>
        </label>
        <label for="ufExpedidor" class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-if="!$ctrl.ocultar.ufExpedidor">
            <strong>* UF Expedidor</strong>
            <select ng-model="$ctrl.documento.ufExpedidor"
                name="{{$ctrl.nomeComponente + 'UfExpeditor'}}"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
                >
                <option></option>
                <option value="{{estado.value}}" ng-repeat="estado in $ctrl.estados">{{estado.value}}</option>
            </select>
        </label>
        <label for="documentoDataEmissao" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <strong>* Data da Emissão</strong>
            <input class="form-control formData"
                   name="{{$ctrl.nomeComponente + 'dataEmissao'}}"
                   ui-mask="99/99/9999"
                   model-view-value="true"
                   ng-model="$ctrl.documento.dataEmissao"
                   required-message="'Campo obrigatório'"
                   ng-required="true"
                   invalid-message="'Data inválida'"
                   validate-on="blur"
                   moment-picker="$ctrl.documento.dataEmissao"
                   format="DD/MM/YYYY"
                   start-view="month"
                   locale="pt-br"
                   min-date="$ctrl.minDataEmissao"
                   max-date="$ctrl.dataAtual"
                   ng-blur="$ctrl.validarDataEmissao($ctrl.documento.dataEmissao)"
                   >
        </label>
        <label for="documentoDataNascimento" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <strong>* Data de Nascimento</strong>
            <input class="form-control formData"
                   ui-mask="99/99/9999"
                   model-view-value="true"
                   ng-model="$ctrl.documento.dataNascimento"
                   required-message="'Campo obrigatório'"
                   required
                   invalid-message="'Data inválida'"
                   validate-on="blur"
                   name="{{$ctrl.nomeComponente + 'DataNascimento'}}"
                   id="{{$ctrl.nomeComponente + 'DataNascimento'}}"
                   moment-picker="$ctrl.documento.dataNascimento"
                   format="DD/MM/YYYY"
                   start-view="month"
                   locale="pt-br"
                   max-date="$ctrl.maxDataNascimento"
                   ng-blur="$ctrl.onChange($ctrl.documento.dataNascimento, $ctrl.documento.dataEmissao)"
                   >
        </label>
    </div>
    <div class="row">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-if="!$ctrl.ocultar.protocoloBRSafe">
            <strong>Protocolo BRSAFE</strong>
            <input type="text" ng-model="$ctrl.documento.protocoloBRSafe" maxlength="12" ui-number-mask="0" ui-hide-group-sep class="text-uppercase">
        </label>
        <label for="sexo" class="col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-if="!$ctrl.ocultar.sexo">
            <strong>* Sexo</strong>
            <select ng-model="$ctrl.documento.sexo"
                name="{{$ctrl.nomeComponente + 'Sexo'}}"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
                >
                <option></option>
                <option value="MASCULINO">Masculino</option>
                <option value="FEMININO">Feminino</option>
            </select>
        </label>
        <label for="representanteLegal" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="!$ctrl.ocultar.representanteLegal">
            <strong>* Modalidade Representante Legal</strong>
            <ui-select name="{{$ctrl.nomeComponente + 'RepresentanteLegal'}}" theme="select2"
                ng-model="$ctrl.documento.modalidadeRepresentanteLegal.selected" required="true" on-select="$ctrl.representanteLegalSelecionado($item)">
                <ui-select-match placeholder="Selecione">
                    {{ $select.selected.descricao }}
                </ui-select-match>
                <ui-select-choices repeat="representante in $ctrl.representantesLegal | filter: $select.search">
                    <span ng-bind-html="representante.descricao | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </label>
    </div>
    <div class="row">
        <label for="nacionalidade" class="col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-if="!$ctrl.ocultar.nacionalidade">
            <strong>* Nacionalidade</strong>
            <ui-select name="{{$ctrl.nomeComponente + 'Nacionalidade'}}" theme="select2"
                    ng-model="$ctrl.documento.nacionalidade"
                    on-select="$ctrl.defineNacionalidade($item)"
                    required="true">
                <ui-select-match placeholder="Pesquisar">
                    {{ $select.selected.descricaoNacionalidade }}
                </ui-select-match>
                <ui-select-choices
                    refresh="$ctrl.buscaNacionalidades($select)"
                    refresh-delay="300"
                    repeat="pais in $ctrl.nacionalidades | filter: $select.search">
                    <span ng-bind-html="pais.descricaoNacionalidade | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </label>
        <label for="uf" class="col-lg-3 col-md-2 col-sm-6 col-xs-6" ng-show="$ctrl.brasileiro" ng-if="!$ctrl.ocultar.uf">
            <strong class="span">* UF</strong>
            <select ng-model="$ctrl.documento.uf" ng-blur="loadCidades($index);"
                name="{{$ctrl.nomeComponente + 'EstadoNaturalidade'}}"
                validate-on="blur"
                ng-change="$ctrl.carregarCidades($ctrl.documento.uf)"
                required-message = "'Campo obrigatório'"
                required
                >
                <option></option>
                <option value="{{estado.value}}" ng-repeat="estado in $ctrl.estados">{{estado.value}}</option>
            </select>
        </label>
        <label for="naturalidade" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            ng-show="$ctrl.brasileiro"
            ng-if="!$ctrl.ocultar.naturalidade">
            <strong>* Naturalidade</strong>

            <ui-select name="{{$ctrl.nomeComponente + 'Naturalidade'}}"
                theme="select2"
                ng-model="$ctrl.documento.naturalidade.selected"
                validate-on="blur"
                required-message = "'Campo obrigatório'"
                ng-required="true"
                ng-disabled="!$ctrl.documento.uf"
                ng-class="{'invalidUiSelect':$ctrl.validadeNaturalidade && !!$ctrl.documento.naturalidade}">
                <ui-select-match placeholder="Pesquisar">
                    {{ $select.selected.nomeCidade }}
                </ui-select-match>
                <ui-select-choices
                    refresh="$ctrl.buscaNaturalidade($select)"
                    refresh-delay="300"
                    repeat="naturalidade in $ctrl.naturalidades | filter: $select.search">
                    <span ng-bind-html="naturalidade.nomeCidade | highlight: $select.search"></span>
                </ui-select-choices>
                </ui-select>

            <label class="control-label has-error validationMessage erroUiSelect"
                   ng-if="$ctrl.validadeNaturalidade && !!$ctrl.documento.naturalidade">Campo obrigatório</label>
        </label>
    </div>
</fieldset>
