<div class="cadastro-content marginBottom20">
    <page-title titulo="'Novo'" subtitulo="'Agendamento Capital'"></page-title>
</div>

<form name="formAgendamentoCapital"
    class="cadastro-content"
    novalidate
    angular-validator
    angular-validator-submit="ctrl.salvar(ctrl.agendamentoCapital)"
    >
    <div class="step-header">
        <h1>Agendamento Capital</h1>
        <span class="cadastro-resumo" ng-if="viewSummary">| <a href="#/cadastro/pessoa-fisica/resumo" class="cadastro-edit">Resumo</a></span>
        <span class="session-cpf" ng-if="sessioncpf">{{sessioncpf}}</span>
    </div>

    <div class="step-content">
        <nova-sessao titulo="Agendamento de Integralizacoes" mostra-sessao="true">
            <dados-agendamento-integralizacoes nome-component="agendamento" agendamento-integralizacoes="ctrl.agendamentoCapital.agendamentoIntegralizacoes"></dados-agendamento-integralizacoes>
        </nova-sessao>
    </div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <div class="buttons-control">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="submit"
                        ng-disabled="ctrl.salvoComSucesso || ctrl.savingProgress"
                        class="uni-btns btn-confirmacao btn-md"
                        id="btnSalvar">
                    <span>salvar</span>
                </button>
            </div>
        </div>
    </div>

</form>
