<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Renda'"></page-title>

    <form name="updateForm" angular-validator-submit="ctrl.update(ctrl.rendasObj)" novalidate angular-validator>
        <div class="step-content">
            <sessao-renda
                rendas-obj="ctrl.rendasObj"
                mostra-sessao="true">
            </sessao-renda>
        </div>

        <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
            <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
        </div>

        <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
        <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

        <botoes-update cpf="ctrl.cpf"
                       progress="ctrl.savingProgress"
                       is-submit="true">
        </botoes-update>
    </form>
</div>
