<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <label class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <strong>* Grau de Instrução</strong>
            <select ng-model="$ctrl.profissional.grauInstrucao"
                name="grauInstrucao"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                required
            >
                <option value="">Selecione</option>
                <option value="{{instrucao.valor}}" ng-repeat="instrucao in $ctrl.instrucoes">{{instrucao.descricao}}</option>
            </select>
        </label>
        <label class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <strong>* Profissão</strong>

            <ui-select name="cdProfissao"
                    ng-model="$ctrl.profissional.profissao"
                    ng-required="true"
                    >
                <ui-select-match placeholder="Selecione">
                    {{ $select.selected.nome }}
                </ui-select-match>
                <ui-select-choices repeat="profissao in $ctrl.profissoes | orderBy : 'nome' | filter: $select.search">
                    <span ng-bind-html="profissao.nome | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </label>

        <label class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <strong>* Categoria</strong>
            <ui-select name="especialidade"
                ng-model="$ctrl.profissional.especialidade"
                ng-required="true"
                >
                <ui-select-match placeholder="Selecione">
                    {{ $select.selected.nome }}
                </ui-select-match>
                <ui-select-choices repeat="especialidade in $ctrl.especialidades | orderBy : 'nome' | filter: $select.search">
                    <span ng-bind-html="especialidade.nome | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </label>
    </div>

    <div class="row">
        <label class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <strong>Número Reg.Profissional</strong>
            <input type="text"
                name="numeroProfissional" ng-model="$ctrl.profissional.nrRegistroProfissional" ui-number-mask="0" ui-hide-group-sep maxlength="15">
        </label>

        <label class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <strong>Órgão Responsável</strong>
            <ui-select name="orgaoResponsavel"
                ng-model="$ctrl.profissional.cdOrgaoResponsavel"
                >
                <ui-select-match placeholder="Selecione">
                    {{ $select.selected.nome }}
                </ui-select-match>
                <ui-select-choices repeat="orgao in $ctrl.orgaoResponsavel | orderBy : 'nome' | filter: $select.search">
                    <span ng-bind-html="orgao.nome | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </label>

        <label class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <strong>UF Registro</strong>
            <select ng-model="$ctrl.profissional.ufRegistro"
                name="uf-registro"
                id="uf-registro"
            >
                <option value="">Selecione</option>
                <option value="{{estado.value}}" ng-repeat="estado in $ctrl.estados">{{estado.value}}</option>
            </select>
        </label>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <strong>Início Profissional</strong>
              <input class="form-control"
                     ui-mask="99/99/9999"
                     model-view-value="true"
                     ng-model="$ctrl.profissional.inicioProfissional"
                     moment-picker="$ctrl.profissional.inicioProfissional"
                     format="DD/MM/YYYY"
                     start-view="month"
                     locale="pt-br"
                     max-date="$ctrl.maxData"
                     ng-blur="$ctrl.calcularTempoDeProfissao($ctrl.profissional.inicioProfissional)" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <strong>Meses de Profissão</strong>
            <input type="text" ng-disabled="true" ng-model="$ctrl.profissional.mesesProfissao"/>
        </div>
    </div>
</fieldset>
