<div class="buttons-control margin-button-group">
    <div class="row">
        <div class="col-md-6 col-md-offset-6 text-right">
            <button type="button"
                    class="uni-btns btn-rascunho btn-md step-voltar"
                    ng-show="$ctrl.model != null"
                    ng-click="$ctrl.salvarRascunho($ctrl.model)"
                    id="btnSalvarRascunho">
                <span>salvar rascunho</span>
            </button>

            <button type="button"
                    class="uni-btns btn-confirmacao btn-md"
                    ng-if="!$ctrl.ocultar.avancar"
                    ng-click="$ctrl.proximo($ctrl.model)"
                    id="btnNext">
                <span>próximo</span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
