<fieldset>
    <div class="row">
        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>Travar Domicilio Bancário</strong>
            <select ng-model="$ctrl.contaVinculadaDomicilio.tipoTravaDomicilioBancario"
                    name="tipoTravaDomicilioBancario">
                <option value="{{domicilioBancario.valor}}" ng-repeat="domicilioBancario in $ctrl.domiciliosBancarios">{{domicilioBancario.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12 text-center">
            <strong>Transferência Autom. CC para CV</strong>
            <checkbox
                ng-model="$ctrl.contaVinculadaDomicilio.transferenciaAutomaticaCcCv"
                class="field-checkbox"
            ></checkbox>
        </label>

        <div class="col-md-3 col-sm-3 col-xs-12" ng-if="$ctrl.mostarVisa($ctrl.contaVinculadaDomicilio.tipoTravaDomicilioBancario)">
            <strong>Data Vigência Trava Visa</strong>
            <input type="text" ng-model="$ctrl.contaVinculadaDomicilio.dataVigenciaTravaVisa"
                id="dataVigenciaTravaVisa"
                name="dataVigenciaTravaVisa"
                model-view-value="true"
                ui-mask="99/99/9999"
                moment-picker="$ctrl.contaVinculadaDomicilio.dataVigenciaTravaVisa"
                start-view="month"
                ng-blur="$ctrl.validaData($ctrl.contaVinculadaDomicilio.dataVigenciaTravaVisa, 'dataVigenciaTravaVisa')"
                invalid-message="'Data inválida'"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12" ng-if="$ctrl.mostarMaster($ctrl.contaVinculadaDomicilio.tipoTravaDomicilioBancario)">
            <strong>Data Vigência Trava Master</strong>
            <input type="text" ng-model="$ctrl.contaVinculadaDomicilio.dataVigenciaTravaMaster"
                id="dataVigenciaTravaMaster"
                name="dataVigenciaTravaMaster"
                model-view-value="true"
                ui-mask="99/99/9999"
                moment-picker="$ctrl.contaVinculadaDomicilio.dataVigenciaTravaMaster"
                start-view="month"
                ng-blur="$ctrl.validaData($ctrl.contaVinculadaDomicilio.dataVigenciaTravaMaster, 'dataVigenciaTravaMaster')"
                invalid-message="'Data inválida'"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <strong>% Percentual de Antecipação</strong>
            <input type="text" ng-model="$ctrl.contaVinculadaDomicilio.percentualAntecipacao"
                name="percentualAntecipacao"
                class="text-uppercase"
                ui-percentage-mask="0"
                ui-percentage-value
                ui-hide-space
                max="100"
                maxlength="4"
                validate-on="dirty"
                invalid-message="'Valor máximo é 100 %'">
        </div>
    </div>
</fieldset>