<fieldset ng-disabled="$ctrl.readonly">
    <div class="row">
        <div class="col-md-4">
            <strong>* CPF</span></strong>
            <input
                type="text"
                ng-model="$ctrl.cpfNome.cpf"
                class="cpf"
                name="cpfUsuario"
                ui-br-cpf-mask
                validate-on="blur"
                required-message = "'Campo obrigatório'"
                invalid-message="'CPF inválido'"
                required
                ng-disabled="true"
                >
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-md-7">
            <strong>* Nome Completo</strong>
            <input
                uppercase
                type="text"
                ng-model="$ctrl.cpfNome.nomeCompleto"
                class="text-uppercase"
                maxlength="65"
                name="nomeCompletoCpfNome"
                ng-disabled="fieldDisabled"
                ng-blur="$ctrl.abreviarNome($ctrl.cpfNome.nomeCompleto)"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                required
            >
        </div>
        <div class="col-md-5">
            <strong>* Nome Sucinto</strong>
            <input
                uppercase
                type="text"
                ng-model="$ctrl.cpfNome.nomeSucinto"
                ng-disabled="fieldDisabled"
                class="text-uppercase"
                maxlength="26"
                name="nomeSucinto"
                ng-blur="$ctrl.validate('required', $event);"
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                required
                invalid-message="'Inválido'"
            >
        </div>
    </div>
</fieldset>
