<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Endereço'"></page-title>

	<div class="step-content">
	    <sessao-endereco enderecos="ctrl.enderecos" mostra-sessao="true"></sessao-endereco>
	</div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

	<mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <botoes-update cpf="ctrl.cpf"
                   progress="ctrl.savingProgress"
                   model="ctrl.enderecos"
                   on-update="ctrl.update(model)">
    </botoes-update>
</div>
