
<div class="toast" id="toast-error"
     ng-class="{ 'toast-active' : $ctrl.showToast,
                 'toast-error' :  $ctrl.error,
                 'toast-success' : !$ctrl.error && !$ctrl.warning,
                 'toast-warning' : $ctrl.warning }"
>
    <div class="toast-dismiss">
        <button type="button"
                class="toast-btn-close"
                ng-click="$ctrl.dismissToast()">
            <img src="public/styles/images/icons/cancel.png" alt="Error" title="Fechar">
        </button>
    </div>
    <div class="toast-content ">
        <div class="toast-title"
             ng-bind="$ctrl.title">
        </div>
        <div class="toast-text"
             ng-bind="$ctrl.message">
        </div>
    </div>
</div>
