<form name="participacaoSocietariaForm" angular-validator-submit="$ctrl.salvar($ctrl.participacaoSocietaria)"
    novalidate angular-validator>
    <div class="row">
        <div class="col-md-4">
            <strong>* CNPJ</strong>
            <input type="text"
                id="participacaoSocietariaCNPJ"
                name="participacaoSocietariaCNPJ"
                ng-model="$ctrl.participacaoSocietaria.cnpj"
                ui-br-cnpj-mask
                validate-on="dirty"
                required-message = "'Campo obrigatório'"
                invalid-message="'CNPJ inválido'"
                ng-required="true">
        </div>
        <div class="col-md-8">
            <strong>* Nome</strong>
            <input type="text"
                maxlength="40"
                uppercase
                ng-model="$ctrl.participacaoSocietaria.nome"
                class="text-uppercase"
                name="participacaoSocietariaNome"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                ng-required="true">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>* % Participação</strong>
            <input type="text" ng-model="$ctrl.participacaoSocietaria.percentualParticipacao"
                name="participacaoSocietariaPercentualParticipacao"
                class="text-uppercase"
                ui-percentage-mask="2"
                ui-percentage-value
                ui-hide-space
                max="100"
                maxlength="7"
                validate-on="dirty"
                required-message="'Campo obrigatório'"
                invalid-message="'Valor máximo é 100 %'"
                required>
        </div>

        <div class="col-md-8">
            <strong>* Função/Cargo</strong>
            <select ng-model="$ctrl.participacaoSocietaria.funcaoCargo"
                name="participacaoSocietariaFuncaoCargo"
                validate-on="dirty"
                class="text-uppercase form-control"
                required-message="'Campo obrigatório'"
                required
                ng-required="true">
                <option value="{{funcaoCargo.valor}}" ng-repeat="funcaoCargo in $ctrl.funcoesCargos">{{funcaoCargo.descricao}}</option>
            </select>
        </div>
    </div>

    <div class="btns-add">
        <button type="button"
            id="cancelarParticipacaoSocietaria"
            ng-click="$ctrl.cancelar()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="adicionarParticipacaoSocietaria"
            class="info info-add" >salvar</button>
    </div>
</form>
