<div class="btns-add">
    <button type="button" ng-hide="$ctrl.escondeNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novoParticipacaoSocietaria" class="info info-add">novo</button>
</div>

<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>CNPJ</th>
            <th>Nome </th>
            <th>Participação</th>
            <th>Função Cargo</th>
            <th class="centerText" ng-if="!$ctrl.readonly" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : participacaoSocietaria.modoEdicao }"
            ng-repeat="(index, participacaoSocietaria) in $ctrl.participacoesSocietarias">
            <td ng-bind="participacaoSocietaria.cnpj | brCnpj" class="keepContent"></td>
            <td ng-bind="participacaoSocietaria.nome" class="breakContent"></td>
            <td ng-bind="participacaoSocietaria.percentualParticipacao*0.01 | percentage:'2'"></td>
            <td ng-bind="participacaoSocietaria.descricaoFuncaoCargo"></td>

            <td class="centerText" ng-if="!$ctrl.readonly">
                <button class="glyphicon glyphicon-edit btn btn-warning"
                      ng-class="{ 'is-clickable': !participacaoSocietaria.modoEdicao }"
                      ng-disabled="participacaoSocietaria.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(index)" ></button>
                <button class="glyphicon glyphicon-trash btn btn-danger"
                      ng-class="{ 'is-clickable': !participacaoSocietaria.modoEdicao }"
                      ng-disabled="participacaoSocietaria.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(participacaoSocietaria)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.participacoesSocietarias.length==0">
    Nenhum sócio foi adicionado até o momento
</div>
