<nova-sessao titulo="Participações Societárias">
    <dados-participacao-societaria
        participacao-societaria="$ctrl.participacaoSocietaria"
        participacoes-societarias="$ctrl.participacoesSocietarias"
        on-salvar="$ctrl.salvarParticipacaoSocietaria(participacaoSocietaria)"
        on-cancelar="$ctrl.cancelarParticipacaoSocietaria()"
        ng-if="$ctrl.mostrarParticipacaoSocietariaForm && !$ctrl.readonly"
    >
    </dados-participacao-societaria>
    <lista-participacao-societaria
        participacoes-societarias="$ctrl.participacoesSocietarias"
        on-editar="$ctrl.editarParticipacaoSocietaria(participacaoSocietaria)"
        on-novo="$ctrl.novoParticipacaoSocietaria()"
        on-remover="$ctrl.removerParticipacaoSocietaria(index)"
        esconde-novo="$ctrl.mostrarParticipacaoSocietariaForm"
        readonly="$ctrl.readonly"
    >
    </lista-participacao-societaria>
</nova-sessao>
