<form name="imovelForm" angular-validator-submit="$ctrl.salvar($ctrl.imovel);"
    novalidate angular-validator>
    <fieldset>
        <div class="row">
            <label for="tipoImovel" class="col-md-4 col-sm-4 col-xs-12">
                <strong>* Tipo de Imóvel</strong>
                <select ng-model="$ctrl.imovel.tipo"
                    name="tipoImovel"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    id="tipoImovel"
                    >
                    <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposImovel">{{tipo.descricao}}</option>
                </select>
            </label>
            <label for="destinacao" class="col-md-4 col-sm-4 col-xs-12">
                <strong>* Situação</strong>
                <select ng-model="$ctrl.imovel.situacao"
                    name="situacaoImovel"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposSituacaoImovel">{{tipo.descricao}}</option>
                </select>
            </label>
            <label for="destinacao" class="col-md-4 col-sm-4 col-xs-12">
                <strong>* Destinação</strong>
                <select ng-model="$ctrl.imovel.destinacao"
                    name="destinacaoImovel"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposDestImovel">{{tipo.descricao}}</option>
                </select>
            </label>
        </div>
        <div class="row">
            <label class="col-md-6 col-sm-6 col-xs-12">
                <strong>Localização</strong>
                <input type="text"
                    uppercase
                       ng-model="$ctrl.imovel.localizacao"
                       maxlength="60">
            </label>
            <label class="col-md-3 col-sm-3 col-xs-12">
                <strong>Área (m²)</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.area"
                       maxlength="17"
                       ui-number-mask="0"
                       placeholder="0,00 m²">
            </label>
            <label class="col-md-3 col-sm-3 col-xs-12">
                <strong>Área Construída (m²)</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.areaConstruida"
                       maxlength="17"
                       ui-number-mask="0"
                       placeholder="0,00 m²">
            </label>
        </div>
        <div class="row">
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Valor Atual</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.valorAtual"
                       ui-money-mask
                       maxlength="21"
                       placeholder="R$">
            </label>
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Valor Hipotecado</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.valorHipotecado"
                       ui-money-mask
                       maxlength="21"
                       placeholder="R$">
            </label>
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Valor Avaliação</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.valorAvaliacao"
                       ui-money-mask
                       maxlength="21"
                       placeholder="R$">
            </label>
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Valor Averbação</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.valorAverbacao"
                       ui-money-mask
                       maxlength="21"
                       placeholder="R$">
            </label>
        </div>
        <div class="row">
            <label class="col-md-6 col-sm-6 col-xs-12">
                <strong>Inscrição</strong>
                <input type="text"
                      uppercase
                       ng-model="$ctrl.imovel.inscricao"
                       maxlength="15">
            </label>
            <label class="col-md-6 col-sm-6 col-xs-12">
                <strong>Registro</strong>
                <input type="text"
                      uppercase
                       ng-model="$ctrl.imovel.registro"
                       maxlength="10">
            </label>
        </div>
        <div class="row">
            <label class="col-md-3 col-sm-3 col-xs-12">
                <strong>Número de Matrícula</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.numeroMatricula"
                       maxlength="10"
                       ui-number-mask="0"
                       ui-hide-group-sep>
            </label>
            <label class="col-md-3 col-sm-3 col-xs-12">
                <strong>Número Livro</strong>
                <input type="text"
                       ng-model="$ctrl.imovel.numeroLivro"
                       maxlength="10"
                       ui-number-mask="0"
                       ui-hide-group-sep>
            </label>
            <label class="col-md-6 col-sm-6 col-xs-12">
                <strong>Cartório</strong>
                <input type="text"
                      uppercase
                       ng-model="$ctrl.imovel.cartorio"
                       maxlength="20">
            </label>
        </div>
        <div class="row">
            <label class="col-md-12 col-sm-12 col-xs-12">
                <strong>Descrição</strong>
                <textarea class="form-control text-uppercase"
                          ng-model="$ctrl.imovel.descricao"
                          maxlength="250"
                          uppercase
                          rows="3"></textarea>
            </label>
            <label class="col-md-12 col-sm-12 col-xs-12">
                <strong>Origem</strong>
                <textarea class="form-control text-uppercase"
                          ng-model="$ctrl.imovel.origem"
                          maxlength="250"
                          uppercase
                          rows="3"></textarea>
            </label>
        </div>

        <div class="titleInsideSection">
            Vendedor
        </div>
        <hr>
        <div class="row">
            <label class="col-md-4 col-sm-5 col-xs-12">
                <strong>{{ $ctrl.isRequired ? "*" : "" }} CPF/CNPJ</span></strong>
                <input type="text"
                    ng-model="$ctrl.imovel.vendedor.cpfCnpj"
                    name="cpfCnpjVendedorImovel"
                    ui-br-cpfcnpj-mask
                    validate-on="blur"
                    invalid-message="'CPF ou CNPJ inválido'"
                    ng-blur="$ctrl.validarCpf($ctrl.imovel.vendedor.cpfCnpj); $ctrl.validarObrigatoriedade();"
                    id="cpfCnpjVendedorImovel"
                    ng-required="$ctrl.isRequired"
                    required-message="'Campo obrigatório'"
                    >
            </label>
            <label class="col-md-8 col-sm-7 col-xs-12">
                <strong>{{ $ctrl.isRequired ? "*" : "" }} Nome Completo</strong>
                <input type="text" ng-model="$ctrl.imovel.vendedor.nome" class="text-uppercase"
                    maxlength="65"
                    name="nomeCompleto"
                    validate-on="dirty"
                    ng-blur="$ctrl.validarObrigatoriedade();"
                    ng-required="$ctrl.isRequired"
                    required-message="'Campo obrigatório'"
                    uppercase
                    >
            </label>
        </div>
    </fieldset>

    <div class="btns-add">
        <button type="button"
            id="cancelarImovel"
            ng-click="$ctrl.cancelar() && imovelForm.reset()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="adicionarImovel"
            class="info info-add" >salvar</button>
    </div>
</form>
