<div class="btns-add">
    <button type="button" ng-hide="$ctrl.escondeNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novoImovel" class="info info-add">novo</button>
</div>
<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Tipo de Imóvel</th>
            <th>Situação</th>
            <th>Destinação</th>
            <th>Valor Atual</th>
            <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : imovel.modoEdicao }"
            ng-repeat="(index, imovel) in $ctrl.imoveis">
            <td ng-bind="imovel.descricaoTipoDeImovel"></td>
            <td ng-bind="imovel.situacao"></td>
            <td ng-bind="imovel.destinacao"></td>
            <td ng-bind="imovel.valorAtual | finance:true"></td>
            <td ng-if="!$ctrl.readonly" class="centerText">
                <button class="btn btn-warning glyphicon glyphicon-edit"
                      ng-disabled="imovel.modoEdicao"
                      title="Editar"
                      ng-if="!imovel.hasVinculoContrato"
                      type="button"
                      ng-click="$ctrl.editar(imovel)" ></button>
                <button class="btn btn-danger glyphicon glyphicon-trash"
                      ng-disabled="imovel.modoEdicao"
                      title="Remover"
                      ng-if="!imovel.hasVinculoContrato"
                      type="button"
                      ng-click="$ctrl.remover(imovel)"></button>

                <button class="glyphicon glyphicon-eye-open btn btn-viz"
                    type="button"
                    ng-disabled="imovel.modoVisualizacao"
                    title="Remover"
                    ng-if="imovel.hasVinculoContrato"
                    ng-click="$ctrl.visualizar(imovel)"></button>      
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia"  ng-if="$ctrl.imoveis.length==0">
    Nenhum imóvel foi adicionado até o momento
</div>
