<nova-sessao titulo="Imóveis" mostra-sessao="$ctrl.mostraSessao">
    <dados-imoveis
        imovel="$ctrl.imovel"
        on-salvar="$ctrl.salvar(imovel)"
        on-cancelar="$ctrl.cancelar()"
		apenas-leitura="$ctrl.apenasLeitura"
        ng-if="!$ctrl.readonly && $ctrl.mostrarImovelForm">
    </dados-imoveis>
    <lista-imoveis
        imoveis="$ctrl.imoveis"
        on-editar="$ctrl.editar(imovel)"
        on-novo="$ctrl.novo()"
		on-visualizar="$ctrl.visualizar(imovel)"
        on-remover="$ctrl.remover(imovel)"
        esconde-novo="$ctrl.mostrarImovelForm"
        readonly="$ctrl.readonly"
    >
    </lista-imoveis>
</nova-sessao>
