<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="./images/favicon-32x32.png">
	<title>Isobar IWS :: Front End Recruitment Process</title>
	<link rel="stylesheet" href="./vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./styles/styles.css">
</head>
<body ng-controller="appController as $ctrl">
	<div ng-class="{'detailActive': $ctrl.contentHide}">
		<header class="app-header clearfix">
			<div class="col-xs-7">
				<label class="app-field">
					<input type="text" class="app-field-search" ng-model="$ctrl.filters.name" placeholder="Buscar">
					<img src="./images/search.png" alt="Buscar" class="app-field-search-button">
				</label>
			</div>

			<div class="col-xs-5">
				<figure class="app-logo">
					<img src="./images/logo.png" alt="Isobar.fm" class="app-logo-image">
				</figure>
			</div>
		</header>

		<div class="content-filter clearfix" ng-hide="$ctrl.bandsFiltered.length < 1">
			<span class="col-xs-9 filter-result" ng-show="$ctrl.bandsFiltered.length > 0">
				{{$ctrl.bandsFiltered.length}} resultado(s)
			</span>

			<ul class="col-xs-3 filter-order">
				<li>
					<button class="filter-order-action" ng-click="$ctrl.filterOrder = !$ctrl.filterOrder">
						<img src="./images/order_by.png" alt="Ordenação">
					</button>

					<ul class="filter-order-actions" ng-class="{'active': $ctrl.filterOrder}">
						<li>
							<button
								class="filter-order-btn filter-order-name"
								ng-class="{'active': $ctrl.activeOrder.name}"
								ng-click="$ctrl.setOrderBy('name');"
							>
								Orderm alfabética
							</button>
						</li>

						<li>
							<button
								class="filter-order-btn filter-order-popular"
								ng-class="{'active': $ctrl.activeOrder.numPlays}"
								ng-click="$ctrl.setOrderBy('numPlays', true);"
							>
								Popularidade
							</button>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<ul class="list-artist">
			<li class="loader" ng-show="$ctrl.bandsFiltered.length < 1">
				<img src="./images/loader.gif" alt="Aguarde....">
				<span class="loader-text">Carregando albums...</span>
			</li>

			<li ng-click="$ctrl.bandDetail(band)"
				ng-show="$ctrl.bandsFiltered.length > 0"
				ng-repeat="band in $ctrl.bandsFiltered = ($ctrl.bands | filter: $ctrl.filters) | orderBy: $ctrl.orderBy">
				<figure class="artist-image">
					<img ng-src="{{band.image}}" on-error="http://via.placeholder.com/40x40" alt="{{band.name}}">
				</figure>

				<div class="artist-info">
					<h1 class="artist-name">{{band.name}}</h1>
					<span class="artist-plays">
						{{band.numPlays | number}} Plays
					</span>
				</div>
			</li>
		</ul>

		<div class="not-found" ng-show="$ctrl.bandsFiltered.length < 1">
			<span class="not-title">
				Sem resultados...
			</span>

			<img src="./images/no_results.png" alt="Sem resultados">
		</div>
	</div>

	<div class="artist-detail" ng-class="{'active': $ctrl.openedBandDetail}">
		<div class="artist-detail-back clearfix">
			<button class="back-list" ng-click="$ctrl.bandDetailToggle();">
				<img src="./images/arrow-left.png" alt="Voltar para lista">
			</button>

			<figure class="app-logo">
				<img src="./images/logo.png" alt="Isobar.fm" class="app-logo-image">
			</figure>
		</div>

		<figure class="artist-detail-info">
			<img ng-src="{{$ctrl.band.image}}" on-error="http://via.placeholder.com/400x600" alt="{{$ctrl.band.name}}">

			<figcaption>
				<h1 class="detail-info-name">{{$ctrl.band.name}}</h1>
			</figcaption>
		</figure>

		<figure class="artist-detail-image">
			<img ng-src="{{$ctrl.band.image}}" on-error="http://via.placeholder.com/80x80" alt="{{$ctrl.band.name}}">
		</figure>

		<ul class="artist-detail-plays">
			<li>{{$ctrl.band.genre}}</li>
			<li>{{$ctrl.band.numPlays | number}} Plays</li>
		</ul>

		<div class="artist-detail-biography">
			<div class="biography-text" ng-class="{'active': $ctrl.showAllBiography}">
				{{$ctrl.band.biography}}
			</div>

			<div class="biography-more">
				<button class="biography-button" ng-click="$ctrl.showMore()">
					<img src="./images/plus.png" alt="Mostrar mais" ng-if="!$ctrl.showAllBiography">
					<img src="./images/minus.png" alt="Mostrar mais" ng-if="$ctrl.showAllBiography">
				</button>

				<span class="biography-title">
					Albuns
				</span>
			</div>
		</div>

		<ul class="artist-detail-albuns clearfix">
			<li class="loader" ng-show="$ctrl.albums.length < 1">
				<img src="./images/loader.gif" alt="Aguarde....">
				<span class="loader-text">Carregando albums...</span>
			</li>

			<li class="col-xs-4" ng-repeat="album in $ctrl.albums">
				<figure class="albuns-image">
					<img ng-src="{{album.image}}" on-error="http://via.placeholder.com/40x40" alt="{{album.name}}">
					<figcaption>
						{{album.name}}
					</figcaption>
				</figure>
			</li>
		</ul>
	</div>

	<script src="./vendors/angular/angular.min.js"></script>
	<script src="./vendors/angular/angular-locale_pt-br.js"></script>
	<script src="./javascript/app/app.module.js"></script>
	<script src="./javascript/app/api.service.js"></script>
	<script src="./javascript/app/api.factory.js"></script>
	<script src="./javascript/app/app.controller.js"></script>
</body>
</html>