<form name="previdenciaForm" angular-validator-submit="$ctrl.salvar($ctrl.previdencia); previdenciaForm.reset()"
    novalidate angular-validator>
    <fieldset>
        <div class="row">
            <label class="col-md-3 col-sm-3 col-xs-12">
                <strong>* Tipo de Previdência</strong>
                <select ng-model="$ctrl.previdencia.tipoPlano"
                    name="tipoPrevidencia"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    id="tipoPrevidencia"
                    >
                    <option value="{{tipo.valor}}" ng-repeat="tipo in $ctrl.tiposPrevidencia | orderBy: 'descricao'">{{tipo.descricao}}</option>
                </select>
            </label>

            <label class="col-md-9 col-sm-9 col-xs-12">
                <strong>* Instituição</strong>
                <select ng-model="$ctrl.previdencia.instituicao"
                    name="instituicaoPrevidencia"
                    validate-on="dirty"
                    required-message="'Campo obrigatório'"
                    required
                    >
                    <option value="{{instituicao.valor}}" ng-repeat="instituicao in $ctrl.instituicoesPrevidencia | orderBy: 'descricao'">{{instituicao.descricao}}</option>
                </select>
            </label>
        </div>
        <div class="row">
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>* Valor Contribuição</strong>
                <input type="text"
                       name="valorContribuicao"
                       ng-model="$ctrl.previdencia.valorContribuicao"
                       ui-money-mask
                       required-message="'Campo obrigatório'"
                       required
                       maxlength="21"
                       placeholder="R$">
            </label>

            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Valor Montante</strong>
                <input type="text"
                       name="valorMontante"
                       ng-model="$ctrl.previdencia.valorMontante"
                       ui-money-mask
                       maxlength="21"
                       placeholder="R$">
            </label>

            <label class="col-md-3 col-sm-6 col-xs-12">
                <strong>Início da Contribuição</strong>
                <input class="form-control"
                       name="dataInicioContribuicao"
                       moment-picker="$ctrl.previdencia.dataInicioContribuicao"
                       format="DD/MM/YYYY"
                       start-view="month"
                       locale="pt-br"
                       ui-mask="99/99/9999"
                       model-view-value="true"
                       ng-model="$ctrl.previdencia.dataInicioContribuicao"
                       ng-blur="$ctrl.validarDataECalcularMeses($ctrl.previdencia.dataInicioContribuicao)"
                       invalid-message="'Data inválida'"
                       max-date="$ctrl.dataMaximaInicioContribuicao"
                       validate-on="blur">
            </label>

            <label class="col-md-3 col-sm-6 col-xs-12">
                <strong>Meses de Contribuição</strong>
                <input class="form-control"
                       name="mesesContribuicao"
                       ng-model="$ctrl.previdencia.mesesContribuicao"
                       disabled>
            </label>
</div>
<div class="row">
            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Dependentes sem Plano</strong>
                <input type="text"
                    ng-model="$ctrl.previdencia.numeroDependentesSemPlano"
                    ui-number-mask="0" ui-hide-group-sep
                    name="numeroDependentesSemPlano"
                    maxlength="3"
                    >
            </label>

            <label class="col-md-3 col-sm-3 col-xs-6">
                <strong>Número Proposta</strong>
                <input type="text"
                    ng-model="$ctrl.previdencia.numeroProposta"
                    ui-number-mask="0" ui-hide-group-sep
                    name="numeroPropostaPrevidencia"
                    maxlength="12"
                    >
            </label>

            <label class="col-md-2 text-center">
                <strong>Dependentes</strong>
                <checkbox ng-model="$ctrl.previdencia.possuiDependente"
                        class="field-checkbox"
                        name="possuiDependentePrevidencia"></checkbox>
            </label>

        </div>
    </fieldset>

    <div class="btns-add">
        <button type="button"
            id="cancelarPrevidencia"
            ng-click="$ctrl.cancelar() && previdenciaForm.reset()"
            class="info btn-danger">cancelar</button>

        <button type="submit" id="salvarPrevidencia"
            class="info info-add" >salvar</button>
    </div>
</form>
