<div class="btns-add">
    <button type="button" ng-hide="$ctrl.escondeNovo" ng-click="$ctrl.novo()" ng-if="!$ctrl.readonly" id="novaPrevidencia" class="info info-add">novo</button>
</div>
<hr ng-if="!$ctrl.readonly">
<table class="table table-striped tableListas">
    <thead>
        <tr>
            <th>Tipo de Previdência</th>
            <th>Instituição</th>
            <th>Valor</th>
            <th ng-if="!$ctrl.readonly" class="centerText" width="80">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{ itemSelecionado : previdencia.modoEdicao }"
            ng-repeat="(index, previdencia) in $ctrl.previdencias">
            <td ng-bind="previdencia.descricaoTipoDePrevidencia"> </td>
            <td ng-bind="previdencia.descricaoInstituicao "> </td>
            <td ng-bind="previdencia.valorContribuicao | finance:true"> </td>
            <td ng-if="!$ctrl.readonly" class="centerText">
                <button class="btn btn-warning glyphicon glyphicon-edit"
                      ng-disabled="previdencia.modoEdicao"
                      title="Editar"
                      type="button"
                      ng-click="$ctrl.editar(index)" ></button>
                <button class="btn btn-danger glyphicon glyphicon-trash"
                      ng-disabled="previdencia.modoEdicao"
                      title="Remover"
                      type="button"
                      ng-click="$ctrl.remover(previdencia)"></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="subtitle listaVazia" ng-show="$ctrl.previdencias.length==0">
    Nenhuma previdência foi adicionada até o momento
</div>
