<nova-sessao titulo="Previdências">
    <dados-previdencia
        ng-if="!$ctrl.readonly && $ctrl.mostrarPrevidenciaForm"
        previdencia="$ctrl.previdencia"
        on-salvar="$ctrl.salvarPrevidencia(previdencia)"
        on-cancelar="$ctrl.cancelarPrevidencia()">
    </dados-previdencia>
    <lista-previdencias
        previdencias="$ctrl.previdencias"
        on-editar="$ctrl.editarPrevidencia(previdencia)"
        on-novo="$ctrl.novaPrevidencia()"
        on-remover="$ctrl.removerPrevidencia(previdencia)"
        esconde-novo="$ctrl.mostrarPrevidenciaForm"
        readonly="$ctrl.readonly"
    >
    </lista-previdencias>
</nova-sessao>
