<div class="cadastro-content">
    <page-title titulo="'Novo'" subtitulo="'Cadastro'"></page-title>
</div>

<navegacao links="$ctrl.links"></navegacao>

<form name="formBens"
    class="cadastro-content"
    novalidate angular-validator>
    <div class="step-header">
        <h1>Bens</h1>
        <span class="cadastro-resumo" ng-if="viewSummary">| <a href="#/cadastro/pessoa-fisica/resumo" class="cadastro-edit">Resumo</a></span>
        <span class="session-cpf" ng-if="sessioncpf">{{sessioncpf}}</span>
    </div>

    <div class="step-content">
        <fieldset>
            <sessao-veiculos veiculos="$ctrl.bens.veiculos"></sessao-veiculos>
        </fieldset>
        <sessao-imoveis imoveis="$ctrl.bens.imoveis"></sessao-imoveis>
    </div>

    <mensagem-erro mensagens="$ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="$ctrl.sucessos"></mensagem-sucesso>

    <botoes-cadastro
        model="$ctrl.bens"
        on-salvar-rascunho="$ctrl.salvar(model)"
        links="$ctrl.links">
    </botoes-cadastro>

</form>
