<div class="nova-sessao">
	<button type="button" class="step-section" ng-click="$ctrl.mostrar();" ng-class="{active: $ctrl.mostraSessao}">
        {{ $ctrl.titulo }}

        <tooltip texto="$ctrl.info" ng-if="$ctrl.info"></tooltip>

		<i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
	</button>

	<div ng-show="$ctrl.mostraSessao">
		<div class="section-content" ng-transclude></div>
	</div>

</div>
