<div class="uni-modal" ng-class="{'active': $ctrl.open}">
	<div class="uni-modal--content uni-modal--small modal-cpf" ng-class="{'active-modal': $ctrl.open}">
		<button ng-click="$ctrl.modal.close(); buscaCoopForm.reset(); $ctrl.resetarModal()" class="uni-modal--close"><span class="close thick"></span></button>
		<div class="uni-modal--header">
			<h1>{{$ctrl.titulo}}</h1>
		</div>

		<form
			class="uni-modal--body"
			ng-class="{'uni-modal--body-align': !$ctrl.isAlteracao && !$ctrl.isContaCorrente}"
			name="buscaCoopForm"
			angular-validator-submit="$ctrl.buscar(); buscaCoopForm.reset();"
			novalidate
			angular-validator>

			<div class="btn-group multi-search" ng-if="$ctrl.isAlteracao || $ctrl.isContaCorrente">
		        <label  class="btn btn-primary"
						ng-model="$ctrl.filter"
						uib-btn-radio="'CPF'"
						ng-click="$ctrl.changeFilter($ctrl.filter)">CPF</label>

		        <label  class="btn btn-primary"
						ng-model="$ctrl.filter"
						uib-btn-radio="'MATRICULA'"
						ng-click="$ctrl.changeFilter($ctrl.filter)">Matrícula</label>

		        <label  class="btn btn-primary"
						ng-model="$ctrl.filter"
						uib-btn-radio="'CONTA'"
						ng-click="$ctrl.changeFilter($ctrl.filter)">Conta</label>
		    </div>

			<label class="lb-field" ng-show="$ctrl.filter == 'CPF'">
				<span ng-if="!$ctrl.isAlteracao">Digite o CPF</span>
				<input
					type="text"
					ng-model="$ctrl.dadoCpf"
					class="field"
                    name="buscaCPF"
                    maxlength="14"
                    ui-br-cpf-mask
					placeholder="000.000.000-00"
                    validate-on="blur"
					ng-required = "$ctrl.filter == 'CPF'"
                    required-message = "'Campo obrigatório'"
                    invalid-message="'CPF inválido'"
                    id="cpfField">
			</label>

			<label class="lb-field" ng-show="$ctrl.filter != 'CPF'">
				<input
					type="text"
					ng-model="$ctrl.dadoMatriculaConta"
					class="field"
					name="buscaMatConta"
					maxlength="10"
					ui-number-mask="0"
					ui-hide-group-sep
					placeholder="0000000000"
					validate-on="blur"
					ng-required = "$ctrl.filter != 'CPF'"
					required-message = "'Campo obrigatório'"
	                invalid-message = "'Campo inválido'"
					id="matriculaContaField">
			</label>

			<ui-select
				ng-model="$ctrl.cooperativa.selected"
				title="{{$select.selected.cooperativa + ' - ' + $select.selected.nome}}"
				theme="select2"
				class="combo-cooperativa"
				ng-disabled="$ctrl.cooperativas.length < 2"
			>
                <ui-select-match placeholder="Selecione cooperativa">{{$select.selected.codigo + ' - ' + $select.selected.nome}}</ui-select-match>
                <ui-select-choices repeat="cooperativa in $ctrl.cooperativas | filter: $select.search">
                    <small ng-bind-html="cooperativa.codigo | highlight: $select.search"></small> -
					<span ng-bind-html="cooperativa.nome | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

			<label class="lb-field btn-field">
				<button
					class="uni-btns btn-confirmacao btn-sm"
					type="submit"
					ng-disabled="($ctrl.dadoCpf.length!=11 && $ctrl.cooperativa.selected && $ctrl.filter == 'CPF')
								 || ($ctrl.dadoMatriculaConta.toString().length < 2 && $ctrl.filter != 'CPF')
								 || buscaCoopForm.$invalid">
                    <span>Buscar</span>
                </button>
			</label>
			<div class="erroModalCPF" ng-if="$ctrl.erroBuscaCpf">Cadastrado não encontrado</div>

		</form>
	</div>
</div>
