<ul class="progress-indicator" id="timestep">
    <li ng-repeat="link in $ctrl.links" ng-class="{ 'current': link.isCorrent, 'completed': link.isCompleted }">
        <a href="{{ link.url($ctrl.cpf) }}" tabindex="-1" >
            <span class="bubble"></span>
            <span ng-bind-html="link.descricao"></span>
        </a>
    </li>
</ul>