<div class="error-status-page page-unauthorized error-403">
	<div class="vertical-center-wrapper">
		<div class="error-title">
			<img src="./public/styles/images/403.png" class="error-image" alt="">
		</div>
		<h3 class="error-subtitle">Infelizmente você <span>não está autorizado</span><br>a acessar esta página</h3>


		<div class="error-button-label">
			Pronto para voltar?
		</div>

		<a href="#/home" class="uni-btns btn-cancelar btn-lg">
			<span>Ok, tire-me daqui</span>
		</a>
	</div>
</div>
