<div class="error-status-page page-unauthorized error-404">
	<div class="vertical-center-wrapper">
		<div class="error-title">
			<img src="./public/styles/images/404.png" class="error-image" alt="">
		</div>
		<h3 class="error-subtitle">Infelizmente <span>não encontramos</span><br>a página que você está tentando acessar</h3>

		<div class="error-button-label">
			Já sabe o que fazer?
		</div>
		<a href="#/home" class="uni-btns btn-primario btn-lg ">
			<span>Sim, voltar para home</span>
		</a>
	</div>
</div>
