<div class="cadastro-content">
    <div class="page-alteracao">
        <page-title titulo="'Alteração'" subtitulo="'Cadastral'"></page-title>

        <div class="row">
            <ul class="list-steps">
                <li class="col-md-4 col-sm-6 col-xs-12 list-steps-item"
                    ng-class="{'disabled': !menu.active}"
                    ng-repeat="menu in $ctrl.menus">
                    <a href="{{menu.url($ctrl.cpf);}}" class="list-steps-link" ng-class="{'disabled': !menu.active}">
                        <span>{{menu.descricao}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>