<div class="cadastro-home">
    <h1>SELECIONE O TIPO DE CADASTRO</h1>
    <div class="cadastro-menu">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 card-cadastro">
            <div class="col-md-12">
                <div class="shadowed-box">
                    <a href="#" ng-click="$event.preventDefault();$ctrl.openModal('terceiro', 'Novo cadastro de pessoa física');" class="add-terceiro">
                        <figure>
                            <img src="./public/styles/images/icons/terceiro.png" alt="Pessoa Física">
                        </figure>
                        <span>Pessoa Física</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 card-cadastro" ng-if="$ctrl.isAllowedToUpdate">
            <div class="col-md-12">
                <div class="shadowed-box">
                    <a href="#" ng-click="$event.preventDefault();$ctrl.openModal('alteracoes', 'Alteração Cadastral');" class="add-matricula">
                        <figure>
                            <img src="./public/styles/images/icons/planilha.png" alt="Matrícula">
                        </figure>
                        <span>Alteração Cadastral</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
