<div class="login-content">
    <figure class="logo">
        <img src="./public/styles/images/logo_unicred.png" alt="Unicred">
    </figure>
    <div class="login-content_title">
        <h2>Bem-vindo ao</h2>
        <h1>Sistema Gestão de Cadastros</h1>
    </div>
    <form class="login-content_form"
          autocomplete="on"
          name="loginForm"
          angular-validator-submit="$ctrl.login($ctrl.data);" novalidate angular-validator
          >
        <h1>Login</h1>
        <span ng-if="$ctrl.handler" class="message-login">{{$ctrl.handler.message}}</span>
        <label class="select-cooperativa">
             <ui-select ng-model="$ctrl.data.cooperativa.selected" title="Escolha a cooperativa" theme="select2" id="coop">
                <ui-select-match placeholder="cooperativa">{{$select.selected.cdCooperativa + ' - ' + $select.selected.dsSigla}}</ui-select-match>
                <ui-select-choices repeat="coop in $ctrl.cooperativas | filter: $select.search">
                    <small ng-bind-html="coop.cdCooperativa | highlight: $select.search"></small> -
					<span ng-bind-html="coop.dsSigla | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </label>
        <label>
            <input type="text"
                   name="username"
                   id="username"
                   placeholder="usuário"
                   ng-model="$ctrl.data.username"
                   required-message="'Campo obrigatório'"
                   ng-required="true">
        </label>
        <label>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="senha"
                   ng-model="$ctrl.data.password"
                   required-message="'Campo obrigatório'"
                   ng-required="true"
                   >
        </label>
        <label class="login-buttons">
            <button class="btn-login" id="bttEntrar" type="submit">
                <span>Entrar</span>
            </button>
        </label>
    </form>
</div>
