<fieldset>
    <div class="row">
        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Situação</strong>
            <select
                ng-model="$ctrl.contaEspelho.situacao"
                name="situacaoContaEspelho"
                validate-on="blur"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
                <option value=""></option>
                <option value="{{situacao.valor}}" ng-repeat="situacao in $ctrl.situacoesContaEspelho">{{situacao.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Pacote de Tarifas BB</strong>

            <select
                ng-model="$ctrl.contaEspelho.pacoteTarifas"
                name="pacoteTarifas"
                validate-on="blur"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
                <option value=""></option>
                <option value="{{pacoteTarifa.valor}}" ng-repeat="pacoteTarifa in $ctrl.pacotesTarifas">{{pacoteTarifa.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>* Tp. Cálc. Def. Limite</strong>
            <select
                ng-model="$ctrl.contaEspelho.tipoCalculoLimite"
                name="tipoCalculoLimite"
                validate-on="blur"
                required-message = "'Campo obrigatório'"
                ng-required="true"
            >
                <option value=""></option>
                <option value="{{tipoCalculoLimite.valor}}" ng-repeat="tipoCalculoLimite in $ctrl.tiposCalculoLimiteContaEspelho">{{tipoCalculoLimite.descricao}}</option>
            </select>
        </label>

        <label class="col-md-3 col-sm-3 col-xs-12">
            <strong>Valor Limite</strong>
            <input
                type="text"
                ng-model="$ctrl.contaEspelho.valorLimite"
                name="valorLimite"
                class="text-uppercase"
                ng-disabled="$ctrl.contaEspelho.tipoCalculoLimite != 'PADRAO'"
                ui-money-mask>
        </label>
    </div>

    <div class="row">
        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Saldo Mínimo</strong>
            <input
                type="text"
                ng-model="$ctrl.contaEspelho.saldoMinimo"
                name="saldoMinimo"
                class="text-uppercase"
                ui-money-mask>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>Saldo Máximo</strong>
            <input
                type="text"
                ng-model="$ctrl.contaEspelho.saldoMaximo"
                name="saldoMaximo"
                class="text-uppercase"
                ui-money-mask>
        </label>

        <label class="col-md-4 col-sm-4 col-xs-12">
            <strong>* End. Corresp. Conta Int. BB</strong>
            <input type="text" ng-model="$ctrl.contaEspelho.enderecoCorrespondencia"
                name="enderecoCorrespondencia"
                class="text-uppercase"
                validate-on="dirty"
                invalid-message="'Máximo de 35 caracteres'"
                maxlength="35" />
        </label>
    </div>
</fieldset>