<div ng-controller="sidebarController as $ctrl">
    <div class="sidebar" ng-class="{'activeMenu': $ctrl.isActive}" id="sidebarMenu">
        <ul class="sidebar-menu">
            <li>
                <a href="#/home" ng-class="{'active': ($ctrl.isBaseUrl ? $ctrl.isBaseUrl : $ctrl.isMenuActive('/home'))}" ng-click="$ctrl.menuAction($event, true)" tabindex="-1">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </li>

            <li ng-if="$ctrl.isAllowedToInsert()">
                <a href="#/cadastro" ng-class="{'active': $ctrl.isMenuActive(['/cadastro'])}" ng-click="$ctrl.menuAction($event, true);" tabindex="-1" id="linkCadastroMenuLateral">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span>Cadastro</span>
                </a>
            </li>

            <li ng-if="false">
                <a href="#" ng-click="$ctrl.menuAction($event, false);" data-toggle="modal" data-target="#helpModal" tabindex="-1" class="link">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span>Ajuda</span>
                </a>
            </li>

        </ul>

        <div class="dash-info">
            <span class="dash-username">Usuário {{$ctrl.app.user}}</span>
            <span class="dash-version">{{$ctrl.app.version}}</span>
        </div>
    </div>

    <modal-cpf></modal-cpf>
    <modal-steps></modal-steps>
    <modal-status titulo="'Terceiro'"></modal-status>
</div>
