.signup {
  display: none; //Adding this to stop signup from flashing
}


.account-page {
  header {
    padding: 3% 5%;
    background-color: $white;
    .overview {
      display: inline-block;
      .prominent {
        font-size: rem-calc(26);
        margin-right: rem-calc(20);
        &.points {
          margin-left: rem-calc(20);
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .cta-container {
      @media(min-width: $bp-xxl) {float: right;}
      .start.btn {
        cursor: pointer;
        display: block;
        text-transform: uppercase;
        background-color: $enterpriseGreen;
      }
      .cta-text-link {
        color: $enterpriseGreen;
        display: block;
        font-family: $medium;
        margin-top: rem-calc(20);
      }
    }
  }

  &.sign-in {
    header {
      padding: 5% 5% 3%;
      .overview {
        width: 100%;
        display: inline-block;
        h1 {
          display: inline-block;
        }
        .banner {
          font-family: $light;
          font-size: 20px;
          float: right;
        }
      }
    }
    /* .account-tabs-container {
      &:after {
        width: 60%;
      }
      .account-tabs {
        width: 35%;
        .tab {
          width: 50%;
        }
      }
    } */
    .enterprise-login {
      margin: 0 auto;
      padding: rem-calc(80) rem-calc(20) rem-calc(30);
      max-width: 800px;
      font-family: $regular;
      .login-actions {
        .btn {
          text-transform: uppercase;
          float: right;
          margin-top: 20px;
          width: 200px;
          padding: .6em;
        }
        .loading {
          margin-top: 30px;
        }
      }
      label {
        margin-top: 20px;
      }
      .forgot {
        width: 100%;
        text-align: right;
        cursor: pointer;
        color: $enterpriseGreen;
        margin-top: 20px;
        float: right;
        &:hover {
          color: $enterpriseDarkGreen;
        }
      }
    }
  }


  //ACCOUNT TABS
  .account-tabs-container{
    .custom-select{
      padding: 0 20px;
      select{
        height: auto;
        width: 100%;
        padding: 12px 10px 10px;
        color: $darkGray;
        font-family: $bold;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
    .account-tabs {display: none;}
  }
  @media( min-width: $bp-med ){
    .account-tabs-container {
      margin-top: rem-calc(30);
      display: inline-block;
      width: 100%;
      padding: 0 5%;
      border-bottom: 1px solid #c3c3c3;

      .mobile-select{display: none;}
      .account-tabs {
        min-width: 55%;
        display: inline-block;
        border-collapse: collapse;
        font-size: 0;
        white-space: nowrap;
        .tab {
          cursor: pointer;
          font-family: $medium;
          text-transform: uppercase;
          font-size: rem-calc(16);
          min-width: 33.33%;
          display: inline-block;
          text-align: center;
          border: 1px solid $lightGray;
          padding: rem-calc(15) rem-calc(20);
          color: $darkGray;
          background-color: $lightestGray;
          position: relative;
          top: 1px;
          &.active {
            color: $black;
            background-color: $white;
            border-top: 4px solid $enterpriseGreen;
            border-bottom: 1px solid #fff;
          }
          &.active:after {
              content: "";
              display: block;
              width: 0;
              height: 0;
              position: absolute;
              top: 0;
              right: -17px;
              border-width: 27px 8px;
              border-style: solid;
              border-color: transparent transparent #000 #000;
              opacity: 0.06;
              z-index: 99;
          }
          &.active + .tab {
              position: relative;
          }/*
          &.active + .tab:before {
              content: "";
              display: block;
              width: 0;
              height: 0;
              position: absolute;
              top: 0;
              left: 0;
              border-width: 27px 8px;
              border-style: solid;
              border-color: transparent transparent #000 #000;
              opacity: 0.06;
          }*/
          &.settings, &.reward, &.ec {
            border-left: none;
          }
        }
      }
    }
  }


  //SEARCH TOGGLE
  .my-reservations {
    .toggle-search-reservation-container {
      .toggle-search-reservation {
        p {
          display: block;
          text-align: right;
          padding: 0 15px;
          margin: 2% auto;
        }
      }
    }
    .existing-reservation-search {
      background: $lightestGray;
      fieldset {
        max-width: rem-calc(800);
        padding: 5% rem-calc(20);
        margin: 1% auto -8px;
        .beta{display: block;}
        .required-msg{
          display: block;
          margin: 0 0 15px 0;
          line-height: 1.2;
        }
      }
      h2 {
        font-family: $medium;
        display: inline-block;
        margin-bottom: 25px;
      }
      .beta + .required-msg {
        display: block;
      }
    }
  }
  @media( min-width: $bp-med ){
    .my-reservations {
      .toggle-search-reservation-container {
        .toggle-search-reservation {
          p {
            max-width: rem-calc(800);
            padding: 0 rem-calc(20);
            margin: 2% auto;
            text-align: right;
            display: block;
          }
        }
        .existing-reservation-search{
          fieldset{margin: 1% auto;}
        }
      }
    }
  }

  .my-reservations-body {
    max-width: rem-calc(800);
    padding: 0 rem-calc(20);
    margin: 0 auto;
    h2 {
      font-family: $medium;
      margin: 40px 0;
    }
    .trips {
      &:first-of-type{
        margin-top: 15px;
        h2{margin-top: 0;}
      }
      .no-reservations, .error-reservations {
        display: none;
      }
    }
    .trips .empty-data .no-reservations {
      display: block;

      a.no-res-link {
        color: $enterpriseGreen;
        font-family: $medium;
        font-size: 0.875rem;
      }
    }
    .trips .error .error-reservations {
      display: block;
      color: red;
    }
  }
  @media( min-width: $bp-med ){
    .my-reservations-body {
      max-width: rem-calc(800);
      padding: 0 rem-calc(20);
      margin: 5% auto;
      h2 {
        font-family: $medium;
        margin: 40px 0;
      }
      .trips {
        .no-reservations, .error-reservations {
          display: none;
        }
      }
      .trips .empty-data .no-reservations {
        display: block;
      }
      .trips .error .error-reservations {
        display: block;
        color: red;
      }
    }
  }

  .account-settings {
    padding: rem-calc(15) rem-calc(20);

    .account-payments {
      > .error-container {
        max-width: rem-calc(750);
        margin: 5% auto;
      }
    }

    table.payments {
      tbody {
        border-top: 0;
      }
      i.icon {
        display: inline-block;
        position: relative;
        top: 4px;
      }
      span.edit.change {
        float: none;
      }
      .mainLabel {
        width: 45%;
      }
      .header {
        border-top: 1px solid $black;
      }
      .buffer {
        width: 5%;
        border-top-width: 0;
      }
    }

    table {
      max-width: rem-calc(750);
      padding: 0 rem-calc(20);
      margin: 5% auto;
      border: none;
      tr {
        th {
          border: none;
        }
        .edit {
          cursor: pointer;
          text-transform: uppercase;
          font-size: rem-calc(14);
          color: $enterpriseDarkGreen;
          float: right;
          &:hover {
            color: $enterpriseLightGreen
          }
        }
        td {
          &.hiddenAddress {
            font-style: italic;
            p {
              margin: 0;
            }
          }

          width: auto;
          vertical-align: top;
          border: none;
          border-bottom: 1px solid $black;
          padding: rem-calc(10) 0;
          &:first-child {
            font-family: $medium;
            font-size: rem-calc(14);
            text-transform: uppercase;
            width: 45%;
          }
          .update {
            margin-right: 5px;
          }
          .update, .remove {
            font-family: $medium;
          }
          .btn {
            font-size: 14px;
            font-family: $light;
            text-transform: uppercase;
            float: right;
            padding: 10px 15px;
          }
          .accented {
            color: $enterpriseGreen;
            font-size: rem-calc(12);
            //margin-left: rem-calc(20); // ECR-22 why?
          }
          .expiration {
            font-size: rem-calc(14);
            //margin-left: rem-calc(30);
          }
          .inline-row {
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(5);
            &:first-child {
              padding-top: 0;
              border-bottom: 1px solid $lightGray;
            }
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
      thead {
        th {
          padding-left: 0;
          h2 {
            font-family: $medium;
            font-size: rem-calc(26);
            padding-bottom: rem-calc(10);
            margin-left: -3px;
          }
        }
      }
      tbody {
        border-top: 4px solid $black;
      }
    }
  }



  //REWARDS PANEL
  .account-rewards{
    margin-top: 40px;

    // TODO: Turn loyalty tier colors into a function or mixin
    //REWARDS PANEL
    .rewards-panel {
      font-size: initial;
      display: block;
      vertical-align: top;
      position: relative;

      .rewards-panel-inner {
        position: relative;
      }

      .rewards-title {
        font-size: 14px;
        line-height: 1.2;

        .current-tier,
        .next-tier {
          display: block;
          font-size: 22px;
          text-align: center;
          &.plus {
            color: $enterpriseGreen;
          }
          &.silver {
            color: $silver-tier;
          }
          &.gold {
            color: $gold-tier;
          }
          &.platinum {
            color: $platinum-tier;
          }
        }

        @media all and (max-width: $bp-med) {
          font-size: rem-calc(16);
          margin-top: rem-calc(24);
          padding-left: rem-calc(12);
        }
      }

      .ent-gauge {
        display: block;
        position: relative;
        width: 100%;
        margin: 30px 0;
        padding: 0 20px;
        opacity: 1.0;
        text-align: center;
        transition: all 250ms ease-in-out;

        &.ent-gauge-last{}
        &.disabled{opacity: 0.10;}

        .ent-gauge-inner{position: relative;}
        .ent-gauge-wrapper {
            position: relative;
        }

        h1 {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;
          height: auto;
          margin: 0 auto;
          font-size: 48px;
          line-height: 1;
          text-align: center;
          transition: all 250ms ease-in-out;

          &.plus {
            color: $enterpriseGreen;
          }
          &.silver {
            color: $silver-tier;
          }
          &.gold {
            color: $gold-tier;
          }
          &.platinum {
            color: $platinum-tier;
          }
        }

        .icon{margin: 0 auto 8px;}
        .icon-ENT-days{
          width: 24px;
          height: 24px;
        }
        .icon-nav-vehicle{
          width: 40px;
          height: 16px;
          background-position: center;
        }

        h2{
          margin: 0 0 -8px 0;
          font-family: $light;
          font-size: 22px;
          line-height: 1;
        }

        svg{
          width: 100%;
          max-width: 330px;
        }

        .gauge-details {
          display: block;
          position: relative;
          top: -23px;
          padding: 0;
          color: $midGray;
          font-family: $medium;
          text-align: center;
          text-transform: uppercase;
          white-space: pre-line;

          &.plus {
            color: $enterpriseGreen;
          }
          &.silver {
            color: $silver-tier;
          }
          &.gold {
            color: $gold-tier;
          }
          &.platinum {
            color: $platinum-tier;
          }

          b {
            color: $black;
          }
        }

        .rentals-path, .days-path {
          transition: all 1s ease-in-out;
          &.plus {
            stroke: $enterpriseGreen;
          }
          &.silver {
            stroke: $silver-tier;
          }
          &.gold {
            stroke: $gold-tier;
          }
          &.platinum {
            stroke: $platinum-tier;
          }
        }
      }

      .rewards-description {
        margin-top: rem-calc(50);
        width: 85%;
      }

      .divider{display: none;}

      .disabled-label {
        display: none;
        color: $black;
        font-family: $medium;
        margin: 0;
        position: absolute;
        top: 60%;

        &.enabled {
          display: inline-block;
        }
      }
    }

    //SUMMARY PANEL (<aside>)
    .summary-panel {
      display: block;
      width: 100%;
      padding: 40px 20px 30px;
      border-top: 4px solid $lightGray;
      background-color: $heroGray;

      h3 {
        margin-bottom: 15px;
        color: $darkGray;
        font-family: $bold;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
      }

      ul {
        margin-bottom: 45px;
        li{
          margin: 0 0 15px 0;
          font-size: 17px;
          line-height: 1;
        }
        .summary-label{font-family: $bold;}
        .summary-value{font-family: $light;}
      }

      a {
        display: block;
        margin: 6px 0;
        color: $enterpriseGreen;
        font-family: $bold;
      }
      form a{margin-top: 0;}

      .ytd {
        display: block;
        margin-top: 25px;
        font-size: 12px;
      }
    }

    .redeem-points-band {
        clear: both;
        background: $black;
        text-align: center;

        .redeem-points-band-inner {
            display: inline-block;
        }
        .redeem-inner-item {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
            color: white;

            &.eplus-logo {
                padding: 14px 0;
            }

            &.points-copy {
                font-size: 26px;
                padding: 0 70px;

                .points-count {
                    font-size: 42px;
                    font-family: "DINHeavy";
                }
                .points-message {
                    color: $enterpriseGreen;
                    margin-left: 12px;
                }
            }
        }
    }
  }
  @media( min-width: 550px ){
    header .cta-container a.start.btn{
      display: inline-block;
      width: auto;
    }
    .account-tabs-container .custom-select select{
      width: auto;
      padding-right: 50px;
    }
  }
  @media( min-width: $bp-med ){
    .account-rewards{
      margin: 0;
      background: linear-gradient(to right, #ffffff 0%, #ffffff 74.9%, #dedede 75%, #f3f3f3 85%, #f3f3f3 100%);

      // TODO: Turn loyalty tier colors into a function or mixin
      .rewards-panel {
        float: left;
        width: 75%;
        padding-top: 40px;
        padding-bottom: 40px;

        .rewards-panel-inner {
          position: relative;
        }

        .rewards-title {
          .current-tier, .next-tier{}
        }

        .ent-gauge {
          float: left;
          position: relative;
          width: 50%;
          margin-bottom: 0;
          padding-right: 20px;
          opacity: 1.0;
          text-align: center;

          &.ent-gauge-last{}

          &.disabled {
            opacity: 0.10;
          }

          .ent-gauge-inner {
              position: relative;
          }

          h1 {
            font-size: rem-calc(60);
            left: 0;
            right: 0;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            // top: 180px;
          }

          i {
            width: rem-calc(52);
            height: rem-calc(52);
            margin: 0 auto;
            background-size: 100% auto;
          }
          .icon-nav-vehicle{margin-top: 8px;}

          h2 {margin-bottom: rem-calc(12);}

          .gauge-details {
            padding: 0 100px;
          }
        }

        .divider {
          display: block;
          border-top: 2px solid #181918;
          border-bottom: 2px solid #181918;
          position: absolute;
          width: 40px;
          text-align: center;
          top: 40%;
          left: 50%;
          margin-left: -20px;
          opacity: 1.0;
          transition: all 250ms ease-in-out;

          &.disabled {
            opacity: 0.10;
          }
        }
      }

      .summary-panel {
        float: right;
        display: block;
        width: 25%;
        border: none;
        background: none;
        font-size: initial;

        h3{}

        ul {
          .summary-label {}
        }

        a{
          margin-bottom: rem-calc(40);
        }

        .ytd {
          display: inline-block;
          font-size: rem-calc(12);
        }
      }
    }
  }
  @media( min-width: $bp-large-2 ){}
  @media( min-width: $bp-xl ){
    .account-rewards{
      font-size: 0;
      background: linear-gradient(to right, #ffffff 0%, #ffffff 74.9%, #dedede 75%, #f3f3f3 85%, #f3f3f3 100%);

      // TODO: Turn loyalty tier colors into a function or mixin
      .rewards-panel {
        font-size: initial;
        display: inline-block;
        vertical-align: top;
        padding-left: 5%;
        position: relative;
        width: 75%;

        .rewards-panel-inner {
          position: relative;
        }

        .rewards-title {
          font-size: rem-calc(20);
          margin-top: rem-calc(40);

          .next-tier,
          .current-tier {
            font-size: rem-calc(32);
          }
        }

        .ent-gauge {
          display: inline-block;
          float: left;
          position: relative;
          width: 50%;
          padding-right: 20px;
          opacity: 1.0;
          text-align: center;
          transition: all 250ms ease-in-out;

          &.ent-gauge-last {
              padding-right: 0;
              padding-left: 20px;
          }

          &.disabled {
            opacity: 0.10;
          }

          .ent-gauge-inner {
              position: relative;
          }

          h1 {
            font-size: rem-calc(60);
            left: 0;
            right: 0;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            // top: 180px;
          //   opacity: 0.0;
            transition: all 250ms ease-in-out;

            &.plus {
              color: $enterpriseGreen;
            }
            &.silver {
              color: $silver-tier;
            }
            &.gold {
              color: $gold-tier;
            }
            &.platinum {
              color: $platinum-tier;
            }
          }

          i {
            width: rem-calc(52);
            height: rem-calc(52);
            margin: 0 auto;
          }

          h2 {
            margin-bottom: rem-calc(12);
          }

          .gauge-details {
            color: $midGray;
            display: block;
            font-family: $medium;
            position: relative;
            top: -15px;
            padding: 0 100px;
            text-align: center;
            text-transform: uppercase;

            &.plus {
              color: $enterpriseGreen;
            }
            &.silver {
              color: $silver-tier;
            }
            &.gold {
              color: $gold-tier;
            }
            &.platinum {
              color: $platinum-tier;
            }

            b {
              color: $black;
            }
          }

          .rentals-path, .days-path {
            transition: all 1s ease-in-out;
            &.plus {
              stroke: $enterpriseGreen;
            }
            &.silver {
              stroke: $silver-tier;
            }
            &.gold {
              stroke: $gold-tier;
            }
            &.platinum {
              stroke: $platinum-tier;
            }
          }

          @media all and (max-width: $bp-med) {
            display: block;
            margin: 0;

            svg {
              width: rem-calc(340);
            }
          }
        }

        .rewards-description {
          margin-top: rem-calc(50);
          width: 85%;

          @media all and (max-width: $bp-med) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
          }
        }

        .divider {
          border-top: 2px solid #181918;
          border-bottom: 2px solid #181918;
          position: absolute;
          width: 40px;
          text-align: center;
          top: 55%;
          left: 50%;
          margin-left: -20px;
          opacity: 1.0;
          transition: all 250ms ease-in-out;

          &.disabled {
            opacity: 0.10;
          }

          @media all and (max-width: $bp-med) {
            position: relative;
            margin-left: 45%;
            margin-top: rem-calc(40);
            margin-bottom: rem-calc(16);
          }
        }

        .disabled-label {
          display: none;
          color: $black;
          font-family: $medium;
          margin: 0;
          position: absolute;
          top: 60%;

          &.enabled {
            display: inline-block;
          }
        }

        @media all and (max-width: rem-calc(1080)) {
          width: 50%;
        }

        @media all and (max-width: $bp-med) {
          display: block;
          padding: 0;
          width: 100%;
        }
      }

      .summary-panel {
        display: inline-block;
        padding: rem-calc(60) rem-calc(30) rem-calc(60) rem-calc(60);
        width: 25%;
        font-size: initial;

        h3 {
          color: $darkGray;
          font-family: $medium;
          margin-bottom: rem-calc(18);
        }

        ul {
          margin-bottom: rem-calc(50);
          .summary-label {
            font-family: $medium;
          }
        }

        a {
          color: $enterpriseGreen;
          display: block;
          font-family: $bold;
          margin-bottom: rem-calc(40);
        }

        .ytd {
          font-size: rem-calc(12);
        }

        @media all and (max-width: rem-calc(1080)) {
          width: 50%;
        }

        @media all and (max-width: $bp-med) {
          display: block;
          float: none;
          padding: rem-calc(28);
          width: 100%;
        }
      }
    }
  }

  .modal-container {
    .modal-content {
      width: 60%;
      height: auto;
      margin-left: -30.1%;
      overflow: auto;
      max-height: 88vh;
      padding-bottom: 0;
      .modal-header {
        .close-modal {
          float: right;
        }
      }
      .modal-body {
        padding: rem-calc(50);
      }

      .personal-entry-form {
        h2 {
          padding-bottom: 0;
        }
      }

    }
  }

  .personal-entry-form {

    .divider {
      border-bottom: 2px solid $black;
      margin-top: rem-calc(30);
    }

    select,
    input {
      text-transform: uppercase;
    }
    input[type="password"] {
      text-transform: none;
    }
    select {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      padding: 8px 30px 8px 8px;
      border-color: $lightGray;
      background-color: $white;
      width: 100%;
      margin: 0;
      margin-right: 4%;
      &:focus {
        border: 1px solid $enterpriseGreen;
      }
    }
    input:disabled {
      background-color: $lightestGray;
      border-color: $lightGray;
      color: $black;
      padding-bottom: 5px;
    }
    &.payment {
      .payments-container {
        font-size: rem-calc(14);
        padding-bottom: rem-calc(30);
        border-bottom: 1px solid $midGray;
        &:not(:first-child) {
          padding-top: rem-calc(20);
        }
        .cc-type {
          display: inline-block;
          width: 30%;
          font-family: $medium;
          font-size: rem-calc(14);
          text-transform: uppercase;
          margin-right: rem-calc(20);
        }
        .cc-number {
          margin-right: rem-calc(40);
        }
        .preferred {
          color: $enterpriseGreen;
        }
        .cc-action {
          cursor: pointer;
          margin-right: rem-calc(30);
          float: right;
          color: $enterpriseGreen;
          text-transform: uppercase;
          font-family: $medium;
        }
      }
      .btn.add {
        font-size: rem-calc(14);
        padding: rem-calc(12);
        margin-top: rem-calc(15);
        margin-bottom: rem-calc(15);
        width: 100%;
      }
      .payment-iframe {
        border: 0;
        width: 100%;
        height: 210px;
      }
    }

    &.contact {
      .field-container {
          margin-bottom: 1.5em;
      }
      .disclaimer {
        margin-bottom: rem-calc(30);
      }
      .first-name, .last-name, .city, .country, .postal, .subdivision, .region {
        display: inline-block;
      }

      .first-name, .last-name, .city, .country, .region, .postal{
        width: 48%;
        &:disabled {
          padding-bottom: 7px;
        }
      }

      .first-name, .region, .city {
        margin-right: 4%
      }

      .phone {
        .clean-enable{
          margin: 0;
          display: inline-block;
          width: 76%;
        }

        select {
          width: 20%;
        }
      }
    }
    &.driver {
      .expire-date, .license-issue {
        display: inline-block;
        width: 48%;
      }
      .issue-country, .issue-authority {
        display: inline-block;
      }
      .issue-country {
        width: 68%;
        margin-right: 4%;
      }
      .issue-authority {
        width: 28%;
      }
      .license-issue {
        margin-right: 4%;
      }
    }
    #additionalStreetAddress {
        margin-top: -1em;
    }

    .modal-actions {
      padding-bottom: rem-calc(50);
      margin-top: rem-calc(30);
      .btn {
        cursor: pointer;
        background-color: $enterpriseGreen;
        &:hover {
          background-color: $enterpriseDarkGreen;
        }
        &.save {
          float: right;
          &.disabled {
            background: rgb(186, 186, 186);
            cursor: not-allowed;
          }
          &.disabled:hover {
            background: rgb(186, 186, 186);
            cursor: not-allowed;
          }
        }
      }
      .loading {
        bottom: rem-calc(14);
      }
      .cancel {
        cursor: pointer;
        float: right;
        margin-right: rem-calc(30);
        background-color: $darkGray;
        &:hover {
          background-color: $midGray;
          color: $white;
        }
      }
    }
  }

  .rewards-cta-band {
    background: $black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOElEQVQYV2NkIBIwIquTkZH5D+I/efIERRwkRppCmEnorkA2GWwi0QphJlHPjcSEEEYw4NJEtEIAFbIYC+hYBBUAAAAASUVORK5CYII=) repeat;
    height: rem-calc(75);
    padding-top: 0;
    padding-bottom: 0;

    .content-container {
      margin: rem-calc(0 180);
      img {
        padding-top: rem-calc(12);
      }

      li {
        float: left;
        list-style-type: none;
        margin-bottom: 0;
        &.points {
          color: $white;
          padding-left: rem-calc(80);
          font-family: $medium;
          h1 {
            color: $white;
            display: inline-block;
            padding-top: rem-calc(18);
            padding-right: rem-calc(4);
            min-width: rem-calc(92);
          }
          span {
            letter-spacing: 1px;
          }
        }
        &.cta-text {
          color: $enterpriseGreen;
          font-family: $medium;
          font-size: rem-calc(20);
          padding-top: rem-calc(37);
          padding-left: rem-calc(10);
        }

        &.redeem-cta {
          padding-left: rem-calc(62);
          padding-top: rem-calc(20);
          .btn {
            padding: rem-calc(10.5 16);
          }
        }
      }
    }
  }

  .manage-rewards-band{
    .content-container{
      position: relative;

      img{display: none;}

      .cta-container{
        background: $black;
        padding: 20px 20px 30px;
        margin: auto;

        h1{
          margin: 43px 0 50px 0;
          padding: 0;
          color: $white;
          font-size: 22px;
          line-height: 1;
          text-align: left;
        }

        .g-3up{}
        .gi{
          position: relative;
          margin: 0 0 45px 0;
          padding: 0 0 0 44px;
          line-height: 1.65;

          i{
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-position: center;
          }

          a{
            font-family: $bold;
            font-size: 17px;
          }

          div{
            h3{color: $enterpriseGreen;}
            p{
              margin: 0;
              padding: 0;
              color: $white;
            }
          }
        }
      }
    }
  }
  @media(min-width: $bp-med){
    .manage-rewards-band {
      .content-container {
        position: relative;

        img {}
        .cta-container {
          h1{margin-left: 10px;}
          .g-3up{}
          .gi{
            padding: 0 10px;

            i{left: 10px;}
            form a{padding-left: 35px;}
          }
        }
      }
    }
  }
  @media(min-width: $bp-xl){
    .manage-rewards-band {
      .content-container {
        position: relative;
        padding: 100px 50px;
        box-sizing: content-box;

        img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 100%;

          @media all and (max-width: $bp-med) {
            display: none;
          }
        }

        .cta-container {
          position: relative;
          z-index: 1;
          width: rem-calc(1030);
          background: $black;
          height: auto;
          margin: auto;
          padding: 20px 40px;

          h1 {
            color: $white;
            font-size: rem-calc(28);
            margin: 40px 0;
            text-align: center;
          }

          .g-3up {}
          .gi {

            i {
              float: left;
              height: rem-calc(30);
              width: rem-calc(30);
            }

            div {
              padding-left: 42px;
              padding-top: 6px;
              h3 {
                color: $enterpriseGreen;
              }

              p {
                color: $white;
                margin: 10px 20px 30px -40px;
              }
            }
          }
        }
      }
    }
  }


  .band.tiers-band{
    background-color: $lightestGray;
    padding: 45px 20px;

    a{
      display: block;
      margin-top: 10px;
      font-size: 22px;
      text-align: center;
    }
    h2{
      font-family: $bold;
      &:empty{display: none;}
      &.heading {
        margin: 0 0 50px 0;
        font-size: 28px;
        line-height: 1;
      }
    }
    .g{
      margin: 0;
      padding: 0;
      overflow: visible;

      .gi {
        position: relative;
        margin: 0 0 25px 0;
        padding: 50px 0 0 0;
        background-color: $white;
        box-shadow: 0 0 3px rgba(0,0,4px,0.35);
        transition: all 250ms ease-in-out;

        header {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 50px;
          padding: 10px 20px;
          background-color: transparent;
          //padding-left:;
          .tier-label {
            display: inline-block;
            margin: 0 0 0 10px;
            color: $white;
            font-family: $light;
            font-size: 17px;
            line-height: 1;
          }
          h2{
            display: inline-block;
            padding: 3px 0 0 0;
            color: $white;
            font-size: 28px;
            letter-spacing: -0.020em;
            line-height: 1;
          }
          p{margin-bottom: 0;}
        }
        @media( max-width: 520px ){
          &.current-tier,
          &.next-tier{
            padding-top: 70px;
            //&[data-tier="plus"]{
              h2{display: block;}
              .tier-banner{height: 70px;}
              .tier-label{
                display: block;
                margin: 0;
                padding: 0;
                font-size: 12px;
              }
              .icon{top: 15px;}
            //}
          }
        }

        .tier-banner {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 50px;
          background-image: url('../../dist/img/icons/png/ENT-tier-plus.png');
          background-repeat: no-repeat;
          background-position-x: 10px;
          background-size: contain;

          &.plus {
            background-color: $enterpriseGreen;
          }
          &.silver {
            background-color: $silver-tier;
          }
          &.gold {
            background-color: $gold-tier;
          }
          &.platinum {
            background-color: $platinum-tier;
          }

          i{
            position: absolute;
            top: 5px;
            right: 0;
            height: 40px;
            width: 50px;
            margin: 0 auto;
            background-size: auto 100%;
          }
        }
        .tier-details-wrapper{display: none;}
        &.open .tier-details-wrapper{display: block;}
        p.tier-description {
          padding: rem-calc(24);
          margin-bottom: 0;
          line-height: 1.65;
          text-align: left;
        }
        ul.tier-features-list {
          list-style: none;
          margin-left: 0;
          padding: rem-calc(0 12);
          li {
            border-top: 1px solid $lightGray;
            margin: 0;
            padding: rem-calc(20 12);
          }
        }

        &.current-tier, &.next-tier {
          .tier-label {
            display: inline;
          }
        }

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.06);

          @media all and (max-width: $bp-med) {
            transform: none;
          }
        }
      }
    }
  }
  @media(min-width: $bp-med){
    .band.tiers-band {
      a {}
      h2 {
        font-family: $bold;
        &.heading {
          margin: rem-calc(30 0);
          text-align: center;
        }
      }

      .g {
        padding: 0;
        &.g-4up .gi:first-child{margin-left: 1%;}
        .gi {
          float: left;
          clear: none;
          min-height: rem-calc(400);
          height: 100%;
          width: 48%;
          margin: 0 1% 20px;
          background-color: $white;
          border: 1px solid $lightGray;
          transition: all 250ms ease-in-out;
          box-shadow: none;

          header {
            padding-left: rem-calc(24);
            .tier-label {
              font-family: $light;
              font-size: rem-calc(14);
              &.tier-holder {
                line-height: 24px;
              }
            }
            span {
              color: $white;
            }
            p {
              margin-bottom: 0;
            }
          }
          @media( max-width: 1167px ){
            &.current-tier,
            &.next-tier{
              padding-top: 70px;
              //&[data-tier="plus"]{
                h2{display: block;}
                .tier-banner{height: 70px;}
                .tier-label{
                  display: block;
                  margin: 0;
                  padding: 0;
                  font-size: 12px;
                }
                .icon{top: 15px;}
              //}
            }
          }

          .tier-banner {}
          div.tier-details-wrapper{display: block;}
          p.tier-description {
            padding: rem-calc(24);
            text-align: justify;
            margin-bottom: 0;
          }
          ul.tier-features-list {
            list-style: none;
            margin-left: 0;
            padding: rem-calc(0 12);
            li {
              border-top: 1px solid $lightGray;
              margin: 0;
              padding: rem-calc(20 12);
            }
          }

          &.current-tier, &.next-tier {
            .tier-label {
              display: inline;
            }
          }

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.06);

            @media all and (max-width: $bp-med) {
              transform: none;
            }
          }

          @media all and (max-width: $bp-med) {
            width: 100%;
            margin-bottom: rem-calc(12);
          }
        }
      }
    }
  }
  @media(min-width: $bp-xl){
    .band.tiers-band {
      background-color: $lightestGray;
      padding-top: rem-calc(100);
      a {
        text-align: center;
        display: block;
        margin-top: 10px;
        font-size: 22px;
      }
      h2 {
        &.heading {
          margin: rem-calc(30 0);
          text-align: center;
        }
      }
      .g{
        margin: 0 5%;
        padding: rem-calc(20 0);
        .gi {
          height: 100%;
          min-height: rem-calc(550);
          width: 24.0%;
          margin: 0 0.5%;
          padding: rem-calc(40 6);
          background-color: $white;
          border: 1px solid $lightGray;
          transition: all 250ms ease-in-out;

          header {
            display: block;
            position: static;
            height: auto;
            padding-left: rem-calc(24);
            h2{
              display: block;
              color: $black;
            }
            .tier-label {
              display: block;
              min-height: 24px;
              margin: 0;
              color: $black;
              font-family: $light;
              font-size: rem-calc(14);
              &.tier-holder {
                color: $black;
                line-height: 24px;
              }
            }
            p {
              margin-bottom: 0;
            }
          }

          .tier-banner {
            position: static;
            height: rem-calc(50);
            background-image: url('../../dist/img/icons/png/ENT-tier-plus.png');
            background-repeat: no-repeat;
            background-position-x: 56%;
            background-size: contain;

            .icon{
              position: static;
              height: rem-calc(83);
              width: rem-calc(83);
              margin: 0 auto;
              background-size: 100%;
            }
          }
          .tier-details-wrapper{display: none;}
          p.tier-description {
            padding: rem-calc(24);
            text-align: justify;
            margin-bottom: 0;
          }
          ul.tier-features-list {
            list-style: none;
            margin-left: 0;
            padding: rem-calc(0 12);
            li {
              border-top: 1px solid $lightGray;
              margin: 0;
              padding: rem-calc(20 12);
            }
          }

          &.current-tier, &.next-tier {
            .tier-label {
              display: inline;
            }
          }

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.06);

            @media all and (max-width: $bp-med) {
              transform: none;
            }
          }

          @media all and (max-width: $bp-med) {
            width: 100%;
            margin-bottom: rem-calc(12);
          }
        }
      }
    }
  }

  .faq-band {
    background-color: $lightestGray;
    padding-top: rem-calc(100);
    h2 {
      font-family: $bold;
      &.heading {
        margin: rem-calc(30 0);
        text-align: center;
      }
    }
  }

  .cta-link-container {
    display: block;
    text-align: center;
    margin: rem-calc(40 0 20 0);
    margin-top: 40px;
    margin-bottom: 20px;

    a, i {
      display: inline-block;
    }

    i {
      height: 12px;
      width: 12px;
      margin-left: 6px;
      margin-bottom: -1px;
    }
  }
}

.faq-band {
  background-color: $lightestGray;
  padding-top: rem-calc(100);
  h2 {
    font-family: $bold;
    &.heading {
      margin: rem-calc(30 0);
      text-align: center;
    }
  }
}

/* @media all and (max-width: $bp-xl) {
  .account-page {
    .account-tabs-container {
      &:after {
        width: 35%;
      }
      .account-tabs {
        width: 60%;
        .tab {
          font-size: .7rem;
        }
        .tab.active + .tab:before {
          border-width: 23px 8px;
        }
      }
    }
  }
}

@media all and (max-width: $bp-large) {
  .account-page, .account-page.sign-in {
    .account-tabs-container {
      &:before, &:after {
        display: none;
      }
      .account-tabs {
        width: 100%;
        display: table;
        .tab {
          font-size: .7rem;
          display: table-cell;
        }
      }
    }
  }
} */

@media all and (max-width: $bp-med-2) {
  .account-page, .account-page.sign-in {
    header {
      padding: 3% 20px;
      h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 1;
      }
      .overview {
        display: block;
        .member-number{display: block;}
        .prominent {
          display: inline-block;
          font-family: $light;
          font-size: 22px;
          line-height: 1.2;
          &.points {
            display: block;
            margin: 10px 0 5px;
          }
        }
        p.prominent{
          display: block;
          margin: 10px 0 0 0;
          font-size: 15px;
          line-height: 1.3;
        }
      }
      .cta-container{
        margin-top: 30px;
        float: none;
        .start.btn {
          margin-top: 0;
          width: 100%;
        }
      }
    }
    .account-settings {
      table {
        margin: rem-calc(50) auto;
        tr {
          td {
            .update {
              margin-right: 0;
            }
          }
        }
      }
    }

    /* .account-tabs-container, {
      &:before, &:after {
        display: none;
      }
      .account-tabs {
        width: 100%;
        .tab {
          font-size: .7rem;
        }
      }
    } */
    .personal-entry-form {
      .required-label {
        float: none;
        i {
          display: block;
          padding-bottom: rem-calc(10);
        }
      }
    }
    .modal-container {
      .modal-content {
        .modal-body {
          padding: rem-calc(10);
          .field-container {
            width: 100%;
            display: block;
          }
          .confirm-remove-payment {
            .modal-actions {
              .cancel {
                margin-left: 0;
                margin-top: 20px;
              }
            }
          }
          .modal-actions {
            .btn {
              width: 100%;
              float: none;
            }
            .btn.save {
              margin-bottom: rem-calc(20);
            }
          }
        }
      }
    }
  }
  .account-page.sign-in {
    header {
      padding: 5%;
    }
    .enterprise-login {
      padding: rem-calc(30) rem-calc(30) rem-calc(30);
      .login-actions {
        .btn {
          float: none;
          width: 100%;
        }
      }
      .forgot {
        //float: none;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
}

@media all and (max-width: $bp-small-3) {
  .account-page .account-settings table tr td .sub-link {
    float: none;
    display: block;
  }
}

@media all and (max-width: $bp-small-2) {
  .account-page, .account-page.sign-in {
    .account-tabs-container {
      padding: 0;

      .account-tabs {
        white-space: normal;
      }
    }
  }
}

.account-page .account-rewards .summary-panel a .icon {
    display: inline-block;
    vertical-align: sub;
}

.modal-container.active .modal-content.change-password-modal {
  .change-password-content {
    h2 {
      padding-bottom: 0;
    }
    hr {
      background-color: black;
      margin-top: 10px;
    }
    .field-container {
      label {
        font-family: $medium;
      }
    }
    .modal-actions .btn {
      float: right;
      margin-left: 10px;
    }
  }
}

.error-list {
  font-size: 14px;
  margin-top: 10px;
  .icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display:inline-block;
    background-size: contain;
    &.empty {
      width: 0;
    }
  }
  li.ok {
    color: $enterpriseGreen;
  }
  li.error {
    color: red;
  }
  li.empty {
    list-style-type: disc;
    list-style-position: inside;
  }
}

// ECR-2323 edit modal and generic form styles
.edit-payments-modal {
  h2 {
    display: inline-block;
  }

  .field-container {
    margin-bottom: 1.5em;

    &.type-and-number, &.expiration-date {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
  }

  #inputTypeAndNumber {
    font-family: $bold;
  }

  #changeExpirationDate {
    margin-left: 1em;
    cursor: pointer;
  }

  #editModalDeleteLink {
    float: right;
    line-height: 37px;
    cursor: pointer;
  }
}

// ECR-369
.preferred-payment-modal {
  .enterprise-control {
    padding-bottom: 2%;
  }

  .payment-alias {
    display: inline-block;
    font-family: $bold;
    margin-left: 2%;
    width: 25%;
  }
}

.clean{
  &-enable{
    position: relative;
  }

  &-field{
    padding-right: 40px;
  }

  &-button{
    background: none;
    color: $enterpriseGreen;
    position: absolute;
    padding: 9px 14px;
    margin: auto;
    bottom: 0;
    right: 0;
    top: 0;

    .icon{
      background-size: contain;
      width: 12px;
      height: 12px;
    }
  }
}
