
.inner-container .new {
  .active {
    color: $enterpriseGreen;
  }
}

.inner-container {
  //height: rem-calc(200);
  overflow: hidden;
  &.expanded {
    min-height: 450px;
    overflow: visible;
  }
  &.collapsed {
    .date-time-form,
    .age-input,
    .coupon-field-wrapper,
    .booking-submit,
    .loyalty-book {
      display: none;
      min-height: 0;
    }
  }
}

$employeeNumberFieldWidth: 210px;

.employee-number-wrapper {
  float: left;
  margin-top: 1em;
  margin-right: 3.2em;

  @media all and (max-width: $bp-med-2) {
    .employee-number-label {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  .employee-number-label {
    max-width: $employeeNumberFieldWidth;
    color: $black;
    text-transform: uppercase;
    padding-bottom: 0;
    font-family: $medium;
    font-size: 15px;
    margin-bottom: 0.2em;

    .sublabel {
      font-family: $light;
      text-transform: none;
    }
  }

  .employee-number-input {
    border: 2px solid $lightGray;
    color: $lightGray;
    width: $employeeNumberFieldWidth;
    // based on the height of the date inputs
    height: rem-calc(57);
    //height: 3.55rem;
    padding: rem-calc(11 18 9 18);
    font-size: rem-calc(18);
    float: left;
    //margin: rem-calc(20 0 20 1);
    transition: .4s all ease-in-out;
    &:focus {
      color: $enterpriseGreen;
      border: 2px solid $enterpriseGreen;
    }
    &::-webkit-input-placeholder {
      color: #656565;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #656565;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: #656565;
    }
    &:-ms-input-placeholder {
      color: #656565;
    }
  }
}

.booking-widget {
  $booking-widget-width: rem-calc(865);

  width: $booking-widget-width;
  margin: rem-calc(20) auto;
  @import 'components/locationInput';

  .date-time {
    width: $booking-widget-width;
  }

  .location-search {
    .location-dropdown-error {
      display: none;
    }
    .locationInput-active{
      position: relative;
      margin: 0;
      //@media(max-width: $bp-med){width: 94%;}
      .location-field.selected{width: 100%;}

      .select-location-state {
        border: 2px solid $messageGold;
      }

      .location-dropdown-error {
        display: block;
        background: $messageGold;
        padding: 5px 15px;
        font-size: 14px;
        font-family: $light;
        line-height: 21px;
        clear: both;
      }
    }
    .location-btn {
      color: $enterpriseGreen;
      :hover {
        color: $darkGreen;
        text-decoration: underline;
      }
      .icon{
        height: 13px;
        margin-top: 5px;
      }
      @media all and (max-width: $bp-large) {
        margin-top: 0;
      }
    }
  }
  &::selection {
    background: transparent;
  }
  .same-location-checkbox {
    display: inline-block;
    position: relative;
    // @media all and (max-width: $bp-med) {
    //   margin-top: 0;
    //   margin-left: 0;
    // }
    // @media(min-width: $bp-large){
    //   margin-top: 0;
    // }
  }

  @media all and (max-width: $bp-med) {
    .location-search label.same-location-checkbox {
      //width: 50%;
      margin-top: rem-calc(12);
      margin-left: 0;
      margin-right: 25px;
    }
  }

  @media all and (max-width: $bp-small-3) {
    .location-search label.same-location-checkbox {
      float: none;
      width: auto;
      margin: 0;
      padding: 0;
      //padding: 0 3%;
    }
  }

  @media all and (max-width: $bp-small-2) {
    .same-location-checkbox {
      position: relative;
    }
  }

  .coupon-chicklet {
    &.removable {
      a.chicklet {
        line-height: normal;
        padding: .5em 1em;
        margin: 0;
      }
    }
    a.chicklet {
      background: $lightestGray;
      font-size: 1em;
      display: block;
      float: left;
      padding: 0 1em;
      cursor: pointer;
      margin: .4em 0;
    }
  }

  .disabled-coupon {
    a.chicklet {
      cursor: default;
    }

    input {
      background-color: $lightestGray;
    }
  }

  .couponChicklet-active {
    .coupon-input {
      display: none;
    }

    .coupon-chicklet {
      display: block;
    }

    &.disabled .coupon-chicklet {
      padding: 0;
      .chicklet {
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 4rem;
        .icon {
          width: 25px;
          height: 25px;
          background-size: 100%;
          margin-bottom: -6px;
          margin-left: 6px;
          display: inline-block;
        }
      }
    }
  }
  .coupon-input, .coupon-chicklet {
    border: 2px solid $lightGray;
    color: $lightGray;
    width: 556px;
    height: rem-calc(64);
    padding: rem-calc(11 18 9 18);
    font-size: rem-calc(18);
    float: left;
    margin: rem-calc(20 0 20 1);
    transition: .4s all ease-in-out;

    line-height: 4rem;
    &:focus {
      color: $enterpriseGreen;
      border: 2px solid $enterpriseGreen;
    }
    &::-webkit-input-placeholder {
      color: #656565;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #656565;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: #656565;
    }
    &:-ms-input-placeholder {
      color: #656565;
    }
  }

  .age-input {
    float: left;
    margin-top: 1em;

    #age {
      width: 220px;
      &.disabled-age {
        background: $lightestGray;
      }
      &:focus {
        border: 2px solid $enterpriseGreen;
      }
    }
    .age-policy {
      padding-left: 5px;
    }
  }
  .booking-submit {
    float: left;
    width: 220px;
    margin: 20px 5px 0 0;
    margin-left: 44px;
    .btn {
      display: block;
    }
    .reservation-length {
      text-transform: uppercase;
      color: $enterpriseGreen;
      font-size: .6em;
      margin: rem-calc(5 0 0 0);
      font-family: $medium;
    }
  }
  .date-time-form {
    width: 600px;
    float: left;
    margin-top: 1em;
    @media all and (max-width: $bp-large) {
      margin-top: 0;
    }
  }
  .date-time {
    > div {
      display: none;
      position: absolute;
      top: -9px;
      z-index: 3;
    }
  }
  .date-time-selector {
    .label-container {
      float: left;
    }
    .date-time-label {
      font-family: $medium;
      font-size: 15px;
    }
    .empty-date-time-control {
      padding: rem-calc(18 0 0 18);
      .default-icon {
        position: relative;
        float: left;
        top: 0;
        height: rem-calc(18);
        width: rem-calc(18);
        left: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: rem-calc(5);
      }

      span {
        font-family: $light;
        float: left;
        position: relative;
        font-size: 23px;
        line-height: 16px;
        margin-left: 5px;
        margin-top: 7px;
        color: $enterpriseGreen;
      }
    }

    label {
      float: left;
      width: $dateTimeWidth;
      height: 4.1em;
      border: 2px solid $lightGray;
      font-family: $medium;
      margin-top: .2em;
      position: relative;
      cursor: pointer;
      &.age-label {
        width: 10em;
        float: right;
        margin-right: 1.2em;
        input {
          display: none;
        }
      }
      .icon.icon-nav-carrot-down {
        position: absolute;
        top: 15px;
        right: 5px;
        width: 30px;
        height: 30px;
      }
      &.date-label {
        background-color: $white;
      }
      &.time-label {
        background-color: $lightestGray;
        // margin-left: -2px;
        border-left: 0;

        select {
          appearance: none;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
      .day, .hour, .age {
        font-size: 3.2em;
        font-family: $light;
        color: $enterpriseGreen;
        position: absolute;
        top: rem-calc(-4);
        left: rem-calc(8);
        letter-spacing: rem-calc(-4);
      }
      .month, .min, .years {
        position: absolute;
        left: rem-calc(65);
        top: rem-calc(10);
        color: #424242;
      }
      .years {
        width: rem-calc(40);
        left: rem-calc(95);
      }
      .year, .ampm {
        position: absolute;
        top: rem-calc(30);
        left: rem-calc(65);
        font-size: 0.9em;
        color: #424242;
      }
      .ampm {
        text-transform: uppercase;
      }
      &.active {
        border: $enterpriseGreen;
        background-color: $enterpriseGreen;
        .day, .month, .year, .hour, .min, .ampm, .age, .years {
          color: white;
        }
      }
      &:focus, &.focus {
        border: 2px solid $enterpriseGreen;
      }
    }
    sup {
      font-size: .6em;
      padding-left: rem-calc(5);
    }
    input.date {
      opacity: 0;
      width: 6em;
      height: 3.8em;
      margin: 0;
      padding: 0;
      position: absolute;
    }
  }

  .pickup-calendar,
  .dropoff-calendar {
    background: $enterpriseGreen;

    .calendar-legend {
      padding: 1.25rem;
      color: white;
      font-size: initial;
      .legend-box {
        display: inline-block;
        height: 0.9375rem;
        width: 0.9375rem;
        border: 1px solid $enterpriseLightGreen;
        margin: -5px 5px 0 5px;
        vertical-align: middle;
        &.closed {
          background: $smallClosedPattern
        }
      }
      .legend-text {
        display: inline-block;
      }
    }
  }

  .pickupCalendar-active {
    .pickupCalendar-label {
      .empty-date-time-control {
        i {
          background-image: url(/etc/designs/ecom/dist/img/icons/png/nav-calendar-white.png);
        }
        span {
          color: #FFF;
        }
      }
    }
    label.pickupCalendar-label {
      border: $enterpriseGreen;
      background-color: $enterpriseGreen;
      .day, .month, .year, .hour, .min, .ampm, .age, .years {
        color: white;
      }
    }
    .pickup-calendar {
      display: block;
    }
  }
  .dropoffCalendar-active {
    .dropoffCalendar-label {
      .empty-date-time-control {
        i {
          background-image: url(/etc/designs/ecom/dist/img/icons/png/nav-calendar-white.png);
        }
        span {
          color: white;
        }
      }
    }
    label.dropoffCalendar-label {
      border: $enterpriseGreen;
      background-color: $enterpriseGreen;
      .day, .month, .year, .hour, .min, .ampm, .age, .years {
        color: white;
      }
    }
    .dropoff-calendar {
      display: block;
    }
  }

  .pickupTime-active {
    .pickupTime-label {
      .empty-date-time-control {
        i {
          background-image: url(/etc/designs/ecom/dist/img/icons/png/nav-time-white.png);
        }
        span {
          color: white;
        }
      }
    }
    label.pickupTime-label {
      border: $enterpriseGreen;
      background-color: $enterpriseGreen;
      .day, .month, .year, .hour, .min, .ampm, .age, .years {
        color: white;
      }
    }
    .pickup-time {
      display: block;
      width: rem-calc(865);
    }
  }

  .dropoffTime-active {
    .dropoffTime-label {
      .empty-date-time-control {
        i {
          background-image: url(/etc/designs/ecom/dist/img/icons/png/nav-time-white.png);
        }
        span {
          color: white;
        }
      }
    }
    label.dropoffTime-label {
      border: $enterpriseGreen;
      background-color: $enterpriseGreen;
      .day, .month, .year, .hour, .min, .ampm, .age, .years {
        color: white;
      }
    }
    .dropoff-time {
      display: block;
      width: rem-calc(865);
    }
  }

  .calendar {
    // background: $enterpriseGreen;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    height: auto;
    padding: rem-calc(20);


    .calendar-grid {
      width: 100%;
      table-layout: fixed;
      border: 0;
      padding: 0;

      &::selection {
        background: transparent;
      }

      td, th {
        border: 0;
        padding: 0;
        text-align: center;
        font-weight: normal;
      }
    }
    &::selection {
      background: transparent;
    }
    + .calendar .calendar-controls .calendar-control-arrow {
      &.arrow-left {
        display: none;
      }
      &.arrow-right {
        display: block;
      }
    }
    .calendar-controls {
      width: 100%;
      position: relative;
      margin-bottom: rem-calc(10);
      text-align: center;

      &::selection {
        background: transparent;
      }

      .calendar-control-arrow {
        font-family: Arial;
        transition: all 250ms ease-in-out;
        position: absolute;
        top: -10px;
        left: -10px;
        padding: 15px;
        margin: 0;
        width: 40px;
        height: 40px;

        &.arrow-right {
          left: auto;
          right: -10px;
          display: none;
        }
        &.hide {
          visibility: hidden;
        }
        &:last-child {
          &::selection {
            background: transparent;
          }

          user-select: none;

          .icon {
            float: right;
            &::selection {
              background: transparent;
            }
          }
          text-align: right;
        }
        &::selection {
          background: transparent;
        }
        &:hover {
          opacity: .8;
          &.calendar-control-arrow {
            transform: scale(1.08);
          }
        }
      }
      .calendar-control-header {
        padding: 0 40px;
        font-family: $medium;
        font-size: rem-calc(22);
        color: white;

        &:hover {
          opacity: 1;
        }
        &::selection {
          background: transparent;
        }
      }
    }
    .day-headers {
      border: none;
      text-align: center;
      color: white;
      padding: .1em;
      height: rem-calc(24);
      font-size: .9em;
      &::selection {
        background: transparent;
      }
      > div {
        display: inline-block;
        width: 14.2%;
        vertical-align: middle;
        text-align: center;
        color: white;
        height: rem-calc(20);
        line-height: rem-calc(20);
        &::selection {
          background: transparent;
        }
      }
    }
    .days {
      .day {
        display: inline-block;
        width: 100%;
        padding: 1px;
        margin: 0;
        font-family: $light;
        font-size: initial;
        line-height: 1.6rem;
      }
      .day-number {
        display: block;
        cursor: pointer;
        height: 3em;
        text-align: center;
        border: 1px solid $enterpriseLightGreen;
        padding: rem-calc(12 8);
        color: white;
        transition: all 250ms ease-in-out;
        position: relative;

        &.disabled {
          color: $enterpriseLightGreen;
          cursor: not-allowed;
          position: relative;

          &:hover {
            background-color: $enterpriseGreen;
            color: $enterpriseLightGreen;
            cursor: not-allowed;
            transform: none;
          }
        }
        &.closed {
          color: $enterpriseLightGreen;
          cursor: not-allowed;
          position: relative;
          background: $bigClosedPattern;
          &:hover {
            background-color: $enterpriseGreen;
            color: $enterpriseLightGreen;
            cursor: not-allowed;
            transform: none;
          }
        }
        &.prev-month, &.next-month {
          visibility: hidden;
          &:hover {
            visibility: hidden;
          }
        }
        &.selected, &.selection-range {
          background-color: $enterpriseLightGreen;
          color: $enterpriseDarkGreen;
          font-family: $medium;
          &:hover {
            background-color: $enterpriseGreen;
            color: $white;
            transform: none;
          }
        }
        &.selected {
          background: $white;
          &.pickup:after {
            width: 0;
            height: 0;
            border-top: 23px solid #6fc099;
            border-bottom: 23px solid #6fc099;
            border-right: 0 solid transparent;
            border-left: 25px solid transparent;
            content: '';
            right: 0;
            top: 0;
            overflow: hidden;
            position: absolute;
          }
          &.dropoff:after {
            width: 0;
            height: 0;
            border-top: 23px solid #6fc099;
            border-bottom: 23px solid #6fc099;
            border-right: 25px solid transparent;
            border-left: 0 solid transparent;
            content: '';
            left: 0;
            top: 0;
            overflow: hidden;
            position: absolute;
          }
        }
        &:hover {
          background-color: $white;
          color: $enterpriseGreen;
          transform: scale(1.18);
          z-index: 1;
        }
      }
    }
  }

  .pickup-time, .dropoff-time {
    padding: rem-calc(20 30 40 30);
    background-color: $enterpriseGreen;
    text-align: center;
  }

  .carousel-labels {
    text-align: left;
    margin-top: rem-calc(10);
    .disabled-label, .afterHours-label {
      .icon {
        margin-right: rem-calc(10);
        box-sizing: border-box;
        display: inline-block;
        height: rem-calc(15);
        width: rem-calc(15);
      }
    }
    .afterHours-label {
      display: none;
      color: $white;
      .icon {
        background-color: $enterpriseDarkGreen;
      }
      &.active {
        display: block;
      }
    }
    .disabled-label {
      color: $white;
      .icon {
        border: 1px solid $enterpriseLightGreen;
        background: $smallClosedPattern;
      }
    }
    .afterHours-more-info {
      cursor: pointer;
      text-transform: uppercase;
      font-family: $regular;
      font-size: 15px;
    }
  }

  .day-section {
    padding-bottom: rem-calc(20);
    a {
      color: $enterpriseLightGreen;
      text-align: center;
      font-size: rem-calc(18);
      display: inline-block;
      width: 25%;
      transition: all 250ms ease-in-out;
      &.active {
        color: $white;
      }
      &:hover {
        color: $white;
        transform: scale(1.18);
      }
    }
  }

  .time-picker-panel {
    max-width: rem-calc(650);
    position: relative;
    margin: 0 auto;
    li {
      font-size: .9em;
      padding-top: 12px;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      border: 1px solid $enterpriseLightGreen;
      margin: 1px;
      width: rem-calc(63);
      height: 70px;
      float: left;
      list-style: none;
      color: white;
      transition: all 250ms ease-in-out;
      .normal-time {
        font-size: 17px;
      }
      .meridiem {
        display: block;
        text-transform: uppercase;
        font-size: 14px;
      }
      &.military-time {
        padding-top: 20px;
      }
      &.afterHour {
        background-color: $enterpriseDarkGreen;
        .afterHour-label {
          font-size: rem-calc(14);
        }
      }
      &:hover {
        background-color: $white;
        color: $enterpriseGreen;
      }
      &.active {
        background-color: $white;
        color: $enterpriseDarkGreen;
        font-family: $medium;
      }
      &.disabled {
        display: none;
      }
      &.notallowed {
        cursor: not-allowed;
        background: $bigClosedPattern;
        border-color: $enterpriseLightGreen;
        color: $enterpriseLightGreen;
        &:hover {
          background-color: $enterpriseGreen;
          color: $enterpriseLightGreen;
        }
      }
      &.disabledLeadingPanel {
        padding-top: rem-calc(15);
        background-color: $enterpriseDarkGreen;
        margin-left: 0;
        cursor: not-allowed;
        width: rem-calc(325);
        &.notallowed {
          color: $white;
        }
        &:hover {
          background-color: $enterpriseDarkGreen;
          color: $white;
        }
      }
    }
  }
  div.arrow {
    float: left;
    width: 1em;
    background-image: url(/etc/designs/ecom/dist/img/arrow_datetime.png);
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    text-indent: -3000px;
    margin: 2.2em 1em 1.5em 1em;
  }
}

.time-unit-container-wrapper {
  overflow: hidden;
  position: relative;
}

.time-unit-container {
  width: 99999em;
  padding-left: 0;
  position: relative;
  left: 0;
  transition: left 0.5s ease-out;
}

.carousel-control .control {
  position: absolute;
  top: 27%;
  left: -4em;
  width: 4em;
  height: 2em;
  padding: 0;
  margin-top: 0.8em;
  font-size: rem-calc(22);
  color: white;
  z-index: 2;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &.next {
    left: auto;
    right: -4em;
    border: 0;
  }
  &.disabled {
    display: none;
  }
}

.ec-loyalty-header {
  border-bottom: 2px solid $lightGray;
  padding: 40px 10%;

  h1 {
    font-family: $light;
    font-size: 20px;
  }

  .left,
  .right {
    float: left;
  }

  .left {
    width: 70%;
  }

  .right {
    width: 30%;
    border-left: 1px solid $lightGray;
    padding-left: 20px;

    li {
      list-style: disc;
      margin-left: 20px;
    }
  }
}

.loyalty-book {
  clear: both;
  padding-right: 1px;
  padding-top: 20px;

  label {
    float: left;
    width: 47%;
    font-size: 15px;
    font-family: $medium;
    text-transform: uppercase;
  }

  label.left {
    margin-right: 6%;
  }

  input {
    border: 2px solid $lightGray;
    font-family: $light;
    color: $lightGray;
    height: 4rem;
    padding: 0.6875rem 1.125rem 0.5625rem 1.125rem;
    font-size: 1.125rem;
    margin: 0;
    transition: .4s all ease-in-out;
  }

  input:focus {
    color: $black;
  }
}

.modal-container.active {
  .modal-content {
    box-sizing: border-box;
    p {
      font-family: $light;
      .toggle-privacy {
        color: $enterpriseDarkGreen;
        &:hover {
          color: $enterpriseGreen;
        }
      }
      &.OnRequestVehicle{
        font-weight: bold;
        margin-bottom: 0;
      }
      &.exclusion-extras-text{
        height: inherit;
        transform: none;
      }
    }
    li.OnRequestVehicleList{
      list-style: initial;
      margin-left: 1em;
    }
    .OnRequest{
      float: right;
      margin-top: 3em;
    }
    button.close-modal {
      display: block;
    }
    .transmission {
    margin: 3px 0 13px 0;
    font-family: $bold;
    font-size: 12px;
    text-transform: uppercase;
    }
    .car-taxes {
      width:45%;
      &.hide-prepay, &.hide-paylater {
        width: 75%;
      }
      a {
        float: left;
        color: #169a5a;
        font-size: 14px;
      }
      i {
        float: left;
        margin-left: 3px;
        height: 15px;
        width: 15px;
        margin-top: 4px;
        transition:all 0.5s ease-in-out;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    .car-header {
      h2 {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    table, td {
      border: none;
    }
    &.rate-comparison-modal {
      thead {
        border-top: 3px solid #212121;
        border-bottom: 1px solid $darkGray;
      }
      thead + tbody tr:first-child td {
        padding-top: 1.8%;
      }
    }
    .vehicle-rate {
      width: 45%;
    }
    .tax-desc {
      width:43.8%;
      padding-left:1.2%;
      text-transform: capitalize;
    }

    .tax-total {
      &.active {
        display: none;
      }
    }

    .taxes {
      display: none;
      &.active {
        display: table-row-group;
      }
      tr:last-child td{
        padding-bottom: 1.8%;
      }
      width: inherit;
    }
    tfoot {
      border-top: 3px solid #212121;
    }
    .paylater-title, .paynow-title {
      padding: 14px 0;
      font-family: $bold;
    }
    .paylater-col, .prepay-col{
      width: 25%;
      vertical-align: top;
      &.total-amount {
        font-family: $regular;
        .price{
          font-size: 2.1875rem;
        }
        sup {
          font-size: 1.55rem;
        }
      }
    }
    .paylater-col, .paylater-select {
      &.hide-paylater {
        display: none;
      }
    }
    .prepay-col, .prepay-select {
      &.hide-prepay {
        display: none;
      }
    }
    td.total {
      font-family: $medium;
    }
    .prepay-select {
      margin-left: 7%;
      &.hide-paylater {
        margin-left: 76%;
      }
    }
    .paylater-select {
      margin-left: 48%;
      &.hide-prepay {
        margin-left: 75%;
      }
    }
    .paylater-select, .prepay-select {
      width:19%;
      float: left;
      margin-top: 10px;
      .select-button {
        margin: 0;
        padding: 5px 10px;
        height: 35px;
        line-height: 30px;
        font-family: $bold;
        font-size: 14px;
        color: white;
        background: $enterpriseGreen;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: normal;
        cursor: pointer;
      }
      .description {
        margin-top: 10px;
      }
      .title {
        display: none;
      }
    }
    @media all and (max-width: $bp-large-2){
      .paylater-select, .prepay-select {
        float: left;
        width: 100%;
        display: block;
        margin-right:5px;
        margin-bottom: 10px;
        margin-left: 0;
        position: relative;
        padding-bottom: 45px;
        @media (max-width: $bp-small-2) {
          padding-bottom: 40px;
        }
        .title {
          font-size: 14px;
          font-family: $bold;
          display: block;
        }
        .select-button {
          width: 40%;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &.hide-prepay, &.hide-paylater {
          margin-left: 0;
        }
      }
      td.total {
        font-family: $regular;
      }
      tfoot {
        border-bottom: 3px solid #212121;
        border-top: 1px solid $darkGray;
      }
    }
    @media all and (max-width: $bp-small-2) {
      .paylater-col, .prepay-col{
        &.total-amount {
          .price {
            font-size: 1.5rem;
          }
          sup {
            font-size: 1rem;
          }
        }
      }
    }
    .paynow-header {
      h1 {
        font-family: $medium;
        font-size: 24px;
        margin-bottom: 1%;
      }
      margin-bottom: 2%;
    }
    .payment-content {
      margin-bottom: 2%;
    }
    .paynow-content-container {
      ul {
        font-family: $medium;
        font-size: 19px;
        list-style: inherit;
        li {
          font-size: 16px;
          font-family: $light;
          margin-left: 1em;
        }
      }
    }
  }
  @media all and (max-width: $bp-med){
    .modal-content.learn-paynow-modal {
      width: 75%;
      margin-left: -39%;
      height: 100%;
      max-height: 100%;
      top:0;
      .paynow-header {
        margin-bottom: 3%;
      }
      .payment-content {
        margin-bottom: 5%;
      }
    }
  }
}
body:after {
  content: 'default';
  display: none;
}

.modal-container.active .modal-content.oneWayNotAllowed,
.modal-container.active .modal-content.sessionTimeout {
  min-height: 0;
  p {
    text-align: center;
  }

  .btn-grp {
    text-align: center;

    button {
      float: none;
    }
  }
}

.modal-container.active .modal-content.no-vehicle-availability {
  top: 5%;
  left: 0;
  right: 0;
  height: 90%;
  width: 90%;
  max-height: 605px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .modal-body {
    .no-vehicles-error {
      h2 {
        padding-bottom: 0;
      }
      .booking-widget {
        margin-top: 0;
      }
    }
  }
}
.modal-container.active .modal-content {
  .right-place-modal {
    padding: 20px 40px;
    h2 {
      padding-bottom: 0;
    }
    img {
      display: block;
      margin: 10px auto 20px auto;
    }
    p {
      margin-bottom: 30px;
    }
    .btn-grp {
      margin-top: 10px;
      label {
        float: left;
      }
      button {
        float: right;
      }
    }
  }
}

.modal-container .corporate.authentication .enterprise-auth.active,
.modal-container .corporate.authentication .ec-auth.active{width: auto;}

@media all and (max-width: $bp-xl){
  body:after{
    content: 'bq xl';
  }
  .touch .booking-widget .pickupTime-active .pickup-time{display: none;}
  .touch .booking-widget .dropoffTime-active .dropoff-time{display: none;}
}

@media all and (max-width: $bp-large-2) {
  body:after {
    content: 'bp large 2';
  }
  .inner-container {
    width: 80%;
    //height: 275px;
    &.expanded {
      // ECR-6260
      //   height: 800px;
    }
    .options {
      width: 80%;
      float: left;
    }
  }
  .booking-widget {
    width: 100%;
    margin: 16px auto;
    .location-search {
      .auto-complete {
        width: 100%;
        margin-left: 0;
        //width: 90%;
      }
      .location-field {
        width: 100%;
      }
      .location-chicklet {
        //width: 94%;
      }
    }
    .carousel-labels {
      margin-left: 68px;
    }
    .custom-select {
      #age {
        width: 100%;

      }
    }
    /*
    .pickup {
      width: 46%;
      .pickupCalendar-label, .pickupTime-label {
        width: 50%;
      }
    }
    */
    .pickup.label-container,
    .dropoff.label-container {
      width: 47%;

      label {
        width: 50%;
      }
    }

    .age-input {
      float: none;
    }

    .coupon-input, .coupon-chicklet, .booking-submit {
      float: none;
    }

    .date-time-selector {
      //margin-top: 16px;
      margin-top: 0;

      @media all and (max-width: $bp-large) {
        margin-top: 0;
      }

      .arrow {
        width: 4%;
        margin: 2.5em 1% 1.2em 1%;
      }
    }

    .date-time-form {
      width: 100%;
      margin-bottom: 1em;
    }

    .date-time {
      width: 100%;
    }

    .pickup-calendar,
    .dropoff-calendar{
      width: 100%;

      .calendar{
        margin: 0 auto;
      }
    }
  }
  @media( min-width: 764px ){
    body:after {
      content:'764';
    }
    .reservation-step .booking-widget{padding: 20px;}
  }
  .carousel-control {
    position: relative;
    .control {
      margin-top: 0;
      &.prev {
        cursor: pointer;
        left: -1em;
      }
      &.next {
        cursor: pointer;
        right: -1em;
      }
    }
  }

  // ECR-11310
  .reservationWidgetFedex .booking-widget .date-time-form .date-time-selector {
    float: none;
  }
}

@media all and (max-width: $bp-med-2) {
  body:after {
    content: 'bq med 2';
  }
  .booking-widget {
    .age-input {
      margin-top: 32px;
    }
  }
}

@media (max-width: $bp-small-3){
  body:after {
    content: 'bp small 3';
  }
}

@media all and (max-width: $bp-med-2) {
  body:after {
    content: 'bp med 2';
  }
  @media (max-width: $bp-small-3){
    body:after {
      content: 'bp small 3';
    }
  }
  .existing-reservation {
    margin: 0 10px;
  }
  .inner-container {
    width: 100%;
  }
  .booking-widget {
    width: 100%;
    margin: 16px auto;
    .pickupTime-active, .dropoffTime-active {
      .pickup-time, .dropoff-time {
        opacity: 0;
        padding: 0;
      }
      #pickup-timePicker-mobile-open, #dropoff-timePicker-mobile-open {
        -webkit-appearance: menulist-button;
        height: 4.1em;
        width: 50%;
        position: absolute;
        right: 0;
        z-index: 30;
        bottom: -3px;
      }
    }

    .location-search {
      .location-field, .location-chicklet, label {
        //width: 100%;
        float: none;
        margin: 0 auto;
        //display: block;
      }
      .location-btn {
        display: inline-block;
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 5px;
        padding: 0;
        border: none;
        background-position: right;
        cursor: pointer;
        text-indent: 0;
        text-align: right;

        @media (max-width: $bp-small-3){
          //float: none; // too soon
          text-align: left;
          //padding: 3% 0;
          margin: 0;
        }

        &.loading {
          cursor: not-allowed;
          background-color: rgba(0, 0, 0, 0.05);
          transition: background-color 0.5s ease;
        }
      }
    }

    .employee-number-wrapper {
      float: none;
      margin: 1em 3% 0 3%;

      .employee-number-label {
        max-width: initial;
      }

      #employeeNumber {
        width: 100%;
      }
    }

    .date-time-form {
      width: 94%;
      //margin: 16px auto;
      margin: 0 auto 16px;
    }
    .date-time-selector {
      float: none;
      margin: 0;

      .label-container {
        width: 100%;
        margin-top: 1em;
      }
      label {
        width: 50%;
        .date-label {
          clear: both;
        }
      }
    }
    .calendar + .calendar {
      display: none;
    }
    .calendar .calendar-controls .calendar-control-arrow.arrow-right {
      display: block;
    }
    .pickupCalendar-active .pickup-calendar, .pickupTime-active .pickup-time {
      width: 100% !important;
      top: -99px;
      .time-picker-panel {
        width: 260px !important;
      }
    }
    .dropoffCalendar-active .dropoff-calendar, .dropoffTime-active .dropoff-time {
      width: 100% !important;
      .time-picker-panel {
        width: 260px !important;
      }
    }
    .calendar {
      width: 100%;
      .day-headers > div, .days > div {
        width: 13.5%;
      }
    }
    .age-input, .coupon-input, .coupon-chicklet, .booking-submit {
      width: 94%;
      float: none;
      margin: 0 3% 16px 3%;
      #age {
        width: 100%;
      }
    }
    .coupon-input, .coupon-chicklet {
      font-size: 14px;
    }
    div.arrow {
      display: none;
    }
  }
  .modal-container.active {
    .modal-content {
      width: 94%;
      margin-left: -47%;
      height: auto;
      overflow: auto;
      top: 2vh;
      max-height: 96vh;
    }
    button.close-modal {
      z-index: 1;
    }
  }
  .no-vehicle-availability{
    .modal-body{
      padding-top: 0;
      .no-vehicles-error{padding-top: 20px;}
    }
  }
  .no-vehicles-error{
    hr{margin: 10px 0;}
    .horizon-heading{margin: 0 25px 10px;}
  }
  .reservation-step {
    .book-section {
      .landing-page-widget {
        .welcome-disclaimer {
          width: 94%;
          float: none;
          margin: 0 3% 16px 3%;
        }
      }
    }
  }

  .reservationWidgetFedex {
    .date-time-form {
      margin: 1em 3% 0 3%;
      float: none;

      div.date-time-selector {
        float: none;
      }
    }

    .booking-submit {
      margin: 1em 3% 0 3%;
    }
  }

}

.booking-widget .location-search .location-btn,
.booking-widget .location-search label.same-location-checkbox { margin-top: 10px; }

@media all and (min-width: $bp-med) {
  .reservationWidgetFedex {
    .inner-container {
      .booking-widget {
        .booking-submit {
          margin-top: 1em;
        }
      }
    }
  }

  .inner-container {
    .date-time-form, .age-input, .coupon-input, .coupon-chicklet, .booking-submit {
      opacity: 0;
      transition: opacity .5s ease-in-out;
      transition-delay: 1s;
    }

    // ECR-11097 - there are some wild inconsistencies here, putting this in to match other elements
    .employee-number-wrapper {
      opacity: 0;
    }

    &.expanded {
      .date-time-form, .age-input, .coupon-input, .coupon-chicklet, .booking-submit, .employee-number-wrapper {
        opacity: 1;
      }
    }
  }
}
@media all and (max-width: $bp-med-2) {
  .inner-container {
    &.expanded {
      .date-time-form, .age-input, .coupon-input, .coupon-chicklet, .booking-submit, .employee-number-wrapper {
        margin: 0 3% 16px;
      }
    }
  }
}

//LOCATION SEARCH PAGE OVERRIDES
.reservation-flow.location{
  #location .location-search{
    .locationInput-active{position: relative;}
    position: relative;
    overflow: visible;
    .gi{
      padding-left: 10px;
      padding-right: 10px;
      &.location-search-header {
        margin-top: 20px;
      }
    }
    .location-chicklet {
      border-bottom: 2px solid $lightGray;
    }
    .location-btn {
      margin-top: 0;
    }
    .locationChicklet-active .location-chicklet{
      width: 100%;
    }
    .auto-complete{
      width: 100%;
      max-width: none;
      margin-left: 0;
      top: 0;
      left: 0;
    }
  }
}

.booking-widget .location-search .location-btn,
.booking-widget .location-search label.same-location-checkbox {
  //margin-top: 10px !important;
  margin-top: 10px;
}

@media all and (max-width: $bp-med-2) {
  .booking-widget .location-search .location-btn,
  .booking-widget .location-search label.same-location-checkbox {
    margin-bottom: 20px;
  }
  @media (max-width: $bp-small-3) {
    .booking-widget .location-search .location-btn {
      //padding: 0 !important;
      padding: 0;
    }
  }
}

@media all and (max-width: $bp-small-2) {
  .booking-widget .location-search label.same-location-checkbox {
    //display: block !important;
    display: block;
  }
  .booking-widget .location-search .location-btn {
    //float: none !important;
    float: none;
    margin-bottom: 10px;
  }

  .inner-container {
    .employee-number-wrapper {
      opacity: 0;
    }

    &.expanded {
      .employee-number-wrapper {
        opacity: 1;
      }
    }
  }
}

.date-time-selector,
.date-time-form,
.pickup.label-container,
.custom-select.age-input {
  //margin-top: 0 !important;
  margin-top: 0;
}

.reservationWidgetFedex {
  .date-time-form,
  .employee-number-wrapper {
    margin-top: 2.36em;

    .date-time-selector {
      float: right;
    }
  }

  /* FEDEX tooltip fix */
  .g, .inner-container {
    overflow: visible;
  }
}

.green {
  color: $enterpriseGreen;
  text-transform: none;
}

.paynow-info {
  @include clean-button-mess;
  position: relative;
  cursor: pointer;
}


.tooltip-v2 {
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  .tooltip {
    opacity: 0;
    visibility: hidden;
    display: block;
    top: 50%;
    max-width: 280px;
    left: 50%;
    top: -8px;
    padding: 20px;
    border: none;
    background-color: #181918;
    -webkit-transform: translateY(-100%) translateX(-50%);
    transform: translateY(-100%) translateX(-50%);
    -ms-transform: translateY(-100%) translateX(-50%);
    color: #ffffff;
    position: absolute;
    transition: all 250ms ease-in-out;

    &:after {
      content: '';
      position: absolute;
      left: calc(50% - 5px);
      bottom: -15px;
      border-top: 8px solid #181918;
      border-left: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid transparent;
      transition: all 250ms ease-in-out;
    }
  }
}

.pay-now-container .tooltip-v2 {
  .tooltip {
    left: -50px;
    &:after {
      left: 192px;
    }
  }
}

