.browserupgradepage > footer {
  background-color: transparent;
}
.upgrade {
  max-width: 800px;
  margin: 75px auto 0;
}
.upgrade > h1 + p {
  margin-top: 60px;
}
.band ul.browser-list {
  //margin: 0 0 15px;
  padding: 0;
  height: 150px;
  width: 100%;
  li {
    list-style-type: none;
    float: left;
    width: 21%;
    padding: 10px;
    height: 170px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    img {
      width: 70%;
      height: auto;
      padding-bottom: 30px;
      margin: 0 auto;
      display: block;
    }
    img[alt^='Google'] {
    }
    img[alt^='Internet'] {
      width: 85%;
    }
    img[alt^='Safari'] {
    }
    img[alt^='Firefox'] {
    }
  }
  img + a {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding-top: 170px;
    font-size: 120%;
  }
}

hr.divider {
  margin-top: 60px;
  margin-bottom: 3em;
  clear: both;
  height: 1px;
}
p.divider-over {
  background-color: white;
  padding: 10px;
  margin: -4em auto 1em;
  font-style: italic;
  text-align: center;
  width: 10%;
}
.browser-legacy {
  text-align: center;
  button {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media all and (max-width: $bp-small-3) {
  .band ul.browser-list li {
    height: 160px;
    width: 40%;
    img + a {
      font-size: 90%;
    }
  }
  .band ul.browser-list {
    height: 300px;
    width: 80%;
    margin: 0 auto;
  }
  .band ul.browser-list li:nth-child(3n) {
    clear: both;
  }
}
@media all and (max-width: $bp-small-2) {
  .band ul.browser-list {
    height: 180px;
  }
  .band ul.browser-list li {
    height: 130px;
  }
}
@media all and (max-width: $bp-small) {
  .band ul.browser-list li {
    height: 110px;
  }
}
