
.colors {
  &.light-green {
    background-color: $enterpriseLightGreen;
  }
  &.green {
    background-color: $enterpriseGreen;
  }
  &.dark-green {
    background-color: $enterpriseDarkGreen;
  }
  &.darkest-green {
    background-color: $darkGreen;
  }
  &.white {
    background-color: $white;
  }
  &.lightest-gray {
    background-color: $lightestGray;
  }
  &.light-gray {
    background-color: $lightGray;
  }
  &.mid-gray {
    background-color: $midGray;
  }
  &.gray {
    background-color: $midGray;
  }
  &.dark-gray {
    background-color: $darkGray;
  }
  &.darkest-gray {
    background-color: $darkestGray;
  }
  &.black {
    background-color: $black;
  }
  &.message-gold {
    background-color: $messageGold;
  }
}

