.contact-header {
	padding: 80px 80px;
	box-shadow: 0 8px 6px -6px black;

	.contact-title-wrapper {
		float: left;
	}

	.contact-country-selector {
		float: right;
	}
}


@media all and (max-width: rem-calc(1200)) {
	.contact-header {
		padding: 20px 20px;

		h1 {
			font-size: rem-calc(30);
		}
	}
}