$invalidYellow: #FEC621;
$formWidth: 600px;

#contest {
  margin: 30px auto;
  width: $formWidth;
  font-size: 14px;
  form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 0;
    &.checkbox-label {
      display: inline-block;
    }
  }
  .contest-disclaimer {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }
  .field-container {
    margin-bottom: 20px;
    &.first-name,
    &.last-name,
    &.phone {
      width: 48%;
      display: inline-block;
    }
    &.first-name,
    &.phone {
      margin-right: 4%;
    }

    p {
      font-size: 14px
    }
  }
  .privacy-container {
    .modal-toggle {
      cursor: pointer;
      font-family: $regular;
      color: $enterpriseDarkGreen;
    }
    &.invalid {
      border: none !important;
      color: $invalidYellow;
      .modal-toggle {
        color: $invalidYellow;
      }
    }
  }
  .date-selector {
    width: 48%;
    display: inline-block;
  }
  .action-container {
    margin-top: 30px;
    height: 40px;
    .btn {
      width: 40%;
      float: right;
    }
  }
  .footer-disclaimer {
    margin-top: 30px;
    border-top: 2px solid $black;
    small {
      display: block;
      margin-top: 15px;
      p {
        font-size: 12px;
      }
    }
  }
}

@media(max-width: $bp-med) {
  #contest {
    width: 95%;
  }
}

@media(max-width: $bp-small-3) {
  #contest {
    .field-container {
      &.first-name,
      &.last-name,
      &.phone {
        width: 100%;
        display: block;
      }
      &.first-name,
      &.phone {
        margin-right: 0;
      }
    }
    .date-selector {
      width: 100%;
      display: block;
    }
    .action-container {
      .btn {
        width: 100%;
      }
    }
  }
}
