$formWidth: 650px;

.email-specials {
  .icon.icon-ico-email-extras, .icon.icon-alert-success {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .heading-wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
    .heading {
      display: inline-block;
      h1 {
        font-size: 30px;
        line-height: 34px;
      }
    }
  }
  form {
    i {
      display: block;
      margin-bottom: 20px;
    }
    .field-container {
      margin-bottom: 20px;
      &.first-name,
      &.last-name,
      &.country,
      &.postal {
        width: 48%;
        display: inline-block;
      }
      &.first-name,
      &.country {
        margin-right: 4%;
      }
      .sub-text {
        font-size: 12px;
        margin-top: 5px;
        color: $darkGray;
      }
      .indent {
        margin-left: 20px;
      }
    }
    .privacy {
      color: $enterpriseDarkGreen;
      cursor: pointer;
    }
    .action-container {
      width: 100%;
      margin-top: 50px;
      text-align: right;
      .btn {
        margin: 0 auto;
        width: 200px;
      }
    }
  }
}

@media(max-width: $bp-small-3) {
  .email-specials {
    form {
      .field-container {
        &.first-name,
        &.last-name,
        &.country,
        &.postal {
          width: 100%;
          display: block;
        }
        &.first-name,
        &.country {
          margin-right: 0;
        }
      }
      .date-selector {
        width: 100%;
        display: block;
      }
      .action-container {
        .btn {
          width: 100%;
        }
      }
    }
  }
}
