.enroll-page {

  .enroll-booking-widget {
    width: 94%;
    margin: 50px auto 100px auto;

    h1 {
      margin: 25px 0 50px 0;
      text-align: center;
    }
    .booking-widget .date-time > div {
      position: relative;
    }
  }

  header {
    padding: 30px 4%;
    @media(min-width: $bp-med) {
      padding: 54px 4%;
    }
    background-color: $white;
    .progress-container {
      margin-top: rem-calc(50);
      margin-bottom: rem-calc(30);
    }
    .required-label {
      margin-top: rem-calc(10);
      font-family: $regular;
      color: $darkGray;
    }
    .progress-segment {
      width: 25%;
      display: inline-block;
      font-family: $bold;
      text-transform: uppercase;
      font-size: rem-calc(14);
      color: $lightGray;
      cursor: pointer;
      .progress-arrow {
        height: rem-calc(5);
        width: 90%;
        margin-bottom: rem-calc(10);
        background-color: $lightGray;
      }
      .arrow-right {
        float: right;
        position: relative;
        bottom: 3px;
        left: 6px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid $lightGray;
      }
      &.active {
        color: $black;
        .progress-arrow {
          background-color: $black
        }
        .arrow-right {
          border-left: 6px solid $black;
        }
      }
    }
  }

  .enroll-success {
    &.band.full-bleed.hero-band {
      @include textured-bg;
      .hero-container {
        background-size: auto 100%;
      }
      .hero-position {
        text-align: center;

        h2 {
          text-align: left;
          font-family: $heavy;
          margin-left: 15%;
          @media all and (max-width: $bp-small) {
            font-size: 12px;
          }
        }
      }
      @media all and (max-width: $bp-large-2) {
        padding-top: 23.5%;
        height: auto;
      }
      @media all and (max-width: $bp-med-2) {
        padding-top: 40%;
        .hero-container {
          background-size: 66%;
          background-position: right bottom;
          div.hero-position {
            padding-top: 20px;
            @media(min-width: $bp-small-2) {
              width: 65%;
            }
            img {
              display: block;
              position: absolute;
              width: 45px;
              height: 63px;
              top: 70px;
            }

            h2 {
              margin: 0;
              margin-top: 50px;
              @media(min-width: $bp-small-2) {
                padding-left: 60px;
              }
              font-size: 16px;
            }
          }
        }
      }
      @media all and (max-width: $bp-small-2) {
        .hero-container {
          background-image: none !important;
          div.hero-position {
            width: 100%;
            img {
              top: auto;
            }
            h2 {
              margin: 0 0 0 60px;
            }
          }
        }
      }
      @media all and (max-width: $bp-small) {
        .hero-container {
          div.hero-position {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            h2 {
              font-size: 12px;
            }
          }
        }
      }
    }
    &.grid-band {
      background-color: $lightestGray;
      .g.g-3up {
        .gi {
          padding: 4px;
          .content-container {
            background-color: $white;
            box-shadow: none;

            .cta-container {
              width: 66%;
              margin: 0 auto;
              padding: 30% 0;
              height: 388px;

              @media all and (max-width: $bp-small-3) {
                height: auto;
                padding: 10% 0;
              }

              a {
                font-size: rem-calc(28);
                line-height: 1;
              }

              .pullquote{
                font-size: 20px;
                line-height: 1.2;
              }

              .name {
                display: inline;
                font-family: $bold;
                width: 100%;
              }

              .line {
                border-top: 2px solid $black;
                height: 6px;
                width: 100px;
                display: inline-block;
                padding-left: 12px;
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }

  .enroll-forms-container {
    //margin-top: rem-calc(30);
    margin-bottom: rem-calc(100);
    padding: 0 4%;
    .error-container {
      margin: 0 auto rem-calc(50);
      height: 100%;
    }
    input.disabled {
      background-color: $lightestGray;
    }
    .enroll-forms {
      margin: 0 auto 30px;
      padding: 20px;
      background-color: $lightestGray;
      border: 1px solid $lightGray;
      &.active {
        border-top: rem-calc(3) solid $enterpriseGreen;
      }
      .field-container {
        margin-bottom: 2em;
      }
      input[type="checkbox"] {
        ms-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -o-transform: scale(1.15);
        padding: 10px;
      }
      .numberCircle {
        margin-right: rem-calc(10);
        display: inline-block;
        border-radius: 50%;
        width: rem-calc(30);
        height: rem-calc(30);
        font-size: rem-calc(23);
        background: $white;
        border: rem-calc(3) solid $black;
        color: $black;
        text-align: center;
        line-height: 29px;
        &.completed {
          color: $enterpriseGreen;
          border: rem-calc(3) solid $enterpriseGreen;
          .icon-forms-checkmark-green {
            display: inline-block;
            width: 15px;
            height: 13px;
            margin-top: 5px;
            margin-left: 1px;
            @media(min-height: $bp-med-2){height: 15px;}
          }
        }
      }
      input {
        margin: 0;
      }
      .icon.icon-nav-carrot-down {
        float: right;
        height: rem-calc(15);
        width: rem-calc(20);
        position: relative;
        top: rem-calc(8);
        right: rem-calc(20);
        &.active {
          transform: rotate(180deg);
        }
      }
      h2 {
        cursor: pointer;
        font-family: $medium;
        font-size: rem-calc(26);

        &.disabled{
          cursor: default;
          .icon.icon-nav-carrot-down{ opacity: 0.25; }
        }
      }
      h3 {
        color: $black;
        font-family: $medium;
        margin-bottom: rem-calc(20);
      }
      label {
        font-family: $regular;
        font-size: rem-calc(16);
        &.cid-label {
          display: inline-block;
          margin-right: 10px;
        }
      }
      .remove-cid {
        text-transform: uppercase;
        font-size: 14px;
        color: $enterpriseDarkGreen;
        cursor: pointer;
        font-family: $medium;
      }
      .first-name, .last-name {
        display: inline-block;
        width: 48%;
      }
      .first-name, .city, .subdivision {
        margin-right: 4%;
      }
      .city, .subdivision, .postal {
        display: inline-block;
        width: 30.66%;
      }
      .expire-date, .license-issue {
        display: inline-block;
        width: 48%;
      }
      .issue-country, .issue-authority {
        display: inline-block;
      }
      .issue-country {
        width: 66%;
        margin-right: 4%;
      }
      .issue-authority {
        width: 30%;
      }
      .license-issue {
        margin-right: 4%;
      }
      .privacy {
        color: $enterpriseDarkGreen;
        cursor: pointer;
      }
      .criteria {
        display: inline-block;
        margin-top: rem-calc(10);
        font-size: rem-calc(16);
        color: $black;
      }
      .collapse {
        transition: all 250ms linear;
        margin-bottom: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        &.active {
          opacity: 1;
          height: 100%;
          overflow: hidden;
          margin-bottom: 1em;
          visibility: visible;
        }
      }
      .phone {
        select {
          width: 30.66%;
          margin-right: 4%;
        }
        input {
          width: 65.33%;
        }
      }
      .account-details,
      .contact-info,
      .license-info,
      .preferences {
        padding: 0 20%;
        transition: all 600ms linear;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        &.active {
          margin-top: rem-calc(30);
          opacity: 1;
          max-height: 1500px;
          overflow: visible;
          visibility: visible;
          label.invalid {
            border: none !important;
          }
        }
        p {
          a {
            color: $enterpriseDarkGreen;
          }
        }
      }
      .preferences {
        label {
          display: inline-block;
          font-family: $light;
          margin-left: rem-calc(20);
        }
        label.invalid {
          color: #FF0000;
          border: none;
        }
      }
      .form-actions {
        margin-top: rem-calc(30);
        height: rem-calc(50);
        .continue, .cancel {
          float: right;
          margin-top: 0;
        }
        .cancel {
          background-color: $darkGray;
          margin-right: rem-calc(30);
          &:hover {
            background-color: $darkestGray;
          }
        }
        .button-right {
          float: right;
        }
        .btn {
          &.disabled {
            background: rgb(186, 186, 186);
            cursor: not-allowed;
          }
          cursor: pointer;
          text-transform: uppercase;
          font-family: $regular;
          font-size: rem-calc(14);
          padding: 13px rem-calc(60) 12px;
        }
      }

      .date-selector.invalid {
        border: none !important;
        .month-selector, .day-selector, .year-selector {
          border: 2px solid #FEC621;
        }
      }
    }
  }
  .acceptTermsLink {
    color: #15804d;
  }
  .confirm-accept {
    padding: 0.625rem 3.125rem 1.875rem;
    .modal-actions {
      width: 95%;
      font-size: rem-calc(14);
      margin: rem-calc(30) auto 0;
    }
  }
  @media(min-width: $bp-large) {
    .modal-container .modal-content .modal-body .btn {
      margin-right: 5px;
    }
  }
  .modal-container.active {
    .modal-content {
      overflow: auto;
      height: 80%;
    }
  }
}

.enroll-terms {
  position: relative;

  .print-link {
    text-align: right;

    a {
      display: inline-block;
      position: relative;
      width: auto;
      padding-left: 40px;
      color: $enterpriseGreen;
      font-family: $bold;
      font-size: 14px;
      text-transform: uppercase;

      .icon {
        display: block;
        position: absolute;
        top: -8px;
        left: 0px;
        height: 31px;
        width: 35px;
        line-height: 1;
      }

      &:hover {
        color: $enterpriseDarkGreen;
      }
    }
  }
}

.partial-enroll {
  .enroll-forms-container {
    .enroll-forms {
      @media all and (min-width: $bp-xl) {
        padding-right: 150px;
      }
      h2 {
        cursor: inherit;
      }
      .account-details.active, .license-info.active, .preferences.active {
        padding: 0;
      }
      .account-details, .license-info {
        border-bottom: 1px solid $black;
      }
      .partial-enroll-header {
        margin-top: rem-calc(30);
      }
      @media all and (min-width: $bp-med-2) {
        .issue-country, .issue-authority {
          width: 48%;
        }
      }
      @media all and (min-width: $bp-small-3) {
        .preferences {
          .field-container{
            width: 60%;
            display: inline;
          }
          .form-actions {
            width: 40%;
            display: inline;
          }
        }
      }
      .last-name, .member-number {
        float: left;
        width: 48%;
      }
      .last-name {
        margin-right: 4%; 
      }
      .green {
        position: relative;
        cursor: pointer;
        &:hover, &:focus {
          .tooltip {
            display: block;
          }
        }
      }
      .tooltip {
        background-color: $enterpriseGreen;
        color: $white;
        font-family: $medium;
        font-size: 12px;
        z-index: 2;
        top:-70px;
        left: -130px;
      }
      .password-info {
        margin-top: rem-calc(30);
      }
    }
  }
  .centered-section {
    margin-top: 100px;
    margin-bottom: 100px;
    .modal-actions {
      margin-top: 20px;
    }
  }
}

#terms-and-conditions-modal-iframe {
  display: none !important;
}

#print-modal {
  width: 7in;
  margin: 0 auto;
  p {
    color: $black;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    font-weight: 100;
  }
}

@media all and (max-width: $bp-xl) {
  .enroll-page {
    .enroll-forms-container {
      .enroll-forms {
        .account-details,
        .contact-info,
        .license-info,
        .preferences {
          padding: 0;
        }
      }
    }
  }
}

@media all and (max-width: $bp-med-2) {
  .enroll-page {
    .enroll-forms-container {
      padding: 0;
      .error-container {
        width: 92%;
        margin: 0 4% 50px;
      }
      .enroll-forms {
        width: 92%;
        margin: 0 4% 20px;
        .first-name,
        .last-name,
        .city,
        .subdivision,
        .postal,
        .expire-date,
        .birth-date,
        .license-issue,
        .issue-country,
        .issue-authority,
        .member-number {
          width: 100%;
          margin-right: 0;
        }
        .account-details,
        .contact-info,
        .license-info,
        .preferences {
          padding: 0;
        }
        .preferences {
          label {
            width: 80%;
          }
          #acceptTerms, #specialOffers {
            vertical-align: top;

          }
        }
        h2 {
          font-size: rem-calc(17);
        }
        .numberCircle {
          font-size: rem-calc(17);
        }
      }
    }
    .confirm-accept {
      padding: 0;
      .modal-actions {
        .btn.cancel {
          width: 100%;
          margin-top: rem-calc(20);
        }
      }
    }
  }
}

@media all and (max-width: $bp-small-3) {
  .enroll-page .enroll-forms-container .enroll-forms .form-actions .btn {
    width: 100%;
  }
}
