.existing-reservation-search {
  margin-bottom: 25px;
  &.hidden {
    display: none;
  }
  .btn-next {
    float: right;
  }
  .beta,
  .required-msg{display: block;}
}

.toggle-search-reservation {
  margin: 25px 0;
  p {
  }
}

.existing-reservation {
  padding-top: 25px;
  .loading > * {
    display: none;
  }
  .authenticated-reservation {
    font-family: $medium;
  }
  .header {
    border-top: 3px solid black;
    padding: 0 5px;
    font-family: 'DINBold';
    font-size: 1em;
    line-height: 3em;
  }
  .past-reservation-summary {
    .date-section {
      width: 20%;
      float:left;
    }
    .location-section {
      width: 40%;
      float:left;
    }
    .confirmation-section {
      width: 20%;
      float:left;
    }
    .print-section {
      width: 20%;
      float:left;
    }
    .header {
      .confirmation-section {
        width: 40%;
        float:left;
      }
      .print-section {
        width: 0;
      }
    }

    .body {
      border-top: 1px solid $midGray;
      &>div {
        padding: 10px 5px;
      }
    }
    @media all and(max-width: $bp-med) {
      .header {
        .date-section,
        .location-section,
        .confirmation-section,
        .print-section {
          padding: 10px 5px 10px 0;
          font-size: 12px;
          line-height: 1.2;
        }
      }
      .header {
        .confirmation-section {
          width: 20%;
        }
      }
      .confirmation-section {
        //display: none;
      }
      .date-section,
      .location-section,
      .confirmation-section,
      .print-section {
        //float: none;
        width: 33.33%;
      }
      .print-section {
        width: 100%;
        float: none;
      }
    }
    @media all and (max-width: $bp-small-3){
      .past-reservation-summary{font-size: 14px;}
    }
  }
  .current-reservation-summary {
    margin-bottom: 25px;
    dl {
      margin-bottom: 0;
    }
    dl dt {
      float: left;
      font-weight: bold;
      margin-right: 10px;
      padding: 5px;
      width: 100px;
    }

    dl dd {
      margin: 2px 0 2px 110px;
      padding: 5px 0;
    }
    @media all and(max-width: $bp-med) {
      dl dt {
        float: none;
      }
      dl dd {
        margin: 2px 0 2px 5px;
      }
    }
    .header {
      .dates {
        color: $enterpriseGreen;
        float: left;
      }
      .confirmation-number {
        float: right;
      }
    }
    .body {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    .left-section {
      padding: 10px 0;
      width: 60%;
      float: left;
      border-right: 1px solid black;
    }
    .right-section {
      padding: 10px 0;
      width: 40%;
      float: left;
      dl {
        margin-left: 10px;
      }
    }
  }
  .upcoming-reservation-summary {
    margin-bottom: 60px;
    .header {
      border-top: 3px solid black;
      padding: 0 5px;
      font-family: 'DINBold';
      font-size: 1em;
      line-height: 3em;
      .dates {
        color: $enterpriseGreen;
        float: left;
      }
      .confirmation-number {
        float: right;
      }
    }
    .body {
      border: 1px solid $midGray;
      border-top: 1px solid $midGray;
      background: $lightestGray;
      padding: 15px 10px;
      @media (min-width: 370px) and (max-width: 748px){overflow: hidden;}

      .section {
        position: relative;
        border-right: 1px solid $midGray;
        &:last-child {
          border-right: none;
        }
        width: 33.33%;
        padding: 10px 15px;
        float: left;
        .title {
          text-transform: uppercase;
          font-family: $medium
        }
        &:first-child{
          .description{
            @media(min-width: 749px){min-height: 76px;}
          }
        }
        .description {
          font-size: 16px;
          line-height: 1.5;
          color: $midGray;

          p {
            margin: 0;
            font-size: 16px;
            line-height: 1.5;
          }
        }
        .overlap-car-image {
          @media(min-width: 370px){
            position: absolute;
            //top: 0;
            top: -28px;
            right: -20px;
            width: 40%;
          }
          @media(min-width: 749px){
            top: auto;
            bottom: -54.8%;
            right: 49px;
            width: 60%;
          }
          @media(min-width: 900px){
            top: auto;
            bottom: -90%;
            //right: -45px;
            right: 45px;
            width: auto;
          }

          img{width: 100%;}
        }
      }
      @media all and(max-width: $bp-med) {
        .section {
          border: none;
          width: 100%;
          float: none;
        }
      }
    }
    .action-group {
      text-align: right;
      padding-top: 20px;
      .green-action-text {
        padding: 0 10px;
        vertical-align: middle;
        border-right: 1px solid $midGray;
        &:last-child {
          border-right: none;
          padding-right: 0px;
        }
      }
    }
  }
}


@media( max-width: $bp-small-3 ){
  .existing-reservation .upcoming-reservation-summary .action-group {
    text-align: left;

    .green-action-text{
      border: none;
      display: block;
      padding: 5px 0;
    }
  }
}
@media( max-width: $bp-small-2 ){
  .existing-reservation .upcoming-reservation-summary .header{
    padding: 15px 5px;
    .dates{
      float: none;
      margin: 0;
      padding: 5px 0;
      line-height: 1;
    }
    .confirmation-number{
      display: block;
      float: none;
      padding: 5px 0;
      line-height: 1;
    }
  }
}
