.generic-information-page {
	margin: 100px auto;
	width: 70%;
	ul {
		margin: 0 0 25px 25px;
		li {
			list-style-type: circle;
			padding-left: 10px;
		}
	}
	a {
		color: $enterpriseGreen;
	}
	h1 {
		text-align: center;
		margin-bottom: 50px;
	}

	.main-text {
		font-size: 1.5rem;
	}

	.sub-head {
		font-size: 1.2rem;
		font-family: DINMedium;
		margin-bottom: 5px;
	}

	.sub-callout {
		font-family: DINMedium;
	}
}

@media all and (max-width: $bp-med) {
	.generic-information-page {
		width: 95%;
	}
}
