#lead-forms {
  padding-bottom: 30px;

  .heading-wrapper {
    border-bottom: 3px solid $black;
    margin-bottom: 30px;
    padding-bottom: 10px;
    .heading {
      h1 {
        font-size: 26px;
        text-transform: none;
      }
    }
  }
  form {
    .section-label {
      margin-bottom: 10px;
      font-family: $bold;
    }
    .field-container {
      margin-bottom: 20px;
      &.first-name,
      &.last-name,
      &.country,
      &.postal,
      &.eventLength {
        width: 48%;
        display: inline-block;
      }
      &.phone,
      &.email {
        width: 48%;
      }
      &.first-name,
      &.country {
        margin-right: 4%;
      }
      &.city,
      &.subdivision,
      &.eventSubdivision,
      &.postal,
      &.eventLength,
      &.durationUnit {
        width: 31%;
        display: inline-block;
      }
      &.attendees {
        width: 31%;
        display: block;
      }
      &.city, &.subdivision, &.eventLength {
        margin-right: 3.5%;
      }
      .sub-text {
        font-size: 12px;
        margin-top: 5px;
        color: $darkGray;
      }
      .indent {
        margin-left: 20px;
      }
    }
    .action-container {
      width: 100%;
      margin-top: 20px;
      text-align: right;
      .btn {
        margin: 0 auto;
        width: 200px;
      }
    }
  }
  .application-success-modal {
    min-height: 0;
    .application-success {
      font-size: 24px;
      .disclaimer {
        font-size: 20px;
      }
      .modal-action {
        button {
          font-family: $regular;
          font-size: 14px;
          margin-right: 30px;
          padding: 10px 40px;
        }
      }
    }
  }
}
.lead-background-image {
  background-size: cover;
  height: 25vw;
  margin-bottom: 30px;
}

.entertainment-content {
  width: 650px;
  margin: 0 auto 20px;
  ul {
    margin: inherit;
    padding-left: 30px;
    list-style: inherit;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 28px;
  }
}

@media(max-width: $bp-small-3) {
  #lead-forms {
    form {
      .field-container {
        &.first-name,
        &.last-name,
        &.country,
        &.postal,
        &.phone,
        &.city,
        &.subdivision,
        &.email,
        &.eventSubdivision,
        &.attendees {
          width: 100%;
          display: block;
        }
        &.first-name,
        &.city,
        &.subdivision,
        &.country {
          margin-right: 0;
        }
      }
      .date-selector {
        width: 100%;
        display: block;
      }
      .action-container {
        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: $bp-med) {
  .entertainment-content {
    width: 95%;
  }
  .modal-container.active .application-success-modal.modal-content {
    width: 90%;
  }
}
