.location-detail-container.container {
	
	.inner-container {
		@media all and (max-width: $bp-med) {
			margin-top: 0;
		}

		margin-top: rem-calc(64);
		clear: both;
		height: auto;
		&.details-policies {
			margin-top: rem-calc(260);
			@media all and (max-width: $bp-med) {
				width: 80%;
				margin: rem-calc(450) auto 0 auto;
				padding-bottom: rem-calc(40);
			}
		}
		&.nearby-locations {
			width: 90%;
			h2.center {
				text-align: center;
				margin: rem-calc(40);
			}
			.btn.btn-small {
				display: block;
				height: auto;
				min-height: 34px;
			}
			.nearby-details .address {
				margin: 0 0 20px 0;
			}
			@media all and (max-width: $bp-med) {
				.g {
					margin: rem-calc(40);
					.nearby-details {
						.name {
							text-align: center;
						}
						.address {
							text-align: center;
						}
						.btn {
							margin: 0 auto;
						}
					}
				}
			}
		}
		.location-header {
			border-bottom: rem-calc(3) solid $enterpriseGreen;
			margin-bottom: rem-calc(24);
			padding-bottom: rem-calc(20);
		}
		p {
			font-size: rem-calc(18);
		}
		h2 {
			font-family: $medium;
			font-size: rem-calc(24);
			margin: rem-calc(10 0);
		}
		.location-availability {
			width: 80%;
			float: right;
			background: $lightestGray;
			padding: rem-calc(10);
			h3 {
				color: $black;
				font-family: $bold;
				font-size: rem-calc(20);
				margin: rem-calc(20 0);
			}
			.availability-wrapper {
				height: rem-calc(40);
				.location-date {
					width: 30%;
					display: inline-block;
				}
				.location-hour-item {
					width: 59%;
					display: inline-block;
					text-align: right;
				}
			}
		}
		.services {
			clear: both;
			border-top: 1px solid $lightGray;
			border-bottom: 1px solid $lightGray;
			padding: rem-calc(20 0 40 0);
			margin-bottom: rem-calc(20);
		}
		ul.location-services {
			clear: both;
			li {
				cursor: pointer;
				color: $enterpriseGreen;
				font-size: rem-calc(20);
				float: left;
				width: 30%;
				@media all and (max-width: $bp-med) {
					width: 100%;
				}
			}
		}
	}
}

.container .inner-wrapper{
	width: 90%;
	max-width: rem-calc(865);
	margin: 0 auto;

	h2{
		font-family: $bold;
		font-size: 22px;
		line-height: 1.3;
		letter-spacing: -0.010em;
	}
}

.location-intro-paragraph{
	.inner-wrapper{
		padding: 50px 0;
		border-bottom: 1px solid $lightGray;
	}
	p{
		font-family: $light;
		font-size: 22px;
		line-height: 1.6;
		letter-spacing: -0.020em;
		margin-bottom: 0;
	}
}

.location-other-details{
	.inner-wrapper{
		padding: 50px 0;
	}
	.gi{
		padding-right: 20px;
	}
	p{
		font-family: $regular;
		font-size: 17px;
		line-height: 1.6;
		letter-spacing: -0.020em;
	}
}

.map-view {
	position: relative;
	.icon.marker {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  width: rem-calc(40);
		  height: rem-calc(48);
		  margin-left: rem-calc(-20);
		  margin-top: rem-calc(-24);
	}
}

#start-reservation {
  width: 100%;
  z-index: 2;
  .inner-container {
	  width: 80%;
	  padding: 5%;
	  margin-top: 0;

	  #book .location-search {
	  	//display: none;
	  }
	  .street {
  	  clear: both;
  	  margin: 0 auto;
		  font-size: 20px;
  	  
  	  @media (max-width: 748px){width: 94%;}
	  }
  }
  @media all and (max-width: $bp-med) {
  	position: relative;
  	.inner-container {
  		margin-top: rem-calc(-40);
  		width: 100%;
  	}
  }
}

.hours-band {
	&.band {
		&.full-bleed {
			margin-top: 40px;
		}
	}

	.hours-image {

	  .gi:first-child {
		background-color: $lightestGray	;
	  }

	  .about-location {
			display: block;
			position: relative;
			box-sizing: content-box;

			#locationHours {
			  width: 100%;
			  height: 100%;
			  top: 0;
			  left: 0;
			  margin-top: 40px;
			  padding: 0 20%;

			    @media all and (max-width: $bp-med) {
				  	padding: 0 1%;
				}

			  .location-availability {
				margin-top: 0;

					.location-availability-control {
					  background-color: $white;
					}
			  }
			}
	  }

	  .img-container {
			position: relative;
			box-sizing: content-box;
			padding-bottom: 58%;
			img {
			  position: absolute;
			  width: 100%;
			  height: 100%;
			}
	  }

	  &.no-image{
	  	.gi{
		  	float: none;
		  	width: 50%;
		  	margin: 0 auto 60px;

		  	@media (max-width: 1056px){width: 70%;}
		  	@media (max-width: 748px){width: 100%;}
		  }
	  }
	}
}

.wayfinding-band {
  border-top: 1px solid $midGray;
  border-bottom: 1px solid $midGray;

  &.band {
	&.full-bleed {
	  padding: rem-calc(40 0);
	}
  }

  h2 {
	font-size: rem-calc(24);
	font-family: $medium;
	margin: 30px auto;
	text-align: center;
	width: 66%;
  }

  .wayfinding-list {
		list-style: none;
		margin: 0 auto;
		width: 66%;

		li {
			position: relative;
			padding-left: 45px;

		  img {
		  	position: absolute;
		  	top: 50%;
		  	left: 0;
				height: 32px;
				width: 32px;
				margin-top: -17px;
		  }
		}
  }

}
.worldwidepage {
	.booking {
		padding-bottom: 0;
	}
}
.worldwide-descriptive-band{//scope - if needed...
	.descriptive-band {
		padding-top: 0;
	}
	.worldwide-parsys{
		padding: 2.5rem 0;
			.band.location-band.region-list{
				padding: 0; 

				.cf{
					margin: 0 0 2.5rem 0;
					padding: 0;
				}
					h2{
						margin: 0 0 5px 0;
						clear: both;
					}
					ul{
						margin: 0;
						padding: 0;

						li{
							margin: 5px 0;
							padding: 0;

							a{
								font-family: $light;
							}
						}
					}
			}
		}
	}

.nearbylocations {
	.nearby-locations {
		width: 90%;
		margin-top: 2em;
		h2 {
			text-align: center;
			margin: 2.5rem;
			font-family: $medium;
			font-size: 1.5rem;
		}
		.nearby-details {
			margin-bottom: 20px;
		}
	}
}


@media all and (max-width: $bp-med) {
	nav.breadcrumb-nav {
		display: none;
	}
}
.street a {
	color: $enterpriseGreen;
}

.miniMap {
	width: 100%;
	height: 250px;
	margin-bottom: 7px;
}