@import "components/_codeBanner";

.Reserve #primary-nav,
.reservationpage #primary-nav {
  display: none;
}

//High Contrast Mode
.high-contrast-black{
  .icon-forms-checkmark:before{
    content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M33.7%204l-18%2018.8-9.4-9.9L0%2019.5l12.6%2013.2%203.1%203.3L40%2010.6%22%2F%3E%3C%2Fsvg%3E');
  }
}
.high-contrast-white{
  .icon-forms-checkmark:before{
    content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M33.7%204l-18%2018.8-9.4-9.9L0%2019.5l12.6%2013.2%203.1%203.3L40%2010.6%22%2F%3E%3C%2Fsvg%3E');
  }
}

#reservationHeader {
  // SUBHEADER
  .reservation-sub-header {
    clear: both;

    .logo {
      @media all and (max-width: $bp-med-2) {
        display: none;
      }
    }

    .policy-link-container + .reservation-utility-nav .total-label:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      z-index: 0;
      height: calc(100% - 3px);
      width: 1px;
      background-color: #fff;
    }

    .mobile-logo {
      display: none;
      height: rem-calc(70);
      padding-top: rem-calc(6);
      width: rem-calc(60);
      i.icon {
        height: rem-calc(60);
        width: rem-calc(60);
      }
      @media all and (max-width: $bp-med-2) {
        display: inline-block;
      }
    }

    // RESERVATION UTILITY NAV
    .reservation-utility-nav-wrapper {
      white-space: nowrap;
    }

    // RESERVATION UTILITY NAV
    .reservation-utility-nav {
      // float: left;
      //margin-top: rem-calc(18);
      //margin-right: rem-calc(60);

      li {
        color: $white;
        font-family: $light;
        font-size: rem-calc(14);
        float: left;

        &.totals-utility-nav-item {
          display: none;
          &.show {
            display: block;
          }
        }
        @media (max-width: $bp-med) {
          &.totals-utility-nav-item {
            background: linear-gradient(to right, #0d663f 0%, #0f784a 3px);
          }
        }

        &.separator {
          line-height: rem-calc(70);
          font-size: rem-calc(16);
          font-family: $light;
        }

        &.no-hover .res-utility-nav-label:hover {
          cursor: default;
        }
        .res-utility-nav-label {
          height: rem-calc(70);
          padding: rem-calc(10);

          &:empty {
            display: none;
          }

          @media(min-width: $bp-med) {
            .total-label {
              position: relative;
              display: inline-block;
              margin-right: rem-calc(6);
              margin-right: 5px;
              padding-left: 5px;
              line-height: 1;
            }

            .total-price {
              font-size: rem-calc(35);
              sup {
                font-size: rem-calc(20);
              }

              @media all and (max-width: $bp-med-2) {
                font-size: rem-calc(20);
                sup {
                  font-size: rem-calc(16);
                }
              }
            }
          }

          &:hover {
            cursor: pointer;
          }

          &.active {
            .res-utility-nav-content {
              height: auto;
              .totals-content {
                padding-top: rem-calc(12);
              }
            }
          }

          @media all and (max-width: $bp-med-2) {
            padding-top: 19px;
            &.active {
              background-color: $black;
              ~ .res-utility-nav-content {
                height: 100vh;
                padding-top: rem-calc(12);
              }
            }
          }
        }
        @media (max-width: $bp-med) {
          .res-utility-nav-label {
            padding: 28px 20px 0;
            sup {
              font-size: inherit;
              vertical-align: inherit;
            }
          }
        }

        .res-utility-nav-content {
          background-color: $black;
          background-position: center 0;
          background-size: rem-calc(40);
          height: 0;
          overflow: hidden;
          position: absolute;
          right: rem-calc(60);
          transition: all 200ms ease-in-out;
          top: rem-calc(71);
          width: rem-calc(530);
          z-index: 100;

          @media all and (max-width: $bp-med-2) {
            background: $black none;
            right: 0;
            top: rem-calc(70);
            width: rem-calc(272);
          }

          .totals-content {
            transition: all 250ms ease-in-out;
            @media all and (max-width: $bp-med-2) {
              display: none;
            }
          }

          .mobile-steps {
            display: none;
            padding-top: 20px;
            .mobile-reservation-steps {
              padding-left: rem-calc(12);
              padding-right: rem-calc(12);
              li {
                float: none;
                padding: rem-calc(12);
                padding-bottom: rem-calc(26);
                position: relative;

                &:before {
                  content: "";
                  position: absolute;
                  width: rem-calc(16);
                  height: rem-calc(16);
                  bottom: rem-calc(10.3);
                  left: rem-calc(10);
                  background: url('../../dist/img/icons/png/nav-reservation-arrow-white.png') no-repeat right 75%/20px;
                  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2053.333332%2050.093334%22%20height%3D%2250.093%22%20width%3D%2253.333%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M0%200h400v375.652H0V0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%20clip-path%3D%22url(%23a)%22%20fill%3D%22%23fff%22%20transform%3D%22matrix(.133%200%200%20-.133%200%2050.093)%22%3E%3Cpath%20d%3D%22M385.004%20172.965H15c-8.285%200-15%206.71-15%2015%200%208.285%206.715%2015%2015%2015h333.793l-147.09%20147.082c-5.86%205.855-5.86%2015.36%200%2021.21%205.86%205.86%2015.352%205.86%2021.21%200L395.61%20198.57c4.288-4.29%205.578-10.742%203.253-16.347-2.324-5.606-7.793-9.258-13.86-9.258%22%2F%3E%3Cpath%20d%3D%22M212.31%200c-3.837%200-7.677%201.465-10.607%204.395-5.86%205.86-5.86%2015.35%200%2021.21L302.66%20126.552c5.86%205.86%2015.352%205.86%2021.21%200%205.86-5.86%205.86-15.35%200-21.21L222.915%204.395C219.984%201.465%20216.148%200%20212.31%200%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat right 75%/20px;
                  transform: rotate(90deg);
                }

                .reservation-nav-item {

                  .step-title i {
                    display: none;
                  }

                  .step-value {
                    padding-left: rem-calc(14);
                    padding-bottom: 15px;
                    color: $enterpriseGreen;
                    font-size: 20px;
                    line-height: 1;
                  }

                  .icon-forms-checkmark-white {
                    background-size: 75%;
                    background-position: center;
                  }

                  &.completed {
                    .step-title {
                      i {
                        display: inline-block;
                        height: rem-calc(13);
                        margin-left: rem-calc(4);
                        width: rem-calc(13);
                      }
                    }
                  }

                  i.icon-res-nav-notch {
                    display: none;
                    height: rem-calc(24);
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    top: rem-calc(74);
                    width: rem-calc(24);
                    &.active {
                      display: block;
                      transform: rotate(90deg);
                      left: -12px;
                      top: 50%;
                      margin: -12px 0 0 0;
                    }
                  }
                }

                &:last-child {
                  span {
                    border-left: 0 none;
                    padding-left: 0;
                  }
                  &:before {
                    content: none;
                  }
                }
              }
            }
            @media all and (max-width: $bp-med-2) {
              display: block;
            }
          }
        }

        &:first-child {
          @media all and (max-width: $bp-med-2) {
            float: right;
          }
        }

        &:last-child {
          //padding: rem-calc(20 0 0 0);

          span {

            @media all and (max-width: $bp-med-2) {
              border-left: none;
              //padding-right: rem-calc(12);
            }
          }

          @media all and (max-width: $bp-med-2) {
            float: left;
          }
        }
      }
      @media all and (max-width: $bp-med-2) {
        margin-right: 0;
      }
    }
    @media all and (max-width: $bp-med-2) {
      // padding-right: rem-calc(10);
    }
  }
  @media(max-width: $bp-med) {
    .reservation-sub-header {
      margin: 0;
      padding: 0;

      &.modifying {
        position: relative;
      }
    }

    .reservation-sub-header .policy-link-container + .reservation-utility-nav .total-label:before {
      content: none;
    }
  }

  // RESERVATION STEPS NAV
  nav .reservation-steps {
    $nav-height: 120;
    box-sizing: content-box;
    border-top: 1px solid $enterpriseDarkGreen;
    clear: both;
    height: rem-calc($nav-height);
    position: relative;
    overflow: hidden;
    transition: height .5s ease-in-out;
    &.collapsed {
      height: 0;
      visibility: hidden;
    }
    > li {
      $item-height: 50; //Note: This magic number is based on the item calculated height. Update this constant if necessary.
      $item-padding: ($nav-height - $item-height)/2;

      &.disabled {
        cursor: auto;
        background: none;
      }

      background: url('../../dist/img/icons/png/nav-reservation-arrow-white.png');
      background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2053.333332%2050.093334%22%20height%3D%2250.093%22%20width%3D%2253.333%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M0%200h400v375.652H0V0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%20clip-path%3D%22url(%23a)%22%20fill%3D%22%23fff%22%20transform%3D%22matrix(.133%200%200%20-.133%200%2050.093)%22%3E%3Cpath%20d%3D%22M385.004%20172.965H15c-8.285%200-15%206.71-15%2015%200%208.285%206.715%2015%2015%2015h333.793l-147.09%20147.082c-5.86%205.855-5.86%2015.36%200%2021.21%205.86%205.86%2015.352%205.86%2021.21%200L395.61%20198.57c4.288-4.29%205.578-10.742%203.253-16.347-2.324-5.606-7.793-9.258-13.86-9.258%22%2F%3E%3Cpath%20d%3D%22M212.31%200c-3.837%200-7.677%201.465-10.607%204.395-5.86%205.86-5.86%2015.35%200%2021.21L302.66%20126.552c5.86%205.86%2015.352%205.86%2021.21%200%205.86-5.86%205.86-15.35%200-21.21L222.915%204.395C219.984%201.465%20216.148%200%20212.31%200%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: right 46px;
      background-size: 20px auto;
      cursor: pointer;
      color: $black;
      float: left;
      list-style: none;
      padding-top: rem-calc($item-padding);
      text-align: center;

      .edit {
        display: inline-block;
        margin-top: 15px;
        font-size: 24px;
      }

      .reservation-nav-item {

        &.disabled {
          width: 89%;
          .step-value {
            color: $black !important;
          }
        }

        display: inline-block;
        position: relative;
        .step-title {
          color: $black;
          font-family: 'DINBold';
          font-size: rem-calc(14);
          text-align: center;
          text-transform: uppercase;

          i {
            display: none;
          }
        }

        .step-value {
          font-family: $regular;
          font-size: 17px;
          line-height: 24px;
          text-align: center;
          padding: 5px 30px 0;
          @media all and (max-width: $bp-med) {
            padding-left: rem-calc(14);
          }
        }

        i.icon-res-nav-notch {
          $nav-notch-top-size: 24;
          $nav-notch-top-position: $item-height + $item-padding - $nav-notch-top-size;
          display: none;
          position: absolute;
          top: rem-calc($nav-notch-top-position);
          left: 0;
          right: 0;
          height: rem-calc($nav-notch-top-size);
          width: rem-calc($nav-notch-top-size);
          margin: 0 auto;
          &.active {
            display: block;
          }
        }

        &.completed {
          .step-title {
            i {
              display: inline-block;
              height: rem-calc(13);
              margin-left: rem-calc(4);
              width: rem-calc(13);
            }
          }
          .step-value {
            color: $white;
          }
        }

        &.active {
          .step-value {
            color: $white;
          }
        }
      }

      &.step-col-1 {
        width: 100%;
      }
      &.step-col-2 {
        width: 50%;
      }
      &.step-col-3 {
        width: 33%;
      }
      &.step-col-4 {
        width: 25%;
      }
      &.step-col-5 {
        width: 20%;
      }

      &:last-child {
        background: none;
      }
    }

    @media all and (max-width: $bp-med-2) {
      display: none;
    }

  }

  // TOTALS SUMMARY
  .summary-container {
    padding: rem-calc(30) rem-calc(24) 0 rem-calc(24);

    @media all and (max-width: $bp-med-2) {
      border-top: 3px solid $enterpriseGreen;
    }

    .summary-table {
      margin-top: rem-calc(22);
      margin-bottom: rem-calc(22);
      border: none;

      table, th, td {
        border: none;
        display: inline-block;
      }

      .fees-dropdown {
        display: none;
        &.active {
          display: block;
        }
      }

      .summary-row, .total-row {
        line-height: rem-calc(28);
        .summary-item, .summary-price {
          display: inline-block;
          width: 50%;
        }

        .summary-item {
          text-align: left;
        }
        .summary-price {
          text-align: right;
        }

        &.fees-row {
          .summary-item {
            color: $enterpriseGreen;
            i {
              display: inline-block;
              height: rem-calc(12);
              margin-left: rem-calc(6);
              width: rem-calc(12);
            }
          }

          &:hover {
            cursor: pointer;
          }
        }

        &.fees {
          font-size: 0.875rem;
          padding-left: rem-calc(8);
          text-transform: capitalize;
        }
      }

      .total-row {
        border-top: 3px solid $darkestGray;
        margin-top: rem-calc(6);
        padding-top: rem-calc(12);
      }
      .car-savings {
        background-color: $gold-tier-background;
        color: $black;
        font-family: $medium;
        text-align: center;
        width: 100%;
        display: block;
        .icon {
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;
        }
      }
    }
  }

}

.reservation-flow {
  position: relative;
  //min-height: 500px;
  width: 100%;
  overflow: hidden;
}

.reservation-flow .reservation-step {
  display: block;
  transition-property: left;
  transition-duration: 2s;
  min-height: 500px;
  @media print {
    min-height: 0;
  }
  &#book .date-time > div, &#dateTime .date-time > div {
    position: relative;
  }

  //EXTRAS
  &#extras {
    transition: all 1s ease-in-out;

    .cta-container {
      float: left;
      position: relative;

      @media(min-width: $bp-med) {
        float: right;
      }

      // how much min-width??? $bp-med??
      //   @media(min-width: ){width: 320px;}

      .false, .loading {
        width: rem-calc(202);
        margin-left: rem-calc(5);
        @media(min-width: $bp-large-2) {
          margin-top: 40px;
        }
      }

      .loading {
        z-index: 100;
        background-color: transparent;
      }

      button {
        padding: 15px 25px 11px;
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 1;

        &.disabled {
          opacity: 0.33;
          cursor: default;
        }
      }
    }

    .extras-header {
      clear: both;
      height: auto;
      min-height: rem-calc(130);
      padding-left: rem-calc(60);
      padding-right: rem-calc(60);
      border-bottom: 1px solid $lightGray;
      @media(max-width: 900px) {
        padding: 0 20px;
      }

      .cta-container {
        float: none;
        text-align: left;
        @media(min-width: $bp-large-2) {
          float: right;
        }
      }

      .alpha {
        display: block;
        font-family: $heavy;
        font-size: rem-calc(36);
        margin-top: rem-calc(48);
        text-transform: uppercase;
        @media(min-width: $bp-large-2) {
          float: left;
        }
      }

      button {
        //margin-top: rem-calc(42);
        position: static;
        width: auto;
        margin: 10px 0 20px 0;
      }
    }

    .included-alert {
      background-color: $black;
      color: $white;
      display: none;
      font-family: $medium;
      min-height: rem-calc(48);
      padding: rem-calc(10 60);

      &.active {
        display: block;
      }

      .included-container {
        display: none;
        &.visible {
          display: block;
        }
        .included-item {
          color: $enterpriseLightGreen;
        }

      }

      @media all and (max-width: $bp-med) {
        height: auto;
        padding: rem-calc(20);
        text-align: center;
      }
    }

    .upgrade-banner {
      background-color: $white;
      height: rem-calc(80);
      position: relative;
      border-top: 2px solid $lightGray;
      border-bottom: 2px solid $lightGray;
      bottom: 5px;

      &:before {
        background-color: $alabasterWhite;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
      }

      .upgrade {
        margin: 0 auto;
        position: relative;
        width: rem-calc(960);

        img {
          position: absolute;
          top: -48px;
          //top: rem-calc(-56)
        }

        p {
          margin-top: 28px;
          margin-left: 190px;

          .strong {
            font-family: $medium;
          }
        }
        .upgrade-button {
          font-size: rem-calc(14);
          text-transform: uppercase;
          cursor: pointer;
          font-family: $medium;
          color: $enterpriseGreen;
          padding-left: rem-calc(20);
          //float: right;
          &:hover {
            color: $darkGreen;
            text-decoration: underline;
          }
        }
      }

      @media all and (max-width: $bp-med) {
        height: rem-calc(250);
        .upgrade {
          text-align: center;
        }
      }
    }

    .extras-content {
      width: 70%;
      margin: 40px auto;
      @media (min-width: $bp-med) {
        margin: rem-calc(80) auto rem-calc(0) auto;
        padding-bottom: rem-calc(140);
      }

      .extras-container {
        margin: 0 0 40px 0;
        @media (min-width: $bp-med) {
          margin-bottom: rem-calc(100);
        }
        .extras-title {
          font-family: $medium;
          font-size: rem-calc(28);
          text-align: center;
          text-transform: capitalize;
          margin-bottom: rem-calc(25);
        }
        .required-extras {
          background-color: $black;
          color: $white;
          i {
            float: left;
            height: 31px;
            width: 25px;
            margin: 2% 0 0 1.9%;
          }
          &.no-protections {
            i {
              margin-top: 1%;
            }
          }
          .required-extras-content {
            padding-top: 1%;
            padding-left: 6%;
          }
          .required-extras-list {
            padding-left: 6%;
            padding-bottom: 1%;
            li {
              font-family: $regular;
            }
          }
          .required-extras-details {
            font-family: $regular;
            color: $enterpriseGreen;
            background: none;
            text-transform: none;
            padding: 0;
            margin: 0;
            letter-spacing: normal;
          }
        }
      }

      .false, .loading {
        margin-top: rem-calc(20);
      }

      //MOBILE STYLES
      @media all and (max-width: $bp-med) {
        .extras-container {
          width: 100%;
        }
      }
      .mobile-table {
        //.selected + .detail-row{border-color: #fff;}
        td {
          padding: 0;

          td {
            border: 0;
          }
        }
      }
      .mobile-table > .mobile-row > td {
        padding: 6%;
      }

      .mobile-icon-cell {
        width: 55px;
        .icon {
          margin-right: 15px;
        }
      }
      .mobile-name-cell {
      }

      .mobile-rate-cell {
        width: 50%;
        text-align: left;
      }
      .mobile-max-cell {
        width: 50%;
        text-align: center;
      }

    }

    @media all and (max-width: $bp-large-2) {
      .extras-content {
        width: 90%;
      }
    }

    @media all and (max-width: $bp-med) {
      .extras-content {
        width: 100%;

        & > .cta-container {
          float: none;
          margin: 0;
          padding: 0 6%;

          button {
            position: static;
            margin: 0;
          }
        }
      }

      button {
        float: none;
        width: 90%;
        margin-left: 5%;
        &.close-modal{
          width: inherit;
        }
      }

      .extras-header {
        height: auto;
        padding-left: 6%;
        padding-right: 6%;
        text-align: left;

        .cta-container {
          margin: 0 auto;

          button {
            padding-top: 20px;
            padding-bottom: 16px;
          }
        }

        h2 {
          border-top: 2px solid $midGray;
          border-bottom: 2px solid $midGray;
          float: none;
          font-size: rem-calc(22);
          margin-top: 0;
          padding: rem-calc(20 0);
          text-align: center;

        }
        .loading {
          position: absolute;
          top: -10px;
          left: 24%;
        }

        button {
          margin: rem-calc(30) auto;
        }
      }
      .upgrade-banner .upgrade {
        span {
          display: block;
        }

        a.upgrade-button {
          float: none;
          display: inline-block;
          margin: 30px 0 20px;
          padding: 0;
        }
      }
    }
  }
}

.reservation-toggle-header {
  @media (max-width: $bp-med-2) {
    display: block;
    float: none;
    margin: 30px 3% 0;
    font-size: 24px;
    line-height: 1.1;
  }
}

#reservationWidget,
#reservationFlow {
  .inner-container:after {
    content: '';
    display: block;
    clear: both;
  }
  div.options {
    display: block;
    @media(max-width: $bp-med-2) {
      margin: 0 3%;
    }

    .text {
      display: inline-block;
      font-family: $bold;
      color: $lightGray;
      font-size: 15px;
      border-bottom: none;
      margin: 12px 0px 0 0;
      text-transform: uppercase;
      @media all and (max-width: $bp-large) {
        margin: 0 0 5px 0;
      }
    }
  }

  a.green {
    margin: 0;
    padding: 0;
    color: $enterpriseGreen;
    text-decoration: none;

    &:hover,
    :hover {
      color: $darkGreen;
      text-decoration: underline;
    }
  }
}

.reservation-flow {
  #location {
    .location-search {
      @media all and (max-width: $bp-med) {
        padding: 15px 0;
        margin: 0;
        .location-input.location-field {
          width: 100%;
        }
      }

      h1 {
        font-size: rem-calc(32);
        padding-top: rem-calc(10);
        text-transform: uppercase;

        @media all and (max-width: $bp-large-2) {
          font-size: rem-calc(24);
        }
      }

      .auto-complete {
        top: 42px;
        max-width: 100%;

        @media all and (max-width: $bp-large) {
          top: rem-calc(168);
          max-width: rem-calc(521);
        }
      }

      .location-btn {
        background-position: left;
        color: $enterpriseGreen;
        text-indent: 0;
        width: auto;
        height: auto;
        border: none;
        display: block;
        margin-left: 0;
        text-align: left;
        padding-left: rem-calc(22);
        margin-right: 5px;
        @media(max-width: $bp-med) {
          position: relative;
          top: 10px;
          right: auto;
          left: 0;
          float: none;
          margin: 0;
          padding: 0;
        }

        &:hover {
          cursor: pointer;
        }
        .icon {
          height: 13px;
          margin-top: 5px;
        }
      }

      .locationInput-active .location-field {
        max-width: 100%;
      }

      .locationChicklet-active .location-chicklet {
        max-width: 100%;
      }

      .locationInput-active, .locationChicklet-active {
        width: 100%;
        /* .location-btn {
          //position: absolute;
          //right: rem-calc(50);
          //top: rem-calc(123);

          @media all and (max-width: $bp-med) {top: rem-calc(170); }
          @media all and (max-width: $bp-small-2) {
            top: 12.5rem;
            right: 0;
            margin-right: 0;
          }
        } */
      }
      .pick-up-location + .cf > .locationInput-active {
        margin-top: 15px;
      }
    }
  }
}

.taxes-copy {
  font-size: .75rem;
  line-height: .9rem;
  &.taxes-clear {
    display: block;
    position: relative;
    clear: both;
    top: 15px;
  }
}

.reservation-flow.locationSelect {
  .modal-container {
    display: none;
  }
  .modal-container.active {
    display: block;
  }
  .date-time-form {
    float: none;
    margin: 0 auto;
  }
}

.reservation-flow.cars {
  background: $lightestGray;

  .pre-filter-band, .generic-band {
    margin: 20px;
    padding: 0 25px;
    font-family: $light;
    color: $black;

    button {
      @include clean-button-mess;
    }

    button, a {
      color: $enterpriseGreen;
      font-family: $bold;
    }
  }

  .generic-band {
    display: table;

    .col {
      display: table-cell;
    }

    .icon-label {
      padding-left: 10px;
      padding-top: 5px;
      vertical-align: middle;
    }

    .icon-addon-4-white {
      background-color: #000;
      background-size: 60%;
      background-position: 50%;
      width: 30px;
      height: 30px;
    }

    &.centralized {
      margin-left: auto;
      margin-right: auto;
    }

    @media(max-width: $bp-small-2) {
      &.centralized {
        margin-left: 0;
      }
    }
  }

  .car-select-errors .error-container {
    margin: 2% 10%;
  }

  .filter-bar.with-pay-selector {
    @media(min-width: 1001px) {
      padding-top: 20px;
    }
    .filter-selectors {
      @media(min-width: 1001px) {
        margin: 13px 0 10px 0;
      }
    }
  }

  .page-heading {
    margin: 0;
  }

  .mobile-filter-header {
    display: none;
    .text-btn {
      margin: 0;
      padding: 0;
      background: none;
      color: $enterpriseGreen;
      font-style: normal;
      &:hover {
        color: $enterpriseDarkGreen;
      }
    }
  }

  .filter-bar {
    width: 100%;
    background: #FFF;
    padding: 30px 1.5% 10px;
    border-bottom: 3px solid $lightGray;

    .filter-selectors {
      position: relative;
      top: -26px;
      margin-top: 0px;
    }
    &.with-pay-selector .filter-selectors {
      top: auto;
    }

    .filter-header {
      float: left;
      .alpha {
        display: block;
        padding-top: 30px;
      }

      .filter-header-options {
        float: left;
        margin-top: 15px;
        line-height: 22px;
      }
      h1 {
        float: left;
        display: inline-block;
        line-height: 33px;
        width: 50%;
        margin-top: 30px;
      }

      .taxes-and-fees-tooltip {
        position: relative;
        float: left;
        clear: both;
        margin: 10px 0;
        text-align: left;
        @media(min-width: $bp-small-2) {
          margin-bottom: 10px;
        }

        .taxes-text {
        }
        .green {
          color: $enterpriseGreen;
          cursor: pointer;
          @media(min-width: $bp-small-3) {
            position: relative;

            &:hover, &:focus {
              .tooltip {
                display: block;
              }
            }
          }

          @media(max-width: $bp-small-3) {
            .tooltip {
              right: 0;
              left: 0;
              top: 100%;
              width: 100%;
              &.show-tooltip {
                display: block;
              }
            }
          }
        }

        .tooltip {
          position: absolute;
          background-color: $enterpriseGreen;
          color: #FFF;
          font-family: $medium;
          font-size: 12px;
          z-index: 21;
          right: 0;
          left: initial;
        }
      }

      ul {
        float: left;
        border: 1px solid $lightGray;

        li {
          float: left;
          padding: 15px 8px;
          font-size: 14px;
          font-family: $bold;
          color: #656565;
          text-transform: uppercase;
          cursor: pointer;

          &:first-of-type {
            border-right: 1px solid $lightGray;
          }

          &:nth-child(3) {
            border-left: 1px solid $lightGray;
          }

          &.selected {
            background: #f3f3f3;
            box-shadow: inset 0 -3px 0 #169a5a;
            color: $black;
          }
        }

      }
    }
  }

  .filter-selectors {
    //padding: 2% 0;
    margin: 50px 0 10px 0;
    float: right;

    .clear-vehicle-filters {
      font-size: 14px;
      width: auto;
      font-family: $bold;
      color: $enterpriseGreen;
      clear: both;
      float: right;
      margin: 10px 0;
      //padding: 15px 20px;
      text-transform: uppercase;
      //border: 1px solid $enterpriseGreen;
      cursor: pointer;
      &:hover, &:focus {
        color: $darkGreen;
      }
    }

    .selector {
      float: left;
      font-size: 14px;
      font-family: $bold;
      color: #656565;
      position: relative;
      margin: 2px;
      width: auto;
      min-width: 185px;
      background: #FFF;

      .selector-name {
        border: 1px solid $lightGray;
        width: 100%;
        text-transform: uppercase;
        cursor: pointer;
        padding: 15px 10px;

        i {
          float: right;
          margin-left: 10px;
        }
      }

      .filters {
        background: #FFF;
        border-left: 1px solid $lightGray;
        border-right: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
        position: absolute;
        width: 100%;
        z-index: 100;
        padding: 15px 30px;
        font-family: $regular;

        &.is-collapsed {
          display: none;
        }

        &#vehicleClass {
          width: 304%;
        }

        .clear-button {
          width: 100%;
          background-color: $enterpriseGreen;
          color: #FFF;
          font-family: $bold;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0;
          padding: 10px 10px;
          text-align: center;
          cursor: pointer;
          &:hover, &:focus {
            background-color: $darkGreen;
          }
        }
      }

      &.selected {
      }

    }
  }

  .cars-wrapper {
    padding: 5px;
    margin: 0 auto;
    max-width: 1900px;
  }

  .unavailable-wrapper.show {
    display: block;
  }
  .unavailable-wrapper.hide {
    display: none;
  }

  .unavailable-toggle {
    padding: 0;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    float: left;
    clear: both;
    background: $bgGray;
    color: $enterpriseGreen;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    font-family: $light;
    font-size: 18px;
    line-height: 100px;
    cursor: pointer;
    &.showing {
      margin-bottom: 10px;
    }
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      &.rotate-up {
        transform: rotate(180deg);
        margin-bottom: 10px;
      }
    }
  }
  .prepaytile-container {
    width: 33.3%;
    height: 600px;
    float: left;
    position: relative;
    padding: 5px;
   .prepay-content-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background: #181918;
      transition:0.5s;
      padding: 10%;
      .content {
        padding-top: 22%;
        height: 50%;
        color: #FFF;
        position: relative;
        .header-content {
          font-family: $regular;
          font-size: 29px;
          text-transform: none;
          color: #FFF;
          line-height: normal;
        }
        .prepay-content {
          margin-right: 18%;
          margin-top: 2%;
        }
      }
      // Needed blank space to get the Learn More button in alignment
      //with select buttons in car tiles during responsive
      .blank-space {
        height: 25%;
      }
      .prepay-learn-more {
        width: 69%;
        text-align: center;
        color: #169a5a;
        padding: 5px 4px;
        cursor: pointer;
        font-size: 14px;
        border: 2px solid #169a5a;
        position: relative;
        margin-top: 15%;
        &:focus {
          color: $darkGreen;
          border-color: $darkGreen;
        }
      }
    }
  }
  .car-container {
    width: 33.3%;
    height: 600px;
    float: left;
    perspective: 800;
    padding: 5px;
    position: relative;

    &.hidden-car {
      display: none;
    }

    .preferredFlag,
    .previouslySelectedFlag {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      font-family: "DINBold", "Arial Black", Arial, sans-serif;
      font-size: 12px;
      text-transform: uppercase;

      .icon {
        display: inline-block;
        height: 10px;
        width: 10px;
      }
    }

    &.previously-selected {
      .car-cutoff {
        border: 4px solid $enterpriseGreen;
      }
      .previouslySelectedFlag {
        display: inline;
        border-bottom: 4px solid $enterpriseGreen;
        border-left: 4px solid $enterpriseGreen;
        padding: 2px 10px 0px;
      }
    }

    &.preferred {
      .car-cutoff {
        border: 4px solid #000;
      }
      .preferredFlag {
        display: inline;
        color: #fff;
        background: #000;
        padding: 2px 10px;
      }
    }

    .not-enough-points-block {
      text-align: center;
      padding: 5px;
      background: $darkGray;
      margin-top: 50px;
      color: $white;
      border-radius: 2px;
      font-family: $bold;
    }

    .car-cutoff {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid $lightGray;
    }

    @media(min-width: 700px) {
      &.animated:hover {
        .car {
          border: 5px solid $midGray !important;
        }
        .state-link {
          color: $darkGreen;
          text-decoration: underline;
        }
      }
    }

    .car {
      transition: 0.5s;
      //   transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      color: $black;
      border: 5px solid #FFF;

      .car-image img {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        margin: auto;
      }

      .trucks-icon {
        display: none;
      }

      &.truck {
        border: 5px solid #000;
        .rate-section {
          border-bottom: 3px solid $white;
          margin-left: 80px;
          span {
            background: none;
            margin-left: -80px;
          }
        }
        .rates {
          color: $white;
        }
      }

      &.truck .default-view {
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMmEyYSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2MTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(left, rgba(42, 42, 42, 0.9) 0%, rgba(22, 22, 22, 1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(42, 42, 42, 0.9)), color-stop(100%, rgba(22, 22, 22, 1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(42, 42, 42, 0.9) 0%, rgba(22, 22, 22, 1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(42, 42, 42, 0.9) 0%, rgba(22, 22, 22, 1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(42, 42, 42, 0.9) 0%, rgba(22, 22, 22, 1) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(42, 42, 42, 0.9) 0%, rgba(22, 22, 22, 1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62a2a2a', endColorstr='#161616', GradientType=1); /* IE6-8 */
        color: white;

        .trucks-icon {
          position: absolute;
          display: block;
          width: 150px;
          margin-top: 10px;
        }
      }

      .sold-out-container {
        display: none;
      }

      &.sold-out, &.restricted {
        .state-link {
          display: block;
        }

        .car-image img {
          opacity: .5;
        }

        .select-button {
          display: none;
        }

        .sold-out-container {
          display: block;
          text-align: center;
          margin-top: 20px;
          font-family: $regular;
          font-size: 30px;
          line-height: 1.1;
          @media(max-width: 700px) {
            font-size: 20px;
          }
        }
      }

      .detailed-view, .default-view {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10%;
        width: 100%;
        height: 100%;

        &.transform-active {
          backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
        }
        &.transition-active {
          transition: 0.6s;
          -webkit-transition: 0.6s;
          -moz-transition: 0.6s;
          -ms-transition: 0.6s;
        }
        &.hiddenByFlip {
          visibility: hidden;
          -webkit-visibility:hidden;
          -ms-visibility:hidden;
          -moz-visibility:hidden;
        }
      }

      .pay-later-counter {
        float: right;
      }

      .feature-details {
        display: none;
      }

      .pricing-details {
        display: none;

        &.details-error {
          .pricing-list {
            display: none;
          }

          .loading-error {
            display: block;
          }
        }

        .loading-error {
          display: none;
          color: red;
          padding-bottom: 20px;
        }
      }

      .default-view {
        z-index: 2;
        background: #FFF;

        &.transform-active {
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          transform: rotateY(0deg);
        }

        .car-details {
          height: 85px;
        }
      }

      .detailed-view {
        z-index: 1;
        background: #212121;

        &.transform-active {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -ms-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }

        .car-savings.saved {
          color: $white;
        }
      }

      .car-details {
        position: relative;
        z-index: 2;
      }

      .car-header {
        float: left;
        width: 100%;

        p {
          max-width: 85%;
          margin: 0 0;
          padding: 0 0;
          font-family: $regular;
          font-size: 28px;
          letter-spacing: -0.020em;
        }

        span {
          width: 50%;
        }

        h3 {
          text-align: center;
          margin-top: -20px;
          margin-bottom: 45px;
          font-size: 28px;
          font-family: $light;
        }

        h2 {
          font-size: 28px;
          font-family: $regular;
        }

        > span {
          display: block;
          font-size: 17px;
          font-family: $light;

          &.transmission {
            margin-top: 10px;
            font-family: $bold;
            font-size: 12px;
            text-transform: uppercase;

          }
        }
      }

      .state-link {
        @include clean-button-mess;
        float: right;
        color: #169a5a;
        cursor: pointer;
        position: absolute;
        right: 0%;
        &:hover {
          color: $darkGreen;
          text-decoration: underline;
        }
        .icon {
          float: right;
          margin-left: 5px;
          margin-top: 1px;
        }
      }

      .car-image {
        height: 220px;
        width: 100%;
      }
      .rate-compare {
        margin-top: 4%;
        text-align: center;
        .rate-compare-link {
          @include clean-button-mess;
          color: $enterpriseGreen;
          cursor: pointer;
          display: block;
          width: 100%;
          &:hover, &:focus {
            color: $darkGreen;
            text-decoration: underline;
          }
          &.loading {
            margin: 0 auto;
            width: 20%;
          }
        }
      }

      .rate-section {
        font-family: $bold;
        font-size: 14px;
        text-transform: uppercase;
        height: 21px;
        line-height: 21px;
        border-bottom: 3px solid $black;
        padding-top: 10px;
        margin-top: -10px;
        span {
          display: inline-block;
          background: $white;
          padding-right: 10px;
        }

      }

      .savings {
        color: #169a5a;
        font-size: 15px;
        margin: 10px 0;
      }

      .rate-normal {
        font-size: 25px;
        vertical-align: top;
        display: inline-block;
        margin-left: 7px;
        letter-spacing: -1px;
      }

      .rate-uppertext {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
      }

      .moved-up {
        margin-top: -10px;
      }

      .block-separator {
        display: block;
      }

      .rate-subtext {
        display: inline-block;
        //text-transform: capitalize;
      }
      .rates {
        margin-top: 20px;
        font-family: $regular;
        color: $darkGray;

        &.redemption {
          .rate-info:first-child {
            border-right: none;
            width: 100%;
            cursor: pointer;
          }
        }

        .rate-info {
          width: 50%;
          text-align: center;

          &:first-child:not(:last-child) {
            border-right: 1px solid #dbdbdb;
          }
          &.no-border {
            border: 0;
          }
        }

        .day-rate {
          float: left;
        }

        .total-rate {
          float: left;
          cursor: pointer;

          .total-icon {
            display: block;
            content: ' ';
            width: 23px;
            height: 23px;
            background-image: url('../../dist/img/info_button.png');
            float: right;
          }

          &.no-pricing {
            margin: 0 auto;
            float: none;
            cursor: auto;
            .rate-subtext {
              cursor: auto;

              .total-icon {
                display: none;
              }
            }
          }
        }

        .pay-type-box {
          float: left;
          padding: 0 15px;
          text-align: center;
          height: 140px;

          .rate-section {
            border-bottom: 0;
            border-top: 3px solid #181918;
            span {
              float: left;
            }
          }

          .rate-subtext {
            margin-top: 10px;
          }

          .rate-normal {
            display: block;
            font-size: 25px;
            color: #000;
          }

          .total-icon {
            display: block;
            content: ' ';
            width: 23px;
            height: 23px;
            float: right;
            background-size: cover;
            cursor: pointer;
            margin-top: 25px;
          }

          &.no-pricing {
            margin: 0 auto;
            float: none;
            cursor: auto;
            .rate-subtext {
              cursor: auto;

              .total-icon {
                display: none;
              }
            }
          }

          .select-pay-type {
            color: #FFF;
            text-transform: uppercase;
            background: $enterpriseGreen;
            margin-top: 15px;
            height: 35px;
            font-size: 14px;
            font-family: $bold;
            line-height: 35px;
            text-align: center;
            display: block;
            cursor: pointer;

            &.later,
            &.PAYLATER {
              background: #FFF;
              border: 2px solid $enterpriseGreen;
              color: $enterpriseGreen;
              line-height: 33px;
            }
          }
        }

        .included-text {
          color: #169a5a;
          font-size: 14px;
          display: block;
          cursor: pointer;
          &:hover {
            color: $darkGreen;
            text-decoration: underline;
          }
        }
      }

      .select-button, .change-location-button {
        color: #FFF;
        text-transform: uppercase;
        background: $enterpriseGreen;
        width: 80%;
        height: 35px;
        font-size: 14px;
        font-family: $bold;
        line-height: 35px;
        text-align: center;
        display: block;
        position: absolute;
        bottom: 9%;
        left: 10%;
        &:hover, &:focus {
          background: $darkGreen;
        }
      }

      .car-savings {
        position: absolute;
        bottom: 3%;
        text-align: center;
        width: 80%;
        color: $enterpriseGreen;
        cursor: pointer;
        text-transform: uppercase;
        font-family: $bold;
        font-size: 14px;
        line-height: 14px;

        &.not-bold {
          font-family: $regular;
        }

        &.saved {
          cursor: default;
          color: $darkGray;
        }

       .icon-icon-promo-applied,
       .icon-icon-promo-applied-white {
          margin: 5px 5px -4px 0;
          display: inline-block;
          opacity: .5;
        }
        .icon-icon-credit-card {
          width: 40px;
          height: 40px;
          margin: 5px 5px -15px 0;
          display: inline-block;
        }
      }

      .sub-select-text {
        line-height: .9rem;
        font-size: .75rem;
        margin-top: 5px;

        a {
          color: $enterpriseGreen;
        }
      }

      button.select-button {
        line-height: rem-calc(25);
      }

      .change-location-button {
        background: $darkGray;
      }

      .car-details-divider {
        height: 3px;
        background: white;
        margin: 15px 0 -10px;
      }

      .pricing-list{
        margin-top: 15px;
      }

      p.car-description {
        color: #bbbbbb;
        font-size: 17px;
        line-height: 26px;
      }

      .feature-details p{
        font-size: 15px;
        line-height: 1.3em;
      }

      span.feature-list:last-child::after {
        content: '';
      }
      span.feature-list:after {
        content: ", ";
      }

      table {
        border: 0;
        margin: 10px 0;

        tr {

          td {
            width: 33%;
            text-align: center;
            border-bottom: 1px solid #595959;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            height: 60px;

            &:nth-child(even) {
              border-left: 1px solid #595959;
              border-right: 1px solid #595959;
            }
          }

          th {
            text-align: center;
            background: #595959;
            color: #bbbbbb;
            font-size: 14px;
            font-family: $regular;
            border: 0;
            height: 35px;
          }
        }
      }

      ul:not(.spec-list) > li {
        font-family: $light;
        font-size: 16px;
        line-height: 24px;

        a, button {
          @include clean-button-mess;
          font-size: 16px;
          font-family: $bold;
          color: $enterpriseGreen;
        }

        @media all and(max-width: $bp-med-2) {
          font-size: 14px;
        }

        span.left {
          width: 60%;
        }
        span.right {
          width: 40%;
          text-align: right;
        }
      }

      .full-height {
        position: relative;
        height: 100%;
      }

      .bottom-area {
        position: absolute;
        bottom: 65px;

        &:after {
          display: block;
          content: ' ';
          width: 100%;
          height: 1px;
          background-color: #595959;
          margin: 15px 0;
          position: absolute;
          top: -35px;
          left: 0;
        }
      }

      .total-pricing-title {
        float: left;
        font-family: $medium;
        font-size: 16px;
      }

      .price-total {
        float: right;
        font-family: $regular;
        margin-top: -10px;
      }
    }

    .car.details, .car.prices {
      color: #FFF;

      .default-view {
        transform: rotateY(-180deg);
      }

      .detailed-view {
        transform: rotateY(0deg);
      }
      .car-header {
        .or-similar {
          width: 100%;
        }
      }
    }

    .car.details {
      .feature-details {
        display: block;
      }

      .pricing-details {
        display: none;
      }
    }

    .car.prices {
      .feature-details {
        display: none;
      }

      .pricing-details {
        display: block;
      }
    }
  }
}

.vehicle-header-modal {
  position: relative;
  border-bottom: 3px solid #000;

  .pricing-modal {
    font-family: $regular;
    font-size: 28px;
  }

  .vehicle-model-text {
    font-family: $light;
    font-family: 17px;
  }

  .car-image {
    position: absolute;
    right: -40px;
    top: -60px;
  }
}

.vehicle-prices-box {
  padding-top: 60px;

  .or-seperator {
    height: 250px;
    float: left;
    text-align: center;
    color: $lightGray;
    width: 1px;
    font-size: 16px;

    &:before, &:after {
      display: block;
      content: '';
      height: 40%;
      width: 1px;
      background-color: $lightGray;
      margin-left: 4px;
    }
  }

  .vehicle-pay-box {
    padding: 20px;
    float: left;
    width: 48%;
    text-align: center;
    position: relative;

    .best-price {
      position: absolute;
      bottom: 100%;
      color: #FFF;
      font-size: 13px;
      font-family: $medium;
      left: 0;
      width: 100%;
      text-align: center;

      span {
        display: inline-block;
        background-color: #000;
        padding: 5px;
        position: relative;
      }
      span::before {
        content: "";
        border: 7px solid transparent;
        border-top-color: $black;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -7px;
      }
    }

    // &:first-child {
    //   border-right: 1px solid $lightGray;
    // }

    .vehicle-price-label {
      font-size: 18px;
      font-family: $bold;
    }

    .total-price {
      font-family: $medium;
      font-size: 30px;
    }

    .select-button {
      margin: 15px 15px;
      cursor: pointer;
      background: $enterpriseGreen;
      color: white;
      font-family: $regular;
      font-size: 16px;
      padding: 5px 10px;
      line-height: 28px;
      height: 35px;

      &.later,
      &.PAYLATER {
        height: 100%;
        background: #FFF;
        border: 2px solid $enterpriseGreen;
        color: $enterpriseGreen;
        line-height: 26px;
      }
    }
  }
}

.modal-container.active .redemption-modal-container {
  width: 80%;
  margin-left: -40%;
  @media(max-width: $bp-small-2) {
    width: 100%;
    margin-left: -50%;
    top: 0;
  }
}

.modal-container.active .vehicle-price-modal {
  max-width: 900px;

  @media(max-width: $bp-small-2) {
    height: 100%;
  }
}

.redemption-toggle {
  .balance-due-section {
    text-align: center;
    .balance-due {
      font-family: DINMedium;
      font-size: 24px;
    }
  }
  .points-toggle-section, .balance-due-section {
    width: 45%;
    float: left;
    @media(max-width: $bp-large-2) {
      width: 100%;
      float: none;
      margin: 25px 0;
    }
    .header {
      text-align: center;
      font-family: DINMedium;
    }
    .subtext {
      text-align: center;
      font-family: DINLight;
    }
    .points-toggle {
      text-align: center;
      .points-button {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: $enterpriseGreen;
        color: white;
        cursor: pointer;
        &.disabled {
          background: $lightGray;
          cursor: not-allowed;
        }
      }
      .point-amount {
        display: inline-block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        border: 1px solid $midGray;
        vertical-align: middle;
        margin: 0 5px;
        top: 1px;
        position: relative;
      }
    }
  }
  .equals {
    text-align: center;
    width: 10%;
    float: left;
    margin-top: 35px;
    @media(max-width: $bp-large-2) {
      display: none;
    }
  }
}

.modal-content .modal-body {
  .taxes-and-fees {
    li {
      margin: 0 0 15px 0;
      line-height: 1;
    }
    .left {
      max-width: 70%;
    }
    .right {
      white-space: nowrap;
    }
  }

  .redemption-modal {
    .redemption-header {
      border-bottom: 3px solid black;
      .car-info {
        float: left;
        @media(max-width: $bp-small-2) {
          float: none;
        }
        h2 {
          padding-bottom: 0;
        }
        p {
          padding-bottom: 0;
        }
      }
      .points-info {
        float: right;
        position: relative;
        @media(max-width: $bp-small-2) {
          float: none;
        }
        p {
          margin: 28px 230px 0 0;
          @media(max-width: $bp-small-2) {
            margin: 0;
          }
          padding-bottom: 0;
        }
        img {
          position: absolute;
          right: -20px;
          top: -65px;
          @media(max-width: $bp-small-2) {
            float: none;
            position: relative;
            right: initial;
            top: initial;
          }
          @media(max-width: $bp-small) {
            top: -2px;
          }
        }
      }
    }
    .redemption-body {
      padding: 10px 0 10px 0;
      h5 {
        font-size: 20px;
        font-family: DINLight;
        font-weight: normal;
        .points-amount {
          font-family: DINBold;
        }
      }
    }
    .redemption-toggle {
      padding: 50px 0;
    }
  }
}

.reservation-flow.loading {
  .full-screen-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(185, 185, 185, .6);
    transition: all 200ms ease-in-out;
  }
  .reservation-step {
    display: none;
  }
}

#reservationHeader .cancel-modify-button {
  white-space: nowrap;
}

.cancel-modify-button {
  background: black;
  padding: 0 rem-calc(15);
  line-height: 70px;
  color: white;
  cursor: pointer;

  .text-btn {
    padding: 0;
    margin: 0;
    background: none;
    color: $enterpriseGreen;
    font-style: normal;
    font-family: inherit;
    font-weight: inherit;

    &:hover {
      color: $enterpriseDarkGreen;
      text-decoration: underline;
    }
  }
}

#reservationHeader .reservation-utility-nav,
#reservationHeader .policy-link-container {
  white-space: nowrap;
}

@media(max-width: $bp-med) {
  .fr_ca .reservation-flow.cars .car-container .car .select-button {
    font-size: 0.8em;
  }
  
  #reservationHeader .modifying .cancel-modify-button {
    position: absolute;
    bottom: 0;
    left: 0;
    float: none;
    width: 100%;
    white-space: normal;
  }
}

.policy-link-container {
  height: 70px;
  height: 70px;
  margin: 0 5px;
  padding: 25px 0.625rem 0.625rem;
  .policy-link {
    background: $enterpriseDarkGreen;
    padding: 3px 10px 0 10px;
    font-family: $bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
  }
}

.date-time-widget .booking-submit {
  float: left;
  margin-bottom: 25px;
}

.no-vehicle-availability-modal {
  height: 100%;
  max-height: 100%;
  top: 0;
}

.no-vehicles-error {
  padding-bottom: 30px;
  height: 100%;
  text-align: center;

  .booking-widget {
    width: 100%;
  }

  .btn-grp .btn {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .white-date-time-container {
    display: inline-block;
    text-align: left;
  }

  .booking-widget .date-time-form {
    width: auto;
    float: none;
  }

  .date-time {
    .pickup-calendar,
    .dropoff-calendar {
      position: relative;
    }
  }
}

.horizon-heading {
  position: relative;
  text-align: center;
  margin: 25px;
}

.horizon-heading .conjunction-or {
  padding: 0 20px;
}

.horizon-heading span {
  background: #fff;
  position: relative;
  z-index: 1;
  span {
    padding: 0 30px;
  }
}

.horizon-heading:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.horizon-heading:before {
  left: 0;
}

@media(min-width: $bp-large-2) {
  .modify-confirmation, .cancel-confirmation {
    .btn-grp {
      margin: 0;
    }
  }
}

.book-section {
  h1 {
    text-align: center;
    margin: 50px 0;
  }
  .alert-message-wrapper {
    margin-bottom: 0;
  }
  .landing-page-map {
    border-bottom: 1px solid #E8E8E8;
    #map-canvas {
      height: 100%;
      width: 100%;
      min-height: 400px;
    }
  }
  .landing-page-widget {
    margin: 40px auto;
    .welcome-disclaimer {
      color: $black;
      width: 54.0625rem;
      margin: 0 auto;
    }
  }
  .landing-page-header {
    h2, .editable {
      display: inline-block;
      margin-bottom: 20px;
    }
    h2 {
      font-family: $bold;
    }
    .editable {
      font-size: 16px;
      font-family: $regular;
      margin-left: 10px;
      color: $enterpriseGreen;
      cursor: pointer;
    }
  }
  .landing-page-details {
    &.about-location {
      display: block;
      background-color: $lightestGray;
      .panel-header {
        text-align: center;
        font-family: $medium;
        margin-bottom: 40px;
      }
      .location-availability {
        .location-availability-control {
          background-color: white;
        }
      }
      .line-divider {
        display: inline-block;
        height: 350px;
        margin-right: 90px;
        border-left: 1px solid $midGray;
      }
    }
    .details-panel {
      width: 856px;
      margin: 0 auto;
      .general-information {
        vertical-align: top;
        margin-right: 60px;
        margin-top: 30px;
        .location-name {
          font-family: $medium;
          font-size: 20px;
          margin-bottom: 10px;
        }
        .pick-you-up {
          margin-top: 20px;
        }
        .location-attribute {
          margin-top: 10px;
        }
        .btn.direction {
          background-color: $darkGray;
          margin-top: 30px;
          &:hover {
            background-color: $midGray;
          }
        }
      }
      .location-availability {
        vertical-align: top
      }
    }
  }
  .location-availability, .general-information {
    width: 350px;
    display: inline-block;
  }
  .booking-widget {
    min-height: 360px;
  }
}

.policy-link-container {
  .policy-link {
    cursor: pointer;
  }
  .modal-container.active {
    .modal-header {
      background: $black;
      font-family: $regular;
      font-size: 24px;
      padding-bottom: 0;
    }
    button.close-modal {
      color: $enterpriseGreen;
    }
    .modal-content {
      //height: 90%;
      top: 5%;
      width: 80%;
      margin-left: -40%;
      min-height: 0;
      .modal-body {
        padding: 0;
      }
    }
  }
}

.policy-link-container.mobile {
  &.show-policy {
    .modal-container.active {
      .modal-content {
        transition: none;
        background-color: $white;
        .policy-tabs-mobile {
          background-color: $white;
          .policy-description {
            .policy {
              color: $black;
              line-height: normal;
              h2 {
                border-bottom: 3px solid black;
                margin-bottom: 30px;
                padding-bottom: 10px;
              }
              .back {
                color: $enterpriseGreen;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                  color: $enterpriseDarkGreen
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-container.active {
    .modal-content {
      transition: none;
      max-height: none;
      top: 0;
      height: 100vh;
      background-color: $black;
      .modal-header {
        background-color: $enterpriseGreen;
        font-size: 16px;
        padding-bottom: 20px;
        .close-modal {
          color: $white;
        }
      }
      .policy-tabs-mobile {
        line-height: 50px;
        .tab {
          position: relative;
          padding: 18px 20px 18px 0;
          cursor: pointer;
          color: $enterpriseGreen;
          line-height: 1;
          .caret {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 50px;
            color: $white;
          }
        }
      }
    }
  }
}

.policy-modal {
  .policies-title {
    background: $black;
    padding: 20px;
    h3 {
      color: $white;
      padding: 0;
    }
  }
  .policy-tabs {
    width: 100%;
    background: $black;
    padding: 20px;
    //You can't have width to be a percentage
    -webkit-column-width: 25%;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 1px solid #282928;
    -webkit-column-count: 4;
    //You can't have width to be a percentage
    -moz-column-width: 25%;
    -moz-column-gap: 2em;
    -moz-column-rule: 1px solid #282928;
    -moz-column-count: 4;
    -ms-column-width: 25%;
    -ms-column-gap: 2em;
    -ms-column-rule: 1px solid #282928;
    -ms-column-count: 4;
    //You can't have width to be a percentage
    column-width: 25%;
    column-gap: 2em;
    column-rule: 1px solid #282928;
    column-count: 4;
    .tab {
      color: $enterpriseGreen;
      font-family: DINLight;
      cursor: pointer;
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      white-space: normal;
      span {
        word-wrap: break-word;
      }
      &.terms-tab{
        margin-bottom: 50px;
      }
    }
    .tab.selected {
      color: $white;
    }
  }
  .policy-tabs-mobile {
    background-color: $black;
    color: $white;
    padding: 20px;
  }
  .policy-description {
    font-family: $light;
    padding: 20px;
    .policy {
      p {
        white-space: pre-wrap;
      }
    }
    #select-language {
      width: inherit;
      margin: 1% 0 2% 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      height: 40px;
      padding: 0 1%;
      font-size: inherit;
    }
    a {
      color: $enterpriseGreen;
      font-family: $medium;
      &:hover {
        color: $enterpriseDarkGreen;
      }
    }
  }
}

.alert-message-wrapper {
  background: $black;
  padding: 38px 5%;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  display: table;
  width: 100%;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $messageGold;
    background-image: repeating-linear-gradient(135deg, $black, $black 3px, $messageGold 4px, $messageGold 10px);
  }

  .icon-wrapper {
    display: table-cell;
    width: 5%;
  }

  .icon {
    width: 38px;
    height: 38px;
    margin: 5px 20px 5px 0;
  }

  .alert-message {
    color: $lightGray;
    font-size: 17px;
    display: table-cell;
    width: 95%;
    vertical-align: middle;
  }
}

@media all and (max-width: 1400px) {
  .reservation-flow.cars .car-container .car .rate-section:after {
    width: 150px;
  }
}

@media all and (max-width: 1200px) {
  .reservation-flow.cars .car-container .car .select-button, .reservation-flow.cars .car-container .car .change-location-button {
    bottom: 12%;
  }
}

@media all and (max-width: 1100px) {
  .reservation-flow.cars .car-container .car .rate-section:after {
    width: 100px;
  }

  .reservation-flow.cars .car-container .car .select-button, .reservation-flow.cars .car-container .car .change-location-button {
    bottom: 11%;
  }
}

@media all and (max-width: 1000px) {
  .vehicle-header-modal .car-image {
    display: none;
  }
}

@media all and (max-width: 420px) {
  .vehicle-prices-box {
    .or-seperator {
      height: 10px;
      position: relative;
      width: 100%;
      font-size: 16px;

      &:before, &:after {
        position: absolute;
        top: 10px;
        display: block;
        content: '';
        height: 1px;
        width: 46%;
        background-color: $lightGray;
        margin-left: 0;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    .vehicle-pay-box {
      width: 100%;
      height: auto;

      .best-price {
        top: -20px;
      }

      &:first-child {
        border-right: 0;
        // border-bottom: 1px solid $lightGray;
      }
    }
  }
}

@media all and (min-width: $bp-med) {
  .coupon-field-wrapper {
    float: left;
    width: 65%;
    margin-left: 8px;
    .coupon-input {
      width: 100%;
    }
  }
  .booking-widget .booking-submit {
    float: right;
    width: 25%;
    margin: 0 23px 0 0;
  }
  // deliberately done with more specificity to not conflict with $bp-med-2 down below
  // must maintain this *at just that size* until this is cleaned up more
  @media all and (width: 768px) {
    .show .booking-widget .coupon-field-wrapper {
      margin-left: 8px;
      width: 65%;
    }
    .show .booking-widget .booking-submit {
      margin: 0 23px 0 0;
    }
  }
}
@media all and (min-width: $bp-med-2) {
  .coupon-field-wrapper {
    margin-left: 0;
    width: 70%;
  }
  .booking-widget .booking-submit {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media(min-width: 1057px) {
  .coupon-field-wrapper {
    float: none;
    .coupon-input, .coupon-chicklet {
      width: 585px;
    }
  }
  .booking-widget .age-input {
    float: right;
    margin: 12px 0 0 14px;
    #age {
      height: 66px;
    }
  }
  .booking-widget .booking-submit {
    float: right;
    width: 220px;
    margin: 18px 0 0 0;
  }
}

@media(min-width: 1001px) {
  .reservation-flow.cars .filter-bar .filter-header {
    max-width: 40%;
  }
}

@media all and (max-width: 1000px) {
  .reservation-flow {
    .book-section {
      .booking-widget {
        min-height: 520px;
      }
      .landing-page-details.about-location {
        .line-divider {
          display: none;
        }
        .details-panel {
          width: auto;
          .panel-header {
            margin-bottom: 0;
          }
          .location-availability {
              margin-top: 50px;
          }
        }
      }
    }
    &.cars {
      .page-heading {
        margin: 50px 0 0;
      }
      .filter-bar {
        padding-bottom: 30px;
        padding-top: 0;
        .filter-selectors {
          position: static;
          margin-top: 23px;
          .clear-vehicle-filters {
            float: left;
            margin-left: 3px;
          }
        }
      }
      .mobile-filter-header {
        display: block;
      }
      .filters-wrapper.hide-filters {
        display: none;
      }
      .filter-bar .filter-header {
        float: none;
        clear: left;
        width: 100%;

        .filter-header-options {
          margin-top: 25px;
          ul {
            border: none;
            li {
              margin: 0 26px 0 0;
              padding: 0;
              border: none;
              background-color: transparent;
              &:last-of-type {
                margin-right: 0;
              }
            }
          }
        }
      }
      .prepaytile-container {
        width: 50%;
        padding: 10px 10px;
      }
      .car-container {
        width: 50%;
        padding: 10px 10px;
      }
    }
  }

  .reservation-flow.cars .filter-bar {
    .filter-selectors {
      margin: 0;
      clear: both;
      float: left;
    }
    .filter-header {
      //height: 150px;

      h1 {
        float: none;
        margin: 15px 0;
        line-height: normal;
      }

      ul {
        margin: 0 0;
      }
    }
  }

  .reservation-flow.cars .filter-bar .filter-header .filter-header-options {
    float: left;
  }
}

@media all and(max-width: $bp-med) {
  .detailed-view {
    .total-pricing, .taxes-copy {
      display: none;
    }
  }
  .prices .detailed-view {
    .total-pricing, .taxes-copy {
      display: block;
    }
  }
  .reservation-flow.cars .mobile-filter-header {
    padding-top: 3px;
  }
  .reservation-flow.cars .filter-bar .filter-header .filter-header-options ul {
    padding: 5px 0 3px;
  }
  .reservation-flow .reservation-step#extras {
    .cta-container {
      //float: none;
      text-align: center;
      .false {
        display: none;
      }
      button {
        position: relative;
        width: auto;
      }
    }
    .upgrade-banner {
      height: auto;
      padding-bottom: 2%;
      .upgrade {
        width: 100%;
        img {
          position: relative;
          top: 0;
        }
        p {
          margin: 0 2% 0 2%;
        }
      }
    }
  }
}

//Adjust rate font sizes to prevent breakage in EU
@media all and (min-width: 700px) and (max-width: 840px), all and (min-width: 1001px) and (max-width: 1220px) {
  .reservation-flow.cars .car-container {
    .car {
      .rates {
        .rate-info {
          .rate-uppertext {
            font-size: 18px;
            line-height: 1;
          }
          .rate-normal {
            margin-top: 0;
            font-size: 26px;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media(max-width: $bp-med-2) {
  #reservationHeader .reservation-sub-header {
    .mobile-promotion {
      position: relative;
      padding: 20px;
      background-color: $darkestGray;
    }
  }
}

@media all and (max-width: 700px) {
  .reservation-flow.cars {
    .page-heading {
      margin-top: 20px;
    }
    .filter-bar {
      .filter-header {
        .alpha {
          font-size: 22px;
          line-height: 1;
        }
        .filter-header-options {
          margin: 0;
        }
      }
    }
    .filter-bar .filter-selectors {
      width: 100%;
      margin: 0 0 15px 0;
      .selector {
        float: none;
      }
      .clear-vehicle-filters {
        float: left;
      }
    }
    .prepaytile-container {
      width: 100%;
      height: auto;
      padding: 0;
      .prepay-content-container {
        padding: 3%;
        .content {
          padding-top: 0;
          height: auto;
          .prepay-content {
            margin-right: 10%;
            margin-top: 1%;
          }
        }
        .blank-space {
          height: 0;
        }
        .prepay-learn-more {
          width: 100%;
          margin-top: 2%;
        }
      }
    }
    .car-container {
      width: 100%;
      height: 600px;

      &.has-promotion {
        height: 600px;

        .car button.select-button {
          bottom: 8%;
        }
      }

      .car {
        .car-header {
          p {
            font-size: 22px;
            line-height: 0.9;
            letter-spacing: -0.010em;
          }
        }
        .rates {
          margin-top: 20px;
          .rate-info {
            .rate-normal {
              text-transform: lowercase;
            }
          }
        }
        button.select-button {
          bottom: 5%;
        }
      }
    }
  }

  .reservation-flow.cars .filter-bar {
    padding: 0 4%;

    ul li {
      padding: 15px 15px;
      border: 0;
    }
  }

  .policy-modal .policies-title .policy-tabs {
    border-bottom: 1px solid rgba(219, 219, 219, 0.29);
  }

  /* #reservationHeader .reservation-sub-header .code-banner { BENTEST
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);
    font-size: rem-calc(14);
  } */
  .policy-link-container {
    .modal-container.active .modal-content {
      width: 100%;
      margin-left: -50%;
    }
  }
  .policy-modal {
    .policy-tabs {
      width: 100%;
      background: black;
      padding: 10px;
      -webkit-column-width: 50%;
      -webkit-column-gap: 2em;
      -webkit-column-rule: 1px solid #282928;
      -webkit-column-count: 2;
      -moz-column-width: 50%;
      -moz-column-gap: 2em;
      -moz-column-rule: 1px solid #282928;
      -moz-column-count: 2;
      -ms-column-width: 50%;
      -ms-column-gap: 2em;
      -ms-column-rule: 1px solid #282928;
      -ms-column-count: 2;
      column-width: 50%;
      column-gap: 2em;
      column-rule: 1px solid #282928;
      column-count: 2;
    }
    .policy-description {
      padding: 10px;
    }
  }
}

@media all and (max-width: 415px) {
  .reservation-flow {
    .page-heading {
      margin: 30px 0 20px;
    }
    h1 {
      font-size: 22px;
      line-height: 1.1;
    }
    &.cars .filter-bar .filter-selectors {
      width: 100%;
      .selector {
        float: none;
      }

    }
    .rental-summary .information-block {
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .category-label {
        max-width: 70%;
      }
    }
    .modal-container {
      .modal-body {
        h1 {
          margin-bottom: 20px;
          font-size: 24px;
          line-height: 1.1;
        }
      }
    }
  }

  .reservation-flow.cars {
    .car-container {
      .car {
        .car-header {
          p {
            font-size: 17px;
          }
          span {
            font-size: 15px;
          }
        }
        .state-link {
          > span {
            display: none;
          }
        }
      }
    }
  }

  .reservation-flow .reservation-step#extras {
    .cta-container button {
    }
    .extras-header .alpha {
      margin-top: 20px;
      font-size: 22px;
      text-align: left;
    }
  }
  .reservation-flow.cars .cars-wrapper {
    padding: 0;
  }
  .reservation-flow.cars .car-container {
    height: 470px;
    margin: 10px 0 0px 0;
    padding: 0;

    &.has-promotion {
      height: 520px;

      .car button.select-button {
        bottom: 12%;
      }
    }
    .car {
      .default-view {
        padding: 6% 3%;

        .car-header .transmission {
          display: none
        }
        .car-details {
          height: 50px;
        }
      }
      .car-details-divider {
        margin: 10px 0;
      }
      .car-image img {
        top: 45px;
      }
      .rates {
        margin-top: 15px;
        .rate-info {
          border-bottom: 0;
          text-align: center;

          .rate-uppertext {
            font-size: 18px;
            line-height: 1;
          }
          .rate-normal {
            margin: 0;
            color: $black;
            font-size: 28px;
            line-height: 1;
            letter-spacing: -0.040em;
          }
        }
        .rate-subtext {
          font-size: 14px;
          //text-transform: lowercase;
        }

        .day-rate {
          border-right: none;
        }
      }
    }
    .car.details .feature-details p {
      font-size: 15px;

      &:empty {
        display: none;
      }
    }
  }
}

@import 'components/locationSearch';

.reservation-flow .error-page h2 {
  text-align: left;
}

.error-page {
  width: 94%;
  margin: 30px auto 15px;
  @media (min-width: $bp-small-2) {
    width: 75%;
    margin-top: 75px;
  }
  @media (min-width: $bp-large) {
    width: 65%;
    margin-top: 100px;
  }
  @media (min-width: $bp-xl) {
    width: 50%;
    margin: 125px auto 0 auto;
  }

  h1 {
    margin-bottom: 50px;
    .icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }
    @media(max-width: $bp-small-2) {
      .icon {
        height: 17px;
        width: 17px;
        margin-left: 10px
      }
    }
  }
  h2 {
    margin-bottom: 15px;
    font-family: DINMedium;
  }
  p {
    margin-bottom: 50px;
  }
  .btn {
    height: auto;
    line-height: 1;
  }
  //Animation for fun --- take out later / replace with better

  .scene {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    overflow: hidden;
    em {
      display: none;
      position: absolute;
      bottom: 20px;
      left: 55px;
      right: 0;
      text-align: center;
      font-style: normal;
      font-family: Proxima Nova;
      color: #0bb4a6;
      letter-spacing: 0.2em;
    }
  }

  .car {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    animation: peel 4s ease-in-out forwards infinite, bump 0.2s linear infinite;
  }

  .poof {
    position: absolute;
    top: 110px;
    left: 160px;
    margin-left: -30px;
    opacity: 0;
    animation: poof 4s ease-in-out forwards infinite;
  }

  .sign {
    position: absolute;
    right: -40px;
    top: 30px;
    animation: sign 4s ease-in-out forwards infinite;
  }
}

.modify-card-confirmation .btn-grp {
  float: right;
}

.modify-card-confirmation .btn.cancel {
  margin: 0;
  min-height: auto;
  padding: 0.5em 1em;
  line-height: normal;
  font-size: 0.875em;
  width: auto;
}

@keyframes sign {
  0% {
    right: -40px;
  }
  30% {
    right: 80px;
  }
  70% {
    right: 80px;
  }
  100% {
    right: 100%;
  }
}

@keyframes peel {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  73% {
    transform: rotate(-9deg);
  }
  95% {
    transform: rotate(-9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes poof {
  0% {
    opacity: 0;
    transform: scale(1.0);
  }
  70% {
    opacity: 0;
    left: 170px;
    transform: scale(1.0);
  }
  76% {
    opacity: 1;
    transform: scale(1.3);
    left: 160px;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes bump {
  0% {
    top: 70px;
  }
  50% {
    top: 70px;
  }
  60% {
    top: 69px;
  }
  100% {
    top: 70px;
  }
}

.no-csstransforms3d .reservation-flow.cars .car-container .car.details .detailed-view,
.no-csstransforms3d .reservation-flow.cars .car-container .car .default-view {
  opacity: 1;
  z-index: 2;
}

.no-csstransforms3d .reservation-flow.cars .car-container .car .detailed-view,
.no-csstransforms3d .reservation-flow.cars .car-container .car.details .default-view {
  opacity: 1;
  z-index: 1;
}

.points-band {
  padding: 20px 25px;
  width: 102%;
  margin-left: -10px; /* Ignoring parent padding to make full width */
  margin-top: -10px;
  background: url('../../../dist/img/icons/png/eplus-pattern-dk.png') $darkestGray;
  position: relative;
  clear: both;
  color: $enterpriseGreen;
  .points-left-info {
    width: 30%;
    float: left;
    @media all and (max-width: $bp-large-2) {
      width: 100%;
      float: none;
    }
    .enterprise-plus {
      float: left;
      font-family: $bold;
      padding: 0 25px;
      font-size: 24px;
      color: $white;
      line-height: 54px;
      .icon {
        float: left;
        height: 54px;
        width: 54px;
      }
    }
  }
  .points-right-info {
    width: 70%;
    float: right;
    @media all and (max-width: $bp-large-2) {
      width: 100%;
      float: none;
    }
    .points-total {
      float: right;
      padding: 0px 15px;
      position: relative;
      @media all and (max-width: $bp-large-2) {
        width: 100%;
        float: none;
        padding: 0 25px;
      }
      &:after {
        height: 70%;
        content: '';
        right: 0;
        top: 15%;
        border-right: 1px solid $lightGray;
        position: absolute;
        @media all and (max-width: $bp-large-2) {
          border-right: none;
        }
      }
      .stacked-text {
        display: inline-block;
        color: $lightGray;
        font-family: $bold;
        font-size: 16px;
        line-height: 54px;
      }
      .points {
        padding: 0 10px;
        display: block;
        font-size: 44px;
        line-height: 54px;
        float: right;
        color: $lightestGray;
        @media all and (max-width: $bp-large-2) {
          width: 100%;
          float: none;
        }
      }
    }
    .about-points {
      font-family: $bold;
      color: $enterpriseDarkGreen;
      float: right;
      padding: 0 25px;
      line-height: 54px;
      cursor: pointer;
      @media all and (max-width: $bp-large-2) {
        width: 100%;
        float: none;
      }
    }

  }
  .not-enough-points-left-info {
    .not-enough-points {
      padding: 0 15px 0 25px;
      font-family: $bold;
      color: $alabasterWhite;
      float: left;
    }
    p {
      color: $lightGray;
      float: left;
      margin: 0;
    }
  }
  .has-tip {
    position: relative;
    &:hover .tooltip {
      display: block;
    }
  }
  .tooltip {
    z-index: 1;
    padding: 15px;
    left: -240px;
    border: none;
    transform: translateY(-50%);
    font-family: $light;
    width: 250px;
    font-size: 14px;
    line-height: 16px;
    color: $lightGray;
    background: url('../../../dist/img/icons/png/eplus-pattern-dk.png') $darkestGray;

    @media all and (max-width: $bp-large-2) {
      left: 0;
      top: -40px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: -8px;
      top: 43%;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid $darkestGray;
      @media all and (max-width: $bp-large-2) {
        border-top: 8px solid $darkestGray;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        top: 100%;
        right: -43%;
      }
    }
  }
}

.not-available-modal {
  .header {
    font-family: $bold;
    font-size: 26px;
    border-bottom: 4px solid $black;
    padding: 0 0 20px 0;
    margin: 0 0 25px 0;
  }
  .btn.ok {
    float: right;
    min-width: 190px;
  }
}

.key-rental-facts-and-policies {
  margin-top: 20px;
}

.key-rental-facts-block .modal-container.active {
  .modal-content {
    height: 100%;
    top: 0;
    max-height: 100%;
    max-width: 900px;

    h2 {
      padding-bottom: 30px;
      font-size: 28px;
      font-family: $medium;
      color: $black;
    }
  }

  .modal-body {
    padding: 0;
  }

  .key-rental-facts-summary {
    padding: 50px 50px 60px;
  }

  .key-rental-facts-summary-section_header {
    margin-top: 60px;

    h3 {
      font-size: 21px;
      font-family: $bold;
      color: $black;
      margin-bottom: 24px;
    }
  }

  .key-rental-facts-summary-section_item-wrapper {
    margin-top: 24px;

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .key-rental-facts-summary-section_subheader {
    font-size: 17px;
    font-family: $medium;
  }

  .key-rental-facts-summary-section_exclusion {
    font-size: 15px;
    display: inline-block;
    margin-top: 6px;
  }

  .key-rental-facts-summary-section_item .policy-rate {
    font-size: 17px;
  }

  .key-rental-facts-rental-footer {
    padding: 20px 50px;
    border-width: 1px 0 0 0;

    a {
      font-size: 17px;
    }

    a i {
      display: inline-block;
      position: relative;
      left: 8px;
      top: 3px;
    }
  }
}


.key-rental-facts-block_body {
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  border-top: none;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  h4 {
    color: black;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0px;
    font-size: 16px;
  }
  a {
    color: green;
    font-family: $bold;
  }
  ul {
    margin-bottom: 15px;
    list-style-type: disc;
    li {
      cursor: pointer;
      margin-left: 15px;
      margin-bottom: 0;
      .right-carrot {
        font-size: 12px;
        margin-right: 10px;
      }
    }
  }
}

.key-rental-facts-block_body_left-panel {
  top: 15px;
  left: 10px;
  position: absolute;
  .icon {
    width: 45px;
    height: 45px;
  }
}

.key-rental-facts-block_body_right-panel {
  margin-left: 50px;
}

.key-rental-facts-block_header {
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  padding: 20px;
  h2 {
    font-family: $medium;
    font-size: 26px;
    .icon {
      float: right;
      height: 15px;
      width: 20px;
      display: inline-block;
      cursor: pointer;
      transition: all 250ms ease-in-out;
    }
  }
  @media all and (max-width: $bp-large-2) {
    h2 {
      text-transform: uppercase;
      font-size: 14px;
      font-family: $bold;
      cursor: pointer;
      line-height: inherit;
    }
  }
}

.key-rental-facts-modal {
  hr {
    background-color: $black;
    width: 100%;
    margin: 20px auto;
  }
}

.key-rental-facts-summary p, .key-rental-facts-summary li {
  color: $darkGray;
  font-size: 16px;
}

.key-rental-facts-summary-section {
  margin-bottom: 20px;
}

.key-rental-facts-summary-section_header {
  margin-top: 15px;
  h3 {
    font-size: 18px;
    font-family: $bold;
    color: $black;
    padding: 13px 0;
    border-top: 3px solid #181918;
    border-bottom: 1px solid #656565;
  }
}

.key-rental-facts-summary-section_subheader {
  margin: 10px 0;
  font-family: $medium;
}

.key-rental-facts-summary-section_item {
  font-family: $medium;
  margin: 15px 0 0 0;
  color: $enterpriseGreen;
  font-size: 14px;
  cursor: pointer;
  clear: both;
  .icon {
    float: right;
    width: 10px;
    margin-top: 5px;
  }
  .policy-rate {
    color: $darkGray;
    margin-left: 5px;
    font-family: $light;
  }
}

.key-rental-facts-summary-section_exclusion {
  color: $enterpriseGreen;
  font-family: $light;
  cursor: pointer;
  font-size: 14px;
}

.key-rental-facts-rental-agreement-section {
  margin: 60px 0 25px 0;
  p {
    color: $darkGray;
    font-size: 14px;
  }
}

.key-rental-facts-rental-footer {
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  padding: 20px;
  a {
    color: $enterpriseGreen;
    font-family: $medium;
  }
}

.key-rental-facts-rental-footer_subheader {
  margin: 10px 0;
  font-family: $medium;
}

.key-rental-facts-modal-detail-view {
  padding: 10px 50px 60px;
}

.key-rental-facts-modal-detail-view hr {
  margin: 10px auto;
}

.key-rental-facts-modal-detail-view_back {
  cursor: pointer;
  color: $enterpriseGreen;
  font-family: $medium;
  margin-bottom: 15px;
  .icon {
    width: 15px;
    display: inline-block;
    vertical-align: bottom;
  }
}

.liabilities {
  ul {
    margin-bottom: 15px;
    list-style-type: disc;
    li {
      margin-left: 20px;
    }
  }
}

.policies_body {
  position: relative;
}

.policies_header {
  padding-left: 50px;
  h4 {
    color: black;
    margin-bottom: 10px;
  }
}

.policies_icon-section {
  position: absolute;
  top: -5px;
  left: -10px;
  .icon {
    width: 45px;
    height: 45px;
  }
}

.policies-container {
  margin-left: 50px;
}

.contact-info-detail {
  color: $enterpriseGreen;
  font-family: $medium;
}

@media(max-width: $bp-large) {
  .confirmed-page .corporate-policy,
  .confirmed-page .information-block {
    margin-right: 3%;
  }
}

@media(max-width: $bp-med-2) {
  .confirmed-page .information-block.coupon {
    float: none;
    width: 94%;
    margin: 0 auto 30px;
  }
}

@media(min-width: $bp-med) {
  table.extras-table#equipmentTable .control-cell i, table.extras-table#insuranceTable .control-cell i {
    float: none;
    margin: 0;
  }
  @media(max-width: 1400px) {
    #reservationHeader nav .reservation-steps > li .reservation-nav-item .step-value,
    #reservationHeader nav .reservation-steps > li .reservation-nav-item.completed .step-value,
    #reservationHeader nav .reservation-steps > li .reservation-nav-item.active .step-value {
      font-size: 17px;
      line-height: 1;
    }
  }
}

@media all and (max-width: 420px) {
  #reservationHeader {
    .policy-link-container {
      padding: 25px 0 0.625rem;
      .policy-link {
        font-size: .75rem;
      }
    }

    .reservation-sub-header {
      .reservation-utility-nav {
        li {
          font-size: .80rem;

          .res-utility-nav-label {
            padding: 28px 5px 0;
          }
        }
      }
    }

  }
}

.print-override {
  display: none;
}

@media print {
  .modal-open body > *,
  #login-container,
  .master-nav #mobile-nav,
  #reservationFlow div.checklist-container h2 .icon-nav-carrot-white,
  #reservationFlow .expedited,
  #reservationFlow .closed-path,
  .reservationpage.oo_bar #oo_tab_1 {
    display: none;
  }

  html.modal-open,
  html.modal-open body {
    overflow: auto;
    height: auto;
  }

  .modal-open body > .print-override {
    display: block;

    .modal-container {
      overflow: auto;
      width: auto;
      position: static;
      height: auto;
    }

    .modal-content {
      width: auto;
      margin: 0;
      position: static;
    }
  }

  .modal-container {
    width: 150%; //chrome on windows bug
    overflow: auto;
  }

  .rate-taxes-fees table .pay-now-value {
    line-height: 1.2; //chrome print issue
  }

  #reservationFlow div.checklist-container .checklist-content {
    display: block;
  }

  #reservationFlow .car-image {
    width: 200px;
    height: auto;
    transform: translateX(0);
  }

  #reservationFlow .header-info {
    padding: 24px;
  }

  #reservationFlow .header-info .sub-header {
    margin: 0;
  }

  #reservationFlow div.thank-you h2 {
    font-size: 24px;
  }

  #reservationFlow div.checklist-container h2 {
    font-size: 16px;
    padding: 0;
    border: 0;
  }

  #reservationFlow div.checklist-container ol li {
    font-size: 14px;
  }

  #reservationFlow div.checklist-container ol li .icon {
    width: 18px;
    height: 18px;
  }

  #reservationFlow div.checklist {
    padding: 1.5rem;
    height: auto;
  }

  #reservationFlow div.summary div.pickup,
  #reservationFlow div.summary div.dropoff {
    padding: 7px;
  }

  #reservationFlow div.summary dl {
    padding: 0.5rem 1rem;
    margin: 0;
    height: auto;
    float: left;
    width: 30%;
  }

  #reservationFlow div.summary {
    padding-bottom: 10px;
  }

  #reservationFlow .faux-tr,
  #reservationFlow .faux-td {
    float: left;
    white-space: nowrap;
    width: auto;
  }

  #reservationFlow .faux-tr {
    padding: 10px;
  }

  #reservationFlow .faux-td:first-child {
    padding-right: 8px;
  }

  #reservationFlow div.location-tabs .details,
  #reservationFlow div.location-tabs {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #reservationFlow .location-tabs .location-map,
  #reservationFlow .location-tabs .wayfinding {
    float: right;
    width: 50%;
    clear: both;
  }

  #reservationFlow .location-tabs .location-details {
    clear: left;
  }
}

// ECR-11441

// this first selector to get more specific than the regular res flow
.reservation-flow.cars .car-container .car .pay-now-container .rate-container .currency, .verification-page .information-block .amount .currency, .submit-container .amount{
  .symbol {
    font-size: 22px;
    position: relative;
    top: -6px;
  }
  .unit {
    font-weight: bold;
    font-size: 34px;
  }
  .fraction {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -9px;
  }
}
.reservation-flow.cars .car-container .car .pay-now-container .rate-container .currency {
  .symbol {
    top:2px;
  }
  .fraction {
    top:-3px;
  }
}
.reservation-flow.cars .car-container .car {
  .pay-now-container {
    position: relative;
    .rate-container {
      width: 50%;
      text-align: center;
      display: inline-block;
      vertical-align: top;

      .header-border {
        border-top: 3px solid $black;
        text-align: left;
        position: relative;
        padding-top: 10px;

        .tab-copy {
          display: none;
        }

        .tab-copy.has-saved-copy {
          font-family: $bold;
          display: initial;
          color: $white;
          background-color: $black;
          position: absolute;
          line-height: 24px;
          height: 22px;
          font-size: 12px;
          top: -23px;
          right: 0;
          padding: 0 4px;

          &:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 22px solid $black;
            border-left: 22px solid transparent;
            // todo figure out this positioning
            position: absolute;
            top: 0;
            right: 100%;
          }
        }

        .header-copy {
          font-family: $bold;
          font-size: 14px;
          text-transform: uppercase;
          height: 21px;
          line-height: 21px;
          display: inline-block;

          .icon {
            display: inline-block;
            vertical-align: text-bottom;
          }

          .tooltip {
            text-transform: none;
          }
        }
      }

      .block-separator {
        padding-bottom: 15px;
      }

      .rate-uppertext.rate-per-time {
        display: block;
        color: $darkGray;
        font-size: 14px;
      }

      .rate-subtext {
        font-size: 12px;
        padding-bottom: 50px;
      }

      &:first-of-type:after {
        content: '';
        border-left: 1px solid $lightGray;
        height: 100%;
        position: absolute;
        left: 100%;
        top: 0;
      }
    }

    .rate-container {
      position: relative;
    }

    .select-button {
      left: 0;
      bottom: 0;
      width: 100%;
      position: relative;
    }

    .left-rate-section {
      padding-right: 5%;
    }

    .right-rate-section {
      padding-left: 5%;
    }
  }
}
