.forgot-password-flow {
  margin: 100px 0;
  .modal-actions {
    float: right;
    .grn-txt {
      color: $enterpriseGreen;
      background: none;
      letter-spacing: normal;
      font-family: $regular;
    }
  }
}

.centered-section {
  width: 70%;
  margin: 0 auto;
  h1 {
    //margin-bottom: 25px;
  }
  h2 {
    font-size: 21px;
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
    color: $darkGray;
  }
  .ok {
    margin-left: 15px;
  }
}

.firstname, .lastname {
  display: inline-block;
  width: 48%;
}

.lastname {
  margin-left: 4%;
}

@media(max-width: $bp-med-2) {
  .centered-section {
    width: 95%;
  }
  .firstname, .lastname {
    width: 100%;
  }
  .lastname {
    margin-left: 0;
  }
}
