.sg-pattern {
	padding: 60px;
	clear: both;
	h2.sg-pattern-head {
		clear: both;
		margin: 2em 0;
		font-size: 14px;
		font-weight: normal;
		padding: 1em 0;
		border-bottom: 1px solid gray;
		a {
			display: block;
			color: gray;
			text-decoration: none;
			cursor: pointer;
			&:hover {
				color: #222222;
			}
		}

	}
	i.icon {
		float: left;
		width: 30px;
		height: 30px;
		margin: 0 15px 15px 0;
	}
	.sg-pattern-body {
		padding: 30px 0;
	}

	.sg-colors {
  		overflow: hidden;
  		li {
		    overflow: hidden;
		    border: 1px solid #dddddd;
		    padding: 0.3em;
		    margin: 0 0.2em 0.2em 0;
		}
	}


    @media all and (max-width: $bp-med) {
      padding: rem-calc(10);
    }
}
@media all and (min-width: 30em) {
  .sg-colors li {
    float: left;
    width: 7em;
	}
}

.sg-swatch {
	display: block;
	height: 1.5em;
	width: 50%;
}
@media all and (max-width: 30em) {
	.sg-swatch {
		float: left;
		margin-right: 0.3em;
	}
}
@media all and (min-width: 30em) {
	.sg-swatch {
		width: 100%;
		height: 6em;
		margin-bottom: 0.2em;
	}
}

.sg-label {
  line-height: 1;
  font-size: 12px;
}

/*------------------------------------*\
    $PATTERN LAB CONTENT
\*------------------------------------*/
/* Section Pattern */

/* Section Head */



.sg-view-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  line-height: 1.4;
  font-size: 90%;
  background: #222222;
  color: gray;
  position: fixed;
  top: auto;
  padding: 1em;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden; }
  .sg-view-container a {
    color: #999999; }
  .sg-view-container pre {
    padding: 0 1em; }
  .sg-view-container.anim-ready {
    -webkit-transition: bottom 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out;
    -webkit-transition: bottom 0.3s ease-out;
    -ms-transition: bottom 0.3s ease-out;
    -o-transition: bottom 0.3s ease-out;
    transition: bottom 0.3s ease-out; }

.sg-view-close {
  width: 100%;
  margin-bottom: -10px; }

.sg-view-close-btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  display: block; }

.has-annotation {
  cursor: help !important;
  box-shadow: 0 0 10px gray; }
  .has-annotation a, .has-annotation input {
    cursor: help !important; }
  .has-annotation:hover {
    box-shadow: 0 0 10px #222222; }
  .has-annotation.active {
    box-shadow: inset 0 0 20px gray; }

.annotation-tip {
  display: block;
  position: absolute;
  margin-top: -10px !important;
  margin-left: -10px !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 13px !important;
  text-align: center !important;
  background: #444 !important;
  color: #fff !important;
  font-weight: bold !important;
  font-size: 16px !important;
  z-index: 100; }

#sg-comments-container {
  max-width: 60em;
  margin: 0 auto; }

.sg-comment-container {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  .sg-comment-container p:last-child {
    margin-bottom: 0; }
  .sg-comment-container h2 {
    margin-bottom: 0.25em; }

.sg-code, .sg-annotations {
  clear: both;
  background: #dddddd;
  color: #222222;
  padding: 1em 0.5em;
  margin: 1em 0; }
  .sg-code a, .sg-annotations a {
    text-decoration: underline; }

.sg-code pre {
  white-space: -moz-pre-line;
  white-space: -pre-line;
  white-space: -o-pre-line;
  word-wrap: break-word;
  white-space: pre-line;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em; }

.sg-code-contains {
  margin-bottom: 1rem;
  font-size: 85%;
  color: gray; }
  .sg-code-contains code {
    padding: 0.2em;
    background: rgba(0, 0, 0, 0.3);
    color: #999999;
    position: relative;
    top: -2px; }

.sg-code-head {
  color: gray;
  font-size: 1em; }

.sg-code-title-active {
  color: #bbb;
  background-color: #272822 !important; }

div.clear {
  clear: both; }

.sg-code-patternname {
  color: #aaa; }

.gmnoprint img {
    max-width: none;
}
.gmnoprint .gmnoprint{
  background-color: rgba(0,0,0,.35);
}
