@font-face{
  font-family:'DINLight';
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix') format('eot'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/6b060c70-3d6e-4f32-9e5e-d7171112f4d2.woff2') format('woff2'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/a9e95a29-98a7-404a-90ee-1929ad09c696.woff') format('woff'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf') format('truetype'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c') format('svg');
}
@font-face{
  font-family:'DINRegular';
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/a6a89526-ef93-4518-8c37-13b2a6df53be.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/a6a89526-ef93-4518-8c37-13b2a6df53be.eot?#iefix') format('eot'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/1bdb82ac-585e-4a3a-9491-f3bc0dd0fe77.woff2') format('woff2'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/1bf8d1be-e5d2-490f-927d-8bf67961b426.woff') format('woff'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/b5c6d2c7-5d28-446f-9788-216bee616b4c.ttf') format('truetype'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/4a2a16ef-7f9b-412a-85c4-328d1cffc187.svg#4a2a16ef-7f9b-412a-85c4-328d1cffc187') format('svg');
}
@font-face{
  font-family:'DINMedium';
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/60f9c8fc-8de3-4446-85b6-9395e7ab260c.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/60f9c8fc-8de3-4446-85b6-9395e7ab260c.eot?#iefix') format('eot'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/6899454a-f425-43b7-ac3a-0a0c9f07ddb7.woff2') format('woff2'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/9415d270-c972-42df-87ec-b0996e05573c.woff') format('woff'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/ec578fe7-c074-4c72-bed3-6f49920cca8b.ttf') format('truetype'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/b825ec26-7900-4368-9d97-4e054e3f56c4.svg#b825ec26-7900-4368-9d97-4e054e3f56c4') format('svg');
}
@font-face{
  font-family:'DINBold';
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/e60bb8c0-bcae-4c3e-8ff3-2bf95e269a42.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/e60bb8c0-bcae-4c3e-8ff3-2bf95e269a42.eot?#iefix') format('eot'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/5b3dcf7c-d381-4d6b-8ec5-eed99ead0484.woff2') format('woff2'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/3bfb2f5f-be2a-4142-ba19-3c38f4963f92.woff') format('woff'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/dd0e5180-8c5e-4645-bbd0-0b74a04e87a6.ttf') format('truetype'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/37a5047e-bc83-464e-a64b-bf52d800fdd1.svg#37a5047e-bc83-464e-a64b-bf52d800fdd1') format('svg');
}
@font-face{
  font-family:'DINHeavy';
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/85216eb2-c24c-4c9f-8f28-fff9e04ca6bd.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/cyrillic/85216eb2-c24c-4c9f-8f28-fff9e04ca6bd.eot?#iefix') format('eot'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/299c7528-647d-4ad6-8118-f6464ea09406.woff2') format('woff2'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/2e4380ae-01df-4354-8b5e-41949222ccb8.woff') format('woff'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/4d82fb6b-9478-42d2-ae4c-7f919a014729.ttf') format('truetype'),
  url('/etc/designs/ecom/dist/fonts/cyrillic/1837c934-5c4a-4e6b-8167-83650fa2d191.svg#1837c934-5c4a-4e6b-8167-83650fa2d191') format('svg');
}
