.icon {
	background-repeat: no-repeat;

	&.icon-Arrow-general-white-left {
		background-image: url('../../../dist/img/icons/png/Arrow-general-white-left.png');
	}

	&.icon-Arrow-general-white-right {
		background-image: url('../../../dist/img/icons/png/Arrow-general-white-right.png');
	}

	&.icon-ENT-days {
		background-image: url('../../../dist/img/icons/png/ENT-days.png');
	}

	&.icon-ENT-icon-close {
		background-image: url('../../../dist/img/icons/png/ENT-icon-close.png');
	}

	&.icon-ENT-mappin-10-24 {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-10-24.png');
	}

	&.icon-ENT-mappin-2-4 {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-2-4.png');
	}

	&.icon-ENT-mappin-25andUP {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-25andUP.png');
	}

	&.icon-ENT-mappin-5-9 {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-5-9.png');
	}

	&.icon-ENT-mappin-single-35x40_Airport {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-35x40_Airport.png');
	}

	&.icon-ENT-mappin-single-35x40_Motorcyle {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-35x40_Motorcyle.png');
	}

	&.icon-ENT-mappin-single-35x40_enterprise {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-35x40_enterprise.png');
	}

	&.icon-ENT-mappin-single-35x40_exotics {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-35x40_exotics.png');
	}

	&.icon-ENT-mappin-single-35x40_promo {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-35x40_promo.png');
	}

	&.icon-ENT-mappin-single-35x40_trucks {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-35x40_trucks.png');
	}

	&.icon-ENT-mappin-single-Airport {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-Airport.png');
	}

	&.icon-ENT-mappin-single-PortofCall {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-PortofCall.png');
	}

	&.icon-ENT-mappin-single-TrainStation {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-TrainStation.png');
	}

	&.icon-ENT-mappin-single-alamo {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-alamo.png');
	}

	&.icon-ENT-mappin-single-enterprise {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-enterprise.png');
	}

	&.icon-ENT-mappin-single-national {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-national.png');
	}

	&.icon-ENT-mappin-single-number-60x40_promo {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-60x40_promo.png');
	}

	&.icon-ENT-mappin-single-number-PortofCall {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-PortofCall.png');
	}

	&.icon-ENT-mappin-single-number-TrainStation {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-TrainStation.png');
	}

	&.icon-ENT-mappin-single-number-airport {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-airport.png');
	}

	&.icon-ENT-mappin-single-number-alamo {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-alamo.png');
	}

	&.icon-ENT-mappin-single-number-enterprise {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-enterprise.png');
	}

	&.icon-ENT-mappin-single-number-exotics {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-exotics.png');
	}

	&.icon-ENT-mappin-single-number-motorcycles {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-motorcycles.png');
	}

	&.icon-ENT-mappin-single-number-national {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-national.png');
	}

	&.icon-ENT-mappin-single-number-port_of_call {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-port_of_call.png');
	}

	&.icon-ENT-mappin-single-number-rail {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-rail.png');
	}

	&.icon-ENT-mappin-single-number-trucks {
		background-image: url('../../../dist/img/icons/png/ENT-mappin-single-number-trucks.png');
	}

	&.icon-Ent-Icon-plus {
		background-image: url('../../../dist/img/icons/png/Ent-Icon-plus.png');
	}

	&.icon-about-car-green {
		background-image: url('../../../dist/img/icons/png/about-car-green.png');
	}

	&.icon-about-car-white {
		background-image: url('../../../dist/img/icons/png/about-car-white.png');
	}

	&.icon-about-car {
		background-image: url('../../../dist/img/icons/png/about-car.png');
	}

	&.icon-add {
		background-image: url('../../../dist/img/icons/png/add.png');
	}

	&.icon-addon-1-white {
		background-image: url('../../../dist/img/icons/png/addon-1-white.png');
	}

	&.icon-addon-1 {
		background-image: url('../../../dist/img/icons/png/addon-1.png');
	}

	&.icon-addon-2 {
		background-image: url('../../../dist/img/icons/png/addon-2.png');
	}

	&.icon-addon-3-white {
		background-image: url('../../../dist/img/icons/png/addon-3-white.png');
	}

	&.icon-addon-3 {
		background-image: url('../../../dist/img/icons/png/addon-3.png');
	}

	&.icon-addon-4-white {
		background-image: url('../../../dist/img/icons/png/addon-4-white.png');
	}

	&.icon-addon-4 {
		background-image: url('../../../dist/img/icons/png/addon-4.png');
	}

	&.icon-addon-breathalyzer-white {
		background-image: url('../../../dist/img/icons/png/addon-breathalyzer-white.png');
	}

	&.icon-addon-breathalyzer {
		background-image: url('../../../dist/img/icons/png/addon-breathalyzer.png');
	}

	&.icon-addon-childseat-white {
		background-image: url('../../../dist/img/icons/png/addon-childseat-white.png');
	}

	&.icon-addon-childseat {
		background-image: url('../../../dist/img/icons/png/addon-childseat.png');
	}

	&.icon-addon-eco-offset-white {
		background-image: url('../../../dist/img/icons/png/addon-eco-offset-white.png');
	}

	&.icon-addon-eco-offset {
		background-image: url('../../../dist/img/icons/png/addon-eco-offset.png');
	}

	&.icon-addon-gps-white {
		background-image: url('../../../dist/img/icons/png/addon-gps-white.png');
	}

	&.icon-addon-gps {
		background-image: url('../../../dist/img/icons/png/addon-gps.png');
	}

	&.icon-addon-skirack-white {
		background-image: url('../../../dist/img/icons/png/addon-skirack-white.png');
	}

	&.icon-addon-skirack {
		background-image: url('../../../dist/img/icons/png/addon-skirack.png');
	}

	&.icon-addon-tire-white {
		background-image: url('../../../dist/img/icons/png/addon-tire-white.png');
	}

	&.icon-addon-tire {
		background-image: url('../../../dist/img/icons/png/addon-tire.png');
	}

	&.icon-addon-toll-white {
		background-image: url('../../../dist/img/icons/png/addon-toll-white.png');
	}

	&.icon-addon-toll {
		background-image: url('../../../dist/img/icons/png/addon-toll.png');
	}

	&.icon-addon-wifi-white {
		background-image: url('../../../dist/img/icons/png/addon-wifi-white.png');
	}

	&.icon-addon-wifi {
		background-image: url('../../../dist/img/icons/png/addon-wifi.png');
	}

	&.icon-after-hours {
		background-image: url('../../../dist/img/icons/png/after-hours.png');
	}

	&.icon-alert-caution-green {
		background-image: url('../../../dist/img/icons/png/alert-caution-green.png');
	}

	&.icon-alert-caution-yellow {
		background-image: url('../../../dist/img/icons/png/alert-caution-yellow.png');
	}

	&.icon-alert-caution {
		background-image: url('../../../dist/img/icons/png/alert-caution.png');
	}

	&.icon-alert-error {
		background-image: url('../../../dist/img/icons/png/alert-error.png');
	}

	&.icon-alert-interrogation-mark {
		background-image: url('../../../dist/img/icons/png/alert-interrogation-mark.png');
	}

	&.icon-alert-small-gray {
		background-image: url('../../../dist/img/icons/png/alert-small-gray.png');
	}

	&.icon-alert-small {
		background-image: url('../../../dist/img/icons/png/alert-small.png');
	}

	&.icon-alert-success-white {
		background-image: url('../../../dist/img/icons/png/alert-success-white.png');
	}

	&.icon-alert-success {
		background-image: url('../../../dist/img/icons/png/alert-success.png');
	}

	&.icon-amex {
		background-image: url('../../../dist/img/icons/png/amex.png');
	}

	&.icon-arrow-general-white {
		background-image: url('../../../dist/img/icons/png/arrow-general-white.png');
	}

	&.icon-arrow-general {
		background-image: url('../../../dist/img/icons/png/arrow-general.png');
	}

	&.icon-arrow-green {
		background-image: url('../../../dist/img/icons/png/arrow-green.png');
	}

	&.icon-arrow-left {
		background-image: url('../../../dist/img/icons/png/arrow-left.png');
	}

	&.icon-arrow-right {
		background-image: url('../../../dist/img/icons/png/arrow-right.png');
	}

	&.icon-arrow-white {
		background-image: url('../../../dist/img/icons/png/arrow-white.png');
	}

	&.icon-arrow {
		background-image: url('../../../dist/img/icons/png/arrow.png');
	}

	&.icon-badge-download-on-google-play {
		background-image: url('../../../dist/img/icons/png/badge-download-on-google-play.png');
	}

	&.icon-badge-download-on-the-app-store {
		background-image: url('../../../dist/img/icons/png/badge-download-on-the-app-store.png');
	}

	&.icon-brand-alamo {
		background-image: url('../../../dist/img/icons/png/brand-alamo.png');
	}

	&.icon-brand-national {
		background-image: url('../../../dist/img/icons/png/brand-national.png');
	}

	&.icon-browser-chrome {
		background-image: url('../../../dist/img/icons/png/browser-chrome.png');
	}

	&.icon-browser-firefox {
		background-image: url('../../../dist/img/icons/png/browser-firefox.png');
	}

	&.icon-browser-msie {
		background-image: url('../../../dist/img/icons/png/browser-msie.png');
	}

	&.icon-browser-safari {
		background-image: url('../../../dist/img/icons/png/browser-safari.png');
	}

	&.icon-calender-blank-green {
		background-image: url('../../../dist/img/icons/png/calender-blank-green.png');
	}

	&.icon-calender-blank-white {
		background-image: url('../../../dist/img/icons/png/calender-blank-white.png');
	}

	&.icon-calender-blank {
		background-image: url('../../../dist/img/icons/png/calender-blank.png');
	}

	&.icon-carshare-join-green {
		background-image: url('../../../dist/img/icons/png/carshare-join-green.png');
	}

	&.icon-carshare-join-white {
		background-image: url('../../../dist/img/icons/png/carshare-join-white.png');
	}

	&.icon-carshare-join {
		background-image: url('../../../dist/img/icons/png/carshare-join.png');
	}

	&.icon-carshare-reserve-green {
		background-image: url('../../../dist/img/icons/png/carshare-reserve-green.png');
	}

	&.icon-carshare-reserve-white {
		background-image: url('../../../dist/img/icons/png/carshare-reserve-white.png');
	}

	&.icon-carshare-reserve {
		background-image: url('../../../dist/img/icons/png/carshare-reserve.png');
	}

	&.icon-carshare-return-green {
		background-image: url('../../../dist/img/icons/png/carshare-return-green.png');
	}

	&.icon-carshare-return-white {
		background-image: url('../../../dist/img/icons/png/carshare-return-white.png');
	}

	&.icon-carshare-return {
		background-image: url('../../../dist/img/icons/png/carshare-return.png');
	}

	&.icon-carshare-unlock-green {
		background-image: url('../../../dist/img/icons/png/carshare-unlock-green.png');
	}

	&.icon-carshare-unlock-white {
		background-image: url('../../../dist/img/icons/png/carshare-unlock-white.png');
	}

	&.icon-carshare-unlock {
		background-image: url('../../../dist/img/icons/png/carshare-unlock.png');
	}

	&.icon-checkmark-circle-green {
		background-image: url('../../../dist/img/icons/png/checkmark-circle-green.png');
	}

	&.icon-close-x-white {
		background-image: url('../../../dist/img/icons/png/close-x-white.png');
	}

	&.icon-confirmation-email {
		background-image: url('../../../dist/img/icons/png/confirmation-email.png');
	}

	&.icon-confirmation-print {
		background-image: url('../../../dist/img/icons/png/confirmation-print.png');
	}

	&.icon-date-active-time-input {
		background-image: url('../../../dist/img/icons/png/date-active-time-input.png');
	}

	&.icon-date-time-active-input {
		background-image: url('../../../dist/img/icons/png/date-time-active-input.png');
	}

	&.icon-date-time-input {
		background-image: url('../../../dist/img/icons/png/date-time-input.png');
	}

	&.icon-deeplink-car {
		background-image: url('../../../dist/img/icons/png/deeplink-car.png');
	}

	&.icon-deeplink-road {
		background-image: url('../../../dist/img/icons/png/deeplink-road.png');
	}

	&.icon-deeplink-trees-left {
		background-image: url('../../../dist/img/icons/png/deeplink-trees-left.png');
	}

	&.icon-deeplink-trees-right {
		background-image: url('../../../dist/img/icons/png/deeplink-trees-right.png');
	}

	&.icon-elogo-white {
		background-image: url('../../../dist/img/icons/png/elogo-white.png');
	}

	&.icon-eplus-logo-black {
		background-image: url('../../../dist/img/icons/png/eplus-logo-black.png');
	}

	&.icon-eplus-logo {
		background-image: url('../../../dist/img/icons/png/eplus-logo.png');
	}

	&.icon-eplus-pattern-dk {
		background-image: url('../../../dist/img/icons/png/eplus-pattern-dk.png');
	}

	&.icon-eplus-pattern-lt {
		background-image: url('../../../dist/img/icons/png/eplus-pattern-lt.png');
	}

	&.icon-eplus-pattern {
		background-image: url('../../../dist/img/icons/png/eplus-pattern.png');
	}

	&.icon-erac-logo {
		background-image: url('../../../dist/img/icons/png/erac-logo.png');
	}

	&.icon-footer-apple-icon-white {
		background-image: url('../../../dist/img/icons/png/footer-apple-icon-white.png');
	}

	&.icon-footer-apple-icon {
		background-image: url('../../../dist/img/icons/png/footer-apple-icon.png');
	}

	&.icon-footer-facebook-color {
		background-image: url('../../../dist/img/icons/png/footer-facebook-color.png');
	}

	&.icon-footer-facebook {
		background-image: url('../../../dist/img/icons/png/footer-facebook.png');
	}

	&.icon-footer-googleplay-icon-white {
		background-image: url('../../../dist/img/icons/png/footer-googleplay-icon-white.png');
	}

	&.icon-footer-googleplay-icon {
		background-image: url('../../../dist/img/icons/png/footer-googleplay-icon.png');
	}

	&.icon-footer-googleplus-color {
		background-image: url('../../../dist/img/icons/png/footer-googleplus-color.png');
	}

	&.icon-footer-googleplus {
		background-image: url('../../../dist/img/icons/png/footer-googleplus.png');
	}

	&.icon-footer-phone-white {
		background-image: url('../../../dist/img/icons/png/footer-phone-white.png');
	}

	&.icon-footer-phone {
		background-image: url('../../../dist/img/icons/png/footer-phone.png');
	}

	&.icon-footer-twitter-color {
		background-image: url('../../../dist/img/icons/png/footer-twitter-color.png');
	}

	&.icon-footer-twitter {
		background-image: url('../../../dist/img/icons/png/footer-twitter.png');
	}

	&.icon-footer-youtube-color {
		background-image: url('../../../dist/img/icons/png/footer-youtube-color.png');
	}

	&.icon-forms-checkmark-green {
		background-image: url('../../../dist/img/icons/png/forms-checkmark-green.png');
	}

	&.icon-forms-checkmark-white {
		background-image: url('../../../dist/img/icons/png/forms-checkmark-white.png');
	}

	&.icon-forms-checkmark {
		background-image: url('../../../dist/img/icons/png/forms-checkmark.png');
	}

	&.icon-fuel-green {
		background-image: url('../../../dist/img/icons/png/fuel-green.png');
	}

	&.icon-fuel-white {
		background-image: url('../../../dist/img/icons/png/fuel-white.png');
	}

	&.icon-fuel {
		background-image: url('../../../dist/img/icons/png/fuel.png');
	}

	&.icon-globe-green {
		background-image: url('../../../dist/img/icons/png/globe-green.png');
	}

	&.icon-globe-white {
		background-image: url('../../../dist/img/icons/png/globe-white.png');
	}

	&.icon-globe {
		background-image: url('../../../dist/img/icons/png/globe.png');
	}

	&.icon-green-map-marker {
		background-image: url('../../../dist/img/icons/png/green-map-marker.png');
	}

	&.icon-green-tree-green {
		background-image: url('../../../dist/img/icons/png/green-tree-green.png');
	}

	&.icon-green-tree-white {
		background-image: url('../../../dist/img/icons/png/green-tree-white.png');
	}

	&.icon-green-tree {
		background-image: url('../../../dist/img/icons/png/green-tree.png');
	}

	&.icon-hamburger-green {
		background-image: url('../../../dist/img/icons/png/hamburger-green.png');
	}

	&.icon-hamburger-white {
		background-image: url('../../../dist/img/icons/png/hamburger-white.png');
	}

	&.icon-hamburger {
		background-image: url('../../../dist/img/icons/png/hamburger.png');
	}

	&.icon-hand_shake-green {
		background-image: url('../../../dist/img/icons/png/hand_shake-green.png');
	}

	&.icon-hand_shake-white {
		background-image: url('../../../dist/img/icons/png/hand_shake-white.png');
	}

	&.icon-hand_shake {
		background-image: url('../../../dist/img/icons/png/hand_shake.png');
	}

	&.icon-heart-green {
		background-image: url('../../../dist/img/icons/png/heart-green.png');
	}

	&.icon-heart-white {
		background-image: url('../../../dist/img/icons/png/heart-white.png');
	}

	&.icon-heart {
		background-image: url('../../../dist/img/icons/png/heart.png');
	}

	&.icon-ico-email-extras {
		background-image: url('../../../dist/img/icons/png/ico-email-extras.png');
	}

	&.icon-ico-enlarge-white {
		background-image: url('../../../dist/img/icons/png/ico-enlarge-white.png');
	}

	&.icon-ico-key-facts {
		background-image: url('../../../dist/img/icons/png/ico-key-facts.png');
	}

	&.icon-ico-location {
		background-image: url('../../../dist/img/icons/png/ico-location.png');
	}

	&.icon-ico-motorcycle-white {
		background-image: url('../../../dist/img/icons/png/ico-motorcycle-white.png');
	}

	&.icon-ico-motorcycle {
		background-image: url('../../../dist/img/icons/png/ico-motorcycle.png');
	}

	&.icon-ico-policies {
		background-image: url('../../../dist/img/icons/png/ico-policies.png');
	}

	&.icon-icon-badge-download-on-google-play2 {
		background-image: url('../../../dist/img/icons/png/icon-badge-download-on-google-play2.png');
	}

	&.icon-icon-bell {
		background-image: url('../../../dist/img/icons/png/icon-bell.png');
	}

	&.icon-icon-checkmark-thin-green {
		background-image: url('../../../dist/img/icons/png/icon-checkmark-thin-green.png');
	}

	&.icon-icon-credit-card {
		background-image: url('../../../dist/img/icons/png/icon-credit-card.png');
	}

	&.icon-icon-exotics {
		background-image: url('../../../dist/img/icons/png/icon-exotics.png');
	}

	&.icon-icon-info-green {
		background-image: url('../../../dist/img/icons/png/icon-info-green.png');
	}

	&.icon-icon-info-white {
		background-image: url('../../../dist/img/icons/png/icon-info-white.png');
	}

	&.icon-icon-mastersecure {
		background-image: url('../../../dist/img/icons/png/icon-mastersecure.png');
	}

	&.icon-icon-person-green {
		background-image: url('../../../dist/img/icons/png/icon-person-green.png');
	}

	&.icon-icon-promo-applied-white {
		background-image: url('../../../dist/img/icons/png/icon-promo-applied-white.png');
	}

	&.icon-icon-promo-applied {
		background-image: url('../../../dist/img/icons/png/icon-promo-applied.png');
	}

	&.icon-icon-shield-black {
		background-image: url('../../../dist/img/icons/png/icon-shield-black.png');
	}

	&.icon-icon-shield-white {
		background-image: url('../../../dist/img/icons/png/icon-shield-white.png');
	}

	&.icon-icon-transfer-green {
		background-image: url('../../../dist/img/icons/png/icon-transfer-green.png');
	}

	&.icon-icon-unavailable-gray {
		background-image: url('../../../dist/img/icons/png/icon-unavailable-gray.png');
	}

	&.icon-icon-verifiedvisa {
		background-image: url('../../../dist/img/icons/png/icon-verifiedvisa.png');
	}

	&.icon-included-airportsurcharge-1 {
		background-image: url('../../../dist/img/icons/png/included-airportsurcharge-1.png');
	}

	&.icon-included-airportsurcharge-2 {
		background-image: url('../../../dist/img/icons/png/included-airportsurcharge-2.png');
	}

	&.icon-included-collisioninsurance {
		background-image: url('../../../dist/img/icons/png/included-collisioninsurance.png');
	}

	&.icon-included-localtaxes {
		background-image: url('../../../dist/img/icons/png/included-localtaxes.png');
	}

	&.icon-included-registrationfee {
		background-image: url('../../../dist/img/icons/png/included-registrationfee.png');
	}

	&.icon-included-theftprotection-1 {
		background-image: url('../../../dist/img/icons/png/included-theftprotection-1.png');
	}

	&.icon-included-theftprotection-2 {
		background-image: url('../../../dist/img/icons/png/included-theftprotection-2.png');
	}

	&.icon-included-unlimited-mileage-1 {
		background-image: url('../../../dist/img/icons/png/included-unlimited-mileage-1.png');
	}

	&.icon-included-unlimited-mileage-2 {
		background-image: url('../../../dist/img/icons/png/included-unlimited-mileage-2.png');
	}

	&.icon-info-black {
		background-image: url('../../../dist/img/icons/png/info-black.png');
	}

	&.icon-ir-body-shop-green {
		background-image: url('../../../dist/img/icons/png/ir-body-shop-green.png');
	}

	&.icon-ir-body-shop-white {
		background-image: url('../../../dist/img/icons/png/ir-body-shop-white.png');
	}

	&.icon-ir-body-shop {
		background-image: url('../../../dist/img/icons/png/ir-body-shop.png');
	}

	&.icon-ir-dealership-green {
		background-image: url('../../../dist/img/icons/png/ir-dealership-green.png');
	}

	&.icon-ir-dealership-white {
		background-image: url('../../../dist/img/icons/png/ir-dealership-white.png');
	}

	&.icon-ir-dealership {
		background-image: url('../../../dist/img/icons/png/ir-dealership.png');
	}

	&.icon-ir-insurance-carrier-green {
		background-image: url('../../../dist/img/icons/png/ir-insurance-carrier-green.png');
	}

	&.icon-ir-insurance-carrier-white {
		background-image: url('../../../dist/img/icons/png/ir-insurance-carrier-white.png');
	}

	&.icon-ir-insurance-carrier {
		background-image: url('../../../dist/img/icons/png/ir-insurance-carrier.png');
	}

	&.icon-location-1-green {
		background-image: url('../../../dist/img/icons/png/location-1-green.png');
	}

	&.icon-location-1-white {
		background-image: url('../../../dist/img/icons/png/location-1-white.png');
	}

	&.icon-location-1 {
		background-image: url('../../../dist/img/icons/png/location-1.png');
	}

	&.icon-location-2 {
		background-image: url('../../../dist/img/icons/png/location-2.png');
	}

	&.icon-location-3 {
		background-image: url('../../../dist/img/icons/png/location-3.png');
	}

	&.icon-location-airport-green {
		background-image: url('../../../dist/img/icons/png/location-airport-green.png');
	}

	&.icon-location-airport-white {
		background-image: url('../../../dist/img/icons/png/location-airport-white.png');
	}

	&.icon-location-airport {
		background-image: url('../../../dist/img/icons/png/location-airport.png');
	}

	&.icon-location-city {
		background-image: url('../../../dist/img/icons/png/location-city.png');
	}

	&.icon-location-hybrid-1-white {
		background-image: url('../../../dist/img/icons/png/location-hybrid-1-white.png');
	}

	&.icon-location-hybrid-1 {
		background-image: url('../../../dist/img/icons/png/location-hybrid-1.png');
	}

	&.icon-location-hybrid-2-white {
		background-image: url('../../../dist/img/icons/png/location-hybrid-2-white.png');
	}

	&.icon-location-hybrid-2 {
		background-image: url('../../../dist/img/icons/png/location-hybrid-2.png');
	}

	&.icon-location-neighborhood {
		background-image: url('../../../dist/img/icons/png/location-neighborhood.png');
	}

	&.icon-location-port_of_call {
		background-image: url('../../../dist/img/icons/png/location-port_of_call.png');
	}

	&.icon-location-portofcall-white {
		background-image: url('../../../dist/img/icons/png/location-portofcall-white.png');
	}

	&.icon-location-rail-white {
		background-image: url('../../../dist/img/icons/png/location-rail-white.png');
	}

	&.icon-location-rail {
		background-image: url('../../../dist/img/icons/png/location-rail.png');
	}

	&.icon-location-recent {
		background-image: url('../../../dist/img/icons/png/location-recent.png');
	}

	&.icon-map-pin-blank {
		background-image: url('../../../dist/img/icons/png/map-pin-blank.png');
	}

	&.icon-mastercard {
		background-image: url('../../../dist/img/icons/png/mastercard.png');
	}

	&.icon-medal-green {
		background-image: url('../../../dist/img/icons/png/medal-green.png');
	}

	&.icon-medal-white {
		background-image: url('../../../dist/img/icons/png/medal-white.png');
	}

	&.icon-medal {
		background-image: url('../../../dist/img/icons/png/medal.png');
	}

	&.icon-mp3-green {
		background-image: url('../../../dist/img/icons/png/mp3-green.png');
	}

	&.icon-mp3-white {
		background-image: url('../../../dist/img/icons/png/mp3-white.png');
	}

	&.icon-mp3 {
		background-image: url('../../../dist/img/icons/png/mp3.png');
	}

	&.icon-nav-assistance-1-white {
		background-image: url('../../../dist/img/icons/png/nav-assistance-1-white.png');
	}

	&.icon-nav-assistance-1 {
		background-image: url('../../../dist/img/icons/png/nav-assistance-1.png');
	}

	&.icon-nav-assistance-2-white {
		background-image: url('../../../dist/img/icons/png/nav-assistance-2-white.png');
	}

	&.icon-nav-assistance-2 {
		background-image: url('../../../dist/img/icons/png/nav-assistance-2.png');
	}

	&.icon-nav-assistance-lifesaver-1-white {
		background-image: url('../../../dist/img/icons/png/nav-assistance-lifesaver-1-white.png');
	}

	&.icon-nav-assistance-lifesaver-1 {
		background-image: url('../../../dist/img/icons/png/nav-assistance-lifesaver-1.png');
	}

	&.icon-nav-assistance-lifesaver-2-white {
		background-image: url('../../../dist/img/icons/png/nav-assistance-lifesaver-2-white.png');
	}

	&.icon-nav-assistance-lifesaver-2 {
		background-image: url('../../../dist/img/icons/png/nav-assistance-lifesaver-2.png');
	}

	&.icon-nav-book-1 {
		background-image: url('../../../dist/img/icons/png/nav-book-1.png');
	}

	&.icon-nav-book-2 {
		background-image: url('../../../dist/img/icons/png/nav-book-2.png');
	}

	&.icon-nav-calendar-1 {
		background-image: url('../../../dist/img/icons/png/nav-calendar-1.png');
	}

	&.icon-nav-calendar-2 {
		background-image: url('../../../dist/img/icons/png/nav-calendar-2.png');
	}

	&.icon-nav-calendar-green {
		background-image: url('../../../dist/img/icons/png/nav-calendar-green.png');
	}

	&.icon-nav-calendar-white {
		background-image: url('../../../dist/img/icons/png/nav-calendar-white.png');
	}

	&.icon-nav-caretgreen-down {
		background-image: url('../../../dist/img/icons/png/nav-caretgreen-down.png');
	}

	&.icon-nav-carrot-down-black {
		background-image: url('../../../dist/img/icons/png/nav-carrot-down-black.png');
	}

	&.icon-nav-carrot-down {
		background-image: url('../../../dist/img/icons/png/nav-carrot-down.png');
	}

	&.icon-nav-carrot-green {
		background-image: url('../../../dist/img/icons/png/nav-carrot-green.png');
	}

	&.icon-nav-carrot-left-green {
		background-image: url('../../../dist/img/icons/png/nav-carrot-left-green.png');
	}

	&.icon-nav-carrot-left-white {
		background-image: url('../../../dist/img/icons/png/nav-carrot-left-white.png');
	}

	&.icon-nav-carrot-left {
		background-image: url('../../../dist/img/icons/png/nav-carrot-left.png');
	}

	&.icon-nav-carrot-up-black {
		background-image: url('../../../dist/img/icons/png/nav-carrot-up-black.png');
	}

	&.icon-nav-carrot-up-green {
		background-image: url('../../../dist/img/icons/png/nav-carrot-up-green.png');
	}

	&.icon-nav-carrot-white {
		background-image: url('../../../dist/img/icons/png/nav-carrot-white.png');
	}

	&.icon-nav-carrot {
		background-image: url('../../../dist/img/icons/png/nav-carrot.png');
	}

	&.icon-nav-cart {
		background-image: url('../../../dist/img/icons/png/nav-cart.png');
	}

	&.icon-nav-edit-green {
		background-image: url('../../../dist/img/icons/png/nav-edit-green.png');
	}

	&.icon-nav-edit {
		background-image: url('../../../dist/img/icons/png/nav-edit.png');
	}

	&.icon-nav-elogo {
		background-image: url('../../../dist/img/icons/png/nav-elogo.png');
	}

	&.icon-nav-external-link-green {
		background-image: url('../../../dist/img/icons/png/nav-external-link-green.png');
	}

	&.icon-nav-external-link-white {
		background-image: url('../../../dist/img/icons/png/nav-external-link-white.png');
	}

	&.icon-nav-external-link {
		background-image: url('../../../dist/img/icons/png/nav-external-link.png');
	}

	&.icon-nav-filter-1 {
		background-image: url('../../../dist/img/icons/png/nav-filter-1.png');
	}

	&.icon-nav-filter-2 {
		background-image: url('../../../dist/img/icons/png/nav-filter-2.png');
	}

	&.icon-nav-globe-green {
		background-image: url('../../../dist/img/icons/png/nav-globe-green.png');
	}

	&.icon-nav-globe {
		background-image: url('../../../dist/img/icons/png/nav-globe.png');
	}

	&.icon-nav-key {
		background-image: url('../../../dist/img/icons/png/nav-key.png');
	}

	&.icon-nav-map-green {
		background-image: url('../../../dist/img/icons/png/nav-map-green.png');
	}

	&.icon-nav-map-white {
		background-image: url('../../../dist/img/icons/png/nav-map-white.png');
	}

	&.icon-nav-map {
		background-image: url('../../../dist/img/icons/png/nav-map.png');
	}

	&.icon-nav-mic {
		background-image: url('../../../dist/img/icons/png/nav-mic.png');
	}

	&.icon-nav-mobile-Eicon-2 {
		background-image: url('../../../dist/img/icons/png/nav-mobile-Eicon-2.png');
	}

	&.icon-nav-mobile-e-icon-black {
		background-image: url('../../../dist/img/icons/png/nav-mobile-e-icon-black.png');
	}

	&.icon-nav-mobile-e-icon-white {
		background-image: url('../../../dist/img/icons/png/nav-mobile-e-icon-white.png');
	}

	&.icon-nav-nearme {
		background-image: url('../../../dist/img/icons/png/nav-nearme.png');
	}

	&.icon-nav-phone-1-white-green {
		background-image: url('../../../dist/img/icons/png/nav-phone-1-white-green.png');
	}

	&.icon-nav-phone-1-white {
		background-image: url('../../../dist/img/icons/png/nav-phone-1-white.png');
	}

	&.icon-nav-phone-1 {
		background-image: url('../../../dist/img/icons/png/nav-phone-1.png');
	}

	&.icon-nav-phone-2-green {
		background-image: url('../../../dist/img/icons/png/nav-phone-2-green.png');
	}

	&.icon-nav-phone-2-white {
		background-image: url('../../../dist/img/icons/png/nav-phone-2-white.png');
	}

	&.icon-nav-phone-2 {
		background-image: url('../../../dist/img/icons/png/nav-phone-2.png');
	}

	&.icon-nav-progressarrow {
		background-image: url('../../../dist/img/icons/png/nav-progressarrow.png');
	}

	&.icon-nav-reservation-arrow-white {
		background-image: url('../../../dist/img/icons/png/nav-reservation-arrow-white.png');
	}

	&.icon-nav-search-1-01 {
		background-image: url('../../../dist/img/icons/png/nav-search-1-01.png');
	}

	&.icon-nav-time-green {
		background-image: url('../../../dist/img/icons/png/nav-time-green.png');
	}

	&.icon-nav-time-white {
		background-image: url('../../../dist/img/icons/png/nav-time-white.png');
	}

	&.icon-nav-time {
		background-image: url('../../../dist/img/icons/png/nav-time.png');
	}

	&.icon-nav-vehicle-green {
		background-image: url('../../../dist/img/icons/png/nav-vehicle-green.png');
	}

	&.icon-nav-vehicle-white {
		background-image: url('../../../dist/img/icons/png/nav-vehicle-white.png');
	}

	&.icon-nav-vehicle {
		background-image: url('../../../dist/img/icons/png/nav-vehicle.png');
	}

	&.icon-pursuits-icon-add {
		background-image: url('../../../dist/img/icons/png/pursuits-icon-add.png');
	}

	&.icon-pursuits-icon-close {
		background-image: url('../../../dist/img/icons/png/pursuits-icon-close.png');
	}

	&.icon-receipt-phone {
		background-image: url('../../../dist/img/icons/png/receipt-phone.png');
	}

	&.icon-receipt-print {
		background-image: url('../../../dist/img/icons/png/receipt-print.png');
	}

	&.icon-remove-white-filled {
		background-image: url('../../../dist/img/icons/png/remove-white-filled.png');
	}

	&.icon-remove {
		background-image: url('../../../dist/img/icons/png/remove.png');
	}

	&.icon-res-nav-notch {
		background-image: url('../../../dist/img/icons/png/res-nav-notch.png');
	}

	&.icon-slash {
		background-image: url('../../../dist/img/icons/png/slash.png');
	}

	&.icon-specs-aircon {
		background-image: url('../../../dist/img/icons/png/specs-aircon.png');
	}

	&.icon-specs-am-fm-green {
		background-image: url('../../../dist/img/icons/png/specs-am-fm-green.png');
	}

	&.icon-specs-am-fm-white {
		background-image: url('../../../dist/img/icons/png/specs-am-fm-white.png');
	}

	&.icon-specs-am-fm {
		background-image: url('../../../dist/img/icons/png/specs-am-fm.png');
	}

	&.icon-specs-bags {
		background-image: url('../../../dist/img/icons/png/specs-bags.png');
	}

	&.icon-specs-doors {
		background-image: url('../../../dist/img/icons/png/specs-doors.png');
	}

	&.icon-specs-emissions {
		background-image: url('../../../dist/img/icons/png/specs-emissions.png');
	}

	&.icon-specs-fuel-type {
		background-image: url('../../../dist/img/icons/png/specs-fuel-type.png');
	}

	&.icon-specs-mileage {
		background-image: url('../../../dist/img/icons/png/specs-mileage.png');
	}

	&.icon-specs-satellite-radio-green {
		background-image: url('../../../dist/img/icons/png/specs-satellite-radio-green.png');
	}

	&.icon-specs-satellite-radio-white {
		background-image: url('../../../dist/img/icons/png/specs-satellite-radio-white.png');
	}

	&.icon-specs-satellite-radio {
		background-image: url('../../../dist/img/icons/png/specs-satellite-radio.png');
	}

	&.icon-specs-seats-green {
		background-image: url('../../../dist/img/icons/png/specs-seats-green.png');
	}

	&.icon-specs-seats-white {
		background-image: url('../../../dist/img/icons/png/specs-seats-white.png');
	}

	&.icon-specs-seats {
		background-image: url('../../../dist/img/icons/png/specs-seats.png');
	}

	&.icon-specs-transmission {
		background-image: url('../../../dist/img/icons/png/specs-transmission.png');
	}

	&.icon-supplies-box {
		background-image: url('../../../dist/img/icons/png/supplies-box.png');
	}

	&.icon-supplies-dolly {
		background-image: url('../../../dist/img/icons/png/supplies-dolly.png');
	}

	&.icon-supplies-tape {
		background-image: url('../../../dist/img/icons/png/supplies-tape.png');
	}

	&.icon-thumbs-up-green {
		background-image: url('../../../dist/img/icons/png/thumbs-up-green.png');
	}

	&.icon-thumbs-up-white {
		background-image: url('../../../dist/img/icons/png/thumbs-up-white.png');
	}

	&.icon-thumbs-up {
		background-image: url('../../../dist/img/icons/png/thumbs-up.png');
	}

	&.icon-traffic-green {
		background-image: url('../../../dist/img/icons/png/traffic-green.png');
	}

	&.icon-traffic-white {
		background-image: url('../../../dist/img/icons/png/traffic-white.png');
	}

	&.icon-traffic {
		background-image: url('../../../dist/img/icons/png/traffic.png');
	}

	&.icon-tree-green {
		background-image: url('../../../dist/img/icons/png/tree-green.png');
	}

	&.icon-tree-white {
		background-image: url('../../../dist/img/icons/png/tree-white.png');
	}

	&.icon-tree {
		background-image: url('../../../dist/img/icons/png/tree.png');
	}

	&.icon-utility-notch-black {
		background-image: url('../../../dist/img/icons/png/utility-notch-black.png');
	}

	&.icon-utility-notch {
		background-image: url('../../../dist/img/icons/png/utility-notch.png');
	}

	&.icon-visa {
		background-image: url('../../../dist/img/icons/png/visa.png');
	}

	&.icon-wifi-green {
		background-image: url('../../../dist/img/icons/png/wifi-green.png');
	}

	&.icon-wifi-white {
		background-image: url('../../../dist/img/icons/png/wifi-white.png');
	}

	&.icon-wifi {
		background-image: url('../../../dist/img/icons/png/wifi.png');
	}

}