@import 'helpers/variables';

/* parsys component */
div.par, div.rightpar {
    clear: both;
}
div.parsys_column {
    height: 100%;
    width: 100%;
    float: left;
    border: 0;
    vertical-align:top;
    padding: 0;
    margin: 0;
}

div.section {
    /* Property added to avoid IE hasLayout issue on paragraphs
       see #20817 - IE6: div around Drag Components image not big enough
    */
    zoom: 1;
}

div.parsys_column .section {
    overflow:hidden;
    width: 100%;
}

/* column control layouts */
div.cq-colctrl-cols {width: 100%; float: left; }

div.cq-colctrl-default { width: 100%;}

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 { }
div.cq-colctrl-lt0-c0 { width: 680px; margin-right:10px}
div.cq-colctrl-lt0-c1 { width: 340px; margin-left: 10px}

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1 { }
div.cq-colctrl-lt1-c0 { width: 220px; margin-right: 10px;}
div.cq-colctrl-lt1-c1 { width: 220px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt1-c2 { width: 220px; margin-left: 10px; }

/* layout 2: 16% 16% 16% 33% ( grid2.6 + grid2.6 + grid2.6 + grid4 ) */
div.cq-colctrl-lt2 { }
div.cq-colctrl-lt2-c0 { width: 140px; margin-right: 10px;}
div.cq-colctrl-lt2-c1 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c2 { width: 140px; margin-left: 10px; margin-right: 10px}
div.cq-colctrl-lt2-c3 { width: 220px; margin-left: 10px }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3 { }
div.cq-colctrl-lt3-c0 { width: 160px; margin-right: 10px;}
div.cq-colctrl-lt3-c1 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c2 { width: 160px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt3-c3 { width: 160px; margin-left: 10px; }

/* layout 4: 5 x 20% ( grid2.5 + grid2.5 + grid2.5 + grid2.5 + grid2.5 ) */
div.cq-colctrl-lt4 { }
div.cq-colctrl-lt4-c0 { width: 124px; margin-right: 10px;}
div.cq-colctrl-lt4-c1 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c2 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c3 { width: 124px; margin-left: 10px; margin-right: 10px;}
div.cq-colctrl-lt4-c4 { width: 124px; margin-left: 10px; }

/* widepage layouts */

/* layout 5 : 50% 50% ( grid8 + grid8 ) */
div.cq-colctrl-lt5 { }
div.cq-colctrl-lt5-c0 { width: 460px; margin-right:10px}
div.cq-colctrl-lt5-c1 { width: 460px; margin-left: 10px}

/* layout 6 : 25% 25% ( grid4 + grid4 + grid4 + grid4) */
div.cq-colctrl-lt6 { }
div.cq-colctrl-lt6-c0 { width: 220px; margin-right:10px}
div.cq-colctrl-lt6-c1 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c2 { width: 220px; margin-left: 10px; margin-right:10px}
div.cq-colctrl-lt6-c3 { width: 220px; margin-left: 10px}

// honestly I don't know what this file is for but i was told to use it for pangui NA prepay. I am inclined
// to make this an import and such but I'm uncertain if this file maybe should be combined with something
// else soon as part of some refactoring, or what.
div#pangui_iFrameContent {
  width: auto;
  box-sizing: border-box;
  background-color: transparent;
  font-family: $regular;

  * {
    box-sizing: border-box;
  }

  .pangui_manualBlock {
    padding: 10px 0;
    @media(max-width: $bp-small-2) {
      padding: 0;
    }
    .pangui_errors {
      background-color: $white;
      padding: 0;
      margin: 0;
    }
  }

  label {
    display: block;
  }
  input[type='text'],
  input[type='number']{
    width: 100%;
    -webkit-appearance: none;
  }

  select {
    margin: 5px 0;
    height: 30px;
    width: 90%;
    padding: 0 .65rem;
    border: 1px solid $lightGray;
    font-size: 100%;
    &:focus {
      border-color: $enterpriseGreen;
      outline: none;
    }
  }

  .block {
    padding-top: 0;
  }

  input {
    padding: 0.5em .65rem;
    border: 1px solid $lightGray;
    font-size: 100%;
    &:focus {
      border-color: $enterpriseGreen;
      outline: none;
    }
  }
  #pangui_monthYearBlock {
    width: 70%;
    float: left;
    @media(max-width: $bp-small-2) {
      width: 100%;
    }
    span {
      width: 50%;
    }
    span:first-child {
      display: inline-block;
      float: left;
    }
    span:last-child {
      display: inline-block;
      float: left;
    }
  }
  #pangui_secCodeBlock {
    width: 30%;
    float: left;
    @media(max-width: $bp-small-2) {
      width: 50%;
    }
  }
  input.pangui_btnSubmit {
    background-color: $enterpriseGreen;
  }

  #pangui_cid {
    text-decoration: none;
    color: $enterpriseGreen;
    margin-top: 3px;
    display: block;
  }

  #pangui_buttons {
    dt {
        width: 100%;

        .pangui_btnSubmit {
            border-radius: 0;
            border: none;
            width: 30%;
            float: right;
            @media(max-width: $bp-small-2) {
              width: 60%;
            }
        }
    }
  }
}
