@font-face{
  font-family:'DINLight';
  src:url('/etc/designs/ecom/dist/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix') format('eot')
  ,url('/etc/designs/ecom/dist/fonts/074b86ea-3c33-4b3e-90da-76f8e2e20b6b.woff2') format('woff2')
  ,url('/etc/designs/ecom/dist/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff') format('woff')
  ,url('/etc/designs/ecom/dist/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf') format('truetype')
  ,url('/etc/designs/ecom/dist/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a') format('svg');
}
@font-face{
  font-family:'DINRegular';
  src:url('/etc/designs/ecom/dist/fonts/21159f5e-cd9e-408a-ba51-65510b4a13aa.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/21159f5e-cd9e-408a-ba51-65510b4a13aa.eot?#iefix') format('eot')
  ,url('/etc/designs/ecom/dist/fonts/f3de66f3-8e63-467b-a343-dad3b4e2d400.woff2') format('woff2')
  ,url('/etc/designs/ecom/dist/fonts/20007504-6ea2-4d68-93e4-f4769b5d9f14.woff') format('woff')
  ,url('/etc/designs/ecom/dist/fonts/1c35aab7-8ddd-402f-8976-1363134c3817.ttf') format('truetype')
  ,url('/etc/designs/ecom/dist/fonts/91c8307f-e301-4d44-b0f3-5cff17b3a554.svg#91c8307f-e301-4d44-b0f3-5cff17b3a554') format('svg');
}
@font-face{
  font-family:'DINMedium';
  src:url('/etc/designs/ecom/dist/fonts/2cf657c7-a3a0-4365-8704-c88d1e7e7e59.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/2cf657c7-a3a0-4365-8704-c88d1e7e7e59.eot?#iefix') format('eot')
  ,url('/etc/designs/ecom/dist/fonts/7fd812da-4ce6-4f69-8ce7-73dc92590062.woff2') format('woff2')
  ,url('/etc/designs/ecom/dist/fonts/97b0cc11-9afb-4a2f-93b7-e1b5c40d80a6.woff') format('woff')
  ,url('/etc/designs/ecom/dist/fonts/2cfb9022-3dc0-4b24-8e91-2df7bd55dd37.ttf') format('truetype')
  ,url('/etc/designs/ecom/dist/fonts/7c8e4086-96df-4b91-905e-3b25c81d55a9.svg#7c8e4086-96df-4b91-905e-3b25c81d55a9') format('svg');
}
@font-face{
  font-family:'DINBold';
  src:url('/etc/designs/ecom/dist/fonts/50d13d4e-96c6-4412-a8fa-baa4814c5332.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/50d13d4e-96c6-4412-a8fa-baa4814c5332.eot?#iefix') format('eot')
  ,url('/etc/designs/ecom/dist/fonts/ae90c0fa-96b1-476c-83a6-34af1e0790fc.woff2') format('woff2')
  ,url('/etc/designs/ecom/dist/fonts/109143ca-57fb-459c-9814-3a68f0245ac3.woff') format('woff')
  ,url('/etc/designs/ecom/dist/fonts/c9fa50e2-c243-451a-b91b-ee74f341d7a8.ttf') format('truetype')
  ,url('/etc/designs/ecom/dist/fonts/1201bd6f-15f5-4b51-9c6f-c5c4b35d31f5.svg#1201bd6f-15f5-4b51-9c6f-c5c4b35d31f5') format('svg');
}
@font-face{
  font-family:'DINHeavy';
  src:url('/etc/designs/ecom/dist/fonts/c4537c01-3819-4dd2-a727-47a826710c08.eot?#iefix');
  src:url('/etc/designs/ecom/dist/fonts/c4537c01-3819-4dd2-a727-47a826710c08.eot?#iefix') format('eot')
  ,url('/etc/designs/ecom/dist/fonts/2c43d510-2603-4a7a-a16d-1442902cbab7.woff2') format('woff2')
  ,url('/etc/designs/ecom/dist/fonts/e8e32219-8ee9-4d4b-ad86-de14076364f2.woff') format('woff')
  ,url('/etc/designs/ecom/dist/fonts/4455c918-0d0f-46a8-8606-60b43998d5bf.ttf') format('truetype')
  ,url('/etc/designs/ecom/dist/fonts/54ad16d3-e334-4542-8c7d-4330a7fea4fd.svg#54ad16d3-e334-4542-8c7d-4330a7fea4fd') format('svg');
}

// Pursuits Fonts
@font-face{
font-family:'DINMediumCondensed';
src:url('/etc/designs/ecom/dist/fonts/DINNextLTPro-MediumCond.woff') format('woff'),
    url('/etc/designs/ecom/dist/fonts/DINNextLTPro-MediumCond.ttf') format('truetype'),
    url('/etc/designs/ecom/dist/fonts/DINNextLTPro-MediumCond.svg#DINNextLTPro-MediumCond') format('svg');
}
@font-face{
font-family:'DINLightCondensed';
src:url('/etc/designs/ecom/dist/fonts/DINNextLTPro-LightCondensed.woff') format('woff'),
    url('/etc/designs/ecom/dist/fonts/DINNextLTPro-LightCondensed.ttf') format('truetype'),
    url('/etc/designs/ecom/dist/fonts/DINNextLTPro-LightCondensed.svg#DINNextLTPro-LightCondensed') format('svg');
}
