<div class="cadastro-content">
    <page-title titulo="'Alteração'" subtitulo="'Cadastral / Veículos'"></page-title>

    <div class="step-content">
        <sessao-veiculos veiculos="ctrl.veiculosObj" is-update="true" mostra-sessao="true"></sessao-veiculos>
    </div>

    <div class="savingProgress" ng-class="{ active : ctrl.savingProgress }">
        <div ng-if="ctrl.savingProgress" class="infiniteProgress"></div>
    </div>

    <mensagem-erro mensagens="ctrl.erros"></mensagem-erro>
    <mensagem-sucesso mensagens="ctrl.sucessos"></mensagem-sucesso>

    <botoes-update cpf="ctrl.cpf"
                   progress="ctrl.savingProgress"
                   model="ctrl.veiculosObj"
                   on-update="ctrl.update(model)">
    </botoes-update>
</div>
