<div class="uni-modal" ng-class="{'active': $ctrl.open}">
	<div class="uni-modal--content uni-modal--medium modal-status" ng-class="{'active-modal': $ctrl.open}">
		<button ng-click="$ctrl.modal.close()" class="uni-modal--close"><span class="close thick"></span></button>
		<div class="uni-modal--header">
			<h1>{{$ctrl.titulo}}</h1>
		</div>

		<div class="user-information">
			<div class="user-name">
				{{$ctrl.nome}}
			</div>
			<div class="user-cpfCnpj">
				<span class="bold">CPF:</span> {{$ctrl.cpfCnpj | brCpfCnpj }}
			</div>
		</div>

		<div class="status-content">

			<ul class="progress-status-indicator">
				<li class="completed">
			        <div class="bubble-wrapper">
			            <span class="bubble">
							<i class="fa fa-check"></i>
						</span>
			            <span>Salvo na<br>nova base</span>
			        </div>
			    </li><li ng-class="{ 'current': $ctrl.pendente, 'current error': $ctrl.erro }"
						 class="completed">
					<div class="bubble-wrapper">
					   <span class="bubble">
						   	<div class="tooltip-v tooltip-error">
						   		<i ng-class="{ 'fa-spinner fa-spin': $ctrl.pendente, 'fa-times': $ctrl.erro, 'fa-check': $ctrl.sucesso }"
								   class="fa"
								   ng-if="!$ctrl.pendente"></i>
							    <div ng-if="$ctrl.pendente" class="loader"></div>
								<span class="tooltiptext tooltip-top tooltip-top-active"
									  ng-class="{ 'hidden-tooltip': !$ctrl.erro }">
									  Falha
								</span>
							</div>
					   </span>
					   <span>Salvando<br>no Sau</span>
				   </div>
			   </li><li ng-class="{ 'completed current': $ctrl.sucesso }" >
				   <div class="bubble-wrapper">
					   <span class="bubble">
						   <i class="fa"
						   		ng-class="{'fa-exclamation-triangle':$ctrl.erro, 'fa-clock-o':$ctrl.pendente, 'fa-check': $ctrl.sucesso}"></i>
					   </span>
					   <span>Cadastro<br>concluído</span>
				   </div>
			   </li>
			</ul>
		</div>

		<div class="btns-modal-status">
			<button type="button" ng-click="$ctrl.modal.close()" class="uni-btns btn-cancelar btn-sm pull-right">
                <span>fechar</span>
            </button>
        </div>
		<div class="status-info text-right">
			* Não é necessário esperar até o final do salvamento
		</div>
	</div>
</div>
